.x_component_footer_cod_189 {
    background: #2F2F37;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 30px 0 0 0;
}

.x_component_footer_cod_189 .footer-top {
    padding-bottom: 30px;
}

.x_component_footer_cod_189 .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.x_component_footer_cod_189 li [class*=" fa-"], 
.x_component_footer_cod_189 li [class*=" glyphicon-"], 
.x_component_footer_cod_189 li [class*=" icon-"], 
.x_component_footer_cod_189 li [class^=fa-], 
.x_component_footer_cod_189 li [class^=glyphicon-], 
.x_component_footer_cod_189 li [class^=icon-] {
min-width:20px;
  width:auto;
}
.x_component_footer_cod_189 .footer-module-title {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.x_component_footer_cod_189 .about-description {
    color: #A0A5A8;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.56;
    font-family: 'Roboto', sans-serif;
}

.x_component_footer_cod_189 .footer-social li {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #A0A5A8;
    position: relative;
    margin-right: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_189 .footer-social li:hover,
.x_component_footer_cod_189 .footer-social li:focus {
    background: #A0A5A8;
}

.x_component_footer_cod_189 .footer-social li:hover>a>i,
.x_component_footer_cod_189 .footer-social li:focus>a>i {
    color: #2F2F37;
}

.x_component_footer_cod_189 .footer-social li a i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_189 .footer-menu li {
    position: relative;
}

.x_component_footer_cod_189 .footer-menu li>div>a {
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 2.3;
    color: #A0A5A8;
    margin-left: 20px;
}

.x_component_footer_cod_189 .footer-menu li>div>a:hover,
.x_component_footer_cod_189 .footer-menu li>div>a:focus {
    color: #ffffff;
    text-decoration: none;
}

.x_component_footer_cod_189 .footer-menu li:hover:before {
    color: #ffffff;
}

.x_component_footer_cod_189 .footer-menu li {
    color: #A0A5A8;
}

.x_component_footer_cod_189 .footer-menu li {
    color: #A0A5A8;
}

.x_component_footer_cod_189 .footer-menu li:before {
    font-size: 5px;
    margin-right: 10px;
    color: #a0a5a8;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    line-height: 35px;
}

.x_component_footer_cod_189 .contact-info {
    margin-left: -10px;
}

.x_component_footer_cod_189 .contact-info li {
    position: relative;
}

.x_component_footer_cod_189 .contact-info li div {
    color: #A0A5A8;
    display: inline-block;
    min-height: 45px;
    margin-left: 10px;
    max-width: 200px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5;
}

.x_component_footer_cod_189 .contact-info li div i {
    font-size: 18px;
    color: #ffffff;
    padding: 15px;
}

.x_component_footer_cod_189 .contact-info li div a {
    color: #A0A5A8;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5;
}

.x_component_footer_cod_189 .contact-info li div a:hover,
.x_component_footer_cod_189 .contact-info li div a:focus {
    color: #E66A17;
    text-decoration: none;
}

.x_component_footer_cod_189 .contact-info li .icon-data {
    margin-left: 55px;
    font-weight: 400;
}

.x_component_footer_cod_189 .contact-info li .icon-container {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
    min-height: 45px;
}

.x_component_footer_cod_189 .contact-info li .icon-data-last {
    font-weight: 300;
}

.x_component_footer_cod_189 .schedule li {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.x_component_footer_cod_189 .schedule li>div {
    color: #A0A5A8;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    /*-webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;*/
    margin-left: 10px;
    ;
    padding: 0px
}

.x_component_footer_cod_189 .copyright {
    padding: 20px 0;
    color: #A0A5A8;
}

.x_component_footer_cod_189 .copyright div {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #A0A5A8;
}

.x_component_footer_cod_189 .copyright .footer-rights {
    margin-top: 10px;
}

.x_component_footer_cod_189 .copyright .footer-social li {
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #36363C;
    position: relative;
    border: none;
    margin-top: 20px;
}

.x_component_footer_cod_189 .copyright .footer-social li {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_189 .copyright .footer-social li:hover,
.x_component_footer_cod_189 .copyright .footer-social li:focus {
    background: #E66A17;
}

.x_component_footer_cod_189 .copyright .footer-social li i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .x_component_footer_cod_189 .newsletter .newsletter-submit a {
        margin-left: 0;
        margin-top: 5px;
    }
}