.x_component_news_cod_070 {
    font-family: 'Roboto', sans-serif;
}

.x_component_news_cod_070 .row.no-gutters>[class^="col-"],
.x_component_news_cod_070 .row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.x_component_news_cod_070 .color-default {
    color: #655f63;
}

.x_component_news_cod_070 .font-title {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2307;
    text-rendering: optimizelegibility;
}

.x_component_news_cod_070 .btn-color {
    background-color: #29c0ff
}

.x_component_news_cod_070 .layout-btn {
    border-radius: 0;
}

.x_component_news_cod_070 .border-default {
    border: none;
}

.x_component_news_cod_070 .underline {
    position: relative;
    width: 100%;
    background: #E9E8E9;
    height: 1px;
    margin: 20px 0 100px 0;
}

.x_component_news_cod_070 .underline:before {
    position: absolute;
    content: '';
    width: 100px;
    background: #aeb4b6;
    height: 5px;
    top: -5px;
    left: 0;
}

.x_component_news_cod_070 .mod_tm_ajax_contact_form_message {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 0;
    z-index: -1;
    text-align: center;
    background: 50% 50% no-repeat transparent;
    transition: all .5s ease;
}

.x_component_news_cod_070 fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.x_component_news_cod_070 select,
.x_component_news_cod_070 textarea,
.x_component_news_cod_070 input[type="text"],
.x_component_news_cod_070 input[type="password"],
.x_component_news_cod_070 input[type="datetime"],
.x_component_news_cod_070 input[type="datetime-local"],
.x_component_news_cod_070 input[type="date"],
.x_component_news_cod_070 input[type="month"],
.x_component_news_cod_070 input[type="time"],
.x_component_news_cod_070 input[type="week"],
.x_component_news_cod_070 input[type="number"],
.x_component_news_cod_070 input[type="email"],
.x_component_news_cod_070 input[type="url"],
.x_component_news_cod_070 input[type="search"],
.x_component_news_cod_070 input[type="tel"],
.x_component_news_cod_070 input[type="color"],
.x_component_news_cod_070 .uneditable-input {
    display: block;
    max-width: 100%;
    height: 54px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e9e8e9;
    color: #252023;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding: 12px 0px;
    vertical-align: middle;
    outline: none;
    margin-bottom: 44px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 1s ease, box-shadow 1s ease;
    -o-transition: border-color 1s ease, box-shadow 1s ease;
    transition: border-color 1s ease, box-shadow 1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.x_component_news_cod_070 input,
.x_component_news_cod_070 textarea {
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    height: 106px;
}

.x_component_news_cod_070 .mod_tm_ajax_contact_form .control-group-button .mod_tm_ajax_contact_form_btn {
    color: white;
    font: 500 30px/70px 'Roboto', sans-serif;
    display: block;
    margin: 0 0 44px;
    text-transform: uppercase;
    width: 100%;
}

.x_component_news_cod_070 .mod_tm_ajax_contact_form .control-group-button .mod_tm_ajax_contact_form_btn:hover {
    filter: opacity(80%);
}