<section class="x_component_slider-box_cod_319 ">
    <div class="container">
        <div id="carousel-generic" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators hidden-xs">
                <li data-target="#carousel-generic" data-slide-to="0" class="active" data-banner-indicator-template="true"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active" data-banner-template="true">
                    <a href="javascript:void(0);">
                        <img src="http://placehold.it/1080x500?text=Imagem+do+banner" alt="">
                    </a>
                    <video class="video-player-no-controls" muted="true" width="100%" height="100%" src=""></video>
                </div>
            </div>
        </div>

        <div class="box-container clearfix">
            <div class="col-sm-6">
                <div class="box">
                    <a href="javascript:void(0);">
                        <img class="img-responsive" src="assets/img/component_slider-box_cod_319_04.png" alt="" data-image="true">
                    </a>
                    <div class="elements">
                        <h1 class="title" data-editable="true">Lorem 2014</h1>
                        <h2 class="item" data-editable="true">Lorem</h2>
                        <i class="fa fa-search" data-icon="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box">
                    <a href="javascript:void(0);">
                        <img class="img-responsive" src="assets/img/component_slider-box_cod_319_05.png" alt="" data-image="true">
                    </a>
                    <div class="elements">
                        <h1 class="title" data-editable="true">Lorem 2014</h1>
                        <h2 class="item" data-editable="true">Lorem</h2>
                        <i class="fa fa-search" data-icon="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box">
                    <a href="javascript:void(0);">
                        <img class="img-responsive" src="assets/img/component_slider-box_cod_319_06.png" alt="" data-image="true">
                    </a>
                    <div class="elements">
                        <h1 class="title" data-editable="true">Lorem 2014</h1>
                        <h2 class="item" data-editable="true">lorem</h2>
                        <i class="fa fa-search" data-icon="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box">
                    <a href="javascript:void(0);">
                        <img data-image="true" class="img-responsive" src="assets/img/component_slider-box_cod_319_07.png" alt="img">
                    </a>
                    <div class="elements">
                        <h1 class="title" data-editable="true">Lorem 2014</h1>
                        <h2 class="item" data-editable="true">Lorem</h2>
                        <i class="fa fa-search" data-icon="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>