.zero-km-zk002 .owl-wrapper{
    list-style-type: none;
}
.zero-km-zk002 .owl-theme {
    padding-top: 30px;
}

.zero-km-zk002 .carousel-wrapper {
    text-align: center;
}

.zero-km-zk002 .owl-theme .owl-buttons div {
    margin-top: -28px;
}