.x_component_slider_cod_324 .container-fluid {
  padding: 0;
}

.x_component_slider_cod_324 .slide-wrapper #slides {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.x_component_slider_cod_324 .slide-nav-wrapper {
  margin: -50px 0 0;
}

.x_component_slider_cod_324 .slide-nav-wrapper #slide-nav {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.x_component_slider_cod_324 .slide-nav-wrapper li {
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

.x_component_slider_cod_324 .slide-nav-wrapper li a:link,
.x_component_slider_cod_324 .slide-nav-wrapper li a:visited {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.x_component_slider_cod_324 .slide-nav-wrapper .background-theme {
  content: '';
  display: block;
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 0;
  left: -100%;
  opacity: 0;
  z-index: 9;
  transition: 0.3s ease-out;
}

.x_component_slider_cod_324 li.slick-current .background-theme,
.x_component_slider_cod_324 .slide-nav-wrapper li:hover .background-theme {
  left: 0;
  opacity: 0.6;
}

.x_component_slider_cod_324 .slide-wrapper li img,
.x_component_slider_cod_324 .slide-nav-wrapper li img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  z-index: 8;
}

@media (max-width: 768px) {
  .x_component_slider_cod_324 .slide-nav-wrapper {
    margin: -20px 0 0;
  }
  .x_component_slider_cod_324 .slide-nav-wrapper .background-theme {
    height: 8px;
  }
}