<section class="componente_header_menu-16_v2 navbar-wrapper ">
    <nav class="navbar navbar-default navbar-custom navbar-default-custom reset-border">
        <div class="container container-custom">
            <div class="navbar-header navbar-header-custom">
                <div class="logo componente_header_menu-16_v2-pull-left">
                    <img src="assets/img/logo.png" alt="logo" data-image="true">
                </div>
                <div class="info-group componente_header_menu-16_v2-pull-right">
                    <ul>
                        <li><i class="fa fa-phone" data-icon="true"></i>
                            <div class="inline-block" data-editable="true">11 9999.9999</div>
                        </li>
                        <li><i class="fa fa-whatsapp" data-icon="true"></i>
                            <div class="inline-block" data-editable="true"> 11 9999.9999</div>
                        </li>
                        <li><i class="fa fa-map-marker" data-icon="true"></i>
                            <div class="inline-block" data-editable="true"> Lorem ipsum radium</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mobile-menu ">
                <select><</select>
            </div>
            <div>
                <ul data-menu="true" class="menu background-theme">

                </ul>
            </div>
        </div>
    </nav>
</section>