<section class="news-n002">
    <div class="container">
        <div class="latest-news border-text masonry-main">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="masonry columns-3">
                        <div class="grid-sizer"></div>
                        <div class="masonry-item clearfix wow fadeIn">
                            <div class="news">
                                <div class="news-image">
                                    <img class="img-responsive" alt="" src="assets/img/big-1.jpg" data-image="true">
                                </div>
                                <div class="news-content">
                                    <div class="news-description text-center">
                                        <a href="#" data-editable="true">Título Notícia</a>
                                        <div class="separator"></div>
                                      	<div data-editable="true">
                                      		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    	</div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="masonry-item clearfix wow fadeIn" data-wow-delay="0.4s">
                            <div class="news">
                                <div class="news-image">
                                    <img class="img-responsive" alt="" src="assets/img/big-1.jpg" data-image="true">
                                </div>
                                <div class="news-content">
                                    <div class="news-description text-center">
                                        <a href="#" data-editable="true">Título Notícia</a>
                                        <div class="separator"></div>
                                        <div data-editable="true">
                                      		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    	</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="masonry-item clearfix wow fadeIn" data-wow-delay="0.8s">
                            <div class="news">
                                <div class="news-image">
                                    <img class="img-responsive" alt="" src="assets/img/big-1.jpg" data-image="true">
                                </div>
                                <div class="news-content">
                                    <div class="news-description text-center">
                                        <a href="#" data-editable="true">Título Notícia</a>
                                        <div class="separator"></div>
                                        <div data-editable="true">
                                      		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    	</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>