<div class="aba-a006 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt24">
                <h4 class="mb80" data-editable="true">Título</h4>
                <div class="tabbed-content button-tabs vertical">
                    <ul class="tabs">
                        <li class="active">
                            <div class="tab-title">
                                <span data-editable="true">Tab 1</span>
                            </div>
                            <div class="tab-content">
                                <h5 data-editable="true">Endereço</h5>
                                <hr>
                                <div data-mapa="true" data-type="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.2966478551425!2d-46.69316838452845!3d-23.593691784666905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce575ed37566cd%3A0xb0ef2462fc16326a!2sWebmotors!5e0!3m2!1spt-BR!2sbr!4v1491480972438"
                                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title">
                                <span data-editable="true">Tab</span>
                            </div>
                            <div class="tab-content">
                                <h5 data-editable="true">Endereço</h5>
                                <hr>
                                <div data-mapa="true" data-type="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.2966478551425!2d-46.69316838452845!3d-23.593691784666905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce575ed37566cd%3A0xb0ef2462fc16326a!2sWebmotors!5e0!3m2!1spt-BR!2sbr!4v1491480972438"
                                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title">
                                <span data-editable="true">Tab 3</span>
                            </div>
                            <div class="tab-content">
                                <h5 data-editable="true">Endereço</h5>
                                <hr>
                                <div data-mapa="true" data-type="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.2966478551425!2d-46.69316838452845!3d-23.593691784666905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce575ed37566cd%3A0xb0ef2462fc16326a!2sWebmotors!5e0!3m2!1spt-BR!2sbr!4v1491480972438"
                                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title">
                                <span data-editable="true">Tab 4</span>
                            </div>
                            <div class="tab-content">
                                <h5 data-editable="true">Endereço</h5>
                                <hr>
                                <div data-mapa="true" data-type="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.2966478551425!2d-46.69316838452845!3d-23.593691784666905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce575ed37566cd%3A0xb0ef2462fc16326a!2sWebmotors!5e0!3m2!1spt-BR!2sbr!4v1491480972438"
                                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title">
                                <span data-editable="true">Tab 4</span>
                            </div>
                            <div class="tab-content">
                                <h5 data-editable="true">Endereço</h5>
                                <hr>
                                <div data-mapa="true" data-type="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.2966478551425!2d-46.69316838452845!3d-23.593691784666905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce575ed37566cd%3A0xb0ef2462fc16326a!2sWebmotors!5e0!3m2!1spt-BR!2sbr!4v1491480972438"
                                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>