.header-003 .navbar {
    margin: 0;
}

.header-003 .menu-bg {
    background: #a4a6a8;
}

.header-003 .padding-reset {
    padding: 0px;
}

a .header-003 .navbar-default {
    background: none;
}

.header-003 .navbar-collapse>ul>li>a {
    color: #fff;
}

.header-003 .block {
    display: block;
    transition: 0.5s;
}

.header-003 .collpsed {
    transition: 0.5s;
}

.header-003 .header-003_link:hover {
    color: #000!important;
}

.header-003 .header-003_border_radius_reset {
    border-radius: none;
}

.header-003 .header-003-border-reset {
    border: none;
}

.header-003 .header-003-nav-top {
    padding: 20px 0 20px 0;
}

.header-003 .background-default {
    background: #a4a6a8;
}

.header-003 .header-003-nav-top i {
    font-size: 32px;
    padding-right: 15px;
    padding-top: 15px;
}

.header-003 .header-003-nav-top p,
.header-003 .header-003-nav-top i {
    text-align: center;
}

i.fa.fa-map-marker {
    color: #ff000b;
}

.col-sm-2.col-sm-offset-3.col-xs-12 i {
    color: #ff000b;
}

@media all and (max-width: 986px) {
    .header-003 .header-003-nav-top p,
    .header-003 .header-003-nav-top i {
        float: inherit !important;
    }
}

@media all and (max-width: 768px) {
    .header-003 .header-003-nav-top-cont-infos .col-xs-12 {
        float: none;
        text-align: center;
    }
    .header-003 .header-003-nav-top-cont-infos .col-xs-12 i {
        padding: 0px;
    }
}

.header-003 .container-fluid {
    padding: 0px;
}

.header-003 .container-fluid>.navbar-nav,
.header-003 .container-fluid>.navbar-collapse,
.header-003 .container-fluid>.navbar-header {
    margin: 0px;
    background: #a4a6a8;
}

.header-003 .container-fluid .navbar-header>.navbar-toggle {
    border-radius: 0px;
}

.header-003 nav {
    transition: 0.5s;
    border: none;
}

.header-003 nav .dropdown {
    transition: 0.5s;
}

.header-003 nav .dropdown:hover {
    transition: 0.5s;
}

.header-003 nav .dropdown:hover .dropdown-menu {
    border-radius: 0px;
    border: none;
    transition: 0.5s;
    display: block;
}

@media all and (max-width: 768px) {
    .header-003>nav .dropdown:hover .dropdown-menu {
        position: inherit;
        float: none;
        border-radius: none;
    }
}

.header-003 li {
    transition: 0.5s;
}

@media all and (max-width: 768px) {
    .header-003 li {
        transition: 0.5s;
        padding: 0px 10px 2px 10px;
    }
    .header-003 li a {
        border-bottom: solid 1px #fff;
    }
}

.header-003 .navbar-brand {
    height: auto;
    padding-top: 0px;
}

@media all and (max-width: 768px) {
    .header-003 .navbar-brand {
        display: block;
        float: none;
    }
    .header-003 .navbar-brand>img {
        margin: 0 auto;
    }
}

.header-003 .navbar-brand>img {
    width: 250px;
}