<section class="service-s006 pad-default-elements color-default">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center title-service006">
                <h1 data-editable="true">Escreva um título</h1>
                <h2 class="lead mb64" data-editable="true">Escreva uma breve descrição</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="feature boxed">
                    <div class="text-center">
                        <i class="fa fa-desktop" data-icon="true"></i>
                        <div class="title-description-card" data-editable="true">TEXTO</div>
                    </div>
                    <div data-editable="true">Escreva uma pequena descrição para o item.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature boxed">
                    <div class="text-center">
                        <i class="fa fa-desktop" data-icon="true"></i>
                        <div class="title-description-card" data-editable="true">TEXTO</div>
                    </div>
                    <div data-editable="true">Escreva uma pequena descrição para o item.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature boxed">
                    <div class="text-center">
                        <i class="fa fa-desktop" data-icon="true"></i>
                        <div class="title-description-card" data-editable="true">TEXTO</div>
                    </div>
                    <div data-editable="true">Escreva uma pequena descrição para o item.</div>
                </div>
            </div>
        </div>
    </div>
</section>