<section class="x_component_form_cod_016 background-theme pad-default-element">
    <img class="img-background" src="assets/images/huracan_dashboard.jpg" alt="" data-image="true">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-offset-6 col-sm-6">

                <h1 class="main-title" data-editable="true">Lorem Ipsum</h1>

                <form data-form-type="contato" data-form-layout="contato-15"></form>

            </div>
        </div>
    </div>
</section>