.x_component_text_cod_131 {
    background: #191b20;
    color: #fff;
    padding: 70px 0;
    position: relative;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.x_component_text_cod_131:before {
    position: absolute;
    width: 60%;
    height: 20px;
    background: #191b20;
    content: '';
    right: 0;
    top: -20px;
}

.x_component_text_cod_131 .top-traingle {
    position: absolute;
    right: 60%;
    top: -20px;
    width: 0;
    height: 0;
    border-bottom: 20px solid #191b20;
    border-left: 20px solid transparent;
}

.x_component_text_cod_131:after {
    position: absolute;
    width: 60%;
    height: 20px;
    background: #191b20;
    content: '';
    left: 0;
    bottom: -20px;
}

.x_component_text_cod_131 .bottom-traingle {
    position: absolute;
    left: 60%;
    bottom: -20px;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 20px solid #191b20;
}

.x_component_text_cod_131 .service-title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    position: relative;
}

.x_component_text_cod_131 .service-title:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 3px;
    background: #fff;
    bottom: -10px;
    left: 0;
}

.x_component_text_cod_131 .material-icons-services {
    display: inline-block;
    line-height: 1;
    font-size: 50px;
}

.x_component_text_cod_131 .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.x_component_text_cod_131 .service-container {
    margin-top: 50px;
    min-height: 170px;
}

.x_component_text_cod_131 .service-container>.icon {
    display: inline-block;
    float: left;
    width: 22%;
}

.x_component_text_cod_131 .service-container>.description {
    display: inline-block;
    float: left;
    width: 72%;
}

.x_component_text_cod_131 .service-container>.description h3 {
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
}

.x_component_text_cod_131 .service-container>.description p {
    margin-top: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
}

@media all and (max-width: 992px) {
    .x_component_text_cod_131 .material-icons-services {
        font-size: 36px;
    }
    .x_component_text_cod_131 {
        padding: 70px 10px;
    }
}

@media screen and (max-width: 400px) {
    .x_component_text_cod_131 .material-icons-services {
        font-size: 45px;
        transition: 1s;
    }
}

@media (min-width: 420px) and (max-width: 767px) {
    .x_component_text_cod_131 .material-icons-services {
        font-size: 70px;
        transition: 1s;
    }
}