.reser_border {
  border-radius: 0px;
  border: none;
}
.header_old_mod_stand_002 {
  color: #000;
}
.header_old_mod_stand_002 a {
  color: #000;
}
.header_old_mod_stand_002 #header > .navbar-default {
  background-color: transparent;
}
.header_old_mod_stand_002 .navbar-default .navbar-nav>.open>a{
  background:transparent;
}
.header_old_mod_stand_002 #header .navbar-brand {
  height: auto;
}
.header_old_mod_stand_002 #header .navbar-brand img {
  width: 100%;
}
@media all and (max-width: 1091px) {
  .header_old_mod_stand_002 #header .navbar-brand {
    float: none;
  }
  .header_old_mod_stand_002 #header .navbar-brand img {
    width: 50%;
    margin-left: 25%;
  }
}
.header_old_mod_stand_002 #header .cont_infos {
  padding-top: 35px;
}
.header_old_mod_stand_002 #header .cont_infos .cont_endereco {
  font-size: 11px;
}
@media all and (max-width: 990px) {
  .header_old_mod_stand_002 #header .cont_infos .cont_endereco.text-right {
    text-align: center;
  }
}
.header_old_mod_stand_002 #header .cont_infos .cont_redes {
  font-size: 30px;
  text-align: right;
}
@media (max-width: 1091px) {
  .header_old_mod_stand_002 #header .cont_infos .cont_redes {
    text-align: center;
  }
}
@media (max-width: 1091px) {
  .header_old_mod_stand_002 #header .xs-text-center {
    text-align: center;
  }
}
.header_old_mod_stand_002 #header .background-theme {
  background-color: red;
}
.header_old_mod_stand_002 #header #navbar {
  max-height: 50px !important;
  margin: 0 auto;
  text-align: center;
}
@media all and (max-width: 768px) {
  .header_old_mod_stand_002 #header #navbar {
    max-height: inherit !important;
  }
}
.header_old_mod_stand_002 #header #navbar .nav.navbar-nav {
  float: none;
  display: inline-block;
  padding-top: 5px;
  color: #000;
}
@media all and (max-width: 768px) {
  .header_old_mod_stand_002 #header #navbar .nav.navbar-nav {
    width: 100%;
  }
}
.header_old_mod_stand_002 #header #navbar .nav.navbar-nav li {
  border-right: 1px #fff solid;
  min-width: 120px;
}
@media all and (max-width: 768px) {
  .header_old_mod_stand_002 #header #navbar .nav.navbar-nav li {
    min-width: inherit;
    border-right: none;
  }
}
.header_old_mod_stand_002 #header #navbar .nav.navbar-nav li:last-child {
  border-right: none;
}
.header_old_mod_stand_002 #header #navbar .nav.navbar-nav li.active a {
  background-color: inherit;
}
.header_old_mod_stand_002 #header #navbar .nav.navbar-nav li > a {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header_old_mod_stand_002 #header #navbar .nav.navbar-nav li > a:active {
  background-color: inherit;
}
.header_old_mod_stand_002 #header #navbar .nav.navbar-nav li > a:focus,
.header_old_mod_stand_002 #header #navbar .nav.navbar-nav li > a:hover {
  background-color: inherit;
}
.header_old_mod_stand_002 #header #navbar .nav.navbar-nav .dropdown-menu {
  text-align: center;
  background-color: #201616;
}
.header_old_mod_stand_002 #header #navbar .nav.navbar-nav .dropdown-menu li {
  border: none;
}
