<section class="ofertasdestaque-o004">
    <div class="container">
        <article class="center slider">
            <div data-destaque-template="true">
                <div class="cont-img">
                    <div class="overlay">
                    </div>
                    <figure>
                        <img src="#destaqueImage#">
                    </figure>
                </div>
                <div class="col-md-12 cont-infos-car">
                    <ol>
                        <li class="marca">
                            <h5 class="title">Marca:</h5>
                            <p>#destaqueBrand#</p>
                        </li>
                        <li class="modelo">
                            <h5 class="title">Modelo:</h5>
                            <p>#destaqueModel#</p>
                        </li>
                        <li class="preco">
                            <h5 class="title">Preço:</h5>
                            <p>#destaquePrice#</p>
                        </li>
                        <li class="ano">
                            <h5 class="title">Ano:</h5>
                            <p>#destaqueYear#</p>
                        </li>
                        <hr>
                        <li class="visualiza">
                            <a href="#estoqueLink#" class="layout-btn btn-color">Visualizar</a>
                        </li>
                    </ol>
                </div>
            </div>
        </article>
    </div>
</section>