<section class="x_component_contact_cod_246 pad-default-element background-theme">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="font-title text-center" data_editable="true">Lorem Ipsum</div>
                <ul class="list-unstyled list">
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="font-title text-center" data_editable="true">Lorem Ipsum</div>
                <ul class="list-unstyled list">
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="font-title text-center" data_editable="true">Lorem Ipsum</div>
                <ul class="list-unstyled list">
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="font-title text-center" data_editable="true">Lorem Ipsum</div>
                <p data_editable="true" class="address">
                    Rua Endereço, 999 <br>
                    São Paulo - SP
                </p>
                <p data_editable="true" class="address">
                    Tel: 11 9999-9999 <br>
                    Cel: 11 99999-9999
                </p>
            </div>
            <div class="col-xs-12">
                <div class="bottom-text" data_editable="true">Webmotors Sites © 2017</div>
            </div>
        </div>
    </div>
</section>