<div class="social-s004">
  <section class="pt-xs-40 pb-xs-40">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <a href="#"><div class="fa-5x fa-inverse"><i class="fa fa-instagram" data-icon="true"></i></div></a>
          <div class="font-socialMedia" data-editable="true"><p>Escreva seu texto aqui.</p></div>
        </div>
      </div>
    </div>
  </section>
</div>