<section class="highlights-h012 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 project" data-destaque-template="true">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/plat_componentes/8.jpg" data-image="true">
                    <div class="hover-state">
                        <h1>#destaqueModel#</h1>
                        <h2>#destaqueBrand#</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>