<section class="x_component_header_cod_064 navbar-wrapper">
  <div class="container">
    <nav class="navbar" data-spy="affix" data-offset-top="100">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed color-default" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <div class="menu-icon-container">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="page-name">
                    </div>
                </button>
            <div class="navbar-brand">
                <img data-image="true" src="assets/img/component_header_cod_064_01.png" alt="logo">
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul data-menu="true">

            </ul>
        </div>
    </nav>
  </div>
</section>