<section class=" section_old_mod_stand_002 pad-default-elements">
  <div class="container">
    <article class="row">
      <div class="cont_logo_section col-md-2 col-xs-12">
        <img src="http://srv4.vmwm.com.br/img/logolegal.png" alt="" class="img-responsive" data-image="true">
      </div>
      <div class="cont_menu_footer col-md-4">

        <div class="cont_links col-md-6">
          <ul>
            <li data-editable="true">
              Home
            </li>
            <li data-editable="true">
              Estoque
            </li>
            <li data-editable="true">
              Financiamento
            </li>
            <li data-editable="true">
              Contato
            </li>
          </ul>
        </div>

        <div class="cont_links col-md-6 ">
          <ul>
            <li data-editable="true">
              Home
            </li>
            <li data-editable="true">
              Estoque
            </li>
            <li data-editable="true">
              Financiamento
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="cont_infos col-md-6 text-right">
        <div class="col-md-10">
          <ul>
            <li data-editable="true">(11) 3976-6101</li>
            <li data-editable="true">(11) 3976-6101</li>
          </ul>
        </div>
        <div class="col-md-2">
          <i class="fa fa-facebook-official icon"  data-social="true"></i>
        </div>
      </div>
    </article>
  </div>
</section>