.map-m005 {
	z-index: -1;
    position: relative;
    display: block;
    margin-top: -30% !important;
}

.map-m005 .p0 {
    padding: 0;
}

.map-m005 .map-holder {
    overflow: hidden;
    position: relative;
}

.map-m005 .map-holder:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.map-m005 .pb180 {
    padding-bottom: 50%;
}