
.x_component_boxes_cod_004 {
  padding: 20px;
  font-family: 'Exo 2', sans-serif;
}
.x_component_boxes_cod_004 .item {
  box-sizing: border-box;
  padding: 0 2px;
  margin-bottom: 4px;
}
.x_component_boxes_cod_004 .item-content .itemimg img {
  width: 100%;
}
.x_component_boxes_cod_004 .item-content .itemimg {
  position: relative;
  border: none;
}
.x_component_boxes_cod_004 .item-content .itemimg:hover:after {
  width: 100%;
  height: 101%;
  background: rgba(255, 255, 255, 0.7);
}
.x_component_boxes_cod_004 .item-content .itemimg:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: none;
}
.x_component_boxes_cod_004 .position-box {
  padding: 20px;
  background: #fbc02d;
  margin: 0;
}
.x_component_boxes_cod_004 .position-box > .boxes-module-title {
  color: #000000;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  min-height: 50px;
}
.x_component_boxes_cod_004 .position-box a {
  color: #474747;
  font-size: 15px;
  line-height: 24px;
  display: inline-block;
}
.x_component_boxes_cod_004 .position-box a :hover,
.x_component_boxes_cod_004 .position-box a :focus {
  text-decoration: none;
}
