.imagem-i009 .img-overlay:before {
    content: "";
    background: rgba(12, 13, 13, 0.5) repeat;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.imagem-i009 .image-text {
    text-align: center;
}


.imagem-i009 .image-text .cont-title{
    margin: 0.5em 0 0;
    letter-spacing: -1px;
    font-weight: 400;
  	font-size: 4.25em;
    line-height: 1;
    position: absolute;
    width: 100%;
    top: 3vh;
    color: #fff;
    z-index: 3;
}
.imagem-i009 .image-text .cont-title i{
  font-size: 0.8em;
}
.imagem-i009 .image-text .cont-title .font-title{
     font-size: 4.25em;
}

.imagem-i009 .image-text .cont-title span {
    display: block;
    padding: 12px 0 1px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    text-shadow: none;
    z-index: 10;
}


.imagem-i009 .img-responsive {
    width: 100%;
}

.imagem-i009 .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.imagem-i009 .cont-img {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow: hidden;
}

.imagem-i009 .cont-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (max-width: 1280px) {
    .imagem-i009 .image-text .cont-title {
        top: 0;
    }
}

@media all and (max-width: 990px) {
    .image-text h1 {
        top: 0;
    }
    .imagem-i009 .no-mobile {
        display: none;
    }
}