.x_component_footer_cod_326 {
  color: #FFFFFF;
  padding: 70px 0;
  font-weight: 300;
}
.x_component_footer_cod_326 .copyright {
  font-size: 13px;
  margin-left: 5px;
}
.x_component_footer_cod_326 a:link,
.x_component_footer_cod_326 a:visited {
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.x_component_footer_cod_326 a:focus,
.x_component_footer_cod_326 a:hover,
.x_component_footer_cod_326 a:active {
  opacity: 0.7;
}
.x_component_footer_cod_326 .footer-title {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold;
}
.x_component_footer_cod_326 .location-description {
  max-width: 150px;
  font-size: 13px;
}
.x_component_footer_cod_326 .footer-social li {
  line-height: 25px;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .x_component_footer_cod_326 .text-xs-center {
    text-align: center!important;
  }
  .x_component_footer_cod_326 .location-description {
    margin-left: auto;
    margin-right: auto;
  }
}
