<section class="x_component_text_cod_245 pad-default-element">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h1 class="font-title text-uppercase text-left" data-editable="true">Main services</h1>
            </div>
            <div class="col-sm-4 text-left">
                <h3 class="box-title" data-editable="true">Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolo.</h3>
                <div class="description" data-editable="true">Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adip iscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis nato que
                    penatibus et magnis dis parturient.</div>
                <div class="btn btn-color layout-btn" data-editable="true">Learn More</div>
            </div>
            <div class="col-sm-4 text-left">
                <h3 class="box-title" data-editable="true">Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolo.</h3>
                <div class="description" data-editable="true">Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adip iscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis nato que
                    penatibus et magnis dis parturient.</div>
                <div class="btn btn-color layout-btn" data-editable="true">Learn More</div>
            </div>
            <div class="col-sm-4 text-left">
                <h3 class="box-title" data-editable="true">Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolo.</h3>
                <div class="description" data-editable="true">Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adip iscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis nato que
                    penatibus et magnis dis parturient.</div>
                <div class="btn btn-color layout-btn" data-editable="true">Learn More</div>
            </div>
        </div>
    </div>
</section>