.x_component_text-image_cod_293 {
    padding: 201px 0 220px;
    position: relative;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #34363e;
}

.x_component_text-image_cod_293 .container {
    background: #FFFFFF;
    box-shadow: 0 0 20px #222222;
}

.x_component_text-image_cod_293 h2 {
    font-size: 24px;
}

.x_component_text-image_cod_293 .inline {
    display: inline;
}

.x_component_text-image_cod_293 .views-field .inline > i{
	font-size: 14px;
}

.x_component_text-image_cod_293 .top-text .block-title {
    font-size: 102px;
    letter-spacing: -8px;
    line-height: 102px;
    margin-bottom: 49px;
    text-align: center;
    word-spacing: 8px;
}

.x_component_text-image_cod_293 .item-image img {
    width: 100%;
}

.x_component_text-image_cod_293 .item-text-header {
    padding: 20px;
}

.x_component_text-image_cod_293 .item-text {
    padding-top: 30px;
    padding-bottom: 50px;
}

.x_component_text-image_cod_293 .item-text .item-text-header a {
    font: 500 18px/22px 'Ubuntu', sans-serif;
    text-decoration: none;
}

.x_component_text-image_cod_293 .item-text .item-text-description {
    color: #606465;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

.x_component_text-image_cod_293 .item-text .btn a {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    font: 500 18px/22px 'Ubuntu', sans-serif;
    outline: none;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    padding-top: 24px;
}

.x_component_text-image_cod_293 .item-text .btn a i {
    padding-left: 10px;
}

.x_component_text-image_cod_293 .no-padding {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 900px) {
    .x_component_text-image_cod_293 .top-text .block-title {
        font-size: 80px;
        line-height: 80px;
    }
}

@media screen and (max-width: 480px) {
    .x_component_text-image_cod_293 .top-text .block-title {
        font-size: 60px;
        line-height: 60px;
    }
}