<section id="estoqueMod2">
    <div class="container">
        <div class="title">
            <h1>Detalhes do veículo</h1>
            <hr>
        </div>
                
        <div class="no-padding-sm col-sm-12">
            <article class="detalhes row">
                <div id='detalhes-veiculo'>
                    <article class="detalhes col-xs-12 no-padding-xs col-sm-12 no-padding-sm">
                        <div id="menuBuscador" class="col-xs-12 no-padding-xs">
                            <div class="links hidden-xs">
                                <ul>
                                    <li class="imprimir">
                                        <a onclick="javascript:return window.print();" href="javascript:;">
                                            Imprimir Página
                                        </a>
                                    </li>
                                    <li class="email">
                                        <a href="#StockSendMail#">
                                            Enviar por Email
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="anteriorProximo col-xs-12 no-padding-xs col-sm-3 no-pad-right-sm">
                                <ul class="row">
                                    <li>
                                        <a href="/#PathRoute#">
                                            Resultado da Busca
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <span></span>
                        </div>

                        <div id="DadosLeft" class="col-xs-12 no-padding-xs col-sm-9 no-pad-left-sm">
                            <div class="ad-gallery col-xs-12 no-padding-xs col-sm-6 no-pad-left-sm">
                                <section id="imageBig" class="center slider">
                                    <div data-stock-gallery-template="true">
                                        <img src="http://placehold.it/800x600?text=Veículo+sem+foto" class="img-responsive" alt="Foto do Veículo" />
                                    </div>
                                </section>

                                <div id="imageNav" class="slider">
                                    <div data-stock-gallery-thumbs-template="true">
                                        <img src="http://placehold.it/285x190?text=Sem+foto" alt="Clique para visualizar" />
                                    </div>
                                </div>
                            </div>

                            <div id="dadosVeiculo" class="col-xs-12 no-padding-xs col-sm-6 no-pad-right-sm">
                                <h3 class="preco hidden-sm hidden-lg"><i class="fa fa-tag"></i>&nbsp;&nbsp;#StockPrice#</h3>

                                <h4>Dados do veículo</h4>

                                <ul>
                                    <li class="marca">
                                        <small>Marca</small>
                                        #StockBrand#
                                    </li>
                                    <li class="modelo">
                                        <small>Modelo</small>
                                        #StockModeld#
                                    </li>
                                    <li class="ano">
                                        <small>Ano</small>
                                        #StockYearMan#/#StockYearMod#
                                    </li>
                                    <li class="versao">
                                        <small>Versão</small>
                                        #StockVersion#
                                    </li>
                                    <li class="cambio">
                                        <small>Câmbio</small>
                                        #StockExchange#
                                    </li>
                                    <li class="portas">
                                        <small>Portas</small>
                                        #StockDoors#
                                    </li>
                                    <li class="combustivel">
                                        <small>Combustível</small>
                                        #StockFuel#
                                    </li>

                                    <li class="km">
                                        <small>Km</small>
                                        #StockKm#
                                    </li> 

                                    <li class="placa">
                                        <small>Placa</small>
                                        ***-***#StockBoard#
                                    </li>
                                </ul>
                            </div>

                            <div id="dadosComplementares">
                                <h5>Opcionais</h5>
                                <p>#StockOptional#</p>

                                <h5>Observações adicionais</h5>
                                <p>#StockDetails#</p>
                            </div>
                        </div>

                        <div id="DadosRight" class="col-xs-12 no-padding-xs col-sm-3 no-pad-right-sm">
                            <div id="dadosLoja">
                                <ul>
                                    <li class="preco hidden-xs">#StockPrice#</li>
                                    <li class="proposta active">
                                        <h5>Solicitar Proposta</h5>
                                        <div class="formProp">
                                            <div class="formularios">
                                                <div class="boxFormPrincipal">
                                                    #StockFormProposta#
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="financiamento">
                                        <h5>Financiamento</h5>
                                        <div class="formFin">
                                            <p>O carro você já achou. Agora, faça uma análise de crédito sem compromisso.</p>
                                            <div class="formularios">
                                                <div class="boxFormPrincipal">
                                                    #StockFormFinanciamento#
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="loja">
                                        <h6>#StockStore#</h6>
                                        <div class="localidade">
                                            #StockStoreQuarter# - #StockStoreCity#/#StockStoreState#
                                        </div>
                                        <div class="telefone">
                                            #StockStorePhone#
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </article>
        </div>
    </div>
</section>