<section id="estoqueMod2">
    <div class="container">
        <div class="title">
            <h1>Encontre seu veículo</h1>
            <hr>
        </div>
                
        <div class="no-padding-sm col-sm-12">
            <article class="encontre row">
                <side class="filtrosdebusca col-xs-12 no-padding-xs col-sm-3">
                    <div class="carros">
                        <h2>#StockQuantity# <span>carros encontrados</span></h2>
                    </div>

                    <div class="botoes_filtros clearfix">
                        <a href="/#PathRoute#"><i class="fa fa-repeat"></i> limpar filtros</a>
                    </div>

                    <div class="refine side-fechado">
                        <label class="btn-filtro visible-xs"><img src="#PathAssets#/img/buscador/filtro.png" width="19" height="75"></label>
                        <div class="head2">Refine sua busca:</div>

                        <div id="wrapper">
                            <ul class="menu_filtro">
                                <li data-stock-filters-template="true">
                                    <a href="javascript:;" rel="titleFilter">#StockFilterTitle# <span></span></a>

                                    <ul rel="itemsFilter">
                                        <li class="subitem1">
                                            <a href="#StockFilterLink#">#StockFilterItem#</a> (#StockFilterQtd#)
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </side>

                <div id='resultado-busca' class="col-sm-9">
                    <div class="mid-part">
                        <ul>
                            <li class="row" data-stock-cars-template="true">
                                <div class="mid-part-left col-sm-3 no-pad-left-sm  col-xs-12 no-padding-xs">
                                    <a href="#StockLinkDetails#" title="ver rápido">
                                        <img src="#StockImage#" rel="photo" data-width="280" data-height="190" class="img-responsive" />
                                    </a>

                                    #StockImageQtd#
                                </div>

                                <div class="mid-part-mid col-sm-6 no-margin-sm col-xs-12 no-padding-xs no-margin-xs">
                                    <h3>#StockYearMod# #StockBrand# #StockModel#</h3>
                                    <p>#StockVersion#</p>
                                    <div class="informacoes col-sm-12 no-padding-sm col-xs-12 no-padding-xs">
                                        <div class="km">
                                            <span>Km</span>
                                            #StockKm#
                                        </div>
                                        <div class="cor">
                                            <span>Cor</span>
                                            #StockColor#
                                        </div>
                                        <div class="cambio">
                                            <span>Câmbio</span>
                                            #StockExchange#
                                        </div>
                                    </div>

                                    <p class="btns col-sm-12 no-padding-sm col-xs-12 no-padding-xs">
                                        <a href="#StockLinkDetails#" class="detalhes col-xs-5">
                                            Ver Detalhes <span></span>
                                        </a>
                                        <a href="#StockLinkForm#" class="proposta col-xs-6 col-xs-push-1">
                                            Estou Interessado <span></span>
                                        </a>
                                        <br clear="all" />
                                    </p>
                                </div>

                                <div class="mid-part-right col-sm-3 no-margin-sm col-xs-12 no-padding-xs">
                                    <p class="price">#StockPrice#</p>
                                    <p class="name">#StockStore#</p>

                                    <p class="bairro-cidade"><span>#StockStoreQuarter#</span><span>#StockStoreCity# / #StockStoreState#</span></p>

                                    <p class="phone">
                                        #StockStorePhone#
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    #StockPagination#
                </div>
            </article>
        </div>
    </div>
</section>