<section class="highlights-h001 pad-default-elements">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="image-box">
                <ul class="owl-carousel carousel-fw" data-columns="4" data-autoplay="" data-pagination="no" data-arrows="yes" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
                    <li class="item" data-destaque-template="true">
                        <article class="box">
                            <div class="details">
                                <div class="price"><small>Por</small><div>#destaquePrice#</div></div>
                                <div class="box-title">#destaqueModel#<small>#destaqueBrand#</small></div>
                            </div>
                            <figure>
                                <a href="#estoqueLink#" title="" class="img-responsive"><img src="#destaqueImage#" alt="" width="" height="" /></a>
                            </figure>
                            <div class="action">
                                <a href="#estoqueLink#" class="button btn-small layout-btn btn-color">CLIQUE AQUI!</a>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
</section>