
.header_adel  .form-inline .form-control {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}


@media screen and (max-width: 380px) {
.header_adel .redes{
  
  width: 18%!important;
}
  .header_adel li.li-top{
    width: 50%!important;
  }
}

.header_adel .padding_top_30 {
    padding-top: 30px;
}

.header_adel .position_relative {
    position: relative;
}

.header_adel .brackground_chumbo {
    background-color: #555555;
}

.header_adel.reset .navbar {
    min-height: inherit;
    border-radius: 0px;
    border: 0px solid transparent;
    margin-bottom: 0px;
}



.header_adel.reset .navbar-default {
    background-color: transparent;
    border-color: inherit;
}

.header_adel .top-header>.contato-top {
    margin: 0 auto;
    width: 180px;
}

.header_adel.reset .form-group {
    width: 100%;
    margin-bottom: 15px;
}

.header_adel.reset .form-group>.form-control {
    border-radius: 25px;
    width: 100%;
}

.header_adel.reset .border-reset {
    border-radius: 0px;
    border: none;
}

.header_adel * {
    font-family: 'Open Sans', sans-serif, 'FontAwesome';
}

.header_adel .cont-busca .button-search {
    background-color: #be161b;
    width: 92px;
    color: #fff;
}

.header_adel .cont-busca .busca-perso {
    color: #be161b;
    font-size: 15px;
  	margin-left: 40px;
}

.header_adel .navbar-brand {
    height: auto;
    padding: 0px 15px;
}

.header_adel .padding_10 {
    padding: 0 10px 0 10px;
}

.header_adel .padding_10_top_bottom {
    padding: 10px 0 10px 0;
}

.header_adel .padding_0_left_right {
    padding: 0px;
}

.header_adel .margin_right_30 {
    margin-right: 30px;
}

.header_adel .top-header {
    background: #141414;
    background: -moz-linear-gradient(top, #141414 0%, #5c5c5c 120%, #666666 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #141414), color-stop(120%, #5c5c5c), color-stop(100%, #666666));
    background: -webkit-linear-gradient(top, #141414 0%, #5c5c5c 120%, #666666 100%);
    background: -o-linear-gradient(top, #141414 0%, #5c5c5c 120%, #666666 100%);
    background: -ms-linear-gradient(top, #141414 0%, #5c5c5c 120%, #666666 100%);
    background: linear-gradient(to bottom, #595959 0%, #595959 120%, #666666 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#141414', endColorstr='#666666', GradientType=0);
    color: #fff;
}

.header_adel .top-header {
    z-index: 2;
}

.header_adel .top-header ul {
    /*display: inline-flex;*/
}
.header_adel .navbar-default .container{
  padding: 0 20px 20px 0;
}
.header_adel a.navbar-brand{
  position:absolute;
  
}

.header_adel .top-header .icon {
    padding: 0 10px 0 10px;
    width: inherit !important;
    display: inline-flex;
}

.header_adel .pull-right .icon {
    padding: 13px 10px 0 10px;
    width: inherit !important;
    display: inline-flex;
}

@media all and (max-width: 836px) {
    .header_adel .top-header .nav.navbar-nav {
        margin: 0px;
    }
}

.header_adel .navbar-header .navbar-brand>img {
    width: 250px;
}

.header_adel .cont-menu .border_negative {
    -webkit-transform: skew(50deg);
    -ms-transform: skew(50deg);
    transform: skew(50deg);
}

.header_adel .cont-menu .border_negative.yellow {
    background-color: #e1bb45;
}

.header_adel .cont-menu .border_negative.red {
    background-color: #b6363a;
}

.header_adel .cont-menu>ul {
    min-width: 750px;
}

.header_adel .cont-menu>ul>li>a {
    padding-right: 78px;
    padding-left: 78px;
}

@media all and (max-width: 1020px) {
    .header_adel .cont-menu>ul>li>a {
        padding: 10px 60px;
    }
}

.header_adel .navbar-collapse .infos_header {
    margin-top: 10px;
}

.header_adel .navbar-collapse .infos_header ul.nav {
    width: 200px;
}

.header_adel .navbar-collapse .infos_header ul.nav li {
    color: #000;
}

.header_adel .navbar-collapse .infos_header ul.nav li span {
    font-weight: bold;
}

@media all and (max-width: 836px) {
    .header_adel .navbar-right.nav.navbar-nav {
        margin: 0px;
    }
}

.header_adel .navbar-right.nav.navbar-nav.navgation {
    background: url('../img/bg-menu.png') no-repeat;
    background-size: 100%;
    color: #fff;
    margin-top: -5px;
}

.header_adel .navbar-right.nav.navbar-nav.navgation a {
    background: transparent;
    border: none;
    box-shadow: 0;
    box-shadow: none;
}

@media screen and (max-width: 768px) {
    .header_adel .navbar-right.nav.navbar-nav.navgation {
        background-image: none;
        background-color: #3c3838;
    }
}

.header_adel .navbar-right.nav.navbar-nav.navgation>li>a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.header_adel .navbar-right.nav.navbar-nav>.open>a {
    background-color: transparent;
}

.header_adel .navbar-right.nav.navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}

.header_adel .navbar-right .dropdown-menu {
    right: inherit;
    background-color: #fff;
    border: none;
    min-width: 220px;
    border-radius: 0px;
}

@media (min-width: 768px) {
    .header_adel .navbar-right .dropdown-menu {
        right: inherit;
    }
}


/*Configurações Padrões*/

.header_adel .menu-top {
    height: 50px;
    position: relative;
}

.header_adel ul.menu,
.header_adel .menu li,
.header_adel .menu a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header_adel ul.menu ul {
    position: absolute;
    display: none;
    box-shadow: 3px 3px 2px #333;
    z-index: 9999;
}


/* Configurações nivel 1*/

.header_adel ul.menu {
    float: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 0px 5px;
    border-radius: 0px;
}

.header_adel .menu li {
    float: left;
    width: auto;
    position: relative;
    border-radius: 0px;
    z-index: 9999;
}

.header_adel .menu li div {
    padding-left: 5px;
  	padding-top: 2px;
    font-size: 14px;
}

.header_adel .menu ul {
    border-radius: 0px;
}

.header_adel .menu li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    height: 45px;
    font-size: 14px;
    float: left;
    transition: all 0.1s linear;
}
.header_adel .menu li a.call{
  display:inline;
  padding:0px;
  line-height:inherit;
  float:none;
}
.header_adel .menu li a.call:visited,
.header_adel .menu li a.call:focus,
.header_adel .menu li a.call:hover{
 background:transparent;
}


/* Configurações nivel 2*/


/*.menu {
    position: absolute;
    z-index: 99999;
}*/

.header_adel .menu li:hover>ul.submenu-1 {
    display: block;
    top: 42px;
    left: 0;
    padding: 15px 0px;
    min-width: 200px;
    border-radius: 0;
}

.header_adel .menu ul.submenu-1 a {
    min-width: 160px;
    padding: 0 20px;
    border-radius: 0px;
}


/* Configurações nivel 2*/

.header_adel .menu li:hover>ul.submenu-2 {
    display: block;
    top: 0;
    left: 155px;
    padding: 33px 0 0 0;
    min-width: 200px;
    border-radius: 0;
}

.header_adel .menu ul.submenu-2 a {
    min-width: 160px;
    padding: 0 20px;
    border-radius: 0px;
}


/* Configurações nivel 3*/

.header_adel .menu li:hover>ul.submenu-3 {
    display: block;
    top: 0;
    left: 160px;
    padding: 5px;
    min-width: 200px;
    border-radius: 0;
}

.header_adel .menu ul.submenu-3 a {
    min-width: 160px;
    padding: 0 20px;
    border-radius: 0;
}

.header_adel .menu a {
    color: #fff;
}

.header_adel .menu li:hover>a {
    background: #999;
    color: #fff;
}


/*nivel 2*/

.header_adel .submenu-1 {
    background: #999;
}

.header_adel .submenu-1 a {
    color: #fff;
}

.header_adel .submenu-1 li:hover>a {
    background: #666;
}


/*nivel 3*/

.header_adel .submenu-2 {
    background: #666;
}

.header_adel .submenu-2 a {
    color: #fff;
}

.header_adel .submenu-2 li:hover>a {
    background: #333;
}


/*nivel 3*/

.header_adel .submenu-3 {
    background: #333;
}

.header_adel .submenu-3 a {
    color: #fff;
}

.header_adel .submenu-3 li:hover>a {
    background: #000;
}
@media (max-width: 768px){
    .header_adel .cont-menu>ul {
    min-width: inherit;
}
}
    @media (max-width: 1200px){
  .header_adel a.navbar-brand {
    position: relative;
}
  
}
  @media (max-width: 991px){
  .header_adel a.navbar-brand {
    position: relative;
}
    .header_adel .cont-menu>ul>li>a {
    padding: 10px 75px;
}
  
}
@media (min-width: 768px) {
    .header_adel.reset .navbar {
        border-radius: 0px;
    }

}
@media (max-width: 1198px) {
  .form-inline .form-control {
  width: 58%;
  }
  .header_adel .cont-menu>ul{
        min-width: inherit;
    
  }
  .header_adel .cont-busca .busca-perso{
         margin-left: 0px;
  }

}