<div class="service-s006 full-w pad-default-elements">
  <section class="image-bg parallax">
    <div class="background-image-holder"> </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="mb16" data-editable="true" class="color-default">Escreva um título</h2>
          <p class="lead mb64" data-editable="true" class="color-default">Escreva uma breve descrição</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="feature feature-1 boxed">
            <div class="text-center">
              <i class="fa fa-desktop icon color-default" data-icon="true"></i>
              <h5 class="uppercase" data-editable="true">Título</h5>
            </div>
            <p data-editable="true">Escreva uma pequena descrição para o item.</p>
          </div>

        </div>
        <div class="col-sm-4">
          <div class="feature feature-1 boxed">
            <div class="text-center">
              <i class="fa fa-desktop icon color-default" data-icon="true"></i>
              <h5 class="uppercase" data-editable="true" class="color-default">Título</h5>
            </div>
            <p data-editable="true">Escreva uma pequena descrição para o item.</p>
          </div>

        </div>
        <div class="col-sm-4">
          <div class="feature feature-1 boxed">
            <div class="text-center">
              <i class="fa fa-desktop icon color-default" data-icon="true"></i>
              <h5 class="uppercase" data-editable="true" class="color-default">Título</h5>
            </div>
            <p data-editable="true">Escreva uma pequena descrição para o item.</p>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>