.cta-c001 {
	background: #000000;
    color: #ffffff;
  	text-transform: uppercase;
}
.cta-c001 .icon-cta-c001 i {
   margin-top: 30px;
}
.cta-c001 h1.large {
    font-size: 72px;
    font-weight: 100;
}
.cta-c001 h2 {
    font-size: 12px;
    font-weight: 700;
}
.cta-c001 .btn {
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-top: 30px;
}
.text-description-cta{
    margin-top: 24px;
}
@media all and (max-width: 767px) {
    .cta-c001 .mb-xs-24 {
        margin-bottom: 24px;
    }
    .cta-c001 .text-center-xs {
        text-align: center;
    }
}