<section class="zero-km-zk001 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="owl-carousel carousel-fw" data-columns="4" data-autoplay="" data-pagination="no" data-arrows="yes" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
                    <li class="item" data-zerokm-template="true">
                        <a href="#zero-car-link#" data-link="true"><img src="#zero-car-img#" data-zerokm-img="true" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>