
.x_component_boxes_brand_cod_261 {
    background: #fff;
    padding: 20px 0;
    font-size: 14px;
    color: #3E3E43;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.x_component_boxes_brand_cod_261 .row.no-gutters>[class^="col-"],
.x_component_boxes_brand_cod_261 .row.no-gutters>[class*=" col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.x_component_boxes_brand_cod_261 .font-title {
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0px;
    position: relative;
}

.x_component_boxes_brand_cod_261 .font-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ECEFF1;
    height: 2px;
}

.x_component_boxes_brand_cod_261 div.col-sm-7.five-three {
    width: 60% !important;
}

.x_component_boxes_brand_cod_261 div.col-sm-5.five-two {
    width: 40% !important;
}

.x_component_boxes_brand_cod_261 .thumbnail {
    padding: 0;
    border: none;
  	box-shadow: none;
}

@media screen and (max-width: 768px) {
    .x_component_boxes_brand_cod_261 div.col-sm-7.five-three {
        width: 100% !important;
    }
    .x_component_boxes_brand_cod_261 div.col-sm-5.five-two {
        width: 100% !important;
    }
}