<section class="x_component_slider_cod_338 pad-default-elements" >
    <div class="container">
        <div class="slider-wrapper">
            <span class="border-top background-theme"></span>
            <ul id="slider">
                <li data-banner-template="true">
                    <a href="">
                        <img src="http://placehold.it/1080x500?text=Imagem+do+banner" alt="">
                    </a>
                    <video class="video-player-no-controls video-template" muted="true" width="100%" height="100%" src=""></video>
                </li>
            </ul>
        </div>

        <div class="pos-banner">
            <div class="svg-box">
                <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon points="50,0 0,100 100,100"/>
                </svg>
            </div>
            <div class="content-banner background-theme">
                <img data-image="true" class="img-responsive center-block" src="assets/img/logo-2.png" alt="">
                <h1 data-editable="true" class="text-center">Lorem Ipsum</h1>
            </div>
        </div>
    </div>
</section>