.x_component_history_cod_076 .history-content .header-title {
  font-size: 60px;
  font-weight: 500;
  border-bottom: 1px solid #e9e8e9;
  padding-bottom: 25px;
  position: relative;
  margin-bottom: 50px;
}
.x_component_history_cod_076 .history-content .header-title:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100px;
  height: 0;
  border: 3px solid #f4f5f7;
}
.x_component_history_cod_076 .history-content .content-box,
.x_component_history_cod_076 .history-content .content-box-even {
  margin-bottom: 30px;
}
.x_component_history_cod_076 .history-content .item-row {
  position: relative;
}
.x_component_history_cod_076 .icon-content {
  width: 40px;
  height: 40px;
  border: 1px solid #cacaca;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 15px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #cacaca;
}
.x_component_history_cod_076 .content-box .icon-content {
  right: -20px;
}
.x_component_history_cod_076 .content-box-even .icon-content {
  left: -20px;
}
.x_component_history_cod_076 .history-content .item-row:before {
  position: absolute;
  width: 2px;
  height: 100%;
  content: '';
  background: #f4f5f7;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.x_component_history_cod_076 .history-content .history-title {
  padding: 0;
  font-size: 20px;
}
.x_component_history_cod_076 .history-content .history-content {
  width: 95%;
  min-height: 100px;
  padding: 20px 25px;
  border: 1px solid #dddddd;
  position: relative;
}
.x_component_history_cod_076 .history-content .history-content:before {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  content: '';
  position: absolute;
  top: 24px;
  border-left: 10px solid #dddddd;
  right: -10px;
}
.x_component_history_cod_076 .history-content .history-content:after {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  content: '';
  position: absolute;
  top: 24px;
  border-left: 10px solid #ffffff;
  right: -9px;
}
.x_component_history_cod_076 .history-content .history-content-even {
  width: 95%;
  min-height: 100px;
  padding: 30px 25px;
  border: 1px solid #dddddd;
  position: relative;
  float: right;
}
.x_component_history_cod_076 .history-content .history-content-even:before {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  content: '';
  position: absolute;
  top: 24px;
  border-left: 10px solid #dddddd;
  left: -10px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.x_component_history_cod_076 .history-content .history-content-even:after {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  content: '';
  position: absolute;
  top: 24px;
  border-left: 10px solid #ffffff;
  left: -9px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.x_component_history_cod_076 .history-content .history-description {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #655f63;
}
.x_component_history_cod_076 .date-content {
  width: 160px;
  margin-top: -5px;
  margin-left: 585px;
}
.x_component_history_cod_076 .date-content > div {
  position: relative;
}
.x_component_history_cod_076 .date-content time {
  width: 100px;
  position: absolute;
  top: 10px;
  left: 98px;
  font-weight: 300;
  font-size: 12px;
}
.x_component_history_cod_076 .date-content-even {
  width: 160px;
  margin-top: -5px;
  margin-left: -265px;
}
.x_component_history_cod_076 .date-content-even > div {
  position: relative;
}
.x_component_history_cod_076 .date-content-even time {
  position: absolute;
  top: 2px;
  left: 58px;
  font-weight: 300;
  font-size: 12px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .x_component_history_cod_076 .date-content {
    margin-left: 490px;
  }
  .x_component_history_cod_076 .date-content-even {
    margin-left: -250px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .x_component_history_cod_076 .date-content {
    margin-left: 370px;
  }
  .x_component_history_cod_076 .date-content-even {
    margin-left: -240px;
  }
}
@media screen and (max-width: 768px) {
  .x_component_history_cod_076 .item-row:before {
    display: none!important;
  }
  .x_component_history_cod_076 .item-row {
    position: relative;
  }
  .x_component_history_cod_076 .item-row > .content-box:before {
    display: none!important;
  }
  .x_component_history_cod_076 .item-row > .content-box-even:before {
    display: none!important;
  }
  .x_component_history_cod_076 .history-content .history-content-even:before,
  .x_component_history_cod_076 .history-content .history-content-even:after,
  .x_component_history_cod_076 .history-content:before,
  .x_component_history_cod_076 .history-content:after {
    display: none;
  }
  .x_component_history_cod_076 .history-content,
  .x_component_history_cod_076 .history-content-even {
    width: 100%!important;
  }
  .x_component_history_cod_076 .date-content,
  .x_component_history_cod_076 .date-content-even {
    margin-left: 70%;
    margin-right: unset;
  }
}
@media screen and (max-width: 768px) {
  .x_component_history_cod_076 .icon-content {
    display: none;
  }
  .x_component_history_cod_076 .date-content,
  .x_component_history_cod_076 .date-content-even {
    display: none;
    margin-left: 123px;
  }
}
