.social-s004 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    overflow-x: hidden;
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.social-s004 .social-space a > div > i {
    margin-right: 20px;
}
.social-s004 .inline-block {
    display: inline-block;
}