<div class="full-w pad-default-elements">
    <div class="service-s001">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="main_title color-default" data-editable="true">Nossos <span>Serviços</span></p>
                    <p class="desc_title text-center"><small data-editable="true">Confira os serviços que oferecemos para você!</small></p>
                    <hr class="hr-sm">
                </div>
            </div>
            <div class="row cont-icon">
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-icon btn-color"> <span><i class="ico-car" data-icon="true"></i></span> </div>
                        <div class="info">
                            <h4 class="text-center" data-editable="true">Financie seu carro</h4>
                            <p data-editable="true">Financie a compra do seu veículo. O carro dos seus sonhos pode ser seu. A gente te ajuda a conseguir.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-icon btn-color"> <span><i class="ico-car-buy" data-icon="true"></i></span> </div>
                        <div class="info">
                            <h4 class="text-center" data-editable="true">Quer vender seu carro?</h4>
                            <p data-editable="true">A maneira mais rápida de vender o seu carro. Velocidade e segurança na hora de negociar.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-icon btn-color"> <span><i class="ico-calendar-car" data-icon="true"></i></span> </div>
                        <div class="info">
                            <h4 class="text-center" data-editable="true">Test Drive</h4>
                            <p data-editable="true">Agende online seu Test Drive, no horário que for mais conveniente para você.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>