<section class="x_component_footer_cod_168 pad-default-element">
    <div class="container menu-types">
        <div class="col-sm-6 col-md-4">
            <h1 data-editable="true" class="footer-module-title">Navigation</h1>
            <ul class="list-unstyled footer-menu">
                <li class="active">
                    <div data-editable="true">
                        HOME
                    </div>
                </li>
                <li>
                    <div data-editable="true">
                        ABOUT
                    </div>
                </li>
                <li>
                    <div data-editable="true">
                        SERVICES
                    </div>
                </li>
                <li>
                    <div data-editable="true">
                        NEWS
                    </div>
                </li>
                <li>
                    <div data-editable="true">
                        CONTACTS
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-4">
            <h1 data-editable="true" class="footer-module-title">FOR MEMBERS</h1>
            <ul class="list-unstyled footer-menu">

                <li>
                    <div data-editable="true">
                        FORUMS
                    </div>
                </li>
                <li>
                    <div data-editable="true">
                        PROMOTIONS
                    </div>
                </li>
                <li>
                    <div data-editable="true">
                        SIGN IN
                    </div>
                </li>
                <li>
                    <div data-editable="true">
                        NEWS
                    </div>
                </li>
            </ul>
        </div>
        <hr class="visible-xs">
        <div class="col-sm-6 col-md-4">
            <h1 data-editable="true" class="footer-module-title">Contact Us</h1>
            <ul class="list-unstyled contact-info">
                <li>
                    <i data-icon="true" class="fa fa fa-home color-default" aria-hidden="true"></i>
                    <div data-editable="true">My Company Glasgow D04 89GR</div>
                </li>
                <li>
                    <i data-icon="true" class="fa fa fa-mobile color-default" aria-hidden="true"></i>
                    <div data-editable="true">800-2345-6789</div>
                </li>
                <li class="text-lowercase">
                    <i data-icon="true" class="fa fa-envelope color-default" aria-hidden="true"></i>
                    <div data-editable="true">info@demolink.org</div>
                </li>
            </ul>
            <ul class="list-unstyled list-inline footer-social" data-social="true">
                <li><a class="color-default-hover" target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a></li>
            </ul>
        </div>
    </div>
    <div data-map="true" data-type="map" id="map"></div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <div data-editable="true">
                        <img class="img-responsive" data-image="true" src="assets/img/component_footer_cod_168_01.png" alt="footer-logo">
                        <div data-editable="true">© 2017 | Privacy Policy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>