<section class="highlights-h014">
    <div class="container">
        <div class="row">
            <div class="image-box">
                <div class="col-md-3" data-destaque-template="true">
                    <article class="box">
                        <div class="details">
                            <div class="price"><small>Por</small>
                                <div>#destaquePrice#</div>
                            </div>
                            <div class="box-title">#destaqueModel#<small>#destaqueBrand#</small></div>
                        </div>
                        <figure>
                            <a href="#estoqueLink#" title="" class="img-responsive"><img src="#destaqueImage#" alt="" width="" height="" /></a>
                        </figure>
                        <div class="action">
                            <a href="#estoqueLink#" class="button btn-small btn-color">CLIQUE AQUI!</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>