.header_old_mod_003 #header {
    background: url(../../assets/img/bg-header.png)no-repeat top center;
    min-height: 233px;
    position: relative;
    z-index: 2;
}
.header_old_mod_003 .navbar-default .navbar-nav>.open>a{
  background:transparent;
}
.header_old_mod_003 #header .navbar{
min-height:auto;
}
.header_old_mod_003 #header .enderecoHeader {
    color: #fff;
    margin-top: 30px;
    font-size: 15px;
}

.header_old_mod_003 #header .enderecoHeader {
    font-size: 12px;
}

.header_old_mod_003 .inline-element {
    display: inline;
}

.header_old_mod_003 .div-logo {
    margin: 0;
    padding: 0px;
}

.header_old_mod_003 .div-menu {
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    margin-top: 75px;
    height: 60px;
}

@media all and (min-width: 990px) and (max-width:1200px) {
    .header_old_mod_003 .collapse.navbar-collapse ul>li>a {
        padding: 12px 5px;
        font-size: 11px;
    }
    .header_old_mod_003 .div-logo>.logo-header>a>img {
        width: 60%;
        float: left;
    }
}

@media all and (max-width:990px) {
    .header_old_mod_003 #header {
        background: #000;
    }
    .header_old_mod_003 .div-menu {
        background: #0c0c0c;
    }
    .header_old_mod_003 .div-logo>.logo-header>a>img {
        width: inherit;
        float: inherit;
    }
}

.header_old_mod_003 nav#menuHeader {
    background: none;
    border: 0;
    margin-bottom: 0px;
}

.header_old_mod_003 #header div#navbarCollapse {
    margin-top: 50px;
    margin-right: 7px;
    float: right;
}

.header_old_mod_003 nav#menuHeader,
.header_old_mod_003 #header div#navbarCollapse {
    margin: 0;
    padding: 0px;
}

@media all and (max-width: 768px) {
    .header_old_mod_003 nav#menuHeader,
    .header_old_mod_003 #header div#navbarCollapse {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.header_old_mod_003 #header div#navbarCollapse {
    float: left;
    width: 100%;
}

.header_old_mod_003 .navbar-default .navbar-nav>li>a {
    color: #fdb515;
    font-weight: bold;
    padding: 30px 10px;
    font-size: 13px;
    transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
}

.header_old_mod_003 .navbar-default .navbar-nav>li>a {
    padding: 12px 10px;
    font-size: 12px;
}

.header_old_mod_003 #header .enderecoHeader .endHeader,
.header_old_mod_003 #header .enderecoHeader .telHeader {
    float: none !important;
    text-align: center;
}