<div class="img-i006 full-w pad-default-elements">
    <div class="container">
        <div class="row v-align-children">
            <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                <img data-image="true" alt="" src="img/carro.png">
            </div>
            <div class="col-md-6 col-sm-5 col-sm-offset-1">
                <h3 data-editable="true">Lorem Ipsum is simply dummy text of the printing</h3>
                <p data-editable="true">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book.
                </p>
                <a class="btn-filled btn btn-color layout-btn" href="#" data-link="true"><span data-editable="true">Saiba mais</span></a>
            </div>
        </div>
    </div>
</div>