<section class="x_component_footer_cod_172 pad-default-element">
    <div class="container">
        <div class="row text-xs-center">
            <div class="col-sm-6 col-md-3">
                <div class="footer-logo-area">
                    <div class="title-area">
                        <img data-image="true" src="http://srv4.vmwm.com.br/img/logolegal.png" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-menu">
                    <ul class="list-unstyled">
                        <li class="active">
                            <div data-editable="true">
                                Home
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Services
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Coupon
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Fund raising
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Contact us
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="visible-xs">
            <div class="col-sm-6 col-md-3">
                <address class="contact-info">
                            <div class="font-description address-data" data-editable="true">9870 St Vincent Place,
                                Glasgow, DC 45 Fr 45.</div>
                            <dl>
                                <dt data-editable="true">Telephone</dt>
                                <dd data-editable="true" class="phone">+1 800 603 6035</dd>
                            </dl>
                            <dl>
                                <dt data-editable="true">E-mail</dt>
                                <dd data-editable="true" class="email">mail@demolink.org</dd>
                            </dl>
                        </address>
            </div>
            <hr class="visible-xs">
            <div class="col-sm-6 col-md-3">
                <div class="social-block sm-visibility">
                    <h3 data-editable="true" class="social-header">Social media</h3>
                    <ul class="list-unstyled list-inline footer-social" data-social="true">
                        <li><a class="color-default-hover" target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row text-xs-center">
                <div class="col-sm-6">
                    <div data-editable="true">
                        Copyright 2017 © Car wash All rights reserved.
                    </div>
                </div>
                <div class="col-sm-6">
                    <div data-editable="true" class="text-right text-xs-center"> Terms of use | Privacy Policy</div>
                </div>
            </div>
        </div>
    </div>
    <div data-map="true" data-type="map" id="map"></div>
</section>