<section class="x_component_footer_cod_187 pad-default-element">
    <div class="container">
        <div class="row text-xs-center">
            <h1 data-editable="true" class="footer-module-title text-center">Contato</h1>

            <div class="col-sm-5 col-sm-push-7">
                <form data-form-type="contato" data-form-layout="contato-8"></form>
            </div>
            <div class="col-sm-7 col-sm-pull-5">

                <ul class="list-unstyled contact-info">
                    <li>
                        <i data-icon="true" class="fa fa-home color-default" aria-hidden="true"></i>
                        <div data-editable="true">
                            R. endereço, 999 - São Paulo, SP
                        </div>
                    </li>
                    <li>
                        <i data-icon="true" class="fa fa-phone color-default" aria-hidden="true"></i>
                        <div data-editable="true">
                            (11) 99999-9999
                        </div>
                    </li>
                    <li>
                        <i data-icon="true" class="fa fa-clock-o color-default" aria-hidden="true"></i>
                        <div data-editable="true">
                            7 dias na semana das 9:00 as 19:00
                        </div>
                    </li>
                    <li class="text-lowercase">
                        <i data-icon="true" class="fa fa-envelope color-default" aria-hidden="true"></i>
                        <div data-editable="true">
                            email@email.com
                        </div>
                    </li>
                </ul>
                <ul class="list-unstyled list-inline footer-social" data-social="true">
                    <li><a class="color-default-hover" target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a></li>
                </ul>
            </div>


        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <div data-editable="true">
                        Webmotors Sites © 2017
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>