<section class="x_component_footer_cod_091 pad-default-element">
  <div class="container-fluid no-padding">
    <div class="row text-xs-center no-padding">
      <div class="col-md-4 col-md-offset-1">
        <h1 class="font-title text-uppercase footer-module-title" data-editable="true">CONTACTS</h1>
        <ul class="contacts list-unstyled">
          <li>
            <div data-editable="true">
              Free Phone: 800-2345-6789
            </div>
          </li>
          <li>
            <div data-editable="true">
              Address: 4578 Marmora Road,Glasgow D04 89GR
            </div>
          </li>
          <li>
            <div data-editable="true">
              Hours: 6am-4pm PST M-Th; 6am-3pm PST Fri
            </div>
          </li>
          <li>
            <div data-editable="true">
              Email: info@demolink.org
            </div>
          </li>
        </ul>

        <div class="copyright">
          <div class="container">
            <div class="row no-padding">
              <div class="col-xs-12 text-xs-center no-padding">
                <div data-editable="true">LIMOUSINE Services © 2016. Privacy Policy</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div data-map="true" data-type="map" id="map"> </div>
      </div>
    </div>
  </div>
</section>