<section class="aba-a005 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbed-content button-tabs text-center">
                    <ul class="tabs thirds">
                        <li class="active">
                            <div class="tab-title btn-color">
                                <div data-editable="true">Tab 1</div>
                            </div>

                        </li>
                        <li>
                            <div class="tab-title btn-color">
                                <div data-editable="true">Tab 2</div>
                            </div>

                        </li>
                        <li>
                            <div class="tab-title btn-color">
                                <div data-editable="true">Tab 3</div>
                            </div>

                        </li>
                    </ul>
                    <ul class="content">
                        <li class="active">
                            <div class="tab-content text-center">
                                <div>
                                    <div class="overflow-hidden">
                                        <img alt="" src="/uploads/elements/c1fa186cd8246dd7923fa4eed9cda788/img/avatar.png" data-image="true">
                                        <div class="cont-abas-text-title">
                                            <h1 data-editable="true">Nome</h1>
                                        </div>
                                    </div>
                                    <div data-editable="true" class="text-description">
                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                        ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-content text-center">
                                <div>
                                    <div class="overflow-hidden">
                                        <img alt="" src="/uploads/elements/c1fa186cd8246dd7923fa4eed9cda788/img/avatar.png" data-image="true">
                                        <div class="cont-abas-text-title">
                                            <h1 data-editable="true">Nome</h1>
                                        </div>
                                    </div>
                                    <div data-editable="true" class="text-description">
                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                                        animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                                        possimus, omnis voluptas assumenda.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-content text-center">
                                <div>
                                    <div class="overflow-hidden">
                                        <img alt="" src="/uploads/elements/c1fa186cd8246dd7923fa4eed9cda788/img/avatar.png">
                                        <div class="cont-abas-text-title">
                                            <h1 data-editable="true">Nome</h1>
                                        </div>
                                    </div>
                                    <div data-editable="true" class="text-description">
                                        Sed ut persiatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                        sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>