<section class="x_component_slider_cod_032 pad-default-elements">
  <div id="carousel-generic" class="carousel slide">
    <ol class="carousel-indicators hidden-xs">
      <li data-target="#carousel-generic" data-slide-to="0" class="active background-theme" data-banner-indicator-template="true"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active" data-banner-template="true">
        <a href="javascript:void(0);">
          <img src="http://placehold.it/1080x500?text=Imagem+do+banner" alt="" width="100%">
        </a>
        <video class="video-player-no-controls video-template"  muted="true" width="100%" height="100%" src=""></video>
        <div class="bs-slider-overlay">
          <h1 class="font-title slider-title" data-editable="true">LUXURY.</h1>
          <h3 class="font-subtitle slider-sub-title" data-editable="true">PROFESSIONAL LIMO SERVICES</h3>
        </div>
      </div>
    </div>
  </div>
</section>