<section class="img-i020 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 project">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/empresa.jpg" data-image="true">
                    <div class="hover-state">
                        <h1 class="" data-editable="true">EMPRESA </h1>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 project">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/empresa.jpg" data-image="true">
                    <div class="hover-state">
                        <h1 class="" data-editable="true">EMPRESA </h1>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 project">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/empresa.jpg" data-image="true">
                    <div class="hover-state">
                        <h1 class="" data-editable="true">EMPRESA </h1>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 project">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/empresa.jpg" data-image="true">
                    <div class="hover-state">
                        <h1 class="" data-editable="true">EMPRESA </h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 project">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/empresa.jpg" data-image="true">
                    <div class="hover-state">
                        <h1 class="" data-editable="true">EMPRESA </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>