.cta-c004{
    background: #222;
    color: #fff;
}
.cta-c004 .lead {
  font-size: 16px;
}
.cta-c004 button[type="submit"].hollow {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.cta-c004 form.halves button {
	width: 46%;
    height: 50px;
  	float: right;
  	margin-left: 2.5%;
  	margin-bottom: 16px;
}

.cta-c004 input.transparent,
.cta-c004 button.transparent {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
}
.cta-c004 input[type="email"] {
    width: 50%;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
    border: 1px solid #fff;
}

@media all and (max-width: 990px) {
  .cta-c004 form.halves button {
    width: 100%;
    margin-bottom: 8px;
  }
  .cta-c004 input[type="email"] {
    width: 100%;
  }
}