.menu-m007 {
    background: rgba(255, 255, 255, 0.95);
    z-index: 2;
    position: relative;
}

.menu-m007 .image-xxs {
    max-height: 40px;
}

.menu-m007 ul {
    list-style: none;
}

.menu-m007 ul.bullets {
    list-style: inside;
}

.menu-m007 .inline-block {
    display: inline-block;
}

.menu-m007 .list-inline {
    margin-left: 0;
}

.menu-m007 .list-inline>li {
    padding: 0 8px;
}

.menu-m007 .list-inline>li:last-child {
    padding-right: 0;
    padding-left: 0;
}

.menu-m007 .right {
    right: 0;
}

.menu-m007 .sub {
    font-size: 12px;
}

.menu-m007 nav {
    -webkit-backface-visibility: hidden;
    max-width: 100%;
}

.menu-m007 nav ul {
    margin-bottom: 0;
}

.menu-m007 .module {
    display: inline-block;
    padding: 0 32px;
}

.menu-m007 .module-group {
    display: inline-block;
}

.menu-m007 .module.right,
.menu-m007 .module-group.right {
    float: right;
}

.menu-m007 .nav-bar {
    height: 100px;
    max-height: 100px;
    line-height: 100px;
}

.menu-m007 .nav-bar .module,
.menu-m007 .nav-bar .module-group {
    height: 55px;
}

.menu-m007 .nav-bar a {
    display: inline-block;
    height: 55px;
}

.menu-m007 .has-dropdown:after {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

.menu-m007 .menu {
    width: 100%;
    height: 55px;
}

.menu-m007 .menu.inline-block {
    width: auto;
}

.menu-m007 .menu li a {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #292929;
    opacity: 0.5;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    max-width: 100%;
    white-space: normal;
    text-decoration: none;
}

.menu-m007 .menu li a:hover {
    opacity: 1 !important;
}

.menu-m007 .menu>li {
    margin-right: 32px;
    float: left;
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
}

.menu-m007 .menu>li:last-child {
    margin-right: 0;
}

.menu-m007 .menu>li:last-child>ul {
    right: 0;
}

.menu-m007 .menu>li:last-child>ul ul {
    left: auto;
    right: 100%;
}

.menu-m007 .menu>li ul {
    display: block;
    width: 200px;
    padding: 8px 0;
    background: #fff;
    position: absolute;
    z-index: 99;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    visibility: hidden;
    margin-top: -1px;
    background-color: rgba(113, 113, 113, 0.4);
    border: 1px solid rgba(113, 113, 113, 0.3);
}

.menu-m007 .dropdown-menu>li>a:hover {
    margin-left: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    background: transparent;
}

.menu-m007 .menu>li>ul>li {
    position: relative;
    line-height: 24px;
    width: 100%;
    vertical-align: top;
}

.menu-m007 .menu>li>ul>li i {
    display: inline-block;
    margin-right: 2px;
}

.menu-m007 .menu>li>ul>.has-dropdown:after {
    color: #fff;
    top: 5px;
    right: 24px;
    content: "\e649";
}

.menu-m007 .menu>li>ul li a {
    color: #292929;
    height: auto;
    padding: 6px 24px;
    background: none;
}

.menu-m007 .menu>li>ul>li>ul {
    left: 100%;
    top: 0;
}

.menu-m007 .menu>li:hover>ul {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    visibility: visible;
}

.menu-m007 .menu>li>ul>li:hover>ul {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    visibility: visible;
}

.menu-m007 .module.widget-handle {
    border-left: 1px solid #ccc;
    padding: 0 24px;
    cursor: pointer;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.menu-m007 .module.widget-handle i {
    font-size: 20px;
    line-height: 53px;
    opacity: 0.5;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.menu-m007 .module.widget-handle:hover i,
.menu-m007 .module.active i {
    opacity: 1;
}

.menu-m007 nav .widget {
    margin: 0;
    padding: 24px;
}

.menu-m007 .nav-open {
    max-height: 10000px !important;
    height: auto !important;
}

.menu-m007 .nav-open .mobile-toggle {
    border-bottom: 1px solid #ccc;
}

@media all and (max-width: 1100px) {
    .menu-m007 .module.widget-handle {
        padding: 0 16px;
    }
}

@media all and (max-width: 1120px) {
    .menu-m007 .menu>li {
        margin-right: 24px;
    }
}

@media all and (max-width: 990px) {
    .menu-m007 .menu>li ul {
        background-color: rgba(113, 113, 113, 1);
    }
    .menu-m007 .nav-bar {
        height: 55px;
        max-height: 55px;
        line-height: 53px;
    }
    .menu-m007 .image-xxs {
        max-height: 30px;
    }
    .menu-m007 .nav-bar,
    .menu-m007 .nav-bar .module-group,
    .menu-m007 .nav-bar .module {
        height: auto;
        overflow: hidden;
    }
    .menu-m007 .nav-bar .module {
        padding: 0 16px;
    }
    .menu-m007 .nav-bar .module-group {
        width: 100%;
        padding: 16px 0;
    }
    .menu-m007 .nav-bar .module-group .module {
        display: block;
        float: none;
        width: 100%;
    }
    .menu-m007 .menu {
        height: auto;
    }
    .menu-m007 .menu.inline-block {
        width: 100%;
    }
    .menu-m007 .menu a {
        height: auto;
        line-height: 24px;
        padding: 4px 0;
    }
    .menu-m007 .menu li {
        line-height: 24px;
        float: none;
        display: block;
        width: 100%;
        max-width: 100%;
    }
    .menu-m007 ul.menu-half.menu {
        min-height: 130px;
    }
    .menu-m007 .menu>li>ul>.has-dropdown:after {
        content: "\e64b";
    }
    .menu-m007 .menu>li>ul>li>ul {
        left: 0;
        display: none;
        padding: 0;
    }
    .menu-m007 .menu>li>ul li a,
    .menu-m007 .mega-menu .title {
        padding: 4px 16px;
    }
    .menu-m007 .has-dropdown .has-dropdown li {
        padding-left: 18px;
    }
    .menu-m007 .has-dropdown {
        padding-right: 0;
    }
    .menu-m007 .mega-menu {
        margin-left: 0 !important;
    }
    .menu-m007 .mega-menu li {
        width: 100% !important;
    }
    .menu-m007 .toggle-sub>ul,
    .menu-m007 .toggle-sub .mega-menu ul {
        display: block !important;
    }
    .menu-m007 .module.widget-handle {
        border-left: none;
        border-top: 1px solid #ccc;
        line-height: 40px;
        min-height: 40px;
    }
    .menu-m007 .module.widget-handle .menu {
        line-height: 40px;
    }
    .menu-m007 .module.widget-handle .menu li {
        line-height: 40px;
    }
    .menu-m007 .module.widget-handle i {
        line-height: 40px;
    }
    .menu-m007 .mobile-toggle {
        border-left: 1px solid #ccc !important;
        border-bottom: none !important;
    }
    .menu-m007 .mobile-toggle i {
        line-height: 53px !important;
    }
    .menu-m007 .mobile-toggle.absolute-xs {
        position: absolute;
        top: 0;
    }
    .menu-m007 .menu>li:last-child>ul ul {
        right: 0;
    }
}