.x_component_header_cod_200 {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
}

.x_component_header_cod_200 .inline-block {
    display: inline-block;
}

.x_component_header_cod_200 .inline-block {
    display: inline-block;
}

.x_component_header_cod_200 .navbar-right {
    margin: 0;
}

@media all and (min-width: 1200px) {
    .x_component_header_cod_200 .container {
        width: 1200px;
    }
}

.x_component_header_cod_200 .site-header {
    padding: 30px 0 0 0;
}

.x_component_header_cod_200 .site-header .header-left,
.x_component_header_cod_200 .site-header .logo,
.x_component_header_cod_200 .site-header .header-right {
    display: inline-block;
    float: none;
}

.x_component_header_cod_200 .site-header .header-top-small-text {
    font-size: 12px;
    line-height: 14px;
}

.x_component_header_cod_200 .site-header .header-top-small-text .phone-number {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3.5px;
    font-weight: bold;
    padding-top: 5px;
}

.x_component_header_cod_200 .site-header .header-top-small-text .phone-number i {
    font-size: 24px;
}

.x_component_header_cod_200 .site-header .header-top-small-text .top-small-text {
    font-style: italic;
}

.x_component_header_cod_200 .site-header .logo {
    text-align: center;
    padding-top: 2px;
}

.x_component_header_cod_200 .site-header .logo img {
    max-width: 155px;
}

.x_component_header_cod_200 .site-header .language {
    margin-right: 18px;
}

.x_component_header_cod_200 .site-header .language,
.x_component_header_cod_200 .site-header .currency {
    width: auto;
    position: relative;
}

.x_component_header_cod_200 .site-header .language i,
.x_component_header_cod_200 .site-header .currency i {
    font-size: 12px;
}

.x_component_header_cod_200 .site-header .language>a,
.x_component_header_cod_200 .site-header .currency>a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.x_component_header_cod_200 .site-header .currency>a {
    font-size: 15px;
}

.x_component_header_cod_200 .site-header .toggle-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    position: absolute;
    top: 40px;
    z-index: 10;
    right: 0;
    width: 170px;
    border: 1px solid #cacaca;
    padding: 20px;
    margin: 0;
    background: #fff;
}

.x_component_header_cod_200 .site-header .toggle-menu li {
    list-style-type: none;
    display: list-item;
}

.x_component_header_cod_200 .site-header .toggle-menu li a {
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}

.x_component_header_cod_200 .site-header .language li.active a::before,
.x_component_header_cod_200 .site-header .currency li.active a::before {
    left: 0%;
    width: 100%;
}

.x_component_header_cod_200 .site-header .language li a:before,
.x_component_header_cod_200 .site-header .currency li a:before {
    position: absolute;
    display: inline-block;
    top: 100%;
    left: 50%;
    width: 0%;
    height: 1px;
    content: '';
    background: #cecece;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.x_component_header_cod_200 .site-header .language li:nth-child(2) a:before,
.x_component_header_cod_200 .site-header .currency li:nth-child(2) a:before {
    height: 1px;
}

.x_component_header_cod_200 .site-header .language li:nth-child(2):hover>a:before,
.x_component_header_cod_200 .site-header .language li:nth-child(3):hover>a:before,
.x_component_header_cod_200 .site-header .currency li:nth-child(1):hover>a:before,
.x_component_header_cod_200 .site-header .currency li:nth-child(2):hover>a:before {
    left: 0%;
    width: 100%;
}

.x_component_header_cod_200 .site-header .open .toggle-menu,
.x_component_header_cod_200 .site-header .menu-open .toggle-menu {
    visibility: visible;
    opacity: 1;
    top: 25px;
}

.x_component_header_cod_200 .site-header .cart-menu,
.x_component_header_cod_200 .site-header .header-cart-search {
    clear: both;
    width: auto;
}

.x_component_header_cod_200 .site-header .cart-menu {
    padding: 30px 0;
    margin: 0;
}

.x_component_header_cod_200 .site-header .cart-menu li {
    list-style-type: none;
    display: inline-block;
    padding: 0 12px;
}

.x_component_header_cod_200 .site-header .cart-menu li a {
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    letter-spacing: .5px;
}

.x_component_header_cod_200 .site-header .cart-menu li a i {
    display: none;
}

.x_component_header_cod_200 .site-header .cart-menu li a:before {
    position: absolute;
    display: inline-block;
    top: 100%;
    left: 50%;
    width: 0%;
    height: 1px;
    content: '';
    background: #cecece;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.x_component_header_cod_200 .site-header .cart-menu li:hover>a:before {
    left: 0%;
    width: 100%;
}

.x_component_header_cod_200 .site-header .cart-menu li:first-child {
    padding-left: 0;
}

.x_component_header_cod_200 .site-header .cart-menu li:last-child {
    padding-right: 0;
}

.x_component_header_cod_200 .site-header .header-cart-search>button {
    background: transparent;
    border: none;
    padding: 0 0 0 47px;
}

.x_component_header_cod_200 .site-header .header-cart-search>button i {
    font-size: 24px;
    float: left;
}

.x_component_header_cod_200 .site-header .header-cart-search>button .cart-digit {
    display: inline-block;
    padding: 5px 0 0 3px;
}

.x_component_header_cod_200 .site-header .header-cart-search button:hover,
.x_component_header_cod_200 .site-header .header-cart-search button:visited,
.x_component_header_cod_200 .site-header .header-cart-search button:focus,
.x_component_header_cod_200 .site-header .header-cart-search input[type="text"]:hover,
.x_component_header_cod_200 .site-header .header-cart-search input[type="text"]:visited,
.x_component_header_cod_200 .site-header .header-cart-search input[type="text"]:focus {
    outline: 0;
    border: none;
}

.x_component_header_cod_200 .site-header .header-cart-search button:hover,
.x_component_header_cod_200 .site-header .header-cart-search button:visited,
.x_component_header_cod_200 .site-header .header-cart-search button:focus,
.x_component_header_cod_200 .site-header .header-cart-search button:hover i {
    color: #333;
}

.x_component_header_cod_200 .site-header .header-cart-search #search {
    width: auto;
    position: relative;
}

.x_component_header_cod_200 .site-header .header-cart-search #search>button {
    background: transparent;
    border: none;
    padding: 0 0 0 6px;
}

.x_component_header_cod_200 .site-header .header-cart-search #search>button i {
    font-size: 24px;
}

.x_component_header_cod_200 .site-header .header-cart-search #search>input[type="text"] {
    border: none;
    border-bottom: 1px solid #f2f5f7;
    width: 0px;
    color: #cecece;
    position: absolute;
    top: 0;
    right: 30px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    font-size: 14px;
    line-height: 18px;
    height: 27px;
    padding: 4px 0;
    background: #fff;
}

.x_component_header_cod_200 .site-header .header-cart-search #search:hover>input[type="text"] {
    width: 200px;
}

.x_component_header_cod_200 .site-header .navbar {
    background: transparent;
    border: none;
    margin-top: 20px;
}

.x_component_header_cod_200 .site-header .navbar .container-fluid,
.x_component_header_cod_200 .site-header .navbar #navbar {
    padding: 0;
    display: inline-block;
    text-align: center;
    position: relative;
}

.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav {
    padding: 30px 0 0 0;
    width: 100%;
    float: left;
}

.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li {
    padding: 0 22px;
    position: relative;
}

.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li>a,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li>a {
    padding: 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-bottom: 19px;
    position: relative;
}

@media all and (min-width: 768px) {
    .x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li>a:before,
    .x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li>a:before {
        position: absolute;
        display: inline-block;
        top: 100%;
        width: 0%;
        height: 1px;
        content: '';
        background: #cecece;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
        left: 50%;
        height: 5px;
        margin-top: -5px;
    }
}

.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li ul,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li ul {
    z-index: 109;
    left: 0;
    top: 100%;
    width: 289px;
    margin-top: 25px;
    padding: 18px 0 19px;
    box-shadow: none;
    border-radius: 0;
    border-color: #f2f5f7;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
}

.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li ul li,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li ul li {
    position: relative;
    display: list-item;
    padding: 10px 25px 9px 37px;
}

.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li ul li a,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li ul li a {
    letter-spacing: 1.1px;
    font-size: 12px;
    line-height: 19px;
    padding: 0;
    display: inline-block;
    position: relative;
}

.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li ul li a:hover,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li ul li a:hover,
.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li ul li a:focus,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li ul li a:focus {
    background: transparent;
}

@media all and (min-width: 768px) {
    .x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li ul li a:before,
    .x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li ul li a:before {
        position: absolute;
        display: inline-block;
        top: 100%;
        left: 50%;
        width: 0%;
        height: 1px;
        content: '';
        background: #cecece;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }
}

.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li ul li ul,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li ul li ul {
    left: 100%;
    top: -28px;
    margin-left: 4px;
    width: 230px;
}

.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li ul li.dropdown i,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li ul li.dropdown i {
    font-size: 10px;
    color: #cecece;
}

@media all and (min-width: 768px) {
    .x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li ul li:hover>a:before,
    .x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li ul li:hover>a:before {
        left: 0%;
        width: 100%;
    }
    .x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li ul>li.dropdown>a,
    .x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li ul>li.dropdown>a {
        padding-right: 17px;
    }
    .x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li ul>li.dropdown>a:after,
    .x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li ul>li.dropdown>a:after {
        content: '\f078';
        position: absolute;
        right: -8px;
        top: -6px;
        width: 32px;
        height: 32px;
        background: transparent;
        font-family: "FontAwesome";
        text-align: center;
        font-size: 10px;
        line-height: 31px;
    }
}

.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li ul li.dropdown:hover>ul,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li ul li.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

@media all and (min-width: 768px) {
    .x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li:hover>a:before,
    .x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li:hover>a:before {
        left: 50%;
        width: 50px;
        margin-left: -25px;
    }
}

.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li:first-child,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li:first-child {
    padding-left: 0;
}

.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav>li:last-child,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li:last-child {
    padding-right: 0;
}

.x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav li.dropdown:hover>ul,
.x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav li.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

.x_component_header_cod_200 .caret {
    display: none;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .x_component_header_cod_200 .site-header .cart-menu li {
        padding: 0 5px;
    }
    .x_component_header_cod_200 .site-header .header-cart-search>button {
        padding: 0 0 0 15px;
    }
    .x_component_header_cod_200 .site-header .header-cart-search #search {
        width: 238px;
    }
    .x_component_header_cod_200 .site-header .header-cart-search #search>input[type="text"] {
        width: 196px;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li {
        padding: 0 21px;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li>a {
        letter-spacing: 0;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .x_component_header_cod_200 .site-header .header-top-small-text .phone-number {
        font-size: 14px;
        letter-spacing: 0;
    }
    .x_component_header_cod_200 .site-header .header-top-small-text .phone-number i {
        font-size: 18px;
    }
    .x_component_header_cod_200 .site-header .cart-menu li {
        padding: 0 5px;
    }
    .x_component_header_cod_200 .site-header .cart-menu li a {
        font-size: 0px;
    }
    .x_component_header_cod_200 .site-header .cart-menu li a i {
        display: inline-block;
        font-size: 20px;
    }
    .x_component_header_cod_200 .site-header .header-cart-search>button {
        padding: 0 0 0 15px;
    }
    .x_component_header_cod_200 .site-header .header-cart-search #search {
        width: 165px;
    }
    .x_component_header_cod_200 .site-header .header-cart-search #search>input[type="text"] {
        width: 130px;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li {
        padding: 0 6px;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav>li>a {
        letter-spacing: 0;
        font-size: 13px;
    }
    .x_component_header_cod_200 .site-header .header-top-small-text .top-small-text {
        font-size: 11px;
    }
}

@media all and (max-width: 767px) {
    .x_component_header_cod_200 .site-header .navbar #navbar {
        text-align: left;
    }
    .x_component_header_cod_200 .text-center-xs {
        text-align: center;
    }
    .x_component_header_cod_200 .site-header .navbar {
        box-shadow: none;
    }
    .x_component_header_cod_200 .site-header {
        padding: 65px 0 0 0;
    }
    .x_component_header_cod_200 .site-header .header-left,
    .x_component_header_cod_200 .site-header .header-right {
        width: 50%;
        padding-top: 15px;
    }
    .x_component_header_cod_200 .site-header .header-top-small-text .phone-number {
        padding-top: 0px;
    }
    .x_component_header_cod_200 .site-header .cart-menu-wrap {
        position: fixed;
        top: 15px;
        right: 100px;
        z-index: 5;
    }
    .x_component_header_cod_200 .site-header .cart-menu-wrap>a {
        font-size: 18px;
    }
    .x_component_header_cod_200 .site-header .cart-menu-wrap .cart-mobile-toggle-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        position: absolute;
        top: 40px;
        z-index: 10;
        right: 0;
        width: 170px;
        border: 1px solid #cecece;
        padding: 20px;
        margin: 0;
        background: #fff;
    }
    .x_component_header_cod_200 .site-header .header-cart-search>button {
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 5;
        padding: 0;
    }
    .x_component_header_cod_200 .site-header .header-right>div {
        width: 100%;
    }
    .x_component_header_cod_200 .site-header .header-right>div .header-cart-search {
        width: 100%;
    }
    .x_component_header_cod_200 .site-header .header-right>div .header-cart-search #search {
        padding-top: 15px;
        width: 100%;
    }
    .x_component_header_cod_200 .site-header .header-right>div .header-cart-search #search>button {
        z-index: 10;
        position: relative;
        padding-bottom: 5px;
    }
    .x_component_header_cod_200 .site-header .header-right>div .header-cart-search #search>input[type="text"] {
        top: auto;
        bottom: 0;
        width: 100%;
        left: 0;
        right: auto;
    }
    .x_component_header_cod_200 .site-header .navbar-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
        margin: 0;
        padding: 15px;
    }
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button {
        float: left;
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
    }
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button:hover,
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button:focus {
        outline: 0;
    }
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button .icon-bar {
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background: #cecece;
    }
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button .icon-bar+.icon-bar {
        margin-top: 5px;
    }
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button .arrow {
        margin-top: 10px;
        width: 24px;
        height: 4px;
        background-color: #cecece;
        backface-visibility: hidden;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        position: relative;
        padding: 0;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button .arrow:before,
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button .arrow:after {
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 24px;
        height: 4px;
        background-color: #cecece;
        backface-visibility: hidden;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -moz-transform-origin: 1.71429px center;
        -ms-transform-origin: 1.71429px center;
        -o-transform-origin: 1.71429px center;
        -webkit-transform-origin: 1.71429px center;
        transform-origin: 1.71429px center;
    }
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button .arrow:after {
        top: 8px;
    }
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button.active .arrow {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button.active .arrow:before,
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button.active .arrow:after {
        top: 0;
        width: 15px;
    }
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button.active .arrow:before {
        -webkit-transform: rotate3d(0, 0, 1, -40deg);
        transform: rotate3d(0, 0, 1, -40deg);
    }
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button.active .arrow:after {
        -webkit-transform: rotate3d(0, 0, 1, 40deg);
        transform: rotate3d(0, 0, 1, 40deg);
    }
    .x_component_header_cod_200 .site-header .navbar-header .mobile-button.active .icon-bar {
        display: none;
    }
    .x_component_header_cod_200 .site-header .navbar-header .mobile-king {
        font-size: 24px;
        font-weight: bold;
        color: #cecece;
        float: left;
        text-transform: uppercase;
        line-height: 22px;
        padding-left: 10px;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar {
        position: fixed;
        display: block;
        top: 55px;
        left: -250px;
        bottom: -56px;
        width: 250px;
        padding: 0 0 76px;
        background: #222;
        overflow: auto;
        -webkit-box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.05);
        -moz-transform: translateX(-240px);
        -ms-transform: translateX(-240px);
        -o-transform: translateX(-240px);
        -webkit-transform: translateX(-240px);
        transform: translateX(-240px);
        -moz-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
        -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 0.05);
        -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 0.05);
        -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 0.05);
        transition: 0.3s cubic-bezier(0.55, 0, 0.1, 0.05);
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav {
        margin: 0;
        padding: 15px 0 0 0;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li {
        padding: 0;
        position: relative;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li>a {
        display: block;
        color: #333;
        text-transform: uppercase;
        font-weight: 300;
        position: relative;
        font-size: 12px;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li>a {
        padding: 15px 0 15px 15px;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li>a:hover {
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li>ul.dropdown-menu {
        width: 100%;
        border: none;
        padding: 0;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li>ul.dropdown-menu>li {
        padding: 0;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li>ul.dropdown-menu>li a {
        color: #333;
        text-transform: uppercase;
        padding: 15px 0 15px 30px;
        font-size: 14px;
        letter-spacing: 0;
        width: 100%;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li>ul.dropdown-menu>li a:hover {
        color: #fff;
        background: #cecece;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li>ul.dropdown-menu>li>ul.dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        opacity: 1;
        visibility: visible;
        border: none;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li>ul.dropdown-menu>li>ul.dropdown-menu li {
        width: 100%;
        padding: 0;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li>ul.dropdown-menu>li>ul.dropdown-menu li a {
        color: #333;
        text-transform: uppercase;
        position: relative;
        padding: 15px 0 15px 45px;
        font-size: 14px;
        letter-spacing: 0;
        width: 100%;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li>ul.dropdown-menu>li>ul.dropdown-menu li a:hover {
        color: #fff;
        background: #cecece;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav li.open>a {
        color: #fff;
        background-color: #cecece;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li.dropdown:after {
        content: '\f078';
        position: absolute;
        right: 7px;
        top: 9px;
        width: 32px;
        height: 32px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        color: #333;
        font-family: "FontAwesome";
        text-align: center;
        font-size: 12px;
        line-height: 31px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li.dropdown:hover:after {
        color: #fff;
    }
    .x_component_header_cod_200 .site-header .navbar #navbar>ul.navbar-nav>li.open:after {
        color: #fff;
    }
    .x_component_header_cod_200 .site-header #navbar.menu-toggle {
        left: 0px;
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav li.dropdown:hover>ul,
    .x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav li.dropdown:hover>ul {
        visibility: hidden;
        opacity: 0;
    }
    .x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav li.dropdown.open>ul,
    .x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav li.dropdown.open>ul {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
    }
    .x_component_header_cod_200 .site-header .navbar .container-fluid ul.navbar-nav li.dropdown.open:after,
    .x_component_header_cod_200 .site-header .navbar #navbar ul.navbar-nav li.dropdown.open:after {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@media all and (max-width: 430px) {
    .x_component_header_cod_200 .site-header .header-left,
    .x_component_header_cod_200 .site-header .header-right {
        width: 100%;
    }
    .x_component_header_cod_200 .site-header .header-left {
        padding-top: 25px;
    }
}