<section class="social-s004">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center social-space" data-social="true">
                <a class="inline-block" href="#icon-link#">
                    <div class="fa-5x"><i class="#icon-class#"></i></div>
                </a>
            </div>
        </div>
    </div>
</section>