<section class="imagem-i012">
    <div class="image-text">
        <div class="image-bg">
            <div class="cont-img img-overlay">
                <img class="img-responsive" src="img/venda-seu-carro.jpg" data-image="true" alt="" />
                <h1 class="no-mobile">
                    <div class="fa-stack fa-xs"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-car fa-stack-1x"></i></div><span data-editable="true">Venda seu carro </span>
                </h1>
            </div>
        </div>
    </div>
</section>