<section class="img-i005">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
           <img alt="image" class="img-responsive" src="http://srv4.vmwm.com.br/img/car-1.jpg" data-image="true">
        </div>
        <div class="col-md-6 col-xs-12">
            <h1 data-editable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
            <div data-editable="true">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </div>
        </div>
    </div>
  </div>
</section>