<section class="x_component_slider_cod_009 pad-default-elements">
    <div class="container-fluid">
        <div id="carousel-generic" class="carousel slide">
            <div >
                <div class="item">
               
                    <div class="bs-slider-overlay">
                        <h2 class="font-title slider-title" data-editable="true">Lorem ipsum dolor</h2>
                        <h3 class="font-subtitle slider-sub-title" data-editable="true">Lorem ipsum dolor</h3>
                        <div class="font-description slider-description" data-editable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum architecto, praesentium facilis quibusdam laboriosam voluptate quos recusandae, aspernatur inventore, repellendus soluta esse. Commodi a quis non odio nobis eum ducimus.
                        </div>
                        <div class="btn btn-default slider-btn btn-color" data-editable="true">
                            LOREM IPSUM
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>