.highlights-h007 {
    background: #f5f5f5;
}

.highlights-h007 .content-area {
    padding: 70px 0px 70px;
}

.highlights-h007 .delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.highlights-h007 .car-box {
    padding: 0px;
    margin: 0px 0px 30px 0px;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.highlights-h007 .car-box img {
    width: 100%;
    height: 258px;
}

.highlights-h007 .car-box .detail {
    width: 100%;
    padding: 20px;
    background: #fff;
    color: #7b7b7b;
    float: left;
    position: relative;
}

.highlights-h007 .car-box .detail header {
    padding-bottom: 17px;
    margin-bottom: 17px;
    width: 100%;
    border-bottom: 1px solid #ededed;
}

.highlights-h007 .car-box .detail p {
    margin: 0px 0px 17px;
    font-size: 13px;
    line-height: 20px;
}

.highlights-h007 .carbox-overlap-wrapper {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    z-index: 999;
    position: absolute;
    text-align: center;
    color: #fff;
    padding: 20px 25px 25px;
    left: 0px;
    top: 0px;
    webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}

.highlights-h007 .carbox-overlap-wrapper h2 {
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0px;
}

.highlights-h007 .carbox-overlap-wrapper h4 {
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
}

.highlights-h007 .car-box .detail .facilities-list {
    padding: 0px;
    margin: 0px;
}

.highlights-h007 .car-box .detail .facilities-list li {
    list-style: none;
    width: 33%;
    float: left;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 15px;
}

.highlights-h007 .car-box .detail .facilities-list li i {
    margin-right: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #f54747;
}

.highlights-h007 .car-box .detail header .price {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-weight: 600;
    display: block;
    font-size: 17px;
    float: right;
}

.highlights-h007 .car-box .detail header h5 {
    margin: 0px 0px 5px;
    border: none;
    padding: 0px;
}

.highlights-h007 .car-box .detail header .custom-list {
    padding: 0;
    margin: 0;
}

.highlights-h007 .car-box .detail header .custom-list span {
    font-size: 10px;
    list-style: none;
    display: inline-block;
    padding-right: 5px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #7b7b7b;
}

.highlights-h007 .car-box .detail header h5 a {
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

.highlights-h007 .car-box:hover {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 6px 5px 0px rgba(0, 0, 0, 0.1);
}

.highlights-h007 .car-box:hover .carbox-overlap-wrapper {
    display: block;
    top: 0px;
    cursor: pointer;
}

.highlights-h007 .btn-submit {
    padding: 9px 20px;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #e2e2e2;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 2px;
}

.highlights-h007 .partners-block {
    padding: 40px 0;
    background-repeat: repeat;
    background-position: center;
    position: relative;
    text-align: center;
}

.highlights-h007 .partners-block h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
}

.highlights-h007 .carousel-control {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 0%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.highlights-h007 .carousel-control.left {
    background: none;
}

.highlights-h007 .carousel-control.right {
    background: none;
}

.highlights-h007 .destaques-carousel .carousel-control {
    width: 4%;
    background-image: none;
}

.highlights-h007 .destaques-carousel .carousel-control .fa {
    font-size: 38px;
    text-shadow: none;
    color: #777;
    top: 48%;
    font-weight: 300;
}

.highlights-h007 .destaques-carousel img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

@media all and (min-width:768px) {
    .highlights-h007 .destaques-carousel .carousel-inner>.left,
    .highlights-h007 .destaques-carousel .carousel-inner>.prev.right,
    .highlights-h007 .destaques-carousel .carousel-inner>.active {
        left: 0px;
    }
}

@media all and (min-width:992px) {
    .highlights-h007 .destaques-carousel .carousel-inner>.left,
    .highlights-h007 .destaques-carousel .carousel-inner>.prev.right,
    .highlights-h007 .destaques-carousel .carousel-inner>.active {
        left: 0px;
    }
}

@media all and (min-width:768px) {
    .highlights-h007 .destaques-carousel .carousel-inner .cloneditem-1 {
        display: block;
    }
}