.form-agende-seu-servico-001 h1 {
    font-size: 28px;
}

.form-agende-seu-servico-001 .contact_us {
    overflow: hidden;
}

.form-agende-seu-servico-001 .contact_us h1 {
    margin-bottom: 22px;
}

.form-agende-seu-servico-001 .contact_right {
    padding: 0 50px;
}

.form-agende-seu-servico-001 .contact_detail ul {
    padding: 0px;
    margin: 0px;
}

.form-agende-seu-servico-001 .contact_detail li {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0;
    padding: 0 150px 0 0;
}

.form-agende-seu-servico-001 .contact_info_text,
.form-agende-seu-servico-001 .icon_wrap {
    display: table-cell;
    vertical-align: middle;
}

.form-agende-seu-servico-001 .icon_wrap>i {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e5e5;
    border-radius: 50%;
    display: inline-block;
    font-size: 22px;
    height: 44px;
    line-height: 44px;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
    width: 44px;
}

.form-agende-seu-servico-001 span {
    color: #e22834;
}

.form-agende-seu-servico-001 .separator {
    margin-bottom: 15px;
}

.form-agende-seu-servico-001 .separator::before {
    content: "";
    display: block;
    position: relative;
    top: -15px;
    height: 1px;
    width: 15%;
    border: 2px solid #cacaca;
    transition: width 0.8s ease, background-color 0.8s ease;
    -webkit-transition: width 0.8s ease, background-color 0.8s ease;
    -o-transition: width 0.8s ease, background-color 0.8s ease;
    -ms-transition: width 0.8s ease, background-color 0.8s ease;
    -moz-transition: width 0.8s ease, background-color 0.8s ease;
}

.form-agende-seu-servico-001 .gray-bg {
    background: #eeeeee;
}

.form-agende-seu-servico-001 .contact_form {
    padding: 28px;
}

.form-agende-seu-servico-001 .form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-agende-seu-servico-001 .contact_form .form-group {
    margin-bottom: 35px;
}

.form-agende-seu-servico-001 .btn {
    border: 5px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    line-height: 30px;
    margin: auto;
    padding: 7px 36px;
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
}

.form-agende-seu-servico-001 .control-label {
    color: #555;
    font-size: 15px;
    font-weight: 700;
}

.form-agende-seu-servico-001 .form-control {
    border-radius: 3px;
    box-shadow: none;
    color: #888888;
    font-size: 15px;
    height: auto;
    line-height: 30px;
    padding: 0 15px;
}

.form-agende-seu-servico-001 .form-height {
    height: 46px;
}

.form-agende-seu-servico-001 .form-control.white_bg {
    background: #fff;
    border: #e6e5e5 solid 1px;
}

.form-agende-seu-servico-001 .contact_form .form-control {
    margin-bottom: 8px;
}