.service-s003 {
    background: #f8f8f8;
    color: #999;
}

.service-s003 .icon {
    font-size: 64px;
    display: inline-block;
}

.service-s003 .icon-service-003 {
    height: auto;
}

.service-s003 .icon-service-003>i {
    font-size: 64px;
    line-height: 35px;
}

.service-s003 .mb16 {
    margin-bottom: 16px;
}

.service-s003 .mb64 {
    margin-bottom: 64px;
}

.service-s003 .mb40 {
    margin-bottom: 40px;
}

@media all and (max-width: 990px) {
    .service-s003 .mb-xs-24 {
        margin-bottom: 24px;
    }
    .service-s003 .icon-service-003 {
        height: auto;
    }
    .text-center-xs {
        text-align: center;
    }
}