<section class="slider_012 reset">
    <div id="slider_012" class="carousel slide" data-ride="carousel">
        <div data-banner-template="true" class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="http://placehold.it/1080x500?text=Imagem+do+banner" alt="">
                <video class="video-player-no-controls" muted="true" width="100%" height="100%" src=""></video>
            </div>
            <a class="left carousel-control" href="#slider_012" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#slider_012" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
 	</div>
</section>