<section class="img-midle_010">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img data-image="true" class="img-responsive" src="assets/img/banner-midel.jpg" alt="">
            </div>
        </div>
    </div>
</section>