<section class="footer-f003 text-center">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="#">
                        <img class="logo mb32" alt="" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=25698" data-image="true">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="cont-list-footer col-md-3 col-sm-4">
                    <h1 class="lead" data-editable="true">Links</h1>
                    <ul>
                        <li>
                            <div class="mb16 color-default" data-editable="true">LINK 1</div>
                        </li>
                        <li>
                            <div class="mb16 color-default " data-editable="true">LINK 2</div>
                        </li>
                    </ul>
                </div>
                <hr class="visible-xs">
                <div class="cont-list-footer col-md-3 col-sm-4">
                    <h1 class="lead" data-editable="true">Links</h1>
                    <ul>
                        <li>
                            <div class="mb16 color-default " data-editable="true">LINK 3</div>
                        </li>
                    </ul>
                </div>
                <hr class="visible-xs">
                <div class="col-md-6 col-sm-4">
                    <h1 class="lead" data-editable="true">Siga-nos</h1>
                    <ul class="list-inline social-list color-default" data-social="true">
                        <li>
                            <a href="#icon-link#" target="_blank"> <i class="#icon-class#" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center mt24">
                    <div data-editable="true">© Copyright 2017 WebMotors - Todos os Direitos Reservados</div>
                </div>
            </div>
        </div>
    </footer>
</section>