.aba-a003 {
    color: #666;
}

.aba-a003 .tabbed-content .content>li {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    display: none;
}

.aba-a003 .tabbed-content .content .active {
    opacity: 1;
    visibility: visible;
    display: block;
}

.aba-a003 .text-description {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    line-height: 24px;
    color: #666;
    overflow-x: hidden;
}

.aba-a003 .tabs li {
    display: inline-block;
    cursor: pointer;
}

.aba-a003 .icon-tabs .tabs li {
    width: 24.5%;
    margin-bottom: 24px;
}

.aba-a003 .icon-tabs .tab-title {
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0.5;
}

.aba-a003 .icon {
    font-size: 64px;
    display: inline-block;
    color: #292929;
}

.aba-a003 .icon-tabs .tab-title i {
    display: block;
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 1.5;
    width: auto;
}

.aba-a003 .icon-tabs .tab-title:hover {
    opacity: 1;
}

.aba-a003 .icon-tabs .active .tab-title {
    opacity: 1;
}

@media all and (max-width: 480px) {
    .aba-a003 .icon-tabs .tabs li {
        width: 100%;
        display: block;
    }
}