.highlights-h011 {
    color: #fff;
}

.highlights-h011 .no-padding {
    padding: 0;
}

.highlights-h011 .main-container {
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.highlights-h011 .portfolio-box {
    position: relative;
}

.highlights-h011 .portfolio-box::before,
.highlights-h011 .portfolio-box::after,
.highlights-h011 .portfolio-box .portfolio-content {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.highlights-h011 .portfolio-box::before,
.highlights-h011 .portfolio-box::after {
    /*content: "";*/
    display: inline-block;
    position: absolute;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
}

.highlights-h011 .portfolio-box::before {
    /*background-color: rgba(0, 0, 0, 0.8);*/
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.8;
}

.highlights-h011 .portfolio-box::after {
    border: 1px solid #fff;
    bottom: 10px;
    top: 10px;
    left: 10px;
    right: 10px;
}

.highlights-h011 .portfolio-box:hover::before,
.highlights-h011 .portfolio-box:hover::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
}

.highlights-h011 img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.highlights-h011 .portfolio-section .portfolio-box>img:hover {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}

.highlights-h011 .portfolio-box .portfolio-content {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    text-align: center;
    transform: translate(0%, -50%) scale(0);
    -webkit-transform: translate(0%, -50%) scale(0);
    -moz-transform: translate(0%, -50%) scale(0);
    -ms-transform: translate(0%, -50%) scale(0);
    opacity: 0;
    z-index: 1;
}

.highlights-h011 .portfolio-box .portfolio-content h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    padding: 0 72px;
    display: inline-block;
    letter-spacing: 0.56px;
}


/*
.highlights-h011 .portfolio-box .portfolio-content h3::before,
.highlights-h011 .portfolio-box .portfolio-content h3::after {
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.highlights-h011 .portfolio-box .portfolio-content h3::before,
.highlights-h011 .portfolio-box .portfolio-content h3::after {
    background-color: #fff;
    content: "";
    height: 1px;
    width: 62px;
    position: absolute;
    top: 50%;
}*/


/*.highlights-h011 .portfolio-box .portfolio-content h3::before {
    left: 0px;
}

.highlights-h011 .portfolio-box .portfolio-content h3::after {
    right: 0px;
}*/

.highlights-h011 .portfolio-box .portfolio-content .brand-car {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 15px;
    letter-spacing: 0.56px;
}

.highlights-h011 .portfolio-box .portfolio-content .price {
    display: block;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 15px;
    letter-spacing: 0.56px;
    font-weight: bold;
}

.highlights-h011 .portfolio-box .portfolio-content ul {
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 25px;
}

.highlights-h011 .portfolio-box .portfolio-content ul li {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}

.highlights-h011 .portfolio-box .portfolio-content ul li>i {
    font-size: 12px;
    width: 34px;
    height: 34px;
    border: 2px solid #fff;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    text-align: center;
    border-radius: 100%;
    text-decoration: none;
}

.highlights-h011 .portfolio-box:hover .portfolio-content {
    opacity: 1;
    transform: translate(0%, -50%) scale(1);
    -webkit-transform: translate(0%, -50%) scale(1);
    -moz-transform: translate(0%, -50%) scale(1);
    -ms-transform: translate(0%, -50%) scale(1);
}