.aba-a006 {
  background: #fff;
}
.aba-a006 .vertical.button-tabs {
    overflow: hidden;
}

.aba-a006 .tabs {
    overflow: hidden;
}
.aba-a006 .button-tabs .tabs {
    display: inline-block;
    overflow: hidden;
}

.aba-a006 .vertical.button-tabs>.tabs {
    max-width: 30%;
    float: left;
    margin-top: 50px;
}

.aba-a006 .vertical.button-tabs>.content {
    padding-left: 3%;
    max-width: 70%;
    float: right;
}


.aba-a006 .tabbed-content .content .active {
    opacity: 1;
    visibility: visible;
    display: block;
}

.aba-a006 h5.uppercase {
    letter-spacing: 2px;
    margin-right: -2px;
}

.aba-a006 p,
.aba-a006 span {
    font-weight: 400;
}

.aba-a006 .text-description {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    line-height: 24px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    overflow-x: hidden;
}

.aba-a006 .tabs li {
    display: inline-block;
    cursor: pointer;
}

.aba-a006 .button-tabs .tabs>li {
    margin-bottom: 8px;
    float: left;
}

.aba-a006 .button-tabs .tabs>li:last-child {
    margin-right: 0px;
}

.aba-a006 .button-tabs .tab-title {
    padding: 13px;
    display: inline-block;
    text-align: center;
    min-width: 150px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.aba-a006 .button-tabs .active .tab-title {
    background: #104d7f;
    color: #ffffff;
}

.aba-a006 .vertical.button-tabs>.tabs li,
.aba-a006 .vertical.button-tabs .tab-title {
    width: 100%;
}

.aba-a006 .vertical.button-tabs>.tabs li {
    margin-bottom: 10px;
}

@media all and (max-width: 767px) {
    .aba-a006 .button-tabs .tabs li {
        width: 49%;
        margin-bottom: 15px;
    }
    .aba-a006 .button-tabs.vertical .tabs,
    .aba-a006 .button-tabs.vertical .content {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
    }
}