
.highlights-h001 .image-box .box,
.highlights-h001 .image-box.box {
    text-align: left;
    background: #fff;
    margin-bottom: 30px;
    border: 1px solid #ececec;
}

.highlights-h001 .image-box .box img,
.highlights-h001 .image-box.box img {
    width: 100%;
    height: auto;
  	max-height: 136px;
}

.highlights-h001 .image-box .box>.details,
.highlights-h001 .image-box.box>.details {
    padding: 12px 15px;
}

.highlights-h001 .image-box .box>.details>*:last-child,
.highlights-h001 .image-box.box>.details>*:last-child {
    margin-bottom: 0;
}

.highlights-h001 .image-box .box .box-title,
.highlights-h001 .image-box.box .box-title {
    margin-bottom: 10px;
    font-size: 16px;
}
.highlights-h001 h1, .highlights-h001 h2, .highlights-h001 h3, .highlights-h001 h4, .highlights-h001 h5, .highlights-h001 h6 {
    margin: 0 0 15px;
    font-weight: normal;
}
.highlights-h001 .box-title small {
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    margin-top: 4px;
}
.highlights-h001 .price {
    font-size: 20px;
    text-transform: uppercase;
    float: right;
    text-align: right;
    line-height: 1;
    display: block;
}
.highlights-h001 .price small {
    display: block;
    font-size: 0.5em;
}
.highlights-h001 .image-box .box .box-title,
.highlights-h001 .image-box.box .box-title {
    margin-bottom: 10px;
    font-size: 16px;
}

.highlights-h001 button,
.highlights-h001 input[type="button"].button,
.highlights-h001 a.button {
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 15px;
    white-space: nowrap;
    text-decoration:none;
}
.highlights-h001 button.btn-small,
.highlights-h001 input[type="button"].button.btn-small,
.highlights-h001 a.button.btn-small {
    height: 28px;
    padding: 0 24px;
    line-height: 28px;
    font-size: 0.9167em;
    width: 100%;
    display: block;
}
.highlights-h001 a.button {
    display: inline-block;
    font-size: 0.8333em;
    line-height: 1.8333em;
    white-space: nowrap;
    text-align: center;
}
/*.highlights-h001 .owl-carousel .owl-item {
    margin-left: -3px;
}
.highlights-h001 .owl-carousel .item {
    margin-left: 85px;
}
.highlights-h001 .owl-carousel {
    margin: 0;
    padding: 0;
}*/
/*@media all and (max-width: 990px){
	.highlights-h001 .owl-carousel {
    margin-left: -40px;
  }
}*/

  
  