.background-theme {
    background-color: red;
}

.header_old_mod_stand_003_v2 .navbar-default-custom {
    border: none;
    border-color: transparent;
    background-color: transparent;
}

.header_old_mod_stand_003_v2 .navbar-brand {
    height: auto;
}

.header_old_mod_stand_003_v2 .navbar-toggle-custom {
    margin-top: 25px;
    border-radius: 0px;
}

.header_old_mod_stand_003_v2 ul {
    float: right;
}

.header_old_mod_stand_003_v2 ul.navbar-nav li {
    border-right: 1px solid #fff;
}

.header_old_mod_stand_003_v2 ul.navbar-nav li:last-child {
    border: none;
}

@media (max-width: 991px) {
    .header_old_mod_stand_003_v2 .navbar-brand-custom {
        float: none;
    }
    .header_old_mod_stand_003_v2 .navbar-brand-custom img {
        margin: auto;
    }
    .header_old_mod_stand_003_v2 ul {
        float: none;
    }
}

@media (max-width: 768px) {
    .header_old_mod_stand_003_v2 ul {
        float: none;
    }
    .header_old_mod_stand_003_v2 ul.navbar-nav {
        text-align: center;
    }
    .header_old_mod_stand_003_v2 ul.navbar-nav li {
        border: none;
    }
}

@media (max-width: 768px) {
    .header_old_mod_stand_003_v2 .navbar-right,
    .header_old_mod_stand_003_v2 .navbar-header {
        float: none!important;
    }
}