<section class="img-i006">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-7 col-xs-12">
                <img data-image="true" alt="" src="img/carro.png">
            </div>
            <div class="col-md-6 col-sm-5 col-xs-12">
                <h1 data-editable="true">Título</h1>
                <div data-editable="true">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book.
                </div>
                <div class="btn btn-color layout-btn" data-editable="true">Saiba mais</div>
            </div>
        </div>
    </div>
</section>