<section class="head-pai-model navbar-wrapper menu-pai">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed ">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#">
                    <img class="logo" alt="" src="assets/img/logo.png" data-image="true">
                </a>
            </div>
            <div class="navbar-collapse ">
                <div class="nav-collapse-header">
                    <div class="img-logo"></div>
                    <div class="redes">
                        <h3 data-editable="true">Bem vindo ao nosso site!</h3>
                        <ul >
                          <li><i class="fa fa-twitter" data-icon="true"></i></li>
                           <li><i class="fa fa-instagram" data-icon="true"></i></li>
                           <li><i class="fa fa-twitter" data-icon="true"></i></li>
                          
                        </ul>
                    </div>
                </div>
                <ul class="nav navbar-nav" data-menu="true">

                </ul>
            </div>
        </div>
    </nav>
 
</section>