#footer {
    background-color: #fff;
}

#footer h1 {
    font-size: 18px;
}

#footer .brand>img {
    width: 100%;
}

#footer .brand-store>img {
    width: 60%;
    margin-top: 32px;
}

#footer .footer-bottom {
    background: #222;
}

#footer .bg-footer {
    background: #222;
}

#footer .text-white {
    color: #fff;
    margin-top: 10px;
}

@media all and (max-width: 768px) {
    #footer .brand-store>img {
        float: none !important;
    }
}