<section class="menu-m013 background-theme navbar-wrapper">
    <div class="nav-container">
        <nav>
            <div class="nav-bar">
                <div class="logoMenu text-center col-md-2 col-md-push-5 col-sm-12">
                    <div class="menu-logo background-theme">
                        <img alt="" class="image-md" data-image="true" src="http://srv4.vmwm.com.br/img/logo-webmotors.png">
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 col-xs-12 col-md-pull-2 overflow-hidden-xs cont-menu color-default">
                    <ul data-menu="true">

                    </ul>
                </div>
                <div class="col-sm-12 col-md-5 col-xs-12 cont-menu-half color-default">
                    <ul class="menu-half">

                    </ul>
                </div>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs absolute-xs">
                <i class="fa fa-bars"></i>
            </div>
        </nav>
    </div>
</section>