.x_component_footer_cod_201 {
    background: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    padding: 60px 0 0 0;
    overflow: hidden;
    color: #072e99;
}

.x_component_footer_cod_201 .no-padding-left {
    padding-left: 0;
}

.x_component_footer_cod_201 .inline-block {
    display: inline-block;
}

.x_component_footer_cod_201 .footer-module-title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 53px;
}

.x_component_footer_cod_201 .footer-menu>li>div>a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    text-transform: uppercase;
    position: relative;
}

.x_component_footer_cod_201 .footer-menu>li>div>a:hover,
.x_component_footer_cod_201 .footer-menu>li>div>a:focus {
    text-decoration: none;
}

.x_component_footer_cod_201 .footer-menu>li>div>a:before {
    position: absolute;
    display: inline-block;
    top: 100%;
    left: 50%;
    width: 0%;
    height: 1px;
    content: '';
    background: rgba(0, 0, 0, 0.4);
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.x_component_footer_cod_201 .footer-menu>li>div>a:hover:before {
    left: 0;
    width: 100%;
}

.x_component_footer_cod_201 .footer-social li {
    margin-right: 15px;
}

.x_component_footer_cod_201 .footer-social li a i {
    font-size: 18px;
}

.x_component_footer_cod_201 .copyright {
    padding: 20px 15px;
    margin-top: 0px;
}

.x_component_footer_cod_201 .copyright .border-footer {
    border-top: 3px solid rgba(0, 0, 0, 0.4);
}

.x_component_footer_cod_201 .logo-box {
    min-height: 10px;
    max-width: 85px;
    margin-top: 12px;
}

.x_component_footer_cod_201 .hour-box {
    text-align: right;
}

.x_component_footer_cod_201 .hour-box .small-text {
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
}

.x_component_footer_cod_201 .contact-box {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.x_component_footer_cod_201 .contact-box i {
    font-size: 27px;
}

.x_component_footer_cod_201 .copyright-box {
    text-align: left;
}

.x_component_footer_cod_201 .copyright-box a {
    text-decoration: none;
    position: relative;
}

.x_component_footer_cod_201 .copyright-box a:hover,
.x_component_footer_cod_201 .copyright-box a:focus {
    text-decoration: none;
}

.x_component_footer_cod_201 .copyright-box a:before {
    position: absolute;
    display: inline-block;
    top: 100%;
    left: 50%;
    width: 0%;
    height: 2px;
    content: '';
    background: rgba(0, 0, 0, 0.4);
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.x_component_footer_cod_201 .copyright-box a:hover:before {
    left: 0;
    width: 100%;
}

.x_component_footer_cod_201 .copyright-box .small-text {
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
}

.x_component_footer_cod_201 .footer-bottom {
    line-height: 80px;
}

@media (min-width: 768px) and (max-width: 992px) {
    .x_component_footer_cod_201 .footer-social {
        float: right;
    }
    .x_component_footer_cod_201 .footer-social li {
        margin-right: 0;
        margin-left: 15px;
    }
    .x_component_footer_cod_201 .logo-box {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .x_component_footer_cod_201 .text-xs-center {
        text-align: center!important;
    }
    .x_component_footer_cod_201 .logo-box {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .x_component_footer_cod_201 .copyright-box {
        text-align: center;
    }
    .x_component_footer_cod_201 .hour-box {
        text-align: center;
    }
    .x_component_footer_cod_201 .copyright-box {
        margin-left: auto;
        margin-right: auto;
    }
}