.x_component_footer_cod_002 {
    background: #191919;
    font-family: 'Ubuntu', sans-serif;
    padding: 60px 0 0 0;
    color: #ffffff;
}

.x_component_footer_cod_002 .footer-module-title {
    font-size: 18px;
    font-weight: bold;
}

.x_component_footer_cod_002 .footer-menu>li>div>a {
    text-decoration: none;
    line-height: 35px;
}

.x_component_footer_cod_002 .footer-menu>li>div>a:hover,
.x_component_footer_cod_002 .footer-menu>li>div>a:focus {
    text-decoration: none;
}

.x_component_footer_cod_002 .footer-menu li.active div a {
    color: #ffffff;
    text-decoration: none;
}

.x_component_footer_cod_002 .contact-info li i {
    width: 15px;
    font-size: 15px;
}

.x_component_footer_cod_002 .contact-info>li>div>a {
    text-decoration: none;
}

.x_component_footer_cod_002 .contact-info>li>div>a:hover {
    text-decoration: none;
}

.x_component_footer_cod_002 .contact-info>li>*:not(i) {
    display: inline-block;
    line-height: 30px;
    margin-left: 5px;
    color: #777;
    text-decoration: none;
}

.x_component_footer_cod_002 .footer-social li {
    width: 55px;
    height: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: relative;
}

.x_component_footer_cod_002 .footer-social li a i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_002 .copyright {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    margin-top: 50px;
}

.x_component_footer_cod_002 .copyright a {
    text-decoration: none;
    color: #fff;
}

.x_component_footer_cod_002 .copyright a:hover,
.x_component_footer_cod_002 .copyright a:focus {
    text-decoration: none;
}

@media (min-width: 1200px)
grid.less:7
.container {
    width: 970px;
}

@media screen and (max-width: 768px) {
    .x_component_footer_cod_002 .text-xs-center {
        text-align: center;
    }
}