.x_component_footer_cod_339 {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

.x_component_footer_cod_339 .footer-social {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.x_component_footer_cod_339 .footer-social li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    border-right: 1px solid #e9e8e9;
    line-height: 20px;
}

.x_component_footer_cod_339 .footer-social li i {
    margin: 10px;
    color: #383338;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_339 .footer-social li:first-child {
    border-left: 1px solid #e9e8e9;
}


/*.x_component_footer_cod_339 .footer-social li:hover > a > i {
  color: #edd47c;
}*/

.x_component_footer_cod_339 .copyright {
    padding: 0 20px;
    border-top: 21px solid #383338;
    background-repeat: no-repeat !important;
    background-position: 50% 0!important;
    height: 315px;
    background-size: cover!important;
    background: url('../img/component_footer_cod_339_02.png');
}

.x_component_footer_cod_339 .copyright img {
    margin-top: 50px;
  	max-height: 115px;
}

.x_component_footer_cod_339 .copyright .copyright-info {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.x_component_footer_cod_339 .copyright .copyright-info a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_339 .copyright .copyright-info a:hover {
    text-decoration: none;
}