<section class="x_component_header_cod_301 navbar-wrapper pull-left">
    <div class="site-header">
        <nav class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12 col-sm-2 pull-right search-cart-area">


                        <div class="box-cart">
                            <div id="cart">
                                <i data-icon="true" class="fa fa-facebook" data-icon="true"></i>
                                <i data-icon="true" class="fa fa-youtube" data-icon="true"></i>
                                <i data-icon="true" class="fa fa-twitter" data-icon="true"></i>
                            </div>
                        </div>

                    </div>
                    <div class="col col-xs-12 col-sm-2 pull-left">
                        <div class="cont_header_infos">
                            <ul>
                                <li><i class="fa fa-map-marker" data-icon="true"></i>
                                    <div class="inline-block" data-editable="true"> Endereço</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-xs-12 col-sm-8 top-navigation-for-mobile">
                        <nav class="top-navigation">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse">
                                    <ul>
                                        <li data-editable="true">Link</li>
                                        <li data-editable="true">Link</li>
                                        <li data-editable="true">Link</li>
                                        <li data-editable="true">Link</li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>

                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col col-xs-12 col-sm-12 logo text-center logo">
                    <img data-image="true" src="http://srv4.vmwm.com.br/img/logo-webmotors.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <article class="site-content">
        <div class="site-main-navigation">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12 col-sm-12">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <div class="visible-xs categories">Menu</div>
                                    <button type="button" class="mobile-button visible-xs"> 
                                            <div class="arrow"></div>
                                        </button>
                                </div>
                                <div id="navbar" class="" aria-expanded="false">
                                    <ul data-menu="true">

                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>