.reser_border {
  border-radius: 0px;
  border: none;
}
.text_old_mod_003 {
  overflow: hidden;
}
.text_old_mod_003 .container {
  position: relative;
}
.text_old_mod_003 a{
  color:#fff;
}
.text_old_mod_003 .container ul {
  padding: 0px;
}
.text_old_mod_003 .container{
  padding:0px
}

.text_old_mod_003 .container .infoBanner .telbanner.padding_top_30{
 padding-top: 30px;
  font-size:20px;
}

.text_old_mod_003 .padding_top_10{
  padding-top: 20px;
}
.text_old_mod_003 .container .infoBanner {
  height: 70px;
  overflow: hidden;
  bottom: 10px;
  padding: 0px;
}
  @media all and (max-width: 991px){
    .text_old_mod_003 .container .infoBanner {
      height: auto;
    }
}
                            }
@media all and (max-width: 991px) {
  .text_old_mod_003 .container .infoBanner {
    text-align: center;
    height: auto;
  }
}
.text_old_mod_003 .container .infoBanner .telbanner {
  background-color: #000;
  padding: 10px;
}
@media all and (max-width: 991px) {
  .text_old_mod_003 .container .infoBanner .telbanner {
    padding-bottom: 29px;
    padding-top: 29px;
  }
}
@media all and (max-width: 991px) {
  .text_old_mod_003 .container .infoBanner .telbanner * {
    display: inline;
  }
  .text_old_mod_003 .container .infoBanner .telbanner div:first-child:after {
    content: "/";
  }
}
.text_old_mod_003 .container .infoBanner .wrap_info {
  height: 70px;
  overflow: hidden;
}
 @media all and (max-width: 991px){
  .text_old_mod_003 .container .infoBanner .wrap_info {
      height: auto;
        text-align: center;
    }
}
.text_old_mod_003 .container .infoBanner .wrap_info .andBanner {
  background-color: #ff0609;
  padding: 10px;
  color: #fff;
   min-height: 80px;
}
  @media all and (max-width: 991px){
  .text_old_mod_003 .container .infoBanner .wrap_info .andBanner {
      height: auto;
    }
}
.text_old_mod_003 .container .infoBanner .wrap_info .andBanner i.fa {
  float: left;
  font-size: 38px;
  padding-top: 10px;
}
@media all and (max-width: 991px) {
  .text_old_mod_003 .container .infoBanner .wrap_info .andBanner i.fa {
    float: none;
  }
}
.text_old_mod_003 .container .infoBanner .wrap_info .andBanner.icon_container {
  text-align: right;
}
.text_old_mod_003 .container .infoBanner .wrap_info .andBanner.icon_container i {
  float: none;
}
@media all and (max-width: 991px) {
  .text_old_mod_003 .container .infoBanner .wrap_info .andBanner.icon_container {
    text-align: center;
  }
}
