<section class="header_old_mod_003 navbar-wrapper">
    <header id="header">
        <article class="principalHeader">
            <div class="container">
                <div class="enderecoHeader col-md-7 col-md-offset-5">
                    <div class="row">
                        <div class="endHeader pull-right"><i class="fa fa-map-marker" data-icon="true"></i>
                            <div data-editble="true"> Matriz: Rua lorem ipsum, 25 - Bairro - Cidade - RJ
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="telHeader pull-right" data-editable="true">Tel: (21) 0000-0000 - lorem@ipsum.com.br</div>
                    </div>
                </div>
                <div clas="row">
                    <div class="col-md-4 div-logo">
                        <div class="logo-header">
                            <div class="center-block"><img class="img-responsive center-block" src="http://webhub.sitewebmotors.com.br/uploads/elements/26ebd71221acba46fc0a94b9ce5887e0/img/logolegal.png" data-image="true"></div>
                        </div>
                    </div>
                    <div class="col-md-8 div-menu">
                        <nav class="navbar navbar-default" id="menuHeader" role="navigation">
                            <div class="navbar-header">
                                <button class="" type="button" data-toggle="collapse" data-target="#navbarCollapse">                    
                                    <span class="sr-only">Navegação Responsiva</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>                
                                </button>
                                <a class="navbar-brand visible-xs-block" href="#">Menu</a>
                            </div>
                            <div class="collapse navbar-collapse" id="navbarCollapse">
                                <ul data-menu="true"></ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </article>
    </header>
</section>