<section class="destaque_old_mod_003 pad-default-elements">
    <article class="container">
        <div class="row">
            <div class="slider-destaque">
                <article class=" item boxDestaque" data-destaque-template="true">
                    <figure class="img-destaque"><img src="#destaqueImage#"></figure>
                    <div class="detalhes ">
                        <div class="info-car">
                            <p class="marca">#destaqueBrand# <span>#destaqueModel#</span></p>
                            <p class="ano">A partir de</p>
                            <p class="preco"><span>R$ #destaquePrice#</span></p>
                        </div>
                        <div class="btn-saibaMais ">
                            <a href="#estoqueLink#" class="btn btn-block btn-sm center-block hidden-xs reset_button layout-btn btn-color" data-link="true">+</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </article>
</section>