<section class="text-t005 pad-default-elements">
    <div class="container">
        <div class="main-title">
            <div data-editable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac tortor at tellus feugiat congue quis ut nunc. Semper ac dolor vitae accumsan. interdum hendrerit lacinia.</div>
        </div>
    </div>
</section>