<div class="head-pai-model">
    <nav class="navbar navbar-default ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
                <a class="navbar-brand" href="#">
                    <img class="logo" alt="Brand" src="assets/img/logo.png" data-image="true">
                </a>
            </div>
            <div class="navbar-collapse">
                <div class="nav-collapse-header">
                    <div class="img-logo"></div>
                    <div class="redes">
                        <h3>Bem vindo ao nosso site!</h3>
                        <ul data-social="true">
                            <li class="fa fa-instagram"></li>
                            <li class="fa fa-facebook"></li>
                            <li class="fa fa-twitter"></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav navbar-nav" data-menu="true">

                </ul>
            </div>
        </div>
    </nav>
</div>