<section class="x_component_slider_cod_324">
    <div class="slide-wrapper">
        <ul id="slides">
            <li data-banner-template="true">
                <a href="#">
                    <img src="http://placehold.it/1080x500?text=Imagem+do+banner"  alt="" />
                </a>
                <video class="video-player-no-controls" muted="true" width="100%" height="100%" src=""></video>
            </li>
        </ul>
    </div>
    <div class="slide-nav-wrapper">
        <ul id="slide-nav">
            
        </ul>
    </div>
</section>