<section id="footer" class="footer-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div class="cont-logo-footer">
                        <img data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=23795" alt="">
                    </div>
                </div>
                <div class="center-block cont-social text-center color-default" data-social="true">
                    <a target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="background-theme">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cont-bootom-footer text-center">
                        <div class="inlines col-md-4">
                            <i class="fa fa-envelope-o " data-icon="true"></i>
                            <div class="color-default" data-editable="true">email@email.com</div>
                        </div>
                        <div class="inlines col-md-4">
                            <i class="fa fa-phone " data-icon="true"></i>
                            <div class="color-default" data-editable="true">(99) 9999.9999</div>
                        </div>
                        <div class="inlines col-md-4">
                            <i class="fa fa-map-signs" data-icon="true"></i>
                            <div class="color-default" data-editable="true">Endereço</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>