<section class="img-i021">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-7 col-xs-12">
                <img data-image="true" class="img-responsive" alt="" src="http://srv4.vmwm.com.br/img/box-azul-car.jpeg">
            </div>
            <div class="col-md-6 col-sm-5 col-xs-12">
                <h1 data-editable="true">Título</h1>
                <div data-editable="true">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book.
                </div>
                <a class="btn btn-color layout-btn" href="javascript:void(0);">
                    <div data-editable="true">Saiba mais</div>
                </a>
            </div>
        </div>
    </div>
</section>