<section class="imagem-i002 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-6 no-padding lib-item box-shadow" >
                <div class="lib-panel">
                    <div class="col-lg-6 padding-0">
                        <a href="javascript:void(0);"><img data-image="true" class="lib-img-show img-responsive" src="http://srv4.vmwm.com.br/img/plat_componentes/6.jpg"></a>
                    </div>
                    <div class="col-lg-6 padding-0">
                        <h1 class="lib-row lib-header" data-editable="true">Escreva um Titulo
                            <div class="lib-header-seperator"></div>
                        </h1>
                        <div class="lib-row lib-desc" data-editable="true">
                            Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-padding lib-item box-shadow" >
                <div class="lib-panel">
                    <div class="col-lg-6 padding-0">
                        <a href="javascript:void(0);"><img data-image="true" class="lib-img img-responsive" src="http://srv4.vmwm.com.br/img/plat_componentes/7.jpg"></a>
                    </div>
                    <div class="col-lg-6 padding-0">
                        <h1 class="lib-row lib-header" data-editable="true">
                            Escreva um Titulo
                            <div class="lib-header-seperator"></div>
                        </h1>
                        <div class="lib-row lib-desc" data-editable="true">
                            Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>