.news-n003{
    color: #000;
}
.news-n003 .no-padding {
    padding: 0;
}

.news-n003 .bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news-n003 .news-grid .noticia-grid__image {
    display: none;
    height: 190px;
    overflow: hidden;
}

.news-n003 .news-grid .noticia-grid__detail {
    padding: 20px 30px;
    min-height: 190px;
    overflow: hidden;
}

.news-n003 .news-grid .noticia-grid__image--bottom {
    display: block;
}

.news-n003 img {
    width: 100%;
    max-width: 100%;
    height: 238px;
}

.news-n003 .full-width {
    width: 100%;
}

.news-n003 .text-uppercase {
    text-transform: uppercase;
}

.news-n003 .text-bold {
    font-weight: bold;
}

.news-n003 .has-line {
    position: relative;
    padding-bottom: 15px;
}

.news-n003 .has-line::after {
    content: "";
    display: block;
    width: 20px;
    height: 0px;
    border-bottom: 1px solid;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.news-n003 .has-accent.has-line::after {
    border-bottom-color: #f3123c;
}

@media all and (min-width: 992px) {
    .news-n003 .news-grid :nth-child(3n-1).noticia-grid .noticia-grid__image--top {
        display: block;
    }
}

@media all and (min-width: 992px) {
    .news-n003 .news-grid :nth-child(3n-1).noticia-grid .noticia-grid__image--bottom {
        display: none;
    }
}