/*LESS VARIABLES*/


/*SECTION CSS*/

.x_component_contact_cod_103 {
    font-size: 15px;
    line-height: 22px;
    color: #655f63;
}

.x_component_contact_cod_103 .row.no-gutters>[class^="col-"],
.x_component_contact_cod_103 .row.no-gutters>[class*=" col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.x_component_contact_cod_103 .color-default {
    color: #655f63;
}

.x_component_contact_cod_103 .font-title {
    font-size: 60px;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2307;
    text-rendering: optimizelegibility;
}

.x_component_contact_cod_103 .moto-spacing-right-auto {
    padding-right: initial;
}

.x_component_contact_cod_103 .moto-spacing-left-auto {
    padding-left: initial;
}

.x_component_contact_cod_103 .moto-spacing-bottom-medium {
    padding-bottom: 30px;
}

.x_component_contact_cod_103 .moto-spacing-top-auto {
    padding-top: initial;
}

.x_component_contact_cod_103 .moto-widget {
    position: relative;
}

.x_component_contact_cod_103 .moto-spacing-right-auto {
    padding-right: initial;
}

.x_component_contact_cod_103 .moto-spacing-left-auto {
    padding-left: initial;
}

.x_component_contact_cod_103 .moto-spacing-bottom-auto {
    padding-bottom: initial;
}

.x_component_contact_cod_103 .moto-spacing-top-auto {
    padding-top: initial;
}

.x_component_contact_cod_103 .moto-widget {
    position: relative;
}

.x_component_contact_cod_103 .moto-widget-contact_form.moto-preset-default .moto-widget-contact_form-form {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

.x_component_contact_cod_103 .moto-widget-contact_form .moto-widget-contact_form-form {
    position: relative;
    overflow: visible;
}

.x_component_contact_cod_103 .moto-widget-contact_form .moto-widget-contact_form-group {
    padding-bottom: 36px;
}

.x_component_contact_cod_103 .moto-widget-contact_form .moto-widget-contact_form-group {
    position: relative;
}

.x_component_contact_cod_103 .moto-widget-contact_form.moto-preset-default .moto-widget-contact_form-form .moto-widget-contact_form-field {
    color: #a2a3ac;
    background-color: #f2f2f2;
    font-style: normal;
    font-weight: 300;
    border-color: transparent;
}

.x_component_contact_cod_103 .moto-widget-contact_form .moto-widget-contact_form-group .moto-widget-contact_form-field {
    font-size: 18px;
    padding: 16px 30px;
    line-height: 18px;
    height: 70px;
    outline: none;
    -webkit-appearance: none;
    border: 2px solid;
}

.x_component_contact_cod_103 .moto-widget-contact_form .moto-widget-contact_form-field {
    display: block;
    width: 100%;
}

.x_component_contact_cod_103 .moto-widget-contact_form.moto-preset-default .moto-widget-contact_form-form .moto-widget-contact_form-field.ng-touched.ng-invalid {
    color: #a2a3ac;
    background-color: #f2f2f2;
    border-color: #a94442;
}

.x_component_contact_cod_103 .moto-widget-contact_form .moto-widget-contact_form-group .moto-widget-contact_form-field.moto-widget-contact_form-textarea {
    height: 460px;
}

.x_component_contact_cod_103 .moto-widget-button.moto-preset-4 .moto-widget-button-link.moto-size-small {
    padding: 18px 25px;
}

.x_component_contact_cod_103 .moto-widget-button.moto-preset-4 .moto-widget-button-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    background-color: #87d76b;
}

.x_component_contact_cod_103 .moto-widget-button .moto-widget-button-link {
    position: relative;
    text-align: center;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: all .3s;
    line-height: 1;
    padding: 24px 47px;
    border: 2px solid;
    border-radius: 3px;
    text-decoration: none;
    border-color: #ccc;
}

.x_component_contact_cod_103 .moto-widget-button .moto-widget-button-link {
    display: inline-block;
    cursor: pointer;
}

.x_component_contact_cod_103 .moto-widget-button.moto-preset-4 .moto-widget-button-link:hover {
    color: #87d76b;
    background-color: transparent;
}

.x_component_contact_cod_103 .moto-widget-text {
    transition: .3s;
}

.x_component_contact_cod_103 .moto-text_normal {
    color: #a2a3ac;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
}

.x_component_contact_cod_103 .moto-text_normal:hover {
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    color: #87d76b;
}