.x_component_services_cod_279 {
    background: url('../../assets/img/COMPONENT-BOXES-COD-279-bg.jpg');
    background-size: cover;
    padding-top: 40px;
    color: #ffffff;
}

.x_component_services_cod_279 .title-text h1 {
    padding-bottom: 4px;
    padding-top: 56px;
    font-size: 63px;
    text-transform: uppercase;
    font-weight: 700;
}

.x_component_services_cod_279 .service-item a {
    text-decoration: none;
}

.x_component_services_cod_279 .service-item h2 {
    font-weight: 400;
    margin-top: 11px;
    text-transform: uppercase;
    font-size: 43px;
    letter-spacing: -3px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.x_component_services_cod_279 .service-item .text-description {
    font-size: 14px;
    margin-top: 28px;
    line-height: 1.78em;
    padding-bottom: 15px;
}

.x_component_services_cod_279 .service-item .button-content i {
    display: block;
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 46px;
    float: left;
    margin: 0px 31px 10px 0px;
    color: #000000;
    perspective: 1px;
    background: #FFF;
}

.x_component_services_cod_279 .service-item .button-content i:before {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 46px;
    color: #000;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.x_component_services_cod_279 .service-item .button-content i:hover:before {
    top: 110%;
}

.x_component_services_cod_279 .service-item .button-content i:after {
    position: absolute;
    top: 100px;
    left: 0;
    content: '\f061';
    font-family: FontAwesome;
    font-size: 46px;
    color: #000;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.x_component_services_cod_279 .service-item .button-content i:hover:after {
    top: 0;
}

@media (max-width: 1199px) {
    .x_component_services_cod_279 .service-item h2 {
        font-size: 21px;
        letter-spacing: 0;
    }
}