<header class="menu-m006 navbar-wrapper">
    <nav class="navbar">
        <div class="nav-utility hidden-xs">
            <div class="module left">
                <div><img alt="" class="image-xxs" data-image="true" src="img/logo.jpg"></div>
            </div>
            <div class="module right">
                <i class="fa fa-whatsapp" data-icon="true"></i>
            </div>
            <div class="module right">
                <i class="fa fa-twitter" data-icon="true"></i>
            </div>
            <div class="module right">
                <i class="fa fa-instagram" data-icon="true"></i>
            </div>
            <div class="module right">
                <i class="fa fa-facebook" data-icon="true"></i>
            </div>
            <div class="module right">
                <span class="sub" data-editable="true">A Nikkei</span>
            </div>
            <div class="module right">
                <span class="sub" data-editable="true">Notícias</span>
            </div>
        </div>
        <div class="border-bottom-menu"></div>
        <div class="border-bottom-menu-second"></div>
        <div class="nav-bar">
            <div class="module left">
                <div><img alt="" class="image-xxs visible-xs" data-image="true" src="img/logo.jpg"></div>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="fa fa-bars"></i>
            </div>
            <div class="module-group right">
                <div class="module left cont-menu">
                    <ul data-menu="true">
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>