.form-contato-001 {
    padding: 15px 0;
}
.form-contato-001 .main-container {
    clear: both;
}

.form-contato-001 .full-width {
    width: 100%;
}

.form-contato-001 .v-align-children {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.form-contato-001 .v-align-children-column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.form-contato-001 .disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all and (max-width: 990px) {
    .form-contato-001 .v-align-children {
        display: block !important;
    }
}

.form-contato-001 .v-align-transform {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
}

.form-contato-001 .align-bottom {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

.form-contato-001 .align-top {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

@media all and (max-width: 767px) {
    .form-contato-001 .text-center-xs {
        text-align: center !important;
    }
}

.form-contato-001 .bold {
    font-weight: 600 !important;
}

.form-contato-001 .thin {
    font-weight: 100 !important;
}

@media all and (max-width: 767px) {
    .form-contato-001 .thin {
        font-weight: 300 !important;
    }
}

.form-contato-001 h1,
.form-contato-001 h2,
.form-contato-001 h3,
.form-contato-001 h4,
.form-contato-001 h5,
.form-contato-001 h6,
.form-contato-001 p,
.form-contato-001 ul,
.form-contato-001 ol,
.form-contato-001 pre,
.form-contato-001 table,
.form-contato-001 blockquote,
.form-contato-001 input,
.form-contato-001 button,
.form-contato-001 select,
.form-contato-001 textarea {
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
}

.form-contato-001 h1,
.form-contato-001 h2,
.form-contato-001 h3,
.form-contato-001 h4,
.form-contato-001 h5,
.form-contato-001 h6,
.form-contato-001 .h1,
.form-contato-001 .h2,
.form-contato-001 .h3,
.form-contato-001 .h4,
.form-contato-001 .h5,
.form-contato-001 .h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-contato-001 h1,
.form-contato-001 h2,
.form-contato-001 h3,
.form-contato-001 h4,
.form-contato-001 h5,
.form-contato-001 h6 {
    font-weight: 300;
    color: #292929;
}

.form-contato-001 h1,
.form-contato-001 .h1 {
    font-size: 56px;
    line-height: 64px;
}

.form-contato-001 h1.large {
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
}

@media all and (max-width: 990px) {
    .form-contato-001 h1.large {
        font-size: 56px;
        line-height: 64px;
    }
}

.form-contato-001 h2 {
    font-size: 40px;
    line-height: 48px;
}

.form-contato-001 h3 {
    font-size: 32px;
    line-height: 40px;
}

.form-contato-001 h4 {
    font-size: 24px;
    line-height: 32px;
}

.form-contato-001 h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.form-contato-001 h6,
.form-contato-001 .h6 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
}

@media all and (max-width: 767px) {
    .form-contato-001 h1,
    .form-contato-001 h1.large,
    .form-contato-001 .h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 300;
    }
    .form-contato-001 h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .form-contato-001 h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .form-contato-001 h4 {
        font-size: 18px;
        line-height: 26px;
    }
    .form-contato-001 h5 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .form-contato-001 h6,
    .form-contato-001 .h6 {
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
    }
}

.form-contato-001 .uppercase {
    font-weight: 400;
    text-transform: uppercase;
}

.form-contato-001 h1.uppercase {
    letter-spacing: 17px;
    margin-right: -17px;
}

.form-contato-001 h2.uppercase {
    letter-spacing: 10px;
    margin-right: -10px;
}

.form-contato-001 h3.uppercase {
    letter-spacing: 6px;
    margin-right: -6px;
}

.form-contato-001 h4.uppercase {
    letter-spacing: 3px;
    margin-right: -3px;
}

.form-contato-001 h5.uppercase {
    letter-spacing: 2px;
    margin-right: -2px;
}

.form-contato-001 h6.uppercase,
.form-contato-001 .h6-u {
    letter-spacing: 2px;
    font-weight: 700;
}

.form-contato-001 .bold-h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.form-contato-001 p,
.form-contato-001 span {
    font-weight: 400;
}

.form-contato-001 p.lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.form-contato-001 .sub {
    font-size: 12px;
}

@media all and (max-width: 767px) {
    .form-contato-001 p.lead {
        font-size: 13px;
        line-height: 24px;
    }
    .form-contato-001 p {
        font-size: 12px;
    }
}

.form-contato-001 a,
.form-contato-001 a:visited,
.form-contato-001 a:focus,
.form-contato-001 a:active,
.form-contato-001 a:hover {
    text-decoration: none;
    outline: none;
}

.form-contato-001 a {
    font-weight: 600;
    color: #47b475;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: poitner;
}

.form-contato-001 .image-bg a,
.form-contato-001 .bg-primary a {
    color: #fff;
}

.form-contato-001 .image-bg a:hover,
.form-contato-001 .bg-primary a:hover {
    color: #fff;
    opacity: .9;
}

.form-contato-001 .bg-light a {
    color: #47b475;
}

.form-contato-001 .bg-light a:hover {
    color: #47b475;
    opacity: 1;
}

.form-contato-001 a:hover {
    color: #398f5d;
    text-decoration: none;
}

.form-contato-001 .label {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    letter-spacing: 1px;
    background: #47b475;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 10px;
    vertical-align: middle;
}

.form-contato-001 blockquote {
    overflow: hidden;
    font-family: "Merriweather", "Georgia", Times New Roman, Times, serif;
    font-size: 20px;
    line-height: 40px;
    font-style: italic;
    background: #f5f5f5;
    padding: 32px;
    color: #777;
    font-weight: 300;
}

.form-contato-001 .bg-secondary blockquote {
    background: #fff;
    border-color: #47b475;
}

.form-contato-001 blockquote .author {
    font-size: 12px;
    display: block;
    float: right;
    margin-top: 16px;
}

.form-contato-001 .number {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-contato-001 .columns-2 {
    column-count: 2;
    -webkit-column-count: 2;
}

@media all and (max-width: 767px) {
    .form-contato-001 br {
        display: none;
    }
    .form-contato-001 blockquote {
        font-size: 16px;
        line-height: 32px;
    }
    .form-contato-001 .columns-2 {
        column-count: 1;
        -webkit-column-count: 1;
    }
}

.form-contato-001 .text-left {
    text-align: left !important;
}

@media all and (max-width: 767px) {
    .form-contato-001 .text-left-xs {
        text-align: left !important;
    }
}

.form-contato-001 ul[data-bullet] li {
    line-height: 32px;
}

.form-contato-001 ul[data-bullet] li i:first-child {
    margin-right: 16px;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    display: inline-block;
}

.form-contato-001 ul.lead li {
    font-size: 16px;
    line-height: 40px;
}

.form-contato-001 section,
.form-contato-001 footer {
    padding: 96px 0;
    position: relative;
    overflow: hidden;
}

.form-contato-001 footer {
    padding: 72px 0;
}

.form-contato-001 .fullscreen {
    height: 100vh;
}

.form-contato-001 .bg-dark h1,
.form-contato-001 nav.bg-dark h1,
.form-contato-001 footer.bg-dark h1,
.form-contato-001 .bg-primary h1,
.form-contato-001 .bg-dark h2,
.form-contato-001 nav.bg-dark h2,
.form-contato-001 footer.bg-dark h2,
.form-contato-001 .bg-primary h2,
.form-contato-001 .bg-dark h3,
.form-contato-001 nav.bg-dark h3,
.form-contato-001 footer.bg-dark h3,
.form-contato-001 .bg-primary h3,
.form-contato-001 .bg-dark h4,
.form-contato-001 nav.bg-dark h4,
.form-contato-001 footer.bg-dark h4,
.form-contato-001 .bg-primary h4,
.form-contato-001 .bg-dark h5,
.form-contato-001 nav.bg-dark h5,
.form-contato-001 footer.bg-dark h5,
.form-contato-001 .bg-primary h5,
.form-contato-001 .bg-dark h6,
.form-contato-001 nav.bg-dark h6,
.form-contato-001 footer.bg-dark h6,
.form-contato-001 .bg-primary h6 {
    color: #ffffff;
}

.form-contato-001 .bg-dark p,
.form-contato-001 nav.bg-dark p,
.form-contato-001 footer.bg-dark p,
.form-contato-001 .bg-primary p,
.form-contato-001 .bg-dark span,
.form-contato-001 nav.bg-dark span,
.form-contato-001 footer.bg-dark span,
.form-contato-001 .bg-primary span,
.form-contato-001 .bg-dark li,
.form-contato-001 nav.bg-dark li,
.form-contato-001 footer.bg-dark li,
.form-contato-001 .bg-primary li {
    color: #fefefe;
}

@media all and (max-width: 767px) {
    .form-contato-001 section {
        padding: 80px 0;
    }
}

.form-contato-001 .overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #292929;
    opacity: 0.3;
    z-index: 2;
}

.form-contato-001 .overlay-heavy:before {
    opacity: .6;
}

.form-contato-001 .bg-light.overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    opacity: 0.1;
    z-index: 2;
}

.form-contato-001 .image-bg h1,
.form-contato-001 .image-bg h2,
.form-contato-001 .image-bg h3,
.form-contato-001 .image-bg h4,
.form-contato-001 .image-bg h5,
.form-contato-001 .image-bg h6 {
    color: #ffffff;
}

.form-contato-001 .image-bg p,
.form-contato-001 .image-bg span,
.form-contato-001 .image-bg li {
    color: #ffffff;
}

.form-contato-001 .image-bg .container,
.form-contato-001 .image-bg div[class*='col-'] {
    position: relative;
    z-index: 3;
}

.form-contato-001 .container.image-bg .row {
    position: relative;
    z-index: 3;
}

.form-contato-001 .background-image-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #292929;
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
}

.form-contato-001 .background-image-holder img {
    display: none;
}

.form-contato-001 .background-multiply .background-image-holder {
    background-color: #47b475 !important;
    background-blend-mode: multiply;
}

.form-contato-001 .background-image-holder.fadeIn {
    opacity: 1;
}

.form-contato-001 .parallax>.background-image-holder,
.form-contato-001 .parallax .slides li>.background-image-holder {
    height: 100vh;
    top: -50vh;
    transition: all 0s ease !important;
    transition: opacity 0.3s ease !important;
    -webkit-transform-style: preserve-3d;
}

.form-contato-001 .parallax:first-child .slides li>.background-image-holder,
.form-contato-001 .parallax:first-child .background-image-holder {
    top: 0;
}

.form-contato-001 .main-container>a:first-child+.parallax .background-image-holder {
    top: 0;
}

@media all and (max-width: 767px) {
    .form-contato-001 .parallax>.background-image-holder,
    .form-contato-001 .parallax .slides li>.background-image-holder {
        top: 0 !important;
        transform: none !important;
        -webkit-transform: none !important;
    }
}

.form-contato-001 .btn {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid #47b475;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    color: #47b475;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
}

.form-contato-001 .btn:last-child,
.form-contato-001 .btn:last-of-type {
    margin-right: 0;
}

.form-contato-001 .btn:hover {
    background: #47b475;
    color: #fff;
}

.form-contato-001 .btn-icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
    min-width: 0;
    padding: 0;
    line-height: 38px;
}

.form-contato-001 .btn-lg {
    height: 50px;
    line-height: 46px;
    min-width: 200px;
}

.form-contato-001 .btn-icon.btn-lg {
    width: 50px;
    height: 50px;
    line-height: 49px;
    font-size: 24px;
    min-width: 0;
}

.form-contato-001 .btn-icon.btn-sm {
    width: 30px;
    height: 30px;
    line-height: 29px;
    font-size: 13px;
    min-width: 0;
    padding: 0 0 0 1px!important;
}

.form-contato-001 .btn-sm {
    height: 30px;
    font-size: 11px;
    line-height: 27px;
    min-width: 0;
}

.form-contato-001 .btn-filled {
    background: #47b475;
    color: #fff;
}

.form-contato-001 .btn-white,
.form-contato-001 .image-bg .btn,
.form-contato-001 .image-bg .btn:visited {
    color: #fff;
    border-color: #fff;
}

.form-contato-001 .btn-white:hover,
.form-contato-001 .image-bg .btn:hover,
.form-contato-001 .image-bg .btn:visited:hover {
    background: #fff;
    color: #222;
}

.form-contato-001 .image-bg .btn.btn-filled,
.form-contato-001 .image-bg .btn-filled:visited {
    border-color: #47b475;
}

.form-contato-001 .image-bg .btn-filled:hover {
    border-color: #fff;
}

.form-contato-001 .btn-rounded {
    border-radius: 25px;
}

.form-contato-001 body.btn-rounded .btn {
    border-radius: 25px !important;
}

.form-contato-001 .bg-light .btn {
    border-color: #222;
    color: #222;
}

.form-contato-001 .bg-light .btn:visited,
.form-contato-001 .bg-light .btn:visited:hover {
    color: #222;
}

.form-contato-001 .bg-light .btn-filled,
.form-contato-001 .bg-light .btn-filled:visited {
    color: #fff;
}

.form-contato-001 .btn:visited {
    color: #47b475;
}

.form-contato-001 .btn-white:visited,
.form-contato-001 .btn:visited:hover {
    color: #fff;
}

.form-contato-001 .btn-white:visited:hover {
    color: #222;
}

.form-contato-001 .btn-filled:visited {
    color: #fff;
}

.form-contato-001 .btn.bg-dark {
    color: #fff;
    border-color: #292929;
}

.form-contato-001 .btn.bg-dark:hover {
    background: #434343;
}

.form-contato-001 .bg-primary .btn {
    color: #fff;
    border-color: #fff;
}

.form-contato-001 .bg-primary .btn:hover {
    background: #fff;
    color: #47b475;
}

.form-contato-001 .cover {
    margin: 0;
    padding: 0;
}

.form-contato-001 .cover h1,
.form-contato-001 .cover h2,
.form-contato-001 .cover h3,
.form-contato-001 .cover h4,
.form-contato-001 .cover h5,
.form-contato-001 .cover h6 {
    color: #ffffff;
}

.form-contato-001 .cover p,
.form-contato-001 .cover span,
.form-contato-001 .cover li {
    color: #ffffff;
}

.form-contato-001 .image-bg.bg-light h1,
.form-contato-001 .image-bg.bg-light h2,
.form-contato-001 .image-bg.bg-light h3,
.form-contato-001 .image-bg.bg-light h4,
.form-contato-001 .image-bg.bg-light h5,
.form-contato-001 .image-bg.bg-light h6 {
    color: #222222;
}

.form-contato-001 .image-bg.bg-light p,
.form-contato-001 .image-bg.bg-light span,
.form-contato-001 .image-bg.bg-light li {
    color: #777777;
}

.form-contato-001 .cover:first-child .fullscreen {
    max-height: 100%;
}

.form-contato-001 .cover.fullscreen .slides>li {
    height: 100vh;
}

.form-contato-001 .cover .slides li .container {
    z-index: 4;
    position: relative;
}

.form-contato-001 .cover .flex-control-nav {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: .9;
}

.form-contato-001 .cover .flex-control-nav:hover {
    opacity: 1;
}

.form-contato-001 .cover .align-bottom {
    padding: 0 32px;
    bottom: 16px;
}

.form-contato-001 .cover .align-top {
    padding: 0 32px;
}

@media all and (max-width: 767px) {
    .form-contato-001 .cover .align-bottom {
        padding: 0 15px;
    }
    .form-contato-001 .cover .align-bottom.relative-xs {
        position: relative;
        bottom: 0;
    }
    .form-contato-001 .cover.fullscreen {
        height: auto;
        padding: 80px 0;
    }
    .form-contato-001 .cover.fullscreen.image-slider {
        padding: 0;
    }
    .form-contato-001 .cover.fullscreen .container {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
    .form-contato-001 .cover.fullscreen .slides li {
        height: auto;
        padding: 80px 0;
    }
}

.form-contato-001 .endereco p i {
    margin-right: 10px;
}

.form-contato-001 input,
.form-contato-001 button,
.form-contato-001 select,
.form-contato-001 textarea {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-contato-001 input[type="text"],
.form-contato-001 button,
.form-contato-001 textarea,
.form-contato-001 select,
.form-contato-001 input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-contato-001 .bg-secondary input[type="text"],
.form-contato-001 .bg-secondary textarea,
.form-contato-001 .bg-secondary select {
    background: #fff;
}

.form-contato-001 .input-lh {
    line-height: 50px;
}

.form-contato-001 .attempted-submit .field-error {
    outline: 1px red !important;
}

.form-contato-001 .input-with-label span {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #292929;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
    cursor: default;
}

.form-contato-001 input[type="text"],
.form-contato-001 input[type="email"],
.form-contato-001 input[type="password"] {
    background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
}

.form-contato-001 .image-bg input[type="text"],
.form-contato-001 .image-bg textarea {
    color: #555;
}

.form-contato-001 .image-bg.bg-light input.transparent,
.form-contato-001 .image-bg.bg-light button.transparent {
    border-color: #292929;
}

.form-contato-001 input.transparent,
.form-contato-001 button.transparent {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff !important;
}

.form-contato-001 input[type="text"]:focus,
.form-contato-001 input[type="password"]:focus {
    outline: 1px solid #ccc;
}

.form-contato-001 textarea {
    width: 100%;
    border: none;
    background: #f5f5f5;
    margin-bottom: 24px;
    border-radius: 0;
    padding: 16px 20px;
}

.form-contato-001 textarea:focus {
    outline: 1px solid #ccc;
}

.form-contato-001::-webkit-input-placeholder {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #777;
    font-size: 11px;
}

.form-contato-001:-moz-placeholder {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #777;
    font-size: 11px;
}

.form-contato-001::-moz-placeholder {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #777;
    font-size: 11px;
}

.form-contato-001:-ms-input-placeholder {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #777;
    font-size: 11px;
}

.form-contato-001 input.transparent::-webkit-input-placeholder,
.form-contato-001 button.transparent::-webkit-input-placeholder {
    color: #fff;
}

.form-contato-001 input.transparent::-moz-input-placeholder,
.form-contato-001 button.transparent::-moz-input-placeholder {
    color: #fff;
}

.form-contato-001 input.transparent:-moz-input-placeholder,
.form-contato-001 button.transparent:-moz-input-placeholder {
    color: #fff;
}

.form-contato-001 input.transparent:-ms-input-placeholder,
.form-contato-001 button.transparent:-ms-input-placeholder {
    color: #fff;
}

.form-contato-001 input[type="submit"],
.form-contato-001 button[type="submit"] {
    height: 50px;
    line-height: 48px;
    color: #fff;
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0 !important;
}

.form-contato-001 .bg-primary input[type="submit"],
.form-contato-001 .bg-primary button[type="submit"] {
    background: #fff;
    color: #47b475;
}

.form-contato-001 input[type="submit"]:focus,
.form-contato-001 button[type="submit"]:focus {
    outline: none;
}

.form-contato-001 input[type="submit"].hollow,
.form-contato-001 button[type="submit"].hollow {
    background: none;
    border: 2px solid #47b475;
    color: #47b475;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.form-contato-001 input[type="submit"].hollow:hover,
.form-contato-001 button[type="submit"].hollow:hover {
    background: #47b475;
    color: #fff;
}

.form-contato-001 .select-option {
    position: relative;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    margin-bottom: 24px;
}

.form-contato-001 .select-option i {
    position: absolute;
    font-size: 18px;
    right: 35px;
    top: 14px;
    z-index: 2;
    pointer-events: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
}

.form-contato-001 .select-option:focus i {
    color: #fff;
}

.form-contato-001 .select-option select {
    margin-bottom: 0;
}

.form-contato-001 select {
    height: 50px;
    background: #f5f5f5;
    width: 100%;
    border-radius: 0;
    border: none;
    outline: none;
    padding-left: 20px;
    position: relative;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #777;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
}

.form-contato-001 select:focus {
    background: #eee;
}

.form-contato-001 select:active,
.form-contato-001 select:focus,
.form-contato-001 select:hover {
    outline: none;
    border: none;
}

.form-contato-001 .checkbox-option,
.form-contato-001 .radio-option {
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid #47b475;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 24px;
}

.form-contato-001 .checkbox-option .inner,
.form-contato-001 .radio-option .inner {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #47b475;
    position: relative;
    top: 2px;
    left: 2px;
    display: inline-block;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.form-contato-001 .checkbox-option.checked .inner {
    transform: translate3d(25px, 0, 0);
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(25px, 0, 0);
    background: #47b475;
}

.form-contato-001 .checkbox-option input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.form-contato-001 .radio-option {
    width: 25px;
    height: 25px;
    text-align: left;
}

.form-contato-001 .radio-option:nth-of-type(n+2) {
    margin-left: 24px;
}

.form-contato-001 .radio-option input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.form-contato-001 .radio-option .inner {
    border: none;
    width: 19px;
    height: 19px;
    left: 2px;
    transform: scale(0);
    -webkit-transform: scale(0);
}

.form-contato-001 .radio-option+span {
    display: inline-block;
    line-height: 25px;
}

.form-contato-001 .radio-option.checked .inner {
    transform: scale(1);
    -webkit-transform: scale(1);
}

.form-contato-001 .radio-option.checked .inner {
    background: #47b475;
}

.form-contato-001 .margin_right {
    margin-right: 20px;
}

.form-contato-001 button,
.form-contato-001 input[type="button"].button,
.form-contato-001 a.button {
    margin: 0;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 15px;
    white-space: nowrap;
}

.form-contato-001 button.btn-large,
.form-contato-001 input[type="button"].button.btn-large,
.form-contato-001 a.button.btn-large {
    padding: 0 32px;
    height: 43px;
    font-size: 1.1667em;
    line-height: 43px;
}

.form-contato-001 button.full-width,
.form-contato-001 input[type="button"].button.full-width,
.form-contato-001 a.button.full-width {
    padding-left: 0;
    padding-right: 0;
}

.form-contato-001 button,
.form-contato-001 input[type="button"].button {
    font-size: 0.9167em;
    font-weight: bold;
    background: #98ce44;
    height: 34px;
    line-height: 34px;
}

.form-contato-001 button:hover,
.form-contato-001 input[type="button"].button:hover {
    background: #7fb231;
}

@media (min-width: 1198px) {
    .form-contato-001 .vendas input.col-md-6,
    .form-contato-001 button.col-md-6,
    .form-contato-001 .select-option.col-md-6 {
        width: 47.8%;
    }
}

@media (max-width: 991px) {
    .form-contato-001 .select-option.col-md-6.margin_right {
        margin-right: 0px;
    }
}

@media all and (min-width: 991px) {
    .form-contato-001 input.col-md-6,
    .form-contato-001 button.col-md-6 {
        width: 49%;
        float: left;
    }
    .form-contato-001 input.col-md-6:first-of-type,
    .form-contato-001 button.col-md-6:first-of-type {
        margin-right: 1%;
    }
    .form-contato-001 input.col-md-6:last-of-type,
    .form-contato-001 button.col-md-6:last-of-type {
        margin-left: 1%;
    }
    .form-contato-001 .vendas input.col-md-6,
    .form-contato-001 button.col-md-6,
    .form-contato-001 .select-option.col-md-6 {
        width: 47.3%;
        float: left;
    }
}

.form-contato-001 .select-option.col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.form-contato-001 form.thirds input,
.form-contato-001 form.thirds button {
    width: 32%;
    float: left;
    margin-left: 1%;
    margin-bottom: 16px;
}

.form-contato-001 form.halves input,
.form-contato-001 form.halves button {
    width: 46%;
    float: left;
    margin-left: 2.5%;
    margin-bottom: 16px;
}

.form-contato-001 form.halves p,
.form-contato-001 form.thirds p,
.form-contato-001 form.halves span,
.form-contato-001 form.thirds span {
    clear: both;
}

.form-contato-001 .form-error,
.form-contato-001 .form-success {
    background: #58ce38;
    padding: 12px;
    width: 80%;
    color: #fff;
    clear: both;
    display: block;
    max-width: 700px;
    position: relative;
    top: 16px;
    margin: 0 auto;
    word-break: break-word;
}

.form-contato-001 .form-error {
    background: #ce3838;
}

.form-contato-001 .form-error a,
.form-contato-001 .form-success a {
    display: block;
    color: #fff;
}

.form-contato-001 .attempted-submit .field-error {
    outline: 1px solid #ce3838 !important;
}

.form-contato-001 form iframe.mail-list-form {
    display: none;
}

.form-contato-001 .form-loading {
    border: 3px solid #ffffff;
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    margin: 0px auto;
    top: 50%;
    width: 30px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    z-index: 99999;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.form-contato-001 button[type="submit"] .form-loading {
    height: 25px;
    width: 25px;
    display: inline-block;
    top: 9px;
    position: relative;
    left: 0;
}

.form-contato-001 .btn-white .form-loading {
    border: 3px solid #c8c8c8;
}

@media all and (max-width: 767px) {
    .form-contato-001 form.thirds input,
    .form-contato-001 .form-contato-001 form.halves input,
    .form-contato-001 .form-contato-001 form.thirds button,
    .form-contato-001 .form-contato-001 form.halves button {
        width: 100%;
        margin-bottom: 8px;
        float: left;
        margin-left: 0;
    }
}