<section class="menu-m008 navbar-wrapper">
    <nav class="navbar">
        <div class="nav-utility">
            <div class="module right">
                <i class="fa fa-map-marker" data-icon="true"></i>
                <div class="sub inline-block" data-editable="true">Escreva um Texto</div>
            </div>
            <div class="module right">
                <i class="fa fa-envelope-o" data-icon="true"></i>
                <div class="sub inline-block" data-editable="true">Escreva um Texto</div>
            </div>
            <div class="module right">
                <i class="fa fa-home" data-icon="true"></i>
                <div class="sub inline-block" data-editable="true">Escreva um Texto</div>
            </div>
            <div class="module right">
                <i class="fa fa-cog" data-icon="true"></i>
                <div class="sub inline-block" data-editable="true">Escreva um Texto</div>
            </div>
        </div>
        <div class="nav-bar">
            <div class="module left">
                <a href="javascript:void(0);">
                    <img alt="" class="image-xxs" data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=25698">
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="fa fa-bars"></i>
            </div>
            <div class="module-group right">
                <div class="module left cont-menu">
                    <ul data-menu="true">


                    </ul>
                </div>
            </div>
        </div>
    </nav>
</section>