<div class="cta-c006 pad-default-elements">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="mb8" data-editable="true">Título editável</h2>
          <p class="lead mb40 mb-xs-24" data-editable="true">
            Digite seu texto aqui.
          </p>
          <a class="btn btn-filled btn-lg mb0 btn-color layout-btn" href="#"><span data-editable="true">Clique Aqui!</span></a>
        </div>
      </div>
    </div>
  </section>
</div>