<section class="highlights-h010">
    <div class="row clearfix">
        <div class="col-md-4 col-sm-6 col-xs-12 project" data-destaque-template="true">
            <div class="image-tile hover-tile text-center">
                <img alt="" class="background-image img-responsive" src="http://srv4.vmwm.com.br/img/plat_componentes/20.jpg" data-image="true">
                <div class="hover-state">
                    <h1>#destaqueModel# </h1>
                    <h2>#destaqueBrand#</h2>
                </div>
            </div>
        </div>
    </div>
</section>