/*LESS VARIABLES*/
/*SECTION CSS*/
.x_component_contact_cod_037 {
  position: relative;
}
.x_component_contact_cod_037 .no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.x_component_contact_cod_037 .color-default {
  color: #212526;
}
.x_component_contact_cod_037 .font-title {
  font-size: 90px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  color: #212526;
  line-height: 1.3;
  letter-spacing: 1px;
  border-bottom: 1px solid #818587;
  padding-bottom: 40px;
  min-width: 100%;
}
.x_component_contact_cod_037 .moto-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.x_component_contact_cod_037 .moto-cell > img {
  height: 380px;
  margin-top: 308px;
}
.x_component_contact_cod_037 .top-line {
  border-right: 1px solid #818587;
  height: 50px;
}
.x_component_contact_cod_037 .moto-text {
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto Slab', serif;
  color: #818587;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0px;
  margin: 50px 0;
}
.x_component_contact_cod_037 .moto-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #212526;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
}
.x_component_contact_cod_037 .moto-btn:hover {
  color: #fb606c;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.x_component_contact_cod_037 .footer-text {
  font-size: 20px;
}
@media (min-width: 991px) and (max-width: 1200px) {
  .x_component_contact_cod_037 .font-title {
    font-size: 70px;
  }
}
@media screen and (max-width: 990px) {
  .x_component_contact_cod_037 .font-title {
    font-size: 55px;
  }
}
@media screen and (max-width: 768px) {
  .x_component_contact_cod_037 .moto-cell > img {
    height: 380px;
    margin-top: 50px;
  }
}
