.x_component_footer_cod_264 {
  padding: 50px 0;
}
.x_component_footer_cod_264 .no-padding {
  padding-left: 0;
  padding-right: 0;
}
.x_component_footer_cod_264 .title {
  font-weight: 100;
  font-size: 80px;
  line-height: 90px;
  color: #2e3032;
  text-align: center;
}
.x_component_footer_cod_264 .sign-up-form {
  margin-top: 60px;
  margin-bottom: 70px;
}
.x_component_footer_cod_264 .sign-up-form input {
  width: 75%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(46, 48, 50, 0.1);
  height: 80px;
  padding: 10px 10px 10px 0;
  font-size: 20px;
}
.x_component_footer_cod_264 .sign-up-form input:focus {
  outline: none;
  border-color: rgb(46, 48, 50);
}
.x_component_footer_cod_264 .sign-up-form button {
  width: 16%;
  margin-left: 3%;
  height: 80px;
  border-radius: 0;
  border: none;
  font-size: 20px;
  line-height: 64px;
  font-weight: 300;
  background-color: rgba(46, 48, 50, 0.1);
  transition: all 0.2s ease-out;
}
.x_component_footer_cod_264 .sign-up-form button:hover {
  opacity: 0.7;
}
.x_component_footer_cod_264 ::-webkit-input-placeholder {
  color: #2e3032;
}
.x_component_footer_cod_264 :-moz-placeholder {
  color: #2e3032;
  opacity: 1;
}
.x_component_footer_cod_264 ::-moz-placeholder {
  color: #2e3032;
  opacity: 1;
}
.x_component_footer_cod_264 :-ms-input-placeholder {
  color: #2e3032;
}
.x_component_footer_cod_264 :-ms-input-placeholder {
  color: #2e3032;
}
.x_component_footer_cod_264 .footer-module-title {
  font-weight: 100;
  font-size: 30px;
  line-height: 90px;
}
.x_component_footer_cod_264 .footer-menu li,
.x_component_footer_cod_264 .contact-info li {
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
}

.x_component_footer_cod_264 li a {
  text-decoration: none;
}
.x_component_footer_cod_264 .contact-info li {
  margin-bottom: 20px;
}
.x_component_footer_cod_264 .contact-info li div {
  width: 200px;
  color: #2e3032;
  font-weight: 300;
  font-size: 17px;
}
.x_component_footer_cod_264 .copyright div {
  font-weight: 300;
  font-size: 16px;
  margin-top: 20px;
}
.x_component_footer_cod_264 .copyright div a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .x_component_footer_cod_264 .text-xs-center {
    text-align: center!important;
  }
  .x_component_footer_cod_264 .center-xs-block {
    margin-left: auto;
    margin-right: auto;
  }
  .x_component_footer_cod_264 .sign-up-form {
    margin-top: 60px;
    margin-bottom: 70px;
  }
  .x_component_footer_cod_264 .sign-up-form input {
    width: 100%;
    text-align: center;
  }
  .x_component_footer_cod_264 .sign-up-form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    margin-top: 10px;
  }
}
