      .aba-a002 {
          color: #666;
      }
      
      .aba-a002 .tabs {
          overflow: hidden;
      }
      
      .aba-a002 .text-tabs .tabs {
          padding-bottom: 16px;
          border-bottom: 1px solid #ccc;
          overflow: visible;
      }
      
      .aba-a002 .tabbed-content .content>li {
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          display: none;
      }
      
      .aba-a002 .tabbed-content .content .active {
          opacity: 1;
          visibility: visible;
          display: block;
      }
      
      .aba-a002 .text-description {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 13px;
          line-height: 24px;
          overflow-x: hidden;
      }
      
      .aba-a002 .tabs>li {
          display: inline-block;
          cursor: pointer;
      }
      
      .aba-a002 .text-tabs .tab-title {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          padding: 0 24px;
          opacity: 0.5;
          position: relative;
      }
      
      .aba-a002 .text-tabs .tab-title::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background: #adadad;
          bottom: 10px;
          opacity: 0;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          bottom: -17px;
          left: 0px;
      }
      
      .aba-a002 .text-tabs .active .tab-title {
          opacity: 1;
      }
      
      .aba-a002 .text-tabs .active .tab-title::after {
          opacity: 1;
      }