.x_component_footer_cod_172 {
    background: #35363E;
    font-family: 'Merriweather Sans', sans-serif;
    color: #6E7283;
    overflow: hidden;
    padding: 50px 0 0 0;
    position: relative;
}

.x_component_footer_cod_172 .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.x_component_footer_cod_172 .footer-logo-area .title-area>img {
    display: inline-block;
    max-width: 200px;
    margin-top: 30px;
}

.x_component_footer_cod_172 .footer-logo-area {
    position: absolute;
    width: 210px;
    height: 200px;
    /*top: -50px;*/
    left: 0;
}

.x_component_footer_cod_172 .title-area {
    width: 100%;
    height: 110px;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.x_component_footer_cod_172 .title-area:before {
    position: absolute;
    content: '';
    top: 100%;
    width: 0;
    height: 0;
    border-top: 53px solid rgba(0, 0, 0, 0.3);
    border-left: 104.75px solid transparent;
    left: 0;
}

.x_component_footer_cod_172 .title-area:after {
    position: absolute;
    content: '';
    top: 100%;
    width: 0;
    height: 0;
    border-left: 104.75px solid rgba(0, 0, 0, 0.3);
    border-bottom: 53px solid transparent;
    right: 0;
}

.x_component_footer_cod_172 .title-area a {
    font-weight: 700;
    padding: 35px 0 0 0;
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
}

.x_component_footer_cod_172 .title-area a span {
    display: block;
    font-size: 20px;
    letter-spacing: 0.08em;
    font-weight: 400;
}

.x_component_footer_cod_172 .title-area a:hover {
    text-decoration: none;
}

.x_component_footer_cod_172 .footer-menu li a {
    font-size: 17px;
    line-height: 33px;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_172 .footer-menu li a:hover {
    text-decoration: none;
}

.x_component_footer_cod_172 .footer-menu li a:hover:after {
    height: 4px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.x_component_footer_cod_172 .footer-menu li a:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #f2f5f7;
    content: '';
    opacity: 0;
    -moz-transition: height 0.1s, opacity 0.1s, -moz-transform 0.1s;
    -webkit-transition: height 0.1s, opacity 0.1s, -webkit-transform 0.1s;
    -o-transition: height 0.1s, opacity 0.1s, -webkit-transform 0.1s;
    transition: height 0.1s, opacity 0.1s, transform 0.1s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.x_component_footer_cod_172 .footer-menu li.active a:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #f2f5f7;
    content: '';
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.x_component_footer_cod_172 .contact-info {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.x_component_footer_cod_172 .contact-info>.address-data {
    margin-bottom: 40px;
}

.x_component_footer_cod_172 .contact-info dl {
    margin-bottom: 8px;
}

.x_component_footer_cod_172 .contact-info dl>dt,
.x_component_footer_cod_172 .contact-info dl>dd {
    display: inline;
}

.x_component_footer_cod_172 .contact-info dl>dt {
    font-weight: 400;
}

.x_component_footer_cod_172 .contact-info .phone a,
.x_component_footer_cod_172 .contact-info .email a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_172 .contact-info .phone a:hover,
.x_component_footer_cod_172 .contact-info .email a:hover,
.x_component_footer_cod_172 .contact-info .phone a:focus,
.x_component_footer_cod_172 .contact-info .email a:focus {
    text-decoration: none;
}

.x_component_footer_cod_172 .social-block {
    display: inline-block;
    float: right;
}

.x_component_footer_cod_172 .social-block .social-header {
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 8px;
}

.x_component_footer_cod_172 .footer-social {
    display: inline-block;
}

.x_component_footer_cod_172 .footer-social li {
    margin-right: 20px;
}

.x_component_footer_cod_172 .footer-social li i {
    font-size: 18px;
}

.x_component_footer_cod_172 .copyright {
    width: 100%;
    padding: 50px 0;
    font-size: 17px;
    font-weight: 400;
}

.x_component_footer_cod_172 .copyright a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_172 .copyright a:hover {
    text-decoration: none;
}

.x_component_footer_cod_172 #map {
    width: 100%;
    height: 330px;
}

@media screen and (max-width: 992px) {
    .x_component_footer_cod_172 .social-block.sm-visibility {
        float: left;
    }
}

@media screen and (max-width: 768px) {
    .x_component_footer_cod_172 .text-xs-center {
        text-align: center;
    }
    .x_component_footer_cod_172 .social-block.sm-visibility {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .x_component_footer_cod_172 .footer-logo-area {
        position: absolute;
        width: 210px;
        height: 200px;
        top: -50px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .x_component_footer_cod_172 .footer-menu {
        margin-top: 150px;
    }
}