<section class="x_component_footer_cod_339 pad-default-element">
    <div class="container">
        <div class="row">
            <hr class="footer-top">
            <ul class="list-unstyled list-inline footer-social" data-social="true">
                <li><a class="color-default-hover" target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a></li>
            </ul>

            <div class="copyright">
                <div class="row">
                    <img data-image="true" class="img-responsive center-block" src="assets/img/component_footer_cod_339_01.png" alt="logo">
                    <div class="copyright-info text-center" data-editable="true">WebMotors © 2017 • Privacy Policy</div>
                </div>
            </div>
        </div>
    </div>
</section>