<section class="x_component_contact_cod_181 pad-default-element">

    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h1 class="font-title text-uppercase" data-editable="true">contact us</h1>
            </div>
            <div class="col-sm-3 text-left">
                <p class="address" data-editable="true">
                    9870 St Vincent Place,<br> Glasgow, DC 45 Fr 45.<br> Freephone: +1 800 559 6580
                </p>
            </div>
            <div class="col-sm-3 text-left">
                <p class="address" data-editable="true">
                    9870 St Vincent Place,<br> Glasgow, DC 45 Fr 45.<br> Freephone: +1 800 559 6580
                </p>
            </div>
            <div class="col-sm-3 text-left">
                <p class="address" data-editable="true">
                    9870 St Vincent Place,<br> Glasgow, DC 45 Fr 45.<br> Freephone: +1 800 559 6580
                </p>
            </div>
            <div class="col-sm-3 text-left">
                <p class="address" data-editable="true">
                    9870 St Vincent Place,<br> Glasgow, DC 45 Fr 45.<br> Freephone: +1 800 559 6580
                </p>
            </div>

            <div class="social"><i class="fa fa-facebook" data-icon="true"></i></div>
            <div class="social"><i class="fa fa-twitter" data-icon="true"></i></div>
            <div class="social"><i class="fa fa-pinterest" data-icon="true"></i></div>
        </div>
        <div class="col-xs-12 text-center">
            <p class="copy" data-editable="true">Cars © 2016 • Privacy Policy</p>
        </div>
    </div>
    </div>

</section>