.x_component_footer_cod_007 {
    background: #000;
    font-family: 'Exo 2', sans-serif;
}

.x_component_footer_cod_007 .footer-module-title {
    color: #ffffff;
    font-weight: 800;
    padding: 50px 0 0 0;
    margin: 0 0 20px 0;
}

.x_component_footer_cod_007 .footer-menu>li>div>a {
    color: #7d7d7d;
    line-height: 30px;
}

.x_component_footer_cod_007 .footer-menu>li>div>a:hover,
.x_component_footer_cod_007 .footer-menu>li>div>a:focus {
    text-decoration: none;
}

.x_component_footer_cod_007 .footer-social li a {
    text-decoration: none;
    line-height: 50px;
    color: #7d7d7d;
}

.x_component_footer_cod_007 .footer-social li a i {
    color: #ffffff;
}

.x_component_footer_cod_007 .footer-social li a i:before {
    width: 40px;
    height: 40px;
    text-align: center;
    color: #ffffff;
    background: #3e3e3e;
    line-height: 40px;
    font-size: 23px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_007 .footer-social li:hover>a>i:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.x_component_footer_cod_007 .newsletter-container {
    width: 100%;
    min-height: 300px;
    padding: 0 30px 50px 30px;
}

.x_component_footer_cod_007 .newsletter-container>.footer-module-title {
    color: #000;
}

.x_component_footer_cod_007 .newsletter-container>p {
    color: #7d7d7d;
    margin-bottom: 20px;
}

.x_component_footer_cod_007 .newsletter-container>.newsletter-form {
    position: relative;
}

.x_component_footer_cod_007 .newsletter-container>.newsletter-form>.form-control {
    width: 100%;
    height: 50px;
    border-radius: 26px;
}

.x_component_footer_cod_007 .newsletter-container .newsletter-form a {
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 25px;
}

.x_component_footer_cod_007 .copyright {
    padding: 40px 0;
    background: #1E1E1E;
    color: #7d7d7d;
}

.x_component_footer_cod_007 .copyright div a {
    text-decoration: none;
    color: #7d7d7d;
}

@media screen and (max-width: 768px) {
    .x_component_footer_cod_007 .text-xs-center {
        text-align: center;
    }
}