<section class="aba-a006 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              	<div class="text-center">
                 	<img data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=23795" alt="">
              </div>
             </div>
          	<div class="col-md-12">
              <div class="tabbed-content button-tabs vertical">
                    <ul class="tabs">
                        <li class="active">
                            <div class="tab-title btn-color layout-btn">
                                <div data-editable="true">Tab 1</div>
                            </div>
                            <div class="tab-content">
								<div data-editable="true">Endereço</div>
                              	<hr>
                                <div data-mapa="true" data-type="map" style="width: 600px; height: 450px;"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>