.service-s002 .owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    padding-left: 25px;
}

.service-s002 .blocked-area .owl-theme .owl-controls {
    padding-left: 0;
}

.service-s002 .owl-theme .owl-buttons div {
    color: #ccc;
    zoom: 1;
    *display: inline;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 11;
    display: none;
}

.service-s002 .owl-theme:hover .owl-buttons div {
    display: block;
}

.service-s002 .owl-theme .owl-buttons div:hover {
    color: #666;
    text-decoration: none;
}

.service-s002 .owl-theme .owl-buttons div.owl-prev {
    left: 30px;
}

.service-s002 .owl-theme .owl-buttons div.owl-next {
    right: -38px;
}

.service-s002 .owl-theme .owl-buttons div:hover {
    color: #fff;
}

.service-s002 .carousel-alt.owl-theme .owl-buttons div {
    background: none;
    color: #999;
    margin-top: -10px;
    display: block;
}

.service-s002 .carousel-alt.owl-theme .owl-buttons div.owl-prev {
    left: 20px;
}

.service-s002 .carousel-alt.owl-theme .owl-buttons div.owl-next {
    right: -10px;
}

.service-s002 .single-carousel.owl-theme .owl-buttons div.owl-prev {
    left: 15px;
}

.service-s002 .single-carousel.owl-theme .owl-buttons div.owl-next {
    right: 15px;
}

.service-s002 .owl-theme .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.service-s002 .owl-theme .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #ECEAE4;
}

.service-s002 .owl-theme .owl-page span:hover,
.service-s002 .owl-theme .owl-page span:active {
    background: #d1d1cf;
}

.service-s002 .owl-theme .owl-page.active span,
.service-s002 .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
}

.service-s002 .owl-theme .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.service-s002 .service-s002 .owl-item.loading {
    min-height: 150px;
    background: url(../images/AjaxLoader.gif) no-repeat center center;
}

.service-s002 .owl-carousel .item {
    margin-left: 5px;
}

.service-s002 .owl-carousel .owl-wrapper-outer {
    width: 100%;
}

.service-s002 .owl-carousel.single-carousel .owl-wrapper-outer {
    width: 100%;
}

.service-s002 .owl-carousel.single-carousel .item {
    margin-left: 15px;
    margin-right: 15px;
}

.service-s002 .owl-carousel.single-carousel {
    margin-left: 0;
}

.service-s002 .owl-carousel {
    margin: 0;
    list-style-type: none;
}

.service-s002 .carousel-fw.owl-theme .owl-buttons {
    width: 100%;
}

.service-s002 .owl-pagination {
    margin-top: 30px;
}

.service-s002 .owl-carousel {
    margin-left: -15px;
}