.service-s002 {
    background: #222;
}

.service-s002 img {
    min-height: 300px;
}

.service-s002 .owl-theme {
    padding-top: 30px;
}

.service-s002 .carousel-wrapper {
    text-align: center;
}

.service-s002 .owl-theme .owl-buttons div {
    margin-top: 0;
}