<section class="x_component_contact_cod_295 pad-default-element">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12  clearfix">
                <div class="service-container">
                    <div class="top-text clearfix">
                        <h2 class="block-title color-default" data-editable="true">Lorem ipsum!</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-12  clearfix">
                <div class="item-text  text-center">
                    <div class="item-text-header" data-editable="true">
                        <form data-form-type="contato" data-form-layout="contato-10"></form>
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-3 col-sm-6">
                <div class="footer-logo-box center-block">
                    <img src="assets/images/logo.png" alt="" class=" center-block image-responsive" data-image="true">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="social-icon text-center">
                    <ul class="list-unstyled list-inline footer-social" data-social="true">
                        <li><a class="color-default-hover" target="_blank" href="#icon-link#"><i class="#icon-class# "></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 text-center">
                <div data-editable="true" class="copyright color-default">
                    © 2017 Webmotors
                </div>
            </div>
        </div>
    </div>
</section>