.highlights-h002 {
    background: #f5f5f5;
    color: #222;
}

.highlights-h002 .image-box .box img,
.highlights-h002 .image-box.box img {
    width: 100%;
    height: auto;
    max-height: 140px;
}

.highlights-h002 .image-box .box,
.highlights-h002 .image-box.box {
    text-align: left;
    background: #fff;
    margin-bottom: 30px;
}

.highlights-h002 .box-title small {
    font-size: 10px;
    color: rgb(131, 131, 131);
    text-transform: uppercase;
    display: block;
    margin-top: 4px;
}

.highlights-h002 .ano {
    font-size: 12px;
    text-align: center;
}

.highlights-h002 .price {
    font-size: 16px;
    text-transform: uppercase;
    float: right;
    text-align: right;
    line-height: 2;
    display: block;
}

.highlights-h002 .price small {
    display: block;
    font-size: 0.5em;
}

.highlights-h002>p {
    font-size: 1.0833em;
    line-height: 1.6666;
    margin-bottom: 15px;
}

.highlights-h002 a.button {
    height: 28px;
    padding: 0 24px;
    line-height: 28px;
    display: inline-block;
    font-size: 0.8333em;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    color: #fff;
}

/*.highlights-h002 .owl-carousel .item {
    margin-left: 7px;
}*/

.highlights-h002 .image-box .box>.details,
.highlights-h002 .image-box.box>.details {
    padding: 12px 10px;
    -webkit-box-shadow: inset inset 0px 0 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: insetinset 0px 0 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0 1px 0px rgba(0, 0, 0, 0.75);
}

.highlights-h002 .container>.row {
    margin: 0 auto;
}