<div class="footer-f004 txt-center pad-default-elements">
    <footer class="pt96 pb96 pt-xs-48 pb-xs-48">
        <div class="container">
            <div class="row mb64 mb-xs-32">
                <div class="col-md-5 text-right text-left-xs txt-center">
                    <h2 class="uppercase bold italic" data-editable="true">A Loja com a maior variedade.</h2>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs text-center pt47">
                    <div class="font-icon"><i class="fa fa-bolt color-default" data-icon="true"></i></div>
                </div>
                <div class="col-md-5">
                    <p class="lead" data-editable="true">
                        Dúvidas? Entre em contato!
                    </p>
                    <h4 class="mb8" data-editable="true">Tel: 0000-0000</h4>
                    <h4 class="mb8" data-editable="true">E-mail: email@email.com.br</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                    <ul class="list-inline social-list mb0 color-default" data-social="true" data-social-content="#">
                        <li><a href="#icon-link#" target="_blank"><i class="#icon-class#"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>