.imagem-i009 {
    overflow: hidden;
}

.imagem-i009 img {
    -webkit-filter: brightness(100%);
    filter: brightness(40%);
    width: 100%;
}

.imagem-i009 .image-text .cont-title {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    line-height: 1;
    position: absolute;
    width: 100%;
    top: 3vh;
    color: #fff;
    z-index: 3;
}

.imagem-i009 .image-text .cont-img .no-mobile>h1 {
    margin-top: 0;
}

.imagem-i009 .image-text .cont-title i {
    font-size: 0.8em;
}

.imagem-i009 .image-text .cont-title .font-title {
    font-size: 4.25em;
}

.imagem-i009 .cont-img {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow: hidden;
}

@media (max-width: 1280px) {
    .imagem-i009 .image-text .cont-title {
        top: 0;
    }
}

@media all and (max-width: 990px) {
    .image-text h1 {
        top: 0;
    }
    .imagem-i009 .no-mobile {
        display: none;
    }
}