.imagem-i0015 {
    background-color: rgb(16, 77, 127);
    transition: all 0.5s;
    overflow: hidden;
}

.imagem-i0015:hover {
    background-color: rgb(173, 173, 173);
    transition: all 0.5s;
}

.imagem-i0015:hover .cont-img img {
    transition: all 0.5s;
    width: 54px;
}

.imagem-i0015 .cont-img {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px 20px 10px 10px;
    overflow: hidden;
}

.imagem-i0015 .cont-img img {
    width: 50px;
    float: right;
    transition: all 0.5s;
}

.imagem-i0015 .cont-img a {
    display: block;
    font-size: 35px;
    /*height: 32px;*/
    text-decoration: none;
    color: #fff;
}

.imagem-i0015 .padding_0 {
    padding: 0;
}

.imagem-i0015 .margin_0 {
    margin: 0;
}