/* Busca de Veículos */
@import url('resultado-busca.css');

/* Detalhes do Veículo */
@import url('detalhes-veiculo.css');

#estoqueMod2 {
	padding: 50px 0;
}

/* Utilizados em qualquer view */
#resultado-busca, 
#detalhes-veiculo 
{
	font-size: 11px;
}
#resultado-busca *, 
#detalhes-veiculo *, 
#comparativo-veiculos * 
{
	box-sizing: border-box;
}

#resultado-busca h2, 
#detalhes-veiculo h2, 
#comparativo-veiculos h2 {
	color: #3A3E42;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

#resultado-busca h3, 
#detalhes-veiculo h3, 
#comparativo-veiculos h3 {
	margin: 0;
	padding: 10px 0;
	font-size: 11px;
	font-weight: bold;
	color: #444444;
	clear: both;
}

#resultado-busca ul, 
#detalhes-veiculo ul, 
#comparativo-veiculos ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


/* Menu */
#menuBuscador
{
	display: block;
	margin-bottom: 20px;
	padding-left: 20px;
	height: 49px;
	background: #444444;
}
#menuBuscador > .links,
#menuBuscador > .links > ul > li
{
	display: block;
	float: left;
}
#menuBuscador > .anteriorProximo > ul > li
{
	padding-left: 1px !important;
}
#menuBuscador > .anteriorProximo,
#menuBuscador > .anteriorProximo > ul > li
{
	display: block;
	float: right;
}
#menuBuscador > div > ul > li > a
{
	font-size: 10px;
	color: #FFF;
}

#menuBuscador > .links > ul > li
{
	margin: 15px 15px 15px 0;
}
#menuBuscador > .links > ul > li.imprimir
{
	padding-left: 23px;
	background: url(../img/buscador/detalhes/imprimir.png) left 3px no-repeat;
}
#menuBuscador > .links > ul > li.compartilhar
{
	padding-left: 27px;
	background: url(../img/buscador/detalhes/compartilhar.png) left 3px no-repeat;
}
#menuBuscador > .links > ul > li.email
{
	padding-left: 29px;
	background: url(../img/buscador/detalhes/por_email.png) left 3px no-repeat;
}

#menuBuscador > .anteriorProximo > ul > li > a
{
	display: block;
	padding: 15px;
	font-size: 14px;
	line-height: 19px;
	background: #606060;
}


#menu_buscador 
{
	position: relative;
	width: 100%;
	height: 25px;
	margin: 0 0 11px;
	padding-top: 15px;
	clear: both;
	background: url("../img/buscador/menu2.jpg") repeat-x scroll 0 0 transparent;
	border: 1px solid #084e7a;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

#menu_buscador .arrow {
	background: url("../img/buscador/arrow.jpg") no-repeat scroll 0 0 transparent;
	bottom: -9px;
	height: 9px;
	left: 50%;
	position: absolute;
	width: 16px;
}

#menu_buscador .left {
	float: left;
	width: 50%;
}

#menu_buscador .right {
	float: right;
	margin-right: 0px;
	width: 50%;
}

#menu_buscador .left ul,
#menu_buscador .right ul {
	padding: 0;
}

#menu_buscador .left ul li {
	border-right: 1px solid #D41F2B;
	float: left;
	line-height: 10px;
	list-style: none outside none;
	padding: 0 10px;
}

#menu_buscador .left ul li a {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
}

#menu_buscador .left ul li a:hover {
	text-decoration: none;
}

#menu_buscador .left ul li:last-child {
	border: medium none;
}

#menu_buscador .right ul li {
	float: right;
	line-height: 10px;
	list-style: none outside none;
	padding: 0 10px;
}

#menu_buscador .right ul li a {
	color: #f0f0f0;
	font-weight: bold;
	text-decoration: underline;
}

#menu_buscador .right ul li a:hover {
	text-decoration: none;
}

#menu_buscador .right ul li img {
	float: left;
	margin-right: 6px;
}

@media (max-width: 768px) {
	#menuBuscador > .anteriorProximo > ul > li.col-xs-3
	{
		width: 29.15% !important;
	}
	#menuBuscador > .anteriorProximo > ul > li > a
	{
		font-size: 11px;
		text-align: center;
	}
}

@media (max-width:768px) {
    .filtrosdebusca {
        margin-bottom: 5px;
    }

    .filtrosdebusca .carros {
        margin-bottom: 1px;
    }

    .filtrosdebusca .carros h3 {
        padding-top: 13px;
        line-height: 15px;
    }

    .filtrosdebusca > .refine {
        background-color: #fff;
        left: -200px;
        padding: 5px;
        position: fixed;
        top: 60px;
        width: 200px !important;
        z-index: 1000;
    }

    .filtrosdebusca > .refine > .head2 {
        margin: 0;
    }

    .filtrosdebusca > .refine > .btn-filtro {
        background-color: #222;
        background-image: none;
        border-bottom-right-radius: 5px;
        border-color: #000;
        border-top-right-radius: 5px;
        cursor: pointer;
        display: inline-block;
        padding: 0 3px;
        position: absolute;
        right: -25px;
        top: 147px;
        width: 25px;
    }

    .detalhes #dadosVeiculo > h3.preco {
        margin-bottom: 20px;
        background-color: #333;
    }
}

/* Ajustes Responsivo */
@media (max-width:768px) {
    .no-pad-left-xs {
        padding-left: 0 !important;
    }
    .no-pad-right-xs {
        padding-right: 0 !important;
    }
    .no-padding-xs {
        padding: 0 !important;
    }
    .no-marg-left-xs {
        margin-left: 0 !important;
    }
    .no-marg-right-xs {
        margin-right: 0 !important;
    }
    .no-margin-xs {
        margin: 0 !important;
    }
}
@media (min-width:992px) {
    .no-pad-left-sm {
        padding-left: 0 !important;
    }
    .no-pad-right-sm {
        padding-right: 0 !important;
    }
    .no-padding-sm {
        padding: 0 !important;
    }
    .no-marg-left-sm {
        margin-left: 0 !important;
    }
    .no-marg-right-sm {
        margin-right: 0 !important;
    }
    .no-margin-sm {
        margin: 0 !important;
    }
    .col-sm-0-5, .col-sm-1-5, .col-sm-10-5 {
        float: left;
    }
    .col-sm-0-5 {
        width: 4.166665%;
    }
    .col-sm-1-5 {
        width: 12.5%;
    }
    .col-sm-10-5 {
        width: 87.5%;
    }
}