.detalhes
{
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

.detalhes .clearfix:before,
.detalhes .clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.detalhes .clearfix:after {
	clear: both;
}
.detalhes .clearfix {
	min-height: 0; /* support: IE7 */
}

.detalhes #dadosVeiculo > ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.detalhes #dadosVeiculo > h4
{
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 600;
}
.detalhes #dadosVeiculo > ul > li
{
	margin-top: 5px;
	padding: 5px 0 4px 60px;
	font-size: 13px;
	font-weight: 600;
	color: #000;
	border-top: 1px solid #dcdcdc;
}
.detalhes #dadosVeiculo > ul > li:first-child
{
	margin-top: 0;
	padding-top: 0;
	border: none;
}
.detalhes #dadosVeiculo > ul > li > small
{
	display: block;
	font-size: 11px;
	font-weight: 100;
	color: #333;
}
.detalhes #dadosVeiculo > ul > li.marca
{
	background: url(../img/buscador/detalhes/marcas.png) 10px 0 no-repeat;
}
.detalhes #dadosVeiculo > ul > li.modelo
{
	background: url(../img/buscador/detalhes/modelo.png) 10px 7px no-repeat;
}
.detalhes #dadosVeiculo > ul > li.ano
{
	background: url(../img/buscador/detalhes/ano.png) 10px 7px no-repeat;
}
.detalhes #dadosVeiculo > ul > li.versao
{
	background: url(../img/buscador/detalhes/versao.png) 10px 7px no-repeat;
}
.detalhes #dadosVeiculo > ul > li.cambio
{
	background: url(../img/buscador/detalhes/cambio.png) 10px 7px no-repeat;
}
.detalhes #dadosVeiculo > ul > li.portas
{
	background: url(../img/buscador/detalhes/porta.png) 10px 7px no-repeat;
}
.detalhes #dadosVeiculo > ul > li.combustivel
{
	background: url(../img/buscador/detalhes/combustivel.png) 10px 7px no-repeat;
}
.detalhes #dadosVeiculo > ul > li.km
{
	background: url(../img/buscador/detalhes/km.png) 10px 7px no-repeat;
}
.detalhes #dadosVeiculo > ul > li.placa
{
	background: url(../img/buscador/detalhes/placa.png) 10px 7px no-repeat;
}

.detalhes #dadosLoja > ul > li.preco
{
	margin-bottom: 15px;
	font-size: 28px;
	font-weight: 600;
	color: #222222;
}
.detalhes #dadosLoja > ul > li.proposta,
.detalhes #dadosLoja > ul > li.financiamento
{
	margin-bottom: 5px;
}
.detalhes #dadosLoja > ul > li.proposta > .formProp,
.detalhes #dadosLoja > ul > li.financiamento > .formFin
{
	margin-bottom: 5px;
}
.detalhes #dadosLoja > ul > li.financiamento > .formFin
{
	display: none;
}
.detalhes #dadosLoja > ul > li.proposta > .formProp > p,
.detalhes #dadosLoja > ul > li.financiamento > .formFin > p
{
	margin-bottom: 5px;
	font-size: 11px;
	font-weight: 300;
	line-height: 13px;
}
.detalhes #dadosLoja > ul > li.proposta > .formProp > .formularios,
.detalhes #dadosLoja > ul > li.financiamento > .formFin > .formularios
{
	margin: 0;
}
.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row,
.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .row
{
	display: block;
	margin: 0 0 3px !important;
}
.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > input,
.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .row > input,
.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > textarea,
.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > select,
.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .row > select
{
	display: block;
	width: 100%;
	padding: 5px 10px;
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #333;
}
.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > select#estadoProp, 
.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > input#telefoneProp,
.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > input#celularProp,
.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > input#cidadeProp,
.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .row > input#telefoneFin1,
.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .row > input#telefoneFin2
{
	float: left;
}
.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > input#cidadeProp,
.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > input#celularProp,
.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .row > input#telefoneFin2
{
	margin-left: 6px;
}
.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .vFin > label
{
	width: 40%;
	line-height: 30px;
	color: #666;
	float: left;
}
.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .vFin > input
{
	margin-top: 3px;
	width: 60%;
}
.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .row > label.oFin
{
	margin: 4px 0 2px;
	width: 100%;
	font-weight: 300;
	text-align:left;
	line-height: 30px;
}
.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .row > label.oFin > span
{
	display: block;
	margin: 1px 35px 0 0;
	width: 78%;
	line-height: 23px;
	color: #666;
	float: right;
}
.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > input:placeholder,
.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .row > input:placeholder
{
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #999;
}

::-webkit-input-placeholder
{
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #999;
}

:-moz-placeholder
{
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #999;
}

::-moz-placeholder
{
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #999;
}

:-ms-input-placeholder
{ 
	font-family: "Open Sans",Arial,Helvetica,sans-serif; 
	font-size: 12px;
	color: #999;
}

.detalhes #dadosLoja > ul > li .formulario > .btnEnviar
{
	width: 100%;	
	padding: 10px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	background: #4ec34e;
	border: none;
}
.detalhes #dadosLoja > ul > li .formulario > .btnEnviar:hover,
.detalhes #dadosLoja > ul > li .formulario > .btnEnviar:focus
{
	background: #66de66;
}

.detalhes #dadosLoja > ul > li > h5
{
	display: block;
	margin-bottom: 3px;
	padding: 13px 50px 13px 20px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: #999;
	cursor: pointer;
	background-color: #C0C0C0;
	background-image: url(../img/buscador/arrow_forms.png);
	background-position: 95% 16px;
	background-repeat: no-repeat;
}
.detalhes #dadosLoja > ul > li.active > h5
{
	color: #FFF;
	cursor: default;
	background-color: #444444;
	background-position: 95% -8px;
}
.detalhes #dadosLoja > ul > li.loja
{
	padding: 10px 25px 15px;
	text-align: center;
	border: 1px solid #222;
}
.detalhes #dadosLoja > ul > li.loja > h6
{
	margin-bottom: 3px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #444444;
}
.detalhes #dadosLoja > ul > li.loja > .localidade
{
	font-size: 12px;
	font-weight: 300;
	color: #333;
}
.detalhes #dadosLoja > ul > li.loja > .telefone
{
	font-size: 24px;
	font-weight: 800;
	color: #000;
	line-height: 35px;
}
.detalhes #dadosLoja > ul > li.loja > .telefone > span
{
	margin-bottom: 4px;
	font-size: 22px;
	font-weight: 400;
	color: #333;
}
.detalhes #dadosLoja > ul > li.estoqueMapa
{
	display: block;
	margin-top: 2px;
}
.detalhes #dadosLoja > ul > li.estoqueMapa > a
{
	display: block;
	padding: 10px;
	width: 49.5%;
	font-size: 13px;
	font-weight: 300;
	color: #FFF;
	text-align: center;
	float: left;
	background: #444444;
}
.detalhes #dadosLoja > ul > li.estoqueMapa > a.mapa
{
	margin-left: 1%;
	padding-left: 26px;
	width: 49.5%;
	background-image: url(../img/buscador/detalhes/ver_mapa.png);
	background-position: 23px center;
	background-repeat: no-repeat;
}

.detalhes #dadosComplementares
{
	margin-top:10px;
	padding-top: 10px;
	width: 100%;
	float: left;
	border-top:1px solid #999;
}
.detalhes #dadosComplementares > h5
{
	margin: 15px 0 10px;
	font-size: 18px;
	font-weight: 600;
	color: #222;
}
.detalhes #dadosComplementares > h5:first-child
{
	margin-top: 0;
}
.detalhes #dadosComplementares > p
{
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	color: #333;
}

/* Nova galeria de imagem */
#imageBig {
	position: relative;
    width: 100%;
	margin-bottom: 15px;
    overflow: hidden;
    background: url('../img/buscador/big-img-base.jpg') center no-repeat #C7C7C7;
}
#imageBig,  
#imageBig img { 
	display: block;
	width: 100%;
	overflow: none;
}
#imageNav, 
#imageNav > .slick-list > .slick-track {
	width: 100% !important;
}
#imageNav > .slick-list > .slick-track > .slick-slide {
	cursor: pointer;
	margin: 0 0.5%;
    width: 19.15% !important;
}
#imageNav > .slick-list > .slick-track > .slick-slide.disabled {
	cursor: default;
}
#imageNav > .slick-list > .slick-track > .slick-slide:nth-child(1), 
#imageNav > .slick-list > .slick-track > .slick-slide:nth-child(6) {
	margin-left: 0;
}
#imageNav > .slick-list > .slick-track > .slick-slide:nth-child(5), 
#imageNav > .slick-list > .slick-track > .slick-slide:nth-child(10) {
	margin-right: 0;
}
#imageNav > .slick-list > .slick-track > .slick-slide:nth-child(1), 
#imageNav > .slick-list > .slick-track > .slick-slide:nth-child(2), 
#imageNav > .slick-list > .slick-track > .slick-slide:nth-child(3), 
#imageNav > .slick-list > .slick-track > .slick-slide:nth-child(4), 
#imageNav > .slick-list > .slick-track > .slick-slide:nth-child(5) {
	margin-bottom: 1%;
}
#imageNav > .slick-list > .slick-track > .slick-slide > img {
	width: 100%;
}

/* Detalhes do Veículo - Galeria de Imagem */
.detalhes .ad-gallery, 
.detalhes .ad-gallery * {
    margin: 0;
    padding: 0;
}
.detalhes .ad-gallery .ad-image-wrapper {
    position: relative;
    width: 100%;
    height: 284px;
    margin-bottom: 10px;
    overflow: hidden;
    background: url('../img/buscador/big-img-base.jpg') center no-repeat #C7C7C7;
}
.detalhes .ad-gallery .ad-image-wrapper .ad-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -21px;
    margin-left: -21px;
    padding: 10px;
    width: 32px;
    height: 32px;
    background: url('../img/buscador/loader.gif') center no-repeat #FFF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    z-index: 10;
}
.detalhes .ad-gallery .ad-image-wrapper .ad-next {
    cursor: pointer;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    z-index: 200;
}
.detalhes .ad-gallery .ad-image-wrapper .ad-prev {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 25%;
    z-index: 200;
}
.detalhes .ad-gallery .ad-image-wrapper .ad-prev, .detalhes .ad-gallery .ad-image-wrapper .ad-next {
    background: url("../img/buscador/trans.gif") repeat scroll 0 0 transparent;
}
.detalhes .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .detalhes .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
    background: url("../img/buscador/ad_prev.png") repeat scroll 0 0 transparent;
    display: none;
    height: 46px;
    left: 0;
    position: absolute;
    top: 47%;
    width: 46px;
    z-index: 101;
}
.detalhes .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
    background: url("../img/buscador/ad_next.png") repeat scroll 0 0 transparent;
    height: 46px;
    left: auto;
    right: 0;
    width: 46px;
}
.detalhes .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image:hover, .detalhes .ad-gallery .ad-image-wrapper .ad-next .ad-next-image:hover {
    opacity: 0.7;
}
.detalhes .ad-gallery .ad-image-wrapper .ad-image {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 9;
}
.detalhes .ad-gallery .ad-image-wrapper .ad-image > img {
	width: 100%;
}
.detalhes .ad-gallery .ad-image-wrapper .ad-image a img {
    border: 0 none;
}
.detalhes .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
    background: url("../img/buscador/opa75.png") repeat scroll 0 0 transparent;
    bottom: 0;
    color: #000000;
    left: 0;
    padding: 7px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 2;
}
* html .detalhes .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
    background: none repeat scroll 0 0 transparent;
}
.detalhes .ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
    display: block;
}
.detalhes .ad-gallery .ad-controls {
    height: 20px;
}
.detalhes .ad-gallery .ad-info {
    background: url("../img/buscador/icon4.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    padding-left: 20px;
}
.detalhes .ad-gallery .ad-slideshow-controls {
    float: right;
}
.detalhes .ad-gallery .ad-slideshow-controls .ad-slideshow-start, .detalhes .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
    cursor: pointer;
    padding-left: 5px;
}
.detalhes .ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
    font-size: 0.9em;
    padding-left: 5px;
}
.detalhes .ad-gallery .ad-slideshow-running .ad-slideshow-start {
    cursor: default;
    font-style: italic;
}
.detalhes .ad-gallery .ad-nav {
    position: relative;
    width: 100%;
}
.detalhes .ad-gallery .ad-forward, .detalhes .ad-gallery .ad-back {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}
* html .detalhes .ad-gallery .ad-forward, .detalhes .ad-gallery .ad-back {
    height: 100px;
}
.detalhes .ad-gallery .ad-back {
    background: url("../img/buscador/ad_scroll_back.png") no-repeat scroll 0 22px transparent;
    cursor: pointer;
    display: block;
    left: -20px;
    width: 13px;
}
.detalhes .ad-gallery .ad-forward {
    background: url("../img/buscador/ad_scroll_forward.png") no-repeat scroll 0 22px transparent;
    cursor: pointer;
    display: block;
    right: -20px;
    width: 13px;
}
.detalhes .ad-gallery .ad-nav .ad-thumbs {
    width: 100%;
}
.detalhes .ad-gallery .ad-nav .ad-thumbs ul {
    width: 100% !important;
}
.detalhes .ad-gallery .ad-thumbs .ad-thumb-list {
    float: left;
    list-style: none outside none;
    width: 100%;
}
.detalhes .ad-gallery .ad-thumbs li, 
.detalhes #no-images .ad-thumbs li {
	margin: 0 0.8%;
    padding-bottom: 5px;
    width: 18.7%;
    float: left;
}
.detalhes .ad-gallery .ad-thumbs li:nth-child(1), 
.detalhes .ad-gallery .ad-thumbs li:nth-child(6),
.detalhes #no-images .ad-thumbs li:nth-child(1), 
.detalhes #no-images .ad-thumbs li:nth-child(6) {
	margin-left: 0;
}
.detalhes .ad-gallery .ad-thumbs li:nth-child(5), 
.detalhes .ad-gallery .ad-thumbs li:nth-child(10),
.detalhes #no-images .ad-thumbs li:nth-child(5), 
.detalhes #no-images .ad-thumbs li:nth-child(10) {
	margin-right: 0;
}
.detalhes .ad-gallery .ad-thumbs li a {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    background: url('../img/buscador/small-img1.jpg') no-repeat;
}
.detalhes .ad-gallery .ad-thumbs li > img, 
.detalhes .ad-gallery .ad-thumbs li > a > img, 
.detalhes #no-images .ad-thumbs li > img {
    display: block;
    width: 100%;
}

.ad-preloads {
    left: -9000px;
    position: absolute;
    top: -9000px;
}
.ad-slideshow-controls {
    display: none !important;
}
.more-pic {
    float: right;
}

@media (max-width: 768px) {
	.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > select#estadoProp, 
	.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > input#telefoneProp,
	.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > input#celularProp,
	.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > input#cidadeProp,
	.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .row > input#telefoneFin1,
	.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .row > input#telefoneFin2
	{
		width: 48.8%;
	}

	.detalhes #dadosVeiculo > h3.preco
	{
		margin-top: 15px;
		padding: 10px;
		font-size: 30px;
		color: #fff;
		background-color: #F51414;
	}

	.detalhes #dadosVeiculo > h4
	{
		padding: 10px;
		color: #fff;
		background-color: #999;
	}

	.detalhes #dadosComplementares
	{
		margin: 15px 0 0;
		padding: 0;
		border: none;
	}
	.detalhes #dadosComplementares > h5
	{
		padding: 10px;
		color: #fff;
		background-color: #999;
	}
}

@media (min-width: 992px) {
	.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > select#estadoProp, 
	.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > input#telefoneProp,
	.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > input#celularProp,
	.detalhes #dadosLoja > ul > li.proposta > .formProp .formulario > .row > input#cidadeProp,
	.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .row > input#telefoneFin1,
	.detalhes #dadosLoja > ul > li.financiamento > .formFin .formulario > .row > input#telefoneFin2
	{
		width: 48.68%;
	}
}