.filtrosdebusca {
	display: block;
	float: left;
}
.filtrosdebusca * {
	box-sizing: border-box;
}
.filtrosdebusca .carros {
	position: relative;
	display: block;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 2px;
	width: 100%;
	background: #E0E0E0;
	z-index: 2;
}
.filtrosdebusca .carros h2 {
	color: #FFFFFF !important;
	font-size: 24px !important;
	font-weight: bold !important;
	margin: 0 !important;
	padding: 13px 10px 10px !important;
	background: #444444  !important;
}
.filtrosdebusca .carros h2 span {
	font-size: 12px;
	font-weight: normal;
}
.filtrosdebusca .carros h3 {
	color: #444444 ;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	padding: 8px 0 0 10px;
}
.filtrosdebusca .carros > p {
	margin-top: 8px;
	margin-bottom: 0 !important;
	margin-left: 10px;
	font-size: 11px;
	color: #000000;
}
.filtrosdebusca .carros > p a {
	background: url("../img/filtros/cross.png") no-repeat scroll left center transparent;
	color: #000000;
	font-size: 11px;
	margin-left: 15px;
	padding-left: 15px;
	text-decoration: none;
}
.filtrosdebusca .carros > p a:hover {
	text-decoration: underline;
}
.filtrosdebusca .carros > p a:first-child {
	margin-left: 0;
}
.filtrosdebusca .head2 {
	background: #444444 ;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	height: 45px;
	line-height: 45px;   
	margin-top: 5px;
	margin-bottom: 0;
	padding-left: 10px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.filtrosdebusca .botoes_filtros {
	position: relative;
	display: block;
	margin: 0 0 2px;
	padding: 4px 10px;
	background: #BEBEBE;
	z-index: 1;
}
.filtrosdebusca .botoes_filtros > a {
	display: block;
	text-align: center;
	font: 11px/19px Arial;
	color: #333;
}
.filtrosdebusca .botoes_filtros > a:hover {
	color: #000;
	text-decoration: none;
}
.filtrosdebusca .menu_filtro 
{
	height: auto;
	width: auto;
	list-style:none !important;
	list-style-type:none;
	margin:	0px;
	padding: 0px;
	display: inline;
}
.filtrosdebusca .menu_filtro > li > a 
{
	position: relative;
	display: block;
	padding-left: 15px;
	height: 38px;
	font-weight: bold;
	font-size: 12px;
	font-family: Tahoma,Geneva,sans-serif;
	color: #444;
	line-height: 38px;
	text-decoration: none;
	background: url("../img/filtros/bg2.jpg") repeat-x scroll 0 0 transparent;
}
.filtrosdebusca .menu_filtro ul li a {
	font-size: 11px;
	height: 22px;
	line-height: 20px;
	margin-right: 3px;
	position: relative;
}
.filtrosdebusca .menu_filtro ul li a:hover {
	color: #CCCCCC;
	text-decoration: none;
}
.filtrosdebusca .menu_filtro ul li:last-child a {}
.filtrosdebusca .menu_filtro > li > a:hover,
.filtrosdebusca .menu_filtro > li > a.active {
	background-color: #35AFE3;
}
.filtrosdebusca .menu_filtro > li > a.active {
	border-bottom: 1px solid #666;
}
.filtrosdebusca .menu_filtro > li > a:before {}
.filtrosdebusca .menu_filtro .item1 > a:before {
	background-position: 0 0;
}
.filtrosdebusca .menu_filtro .item2 > a:before {
	background-position: -38px 0;
}
.filtrosdebusca .menu_filtro .item3 > a:before {
	background-position: 0 -38px;
}
.filtrosdebusca .menu_filtro .item4 > a:before {
	background-position: -38px -38px;
}
.filtrosdebusca .menu_filtro .item5 > a:before {
	background-position: -76px 0;
}
.filtrosdebusca .menu_filtro > li > a span {
	background: none repeat scroll 0 0 #48515C;
	color: #FFFFFF;
	display: inline-block;
	font-size: 0.857em;
	height: 1em;
	line-height: 1em;
	margin: -0.8em 0 0;
	padding: 0.4em 0.6em;
	position: absolute;
	right: 1em;
	text-align: center;
	top: 50%;
}
.filtrosdebusca .menu_filtro > li > a:hover span,
.filtrosdebusca .menu_filtro > li a.active span {}
.filtrosdebusca .menu_filtro > li > ul li a:before {
	color: #BCBCBF;
	font-size: 8px;
	height: 1em;
	left: -2.7em;
	position: absolute;
	top: 0;
	width: 1em;
}
.filtrosdebusca .menu_filtro > li > ul li:hover a,
.filtrosdebusca .menu_filtro > li > ul li:hover a span,
.filtrosdebusca .menu_filtro > li > ul li:hover a:before {	color: #333;
}
.filtrosdebusca .menu_filtro > li > a.active span {
	margin: -0.7em 0 0;
	background: url("../img/filtros/minus1.jpg") no-repeat scroll 0 0 transparent;
	height: 15px;
	width: 15px;
}
.filtrosdebusca .menu_filtro > li > a span {
	background: url("../img/filtros/plus1.jpg") no-repeat scroll 0 0 transparent;
	height: 15px;
	width: 15px;
}
.filtrosdebusca .menu_filtro li ul {
	background: #e0e0e0;
}
.filtrosdebusca .menu_filtro > li > ul > li {
	color: #999;
	float: left;
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 10px;
	margin: 2px 0;
	padding-left: 22px;
	width: 91%;
}
.filtrosdebusca .menu_filtro > li > ul > li a {
	color: #666;
}
.filtrosdebusca .menu_filtro li ul {
	display: none;
	overflow: hidden;
	padding: 10px 0;
}
.filtrosdebusca .menu_filtro li:last-child ul li {
	margin-bottom: 4px;
}

@media (max-width: 768px) {
	.filtrosdebusca .carros { margin-bottom: 5px; }
}