.formulario .form-group, 
.formularios .form-group {
    margin: 0;
}

.formularios label, 
.formularios .form-group label {
    display: none;
}
.formularios .formulario label, 
.formularios .formulario .form-group label {
    display: block;
}

.formulario .row .form-group.col-xs-6:first-child, 
.formularios .row .form-group.telefone {
    padding-right: 5px;
}
.formulario .row .form-group.col-xs-6:last-child, 
.formularios .row .form-group.celular {
    padding-left: 5px;
}

.formulario input, 
.formulario select, 
.formulario textarea, 
.formulario button {
    margin-bottom: 3px;
} 
.formulario .form-group input, 
.formularios .form-group input, 
.formulario .form-group select, 
.formularios .form-group select, 
.formulario .form-group textarea, 
.formularios .form-group textarea, 
.formulario .form-group button, 
.formularios .form-group button {
    margin-bottom: 10px;
}

.formulario input, 
.formularios .form-group input, 
.formulario select, 
.formularios .form-group select, 
.formulario textarea, 
.formularios .form-group textarea {
    padding: 15px;
    height: auto;
    font-weight: 500;
    background: #f5f5f5;
    border:  none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.formulario input[type="text"], 
.formulario select, 
.formulario textarea {
    height: 50px;
}
.formulario button, 
.formularios button, 
.formularios .form-group button {
    border:  none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}