#resultado-busca .heading1 
{
	color: #5D5D5D;
	font-size: 10px;
	margin: 10px 0 5px;
}

#resultado-busca .banner {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DBDBDB;
}

#resultado-busca .banner span {
	line-height: 80px;
	padding: 0 0 0 10px;
}

#resultado-busca .banner span a {
	color: #05286A;
}

#resultado-busca .banner span a:hover {
	text-decoration: none;
}

#resultado-busca .head-top {
	margin: 0;
	padding-bottom: 5px;
}

#resultado-busca .comparar {
	padding-bottom: 5px;
}

#resultado-busca .head-top .order, #resultado-busca .head-top .view-as .text3, #resultado-busca .head-top .show {
	color: #060F29;
	float: left;
	font-size: 11px;
	margin: 5px 0 0 20px;
}

#resultado-busca .head-top .order {	
	margin: 0;
	line-height: 37px;
}

#resultado-busca .head-top .view {
	float: left;
	margin: 10px 0 0 10px;
}

#resultado-busca .head-top .view a {
	color: #070e23;
	padding: 3px 7px;
	text-decoration: none;
	background: #E0E0E0;
}

#resultado-busca .head-top .view a img {
	margin-right: 5px;
}

#resultado-busca .head-top .show #sel_mostrar_pp 
{
	padding: 4px 0 4px 5px;
	margin-left: 10px;
}

#resultado-busca .head-top .view-as {
	float: right;
	padding-top: 10px;
}

#resultado-busca .head-top .view-as img {
	float: right;
	margin-left: 5px;
}

#resultado-busca .head-top .view-as .text3 {
	margin: 0;
	line-height: 20px;
}

#resultado-busca .pagination {
	margin: 0;
	clear: both;
	overflow: hidden;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#resultado-busca .pagination > a,
#resultado-busca .pagination > span {
	display: block;
	margin-right: 1px;
	padding: 5px 10px;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	background: #e0e0e0;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#resultado-busca .pagination > span {
	color: #1b1b1b;
}

#resultado-busca .pagination > a:hover

{
	background-color: #d0d0d0;
}

#resultado-busca .pagination .comparar-ckeck {
	float: right;
}

#resultado-busca .comparar-ckeck-top {
	float: right;
}

#resultado-busca .comparar-ckeck-top a,
#resultado-busca .pagination .comparar-ckeck a 
{
	position: relative;
	display: block;
	padding: 0 35px 0 15px;
	font-weight: bold;
	font-size: 11px;
	line-height: 28px;
	color: #FFFFFF;
	text-decoration: none;
	background: #444;
}

#resultado-busca .comparar-ckeck-top a:hover,
#resultado-busca .pagination .comparar-ckeck a:hover 
{
	background: #666;
}

#resultado-busca .comparar-ckeck-top a span,
#resultado-busca .pagination .comparar-ckeck a span 
{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 1px;
	display: block;
}

#resultado-busca .comparar-ckeck-top a span {
	background: url('../img/buscador/comparar_down.png') center no-repeat;
}

#resultado-busca .pagination .comparar-ckeck a span {
	background: url('../img/buscador/comparar_up.png') center no-repeat;
}

#resultado-busca .text4 {
	color: #5D5D5D;
	float: left;
	font-size: 10px;
	line-height: 20px;
	margin-top: 16px;
}

#resultado-busca .mid-part {
	clear: both;
	padding-bottom: 10px;
}

#resultado-busca .mid-part p {
	margin: 0;
}

#resultado-busca .mid-part ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#resultado-busca .mid-part ul li {
	margin-top: 5px;
	padding: 15px 15px 11px;
	background: #e0e0e0;
}

#resultado-busca .mid-part ul li.first-list {
	background: none repeat scroll 0 0 #FFF8E7;
	margin: 0 0 10px 0;
}

#resultado-busca .mid-part ul li.first {
	margin-top: 0;
}

#resultado-busca .mid-part ul li:hover {
	background: #e9e9e9;
}

#resultado-busca .mid-part ul li .mid-part-left {
	color: #6A6A6A;
	float: left;
	font-size: 9px;
}

#resultado-busca .mid-part ul li .mid-part-left a {
	display: block;
	background: url('../img/buscador/inner-veiculo-img.jpg') center no-repeat;
}
#resultado-busca .mid-part ul li .mid-part-left a img {
}

#resultado-busca .mid-part ul li .mid-part-mid 
{
	color: #2F2F2F;
	float: left;
	margin:0 15px;
}

#resultado-busca .mid-part ul li .mid-part-mid h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

#resultado-busca .mid-part ul li .mid-part-mid p {
	margin-bottom: 15px;
	font-size: 10px;
	line-height: 10px;
}

#resultado-busca .mid-part ul li a {
	color: #162348;
}

#resultado-busca .mid-part ul li .mid-part-mid p a {
	color: #162348;
	font-size: 12px;
	text-decoration: underline;
}

#resultado-busca .mid-part ul li .mid-part-mid p a:hover {
	text-decoration: none;
}

#resultado-busca .mid-part ul li .mid-part-mid p.acessorios {
	margin: 16px 0 20px;
	font-weight: bold;
}

#resultado-busca .mid-part ul li .mid-part-mid div.informacoes {
	margin: 5px 0 12px;
	font-weight: bold;
}
#resultado-busca .mid-part ul li .mid-part-mid div.informacoes > div {
	display: block;
	margin-left: 10px;
	padding: 4px 0 1px 38px;
	font-size: 11px;
	font-weight: 600;
	line-height: 12px;
	float: left;
	border-left: 1px solid #D0D0D0;
}
#resultado-busca .mid-part ul li .mid-part-mid div.informacoes > div:first-child {
	margin-left: 0;
	border: none;
}
#resultado-busca .mid-part ul li .mid-part-mid div.informacoes > div.km {
	background: url("../img/buscador/detalhes/km.png") no-repeat 0 -1px;
}
#resultado-busca .mid-part ul li .mid-part-mid div.informacoes > div.cor {
	background: url("../img/buscador/detalhes/marcas.png") no-repeat 0 -2px;
}
#resultado-busca .mid-part ul li .mid-part-mid div.informacoes > div.cambio {
	background: url("../img/buscador/detalhes/cambio.png") no-repeat 0 -3px;
}
#resultado-busca .mid-part ul li .mid-part-mid div.informacoes > div > span {
	display: block;
	font-size: 10px;
	font-weight: 300;
	line-height: 8px;
}

#resultado-busca .mid-part ul li p.btns
{
	margin-bottom: 0 !important;
}

#resultado-busca .mid-part ul li .mid-part-mid p.btns a.detalhes,
#resultado-busca .mid-part ul li .mid-part-mid p.btns a.proposta,
#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes a.detalhes,
#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes a.proposta 
{
	position: relative;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: 500;
	color: #FFF;
	text-decoration: none;
	padding: 10px 15px 10px 15px;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes a.detalhes 
{
	margin:0 0 10px 5px;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes a.proposta 
{
	margin: 0;
}

#resultado-busca .mid-part ul li .mid-part-mid p.btns a.proposta,
#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes a.proposta {
	background: #49A10A;
}

#resultado-busca .mid-part ul li .mid-part-mid p.btns a.proposta:hover,
#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes a.proposta:hover {
    background: #367A06;
}

#resultado-busca .mid-part ul li .mid-part-mid p.btns a.proposta span,
#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes a.proposta span {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 1px;
	display: block;
	background: url('../img/buscador/check.png') center no-repeat;
}

#resultado-busca .mid-part ul li .mid-part-mid p.btns a.detalhes, 
#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes a.detalhes {
	background: #a3a3a3;
}

#resultado-busca .mid-part ul li .mid-part-mid p.btns a.detalhes:hover, 
#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes a.detalhes:hover {
	background: #7d7c7c;
}

#resultado-busca .mid-part ul li .mid-part-mid p.btns a.detalhes span,
#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes a.detalhes span {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 1px;
	display: block;
	background: url('../img/buscador/mais.png') center no-repeat;
}

#resultado-busca .mid-part ul li .mid-part-right 
{
	position: relative;
	padding-right: 20px;
	float: right;
}

#resultado-busca .mid-part ul li .mid-part-right h3 {
	color: #05286A;
	font-size: 22px;
	font-weight: bold;
	line-height: 16px;
	margin: 0;
	padding: 0;
}

#resultado-busca .mid-part ul li .mid-part-right p.price {
	color: #333;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}

#resultado-busca .mid-part ul li .mid-part-right p.name {
	color: #777;
	font-size: 10px;
	font-weight: 600;
	line-height: 10px;
	padding-bottom: 2px;
}

#resultado-busca .mid-part ul li .mid-part-right p.bairro-cidade {
	color: #2F2F2F;
	font-size: 11px;
}
#resultado-busca .mid-part ul li .mid-part-right p.bairro-cidade > span {
	display: block;
	font-size: 10px;
	line-height: 12px;
}

#resultado-busca .mid-part ul li .mid-part-right p.phone {
	margin-top: 2px;
	font-size: 12px;
	font-weight: 600;
	color: #242424;
}
#resultado-busca .mid-part ul li .mid-part-right p.phone > span {
	font-size: 10px;
	font-weight: 300;
}

#resultado-busca .mid-part ul li .mid-part-right p.compartilhar {
	color: #0d1630;
	font-size: 11px;
	margin-top: 9px;
}
#resultado-busca .mid-part ul li .mid-part-right p.compartilhar > a.facebook,
#resultado-busca .mid-part ul li .mid-part-right p.compartilhar > a.enviar {
	display: block;
	padding: 8px 7px;
	font-size: 10px;
	color: #333;
	text-align: center;
	float: left;
	background: #D0D0D0;
}

#resultado-busca .mid-part ul li .mid-part-right p.compartilhar > a.enviar {
	margin-left: 3px;
}

#resultado-busca .mid-part ul li .mid-part-right p.compartilhar a:hover {
	text-decoration: none;
	background: #C0C0C0;
}

#resultado-busca .mid-part ul li .mid-part-right .comparar {
	bottom: -2px;
	position: absolute;
	right: 0;
	text-align: center;
	padding: 0;
}
#resultado-busca .mid-part ul li .mid-part-right .comparar > label {
	position: relative;
}

#resultado-busca .mid-part ul li .mid-part-right .comparar img {
	margin-left: 2px;
}

#resultado-busca .mid-part ul li .mid-part-right .comparar input.check-comp {
}

.clear {
	clear: both;
}

#resultado-busca .mid-part-bloco {
	padding: 0;
}

#resultado-busca .mid-part-bloco ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#resultado-busca .mid-part-bloco ul li 
{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #ABABAB;
	float: left;
	margin: 0 12px 10px 0;
	padding: 0;
}

#resultado-busca .mid-part-bloco ul li.nomargin {
	margin: 0 0 10px;
}

#resultado-busca .mid-part-bloco ul li.first-list {
	background: none repeat scroll 0 0 #FFF8E7;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid 
{
	color: #2F2F2F;
	padding: 7px;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid:hover {
	background: #f3f3f3;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid h3 {
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
	margin: 10px 0 6px;
	padding: 0;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid p {
	font-size: 11px;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .foto a 
{
	display: block;
	background: url('../img/buscador/inner-veiculo-img.jpg') center no-repeat #C7C7C7;
	border: 1px solid #878786;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid p a {
	color: #162348;
	font-size: 12px;
	text-decoration: underline;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid p a:hover {
	text-decoration: none;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid p.qt-fotos {
	text-align: right;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .titulo_versao p {
	line-height: 15px;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid p.price {
	color: #0d1630;
	font-size: 18px;
	font-weight: bold;
	padding: 6px 0;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid p.name 
{
	color: #242424;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 2px;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid p.bairro-cidade {
	color: #2F2F2F;
	font-size: 11px;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid p.phone {
	color: #242424;
	font-size: 13px;
	font-weight: bold;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes {
	margin-top: 15px;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes {
	float: left;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes a {
	color: #162348;
	font-size: 11px;
	line-height: 18px;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.comparar2 
{
	float: left;
	padding-top: 15px;
	text-align: right;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-right p.compartilhar a:hover {
	text-decoration: none;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-right .comparar {
	bottom: 0;
	position: absolute;
	right: 10px;
	text-align: center;
}

#resultado-busca .mid-part-bloco ul li .mid-part-bloco-right .comparar img {
	margin-left: 2px;
}

#alertError > p 
{
	margin: 0;
}

.row 
{
	margin-right: -15px !important;
	margin-left: -15px !important;
}

#resultado-busca .head-top .show #sel_mostrar_pp {
    padding: 5px;
    width: auto;
    height: auto;
}

#resultado-busca .mid-part ul li .mid-part-mid p.btns a.detalhes, 
#resultado-busca .mid-part ul li .mid-part-mid p.btns a.proposta, 
#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes a.detalhes, 
#resultado-busca .mid-part-bloco ul li .mid-part-bloco-mid .verdetalhes p.linksdetalhes a.proposta {
    padding: 13px 15px;
}

#resultado-busca .mid-part ul li .mid-part-mid p {
    margin-bottom: 10px;
    height: 30px;
    line-height: 14px;
}

#resultado-busca .mid-part ul li .mid-part-mid div.informacoes {
    margin: 0 0 22px;
}

@media (max-width: 768px) {
	#resultado-busca .mid-part ul li .mid-part-mid div.informacoes 
	{
		margin: 20px 0;
	}

	#resultado-busca .pagination > a, 
	#resultado-busca .pagination > span 
	{
		padding: 5px 8px !important;
	}

	#resultado-busca .mid-part ul li .mid-part-mid p 
	{
		margin-bottom: 0 !important;
	}

	#resultado-busca .mid-part ul li .mid-part-mid 
	{
		margin-top: 10px !important;
	}
	#resultado-busca .mid-part ul li .mid-part-right 
	{
		margin-top: 15px !important;
	}
}