<section class="form-financiamento-001">
    <div class="form-financiamento">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sm-8 col-md-9">
                    <div class="booking-section webhub-box">
                        <form data-form-type="financiamento" data-form-layout="true"></form>
                    </div>
                </div>
                <div class="sidebar col-sm-4 col-md-3">
                    <div class="webhub-box book-with-us-box">
                        <h4 data-editable="true">Conheça nossa loja!</h4>
                        <ul>
                            <li>
                                <i class="fa fa-home color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true">Endereço</h5>
                                <p data-editable="true">Rua Alvorada, 1289 São Paulo/SP</p>
                            </li>
                            <li>
                                <i class="fa fa-clock-o color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true">Horários de Atendimento</h5>
                                <p data-editable="true">Seg à Sex - 9:00 às 18:00 <br/> Sáb - 8:00 às 16:00 </p>
                            </li>
                            <li>
                                <i class="fa fa-whatsapp color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true">Whatsapp</h5>
                                <p data-editable="true">(11) 0000.0000</p>
                            </li>
                        </ul>
                    </div>
                    <div class="webhub-box book-with-us-box">
                        <h4 data-editable="true">Atendimento Diferenciado</h4>
                        <ul>
                            <li>
                                <i class="fa fa-cog color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true">Peças e Acessórios</h5>
                                <p data-editable="true">Deixe seu carro mas completo.</p>
                            </li>
                            <li>
                                <i class="fa fa-car color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true">Teste Drive</h5>
                                <p data-editable="true">Escolha o melhor horário pra você e agende online.</p>
                            </li>
                            <li>
                                <i class="fa fa-wrench color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true">Oficina</h5>
                                <p data-editable="true">Assistência técnica autorizada.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="webhub-box contact-box">
                        <h4 data-editable="true">VMotors</h4>
                        <p data-editable="true">O jeito mais fácil e rápido de adquirir seu carro.</p>
                        <address class="contact-details">
                            <span class="contact-phone">
                                <i class="fa fa-phone color-default" data-icon="true"></i> <span class="color-default" data-editable="true">(00) 0000-0000</span>
                            </span>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>