<div class="cta-c001 full-w pad-default-elements">
		<section class="image-bg parallax overlay">
			<div class="container">
				<div class="row mb-xs-24">
					<div class="col-sm-6 col-md-5 text-right text-center-xs">
						<h1 class="large mb8" data-editable="true">10,000</h1>
						<h6 class="uppercase" data-editable="true">Clientes satisfeitos</h6>
					</div>
					<div class="col-md-2 text-center hidden-sm hidden-xs">
						<div class="fa-inverse fa-5x"><i class="fa fa-plus color-default" data-icon="true"></i></div>
					</div>
					<div class="col-sm-6 col-md-5 text-center-xs">
						<h1 class="large mb8" data-editable="true">Ilimitado</h1>
						<h6 class="uppercase" data-editable="true">Modelos para todos os gostos</h6>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 text-center">
						<h3 class="mb40 mb-xs-24" data-editable="true">Aqui nosso objetivo é tornar
							<br> seu sonho realidade.
						</h3>
						<a class="btn btn-lg btn-filled btn-color layout-btn" href="#" data-editable="true">Conheça nossa loja</a>
					</div>
				</div>
			</div>
		</section>
</div>