<section class="x_component_header_cod_200 pad-default-elements navbar-wrapper">
    <div class="site-header">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12 col-sm-4 logo">
                    <img data-image="true" src="assets/img/component_header_cod_200_logo.png" alt="Logo">
                </div>
                <div class="col col-xs-12 col-sm-4 header-left pull-left text-center-xs">
                    <div class="header-top-small-text">
                        <div class="phone-number"><i data-icon="true" class="fa fa-phone color-default" aria-hidden="true"></i>
                            <div class="inline-block" data-editable="true">800-2345-6789</div>
                        </div>
                        <div class="top-small-text" data-editable="true">
                            7 Days a week from 9:00 am to 5:00 pm
                        </div>
                    </div>
                </div>
                <div class="col col-xs-12 col-sm-4 header-right pull-right text-center-xs">
                    <div class="header-top-small-text pull-right">
                        <div class="phone-number"><i data-icon="true" class="fa fa-map-marker color-default" aria-hidden="true"></i>
                            <div class="inline-block" data-editable="true">Endereço</div>
                        </div>
                        <div class="top-small-text inline-block" data-editable="true">
                            Rua...
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-xs-12 col-sm-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="mobile-button visible-xs">
                              <div class="arrow"></div>
                            </button>
                            <div class="visible-xs mobile-king">MENU</div>
                        </div>
                        <div id="navbar" class="" aria-expanded="false">

                            <ul data-menu="true">

                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>