<section class="x_component_search_cod_062 pad-default-element" page-id="#pageId#">
    <div class="container">
        <div class="row">
            <form role="form" action="#" method="post" class="formularios clearfix">
                <div class="container">
                    <div class="filter-body">
                        <div class="filter-content">
                            <div id="top-filter-layout-2" class="row">
                                <div class="col-md-6">
                                    <div class="form-group top-filter-row">
                                        <label class="parameter-name">Marca</label>
                                        <div class="selector" id="uniform-feature">
                                            <select id="feature" class="form-control" name="marcas" autocomplete="off">
                                                <option value="#marcaId#">#marca#</option>
                                                <optgroup label="Selecione a Marca"></optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group top-filter-row">
                                        <label class="parameter-name">Ano (de)</label>
                                        <div class="selector disabled" id="uniform-feature">
                                            <select id="feature" class="form-control" name="ano_de" autocomplete="off">
                                                <option value=""> Modelo</option>
                                                <optgroup label="selecione o modelo"></optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group top-filter-row">
                                        <label class="parameter-name">Preço (de)</label>
                                        <div class="selector" id="uniform-category">
                                            <select id="category" class="form-control" name="preco_de" autocomplete="off">
                                                <option value=""> De</option>
                                                <optgroup label="menor preço"></optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group top-filter-row">
                                        <label class="parameter-name">Modelo</label>
                                        <div class="selector" id="uniform-feature">
                                            <select id="feature" class="form-control" name="modelos" autocomplete="off">
                                                <option value=""> Modelo</option>
                                                <optgroup label="selecione o modelo"></optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group top-filter-row">
                                        <label class="parameter-name">Ano (até)</label>
                                        <div class="selector" id="uniform-feature">
                                            <select id="feature" class="form-control" name="ano_ate" autocomplete="off">
                                                <option value=""> Até</option>
                                                <optgroup label="maior ano"></optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group top-filter-row">
                                        <label class="parameter-name">Preço (até)</label>
                                        <div class="selector" id="uniform-feature">
                                            <select id="feature" class="form-control" name="preco_ate" autocomplete="off">
                                                <option value=""> Até</option>
                                                <optgroup label="maior preço"></optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn layout-btn btn-color btn-md result" id="enviarBuscador">Buscar</button>
                        </div>
                        <div class="filter-navigation"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>