<div class="slider-s001">
  <div class="fullscreen">
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="height:100vh;" data-banner-template="true">
                    <a href="#"><img src="http://placehold.it/1080x500?text=Imagem+do+banner" width="100%" alt="" class="slide-image" /></a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
  </div>
</div>