.buscador-b004 {
    background-color: #fff;
}

.buscador-b004 .cont-filtros {
    padding-top: 20px;
}

.buscador-b004 .titulo-busca {
    border-bottom: 1px solid #cacaca;
    color: #222;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: #eee;
    padding: 10px 18px 0px 8px;
}

.buscador-b004 h1 {
    font-size: 30px;
    line-height: 3;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
}

.buscador-b004 h1 span {
    margin-top: 10px;
    display: block;
    font-weight: 300;
    font-size: 70%;
    line-height: 1.2;
}

.buscador-b004 div.controls {
    margin-bottom: 12px;
    border: 1px dotted #fafafa;
    padding: 25px 20px;
    position: relative;
    margin-bottom: 20px;
}

.buscador-b004 div.controls h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: -10px;
    padding: 0 10px;
    color: #fafafa;
    background-color: #54bded;
}
.buscador-b004 .form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: solid 1px #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.buscador-b004 .btn {
    color: #000;
    width: 100%;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    white-space: nowrap;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.buscador-b004 .panel-default>.panel-heading,
.buscador-b004 .tituloSecao {
    color: #f48120;
    background-color: #3e3e3e;
}

.buscador-b004 .panel-group {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.buscador-b004 .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 0px;
}

@media all and (min-width: 768px) {
    .buscador-b004 .form-inline .form-control {
        width: 100% !important;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 991px) {
    .buscador-b004 .search {
        margin-bottom: 30px;
    }
}

.buscador-b004 .titulo-busca {
    text-align: center;
}

.buscador-b004 .logo {
    width: 76px;
    padding-top: 20px;
}

.buscador-b004 .search .fa.fa-search {
    padding-right: 10px;
}