<section class="x_component_footer_cod_007 pad-default-elements">
    <div class="container-fluid">
        <div class="row text-xs-center">
            <div class="col-md-3">
                <h1 data-editable="true" class="font-title footer-module-title">Navigation</h1>
                <ul class="list-unstyled footer-menu">
                    <li class="active">
                        <div data-editable="true">
                            <a href="javascript:void(0);">Home</a>
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Online Store
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            About Us
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Blog
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Contacts
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="visible-xs">

            <div class="col-md-3">
                <h1 data-editable="true" class="font-title footer-module-title">Information</h1>
                <ul class="list-unstyled footer-menu">

                    <li>
                        <div data-editable="true">
                            Terms e Conditions
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Account
                        </div>
                    </li>

                </ul>
            </div>
            <hr class="visible-xs">

            <div class="col-md-3 social-list">
                <h1 data-editable="true" class="font-title footer-module-title">Social List</h1>
                <ul class="list-unstyled footer-social" data-social="true">
                    <li>
                        <a class="color-default-hover" target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a>
                    </li>
                </ul>
            </div>
            <hr class="visible-xs">
            <div class="col-md-3">
                <div class="newsletter-container background-theme">
                    <h1 class="font-title footer-module-title" data-editable="true">Get the latest news daily!</h1>
                    <div data-editable="true">
                        Give us your email and you will be daily updated with the latest events, in detail!
                    </div>
                    <div class="form-group newsletter-form" data-newsletter="true">
                      	<form data-form-type="newsletter" data-form-layout="newsletter-4"></form>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="copyright">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <div data-editable="true">Car Tuning © 2017 Privacy Policy</div>
                </div>
            </div>
        </div>
    </div>
</section>