.form-contato-004 {
    margin: 50px 0;
}

.form-contato-004 .contact-info ul {
    list-style: none;
}

.form-contato-004 .social-links li {
    display: inline-block;
    margin-right: 7px;
}

.form-contato-004 .social-links li>a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #f9f9f9;
    color: #5a5a5a;
    text-align: center;
    font-size: 12px;
    border-radius: 2px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.form-contato-004 .contact-info li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    line-height: 24px;
    color: #5a5a5a;
    font-size: 13px;
}

.form-contato-004 .contact-info li>i {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    color: #cccccc;
}

.form-contato-004 .default-form .form-group {
    position: relative;
    margin-bottom: 25px;
}

.form-contato-004 .btn-main {
    position: relative;
    padding: 9px 25px;
    line-height: 24px;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
}

.form-contato-004 .default-form input[type='text'],
.form-contato-004 .default-form input[type='email'],
.form-contato-004 .default-form select,
.form-contato-004 .default-form textarea {
    display: block;
    width: 100%;
    line-height: 24px;
    height: 46px;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #111111;
    border-radius: 2px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.form-contato-004 .default-form textarea {
    height: 140px;
    resize: none;
}

.form-contato-004 .display-contact {
    display: inline-block;
}

@media all and (max-width: 990px) {
    .form-contato-004 .contact-info li {
        padding-left: 0;
    }
    .form-contato-004 .contact-info li>i {
        position: relative;
    }
    .text-center-xs {
        text-align: center;
    }
    .form-contato-004 .display-contact {
        display: block;
    }
    .form-contato-004 .btn-main {
        display: block;
        width: 100%;
    }
}