.redes-r001 .redes-r001_link {
    color: red;
}

.redes-r001 .redes-r001_link:hover {
    color: #000;
}

.redes-r001 .redes-r001_border_radius_reset {
    border-radius: none;
}

.redes-r001 .redes-r001_wrap_social .cont-elem {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}

.redes-r001 .redes-r001_wrap_social .cont-elem,
.redes-r001 .redes-r001_wrap_social .cont-elem a {
    color: #fff;
}

@media all and (max-width: 844px) {
    .redes-r001 .redes-r001_wrap_social .cont-elem {
        margin-bottom: 20px;
    }
}

.redes-r001 .redes-r001_wrap_social i,
.redes-r001 .redes-r001_wrap_social .redes-r001_icon {
    font-size: 60px;
    color: #fff;
    speak: inherit;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1
}

.redes-r001 {
    background-image: url(../img/pic1.jpg);
    padding: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 85px;
}

.redes-r001 .cont-columns {
    margin: 0 20px;
}

.redes-r001 .redes-r001_bg-component img {
    display: none;
}