<div class="cta-c004 full-w pad-default-elements">
  <section>
    <div class="container">
      <div class="row mb48 mb-xs-24">
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center">
          <h5 class="uppercase" data-editable="true">Ofertas exclusivas e muito mais</h5>
        </div>
      </div>
      <div class="row mb40 mb-xs-24">
        <div class="col-sm-6 col-sm-offset-3">
          <form class="form-newsletter halves" data-success="Obrigado por se inscrever, logo você receberá novidades." data-error="Preencha com seu e-mail">
            <input name="email" class="mb0 transparent validate-email validate-required signup-email-field" placeholder="E-mail" type="text">
            <button type="submit" class="btn-white mb0 btn-color layout-btn" data-editable="true">Mantenha-me informado</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="fade-half lead mb0" data-editable="true">
            <p>*Newsletters serão enviados uma vez por mês</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>