<section class="x_component_history_cod_076 pad-default-element">
    <div class="history-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="font-title header-title color-default" data-editable="true">
                        History
                    </h1>
                </div>
            </div>
            <div class="item-row row">
                <div class="col-sm-6 content-box clearfix">
                    <div class="icon-content">
                        <i class="fa fa-calendar" aria-hidden="true" data-icon="true"></i>
                    </div>
                    <div class="history-content">
                        <div class="date-content">
                            <div class="clearfix">
                                <time datetime="1998-05-02 20:22" class="published color-default" data-editable="true">on 02 May 1998
                                </time>
                            </div>
                        </div>
                        <h2 data-editable="true" class="font-title history-title color-default">
                            2010 - 2012
                        </h2>

                        <div data-editable="true" class="font-description history-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam sequi culpa tempore quidem quis ab soluta ducimus harum, saepe exercitationem fuga. Quis praesentium deserunt voluptas, est dolorem dolorum, ducimus tempora quaerat velit laboriosam deleniti. Voluptatum eaque architecto accusantium, et officia.
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-6 content-box-even clearfix">
                    <div class="icon-content">
                        <i class="fa fa-calendar" aria-hidden="true" data-icon="true"></i>
                    </div>
                    <div class="history-content-even">
                        <div class="date-content-even">
                            <div class="clearfix">
                                <time datetime="1998-05-02 20:22" class="published color-default" data-editable="true">on 22 June 2001
                                </time>
                            </div>
                        </div>
                        <h2 data-editable="true" class="font-title history-title color-default">
                            2010 - 2012
                        </h2>

                        <div data-editable="true" class="font-description history-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam sequi culpa tempore quidem quis ab soluta ducimus harum, saepe exercitationem fuga. Quis praesentium deserunt voluptas, est dolorem dolorum, ducimus tempora quaerat velit laboriosam deleniti. Voluptatum eaque architecto accusantium, et officia.
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 content-box clearfix">
                    <div class="icon-content">
                        <i class="fa fa-calendar" aria-hidden="true" data-icon="true"></i>
                    </div>
                    <div class="history-content">
                        <div class="date-content">
                            <div class="clearfix">
                                <time datetime="1998-05-02 20:22" class="published color-default" data-editable="true">on 07 March 2006
                                </time>
                            </div>
                        </div>
                        <h2 data-editable="true" class="font-title history-title color-default">
                            2010 - 2012
                        </h2>

                        <div data-editable="true" class="font-description history-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam sequi culpa tempore quidem quis ab soluta ducimus harum, saepe exercitationem fuga. Quis praesentium deserunt voluptas, est dolorem dolorum, ducimus tempora quaerat velit laboriosam deleniti. Voluptatum eaque architecto accusantium, et officia.
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-6 content-box-even clearfix">
                    <div class="icon-content">
                        <i class="fa fa-calendar" aria-hidden="true" data-icon="true"></i>
                    </div>
                    <div class="history-content-even">
                        <div class="date-content-even">
                            <div class="clearfix">
                                <time datetime="1998-05-02 20:22" class="published color-default" data-editable="true">on 25 November 2009
                                </time>
                            </div>
                        </div>
                        <h2 data-editable="true" class="font-title history-title color-default">
                            2010 - 2012
                        </h2>

                        <div data-editable="true" class="font-description history-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam sequi culpa tempore quidem quis ab soluta ducimus harum, saepe exercitationem fuga. Quis praesentium deserunt voluptas, est dolorem dolorum, ducimus tempora quaerat velit laboriosam deleniti. Voluptatum eaque architecto accusantium, et officia.
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>