.background-theme {
    background-color: red;
}
.header_old_mod_stand_003_v2 a {
    text-decoration: none;
}
.header_old_mod_stand_003_v2 .navbar-default-custom {
    border: none;
    border-color: transparent;
    background-color: transparent;
}
.header_old_mod_stand_003_v2 .navbar-brand {
    height: auto;
}
.header_old_mod_stand_003_v2 .navbar-toggle-custom {
    margin-top: 25px;
    border-radius: 0px;
}
.header_old_mod_stand_003_v2 ul {
    background-color: inherit;
    float: right;
    list-style: none;
}
.header_old_mod_stand_003_v2 ul.dropdown-menu {
    background-color: transparent;
}
.header_old_mod_stand_003_v2 ul.navbar-nav li {
    list-style: inherit;
    border-right: 1px solid #fff;
}
.header_old_mod_stand_003_v2 ul.navbar-nav li:last-child {
    border: none;
}
.header_old_mod_stand_003_v2 .fa.fa-arrows {
    display: none;
}
@media (max-width: 767px) {
    .header_old_mod_stand_003_v2 .navbar-nav .open .dropdown-menu.dropdown {
        background-color: none;
    }
    .header_old_mod_stand_003_v2 ul li ul li a {
        padding: 0px;
    }
}
@media (max-width: 991px) {
    .header_old_mod_stand_003_v2 .navbar-brand-custom {
        float: none;
    }
    .header_old_mod_stand_003_v2 .navbar-brand-custom img {
        margin: auto;
    }
    .header_old_mod_stand_003_v2 ul {
        float: none;
    }
}
@media (max-width: 768px) {
    .header_old_mod_stand_003_v2 ul {
        padding-left: 0px;
        float: none;
        text-align: center;
    }
    .header_old_mod_stand_003_v2 ul.navbar-nav {
        text-align: center;
    }
    .header_old_mod_stand_003_v2 ul.navbar-nav li {
        border: none;
    }
}
@media (max-width: 768px) {
    .header_old_mod_stand_003_v2 .navbar-right,
    .header_old_mod_stand_003_v2 .navbar-header {
        float: none!important;
    }
}
