<section class="form-agende-seu-servico-001">
    <div class="container">
        <div class="row">
            <div class="contact_us">
                <div class="col-md-6">
                    <h1 data-editable="true">Agende seu serviço</h1>
                    <div class="separator"></div>
                    <div class="contact_form gray-bg">
                        <form data-form-type="agendamento-de-servico" data-form-layout="agendamento-de-servico"></form>
                    </div>
                </div>
                <div class="col-md-6 contact_right">
                    <h1 data-editable="true">Informações</h1>
                    <div class="separator"></div>
                    <div class="contact_detail">
                        <ul>
                            <li>
                                <div class="icon_wrap"><i class="fa fa-map-marker" aria-hidden="true" data-icon="true"></i></div>
                                <div class="contact_info_text" data-editable="true">Escreva aqui seu endereço</div>
                            </li>
                            <li>
                                <div class="icon_wrap"><i class="fa fa-phone" aria-hidden="true" data-icon="true"></i></div>
                                <div class="contact_info_text" data-editable="true">Escreva aqui seu telefone</div>
                            </li>
                            <li>
                                <div class="icon_wrap"><i class="fa fa-whatsapp" aria-hidden="true" data-icon="true"></i></div>
                                <div class="contact_info_text" data-editable="true">Escreva aqui seu whatsapp</div>
                            </li>
                        </ul>
                        <div class="wow fadeInRight hidden-xs" data-duration="4s" data-delay="2s">
                            <img class="img-responsive" src="assets/img/img-1.png" data-image="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>