.x_component_services_cod_253 {
    font-family: 'Ubuntu', sans-serif;
    background: #F8565D;
    color: #FFFFFF;
    padding: 80px 0;
}

.x_component_services_cod_253 .title {
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0;
    margin-left: 5px;
}

.x_component_services_cod_253 hr {
    margin-left: 5px;
    margin-right: 5px;
    border-color: #ffffff;
    opacity: .3;
}

.x_component_services_cod_253 .owl-theme .owl-controls {
    text-align: center;
    position: absolute;
    top: -85px;
    right: 0;
}

.x_component_services_cod_253 .service-desc {
    margin-top: 30px;
}

.x_component_services_cod_253 .service-box {
    padding: 10px;
}

.x_component_services_cod_253 .owl-theme .owl-controls .owl-buttons div {
    position: relative;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_services_cod_253 .owl-prev:before {
    content: "\f177";
    color: #222;
    font-family: FontAwesome;
    line-height: 35px;
    text-align: center;
}

.x_component_services_cod_253 .owl-next:before {
    content: "\f178";
    color: #222;
    font-family: FontAwesome;
    line-height: 35px;
    text-align: center;
}