<section class="cta-c003 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center spread-children-large">
                <img class="img-responsive" data-image="true" src="img/avatar1.png">
                <img class="img-responsive" data-image="true" src="img/avatar2.png">
                <img class="img-responsive" data-image="true" src="img/avatar3.png">
                <img class="img-responsive" data-image="true" src="img/avatar4.png">
                <img class="img-responsive" data-image="true" src="img/avatar5.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1 data-editable="true">Profissionais prontos para atender você.</h1>
                <div data-editable="true">Descrição textual</div>
                <a class="btn btn-color layout-btn" href="javascript:void(0);"><div data-editable="true">Acesse</div></a>
            </div>
        </div>
    </div>
</section>