<section class="form-financiamento-003">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li>
                        <a href="#step-1" class="btn background-theme">
                            <h4 class="list-group-item-heading"><i class="fa fa-user"></i></h4>
                            <p class="list-group-item-text">Dados Pessoais</p>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2" class="btn background-theme-default" disabled="disabled">
                            <h4 class="list-group-item-heading"><i class="fa fa-map-marker"></i></h4>
                            <p class="list-group-item-text">Endereço</p>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3" class="btn background-theme-default" disabled="disabled">
                            <h4 class="list-group-item-heading"><i class="fa fa-building-o"></i></h4>
                            <p class="list-group-item-text">Dados da Empresa</p>
                        </a>
                    </li>
                    <li>
                        <a href="#step-4" class="btn background-theme-default" disabled="disabled">
                            <h4 class="list-group-item-heading"><i class="fa fa-car"></i></h4>
                            <p class="list-group-item-text">Dados do Veículo</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <form data-form-type="financiamento" data-form-layout="financiamento-2"></form>
            </div>
        </div>
    </div>
</section>