.x_component_footer_cod_063 .footer-module-title {
  font-weight: 800;
  padding: 50px 0 0 0;
  margin: 0 0 20px 0;
  font-size: 20px;
}
.x_component_footer_cod_063 .footer-top {
  padding-bottom: 60px;
}
.x_component_footer_cod_063 .contact-info {
  padding: 100px 0 0 0;
}
.x_component_footer_cod_063 .contact-info li {
  padding: 0 0 10px;
}
.x_component_footer_cod_063 .contact-info li > i {
  margin-right: 5px;
  font-size: 20px;
}
.x_component_footer_cod_063 .contact-info li div {
  display: inline;
}
.x_component_footer_cod_063 .list-items li > div,
.x_component_footer_cod_063 .list-items li > div > a {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
}
.x_component_footer_cod_063 .list-items li > div > a:hover {
  color: #ffffff;
}
.x_component_footer_cod_063 .newsletter .no-padding-left {
  padding-left: 0;
}
.x_component_footer_cod_063 .newsletter .newsletter-border {
  border-top: 1px solid #6c6c6ce6;
  padding: 30px 0;
}
.x_component_footer_cod_063 .newsletter .newsletter-submit label {
  width: 22%;
  font-size: 20px;
  text-align: left;
  line-height: 50px;
}
.x_component_footer_cod_063 .newsletter .newsletter-submit input {
  width: 55%;
  height: 50px;
  background: #303640;
  color: #757a82;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
}
.x_component_footer_cod_063 .newsletter .newsletter-submit button {
  display: inline-block;
  width: 22%;
  padding: 14.5px 0;
  border: none;
  border-radius: 0;
}
.x_component_footer_cod_063 .newsletter .newsletter-submit .form-group {
  width: 100%;
  margin: 0 auto;
}
.x_component_footer_cod_063 .social li {
  margin-right: 10px;
}
.x_component_footer_cod_063 .social li:last-child {
  margin-left: 0px;
}
.x_component_footer_cod_063 .social li a,
.x_component_footer_cod_063 .social li i {
  display: block;
  width: 100%;
  font-size: 28px;
  color: #fff;
  text-decoration: none;
}
.x_component_footer_cod_063 .copyright {
  padding: 40px 0;
  color: #fff;
  background-color: #222;
}
.x_component_footer_cod_063 .copyright div a {
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  .x_component_footer_cod_063 .newsletter .newsletter-submit {
    color: #ffffff;
  }
  .x_component_footer_cod_063 .newsletter .newsletter-submit label {
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .x_component_footer_cod_063 .text-xs-center {
    text-align: center;
  }
  .x_component_footer_cod_063 .newsletter .newsletter-submit .form-group {
    width: 280px;
  }
  .x_component_footer_cod_063 .newsletter .newsletter-submit {
    color: #ffffff;
  }
  .x_component_footer_cod_063 .newsletter .newsletter-submit label {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .x_component_footer_cod_063 .newsletter .newsletter-submit input {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .x_component_footer_cod_063 .newsletter .newsletter-submit button {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .x_component_footer_cod_063 .pull-xs-left {
    width: 100%;
    margin: 40px 0 0;
    text-align: center;
  }
}