<section class="form-trabalheconosco-002">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="contact-form default-form wow fadeInLeft" data-duration="4s">
                    <form data-form-type="trabalhe-conosco" data-form-layout="trabalhe-conosco-2"></form>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="imageform wow zoomIn hidden-xs" data-duration="4s" data-delay="2s">
                    <img class="img-responsive" src="assets/img/img-2.jpg" data-image="true">
                </div>
            </div>
        </div>
    </div>
</section>