<div class="" style="height: 500px;">
	<div id="pano" style="width:100%; height:100%;">
      <noscript><table style="width:100%;height:100%;"><tr style="valign:middle;"><td><div style="text-align:center;">ERROR:<br/><br/>Javascript not activated<br/><br/></div></td></tr></table></noscript>
	</div>
</div>