<section class="ofertasdestaque-o005">
    <div class="container ">
        <article class="center slider">
            <div data-destaque-template="true">
                <div class="cont-img">
                    <div class="overlay">
                    </div>
                    <img src="#destaqueImage#">
                </div>
                <div class="col-md-12 cont-infos-car">
                    <div>
                        <ol>
                            <li class="marca">
                                <h5 class="title">Marca:</h5>
                                <p class="color-default"> #destaqueBrand#</p>
                            </li>
                            <li class="modelo">
                                <h5 class="title">Modelo:</h5>
                                <p class="color-default">#destaqueModel#</p>
                            </li>
                            <li class="preco">
                                <h5 class="title">Preço:</h5>
                                <p class="color-default">#destaquePrice#</p>
                            </li>
                            <li class="ano">
                                <h5 class="title">Ano:</h5>
                                <p class="color-default">#destaqueYear#</p>
                            </li>
                            <hr>
                            <li class="visualiza">
                                <a href="#estoqueLink#" class="layout-btn btn-color"> <i class="fa fa-search" aria-hidden="true"></i>visualizar</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>