<section class="x_component_footer_cod_264 pad-default-element background-theme">
    <div class="container">
        <div class="row text-xs-center">
            <h1 class="font-title title" data-editable="true">
                Lorem Ipsum
            </h1>
            <div data-newsletter="true">
                <form data-form-type="newsletter" data-form-layout="newsletter-9"></form>
            </div>
            <div class="clearfix"></div>

            <div class="col-sm-3 no-padding">
                <h1 data-editable="true" class="footer-module-title">Lorem Ipsum</h1>
                <ul class="list-unstyled footer-menu">
                    <li>
                        <div data-editable="true">
                            Link
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Link
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Link
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Link
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="visible-xs">


            <div class="col-sm-3 no-padding">
                <h1 data-editable="true" class="footer-module-title">Lorem Ipsum</h1>
                <ul class="list-unstyled footer-menu">
                    <li>
                        <div data-editable="true">
                            Link
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Link
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Link
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Link
                        </div>
                    </li>

                </ul>
            </div>
            <hr class="visible-xs">

            <div class="col-sm-3 no-padding">
                <h1 data-editable="true" class="footer-module-title">Lorem Ipsum</h1>
                <ul class="list-unstyled footer-menu">
                    <li >
                        <div data-editable="true">
                            Link
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Link
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Link
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Link
                        </div>
                    </li>

                </ul>
            </div>
            <hr class="visible-xs">

            <div class="col-sm-3 no-padding">
                <h1 data-editable="true" class="footer-module-title">Lorem Ipsum:</h1>
                <ul class="list-unstyled contact-info">
                    <li>
                        <div class="icon-data icon-data-contact center-xs-block" data-editable="true">
                            Rua Endereço, 999 - São Paulo, SP
                        </div>
                    </li>
                    <li>
                        <div class="icon-data icon-data-contact center-xs-block" data-editable="true">
                            Rua Endereço, 998 - São Paulo, SP
                        </div>
                    </li>
                </ul>
            </div>


        </div>
        <div class="row copyright">
            <div class="col-xs-12 text-xs-center no-padding">
                <div data-editable="true">Webmotors site © 2017</div>
            </div>
        </div>
    </div>
</section>