<section class="icon_block_old_model_003 pad-default-elements ">
    <article class="container">
        <div class="row">
            <div class=" text-center col-md-offset-2">
                <div class="col-md-3 col_edit bottom_margin layout-btn btn-color">
                    <div class="item_icon"><i class="fa fa-usd" data-icon="true"></i></div>
                    <div class="cont-text">
                        <h3 data-editable="true" class="color-default">TEXTO GUIA</h3>
                    </div>
                </div>
                <div class="col-md-3 col_edit bottom_margin layout-btn btn-color">
                    <div class="item_icon"><i class="fa fa-car" data-icon="true"></i></div>
                    <div class="cont-text">
                        <h3 data-editable="true" class="color-default">TEXTO GUIA</h3>
                    </div>

                </div>
                <div class="col-md-3 col_edit layout-btn btn-color">
                    <div class="item_icon"><i class="fa fa-tachometer" data-icon="true"></i></div>
                    <div class="cont-text">
                        <h3 data-editable="true" class="color-default">TEXTO GUIA</h3>
                    </div>
                </div>
                <div class="col-md-3 col_edit layout-btn btn-color">
                    <div class="item_icon"><i class="fa fa-tty" data-icon="true"></i></div>
                    <div class="cont-text">
                        <h3 data-editable="true" class="color-default">TEXTO GUIA</h3>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>