.form-contato-002 img {
    height: 650px;
    max-height: 650px;
    width: 100%;
    display: block;
}

.form-contato-002 h1,
.form-contato-002 h2,
.form-contato-002 h3,
.form-contato-002 h4,
.form-contato-002 h5,
.form-contato-002 h6,
.form-contato-002 p,
.form-contato-002 ul,
.form-contato-002 ol,
.form-contato-002 pre,
.form-contato-002 table,
.form-contato-002 blockquote,
.form-contato-002 input,
.form-contato-002 button,
.form-contato-002 select,
.form-contato-002 textarea {
    margin-bottom: 24px;
    margin-top: 0px;
    padding: 0;
}

.form-contato-002 input,
.form-contato-002 button,
.form-contato-002 select,
.form-contato-002 textarea {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-contato-002 .full-width {
    width: 100%;
}

.form-contato-002 input[type='text'],
.form-contato-002 input[type='button'],
.form-contato-002 textarea,
.form-contato-002 select,
.form-contato-002 input[type='password'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-contato-002 button,
.form-contato-002 input[type='button'].button,
.form-contato-002 a.button {
    margin: 0;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 15px;
    white-space: nowrap;
}

.form-contato-002 .btn,
.form-contato-002 input[type='button'].button {
    font-size: 0.91em;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
}

.form-contato-002 textarea {
    width: 100%;
    border: none;
    background: #f5f5f5;
    margin-bottom: 24px;
    border-radius: 0;
    padding: 16px 20px;
}

.form-contato-002 select {
    height: 50px;
    background: #f5f5f5;
    width: 100%;
    border-radius: 0;
    border: none;
    outline: none;
    padding-left: 20px;
    position: relative;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #777;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
}

.form-contato-002 .uppercase {
    font-weight: 400;
    text-transform: uppercase;
}

.form-contato-002 button.btn-large,
.form-contato-002 input[type='button'].btn-large.button,
.form-contato-002 a.btn-large.button {
    padding: 0 32px;
    height: 43px;
    font-size: 1.16em;
    line-height: 43px;
}

.form-contato-002 button.full-width,
.form-contato-002 input[type='button'].full-width.button,
.form-contato-002 a.full-width.button {
    padding-left: 0px;
    padding-right: 0px;
}

.form-contato-002 .select-option {
    position: relative;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    margin-bottom: 24px;
}

.form-contato-002 .select-option i {
    position: absolute;
    font-size: 18px;
    right: 35px;
    top: 14px;
    z-index: 2;
    pointer-events: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
}

.form-contato-002 .select-option select {
    margin-bottom: 0px;
}

.form-contato-002 input[type='text'],
.form-contato-002 input[type='email'],
.form-contato-002 input[type='password'] {
    background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
}