<section class="imagem-i0015">
    <div class="container">
        <div class="row">
            <div class="cont-img"  data-editable="true">
                <a href="javascript:void(0);"> COMPRAR<img class="img-responsive" src="img/velocimetro.png" data-image="true"></a>
                <span class="clearfix"></span>
            </div>
        </div>
    </div>
</section>