<section class="x_component_footer_cod_128 pad-default-element">
    <div class="container-fluid no-padding">
        <div class="row text-xs-center no-padding">
            <div class="col-md-4 col-md-offset-1 text-xs-center">
                <h1 data-editable="true" class="font-title text-uppercase footer-module-title">CONTACTS</h1>
                <address class="contact-info">
                            <dl>
                                <dt data-editable="true">ADDRESS:</dt>
                                <dd data-editable="true" class="font-description">28 Jackson Blvd Ste 1020 Chicago IL 60604-2340</dd>
                            </dl>
                            <dl class="terms-list tel">
                                <dt data-editable="true">TEL:</dt>
                                <dd data-editable="true">(800) 2345-6789</dd>
                            </dl>
                            <div data-editable="true" class="office-time font-description">7 Days a week from 9:00 am to 7:00 pm</div>
                            <dl class="terms-list mail">
                                <dt data-editable="true">E-mail:</dt>
                                <dd data-editable="true">info@demolink.org</dd>
                            </dl>
                        </address>

                <ul class="list-unstyled list-inline footer-social" data-social="true">
                    <li><a class="color-default-hover" target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a></li>
                </ul>
                <div class="copyright">
                    <div class="container">
                        <div class="row no-padding">
                            <div class="col-xs-12 text-xs-center no-padding">
                                <div data-editable="true">© 2017 Privacy Policy</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div data-map="true" data-type="map" id="map"></div>
            </div>
        </div>
    </div>
</section>