<section class="buscador_013 reset pad-default-elements" page-id="#pageId#">

    <div class="container padding_top_30">
        <form role="form"  action="" method="post" class="form-inline"  id="form-6">
            <div class="row">
                <div class="col-md-9">
                    <div class="col-md-4">
                        <div class="form-group">
                            <select name="marcas" class="form-control border-default">
                              <option value=""> Marcas</option>
                                    <optgroup label="Selecione a Marca">
                                        <option value="#marcaId#">#marca#</option>
                                    </optgroup>
                                </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select name="modelos" class="form-control border-default">
                              	<option value=""> Modelos</option>                                       
                                <optgroup label="Selecione o modelo"></optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select name="ano_de" class="form-control border-default">
                                        <option value=""> Ano</option>
                                    <optgroup label="Menor ano"></optgroup>
                                </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select name="ano_ate" class="form-control border-default">
                                   <option value=""> Até</option>
                                   <optgroup label="Maior ano"></optgroup>
                               </select>
                        </div>
                    </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <select name="ano_ate" class="form-control border-default">
                                   <option value="#estado#">#estado#</option>
                                   <optgroup label="Estados"></optgroup>
                               </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div id="slider-range"></div>
                        <input type="text" id="amount" readonly>
                    </div>
                    <div class="form-group cont-button">
                        <div class="form-control position_relative brackground_chumbo border-default">
                            <p data-editle="true">PESQUISAR VEÍCULOS</p>
                            <button id="enviarBuscador" class="btn-sub background-theme" type="button"><i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>