<section class="header-003 navbar-wrapper">
    <div class="container padding-reset">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="header-003-nav-top ">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <a class="navbar-brand" href="javascript:void(0);"><img src="assets/img/logolegal.png" alt="" data-image="true"></a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 header-003-nav-top-cont-infos hidden-xs">
                        <div class="col-sm-2 col-xs-12">
                            <i class="fa fa-clock-o" aria-hidden="true " data-icon="true"></i>
                        </div>
                        <div class="col-sm-10 col-xs-12">
                            <div class="cont_info_header_003" data-editable="true" data-disable-return="true">Horário</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12  header-003-nav-top-cont-infos hidden-xs">
                        <div class="col-sm-2 col-xs-12">
                            <i class="fa fa-map-marker" aria-hidden="true " data-icon="true"></i>
                        </div>
                        <div class="col-sm-10 col-xs-12 ">
                            <div class="cont_info_header_003" data-editable="true" data-disable-return="true">Endereço</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 header-003-nav-top-cont-infos hidden-xs">
                        <div class="col-sm-2 col-xs-12">
                            <i class="fa fa-mobile" aria-hidden="true " data-icon="true"></i>
                        </div>
                        <div class="col-sm-10 col-xs-12">
                            <div class="cont_info_header_003" data-editable="true">Telefone</div>
                        </div>
                    </div>
                    <span class="clearfix "></span>
                </div>
            </nav>
        </div>
    </div>
    <div class="menu-bg">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle collapsed " data-toggle="collapse " data-target="#bs-example-navbar-collapse-1 " aria-expanded="false ">
                    <span class="sr-only ">Toggle navigation</span>
                    <span class="icon-bar "></span>
                    <span class="icon-bar "></span>
                    <span class="icon-bar "></span>
                </button>
            </div>
            <div class="container collapse navbar-collapse " id="bs-example-navbar-collapse-1 ">
                <ul data-menu="true">
                </ul>
            </div>
    </div>
</section>