<div class="text-t004">
    <div class="container">
        <div class="feed-item mb-xs-48">
            <div class="row mb-xs-0">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h3 data-editable="true">Ofertas de Novos e Usados</h3>
                </div>
            </div>
            <div class="row mb-xs-16">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <img alt="" class="mb32 mb-xs-16" src="img/image.jpg" data-image="true">
                    <div class="lead" data-editable="true">
                      <p>Nossa missão é realizar sempre o melhor negócio junto aos nossos clientes, conseguindo assim, fortes laços de confiança e amizade. Trabalhamos com veículos seminovos, blindados de todas as marcas, todos com procedência e garantia.</p>
                  	</div>
                  </div>
            </div>
            
        </div>
    </div>
</div>