

#footer ul li {
    display: inline-block;
    padding: 10px;
}

#footer ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#footer ul li:hover {
    cursor: pointer;
}
#footer .container,
#footer .container-fluid {
    box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
    -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
}

#footer .container-fluid.full {
    padding: 0px;
}

#footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer .cont-social>a {
    text-align: center;
    margin-right: 10px;
}

#footer .cont-social>i {
    font-size: 15px;
    padding: 0 10px;
}

#footer .cont-links-footer {
    margin-top: 45px;
}

#footer .cont-info {
    margin-top: 37px;
}

#footer .cont-info>p {
    display: block;
    width: 100%;
    margin-right: 30px;
}

#footer .cont-info>i {
    margin-right: 15px;
}

#footer .cont-logo-footer>img {
    width: 156px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#footer .inline-block {
    display: inline-block;
}

@media all and (max-width:991px) {
    #footer .txt-center {
        text-align: center;
    }
}