.x_component_footer_cod_164 {
    background: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: #fff;
}
.x_component_footer_cod_164 .footer-left{
    position: relative;
}
.x_component_footer_cod_164 .altura-minima-social {
    margin-top: 30px;
}

.x_component_footer_cod_164 .row.no-gutters>[class^="col-"],
.x_component_footer_cod_164 .row.no-gutters>[class*=" col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.x_component_footer_cod_164 .font-title {
    font-size: 50px;
    letter-spacing: 1.2px;
    font-weight: 300;
    text-align: left;
   display: inline-block;
}

.x_component_footer_cod_164 .copy p,
.x_component_footer_cod_164 .font-title p{
    min-height: 100%;
}

.x_component_footer_cod_164 .copy p br,
.x_component_footer_cod_164 .font-title p br{
    display: none;
}

.x_component_footer_cod_164 .copy {
    text-align: left;

}

.x_component_footer_cod_164 .altura-minima-social,
.x_component_footer_cod_164 .altura-minima{
    min-height: 200px;

}
.x_component_footer_cod_164 .bottom-30{
    margin-bottom: 30px;
}
.x_component_footer_cod_164  .lis-line-social{
    position: absolute;
    bottom: 0;
    right: 1em;
}

.x_component_footer_cod_164 .lis-line{
    position: absolute;
    bottom: 0;
    left: 0;
}


.x_component_footer_cod_164 .top {
    width: 100%;
    height: 30px;
    position: relative;
    top: 0;
}


.x_component_footer_cod_164 .wrap-social  {
    display: inline;
    float: left;
}
.x_component_footer_cod_164 .social .empty{
    visibility: hidden !important;
    display: inline-block;

}

@media (max-width:592px){

    .x_component_footer_cod_164 .wrap-social  {
        display: flow-root;
        float: none;
    }
    .x_component_footer_cod_164 .social {
        margin-bottom: 20px;
    }
}

.x_component_footer_cod_164 .social {
    display: inline-block;
    margin-left: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 92px;
    font-size: 36px;
    float: left;
}


@media (max-width:991px) {

    .x_component_footer_cod_164  .altura-minima {
        min-height: 100px;

    }
    .x_component_footer_cod_164  .lis-line{
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .x_component_footer_cod_164  .copy{
        text-align: center;
    }
    .x_component_footer_cod_164  .lis-line{
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:768px){

    .x_component_footer_cod_164 .wrap-social,
    .x_component_footer_cod_164 .social {
        float: none;
    }
    .x_component_footer_cod_164 .lis-line,
    .x_component_footer_cod_164 .cont-text,
    .x_component_footer_cod_164 .lis-line-social{
        position: relative;
    }

    .x_component_footer_cod_164 .faixa{
        margin-bottom: 50px;
    }
    .x_component_footer_cod_164 .logo,
    .x_component_footer_cod_164 .copy,
    .x_component_footer_cod_164 .font-title{
        min-height: 1px;
    }

    .x_component_footer_cod_164 .social {

        margin-left: 0px;
    }
    .x_component_footer_cod_164 .altura-minima-social,
    .x_component_footer_cod_164 .altura-minima {
        min-height: 1px;

    }
}


.x_component_footer_cod_164 .copy>a {
    text-decoration: none;
}

.x_component_footer_cod_164 .copy>a:hover {
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
}

.x_component_footer_cod_164 .social:hover {
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
}

@media all and (max-width: 1200px) {
    .x_component_footer_cod_164 .copy {
        margin-left: 0;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .x_component_footer_cod_164 .font-title {
        left: 0;
    }
}

@media all and (max-width:990px) {
    .x_component_footer_cod_164 .font-title {
        text-align: center;
        width: 100%;
        left: 0;
    }
    .x_component_footer_cod_164 .copy {
        margin: 0;
    }
    .x_component_footer_cod_164 .footer-right {
        float: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .x_component_footer_cod_164 .copy {
        font-size: 12px;
    }
    .x_component_footer_cod_164 .container {
        width: 100%;
    }
}