<footer id="footer" class="footer-background">
    <div class="background-min-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="cont-logo-footer">
                            <img data-image="true" src="img/logolegal.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container foot">
        <div class="row">
            <div class="col-md-3">
                <div class="center-block cont-social text-center color-default" data-social="true" data-social-content="#">
                    <a target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a>
                </div>
            </div>
            <div class="col-md-3 cont-links-footer text-center color-default ">
                <div class="col-md-6">
                    <ul>
                        <li><a href="" data-link="true"><span data-editable="true">Link um</span></a></li>
                        <li><a href="" data-link="true"><span data-editable="true">Link um</span></a></li>
                        <li><a href="" data-link="true"><span data-editable="true">Link um</span></a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><a href="" data-link="true"><span data-editable="true">Link um</span></a></li>
                        <li><a href="" data-link="true"><span data-editable="true">Link um</span></a></li>
                        <li><a href="" data-link="true"><span data-editable="true">Link um</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 color-default ">
                <div class="cont-info">
                    <div class="text-right txt-center">
                        <p><i class="fa fa-envelope-o" data-icon="true"></i><span data-editable="true"> email@email.com</span></p>
                        <p><i class="fa fa-phone" data-icon="true"></i><span data-editable="true"> 011-0000-0000</span></p>
                        <p><i class="fa fa-map-signs" aria-hidden="true " data-icon="true"></i><span data-editable="true"> Endereço: Rua lorem, 1900</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.2966478551425!2d-46.69316838452845!3d-23.593691784666905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce575ed37566cd%3A0xb0ef2462fc16326a!2sWebmotors!5e0!3m2!1spt-BR!2sbr!4v1490808276064"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</footer>