<section class="footer-f001 footer-basic pad-default-elements">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="social" data-social="true">
                        <a class="color-default border-default layout-btn" href="#icon-link#">
                            <i class="#icon-class#" aria-hidden="true"></i>
                        </a>
                    </div>
                    <ul class="list-inline">
                        <li data-editable="true">Texto</li>
                        <li data-editable="true">Texto</li>
                        <li data-editable="true">Texto</li>
                        <li data-editable="true">Texto</li>
                    </ul>
                    <div class="copyright text-center" data-editable="true">WEBMOTORS © 2017</div>
                </div>
            </div>
        </div>
    </footer>
</section>