.img-i006 .cast-shadow {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.img-i006 .cast-shadow-light {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.img-i006 .cont-text {
    padding-top: 30px;
}

@media all and (max-width: 1100px) {
    .img-i006 .col-md-push-1 {
        left: 0;
    }
}

@media all and (max-width: 768px) {
    .img-i006 .pull-left-sm {
        float: left !important;
    }
    .img-i006 .overflow-hidden-xs {
        overflow: hidden;
    }
}

@media all and (max-width: 767px) {
    .img-i006 .spread-children * {
        margin-left: 6px;
        margin-right: 6px;
    }
}

.img-i006 .v-align-children {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.img-i006 .v-align-children-column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.img-i006 .disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all and (max-width: 990px) {
    .img-i006 .v-align-children {
        display: block !important;
    }
}

.img-i006 .v-align-transform {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
}

.img-i006 .align-bottom {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

.img-i006 .align-top {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

@media all and (max-width: 767px) {
    .img-i006 .text-center-xs {
        text-align: center !important;
    }
    .img-i006 .bold {
        font-weight: 600 !important;
    }
    .img-i006 .thin {
        font-weight: 100 !important;
    }
    .img-i006 .thin {
        font-weight: 300 !important;
    }
}

.img-i006 h1,
.img-i006 h2,
.img-i006 h3,
.img-i006 h4,
.img-i006 h5,
.img-i006 h6,
.img-i006 p,
.img-i006 ul,
.img-i006 ol,
.img-i006 pre,
.img-i006 table,
.img-i006 blockquote,
.img-i006 input,
.img-i006 button,
.img-i006 select,
.img-i006 textarea {
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
}

.img-i006 h1,
.img-i006 h2,
.img-i006 h3,
.img-i006 h4,
.img-i006 h5,
.img-i006 h6,
.img-i006 .h1,
.img-i006 .h2,
.img-i006 .h3,
.img-i006 .h4,
.img-i006 .h5,
.img-i006 .h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-i006 h1,
.img-i006 h2,
.img-i006 h3,
.img-i006 h4,
.img-i006 h5,
.img-i006 h6 {
    font-weight: 300;
    color: #292929;
}

.img-i006 h1,
.img-i006 .h1 {
    font-size: 56px;
    line-height: 64px;
}

.img-i006 h1.large {
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
}

@media all and (max-width: 990px) {
    .img-i006 h1.large {
        font-size: 56px;
        line-height: 64px;
    }
}

.img-i006 h2 {
    font-size: 40px;
    line-height: 48px;
}

.img-i006 h3 {
    font-size: 32px;
    line-height: 40px;
}

.img-i006 h4 {
    font-size: 24px;
    line-height: 32px;
}

.img-i006 h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.img-i006 h6,
.img-i006 .h6 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
}

@media all and (max-width: 767px) {
    .img-i006 h1,
    .img-i006 h1.large,
    .img-i006 .h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 300;
    }
    .img-i006 h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .img-i006 h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .img-i006 h4 {
        font-size: 18px;
        line-height: 26px;
    }
    .img-i006 h5 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .img-i006 h6,
    .img-i006 .h6 {
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
    }
}

.img-i006 .uppercase {
    font-weight: 400;
    text-transform: uppercase;
}

.img-i006 h1.uppercase {
    letter-spacing: 17px;
    margin-right: -17px;
}

.img-i006 h2.uppercase {
    letter-spacing: 10px;
    margin-right: -10px;
}

.img-i006 h3.uppercase {
    letter-spacing: 6px;
    margin-right: -6px;
}

.img-i006 h4.uppercase {
    letter-spacing: 3px;
    margin-right: -3px;
}

.img-i006 h5.uppercase {
    letter-spacing: 2px;
    margin-right: -2px;
}

.img-i006 h6.uppercase,
.img-i006 .h6-u {
    letter-spacing: 2px;
    font-weight: 700;
}

.img-i006 .bold-h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.img-i006 p,
.img-i006 span {
    font-weight: 400;
}

.img-i006 p.lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.img-i006 .sub {
    font-size: 12px;
}

@media all and (max-width: 767px) {
    .img-i006 p.lead {
        font-size: 13px;
        line-height: 24px;
    }
    .img-i006 p {
        font-size: 12px;
    }
}

.img-i006 a,
.img-i006 a:visited,
.img-i006 a:focus,
.img-i006 a:active,
.img-i006 a:hover {
    text-decoration: none;
    outline: none;
}

.img-i006 a {
    font-weight: 600;
    color: #47b475;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: poitner;
}

.img-i006 .image-bg a,
.img-i006 .bg-primary a {
    color: #fff;
}

.img-i006 .image-bg a:hover,
.img-i006 .bg-primary a:hover {
    color: #fff;
    opacity: .9;
}

.img-i006 .bg-light a {
    color: #47b475;
}

.img-i006 .bg-light a:hover {
    color: #47b475;
    opacity: 1;
}

.img-i006 a:hover {
    text-decoration: none;
}

.img-i006 .label {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    letter-spacing: 1px;
    background: #47b475;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 10px;
    vertical-align: middle;
}

.img-i006 blockquote {
    overflow: hidden;
    font-family: "Merriweather", "Georgia", Times New Roman, Times, serif;
    font-size: 20px;
    line-height: 40px;
    font-style: italic;
    background: #f5f5f5;
    padding: 32px;
    color: #777;
    font-weight: 300;
}

.img-i006 .bg-secondary blockquote {
    background: #fff;
    border-color: #47b475;
}

.img-i006 blockquote .author {
    font-size: 12px;
    display: block;
    float: right;
    margin-top: 16px;
}

.img-i006 .number {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-i006 .columns-2 {
    column-count: 2;
    -webkit-column-count: 2;
}

@media all and (max-width: 767px) {
    .img-i006 br {
        display: none;
    }
    .img-i006 blockquote {
        font-size: 16px;
        line-height: 32px;
    }
    .img-i006 .columns-2 {
        column-count: 1;
        -webkit-column-count: 1;
    }
}

.img-i006 .text-left {
    text-align: left !important;
}

@media all and (max-width: 767px) {
    .img-i006 .text-left-xs {
        text-align: left !important;
    }
}

.img-i006 img {
    max-width: 100%;
}

.img-i006 .image-tile {
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
}

.img-i006 .image-tile img {
    width: 100%;
    display: inline-block;
}

.img-i006 .image-tile .label {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;
}

.img-i006 .inner-title:before {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(34, 34, 34, 0.9)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#292929', GradientType=0);
    pointer-events: none;
}

.img-i006 .inner-title.title-center:before {
    background: #292929;
    opacity: .4;
}

.img-i006 .inner-title:hover:before {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.img-i006 .inner-title .title {
    position: absolute;
    width: 100%;
    bottom: 24px;
    z-index: 5;
}

.img-i006 .inner-title .title h1,
.img-i006 .inner-title .title h2,
.img-i006 .inner-title .title h3,
.img-i006 .inner-title .title h4,
.img-i006 .inner-title .title h5,
.img-i006 .inner-title .title h6 {
    color: #ffffff;
}

.img-i006 .inner-title .title p,
.img-i006 .inner-title .title span,
.img-i006 .inner-title .title li {
    color: #ffffff;
}

.img-i006 .inner-title.title-center .title {
    bottom: auto;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
}

.img-i006 .inner-title .title h5 {
    font-weight: 600;
}

.img-i006 .inner-title {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
}

.img-i006 .inner-title:hover {
    opacity: .95;
}

.img-i006 .inner-title.hover-reveal:before {
    opacity: 0;
}

.img-i006 .inner-title.hover-reveal .title {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.img-i006 .inner-title.hover-reveal:hover .title {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
}

.img-i006 .inner-title.hover-reveal:hover:before {
    opacity: 1;
}

.img-i006 .outer-title img {
    display: inline-block;
    margin-bottom: 12px;
}

.img-i006 .hover-tile {
    position: relative;
    overflow: hidden;
    background: #292929;
}

.img-i006 .hover-tile img {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.img-i006 .hover-tile:hover img {
    opacity: .5;
}

.img-i006 .hover-tile .hover-state {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
    position: absolute;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
    width: 100%;
}

.img-i006 .hover-state {
    z-index: 99;
    padding: 0 40px;
    cursor: default;
}

.img-i006 .hover-state h1,
.img-i006 .hover-state h2,
.img-i006 .hover-state h3,
.img-i006 .hover-state h4,
.img-i006 .hover-state h5,
.img-i006 .hover-state h6 {
    color: #ffffff;
}

.img-i006 .hover-state p,
.img-i006 .hover-state span,
.img-i006 .hover-state li {
    color: #ffffff;
}

.img-i006 .hover-state * {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform: translate3d(0, 30px, 0) scale(1.05);
    -webkit-transform: translate3d(0, 30px, 0) scale(1.05);
}

.img-i006 .hover-tile:hover .hover-state {
    opacity: 1;
}

.img-i006 .hover-tile:hover .hover-state * {
    transform: translate3d(0, 0px, 0) scale(1);
    -webkit-transform: translate3d(0, 0px, 0) scale(1);
}

.img-i006 .hover-state *:last-child {
    margin-bottom: 0;
}

.img-i006 .border-thick {
    border: 16px solid #fff;
    border-top: none;
}

.img-i006 .border-thick.col-sm-6:first-child {
    border-right: 8px solid #fff;
}

.img-i006 .border-thick.col-sm-6:last-child {
    border-left: 8px solid #fff;
}

.img-i006 .horizontal-tile {
    overflow: hidden;
}

.img-i006 .horizontal-tile:not(:last-of-type) {
    margin-bottom: 30px;
}

.img-i006 .tile-left,
.img-i006 .tile-right {
    width: 50%;
    float: left;
    display: inline-block;
    overflow: hidden;
    min-height: 300px;
    position: relative;
}

.img-i006 .tile-right .description,
.img-i006 .tile-left .description {
    padding: 48px;
}

.img-i006 .tile-right:hover .background-image-holder,
.img-i006 .tile-left:hover .background-image-holder {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

@media all and (max-width: 767px) {
    .img-i006 .tile-left,
    .img-i006 .tile-right {
        width: 100%;
        float: none;
    }
}

.img-i006 .background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #292929;
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.img-i006 .image-square {
    height: 50vw;
    max-height: 640px;
    overflow: hidden;
    padding: 0;
}

.img-i006 .image-square .image,
.img-i006 .image-square>.content {
    position: absolute;
}

.img-i006 .image-square .image {
    height: 100%;
}

.img-i006 .image-square>.content {
    top: 20%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
}

.img-i006 .image-square.left .image {
    left: 0;
}

.img-i006 .image-square.left>.content {
    right: 0;
}

.img-i006 .image-square.right .image {
    right: 0;
}

.img-i006 .image-square.right>.content {
    left: 0;
}

@media all and (max-width: 990px) {
    .img-i006 .image-square {
        height: auto;
        max-height: 100000px;
        padding-bottom: 48px;
    }
    .img-i006 .image-square .image,
    .img-i006 .image-square>.content {
        position: relative;
    }
    .img-i006 .image-square .image {
        height: 100vw;
        margin-bottom: 48px;
        max-height: 500px;
    }
    .img-i006 .image-square>.content {
        top: 0;
        transform: none;
        -webkit-transform: none;
        padding: 0 20%;
    }
}

@media all and (max-width: 767px) {
    .img-i006 .image-square>.content {
        padding: 0 15px;
    }
}

.img-i006 .mr0 {
    margin-right: 0;
}

.img-i006 .mb0 {
    margin-bottom: 0 !important;
}

.img-i006 .mb8 {
    margin-bottom: 8px;
}

.img-i006 .mb16 {
    margin-bottom: 16px;
}

.img-i006 .mb24 {
    margin-bottom: 24px;
}

.img-i006 .mb30 {
    margin-bottom: 30px;
}

.img-i006 .mb32 {
    margin-bottom: 32px;
}

.img-i006 .mb40 {
    margin-bottom: 40px;
}

.img-i006 .mb48 {
    margin-bottom: 48px;
}

.img-i006 .mb56 {
    margin-bottom: 56px;
}

.img-i006 .mb64 {
    margin-bottom: 64px;
}

.img-i006 .mb72 {
    margin-bottom: 72px;
}

.img-i006 .mb80 {
    margin-bottom: 80px;
}

.img-i006 .mb88 {
    margin-bottom: 88px;
}

.img-i006 .mb96 {
    margin-bottom: 96px;
}

.img-i006 .mb104 {
    margin-bottom: 104px;
}

.img-i006 .mb112 {
    margin-bottom: 112px;
}

.img-i006 .mb120 {
    margin-bottom: 120px;
}

.img-i006 .mb160 {
    margin-bottom: 160px;
}

.img-i006 .mt0 {
    margin-top: 0 !important;
}

.img-i006 .mt8 {
    margin-top: 8px;
}

.img-i006 .mt16 {
    margin-top: 16px;
}

.img-i006 .mt24 {
    margin-top: 24px;
}

.img-i006 .mt32 {
    margin-top: 32px;
}

.img-i006 .mt40 {
    margin-top: 40px;
}

.img-i006 .mt48 {
    margin-top: 48px;
}

.img-i006 .mt56 {
    margin-top: 56px;
}

.img-i006 .mt64 {
    margin-top: 64px;
}

.img-i006 .mt72 {
    margin-top: 72px;
}

.img-i006 .mt80 {
    margin-top: 80px;
}

.img-i006 .mt88 {
    margin-top: 88px;
}

.img-i006 .mt96 {
    margin-top: 96px;
}

.img-i006 .mt104 {
    margin-top: 104px;
}

.img-i006 .mt112 {
    margin-top: 112px;
}

.img-i006 .mt120 {
    margin-top: 120px;
}

.img-i006 .mt160 {
    margin-top: 160px;
}

.img-i006 .p32 {
    padding: 0 32px;
}

.img-i006 .p24 {
    padding: 24px;
}

.img-i006 .p0 {
    padding: 0;
}

.img-i006 .pt0 {
    padding-top: 0;
}

.img-i006 .pt8 {
    padding-top: 8px;
}

.img-i006 .pt16 {
    padding-top: 16px;
}

.img-i006 .pt24 {
    padding-top: 24px;
}

.img-i006 .pt32 {
    padding-top: 32px;
}

.img-i006 .pt40 {
    padding-top: 40px;
}

.img-i006 .pt48 {
    padding-top: 48px;
}

.img-i006 .pt64 {
    padding-top: 64px;
}

.img-i006 .pt72 {
    padding-top: 72px;
}

.img-i006 .pt80 {
    padding-top: 80px;
}

.img-i006 .pt88 {
    padding-top: 88px;
}

.img-i006 .pt96 {
    padding-top: 96px;
}

.img-i006 .pt104 {
    padding-top: 104px;
}

.img-i006 .pt112 {
    padding-top: 112px;
}

.img-i006 .pt120 {
    padding-top: 120px;
}

.img-i006 .pt160 {
    padding-top: 160px;
}

.img-i006 .pt180 {
    padding-top: 180px;
}

.img-i006 .pt240 {
    padding-top: 240px;
}

.img-i006 .pb0 {
    padding-bottom: 0;
}

.img-i006 .pb8 {
    padding-bottom: 8px;
}

.img-i006 .pb16 {
    padding-bottom: 16px;
}

.img-i006 .pb24 {
    padding-bottom: 24px;
}

.img-i006 .pb32 {
    padding-bottom: 32px;
}

.img-i006 .pb40 {
    padding-bottom: 40px;
}

.img-i006 .pb48 {
    padding-bottom: 48px;
}

.img-i006 .pb56 {
    padding-bottom: 56px;
}

.img-i006 .pb64 {
    padding-bottom: 64px;
}

.img-i006 .pb72 {
    padding-bottom: 72px;
}

.img-i006 .pb80 {
    padding-bottom: 80px;
}

.img-i006 .pb88 {
    padding-bottom: 88px;
}

.img-i006 .pb96 {
    padding-bottom: 96px;
}

.img-i006 .pb104 {
    padding-bottom: 104px;
}

.img-i006 .pb112 {
    padding-bottom: 112px;
}

.img-i006 .pb120 {
    padding-bottom: 120px;
}

.img-i006 .pb160 {
    padding-bottom: 160px;
}

.img-i006 .pb180 {
    padding-bottom: 180px;
}

.img-i006 .pb240 {
    padding-bottom: 240px;
}

@media all and (max-width: 990px) {
    .img-i006 .mb-s-0 {
        margin-bottom: 0;
    }
    .img-i006 .mb-s-8 {
        margin-bottom: 8px;
    }
    .img-i006 .mb-s-16 {
        margin-bottom: 16px;
    }
    .img-i006 .mb-s-24 {
        margin-bottom: 24px;
    }
    .img-i006 .mb-s-32 {
        margin-bottom: 32px;
    }
    .img-i006 .mb-s-40 {
        margin-bottom: 40px;
    }
    .img-i006 .mb-s-48 {
        margin-bottom: 48px;
    }
    .img-i006 .mb-s-64 {
        margin-bottom: 64px;
    }
    .img-i006 .mb-s-72 {
        margin-bottom: 72px;
    }
    .img-i006 .mb-s-80 {
        margin-bottom: 80px;
    }
    .img-i006 .mb-s-88 {
        margin-bottom: 88px;
    }
    .img-i006 .mb-s-96 {
        margin-bottom: 96px;
    }
    .img-i006 .mb-s-104 {
        margin-bottom: 104px;
    }
    .img-i006 .mb-s-112 {
        margin-bottom: 112px;
    }
    .img-i006 .mb-s-120 {
        margin-bottom: 120px;
    }
}

.img-i006 .btn-filled {
    background: #f3123c;
    color: #fff;
}

.img-i006 .btn {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
}

.img-i006 .btn:last-child,
.img-i006 .btn:last-of-type {
    margin-right: 0;
}

.img-i006 .image-bg .btn-filled:hover {
    border-color: #fff;
}
.img-i006 .btn:not(.btn-sm):not(.btn-lg) {
    line-height: 3;
}