.x_component_text_cod_208 .item-content-text {
    padding: 20px;
}

.x_component_text_cod_208 .item-content .item-content-text .item_title {
    text-transform: uppercase;
    color: #303334;
    font: 100 13.571em/1.2em "Roboto", sans-serif;
    margin-bottom: 14px;
}

.x_component_text_cod_208 .item-introtext {
    color: #303334;
    margin-bottom: 43px;
    min-height: 70px;
}

.x_component_text_cod_208 .btn-warning {
    border-radius: 30px;
    color: #000000;
    background: #ffffff;
    border-color: #ffffff;
    display: inline-block;
    line-height: 20px;
    padding: 20px 45px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_text_cod_208 .btn-warning:hover {
    filter: opacity(60%);
}

@media screen and (max-width: 1024px) {
    .x_component_text_cod_208 .item-content .item-content-text .item_title {
        font-size: 10em;
    }
}

@media screen and (max-width: 768px) {
    .x_component_text_cod_208 .item-content .item-content-text .item_title {
        font-size: 7em;
    }
}

@media screen and (max-width: 480px) {
    .x_component_text_cod_208 .item-content .item-content-text .item_title {
        font-size: 5em;
    }
    .x_component_text_cod_208 .item-introtext {
        font-size: 15px;
    }
}