.x_component_slider-search_cod_122 {
    background-image: url('assets/img/component_slider-search_cod_122_01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 150px 0;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.x_component_slider-search_cod_122 .top-title {
    font-size: 40px;
}

.x_component_slider-search_cod_122 .price-title {
    font-size: 80px;
    font-weight: 700;
    margin-top: 20px;
}

.x_component_slider-search_cod_122 .offer-list {
    margin-top: 30px;
}

.x_component_slider-search_cod_122 .offer-list li {
    line-height: 35px;
    position: relative;
    font-size: 18px;
    font-weight: 400;
}

.x_component_slider-search_cod_122 .offer-list li:before {
    position: absolute;
    content: '\f00c';
    font-family: FontAwesome;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    color: #006CDC;
}

.x_component_slider-search_cod_122 .offer-list li div {
    margin-left: 30px;
}

.x_component_slider-search_cod_122 .offer-list li div a {
    color: #ffffff;
}

.x_component_slider-search_cod_122 .description {
    font-size: 17px;
    line-height: 1.41176;
    font-weight: 400;
    margin-top: 35px;
}

.x_component_slider-search_cod_122 .appointment-btn {
    white-space: nowrap;
    padding: 13px 32px;
    color: #ffffff;
    background: #006CDC;
    border-radius: 2px;
    font-size: 18px;
    border: none;
    margin-top: 41px;
    letter-spacing: .04em;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-bottom: 30px;
}

.x_component_slider-search_cod_122 .appointment-btn:hover {
    background: #ffffff;
    color: #333;
}

.x_component_slider-search_cod_122 .request-container {
    border: 4px solid #ffffff;
    padding: 10px;
}

.x_component_slider-search_cod_122 .request-container .request-box {
    background: rgba(36, 42, 49, 0.9);
    width: 100%;
    padding: 20px;
}

.x_component_slider-search_cod_122 .request-container .request-box .title {
    margin-bottom: 30px;
}

.x_component_slider-search_cod_122 .request-container .form-group.move-label .title-label {
    left: -80px;
    opacity: 0;
}

.x_component_slider-search_cod_122 .request-container .form-group {
    position: relative;
}

.x_component_slider-search_cod_122 .request-container .form-group input,
.x_component_slider-search_cod_122 .request-container .form-group textarea {
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.x_component_slider-search_cod_122 .request-container .form-group input {
    height: 55px;
    color: #ffffff;
}

.x_component_slider-search_cod_122 .request-container .form-group textarea {
    height: 150px;
    color: #ffffff;
}

.x_component_slider-search_cod_122 .request-container .form-group label {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 16px;
    font-weight: 400;
}

.x_component_slider-search_cod_122 .request-container .form-group label.error {
    left: unset;
    right: 10px;
    top: 0;
    color: #CD463F;
    font-size: 11px;
    position: absolute;
}

.x_component_slider-search_cod_122 .request-container .contact-form-btn {
    width: 100%;
    height: 60px;
    color: #ffffff;
    background: #006CDC;
    font-size: 18px;
    border: none;
    margin-top: 20px;
    letter-spacing: .04em;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_slider-search_cod_122 .request-container .contact-form-btn:hover {
    background: #ffffff;
    color: #333;
}

@media screen and (max-width: 768px) {
    .x_component_slider-search_cod_122 .request-box .title {
        font-size: 22px;
    }
}