.zero-km-zk002 .owl-wrapper{
    list-style-type: none;
}
.zero-km-zk002 .owl-theme {
    padding-top: 30px;
}

.zero-km-zk002 .carousel-wrapper {
    text-align: center;
}

.zero-km-zk002 .owl-theme .owl-buttons > div {
    margin-top: inherit;
}
.zero-km-zk002 .owl-carousel .item {
    text-align: center;
}

.zero-km-zk002 img {
   width: 45%;
}

.zero-km-zk002 .owl-pagination {
    display: none;
}