<footer id="footer">
    <div class="container">
        <div class="topo row">
            <div class="logo-footer text-center col-xs-12 col-sm-3">
                <a href="javascript:;">
                    <img src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=23795" alt="" data-editable="true">
                </a>
            </div>

            <nav class="navbar menuFooter hidden-xs col-sm-6" role="navigation">
                <ul class="nav nav-pills col-sm-12 no-padding text-center" data-menu="true"></ul>
            </nav>

            <div class="endFooter col-xs-12 text-xs-center col-sm-3 text-sm-right">
                <p data-editable="true">
                    Endereço, Número,<br> Bairro - Cidade<br>Complemento
                </p>

                <p class="telefone">
                    <i class="fa fa-phone color-default" data-icon="true"></i> <span data-editable="true">(11) <strong>9999.9999</strong></span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="socialFooter clearfix">
                    <h2 data-editable="true">REDES SOCIAIS</h2>
                    <p data-editable="true">Curta e siga-nos nas nossas redes sociais.</p>
                    <br>

                    <div class="social-footer" data-social="true" data-social-content="#">
                        <a href="#icon-link#" class="btnSocial face" target="_blank">
                            <i class="#icon-class#" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="empresaFooter clearfix">
                    <h2 data-editable="true">SOBRE A <strong>EMPRESA</strong></h2>
                    <p data-editable="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum luctus libero eu laoreet. Ut dictum mi ipsum, vitae sodales turpis lobortis id. Donec blandit tortor arcu, quis imperdiet neque molestie vitae. Nulla lacus nunc,
                        ultrices nec dui vitae, placerat pharetra arcu. Donec convallis augue nec neque pellentesque, non scelerisque lacus vehicula. Sed pulvinar nulla nec diam commodo, et tincidunt purus hendrerit. Fusce lobortis turpis at dui mattis
                        efficitur.
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3">
                <div class="boxNewsletter text-xs-center text-sm-left">
                    <h2 data-editable="true">NEWSLETTER</h2>
                    <p data-editable="true">Cadastre-se e receba ofertas e promoções excluvisas</p>
                    <div id="div_newsletter">
                        <input type="text" id="email_newsletter" placeholder="Digite aqui seu e-mail">
                        <input type="button" id="btnNewsletter" class="btn-color-hover" value="Cadastrar">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright background-theme-over">
        <div class="container">
            <p class="col-xs-12 text-xs-center col-sm-10" data-editable="true">Copyright 2017 © Todos os Direitos Reservados.</p>
            <p class="col-xs-12 no-padding-xs-top text-xs-center col-sm-2" data-editable="true">Powered by <a href="javascript:;" class="color-default-hover"><strong>VMOTORS</strong></a></p>
        </div>
    </div>
</footer>