.x_component_footer_cod_187 {
  background: #232A33;
  font-family: 'Raleway', sans-serif;
  padding: 60px 0 0 0;
  color: #ffffff;
}
.x_component_footer_cod_187 .footer-module-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 45px;
}
.x_component_footer_cod_187 .contact-info {
  margin-bottom: 50px;
}
.x_component_footer_cod_187 .contact-info li i {
  width: 15px;
  font-size: 25px;
}
.x_component_footer_cod_187 .contact-info li i.fa-envelope {
  font-size: 22px;
}
.x_component_footer_cod_187 .contact-info > li > div > a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.x_component_footer_cod_187 .contact-info > li > div > a:hover {
  text-decoration: none;
}
.x_component_footer_cod_187 .contact-info > li > *:not(i) {
  display: inline-block;
  line-height: 45px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
}
.x_component_footer_cod_187 .footer-social li a {
  display: inline-block;
    margin-right: 10px;
  color: #fff;
}
.x_component_footer_cod_187 .footer-social li a i {
  font-size: 35px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.x_component_footer_cod_187 .contact-form .form-group {
  position: relative;
}
.x_component_footer_cod_187 .contact-form input,
.x_component_footer_cod_187 .contact-form textarea {
  background: transparent;
  border: 2px solid #374351;
  border-radius: 3px;
  z-index: 2;
  color: #ffffff;
  padding: 6px 18px;
}
.x_component_footer_cod_187 .contact-form textarea {
  height: 150px;
}
.x_component_footer_cod_187 .contact-form input {
  line-height: 34px;
  height: 50px;
}
.x_component_footer_cod_187 .contact-form .title-label {
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  position: absolute;
  top: 12px;
  left: 18px;
  z-index: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.x_component_footer_cod_187 .contact-form .form-group.move-label .title-label {
  left: -80px;
  opacity: 0;
}
.x_component_footer_cod_187 .contact-form .contact-form-btn {
  padding: 16px 37px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-top: 20px;
}
.x_component_footer_cod_187 .contact-form label:not(.title-label) {
  position: absolute;
  top: 0;
  right: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  cursor: pointer;
}
.x_component_footer_cod_187 .copyright {
  font-size: 14px;
  padding: 0 0 100px 0;
}
@media screen and (max-width: 768px) {
  .x_component_footer_cod_187 .text-xs-center {
    text-align: center;
  }
}
