<section class="highlights-h007">
    <div class="container">
        <div class="row">
            <div class="featured-car content-area clearfix">
                <div class="carousel destaques-carousel slide" id="carouselCar">
                    <div class="carousel-inner">
                        <div class="item active" data-destaque-template="true">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="thumbnail car-box clearfix wow fadeInUp delay-03s">
                                    <img alt="" src="#destaqueImage#">
                                    <div class="caption detail">
                                        <header class="clearfix">
                                            <div class="pull-left">
                                                <h1 class="title">
                                                    #destaqueModel#
                                                </h1>
                                                <small class="custom-list">#destaqueBrand#</small>
                                            </div>
                                            <div class="price">
                                                <span>#destaquePrice#</span>
                                            </div>
                                        </header>
                                        <div class="text-center">
                                            <small class="custom-list">#destaqueYear#</small>
                                        </div>
                                        <div class="carbox-overlap-wrapper">
                                            <p>#destaqueModel#</p>
                                            <p class="price">#destaquePrice#</p>
                                            <a class="btn btn-submit btn-color layout-btn" href="#estoqueLink#">Saiba Mais</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carouselCar" data-slide="prev"><i class="fa fa-chevron-left icon-prev"></i></a>
                    <a class="right carousel-control" href="#carouselCar" data-slide="next"><i class="fa fa-chevron-right icon-next"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>