<section class="x_component_slider-search_cod_122 pad-default-element">

    <div class="container">
        <div class="col-md-7">
            <h3 data-editable="true" class="top-title"> Lorem ipsum dolor sit</h3>
            <h4 data-editable="true" class="price-title">R$20 Off*</h4>
            <ul class="list-unstyled offer-list">
                <li>
                    <div data-editable="true">
                        Lorem ipsum dolor sit amet, consectetur
                    </div>
                </li>
                <li>
                    <div data-editable="true">
                        Lorem ipsum dolor sit amet, consectetur
                    </div>
                </li>
                <li>
                    <div data-editable="true">
                        Lorem ipsum dolor sit amet, consectetur
                    </div>
                </li>
                <li>
                    <div data-editable="true">
                        Lorem ipsum dolor sit amet, consectetur
                    </div>
                </li>
            </ul>

            <div data-editable="true" class="description">* Lorem ipsum dolor sit amet, consectetur .</div>
            <div class="btn btn-default appointment-btn btn-color">LOOREM IPSUM DOLOR</div>
        </div>

        <div class="col-md-5 request-container">
            <div class="request-box clearfix background-theme">
                <h3 class="title text-uppercase" data-editable="true">LOOREM IPSUM DOLOR</h3>
                <form data-form-type="contato" data-form-layout="contato-7"></form>

            </div>
        </div>
    </div>

</section>