<section class="form-testedrive-001">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="contact-form default-form">
                    <form data-form-type="teste-drive" data-form-layout="test-drive-1"></form>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="imageform wow fadeInRight hidden-xs" data-duration="4s" data-delay="2s">
                    <img class="img-responsive" src="assets/img/img-2.jpg" data-image="true">
                </div>
            </div>
        </div>
    </div>
</section>