.x_component_slider_cod_032 {
    background: #212121;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
}

.x_component_slider_cod_032>.container-fluid {
    padding: 0;
}

.x_component_slider_cod_032 .carousel-inner {
    overflow: hidden;
}

.x_component_slider_cod_032 .item {
    position: relative;
    min-height: 500px;
}

.x_component_slider_cod_032 .item .slide-counter {
    text-align: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    font-size: 35px;
    letter-spacing: 5px;
}

.x_component_slider_cod_032 .item .slide-counter p {
    font-size: 25px;
    display: inline-block;
    padding-bottom: 10px;
}

.x_component_slider_cod_032 .bs-slider-overlay {
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.x_component_slider_cod_032 .bs-slider-overlay .slider-title {
    text-align: center;
    text-transform: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    line-height: 1.3;
    letter-spacing: 0px;
}

.x_component_slider_cod_032 .bs-slider-overlay .slider-sub-title {
    text-align: center;
    letter-spacing: 0;
    text-transform: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    line-height: 1.3;
}


.x_component_slider_cod_032 .carousel-indicators .active {
    background-color: transparent;
}

.x_component_slider_cod_032 .carousel-indicators li {
    width: 94px;
    height: 10px;
    border-radius: 0;
    border: none;
}

.x_component_slider_cod_032 .item.active .slider-title {
    opacity: 1;
}

@media screen and (max-width: 992px) {
    .x_component_slider_cod_032 .bs-slider-overlay {
        top: 50%;
    }
    .x_component_slider_cod_032 .bs-slider-overlay .slider-title {
        font-size: 75px;
    }
    .x_component_slider_cod_032 .bs-slider-overlay .slider-sub-title {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .x_component_slider_cod_032 .bs-slider-overlay {
        top: 50%;
    }
    .x_component_slider_cod_032 .bs-slider-overlay .slider-title {
        font-size: 40px;
    }
    .x_component_slider_cod_032 .bs-slider-overlay .slider-sub-title {
        font-size: 15px;
    }
}