.highlights-h009 {
    background: #fff;
    padding: 20px 0;
    font-size: 14px;
    color: #3E3E43;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.highlights-h009 .row {
    margin-right: 0;
    margin-left: 0;
}

.highlights-h009 .row>[class^="col-"],
.highlights-h009 .row>[class*=" col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.highlights-h009 .cont-price {
    width: 100%;
    display: block;
    background: #222;
    color: #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.highlights-h009 .thumbnail {
    padding: 0;
    border: none;
}

.highlights-h009 .thumbnail>img {
    width: 100%;
}

.highlights-h009 .caption>a {
    font-size: 17px;
    text-decoration: none;
    color: #3E3E43;
}

.highlights-h009 .thumbnail .caption {
    padding: 30px;
    border: 1px solid #f2f5f7;
}

.highlights-h009 .text-brand {
    opacity: 0.5;
}

.highlights-h009 .text {
    font-weight: 800;
    font-size: 16px;
}

.highlights-h009 .thumb-stock {
    border-radius: 0;
    overflow: hidden;
}

.highlights-h009 .thumb-stock>img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    max-width: 100%;
    width: 100%;
  	max-height: 250px;
}

.highlights-h009 .thumb-stock:hover>img {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}