<section class="x_component_header_cod_281 pad-default-elements navbar-wrapper">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header clearfix">
                    <div class="navbar-brand">
                        <img src="assets/img/component_header_cod_281_01.png" alt="logo" class="img-responsive" data-image="true">
                    </div>
                    <div class="nav-info ">
                        <img src="assets/img/component_header_cod_281_02.jpg" alt="banner" class="img-responsive pull-right" data-image="true">
                    </div>
                </div>
                <div class="wrapper-menu">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        MENU
                    </button>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul data-menu="true">

                        </ul>
                    </div>
                    <div class="breadcrumb background-theme">
                        <ul class="list-inline">
                            <li class="title">
                                <i class="fa fa-map-marker" data-icon="true"></i>
                                <div class="inline-block" data-editable="true"> Endereço</div>
                            </li>
                            <li class="description">
                                <i class="fa fa-phone" data-icon="true"></i>
                                <div class="inline-block" data-editable="true"> Telefone</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
</section>