            .x_component_gallery_cod_049 {
                padding: 0 0 50px 0;
                background: #212121;
                color: #ffffff;
            }
            
            .x_component_gallery_cod_049 .gallery-title {
                font-size: 40px;
                padding: 40px 0;
            }
            
            .x_component_gallery_cod_049 .gallery-item:hover:after,
            .x_component_gallery_cod_049 .gallery-item:hover:before {
                background-color: rgba(0, 0, 0, 0.3);
            }
            
            .x_component_gallery_cod_049 .gallery-item {
                margin-bottom: 20px;
                transition: all 1s;
                overflow: hidden;
                margin: 1px;
                padding: 10px;
                padding-bottom: 15px;
                box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
            }
            
            .x_component_gallery_cod_049 .gallery-item img {
                display: inline-block;
            }
            
            .x_component_gallery_cod_049 .gallery-item::before,
            .x_component_gallery_cod_049 .gallery-item::after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: '';
                box-shadow: inset 0 0 0 4px;
                color: rgba(255, 255, 255, 0.2);
            }
            
            .x_component_gallery_cod_049 .gallery-item::before,
            .x_component_gallery_cod_049 .gallery-item::after {
                content: '';
                z-index: 1;
                animation: showGalarry 8s linear infinite;
            }
            
            .x_component_gallery_cod_049 .gallery-item::before {
                animation-delay: -4s;
            }
            
            @-webkit-keyframes showGalarry {
                0%,
                100% {
                    clip: rect(0px, 220px, 2px, 0px);
                }
                25% {
                    clip: rect(0px, 2px, 220px, 0px);
                }
                50% {
                    clip: rect(218px, 220px, 220px, 0px);
                }
                75% {
                    clip: rect(0px, 220px, 220px, 218px);
                }
            }
            
            @keyframes showGalarry {
                0%,
                100% {
                    clip: rect(0px, 220px, 2px, 0px);
                }
                25% {
                    clip: rect(0px, 2px, 220px, 0px);
                }
                50% {
                    clip: rect(218px, 220px, 220px, 0px);
                }
                75% {
                    clip: rect(0px, 220px, 220px, 218px);
                }
            }
            
            @media (min-width: 768px) {
                .x_component_gallery_cod_049 .col-sm-4 {
                    width: 33%;
                }
            }
            
            @media (min-width: 992px) {
                .x_component_gallery_cod_049 .col-md-2 {
                    width: 16%;
                }
            }