.mapa_old_mod_003 {
  padding: 20px 0;
  color: #fff;
}

img.img-responsive.img-thumbnail {
    background-color: black;
}
.mapa_old_mod_003 a {
  color: #fff;
}

section.mapa_old_mod_003 {
    background-color: black;
}
@media all and (max-width: 991px) {
  .mapa_old_mod_003 * {
    text-align: center;
    margin: 0 auto;
    padding: 0px;
  }
  .mapa_old_mod_003 * .text-right {
    text-align: center;
  }
  section.mapa_old_mod_003 {
    background-color: black;
}
}
@media all and (min-width: 991px) {
  .mapa_old_mod_003 .left_bottom_0 {
    padding-left: 0px;
  }
}
.mapa_old_mod_003 .cont_logo_section {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #000000;
}

section.mapa_old_mod_003 {
    background-color: black;
}

.mapa_old_mod_003 .cont_logo_section .logo_footer {
  padding: 10px;
}
.mapa_old_mod_003 .cont_logo_section .logo_footer .img-thumbnail {
  border: none;
  border-radius: 0px;
  padding: 10px;
}
.mapa_old_mod_003 .cont_logo_section .menuFooter ul {
  padding: 0px;
}
.mapa_old_mod_003 .cont_logo_section .menuFooter ul li {
  background: url('../img/bulletMenu.png') no-repeat left center;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  padding-left: 10px;
  line-height: 12px;
  text-transform: uppercase;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  display: block;
  line-height: 20px;
}
.mapa_old_mod_003 .cont_mapa {
  height: 335px;
  overflow: hidden;
  max-height: 335px;
}
.mapa_old_mod_003 .cont_mapa img {
  width: 100%;
}
