.x_component_contact_cod_295 {
  padding: 201px 0 220px;
  position: relative;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}
.x_component_contact_cod_295 .container {
  box-shadow: 0 0 20px #222222;
}
.x_component_contact_cod_295 .inline {
  display: inline;
}
.x_component_contact_cod_295 .top-text .block-title {
  letter-spacing: -2px;
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 49px;
  text-align: center;
  word-spacing: 8px;
  color: #FFFFFF;
  font-weight: bold;
}
.x_component_contact_cod_295 .item-image img {
  width: 100%;
}
.x_component_contact_cod_295 .item-text-header {
  padding: 20px;
}
.x_component_contact_cod_295 .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff!important;
  font: 400 17px 'Ubuntu', sans-serif;
  padding: 24px 18px 20px;
  min-height: 64px;
}
.x_component_contact_cod_295 .btn-default {
  font: 500 18px/22px 'Ubuntu', sans-serif;
  min-width: 128px;
  padding: 15px 20px;
  text-align: center;
  margin-right: 30px;
}
.x_component_contact_cod_295 .btn-default:hover {
  color: #FFFFFF;
  background: #34363e;
}
.x_component_contact_cod_295 .footer-logo-box {
  margin: 0 auto;
}
.x_component_contact_cod_295 .footer-logo-box img {
  width: 100%;
}
.x_component_contact_cod_295 .no-padding {
  padding-left: 0;
  padding-right: 0;
}
.x_component_contact_cod_295 .footer-social {
  padding-top: 30px;
}
.x_component_contact_cod_295 .footer-social li {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  position: relative;
  margin-right: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.x_component_contact_cod_295 .footer-social li:hover,
.x_component_contact_cod_295 .footer-social li:focus {
  background-color: #34363E;
  border-color: #34363E;
}
.x_component_contact_cod_295 .footer-social li a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.x_component_contact_cod_295 .copyright {
  color: #FFFFFF;
  line-height: 12px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 70px;
}
.x_component_contact_cod_295 .copyright a {
  color: #FFFFFF;
  text-decoration: none;
}
.x_component_contact_cod_295 .copyright a:hover {
  color: #000000;
}
@media screen and (max-width: 900px) {
  .x_component_contact_cod_295 .top-text .block-title {
    font-size: 80px;
    line-height: 80px;
  }
}
@media screen and (max-width: 480px) {
  .x_component_contact_cod_295 .top-text .block-title {
    font-size: 60px;
    line-height: 60px;
  }
}
