.x_component_footer_cod_302 {
    background: url('../images/component_footer_cod_302_1.png');
    background-size: cover;
}

.x_component_footer_cod_302 .footer-top {
    background-color: #0F1112;
    padding: 20px 0;
}

.x_component_footer_cod_302 .footer-top .footer-title {
    float: left;
    padding-right: 30px;
}

.x_component_footer_cod_302 .footer-top .footer-module-title {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    float: left;
    box-sizing: border-box;
    margin-top: 5px;
}

.x_component_footer_cod_302 .footer-top .footer-social ul li {
    display: inline-block;
}

.x_component_footer_cod_302 .footer-top .footer-social li {
    color: #ffffff;
    font-size: 22px;
}

.x_component_footer_cod_302 .footer-top .footer-social li i:hover,
.x_component_footer_cod_302 .footer-top .footer-social li a:hover,
.x_component_footer_cod_302 .footer-top .footer-social li:hover {
    opacity: 0.8;
}

.x_component_footer_cod_302 .footer-box {
    padding-bottom: 20px;
    padding-top: 20px;
}

.x_component_footer_cod_302 .footer-box .footer-module-title {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.x_component_footer_cod_302 .footer-box li {
    color: #777777;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 10px;
}

.x_component_footer_cod_302 .footer-box li a {
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    color: #777777;
    font-size: 13px;
    line-height: 20px;
}

.x_component_footer_cod_302 .footer-box li:hover,
.x_component_footer_cod_302 .footer-box li a:hover {
    opacity: 0.8;
}

.x_component_footer_cod_302 .footer-box ul .phone i,
.x_component_footer_cod_302 .footer-box ul .phone {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.x_component_footer_cod_302 .footer-box ul .phone div {
    display: inline;
}

.x_component_footer_cod_302 .copyright {
    padding-bottom: 20px;
    padding-top: 20px;
    color: #777777;
}

.x_component_footer_cod_302 .copyright a {
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    color: #777777;
    font-size: 13px;
    line-height: 20px;
}

.x_component_footer_cod_302 .copyright a:hover {
    color: #E74047;
}