<section class="text-t003 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <h2 class="color-default" data-editable="true">Título</h2>
                <hr>
                <div data-editable="true">Com mais de 15 anos de experiência no ramo de automóveis, aqui você encontra um atendimento personalizado, com qualidade e transparência na compra, venda e troca de veículos. </div>
            </div>
            <div class="col-sm-6 col-md-offset-1">
                <div class="col-sm-6 text-center">
                    <div class="feature bordered">
                        <h1 class="large color-default" data-editable="true">5</h1>
                        <div data-editable="true">Texto</div>
                    </div>
                </div>

                <div class="col-sm-6 text-center">
                    <div class="feature bordered">
                        <h1 class="large color-default" data-editable="true">2</h1>
                        <div data-editable="true">Texto</div>
                    </div>
                </div>

                <div class="col-sm-6 text-center">
                    <div class="feature bordered">
                        <h1 class="large color-default" data-editable="true">4</h1>
                        <div data-editable="true">Texto</div>
                    </div>
                </div>

                <div class="col-sm-6 text-center">
                    <div class="feature bordered">
                        <h1 class="large color-default" data-editable="true">3</h1>
                        <div data-editable="true">Texto</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>