<section class="imagem-i009">
    <div class="image-text">
        <div class="image-bg">
            <div class="cont-img ">
                  <div class="no-mobile cont-title">
                    <i class="fa fa-phone" data-icon="true"></i>
                 <h1  data-editable="true">Fale Conosco</h1>
                </div>
                <img class="img-responsive" src="img/contato.jpg" data-image="true" alt="" />
            
            </div>
        </div>
    </div>
</section>