.text-t003 {
    background: #f8f8f8;
}
.text-t003 .feature.bordered {
    padding: 32px;
    border: 1px solid #ccc;
}
.text-t003 h1,
.text-t003 .h1 {
    font-size: 56px;
    line-height: 64px;
}

.text-t003 h1.large {
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
}
.text-t003 .feature {
    margin-bottom: 24px;
}
@media all and (max-width: 768px) {
    .text-t003 .feature.bordered {
        padding: 24px;
    }
}