.highlights-h012 {
    color: #fff;
}

.highlights-h012 .project {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
    padding-bottom: 30px;
}

.highlights-h012 .container .project {
    padding: 0 15px;
    margin-bottom: 15px;
}

.highlights-h012 .project .image-tile {
    margin: 0;
}

.highlights-h012 .tile-right:hover .background-image-holder,
.highlights-h012 .tile-left:hover .background-image-holder {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.highlights-h012 .hover-tile .hover-state {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
    position: absolute;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
    width: 100%;
}

.highlights-h012 .hover-state {
    z-index: 99;
    padding: 0 40px;
    cursor: default;
}

.highlights-h012 .hover-state * {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform: translate3d(0, 30px, 0) scale(1.05);
    -webkit-transform: translate3d(0, 30px, 0) scale(1.05);
}

.highlights-h012 .hover-tile:hover .hover-state {
    opacity: 1;
}

.highlights-h012 .hover-tile:hover .hover-state * {
    transform: translate3d(0, 0px, 0) scale(1);
    -webkit-transform: translate3d(0, 0px, 0) scale(1);
}

.highlights-h012 .hover-state *:last-child {
    margin-bottom: 0;
}

.highlights-h012 h2 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
}

.highlights-h012 h1 {
    font-size: 32px;
    line-height: 40px;
}

.highlights-h012 a:hover {
    text-decoration: none;
}

.highlights-h012 .image-tile img {
    width: 100%;
    display: inline-block;
}

.highlights-h012 img {
    max-width: 100%;
    height: 300px;
}

@media all and (max-width:990px) {
    .highlights-h012 img {
        height: auto;
    }
}