<section class="x_component_text-image_cod_034">
    <div class="container">
        <div class="row">
            <div class=" col-md-6">
                <div class="item-content text-center">
                    <div class="moto-widget-line center-block"></div>
                    <h1 data-editable="true" class="text-image-module-title">Lorem Ipsum</h1>
                    <hr class="moto-widget-divider-line">
                    <div data-editable="true" class="item-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quod reiciendis amet. Ex quibusdam maxime asperiores nulla distinctio, explicabo necessitatibus repellendus quam! Nulla deleniti quidem fuga possimus doloremque earum suscipit laboriosam blanditiis veniam recusandae! Itaque reprehenderit voluptatum explicabo eligendi blanditiis.
                    </div>
                    <div class="item-small-text" data-editable="true">
                        Link
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>