<div class="form-contato-001 full-w pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <h4 class="uppercase color-default" data-editable="true">Entre em contato</h4>
                <p data-editable="true"><b>Endereço:</b><br>
                    Rua São Paulo<br>
                    São Paulo, SP
                </p>

                <hr>

                <h4 class="uppercase color-default" data-editable="true">Horário de Atendimento</h4>
                <p data-editable="true">
                    <b>Segunda à sexta</b> - 08:30 às 19:00<br />
                    <b>Sábado</b> - 08:30 às 17:00
                </p>

                <hr>

                <div class="endereco">
                    <p>
                        <i class="fa fa-phone" data-icon="true"></i>
                        <span class="color-default" data-editable="true">(11) 0000.0000</span> / 
                        <span class="color-default" data-editable="true">(11) 0000.0000</span>
                    </p>
                    <p>
                        <i class="glyphicon glyphicon-envelope" data-icon="true"></i>
                        <span class="color-default" data-editable="true">nome@email.com.br</span>
                    </p>
                </div>
            </div>

            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <form data-form-type="contato" data-form-layout="true"></form>
            </div>
        </div>
    </div>
</div>