<section class="menu-m017 navbar-wrapper">
    <div class="nav-container">
        <nav data-spy="affix" data-offset-top="100">
            <div class="nav-bar text-center">
                <div class="col-md-2 col-md-push-5 col-sm-12 text-center">
                    <div><img alt="logo" class="image-xxs" data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=25698"></div>
                </div>
                <div class="col-sm-12 col-md-5 col-md-pull-2 overflow-hidden-xs cont-menu">
                    <ul data-menu="true">

                    </ul>
                </div>
                <div class="col-sm-12 col-md-5 pb-xs-24 cont-menu-half ">
                    <ul class="menu-half">

                    </ul>
                </div>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs absolute-xs">
                <i class="fa fa-bars"></i>
            </div>
        </nav>
    </div>
</section>