/*LESS VARIABLES*/


/*SECTION CSS*/

.x_component_news_cod_067 {
    font-family: 'Roboto', sans-serif !important;
}

.x_component_news_cod_067 .row.no-gutters>[class^="col-"],
.x_component_news_cod_067 .row.no-gutters>[class*=" col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.x_component_news_cod_067 .color-default {
    color: #655f63;
}

.x_component_news_cod_067 .font-title {
    font-size: 60px;
    font-weight: 500;
}

.x_component_news_cod_067 .underline {
    position: relative;
    width: 100%;
    background: #E9E8E9;
    height: 1px;
    margin: 30px 0;
}

.x_component_news_cod_067 .underline:before {
    position: absolute;
    content: '';
    width: 100px;
    background: #7b8486;
    height: 5px;
    top: -5px;
    left: 0;
}

.x_component_news_cod_067 .thumbnail {
    border: none;
  	border-radius:0;
    margin-top: 30px;
}

.x_component_news_cod_067 .thumbnail .caption h3 {
    font-weight: 300;
    font-size: 20px;
    color: #252023;
}

.x_component_news_cod_067 .thumbnail .caption .text {
    font-weight: 400;
    font-size: 15px;
    color: #655f63;
}

.x_component_news_cod_067 .thumbnail .caption [role="button"],
.x_component_news_cod_067 .thumbnail .caption [role="button"] * {
    font-size: 17px;
    font-weight: 300;
    display: inline;
}

.x_component_news_cod_067 .thumbnail .cont_mais {
    color: #33d0ff;
    display: inline;
}