<div class="highlights-h002 pad-default-elements">
    <div class="pad-anuncio">
        <div class="container">
            <div class="row">
                <div class="carousel-wrapper image-box listing-car anuncio-car">
                    <ul class="owl-carousel carousel-fw" data-columns="4" data-autoplay="" data-pagination="yes" data-arrows="yes" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
                        <li class="item" data-destaque-template="true">
                            <article class="box">
                                <figure>
                                    <span><img alt="" src="http://srv4.vmwm.com.br/img/image.jpg"></span>
                                </figure>
                                <div class="details">
                                    <span class="price"><small>Por</small><div class="color-default">R$ #destaquePrice#</div></span>
                                    <h4 class="box-title">#destaqueModel#<small>#destaqueBrand#</small></h4>
                                    <hr>
                                    <p class="ano"><span class="color-ano color-default">Ano:</span> #destaqueAno#</p>
                                    <div class="action">
                                        <a href="#" class="button btn-small full-width layout-btn btn-color"><i class="fa fa-plus" data-icon="true"></i></a>
                                    </div>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>