.x_component_services_cod_134 {
    background: transparent;
    padding: 7% 0 !important;
    position: relative;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    color: #fff;
}

.x_component_services_cod_134 .bg-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.x_component_services_cod_134 > img {
	min-height: 400px;
}
    
.x_component_services_cod_134 .page-title {
    text-align: center;
    font-size: 54px;
    font-weight: 400;
    margin-top: -15px;
}

.x_component_services_cod_134 .breadcrumb-component {
    display: inline;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 73%;
    width: 320px;
}

.x_component_services_cod_134 .breadcrumb-component li {
    position: relative;
    margin: 0 20px;
}

.x_component_services_cod_134 .breadcrumb-component li a {
    font-size: 16px;
    font-weight: 300;
}

.x_component_services_cod_134 .breadcrumb-component li:not(:last-child):before {
    position: absolute;
    content: '→';
    padding-right: 20px;
    width: 30px;
    height: 30px;
    top: 1px;
    right: -80%;
}

.x_component_services_cod_134 .breadcrumb-component li.active a:hover {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .x_component_services_cod_134 {
        padding: 10% 0;
    }
    .x_component_services_cod_134 .page-title {
        display: none;
    }
    .x_component_services_cod_134 .breadcrumb-component {
        display: block;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}