.x_component_gallery_box_cod_185 {
    padding: 0 0 50px 0;
    background: #FFFFFF;
    font-family: 'Righteous', cursive;
    color: #e43a45;
    overflow: hidden;
}

.x_component_gallery_box_cod_185 .gallery-title {
    font-weight: 100;
    font-style: normal;
    font-size: 140px;
    line-height: 0.9;
    letter-spacing: -1px;
    padding-bottom: 55px;
}

.x_component_gallery_box_cod_185 .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.x_component_gallery_box_cod_185 .first-blk {
    padding-left: 1.5px;
}

.x_component_gallery_box_cod_185 .gallery>div {
    overflow: hidden;
}

.x_component_gallery_box_cod_185 .gallery>div a {
    width: 100%;
    min-height: 10px;
    padding: 0 1.5px 1.5px 0;
    display: block;
    position: relative;
    overflow: hidden;
}

.x_component_gallery_box_cod_185 .gallery>div a img {
    width: 100%;
}

.x_component_gallery_box_cod_185 .gallery>div a h3 {
    text-align: center;
    font-size: 28px;
    max-width: 295px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.x_component_gallery_box_cod_185 .gallery>div a .content {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.x_component_gallery_box_cod_185 .gallery>div a .content:before {
    position: absolute;
    top: 0;
    left: 200%;
    width: 500%;
    height: 100%;
    content: '';
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-50deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.x_component_gallery_box_cod_185 .gallery>div a .content:hover:before {
    top: 0;
    left: 0;
    opacity: 1;
}

.x_component_gallery_box_cod_185 .gallery .box {
    min-height: 100px;
}

@media screen and (max-width: 768px) {
    .x_component_gallery_box_cod_185 .gallery-title {
        font-size: 70px;
    }
    .x_component_gallery_box_cod_185 .gallery>div a h3 {
        font-size: 20px;
    }
}