<section class="x_component_header_cod_081_v2 navbar-wrapper ">
    <nav class="navbar " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="icon-bar"></i>
                    </button>
                <a class="navbar-brand page-scroll">
                    <img src="assets/img/component_header_cod_081_01.png" alt="logo" class="img-responsive" data-image="true">
                </a>
            </div>


            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul data-menu="true" class="nav navbar-nav navbar-right">

                </ul>
            </div>
        </div>
    </nav>
</section>