<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-3 brand">
                        <img class="img-responsive" src="" data-image="true">
                    </div>
                    <div class="col-sm-9">
                        <h1 data-editable="true">Endereço</h1>
                        <div data-editable="true">Telefone</div>
                    </div>
                </div>
                <hr class="visible-xs">
                <div class="row">
                    <div class="col-sm-3 brand">
                        <img class="img-responsive" src="" data-image="true">
                    </div>
                    <div class="col-sm-9">
                        <h1 data-editable="true">Endereço</h1>
                        <div data-editable="true">Telefone</div>
                    </div>
                </div>
                <hr class="visible-xs">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-3 brand">
                        <img class="img-responsive" src="" data-image="true">
                    </div>
                    <div class="col-sm-9">
                        <h1 data-editable="true">Endereço</h1>
                        <div data-editable="true">Telefone</div>

                    </div>
                </div>
                <hr class="visible-xs">
                <div class="row">
                    <div class="col-sm-3 brand">
                        <img class="img-responsive" src="" data-image="true">
                    </div>
                    <div class="col-sm-9">
                        <h1 data-editable="true">Endereço</h1>
                        <div data-editable="true">Telefone</div>
                    </div>
                </div>
                <hr class="visible-xs">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-3 brand">
                        <img class="img-responsive" src="" data-image="true">
                    </div>
                    <div class="col-sm-9">
                        <h1 data-editable="true">Endereço</h1>
                        <div data-editable="true">Telefone</div>
                    </div>
                </div>
            </div>
            <hr class="visible-xs">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-9 col-sm-pull-3 brand-store">
                        <img class="img-responsive pull-right" src="" data-image="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-theme">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div data-editable="true" class="text-white">SEMINOVOS DIAMANTE © 2017 | Todos os direitos reservados</div>
                </div>
            </div>
        </div>
    </div>
</section>