<div class="highlights-h001 full-w pad-default-elements">
    <div class="pad-anuncio">
        <div class="container">
            <div class="carousel-wrapper image-box style1 add-clearfix">
                <div class="row">
                    <ul class="owl-carousel carousel-fw" data-columns="4" data-autoplay="" data-pagination="no" data-arrows="yes" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
                        <li class="item" data-destaque-template="true">
                            <article class="box">
                                <div class="details">
                                    <span class="price"><small>Por</small><span class="color-default">R$ #destaquePrice#</span></span>
                                    <h4 class="box-title">#destaqueModel#<small>#destaqueBrand#</small></h4>
                                </div>
                                <figure>
                                    <a href="" title="" class="hover-effect popup-gallery"><img src="#destaqueImage#" alt="" width="270" height="160" /></a>
                                </figure>
                                <div class="action">
                                    <a href="#" class="button btn-small full-width layout-btn btn-color" data-link="true">CLIQUE AQUI!</a>
                                </div>
                            </article>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>