.imagem-i012 .img-overlay:before {
    content: "";
    background: rgba(12, 13, 13, 0.5) repeat;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.imagem-i012 .image-text {
    text-align: center;
}

.imagem-i012 .image-text h1 {
    margin: 0.5em 0 0;
    letter-spacing: -1px;
    font-weight: 400;
    font-size: 4.25em;
    line-height: 1;
    position: absolute;
    width: 100%;
    top: 7vh;
    color: #fff;
    pointer-events: none;
    z-index: 3;
}

.imagem-i012 .image-text h1 span {
    display: block;
    padding: 12px 0 1px;
    ;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    text-shadow: none;
    z-index: 10;
}

.imagem-i012 .fa-stack {
    font-size: 24px;
}

.imagem-i012 .img-responsive {
    width: 100%;
}

.imagem-i012 .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.imagem-i012 .cont-img {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow: hidden;
}

.imagem-i012 .cont-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (max-width: 1280px) {
    .imagem-i012 .image-text h1 {
        top: 0;
    }
}

@media all and (max-width: 990px) {
    .image-text h1 {
        top: 0;
    }
    .imagem-i012 .no-mobile {
        display: none;
    }
}