.x_component_work_code_146 {
    padding-top: 40px;
}

.x_component_work_code_146 .mb-0 {
    margin-top: 10px;
    margin-bottom: 10px !important;
    cursor: pointer;
}

.x_component_work_code_146 .full-width {
    background: #ffffff;
    width: 100%;
    height: 52px;
    padding: 9px 18px;
    line-height: inherit;
    font-size: 20px;
    color: #777777;
    margin-bottom: 20px;
}

.x_component_work_code_146 .item-text .item_title {
    margin-top: 0;
    text-rendering: optimizelegibility;
    font-size: 46px;
    font-weight: 300;
    line-height: 56px;
    padding-bottom: 20px;
}

.x_component_work_code_146 .text-size {
    font-size: 20px;
}

.x_component_work_code_146 .custom-size {
    display: block;
    max-width: 100%;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    color: #777777;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    height: 52px;
    line-height: 34px;
    padding: 9px 18px;
    vertical-align: middle;
    outline: none;
    margin-bottom: 20px;
}

.x_component_work_code_146 .btn-info {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    line-height: 34px;
    outline: none;
    padding: 9px 26px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: none;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
}

.x_component_work_code_146 .btn-info:hover {
    opacity: 0.6;
}

.x_component_work_code_146 .form-group {
    position: relative;
}

.x_component_work_code_146 .item-text .item-sub-title-style {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 20px;
    color: #333333;
    text-rendering: optimizelegibility;
}

.x_component_work_code_146 .item-text .career-description {
    font-size: 20px;
    line-height: 34px;
    color: #777777;
    font-weight: 300;
    padding-bottom: 34px;
}

.x_component_work_code_146 .card {
    margin-bottom: 10px;
    background: #F2F2F2;
}

.x_component_work_code_146 .card-header {
    padding: 20px;
    border-bottom: none;
    background: #F2F2F2;
}

.x_component_work_code_146 .card .card-block {
    color: #969696;
    background: #F2F2F2;
}

.x_component_work_code_146 .card .card-block ul {
    margin: 0 0 0 34px;
    list-style: none;
}

.x_component_work_code_146 .card .card-block ul li {
    position: relative;
    padding-left: 42px;
    margin-top: 6px;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: normal;
    display: list-item;
    text-align: -webkit-match-parent;
}

.x_component_work_code_146 .card .card-block ul li:before,
.x_component_work_code_146 .card .card-block ul li:before,
.x_component_work_code_146 .card .card-block ul li:before,
.x_component_work_code_146 .card .card-block ul li:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '✓';
    color: #000;
    font-size: 29px;
}

.x_component_work_code_146 .card-header a {
    font-size: 20px;
    text-decoration: none;
}

.x_component_work_code_146 .card-header a:hover {
    color: #39CAFA;
}

.x_component_work_code_146 .accordion-toggle {
    color: #333333;
    font-weight: normal;
    display: block;
    padding: 0px 0px 0px 54px;
    position: relative;
}

.x_component_work_code_146 .item-content-text {
    padding-bottom: 40px;
}

.x_component_work_code_146 .collapsed:before {
    content: '+';
    font-size: 60px;
    font-weight: 600;
    left: 0;
    position: absolute;
    top: 50%;
    color: #000;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.x_component_work_code_146 .collapsed.active:before {
    content: '−';
    font-size: 60px;
    left: 0;
    position: absolute;
    top: 50%;
    color: #000;
    font-weight: 600;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

@media screen and (max-width: 1024px) {
    .x_component_work_code_146 .item-content .item-content-title {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 500;
        line-height: 120px;
    }
    .x_component_work_code_146 .item-content-text {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .x_component_work_code_146 .item-content .item-content-title {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 500;
        line-height: 60px;
    }
    .x_component_work_code_146 .item-content a {
        font-size: 16px;
    }
}