<section class="zero-km-zk002 pad-default-elements">
    <div class="container">
        <div class="row">
            <ul class="owl-carousel carousel-fw" data-columns="6" data-autoplay="" data-pagination="yes" data-arrows="yes" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
                <li class="item" data-zerokm-template="true">
                    <a href="#zero-car-link#" data-link="true"><img src="" alt="" data-zerokm-marca-img="true"></a>
                </li>
            </ul>
        </div>
    </div>
</section>