<section class="x_component_footer_cod_302 pad-default-element">
    <footer>
        <div class="footer-top background-theme">
            <div class="container">
                <div class="list-unstyled list-inline footer-social no-padding">
                    <div class="footer footer-title">
                        <h2 data-editable="true" class="footer-module-title color-default">LOREM IPSUM</h2>
                    </div>
                    <div>
                        <ul data-social="true">
                            <li><a href="#icon-link#"><i class="#icon-class#"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="footer-box">
                        <h3 data-editable="true" class="footer-module-title color-default">LOREM IPSUM</h3>
                        <ul class="list-unstyled list-items">
                            <li>
                                <div data-editable="true" class="color-default">
                                    Lorem ipsum
                                </div>
                            </li>
                            <li>
                                <div data-editable="true" class="color-default">
                                    Lorem ipsum
                                </div>
                            </li>
                            <li>
                                <div data-editable="true" class="color-default">
                                    Lorem ipsum
                                </div>
                            </li>
                            <li>
                                <div data-editable="true" class="color-default">
                                    Lorem ipsum
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="footer-box">
                        <h1 data-editable="true" class="footer-module-title">LOREM IPSUM</h1>
                        <ul class="list-unstyled list-items">
                            <li data-editable="true" class="color-default">
                                Lorem ipsum
                            </li>
                            <li data-editable="true" class="color-default">
                                Lorem ipsum
                            </li>
                            <li data-editable="true" class="color-default">
                                Lorem ipsum
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="footer-box">

                        <h1 data-editable="true" class="footer-module-title">LOREM IPSUM</h1>
                        <ul class="list-unstyled list-items">
                            <li data-editable="true" class="color-default">
                                Lorem ipsum
                            </li>
                            <li data-editable="true" class="color-default">
                                Lorem ipsum
                            </li>
                            <li data-editable="true" class="color-default">
                                Lorem ipsum
                            </li>
                            <li data-editable="true" class="color-default">
                                Lorem ipsum
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="footer-box">

                        <h1 data-editable="true" class="footer-module-title color-default">LOREM IPSUM</h1>
                        <ul class="list-unstyled list-items">
                            <li data-editable="true" class="color-default">
                                Lorem ipsum
                            </li>
                            <li data-editable="true" class="color-default">
                                Lorem ipsum
                            </li>
                            <li data-editable="true" class="color-default">
                                Lorem ipsum
                            </li>
                            <li data-editable="true" class="color-default">
                                Lorem ipsum
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer-box">
                        <h1 data-editable="true" class="footer-module-title color-default">OOREM IPSUM</h1>
                        <ul class="list-unstyled">
                            <li data-editable="true" class="color-default">4578 Lorem ipsum D04 89GR</li>
                            <li class="phone "><i class="fa fa-phone" data-icon="true"></i>
                                <div data-editable="true" class="color-default"> 800-2345-6789</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <div data-editable="true" class="color-default">
                            Lorem ipsum </a>Lorem ipsum © 2017
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>