.service-s001 {
    color: #2b2b2b;
    overflow: hidden;
}

.service-s001 .box-icon i {
    font-size: 60px;
}

.service-s001 .box-icon a:hover {
    text-decoration: none;
}

.service-s001 .main_title {
    font-size: 44px;
    margin-top: 30px;
    text-align: center;
    line-height: 65px;
}

.service-s001 .desc_tite p,
.service-s001 small {
    font-size: 18px;
    text-align: center;
    text-transform: none;
    font-weight: 200;
}

.service-s001 .hr-sm {
    background: #dee1e4;
    width: 70px;
    height: 3px;
    margin: 15px auto;
    border: none;
}

.service-s001 .box {
    border-radius: 3px;
    padding: 38px 30px;
    text-align: right;
    display: block;
}

.service-s001 .box-icon span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.service-s001 .info h4 {
    font-size: 22px;
    margin: 0px;
    font-weight: 400;
    padding: 28px 0px;
    text-transform: uppercase;
}

.service-s001 .info>p {
    font-size: 16px;
    text-align: center;
}

.service-s001 .box-icon {
    border-radius: 50%;
    display: table;
    height: 120px;
    margin: 0 auto;
    width: 120px;
}