<section class="slider-s002">
      <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" >
          <ul class="carousel-indicators">
              <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active" data-banner-indicator-template="true"></li>
          </ul>

          <div class="carousel-inner" role="listbox" >
              <div class="item active" data-banner-template="true">
                <a href="javascript:void(0);"><img src="http://placehold.it/1080x350?text=Imagem+do+banner" width="100%" alt="" /></a>
                  <video class="video-player-no-controls video-template" muted="true" width="100%" height="100%" src=""></video>
                <div class="bs-slider-overlay"></div>
              </div>
          </div>

          <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
              <span class="fa fa-angle-left" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
          </a>

          <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
              <span class="fa fa-angle-right" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
          </a>
      </div>
</section>