<section class="highlights-h002 pad-default-elements">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="image-box">
                <ul class="owl-carousel carousel-fw" data-columns="4" data-autoplay="" data-pagination="no" data-arrows="yes" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
                    <li class="item" data-destaque-template="true">
                        <article class="box">
                            <div class="details">
                                <figure>
                                    <span><img class="img-responsive" alt="" src="#destaqueImage#"></span>
                                </figure>
                                <div class="price"><small>Por</small><div class="color-default">R$ #destaquePrice#</div></div>
                                <div class="box-title">#destaqueModel#<small>#destaqueBrand#</small></div>
                                <hr>
                                <p class="ano"><span class="color-ano color-default">Ano:</span> #destaqueYear#</p>
                                <div class="action">
                                    <a href="#estoqueLink#" class="button btn-small layout-btn btn-color"><i class="fa fa-plus" data-icon="true"></i></a>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
</section>