.x_component_slider_cod_009>.container-fluid {
    padding: 0;
}
.x_component_slider_cod_009{
	background: url('../img/component_slider_cod_009_01.jpg');
  	background-size:cover;
  min-height:400px;
  
}

.x_component_slider_cod_009 .carousel-inner {
    overflow: hidden;
}



.x_component_slider_cod_009 .item {
    position: relative;
    display: block;
  min-height:400px;

}

.x_component_slider_cod_009 .item img {
    width: 100%;
}

.x_component_slider_cod_009 .bs-slider-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 100px;
}

.x_component_slider_cod_009 .bs-slider-overlay .slider-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 0;
}

.x_component_slider_cod_009 .bs-slider-overlay .slider-sub-title {
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 1.1;
    margin-top: 10px;
}

.x_component_slider_cod_009 .bs-slider-overlay .slider-description {
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    max-width: 60%;
}

.x_component_slider_cod_009 .bs-slider-overlay .slider-btn {
    padding: 23px 35px;
    font-size: 13px;
 
    color: #ffffff;
    border: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-weight: 700;
    margin-top: 30px;
}

.x_component_slider_cod_009 .bs-slider-overlay .slider-btn:hover {
   opacity:0.8;
}



@media screen and (max-width: 992px) {
    .x_component_slider_cod_009 .bs-slider-overlay {
        padding-left: 20px;
    }
    .x_component_slider_cod_009 .bs-slider-overlay .slider-title {
        font-size: 40px;
    }
    .x_component_slider_cod_009 .bs-slider-overlay .slider-sub-title {
        font-size: 40px;
    }
    .x_component_slider_cod_009 .bs-slider-overlay .slider-description {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .x_component_slider_cod_009 .bs-slider-overlay {
        padding-left: 5px;
    }
    .x_component_slider_cod_009 .bs-slider-overlay .slider-title {
        font-size: 30px;
    }
    .x_component_slider_cod_009 .bs-slider-overlay .slider-sub-title {
        font-size: 30px;
    }
    .x_component_slider_cod_009 .bs-slider-overlay .slider-description {
        font-size: 12px;
        max-width: 90%;
    }
    .x_component_slider_cod_009 .bs-slider-overlay .slider-btn {
        margin-top: 10px;
        padding: 15px 25px;
    }
}

@media screen and (max-width: 450px) {
    .x_component_slider_cod_009 .bs-slider-overlay {
        padding-left: 5px;
    }
    .x_component_slider_cod_009 .bs-slider-overlay .slider-title {
        font-size: 20px;
        margin-bottom: 0;
    }
    .x_component_slider_cod_009 .bs-slider-overlay .slider-sub-title {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .x_component_slider_cod_009 .bs-slider-overlay .slider-description {
        font-size: 12px;
        max-width: 90%;
        margin-bottom: 0;
    }
    .x_component_slider_cod_009 .bs-slider-overlay .slider-btn {
        margin-top: 5px;
        padding: 5px 16px;
    }
}