<section class="x_component_slider-boxes_cod_144">
    <div id="carousel-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active" data-banner-template="true">
                <a href="">
                    <img src="http://placehold.it/1080x500?text=Imagem+do+banner" alt="" width="100%">                    
                    <div class="bs-slider-overlay">
                        <div data-editable="true" class="top-title">In a ipsum ac</div>
                        <h2 class="slider-title color-default" data-editable="true">Lorem Ipsum</h2>
                    </div>
                </a>
                <video class="video-player-no-controls" muted="true" width="100%" height="100%" src=""></video>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-generic" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container box-items">
        <div class="row ">
            <div class="col-sm-6 col-md-3">
                <div class="box-item background-theme">
                    <i class="fa fa-cog" aria-hidden="true" data-icon="true"></i>
                    <div class="font-title box-title" data-editable="true">LOREM</div>
                    <h3 class="font-title box-subtitle" data-editable="true">IPSUM</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="box-item background-theme">
                    <i class="fa fa-car" aria-hidden="true" data-icon="true"></i>
                    <div class="font-title box-title" data-editable="true">LOREM</div>
                    <h3 class="font-title box-subtitle" data-editable="true">IPSUM</h3>
                </div>
            </div>
            <div class="clearfix hidden-md hidden-lg">
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="box-item background-theme">
                    <i class="fa fa-motorcycle" aria-hidden="true" data-icon="true"></i>
                    <div class="font-title box-title" data-editable="true">LOREM</div>
                    <h3 class="font-title box-subtitle" data-editable="true">IPSUM</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="box-item background-theme">
                    <i class="fa fa-wrench" aria-hidden="true" data-icon="true"></i>
                    <div class="font-title box-title" data-editable="true">LOREM</div>
                    <h3 class="font-title box-subtitle" data-editable="true">IPSUM</h3>
                </div>
            </div>
        </div>
    </div>
</section>