.x_component_text_cod_252 {
    background: #313135;
    color: #fff;
    background-size: cover;
    font-size: 14px;
    padding: 20px 0;
    position: relative;
    width: 100%;
}

.x_component_text_cod_252 .row.no-gutters>[class^="col-"],
.x_component_text_cod_252 .row.no-gutters>[class*=" col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.x_component_text_cod_252 .font-title {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.52px;
    width: 100%;
    position: relative;
    height: 80px;
}

.x_component_text_cod_252 .font-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
}

.x_component_text_cod_252 .icon {
    font-size: 60px;
    margin: 50px 0;
}

.x_component_text_cod_252 .description {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0px;
    margin-bottom: 50px;
}

.x_component_text_cod_252 .btn-color {
    font-weight: 400;
    padding: 15px;
    font-size: 24px;
    text-decoration: none;
    width: 150px;
}

.x_component_text_cod_252 .btn-color:hover {
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}