<div class="janela-j001">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
              </div>
              <div class="projects">
                  <div class="item">
                      <div class="cont-img">
                            <img src="" data-image="true">
                      </div>
                  </div>
              </div>
              <div class="clearfix"></div>
                <spam id="janela-footer" data-editable="true" href="#">Visite!</spam>
          </div>
      </div>
  </div>
</div>