.x_component_services_cod_215 .title {
  text-align: center;
  font-size: 57px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  margin-bottom: 15px;
}
.x_component_services_cod_215 .subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 50px;
}
.x_component_services_cod_215 .service-box-data {
  width: 80%;
  min-height: 10px;
  border: none;
}
.x_component_services_cod_215 .service-box-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px auto 0;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
}
.x_component_services_cod_215 .service-title {
  text-align: right;
  font-size: 24px;
  line-height: 0.9;
  letter-spacing: 0;
  font-weight: 700;
}
.x_component_services_cod_215 .service-description {
  font-weight: 300;
  color: #252525;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0;
  text-align: right;
}
.x_component_services_cod_215 .service-box-right,
.x_component_services_cod_215 .service-box-left {
  margin: 0 0 30px;
}
.x_component_services_cod_215 .service-box-left .service-box-data {
  float: left;
}
.x_component_services_cod_215 .service-box-left .service-box-img {
  float: right;
}
.x_component_services_cod_215 .service-box-left .service-title {
  text-align: right;
  margin-right: 15px;
}
.x_component_services_cod_215 .service-box-left .service-description {
  text-align: right;
  margin-right: 15px;
}
.x_component_services_cod_215 .service-box-right .service-box-data {
  float: right;
}
.x_component_services_cod_215 .service-box-right .service-box-img {
  float: left;
}
.x_component_services_cod_215 .service-box-right .service-title {
  text-align: left;
  margin-left: 15px;
}
.x_component_services_cod_215 .service-box-right .service-description {
  text-align: left;
  margin-left: 15px;
}
@media (max-width: 990px) {
  .x_component_services_cod_215 .service-box-img {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
  }
  .x_component_services_cod_215 .service-box-right,
  .x_component_services_cod_215 .service-box-left {
    margin: 0 0 30px;
  }
}

@media (max-width: 400px) {
  .x_component_services_cod_215 .service-box-img {
    display: none;
  }
  .x_component_services_cod_215 .service-box-data {
    width: 100%;
  }
}