.x_component_form_cod_016 {
  padding: 100px 10px 80px;
  position: relative;
  overflow: hidden;
}
.x_component_form_cod_016 .img-background {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.2;
}
.x_component_form_cod_016 .main-title {
  padding: 0 0 80px;
  position: relative;
  overflow: hidden;
  color: #fff;
}
.x_component_form_cod_016 .main-title:after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background: #f8f8f8;
  position: absolute;
  bottom: 40px;
  left: 0;
}
.x_component_form_cod_016 .form-input {
  display: block;
  width: 100%;
  padding: 20px;
  border: 0;
  margin: 0 0 20px;
  background-color: #f8f8f8;
  transition: 0.2s ease-out;
}
.x_component_form_cod_016 .form-btn {
  display: inline-block;
  padding: 23px 37px;
  border: 0;
  border-radius: 2px;
  background-color: #f8f8f8;
  color: #222;
  font-weight: bold;
  transition: 0.2s ease-out;
}
.x_component_form_cod_016 .form-btn:focus,
.x_component_form_cod_016 .form-btn:hover,
.x_component_form_cod_016 .form-btn:active {
  opacity: 0.7;
}
@media (max-width: 1200px) {
  .x_component_form_cod_016 {
    padding: 40px 0 30px;
  }
  .x_component_form_cod_016 .img-background {
    width: auto;
    height: 100%;
  }
}