<section class="cta-c003">
    <div class="container">
        <div class="row mb-xs-24">
            <div class="col-sm-12 text-center spread-children-large">
            <img data-image="true" src="img/avatar1.png">
            <img data-image="true" src="img/avatar2.png">
            <img data-image="true" src="img/avatar3.png">
            <img data-image="true" src="img/avatar4.png">
            <img data-image="true" src="img/avatar5.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h2 data-editable="true">Profissionais prontos para atender você.</h2>
                <div class="mb40 mb-xs-24" data-editable="true">
                    <p>Descrição textual</p>
                </div>
                <a data-editable="true"class="mb0 btn btn-lg btn-filled btn-color layout-btn" href="#">Acesse</a>
            </div>
        </div>
      </div>
 </section>