
.ofertasdestaque-o004 .slick-slide {
    margin: 0px 20px;
}

.ofertasdestaque-o004 .slick-slide img {
    width: 100%;
    height: 100%;
}

.ofertasdestaque-o004 .cont-img {
    overflow: hidden;
    position: relative;
  	height: auto !important;
}

.ofertasdestaque-o004 button.selectSite:hover {
    box-shadow: 0 0 5px #ffffff;
}

.ofertasdestaque-o004 ul {
    list-style: none;
    padding: 0px;
}

.ofertasdestaque-o004 button.selectSite {
    position: absolute;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #ffffff;
    /*opacity: 0.5;*/
    border-radius: 0;
    background-color: transparent;
    color: #ffffff;
    width: 50%;
    left: 25%;
    top: 25%;
}

.ofertasdestaque-o004 .cont-img:hover .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    /*opacity: 0;*/
    background-color: rgba(6, 6, 6, 0.3);
}

.ofertasdestaque-o004 .slick-prev {
    left: 0px;
}

.ofertasdestaque-o004 .slick-next {
    right: 0px;
}

.ofertasdestaque-o004 .slick-next,
.ofertasdestaque-o004 .slick-prev {
    position: absolute;
    z-index: 10000000;
    height: 100%;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 50%;
}

.ofertasdestaque-o004 .slick-prev:hover,
.ofertasdestaque-o004 .slick-prev:focus,
.ofertasdestaque-o004 .slick-next:hover,
.ofertasdestaque-o004 .slick-next:focus {
    color: transparent;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.ofertasdestaque-o004 .slick-prev:before,
.ofertasdestaque-o004 .slick-next:before {
    color: black;
    position: absolute;
    top: 25%;
}

@media all and (max-width:1200px) {
    .ofertasdestaque-o004 .slick-prev:before,
    .ofertasdestaque-o004 .slick-next:before {
        top: 20%;
    }
}

.slick-next:before {
    right: 5px;
}

.slick-prev:before {
    left: 5px;
}

.ofertasdestaque-o004 .cont-infos-car {
    background-color: #fbfbfb;
    border: solid 1px #f2f5f7;
    box-shadow: 0 0 5px #d4cece;
    margin-bottom: 5px;
}

.ofertasdestaque-o004 .cont-infos-car .marca {
    padding-top: 10px;
}

.ofertasdestaque-o004 .cont-infos-car li * {
    display: inline;
}

.ofertasdestaque-o004 .cont-infos-car li .title {
    font-weight: bold;
}

.ofertasdestaque-o004 .cont-infos-car .visualiza {
    text-align: center;
}

.ofertasdestaque-o004 .cont-infos-car .visualiza a {
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.ofertasdestaque-o004 ol,
.ofertasdestaque-o004 ul {
    list-style: none;
    padding: 0px;
}