/*LESS VARIABLES*/


/*SECTION CSS*/

.x_component_text_cod_245 {
    background: url("../images/parallax5.jpg") no-repeat;
    background-size: cover;
    font-size: 14px;
    padding: 80px 0;
    font-family: 'Arial', sans-serif;
    position: relative;
    width: 100%;
    color: #fff;
}

.x_component_text_cod_245 .row.no-gutters>[class^="col-"],
.x_component_text_cod_245 .row.no-gutters>[class*=" col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.x_component_text_cod_245 .font-title {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.52px;
}

.x_component_text_cod_245 .box-title {
    font-size: 19px;
    margin: 50px 0;
}

.x_component_text_cod_245 .description {
    font-size: 16px;
    letter-spacing: 0.32px;
    font-weight: 300;
    margin-bottom: 50px;
}

.x_component_text_cod_245 .btn-color {
    padding: 15px;
    width: 150px;
    text-align: center;
}