<section class="form-teste-drive-001 pad-default-elements">
    <div class="form-test-drive">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sm-8 col-md-9">
                    <div class="booking-section webhub-box">
                        <form action="#" class="booking-form">
                            <div class="person-information">
                                <h2 data-editable="true">Dados Pessoais</h2>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Tipo de Cotação</label>
                                        <div class="selector bg-grey-100">
                                            <select class="full-width">
                                                    <option></option>
                                                </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Nome Completo</label>
                                        <input name="Nome_Completo" type="text" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>E-mail</label>
                                        <input name="Email" type="text" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-6">
                                        <label>Telefone Fixo</label>
                                        <input name="Telefone" type="text" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <label>Celular</label>
                                        <input name="Telefone_Celular" type="text" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                </div>
                                <hr>
                                <h2 data-editable="true">Dados do Agendamento</h2>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-6">
                                        <label>Marca</label>
                                        <input name="Marca" type="text" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <label>Modelo</label>
                                        <input name="Modelo" type="text" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-6">
                                        <label>Data</label>
                                        <input name="Data" type="text" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <label>Período</label>
                                        <div class="selector bg-grey-100">
                                            <select name="Período" class="full-width">
                                                    <option value="">Selecione</option><option value="Manhã">Manhã</option><option value="Tarde">Tarde</option>
                                                </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Mensagem</label>
                                        <textarea class="full-width bg-grey-100" name="Mensagem" rows="5" placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-sm-12 col-md-12">
                                    <button type="submit" class="full-width btn-large uppercase btn-color layout-btn"><span data-editable="true">Enviar</span></button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="sidebar col-sm-4 col-md-3">
                    <div class="webhub-box book-with-us-box">
                        <h4 data-editable="true">Conheça nossa loja!</h4>
                        <ul>
                            <li>
                                <i class="fa fa-home color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true">Endereço</h5>
                                <p data-editable="true">Rua Alvorada, 1289 São Paulo/SP</p>
                            </li>
                            <li>
                                <i class="fa fa-home color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true">Horários de Atendimento</h5>
                                <p data-editable="true">Seg à Sex - 9:00 às 18:00 <br/> Sáb - 8:00 às 16:00 </p>
                            </li>
                            <li>
                                <i class="fa fa-home color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true">Whatsapp</h5>
                                <p data-editable="true">(11) 0000.0000</p>
                            </li>
                        </ul>
                    </div>
                    <div class="webhub-box book-with-us-box">
                        <h4 data-editable="true">Atendimento Diferenciado </h4>
                        <ul>
                            <li>
                                <i class="fa fa-home color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true"><a href="#"><span data-editable="true">Peças e Acessórios</span></a></h5>
                                <p data-editable="true">Deixe seu carro mas completo.</p>
                            </li>
                            <li>
                                <i class="fa fa-home color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true"><a href="#"><span data-editable="true">Teste Drive</span></a></h5>
                                <p data-editable="true">Escolha o melhor horário pra você e agende online.</p>
                            </li>
                            <li>
                                <i class="fa fa-home color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true"><a href="#"><span data-editable="true">Oficina</span></a></h5>
                                <p data-editable="true">Assistência técnica autorizada.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="webhub-box contact-box">
                        <h4 data-editable="true">VMotors</h4>
                        <p data-editable="true">O jeito mais fácil e rápido de adquirir seu carro.</p>
                        <address class="contact-details">
                            <span class="contact-phone color-default"><i class="fa fa-phone" data-icon="true"></i><span data-editable="true"> (00) 0000-0000 </span> </span>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>