.padding_top_30 {
  padding-top: 30px;
}
.position_relative {
  position: relative;
}
.brackground_chumbo {
  background-color: #555555;
}
.buscador_013.reset #amount {
  border: 0;
  color: #f6931f;
  font-weight: bold;
}
.buscador_013.reset .navbar {
  min-height: inherit;
  border-radius: 0px;
  border: 0px solid transparent;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .buscador_013.reset .navbar {
    border-radius: 0px;
  }
}
.buscador_013.reset .navbar-default {
  background-color: transparent;
  border-color: inherit;
}
.buscador_013.reset .form-group {
  width: 100%;
  margin-bottom: 15px;
}
.buscador_013.reset .form-group > .form-control {
  border-radius: 25px;
  width: 100%;
}

.buscador_013 {
  margin-top: 30px;
}
.buscador_013 .cont-titulo {
 
  display: block;
  color: #fff;
  margin-bottom: 30px;
}
@media all and (max-width: 1090px) {
  .buscador_013 .cont-titulo {
    padding: 13px 40px;
  }
}
.buscador_013 .cont-titulo .titulo {
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
}
.buscador_013 .cont-button .form-control {
  height: 40px;
}
.buscador_013 .cont-button .form-control p {
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin: 5px 0 10px;
}
.buscador_013 .cont-button button.btn-sub {
  width: 31px;
  height: 31px;
  background-color: orange;
  border-radius: 25px;
  border: none;
  font-size: 13px;
  position: absolute;
  right: 2px;
  top: 2.9px;
}
.buscador_013 .ui-state-default,
.buscador_013 .ui-state-default,
.buscador_013 .ui-state-hover {
  background-color: red;
  border: none;
  border-radius: 20px;
}
