.x_component_header_cod_318 {
  padding: 6% 1.4% !important;
  position: relative;
  overflow: hidden;
}
.x_component_header_cod_318 .image-bg {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
}
.x_component_header_cod_318 .header {
  width: 70%;
  padding: 0 0%;
  margin: 0 auto;
  position: relative;
  /*background: url("../images/bg1.png");*/
  /*background-repeat: repeat;*/
  min-height: 100px;
  z-index: 9;
}
.x_component_header_cod_318 #cat-title {
  color: #fff;
}
.x_component_header_cod_318 .dropdown-menu>li>a:focus, .x_component_header_cod_318 .dropdown-menu>li>a:hover{
  background-color: transparent;
  background-image:none;
}
.x_component_header_cod_318 .header #cat-title {
  display: none;
}
.x_component_header_cod_318 .header ul {
  padding: 0;
  margin: 0;
}
.x_component_header_cod_318 .header .top-border {
  height: 10px;
}
.x_component_header_cod_318 .header .logo a,
.x_component_header_cod_318 .header .logo img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}
.x_component_header_cod_318 a {
  color: #fff;
}
.x_component_header_cod_318 .header .shop-phone {
  padding: 10px;
  font-size: 20px;
}

.x_component_header_cod_318 .header .shop-phone > div,
.x_component_header_cod_318 .header .shop-phone > div > p {
  display: inline;
  margin-left: 10px;
  color: #fff;
}
.x_component_header_cod_318 .header .row {
  padding: 0;
}
.x_component_header_cod_318 .header .nav li,
.x_component_header_cod_318 .header .navbar-nav li {
  float: left;
}
.x_component_header_cod_318 .header .nav > li > a {
  text-decoration: none;
  background: transparent;
}
.x_component_header_cod_318 .header .nav > li > a:hover {
  background: transparent;
}
.x_component_header_cod_318 .header .nav .active a {
  background: transparent;
}
.x_component_header_cod_318 .header .sf-contener{
  text-align: center;
}
.x_component_header_cod_318 .header .sf-contener .sf-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}
.x_component_header_cod_318 .header .sf-menu > li {
  float: left;
  border-right: 1px solid #99998c;
  position: relative;

}
.x_component_header_cod_318 .header .sf-menu > li > ul {
  padding: 15px;
  display: none;
  width: 280px;
  list-style: none;
  position: absolute;
  top: 80px;
  left: 0;
}
.x_component_header_cod_318 .header .sf-menu > li > a {
  display: block;
  padding: 32px 28px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-decoration: none;
}

.x_component_header_cod_318 .header .sf-menu > li > ul.dropdown {
  display: none;
}
.x_component_header_cod_318 .header .sf-menu > li:hover > ul.dropdown {
  display: block;
}

.x_component_header_cod_318 .header .sf-menu > li > ul.dropdown ul{
  display: none;
}
.x_component_header_cod_318 .header .sf-menu > li > ul.dropdown:hover ul {
  display: block;
}

.x_component_header_cod_318 .header .sf-menu > li > ul > li {
  width: 100%;
  margin: 0 0 10px;
}
.x_component_header_cod_318 .header .sf-menu > li > ul > li > a {
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-decoration: none;
}
.x_component_header_cod_318 .header .sf-menu li li li a {
  display: inline-block;
  position: relative;
  color: #333;
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.x_component_header_cod_318 .header .sf-menu li li li {
  list-style: none;
  padding-top: 5px;
}

@media (max-width: 768px){
  .dropdown-menu{
    position: relative;
    width:100%;
    float:none;
    top:0px;
  }
}
.x_component_header_cod_318 .mobile .category {
  display: block;
  padding: 20px;
  width: 100%;
}
.x_component_header_cod_318 .mobile .cat-title {
  position: relative;
}
.x_component_header_cod_318 .mobile .cat-title:after {
  display: block;
  font-family: "FontAwesome";
  content: "\f067";
  position: absolute;
  right: 15px;
  top: 18px;
  font-size: 16px;
}
.x_component_header_cod_318 .mobile .cat-title-2 {
  position: relative;
}
.x_component_header_cod_318 .mobile .cat-title-2:after {
  display: block;
  font-family: "FontAwesome";
  content: "\f068";
  position: absolute;
  right: 15px;
  top: 18px;
  font-size: 16px;
}
.x_component_header_cod_318 .mobile > ul > li {
  padding: 20px 0;
}
.x_component_header_cod_318 .mobile > ul > li > a {
  text-decoration: none;
  padding: 20px;
}
.x_component_header_cod_318 .mobile ul li {
  list-style: none;
}
.x_component_header_cod_318 .mobile .sfHoverForce ul li > a {
  font: 600 14px/16px "Open Sans", sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
.x_component_header_cod_318 .mobile .sfHoverForce ul li ul li a {
  display: inline-block;
  position: relative;
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .x_component_header_cod_318 {
    padding: 0 0;
  }
  .x_component_header_cod_318 .header {
    width: 90%;
  }
  .x_component_header_cod_318 .header #cat-title {
    display: block;
  }
  .x_component_header_cod_318 .logo img {
    display: block;
    margin: auto;
  }
  .x_component_header_cod_318 .mobile ul li ul li {
    margin: 0 0 10px;
  }
  .x_component_header_cod_318 .mobile ul li ul li a {
    display: block;
    text-decoration: none;
  }
  .x_component_header_cod_318 .mobile > ul > .has-dropdown {
    padding: 20px 0 0;
  }
  .x_component_header_cod_318 .mobile > ul > li > ul {
    padding: 15px 0 15px 30px;
  }
}