.x_component_brands_cod_006 {
  padding: 20px;
  font-family: 'Exo 2', sans-serif;
}
.x_component_brands_cod_006 .brands-module-title {
  color: #000000;
  font-size: 35px;
  line-height: 38px;
  margin-bottom: 40px;
}
.x_component_brands_cod_006 .item-img {
  position: relative;
  padding: 10px;
}
.x_component_brands_cod_006 .item-img:hover:after {
  width: 100%;
  height: 101%;
  background: rgba(255, 255, 255, 0.7);
}
.x_component_brands_cod_006 .item-img:hover img {
filter: opacity(30%);
}
