<section class="x_component_services_cod_279">
    <div class="container">
        <div class="title-text wow slideInLeft" data-wow-duration="2s">
            <h1 data-editable="true">SERVICES</h1>
        </div>
        <div class="row service-item">
            <div class="col-sm-6 clearfix button-content wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s">
                <i class="fa fa-truck color-default" data-icon="true"></i>
                <div class="custom_bottom_right">
                    <h2 data-editable="true">Texto</h2>
                    <div class="text-description" data-editable="true">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
                </div>
            </div>

            <div class="col-sm-6 clearfix button-content wow fadeInRight" data-wow-duration="2s" data-wow-delay="1s">
                <i class="fa fa-credit-card color-default" data-icon="true"></i>
                <div class="custom_bottom_right">
                    <h2 data-editable="true">Texto</h2>
                    <div class="text-description" data-editable="true">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
                </div>
            </div>

            <div class="col-sm-6 clearfix button-content wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s">
                <i class="fa fa-thumbs-o-up color-default" data-icon="true"></i>
                <div class="custom_bottom_right">
                    <h2 data-editable="true">Texto</h2>
                    <div class="text-description" data-editable="true">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
                </div>
            </div>

            <div class="col-sm-6 clearfix button-content wow fadeInRight" data-wow-duration="2s" data-wow-delay="1s">
                <i class="fa fa-refresh color-default" data-icon="true"></i>
                <div class="custom_bottom_right">
                    <h2 data-editable="true">Texto</h2>
                    <div class="text-description" data-editable="true">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
                </div>
            </div>
        </div>
    </div>
</section>