<section class="redes-r001 pad-default-elements  redes-r001_bg-component">



    <div class=" margin_neagtive_15 redes-r001_cont-img">
        <div class="">

            <div class="row">
                <div class="cont-columns text-center">
                    <div class="redes-r001_wrap_social">
                        <div class="col-sm-3">
                            <div class="cont-elem">
                                <div class="cont-text">
                                    <i class="fa fa-facebook redes-r001_icon color-default" aria-hidden="true" data-icon="true"></i>
                                    <h5 class="color-default" data-editable="true">/suapagina</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="redes-r001_wrap_social">
                        <div class="col-sm-3">
                            <div class="cont-elem">
                                <div class="cont-text">
                                    <i class="fa fa-instagram redes-r001_icon color-default" aria-hidden="true" data-icon="true"></i>
                                    <h5 class="color-default" data-editable="true">/suapagina</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="redes-r001_wrap_social">
                        <div class="col-sm-3">
                            <div class="cont-elem">
                                <div class="cont-text">
                                    <i class="fa fa-youtube-play redes-r001_icon color-default" aria-hidden="true" data-icon="true"></i>
                                    <h5 class="color-default" data-editable="true">/suapagina</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="redes-r001_wrap_social">
                        <div class="col-sm-3">
                            <div class="cont-elem">
                                <div class="cont-text">
                                    <i class="fa fa-twitter redes-r001_icon color-default" aria-hidden="true" data-icon="true"></i>
                                    <h5 class="color-default" data-editable="true">@suapagina</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="clearfix"></span>
            </div>
        </div>
    </div>
</section>