#footer.footer-background {
    background: #ffffff;
}

#footer ul {
    padding: 0px;
}

#footer ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

#footer .container-fluid {
    box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
    -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
}

#footer .container-fluid.full {
    padding: 0px;
}

#footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer p {
    font-family: 'Open Sans', sans-serif !important;
}

#footer .cont-social a {
    text-align: center;
}

#footer .cont-social i.fa {
    font-size: 15px;
    padding: 0 10px;
}

#footer p {
    line-height: 10.5px;
}

#footer a {
    color: #000;
}

#footer .cont-info {
    margin-top: 30px;
    color: #fff;
    background: #222;
}

#footer .cont-info .inlines,
#footer .cont-info .inlines > *{
    display: inline-block;
}

#footer .cont-info i.fa {
    margin-right: 15px;
}

#footer .cont-links-footer {
    padding-top: 30px;
}

#footer .cont-logo-footer img {
    width: 156px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media all and (max-width:991px) {
    #footer .txt-center {
        text-align: center;
    }
}