.padding_top_30 {
  padding-top: 30px;
}
.position_relative {
  position: relative;
}
.brackground_chumbo {
  background-color: #555555;
}
.buscador_013.reset #amount {
  border: 0;
  color: #f6931f;
  font-weight: bold;
}
.buscador_013.reset .navbar {
  min-height: inherit;
  border-radius: 0px;
  border: 0px solid transparent;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .buscador_013.reset .navbar {
    border-radius: 0px;
  }
}
.buscador_013.reset .navbar-default {
  background-color: transparent;
  border-color: inherit;
}
.buscador_013.reset .form-group {
  width: 100%;
  margin-bottom: 15px;
}
.buscador_013.reset .form-group > .form-control {
  border-radius: 25px;
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
body span,
body p {
  font-family: 'Open Sans', sans-serif;
}
.header_adel .navbar-brand {
  height: auto;
  padding: 0px 15px;
}
.header_adel .padding_10 {
  padding: 0 10px 0 10px;
}
.header_adel .padding_10_top_bottom {
  padding: 10px 0 10px 0;
}
.header_adel .padding_0_left_right {
  padding: 0px;
}
.header_adel .margin_right_30 {
  margin-right: 30px;
}
.header_adel .border_negative {
  -webkit-transform: skew(50deg);
  -ms-transform: skew(50deg);
  transform: skew(50deg);
}
.header_adel .border_negative.yellow {
  background-color: #e1bb45;
}
.header_adel .border_negative.red {
  background-color: #b6363a;
}
.header_adel .border_negative .text {
  -webkit-transform: skew(-50deg);
  -ms-transform: skew(-50deg);
  transform: skew(-50deg);
}
.header_adel .top-header {
  background: #141414;
  background: -moz-linear-gradient(top, #141414 0%, #5c5c5c 120%, #666666 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #141414), color-stop(120%, #5c5c5c), color-stop(100%, #666666));
  background: -webkit-linear-gradient(top, #141414 0%, #5c5c5c 120%, #666666 100%);
  background: -o-linear-gradient(top, #141414 0%, #5c5c5c 120%, #666666 100%);
  background: -ms-linear-gradient(top, #141414 0%, #5c5c5c 120%, #666666 100%);
  background: linear-gradient(to bottom, #141414 0%, #5c5c5c 120%, #666666 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#141414', endColorstr='#666666', GradientType=0);
  color: #fff;
}
.header_adel .top-header ul {
  display: inline-flex;
}
.header_adel .top-header .icon {
  padding: 0 10px 0 10px;
}
@media all and (max-width: 836px) {
  .header_adel .top-header .nav.navbar-nav {
    margin: 0px;
  }
}
.header_adel .navbar-header .navbar-brand > img {
  width: 250px;
}
.header_adel .navbar-collapse .infos_header {
  margin-top: 10px;
}
.header_adel .navbar-collapse .infos_header ul.nav {
  width: 200px;
}
.header_adel .navbar-collapse .infos_header ul.nav li {
  color: #000;
}
.header_adel .navbar-collapse .infos_header ul.nav li span {
  font-weight: bold;
}
@media all and (max-width: 836px) {
  .header_adel .navbar-right.nav.navbar-nav {
    margin: 0px;
  }
}
.header_adel .navbar-right.nav.navbar-nav.navgation {
  background: url('../img/bg-menu.png') no-repeat;
  background-size: 100%;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .header_adel .navbar-right.nav.navbar-nav.navgation {
    background-image: none;
    background-color: #3c3838;
  }
}
.header_adel .navbar-right.nav.navbar-nav.navgation > li > a {
  color: #fff;
  font-weight: bold;
}
.header_adel .navbar-right.nav.navbar-nav .paddging_menu {
  padding: 15px 60px 15px 60px;
}
@media all and (max-width: 1020px) {
  .header_adel .navbar-right.nav.navbar-nav .paddging_menu {
    padding: 10px 35px;
  }
}
.header_adel .navbar-right.nav.navbar-nav > .open > a {
  background-color: transparent;
}
.header_adel .navbar-right.nav.navbar-nav > .open > a:hover {
  color: #fff;
  background-color: transparent;
}
.header_adel .navbar-right .dropdown-menu {
  right: inherit;
  background-color: #fff;
  border: none;
  min-width: 220px;
  border-radius: 0px;
}
@media (min-width: 768px) {
  .header_adel .navbar-right .dropdown-menu {
    right: inherit;
  }
}
.slider_012.reset .carousel-control {
  background-image: none;
}
.slider_012.reset .carousel-control:hover,
.slider_012.reset .carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: inherit;
  outline: 0;
  opacity: inherit;
}
.slider_012.reset .carousel-control .glyphicon {
  background-color: #30318b;
  font-size: 15px;
  color: #ffe41e;
  padding-top: 6px;
  width: 30px;
  height: 30px;
}
.img-midle img {
  width: 100%;
}
.buscador_013 {
  margin-top: 30px;
}
.buscador_013 .cont-titulo {
  background-color: orange;
  display: block;
  color: #fff;
  margin-bottom: 30px;
}
@media all and (max-width: 1090px) {
  .buscador_013 .cont-titulo {
    padding: 13px 40px;
  }
}
.buscador_013 .cont-titulo .titulo {
  font-size: 18px;
  margin-top: 10px;
}
.buscador_013 .cont-button .form-control {
  height: 40px;
}
.buscador_013 .cont-button .form-control p {
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin: 5px 0 10px;
}
.buscador_013 .cont-button button.btn-sub {
  width: 31px;
  height: 31px;
  background-color: orange;
  border-radius: 25px;
  border: none;
  font-size: 13px;
  position: absolute;
  right: 2px;
  top: 2.9px;
}
.buscador_013 .ui-state-default,
.buscador_013 .ui-state-default,
.buscador_013 .ui-state-hover {
  background-color: orange;
  border: none;
  border-radius: 20px;
}
.estoque_013 .cont_titulo_sessao {
  color: #000;
  margin-bottom: 30px;
  margin-top: 30px;
}
.estoque_013 .cont_titulo_sessao > .titulo {
  display: inline;
  font-size: 28px;
}
.estoque_013 .cont_titulo_sessao > span {
  background-color: red;
  display: inline-block;
  height: 20px;
  width: 5px;
}
.estoque_013 .cont_titulo_sessao > span:first-child {
  margin-right: 10px;
}
.estoque_013 .cont_titulo_sessao > span:last-child {
  margin-left: 10px;
}
.estoque_013 .center > .slick-next {
  background-color: #c3cbc8;
  height: 30px;
  width: 30px;
  z-index: 9;
  right: 46%;
  bottom: 0px;
  border-radius: 30px 30px 30px 30px;
  top: inherit;
}
@media all and (max-width: 1092px) {
  .estoque_013 .center > .slick-next {
    right: 44%;
  }
}
.estoque_013 .center > .slick-next:before {
  font-family: FontAwesome;
  content: '\f105';
  color: #fff;
}
.estoque_013 .center > .slick-prev {
  background-color: #c3cbc8;
  height: 30px;
  width: 30px;
  z-index: 9;
  left: 46%;
  bottom: 0px;
  border-radius: 30px 30px 30px 30px;
  top: inherit;
}
@media all and (max-width: 1092px) {
  .estoque_013 .center > .slick-prev {
    left: 44%;
  }
}
.estoque_013 .center > .slick-prev:before {
  font-family: FontAwesome;
  content: '\f104';
  color: #fff;
}
.estoque_013 .cont-estoque {
  padding-bottom: 70px;
}
.estoque_013 .cont-estoque .interno > .slick-next {
  background-color: #fff;
  height: 40px;
  z-index: 9;
  right: -1px;
  top: 50%;
  border-radius: 30px 0px 0px 30px;
}
.estoque_013 .cont-estoque .interno > .slick-next:before {
  font-family: FontAwesome;
  content: '\f101';
  color: #f76d2b;
}
.estoque_013 .cont-estoque .interno > .slick-prev {
  background-color: #fff;
  height: 40px;
  z-index: 9;
  left: -1px;
  top: 50%;
  border-radius: 0px 30px 30px 0px;
}
.estoque_013 .cont-estoque .interno > .slick-prev:before {
  font-family: FontAwesome;
  content: '\f100';
  color: #f76d2b;
}
.estoque_013 .cont-estoque .interno .slick-list > .slick-track > .item > img {
  margin: auto;
  width: 100%;
}
.estoque_013 .cont-estoque .cont_info_item_estoque {
  color: #000;
}
.estoque_013 .cont-estoque .cont_info_item_estoque .cont_valor {
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #173d76;
}
.estoque_013 .cont-estoque .cont_info_item_estoque .cont_valor > .valor {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0px;
  padding: 5px;
}
.estoque_013 .cont-estoque .cont_info_item_estoque .cont-velocimetro > .velocimetro {
  background: url('../img/velo.png') no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}
.estoque_013 .cont-estoque .cont_info_item_estoque .detalhes {
  font-size: 12px;
}
.estoque_013 .cont-estoque .cont_info_item_estoque .detalhes > ul {
  padding: 0px;
}
.estoque_013 .cont-estoque .cont_info_item_estoque .detalhes > ul > li {
  display: inline-block;
}
.estoque_013 .cont-estoque .cont_info_item_estoque .detalhes > ul > li i {
  font-size: 5px;
  vertical-align: middle;
  padding: 0 5px 0 5px;
  color: #ccc;
}
.filtro-busca {
  margin-bottom: 50px;
}
@media all and (max-width: 1020px) {
  .filtro-busca {
    text-align: center;
  }
}
.filtro-busca .btn-default {
  width: 150px;
  height: 49px;
  box-shadow: 0 5px 0 #000;
  background-color: #b72e1d;
  border: none;
  border-radius: 0px;
  color: #fff;
  font-weight: bold;
  margin-top: 30%;
}
@media all and (max-width: 1020px) {
  .filtro-busca .btn-default {
    margin-top: 10%;
    width: 100%;
  }
}
.filtro-busca .btn-default:active {
  background-color: #b72e1d;
  position: relative;
  top: 5px;
  box-shadow: none;
}
