<section class="imagem-i004 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title" data-editable="true">Novo Titulo</h1>
                    </div>
                    <div class="card-image">
                        <img class="card-img-h" data-image="true" src="http://srv4.vmwm.com.br/img/plat_componentes/27.jpg">
                    </div>
                    <div class="card-action">
                        <div data-editable="true">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title" data-editable="true">Novo Titulo</h1>
                    </div>
                    <div class="card-image">
                        <img class="card-img-h" data-image="true" src="http://srv4.vmwm.com.br/img/plat_componentes/22.jpg">
                    </div>
                    <div class="card-action">
                        <div data-editable="true">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title" data-editable="true">Novo Titulo</h1>
                    </div>
                    <div class="card-image">
                        <img class="card-img-h" data-image="true" src="http://srv4.vmwm.com.br/img/plat_componentes/28.jpg">
                    </div>
                    <div class="card-action">
                        <div data-editable="true">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>