<section class="service-s005 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="banner-group text-center">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a class="banner" href="javascript:void(0);"><img alt="" src="assets/img/big-1.jpg" data-image="true">  
                      <div class="boxTexto" data-editable="true"> Estoque ZEROKM</div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a class="banner" href="javascript:void(0);"><img alt="" src="assets/img/big-2.jpg" data-image="true">
                        <div class="boxTexto" data-editable="true">Estoque Seminovos</div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a class="banner" href="javascript:void(0);"><img alt="" src="assets/img/big-3.jpg" data-image="true">
                        <div class="boxTexto" data-editable="true">Financie seu carro</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>