<section class="x_component_contacts_cod_080 pad-default-element">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="font-title " data-editable="true">Lorem</h1>
            </div>
            <div class="col-sm-12">
                <div class="underline"></div>
            </div>
            <div class="contact_details col-sm-4">
                <h5 class="heading-style-5 visible-first" data-editable="true">
                    Lorem:</h5>
                <div class="contact_address">
                    <i class=" fa fa-home" data-icon="true"></i>
                    <div class="put-inline" data-editable="true"> Lorem ipsum </div>
                </div>
                <h5 class="heading-style-5 visible-first" data-editable="true">
                    <span>Lorem:</span></h5>
                <div class="contact_details_telephone">
                    <i class=" fa fa-phone" data-icon="true"></i>
                    <div class="put-inline" data-editable="true"> 0000000-0000 </div>
                </div>
                <div class="clearfix"></div>
                <div class="contact_details_fax">
                    <i class="fa fa-fax" data-icon="true"> </i>
                    <div class="put-inline" data-editable="true">0000000-0000 </div>
                </div>
                <div class="clearfix"></div>
                <h5 class="heading-style-5 visible-first" data-editable="true"><span>E-mail:</span></h5>
                <div class="contact_details_emailto">
                    <i class="fa fa-envelope" data-icon="true"></i>
                    <div class="put-inline" data-editable="true">mail@lorem.org</div>
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="col-sm-8">
                <div class="contact_misc visible-first">
                    <h5 class="heading-style-5 visible-first" data-editable="true">Lorem Ipsum</h5>
                    <div data-editable="true">Lorem ipsum dollor.</div>
                </div>
                <div>
                    <form data-form-type="contato" data-form-layout="contato-11"></form>
                </div>
            </div>
        </div>
    </div>
</section>