<section class="text_old_mod_003  pad-default-elements">
    <article class="container">

            <div class="infoBanner clearfix col-md-12 pad-default-elements">
                <div class="telbanner fleft col-md-2 padding_top_30 ">
                    <div data-editable="true">(00)0000-0000</div>
                    <div data-editable="true">(00)0000-0000</div>
                </div>
                <div class="wrap_info">
                    <div class="andBanner col-md-5 ">
                        <i class="fa fa-map-marker" data-icon="true"></i>
                        <div class="col-md-11 padding_top_10" data-editable="true">Av. das Americas, 500 - Downtown<br> Barra da Tijuca - Rio de Janeiro. </div>
                    </div>
                    <div class="cont_redes">
                        <div class="andBanner col-md-1 icon_container">
                            <i class="fa fa-facebook-official " data-social="true"></i>
                        </div>
                        <div class="andBanner col-md-1 ">
                            <i class="fa fa-twitter" data-social="true"></i>
                        </div>
                    </div>
                </div>
            </div>
   
    </article>
</section>