.footer-f001.footer-basic {
    padding: 40px 0;
  	background: #ffffff;
}

.footer-f001.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-f001.footer-basic li {
    padding: 0 10px;
}

.footer-f001.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-f001.footer-basic ul a:hover {
    opacity: 1;
}

.footer-f001.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-f001.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50% !important;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-f001.footer-basic .social>a:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 150px #000000;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.footer-f001.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

@media all and (max-width:768px) {
    .footer-f001 .no-mobile {
        display: none;
    }
}