.cta-c006 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    line-height: 24px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    overflow-x: hidden;
  	background: #f4f4f4;
}

.cta-c006 ul {
    list-style: none;
}

.cta-c006 ul.bullets {
    list-style: inside;
}

.cta-c006 .main-container {
    clear: both;
}

.cta-c006 hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 0 24px 0;
    width: 100%;
}

.cta-c006 hr.short-thick {
    max-width: 50px;
    border-top: 5px solid #ccc;
    opacity: 1 !important;
}

.cta-c006 .image-bg hr {
    border-color: #fff;
    opacity: .6;
}

.cta-c006 .image-bg.bg-light hr {
    border-color: #ccc;
    opacity: 1;
}

.cta-c006 .bg-dark hr {
    border-color: #555;
}

.cta-c006 .inline-block {
    display: inline-block;
}

.cta-c006 .list-inline {
    margin-left: 0;
}

.cta-c006 .list-inline>li {
    padding: 0 8px;
}

.cta-c006 .list-inline>li:last-child {
    padding-right: 0;
}

.cta-c006 .list-inline>li:first-child {
    padding-left: 0;
}

.cta-c006 .bg-primary .list-inline i {
    color: #8ed3ab;
}

.cta-c006 .overflow-hidden {
    overflow: hidden;
}

.cta-c006 .display-block {
    display: block;
}

.cta-c006 .show-grid {
    border: 1px dashed rgba(255, 255, 255, 0);
    padding: 8px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    cursor: default;
}

.cta-c006 .show-grid:hover {
    border-color: #222;
}

.cta-c006 .right {
    right: 0;
}

.cta-c006 .relative {
    position: relative;
    z-index: 2;
}

.cta-c006 .clearboth {
    clear: both;
}

.cta-c006 .spread-children * {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

.cta-c006 .spread-children-large * {
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
}

.cta-c006 .container {
    position: relative;
}

.cta-c006 .vnu {
    display: inline;
}

.cta-c006 .row-gapless>div[class*='col-'] {
    padding: 0;
}

@media all and (max-width: 1100px) {
    .cta-c006 .col-md-push-1 {
        left: 0;
    }
}

@media all and (max-width: 768px) {
    .cta-c006 .pull-left-sm {
        float: left !important;
    }
    .cta-c006 .overflow-hidden-xs {
        overflow: hidden;
    }
}

@media all and (max-width: 767px) {
    .cta-c006 .spread-children * {
        margin-left: 6px;
        margin-right: 6px;
    }
}


.cta-c006 .bg-primary {
    background: #47b475 !important;
}

.cta-c006 .bg-secondary {
    background: #f8f8f8;
}

.cta-c006 .bg-white {
    background: #fff;
}

.cta-c006 .bg-dark {
    background: #292929;
}

.cta-c006 .color-body {
    color: #666;
}

.cta-c006 .color-primary {
    color: #47b475 !important;
}

.cta-c006 .color-red {
    color: #e31d3b !important;
}

.cta-c006 .color-white {
    color: #fff;
}
.cta-c006 .fullscreen {
    height: 100vh;
}

.cta-c006 .bg-dark h1,
.cta-c006 nav.bg-dark h1,
.cta-c006 footer.bg-dark h1,
.cta-c006 .bg-primary h1,
.cta-c006 .bg-dark h2,
.cta-c006 nav.bg-dark h2,
.cta-c006 footer.bg-dark h2,
.cta-c006 .bg-primary h2,
.cta-c006 .bg-dark h3,
.cta-c006 nav.bg-dark h3,
.cta-c006 footer.bg-dark h3,
.cta-c006 .bg-primary h3,
.cta-c006 .bg-dark h4,
.cta-c006 nav.bg-dark h4,
.cta-c006 footer.bg-dark h4,
.cta-c006 .bg-primary h4,
.cta-c006 .bg-dark h5,
.cta-c006 nav.bg-dark h5,
.cta-c006 footer.bg-dark h5,
.cta-c006 .bg-primary h5,
.cta-c006 .bg-dark h6,
.cta-c006 nav.bg-dark h6,
.cta-c006 footer.bg-dark h6,
.cta-c006 .bg-primary h6 {
    color: #ffffff;
}

.cta-c006 .bg-dark p,
.cta-c006 nav.bg-dark p,
.cta-c006 footer.bg-dark p,
.cta-c006 .bg-primary p,
.cta-c006 .bg-dark span,
.cta-c006 nav.bg-dark span,
.cta-c006 footer.bg-dark span,
.cta-c006 .bg-primary span,
.cta-c006 .bg-dark li,
.cta-c006 nav.bg-dark li,
.cta-c006 footer.bg-dark li,
.cta-c006 .bg-primary li {
    color: #fefefe;
}

@media all and (max-width: 767px) {
   .cta-c006  section {
        padding: 80px 0;
    }
}

.cta-c006 .overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #292929;
    opacity: 0.3;
    z-index: 2;
}

.cta-c006 .overlay-heavy:before {
    opacity: .6;
}

.cta-c006 .bg-light.overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    opacity: 0.1;
    z-index: 2;
}

.cta-c006 .image-bg h1,
.cta-c006 .image-bg h2,
.cta-c006 .image-bg h3,
.cta-c006 .image-bg h4,
.cta-c006 .image-bg h5,
.cta-c006 .image-bg h6 {
    color: #ffffff;
}

.cta-c006 .image-bg p,
.cta-c006 .image-bg span,
.cta-c006 .image-bg li {
    color: #ffffff;
}

.cta-c006 .image-bg .container,
.cta-c006 .image-bg div[class*='col-'] {
    position: relative;
    z-index: 3;
}

.cta-c006 .container.image-bg .row {
    position: relative;
    z-index: 3;
}

.cta-c006 .background-image-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #292929;
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
}

.cta-c006 .background-image-holder img {
    display: none;
}

.cta-c006 .background-multiply .background-image-holder {
    background-color: #47b475 !important;
    background-blend-mode: multiply;
}

.cta-c006 .background-image-holder.fadeIn {
    opacity: 1;
}

.cta-c006 .parallax>.background-image-holder,
.cta-c006 .parallax .slides li>.background-image-holder {
    height: 100vh;
    top: -50vh;
    transition: all 0s ease !important;
    transition: opacity 0.3s ease !important;
    -webkit-transform-style: preserve-3d;
}

.cta-c006 .parallax:first-child .slides li>.background-image-holder,
.cta-c006 .parallax:first-child .background-image-holder {
    top: 0;
}

.cta-c006 .main-container>a:first-child+.parallax .background-image-holder {
    top: 0;
}

@media all and (max-width: 767px) {
    .cta-c006 .parallax>.background-image-holder,
    .cta-c006 .parallax .slides li>.background-image-holder {
        top: 0 !important;
        transform: none !important;
        -webkit-transform: none !important;
    }
}



.cta-c006 .btn {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
}

.cta-c006 .btn:last-child,
.cta-c006 .btn:last-of-type {
    margin-right: 0;
}

.cta-c006 .btn:hover {
    background: #47b475;
    color: #fff;
}

.cta-c006 .btn-icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
    min-width: 0;
    padding: 0;
    line-height: 38px;
}

.cta-c006 .btn-lg {
    height: 50px;
    line-height: 46px;
    min-width: 200px;
}

.cta-c006 .btn-icon.btn-lg {
    width: 50px;
    height: 50px;
    line-height: 49px;
    font-size: 24px;
    min-width: 0;
}

.cta-c006 .btn-icon.btn-sm {
    width: 30px;
    height: 30px;
    line-height: 29px;
    font-size: 13px;
    min-width: 0;
    padding: 0 0 0 1px!important;
}

.cta-c006 .btn-sm {
    height: 30px;
    font-size: 11px;
    line-height: 27px;
    min-width: 0;
}

.cta-c006 .btn-filled {
    color: #fff;
}

.cta-c006 .btn-white,
.cta-c006 .image-bg .btn,
.cta-c006 .image-bg .btn:visited {
    color: #fff;
    border-color: #fff;
}

.cta-c006 .btn-white:hover,
.cta-c006 .image-bg .btn:hover,
.cta-c006 .image-bg .btn:visited:hover {
    background: #fff;
    color: #222;
}


.cta-c006 .image-bg .btn-filled:hover {
    border-color: #fff;
}

.cta-c006 .btn-rounded {
    border-radius: 25px;
}

.cta-c006 body.btn-rounded .btn {
    border-radius: 25px !important;
}

.cta-c006 .bg-light .btn {
    border-color: #222;
    color: #222;
}

.cta-c006 .bg-light .btn:visited,
.cta-c006 .bg-light .btn:visited:hover {
    color: #222;
}

.cta-c006 .bg-light .btn-filled,
.cta-c006 .bg-light .btn-filled:visited {
    color: #fff;
}

.cta-c006 .btn:visited {
    color: #47b475;
}

.cta-c006 .btn-white:visited,
.cta-c006 .btn:visited:hover {
    color: #fff;
}

.cta-c006 .btn-white:visited:hover {
    color: #222;
}

.cta-c006 .btn-filled:visited {
    color: #fff;
}

.cta-c006 .btn.bg-dark {
    color: #fff;
    border-color: #292929;
}

.cta-c006 .btn.bg-dark:hover {
    background: #434343;
}

.cta-c006 .bg-primary .btn {
    color: #fff;
    border-color: #fff;
}

.cta-c006 .bg-primary .btn:hover {
    background: #fff;
    color: #47b475;
}


.cta-c006 .mr0 {
    margin-right: 0;
}

.cta-c006 .mb0 {
    margin-bottom: 0 !important;
}

.cta-c006 .mb8 {
    margin-bottom: 8px;
}

.cta-c006 .mb16 {
    margin-bottom: 16px;
}

.cta-c006 .mb24 {
    margin-bottom: 24px;
}

.cta-c006 .mb30 {
    margin-bottom: 30px;
}

.cta-c006 .mb32 {
    margin-bottom: 32px;
}

.cta-c006 .mb40 {
    margin-bottom: 40px;
}

.cta-c006 .mb48 {
    margin-bottom: 48px;
}

.cta-c006 .mb56 {
    margin-bottom: 56px;
}

.cta-c006 .mb64 {
    margin-bottom: 64px;
}

.cta-c006 .mb72 {
    margin-bottom: 72px;
}

.cta-c006 .mb80 {
    margin-bottom: 80px;
}

.cta-c006 .mb88 {
    margin-bottom: 88px;
}

.cta-c006 .mb96 {
    margin-bottom: 96px;
}

.cta-c006 .mb104 {
    margin-bottom: 104px;
}

.cta-c006 .mb112 {
    margin-bottom: 112px;
}

.cta-c006 .mb120 {
    margin-bottom: 120px;
}

.cta-c006 .mb160 {
    margin-bottom: 160px;
}

.cta-c006 .mt0 {
    margin-top: 0 !important;
}

.cta-c006 .mt8 {
    margin-top: 8px;
}

.cta-c006 .mt16 {
    margin-top: 16px;
}

.cta-c006 .mt24 {
    margin-top: 24px;
}

.cta-c006 .mt32 {
    margin-top: 32px;
}

.cta-c006 .mt40 {
    margin-top: 40px;
}

.cta-c006 .mt48 {
    margin-top: 48px;
}

.cta-c006 .mt56 {
    margin-top: 56px;
}

.cta-c006 .mt64 {
    margin-top: 64px;
}

.cta-c006 .mt72 {
    margin-top: 72px;
}

.cta-c006 .mt80 {
    margin-top: 80px;
}

.cta-c006 .mt88 {
    margin-top: 88px;
}

.cta-c006 .mt96 {
    margin-top: 96px;
}

.cta-c006 .mt104 {
    margin-top: 104px;
}

.cta-c006 .mt112 {
    margin-top: 112px;
}

.cta-c006 .mt120 {
    margin-top: 120px;
}

.cta-c006 .mt160 {
    margin-top: 160px;
}

.cta-c006 .p32 {
    padding: 0 32px;
}

.cta-c006 .p24 {
    padding: 24px;
}

.cta-c006 .p0 {
    padding: 0;
}

.cta-c006 .pt0 {
    padding-top: 0;
}

.cta-c006 .pt8 {
    padding-top: 8px;
}

.cta-c006 .pt16 {
    padding-top: 16px;
}

.cta-c006 .pt24 {
    padding-top: 24px;
}

.cta-c006 .pt32 {
    padding-top: 32px;
}

.cta-c006 .pt40 {
    padding-top: 40px;
}

.cta-c006 .pt48 {
    padding-top: 48px;
}

.cta-c006 .pt64 {
    padding-top: 64px;
}

.cta-c006 .pt72 {
    padding-top: 72px;
}

.cta-c006 .pt80 {
    padding-top: 80px;
}

.cta-c006 .pt88 {
    padding-top: 88px;
}

.cta-c006 .pt96 {
    padding-top: 96px;
}

.cta-c006 .pt104 {
    padding-top: 104px;
}

.cta-c006 .pt112 {
    padding-top: 112px;
}

.cta-c006 .pt120 {
    padding-top: 120px;
}

.cta-c006 .pt160 {
    padding-top: 160px;
}

.cta-c006 .pt180 {
    padding-top: 180px;
}

.cta-c006 .pt240 {
    padding-top: 240px;
}

.cta-c006 .pb0 {
    padding-bottom: 0;
}

.cta-c006 .pb8 {
    padding-bottom: 8px;
}

.cta-c006 .pb16 {
    padding-bottom: 16px;
}

.cta-c006 .pb24 {
    padding-bottom: 24px;
}

.cta-c006 .pb32 {
    padding-bottom: 32px;
}

.cta-c006 .pb40 {
    padding-bottom: 40px;
}

.cta-c006 .pb48 {
    padding-bottom: 48px;
}

.cta-c006 .pb56 {
    padding-bottom: 56px;
}

.cta-c006 .pb64 {
    padding-bottom: 64px;
}

.cta-c006 .pb72 {
    padding-bottom: 72px;
}

.cta-c006 .pb80 {
    padding-bottom: 80px;
}

.cta-c006 .pb88 {
    padding-bottom: 88px;
}

.cta-c006 .pb96 {
    padding-bottom: 96px;
}

.cta-c006 .pb104 {
    padding-bottom: 104px;
}

.cta-c006 .pb112 {
    padding-bottom: 112px;
}

.cta-c006 .pb120 {
    padding-bottom: 120px;
}

.cta-c006 .pb160 {
    padding-bottom: 160px;
}

.cta-c006 .pb180 {
    padding-bottom: 180px;
}

.cta-c006 .pb240 {
    padding-bottom: 240px;
}

@media all and (max-width: 990px) {
    .cta-c006 .mb-s-0 {
        margin-bottom: 0;
    }
    .cta-c006 .mb-s-8 {
        margin-bottom: 8px;
    }
    .cta-c006 .mb-s-16 {
        margin-bottom: 16px;
    }
    .cta-c006 .mb-s-24 {
        margin-bottom: 24px;
    }
    .cta-c006 .mb-s-32 {
        margin-bottom: 32px;
    }
    .cta-c006 .mb-s-40 {
        margin-bottom: 40px;
    }
    .cta-c006 .mb-s-48 {
        margin-bottom: 48px;
    }
    .cta-c006 .mb-s-64 {
        margin-bottom: 64px;
    }
    .cta-c006 .mb-s-72 {
        margin-bottom: 72px;
    }
    .cta-c006 .mb-s-80 {
        margin-bottom: 80px;
    }
    .cta-c006 .mb-s-88 {
        margin-bottom: 88px;
    }
    .cta-c006 .mb-s-96 {
        margin-bottom: 96px;
    }
    .cta-c006 .mb-s-104 {
        margin-bottom: 104px;
    }
    .cta-c006 .mb-s-112 {
        margin-bottom: 112px;
    }
    .cta-c006 .mb-s-120 {
        margin-bottom: 120px;
    }
}

@media all and (max-width: 990px) {
    .cta-c006 .mb-sm-0 {
        margin-bottom: 0;
    }
    .cta-c006 .mb-sm-8 {
        margin-bottom: 8px;
    }
    .cta-c006 .mb-sm-16 {
        margin-bottom: 16px;
    }
    .cta-c006 .mb-sm-24 {
        margin-bottom: 24px;
    }
    .cta-c006 .mb-sm-32 {
        margin-bottom: 32px;
    }
    .cta-c006 .mb-sm-40 {
        margin-bottom: 40px;
    }
    .cta-c006 .mb-sm-48 {
        margin-bottom: 48px;
    }
    .cta-c006 .mb-sm-64 {
        margin-bottom: 64px;
    }
    .cta-c006 .mb-sm-72 {
        margin-bottom: 72px;
    }
    .cta-c006 .mb-sm-80 {
        margin-bottom: 80px;
    }
    .cta-c006 .mb-sm-88 {
        margin-bottom: 88px;
    }
    .cta-c006 .mb-sm-96 {
        margin-bottom: 96px;
    }
    .cta-c006 .mb-sm-104 {
        margin-bottom: 104px;
    }
    .cta-c006 .mb-sm-112 {
        margin-bottom: 112px;
    }
    .cta-c006 .mb-sm-120 {
        margin-bottom: 120px;
    }
    .cta-c006 .mt-sm-0 {
        margin-top: 0 !important;
    }
    .cta-c006 .mt-sm-8 {
        margin-top: 8px;
    }
    .cta-c006 .mt-sm-16 {
        margin-top: 16px;
    }
    .cta-c006 .mt-sm-24 {
        margin-top: 24px;
    }
    .cta-c006 .mt-sm-32 {
        margin-top: 32px;
    }
    .cta-c006 .mt-sm-40 {
        margin-top: 40px;
    }
    .cta-c006 .mt-sm-48 {
        margin-top: 48px;
    }
    .cta-c006 .mt-sm-56 {
        margin-top: 56px;
    }
    .cta-c006 .mt-sm-64 {
        margin-top: 64px;
    }
    .cta-c006 .mt-sm-72 {
        margin-top: 72px;
    }
    .cta-c006 .mt-sm-80 {
        margin-top: 80px;
    }
    .cta-c006 .mt-sm-88 {
        margin-top: 88px;
    }
    .cta-c006 .mt-sm-96 {
        margin-top: 96px;
    }
    .cta-c006 .mt-sm-104 {
        margin-top: 104px;
    }
    .cta-c006 .mt-sm-112 {
        margin-top: 112px;
    }
    .cta-c006 .mt-sm-120 {
        margin-top: 120px;
    }
    .cta-c006 .p0-sm {
        padding: 0;
    }
    .cta-c006 .pt-sm-0 {
        padding-top: 0;
    }
    .cta-c006 .pt-sm-8 {
        padding-top: 8px;
    }
    .cta-c006 .pt-sm-16 {
        padding-top: 16px;
    }
    .cta-c006 .pt-sm-24 {
        padding-top: 24px;
    }
    .cta-c006 .pt-sm-32 {
        padding-top: 32px;
    }
    .cta-c006 .pt-sm-40 {
        padding-top: 40px;
    }
    .cta-c006 .pt-sm-48 {
        padding-top: 48px;
    }
    .cta-c006 .pt-sm-64 {
        padding-top: 64px;
    }
    .cta-c006 .pt-sm-72 {
        padding-top: 72px;
    }
    .cta-c006 .pt-sm-80 {
        padding-top: 80px;
    }
    .cta-c006 .pt-sm-88 {
        padding-top: 88px;
    }
    .cta-c006 .pt-sm-96 {
        padding-top: 96px;
    }
    .cta-c006 .pt-sm-104 {
        padding-top: 104px;
    }
    .cta-c006 .pt-sm-112 {
        padding-top: 112px;
    }
    .cta-c006 .pt-sm-120 {
        padding-top: 120px;
    }
    .cta-c006 .pt-sm-160 {
        padding-top: 160px;
    }
    .cta-c006 .pb-sm-0 {
        padding-bottom: 0;
    }
    .cta-c006 .pb-sm-8 {
        padding-bottom: 8px;
    }
    .cta-c006 .pb-sm-16 {
        padding-bottom: 16px;
    }
    .cta-c006 .pb-sm-24 {
        padding-bottom: 24px;
    }
    .cta-c006 .pb-sm-32 {
        padding-bottom: 32px;
    }
    .cta-c006 .pb-sm-40 {
        padding-bottom: 40px;
    }
    .cta-c006 .pb-sm-48 {
        padding-bottom: 48px;
    }
    .cta-c006 .pb-sm-64 {
        padding-bottom: 64px;
    }
    .cta-c006 .pb-sm-72 {
        padding-bottom: 72px;
    }
    .cta-c006 .pb-sm-80 {
        padding-bottom: 80px;
    }
    .cta-c006 .pb-sm-88 {
        padding-bottom: 88px;
    }
    .cta-c006 .pb-sm-96 {
        padding-bottom: 96px;
    }
    .cta-c006 .pb-sm-104 {
        padding-bottom: 104px;
    }
    .cta-c006 .pb-sm-112 {
        padding-bottom: 112px;
    }
    .cta-c006 .pb-sm-120 {
        padding-bottom: 120px;
    }
}

@media all and (max-width: 767px) {
    .cta-c006 .mb-xs-0 {
        margin-bottom: 0;
    }
    .cta-c006 .mb-xs-8 {
        margin-bottom: 8px;
    }
    .cta-c006 .mb-xs-16 {
        margin-bottom: 16px;
    }
    .cta-c006 .mb-xs-24 {
        margin-bottom: 24px;
    }
    .cta-c006 .mb-xs-32 {
        margin-bottom: 32px;
    }
    .cta-c006 .mb-xs-40 {
        margin-bottom: 40px;
    }
    .cta-c006 .mb-xs-48 {
        margin-bottom: 48px;
    }
    .cta-c006 .mb-xs-64 {
        margin-bottom: 64px;
    }
    .cta-c006 .mb-xs-72 {
        margin-bottom: 72px;
    }
    .cta-c006 .mb-xs-80 {
        margin-bottom: 80px;
    }
    .cta-c006 .mb-xs-88 {
        margin-bottom: 88px;
    }
    .cta-c006 .mb-xs-96 {
        margin-bottom: 96px;
    }
    .cta-c006 .mb-xs-104 {
        margin-bottom: 104px;
    }
    .cta-c006 .mb-xs-112 {
        margin-bottom: 112px;
    }
    .cta-c006 .mb-xs-120 {
        margin-bottom: 120px;
    }
    .cta-c006 .mt-xs-0 {
        margin-top: 0 !important;
    }
    .cta-c006 .mt-xs-8 {
        margin-top: 8px;
    }
    .cta-c006 .mt-xs-16 {
        margin-top: 16px;
    }
    .cta-c006 .mt-xs-24 {
        margin-top: 24px;
    }
    .cta-c006 .mt-xs-32 {
        margin-top: 32px;
    }
    .cta-c006 .mt-xs-40 {
        margin-top: 40px;
    }
    .cta-c006 .mt-xs-48 {
        margin-top: 48px;
    }
    .cta-c006 .mt-xs-56 {
        margin-top: 56px;
    }
    .cta-c006 .mt-xs-64 {
        margin-top: 64px;
    }
    .cta-c006 .mt-xs-72 {
        margin-top: 72px;
    }
    .cta-c006 .mt-xs-80 {
        margin-top: 80px;
    }
    .cta-c006 .mt-xs-88 {
        margin-top: 88px;
    }
    .cta-c006 .mt-xs-96 {
        margin-top: 96px;
    }
    .cta-c006 .mt-xs-104 {
        margin-top: 104px;
    }
    .cta-c006 .mt-xs-112 {
        margin-top: 112px;
    }
    .cta-c006 .mt-xs-120 {
        margin-top: 120px;
    }
    .cta-c006 .p0-xs {
        padding: 0;
    }
    .cta-c006 .pt-xs-0 {
        padding-top: 0;
    }
    .cta-c006 .pt-xs-8 {
        padding-top: 8px;
    }
    .cta-c006 .pt-xs-16 {
        padding-top: 16px;
    }
    .cta-c006 .pt-xs-24 {
        padding-top: 24px;
    }
    .cta-c006 .pt-xs-32 {
        padding-top: 32px;
    }
    .cta-c006 .pt-xs-40 {
        padding-top: 40px;
    }
    .cta-c006 .pt-xs-48 {
        padding-top: 48px;
    }
    .cta-c006 .pt-xs-64 {
        padding-top: 64px;
    }
    .cta-c006 .pt-xs-72 {
        padding-top: 72px;
    }
    .cta-c006 .pt-xs-80 {
        padding-top: 80px;
    }
    .cta-c006 .pt-xs-88 {
        padding-top: 88px;
    }
    .cta-c006 .pt-xs-96 {
        padding-top: 96px;
    }
    .cta-c006 .pt-xs-104 {
        padding-top: 104px;
    }
    .cta-c006 .pt-xs-112 {
        padding-top: 112px;
    }
    .cta-c006 .pt-xs-120 {
        padding-top: 120px;
    }
    .cta-c006 .pt-xs-160 {
        padding-top: 160px;
    }
    .cta-c006 .pt-xs-180 {
        padding-top: 180px;
    }
    .cta-c006 .pt-xs-240 {
        padding-top: 240px !important;
    }
    .cta-c006 .pb-xs-0 {
        padding-bottom: 0;
    }
    .cta-c006 .pb-xs-8 {
        padding-bottom: 8px;
    }
    .cta-c006 .pb-xs-16 {
        padding-bottom: 16px;
    }
    .cta-c006 .pb-xs-24 {
        padding-bottom: 24px;
    }
    .cta-c006 .pb-xs-32 {
        padding-bottom: 32px;
    }
    .cta-c006 .pb-xs-40 {
        padding-bottom: 40px;
    }
    .cta-c006 .pb-xs-48 {
        padding-bottom: 48px;
    }
    .cta-c006 .pb-xs-64 {
        padding-bottom: 64px;
    }
    .cta-c006 .pb-xs-72 {
        padding-bottom: 72px;
    }
    .cta-c006 .pb-xs-80 {
        padding-bottom: 80px;
    }
    .cta-c006 .pb-xs-88 {
        padding-bottom: 88px;
    }
    .cta-c006 .pb-xs-96 {
        padding-bottom: 96px;
    }
    .cta-c006 .pb-xs-104 {
        padding-bottom: 104px;
    }
    .cta-c006 .pb-xs-112 {
        padding-bottom: 112px;
    }
    .cta-c006 .pb-xs-120 {
        padding-bottom: 120px;
    }
    .cta-c006 .pb-xs-180 {
        padding-bottom: 180px;
    }
    .cta-c006 .pb-xs-240 {
        padding-bottom: 240px !important;
    }
}