        .aba-a005 {
            color: #666;
        }
        
        .aba-a005 .tabs {
            overflow: hidden;
        }
        
        .aba-a005 .button-tabs .tabs {
            display: inline-block;
            overflow: hidden;
        }
        
        .aba-a005 .tabbed-content .content>li {
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            display: none;
        }
        
        .aba-a005 .tabbed-content .content .active {
            opacity: 1;
            visibility: visible;
            display: block;
        }
        
        .aba-a005 .text-left {
            text-align: left;
        }
        
        .aba-a005 .overflow-hidden {
            overflow: hidden;
        }
        
        .aba-a005 .text-description {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 13px;
            line-height: 24px;
            overflow-x: hidden;
        }
        
        .aba-a005 img {
            width: 120px;
            height: 120px;
        }
        
        .aba-a005 .tabs li {
            display: inline-block;
            cursor: pointer;
        }
        
        .aba-a005 .tabs.thirds li {
            width: 33.33%;
        }
        
        .aba-a005 .button-tabs .tabs>li {
            margin-bottom: 8px;
            float: left;
        }
        
        .aba-a005 .button-tabs .tabs>li:last-child {
            margin-right: 0px;
        }
        
        .aba-a005 .button-tabs .tab-title {
            padding: 13px;
            display: inline-block;
            text-align: center;
            min-width: 150px;
            background: #f5f5f5;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
        }
        
        .aba-a005 .tabs.thirds .tab-title {
            width: 100%;
        }
        
        .aba-a005 .cont-abas-text-title>h1 {
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 2px;
        }
        
        @media all and (max-width: 768px) {
            .aba-a005 .tabs.thirds li {
                width: 100%;
                display: block;
            }
            .aba-a005 .button-tabs .tabs {
                padding: 0;
            }
            .aba-a005 ul.content {
                padding: 0;
            }
        }