<footer id="footer" class="footer-background">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <div class="cont-logo-footer">
                        <img data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=23795" alt="">
                    </div>
                </div>
                <div class="center-block cont-social text-center color-default" data-social="true" data-social-content="#">
                    <a target="_blank" href="#icon-link#"><i class="#icon-class#" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-6 cont-links-footer text-center color-default">
                <ul>
                    <li><a href="" data-link="true"> Link um</a></li><span>/</span>
                    <li><a href="" data-link="true"> Link um</a></li><span>/</span>
                    <li><a href="" data-link="true"> Link um</a></li><span>/</span>
                    <li><a href="" data-link="true"> Link um</a></li><span>/</span>
                    <li><a href="" data-link="true"> Link um</a></li><span>/</span>
                    <li><a href="" data-link="true"> Link um</a></li>
                </ul>
            </div>
            <div class="col-md-3 cont-info">
                <div class="cont-bootom-footer text-left txt-center color-default">
                    <p><i data-icon="true" class="fa fa-envelope-o"></i><span data-editable="true">email@email.com</span></p>
                    <p><i data-icon="true" class="fa fa-phone"></i><span data-editable="true">011-0000-0000</span></p>
                    <p><i data-icon="true" class="fa fa-map-signs"></i><span data-editable="true">Endereço: Rua lorem, 1900</span></p>
                </div>
            </div>
        </div>
    </div>
</footer>