<section class="x_component_brands_cod_316 pad-default-elements">
    <div class="container brands-top">
        <h1 data-editable="true" class="brands-module-title">Car Manufacturers</h1>
        <div class="row text-xs-center contact-info">
            <div class="col-sm-2 col-xs-6">
                <ul class="list-items color-default">
                    <li>
                        <div data-editable="true">
                            Acura
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Romeo
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Audi
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            BMW
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Buick
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            illac
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            erham
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            rolet
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-sm-2 col-xs-6">
                <ul class="list-items color-default">
                    <li>
                        <div data-editable="true">
                            SLER
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            ROEN
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            ODGE
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            RARI
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            FIAT
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            FORD
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            GMC
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            ONDA
                        </div>
                    </li>

                </ul>
            </div>

            <div class="col-sm-2 col-xs-6">
                <ul class="list-items color-default">
                    <li>
                        <div data-editable="true">
                            HUMMER
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            HYUNDAI
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            INFINITI
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            JAGUAR
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            JEEP
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            LANCIA
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            LAND ROVER
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            LEXUS
                        </div>
                    </li>

                </ul>
            </div>

            <div class="col-sm-2 col-xs-6">
                <ul class="list-items color-default">
                    <li>
                        <div data-editable="true">
                            OPEL
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            PEUGEOT
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            PLYMOUTH
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            PONTIAC
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            PORSCHE
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            RENAULT
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            ROVER
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            SAAB
                        </div>
                    </li>

                </ul>
            </div>

            <div class="col-sm-2 col-xs-6">
                <ul class="list-items color-default">
                    <li>
                        <div data-editable="true">
                            SATURN
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            SCION
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            SEAT
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            SKODA
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            SMART
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            SSANGYONG
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            SUBARU
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            SUZUKI
                        </div>
                    </li>

                </ul>
            </div>

            <div class="col-sm-2 col-xs-6">
                <ul class="list-items color-default">
                    <li>
                        <div data-editable="true">
                            TOYOTA
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            VOLKSWAGEN
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            VOLVO
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</section>