.component_text_013 {
    font-family: 'Roboto Slab', serif;
    background: #363C3F;
    color: #FFFFFF;
}

.component_text_013 .item-content {
    padding: 28px;
}

.component_text_013 .moto-widget-line {
    height: 100px;
    color: #737779;
    width: 0;
    display: block;
    border-left: 1px solid #737779;
    margin-top: 50px;
}

.component_text_013 .item-content .text-image-module-title {
    font-weight: 400;
    font-size: 70px;
    line-height: 1.3;
    letter-spacing: 1px;
}

.component_text_013 .item-content>hr {
    width: 60%;
    border-top: 1px solid #737779;
    margin-top: 50px;
    margin-bottom: 50px;
}

.component_text_013 .item-text>h2 {
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 50px;
}

.component_text_013 .item-text>p {
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 50px;
}

.component_text_013 .item-content a {
    font-size: 25px;
}

.component_text_013 .item-content a:hover,
.component_text_013 .item-content a :focus {
    text-decoration: none;
    transition: .5s;
}

@media screen and (max-width: 1039px) {
    .component_text_013 .moto-widget-line {
        height: 60px;
        margin-top: 20px;
    }
    .component_text_013 .item-content>hr {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .component_text_013 .item-content .text-image-module-title {
        font-size: 39px;
    }
    .component_text_013 .item-text>p {
        font-size: 17px;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    .component_text_013 .item-content a {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .component_text_013 .moto-widget-line {
        height: 60px;
        margin-top: 20px;
    }
    .component_text_013 .item-content>hr {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .component_text_013 .item-content .text-image-module-title {
        font-size: 50px;
    }
    .component_text_013 .item-text {
        font-size: 24px;
        line-height: 1;
        margin-bottom: 20px;
    }
}