.service-s001 .main_title {
    font-family: "Oswald";
    font-size: 44px;
    margin-top: 30px;
    text-align: center;
    line-height: 65px;
    text-transform: uppercase;
    color: #2b2b2b;
}

.service-s001 .desc_tite p,
.service-s001 small {
    font-family: "Oswald";
    font-size: 18px;
    color: #777;
    text-align: center;
    text-transform: none;
    font-weight: 200;
}

.service-s001 .hr-sm {
    background: #dee1e4;
    width: 70px;
    height: 3px;
    margin: 15px auto;
    border: none;
}

.service-s001 .box {
    border-radius: 3px;
    padding: 38px 30px;
    text-align: right;
    display: block;
    cursor: pointer;
}

.service-s001 .box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.service-s001 .info h4 {
    font-family: Oswald;
    color: #555454;
    font-size: 22px;
    margin: 0px;
    padding: 28px 0px;
    text-transform: uppercase;
}

.service-s001 .info>p {
    color: #717171;
    font-size: 16px;
    text-align: center;
}


.service-s001 .box:hover>.box-icon {
    background-color: #fff;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
}
.service-s001 .cont-icon i{
  font-size:4em;
  color: #fff;
}

.service-s001 .box-icon {
    border-radius: 50% !important;
    display: table;
    height: 120px;
    margin: 0 auto;
    width: 120px;
}