<section class="buscador-b008" page-id="#pageId#">
    <div class="no-padding">
        <div class="item active">
            <div class="col-md-push-6 col-md-offset-0 col-md-4 col-md-offset-2 col-sm-6 request-quote-box">
                <div class="request-quote">
                    <h1 class="quote-title" data-editable="true">Encontre seu Veículo</h1>
                    <div class="quote-subtitle" data-editable="true">Personalize sua busca utilizando nosso buscador.</div>
                    <div class="row">
                        <div class="col-md-12">
                            <select name="marcas" class="selectpicker">
                                <option value="#marcaId#">#marca#</option>
                                <optgroup label="Selecione a Marca"></optgroup>
                             </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <select name="modelos" class="selectpicker">
                                <option value=""> Modelo</option>
                                <optgroup label="selecione o modelo"></optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <select name="ano_de" class="selectpicker">
                                <option value=""> Ano</option>
                                <optgroup label="menor ano"></optgroup>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select name="ano_ate" class="selectpicker">
                                <option value=""> Até</option>
                                <optgroup label="maior ano"></optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <select name="preco_de" class="selectpicker">
                                <option value=""> De</option>
                                <optgroup label="menor preço"></optgroup>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select name="preco_ate" class="selectpicker">
                                <option value=""> Até</option>
                                <optgroup label="maior preço"></optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn quote-req-btn btn-color layout-btn" id="enviarBuscador">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>