.x_component_footer_cod_097 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 30px 0 0 0;
    color: #ffffff;
}

.x_component_footer_cod_097 .footer-top {
    padding-bottom: 30px;
}

.x_component_footer_cod_097 .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.x_component_footer_cod_097 .footer-module-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 35px;
    position: relative;

}

.x_component_footer_cod_097 .footer-module-title:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 36px;
    height: 0;
    border-bottom: 2.5px solid #cacaca;
}

.x_component_footer_cod_097 .about-description {
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
}

.x_component_footer_cod_097 .footer-social li {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    position: relative;
    margin-right: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/*
.x_component_footer_cod_097 .footer-social li:hover,
.x_component_footer_cod_097 .footer-social li:focus {
    background: #FFFFFF;
}*/

.x_component_footer_cod_097 .footer-social li a i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_097 .footer-menu li>div>a {
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_097 .contact-info {
    margin-left: -10px;
}

.x_component_footer_cod_097 .contact-info li {
    position: relative;
}

.x_component_footer_cod_097 .contact-info li div {
    display: inline-block;
    min-height: 45px;
    margin-left: 10px;
    line-height: 45px;
    max-width: 170px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.x_component_footer_cod_097 .contact-info li div i {
    font-size: 25px;
}

.x_component_footer_cod_097 .contact-info li div a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_097 .contact-info li div a:hover,
.x_component_footer_cod_097 .contact-info li div a:focus {
    text-decoration: none;
}

.x_component_footer_cod_097 .contact-info li .icone-data {
    margin-left: 55px;
    font-weight: 400;
}

.x_component_footer_cod_097 .contact-info li .icone-container {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
    min-height: 45px;
}

.x_component_footer_cod_097 .contact-info li .icone-data-last {
    line-height: 20px;
    font-weight: 400;
}

.x_component_footer_cod_097 .newsletter .newsletter-submit label {
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    line-height: 35px;
    text-transform: uppercase;
}

.x_component_footer_cod_097 .newsletter .newsletter-submit input {
    width: 60%;
    height: 50px;
    color: #757a82;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
}

.x_component_footer_cod_097 .newsletter .newsletter-submit a {
    width: 35%;
    display: inline-block;
    margin-left: -5px;
    height: 50px;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    line-height: 40px;
    position: relative;
    z-index: 1;
    opacity: 0.7;
}

.x_component_footer_cod_097 .newsletter .newsletter-submit .form-group {
    width: 100%;
}

.x_component_footer_cod_097 .copyright {
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.5;
    padding: 20px 0;
}

.x_component_footer_cod_097 .copyright a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_097 .copyright a:hover,
.x_component_footer_cod_097 .copyright a:focus {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .x_component_footer_cod_097 .newsletter .newsletter-submit a {
        margin-left: 0;
        margin-top: 5px;
    }
}