<section class="text_block_old_mod_003 pad-default-elements">
    <article class="container">
        <div class="row">
            <div class="col-md-5 cont-img"><img src="assets/img/destaque.jpg" alt="" data-image="true"> </div>
            <div class="col-md-7">
                <h2 data-editable="true">Sobre a <b>Empresa</b></h2>
                <div data-editable="true"> This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                    a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas
                    quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</div>
                <div data-editable="true"> <a href="javascript:void(0);" class="btn btn_black">Saiba mais ...</a></div>
            </div>
        </div>
    </article>
</section>