.x_component_footer_cod_104 {
    background: #4B4C53;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 60px 0 0 0;
    color: #87D76B;
}

.x_component_footer_cod_104 .inline-block {
    display: inline-block;
}

.x_component_footer_cod_104 .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.x_component_footer_cod_104 .footer-module-title {
    font-size: 26px;
    font-weight: 700;
    font-weight: bold;
    margin-bottom: 35px;
}

.x_component_footer_cod_104 .footer-menu>li>div>a {
    text-decoration: none;
    line-height: 40px;
    font-weight: 300;
    font-size: 16px;
}

.x_component_footer_cod_104 .footer-menu>li>div>a:hover,
.x_component_footer_cod_104 .footer-menu>li>div>a:focus {
    text-decoration: none;
}

.x_component_footer_cod_104 .footer-menu li.active div a {
    text-decoration: none;
}

.x_component_footer_cod_104 .footer-social li,
.x_component_footer_cod_104 .contact-info li {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
}

.x_component_footer_cod_104 .footer-social li i,
.x_component_footer_cod_104 .contact-info li i {
    width: 15px;
    font-size: 16px;
    text-align: center;
}

.x_component_footer_cod_104 .footer-social li>div>a,
.x_component_footer_cod_104 .contact-info li>div>a {
    text-decoration: none;
}

.x_component_footer_cod_104 .footer-social li>div>a:hover,
.x_component_footer_cod_104 .contact-info li>div>a:hover {
    text-decoration: none;
}

.x_component_footer_cod_104 .footer-social li i {
    margin-right: 20px;
    font-size: 20px;
}

.x_component_footer_cod_104 .footer-social>li>*:not(i),
.x_component_footer_cod_104 .contact-info>li>*:not(i) {
    display: inline-block;
    line-height: 35px;
    margin-left: 20px;
    text-decoration: none;
}

.x_component_footer_cod_104 .about p {
    font-size: 16px;
    line-height: 20px;
}

.x_component_footer_cod_104 .copyright {
    padding: 20px 0;
    margin-top: 50px;
    background: #2B2C30;
    font-size: 19px;
    font-weight: 700;
}

.x_component_footer_cod_104 .copyright img {
    margin-right: 30px;
}

.x_component_footer_cod_104 .copyright div>p {
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 0;
}

.x_component_footer_cod_104 .copyright a {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
}

.x_component_footer_cod_104 .copyright a:hover,
.x_component_footer_cod_104 .copyright a:focus {
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .x_component_footer_cod_104 .sm-height {
        min-height: 340px;
    }
}

@media screen and (max-width: 768px) {
    .x_component_footer_cod_104 .text-xs-center {
        text-align: center;
    }
}