.x_component_search_cod_062 {
  background: #232A33;
  font-family: 'Roboto', sans-serif;
  padding: 60px 0;
  color: #ffffff;
  background-size: cover;
}
.x_component_search_cod_062 form {
  color: #ffffff;
}
.x_component_search_cod_062 form .title {
  font-size: 58px;
  font-weight: 300;
  margin: 0 0 13px 0;
  text-align: center;
}
.x_component_search_cod_062 form .subtitle {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}
.x_component_search_cod_062 form .filter-body {
  position: relative;
  background: #ffffff;
  max-width: 863px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  padding: 50px 25px 140px 25px;
  color: #333333;
  box-shadow: 0 1px 5px 0 rgba(41, 85, 115, .21);
  border-bottom: 1px solid #eff1f2;
}
.x_component_search_cod_062 form .filter-body .top-filter-row {
  margin-bottom: 3px;
}
.x_component_search_cod_062 form .filter-body .top-filter-row .radio-inline label {
  font-weight: 400!important;
}
.x_component_search_cod_062 form .filter-body .top-filter-row > div,
.x_component_search_cod_062 form .filter-body .top-filter-row > label {
  display: inline-block;
  font-weight: 400!important;
}
.x_component_search_cod_062 form .filter-body .top-filter-row > label {
  font-size: 14px;
  margin: 0 29px 0 0;
  min-width: 100px;
  text-align: right;
}
.x_component_search_cod_062 form .filter-body .top-filter-row select,
.x_component_search_cod_062 form .filter-body .top-filter-row .select-range {
  width: 240px;
  height: 43px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.x_component_search_cod_062 form .filter-body .top-filter-row .selector {
  position: relative;
}
.x_component_search_cod_062 form .filter-body .top-filter-row .selector:after {
  position: absolute;
  font-family: "FontAwesome";
  content: '\f107';
  font-size: 14px;
  border: none;
  height: 48px;
  width: 25px;
  line-height: 48px;
  right: 0;
  top: 0;
  background: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
/*.x_component_search_cod_062 form .filter-body .top-filter-row .selector:hover:after {
  color: #13A1F4;
}*/
.x_component_search_cod_062 form .price-row {
  position: relative;
}
.x_component_search_cod_062 form .price-row .price-label {
  position: absolute;
  left: 0;
  line-height: 48px;
}
.x_component_search_cod_062 form .price-row .select-range {
  position: absolute;
  right: 19px;
  padding: 0!important;
}
.x_component_search_cod_062 form .price-row .select-range input {
  height: 48px;
  border-radius: 0;
}
.x_component_search_cod_062 form #top-filter .filter-body .top-filter-row.form-group:first-child {
  margin-top: 49px;
}
.x_component_search_cod_062 form #top-filter .filter-body .top-filter-row .values-list {
  font-size: 14px;
  padding: 12px 0;
}
.x_component_search_cod_062 form #top-filter .select-range .form-group,
.x_component_search_cod_062 form #column-filter .select-range .form-group {
  float: left;
  width: 50%;
}
.x_component_search_cod_062 form #top-filter .select-range .form-group:first-child,
.x_component_search_cod_062 form #column-filter .select-range .form-group:first-child {
  padding-right: 1px;
}
.x_component_search_cod_062 form #top-filter .select-range .form-group:last-child,
.x_component_search_cod_062 form #column-filter .select-range .form-group:last-child {
  padding-left: 1px;
}
.x_component_search_cod_062 form #top-filter .select-range .form-group,
.x_component_search_cod_062 form #column-filter .select-range .form-group {
  float: left;
  width: 50%;
}
.x_component_search_cod_062 form .result {
  width: 170px;
  border-radius: 0;
  /*border: 1px solid #13A1F4;*/
  position: relative;
  background-image: none;
  border: 0;
  float: right;
  margin-right: 19px;
  margin-top: 30px;
  height: 48px;
  z-index: 3;
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.x_component_search_cod_062 form .result:after {
  position: absolute;
  content: '';
  width: 101%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translateY(-50%, -50%);
  -ms-transform: translateY(-50%, -50%);
  -o-transform: translateY(-50%, -50%);
  transform: translateY(-50%, -50%);
  /*background: #13A1F4;*/
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.x_component_search_cod_062 form .result:hover:after {
  height: 0;
}
/*.x_component_search_cod_062 form .result:hover {
  color: #13A1F4;
}*/
@media screen and (max-width: 992px) {
  .x_component_search_cod_062 form #top-filter .filter-body .top-filter-row.form-group:first-child {
    margin-top: 0;
  }
  .x_component_search_cod_062 form .price-row .select-range {
    left: 133px;
  }
  .x_component_search_cod_062 form .result {
    float: unset;
    margin-left: 133px;
    margin-top: 70px;
  }
  .x_component_search_cod_062 form .filter-content {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .x_component_search_cod_062 .title {
    font-size: 45px!important;
  }
}
@media screen and (max-width: 480px) {
  .x_component_search_cod_062 .price-row .price-label {
    position: unset!important;
  }
  .x_component_search_cod_062 .price-row .select-range {
    position: unset!important;
  }
  .x_component_search_cod_062 .price-row .select-range input {
    height: 48px;
    border-radius: 0;
  }
  .x_component_search_cod_062 .result {
    float: unset!important;
    margin-left: auto!important;
    margin-right: auto!important;
  }
  .x_component_search_cod_062 .filter-body .top-filter-row > label {
    text-align: left!important;
  }
  .x_component_search_cod_062 .title {
    font-size: 35px!important;
  }
}
