.map-m002 {
    font-size: 13px;
    line-height: 24px;
    color: #666;
}
.map-m002 .maps-area {
	height: 350px;
}
.map-m002 h1 {
    font-size: 40px;
}
.map-m002 .inline-block{
    display: inline-block;
}
   
.map-m002 .cont-text-map{
	width:100%;
	margin-top: 20px;
}

@media all and (max-width: 990px){
	.map-m002 .text-center-xs{
		text-align: center;
	}
}
