<section class="slider_010 pad-default-elements">
    <div id="myCarousel_slide10" class="carousel slide" >
        <div class="carousel-inner" role="listbox">
            <div class="item active" data-banner-template="true">
                <div class="item-text slider_010-background-triangulo-right slider_010-backgrund-cl">
                </div>
                <div class="item-text slider_010-background-triangulo-left slider_010-backgrund-cl">
                </div>
                <div class="text-cont">
                    <h1 class="titulo color-default" data-editable="true">WEBMOTORS</h1>
                    <div class="sub-titulo color-default" data-editable="true">Texto de título para unuário</div>
                </div>
                <a href="javascript:void(0);"><img src="http://placehold.it/1920x350?text=Imagem+do+banner" alt=""></a>
                <video class="video-player-no-controls video-template" muted="true" width="100%" height="100%" src=""></video>
            </div>
          
            <a class="left carousel-control" href="#myCarousel_slide10" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel_slide10" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>