        .form-seguro-003 .lightversion textarea {
            padding: 15px 10px;
            height: 140px;
        }
        
        .form-seguro-003 .seguroform {
            margin-top: 30px;
            border: 1px solid #f4f4f4;
        }
        
        .form-seguro-003 .car-table {
            margin-top: 30px;
            background-color: #f4f4f4;
            padding: 13px 20px;
            position: relative;
        }
        
        .form-seguro-003 .seguroform .car-table {
            margin-top: 0px;
        }
        
        .form-seguro-003 .seguroform .form-wrapper {
            padding: 30px;
        }
        
        .form-seguro-003 .btn {
            border-radius: 0;
            border: 0;
            text-decoration: none;
            outline: none;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        
        .form-seguro-003 .seguroform .btn {
            padding: 10px 30px;
        }
        
        .form-seguro-003 .formfields .btn-primary {
            height: 45px;
            border-radius: 0;
        }
        
        .form-seguro-003 .formfields label {
            font-size: 14px;
            font-weight: 600;
            color: #666;
            display: block;
        }
        
        .form-seguro-003 .seguroform .form-control {
            margin-bottom: 13px;
        }
        
        .form-seguro-003 .formfields .form-control,
        .form-seguro-003 .formfields .bootstrap-select>.dropdown-toggle {
            padding-right: 25px;
            width: 100%;
            z-index: 1;
            box-shadow: none;
            height: 45px;
            font-weight: 400;
            font-style: 14px;
            color: #7c7c7c;
            background: #24272b;
            border-color: #333;
            border-radius: 0;
        }
        
        .form-seguro-003 .formfields.lightversion .bootstrap-select .btn-info,
        .form-seguro-003 .lightversion .form-control {
            color: #7c7c7c;
            background: #f4f4f4;
            border-color: #f4f4f4;
            border-radius: 0;
            box-shadow: none;
            margin-bottom: 30px;
            height: 55px;
        }
        
        .form-seguro-003 .car-table p {
            margin: 0;
            padding: 0;
            font-size: 16px;
        }
        
        .form-seguro-003 .nav-pills>li.active>a,
        .form-seguro-003 .nav-pills>li.active>a:focus,
        .form-seguro-003 .nav-pills>li.active>a:hover {
            background-color: #848484;
        }
        
        .form-seguro-003 .btn.disabled,
        .form-seguro-003 .btn[disabled] {
            pointer-events: none;
            cursor: not-allowed;
        }
        
        .form-seguro-003 .nav>li>a:focus,
        .form-seguro-003 .nav>li>a:hover {
            background-color: #999;
            color: #fff;
        }
        
        .form-seguro-003 .thumbnail {
            border-radius: 0;
        }
        
        .form-seguro-003 small {
            font-size: 70%;
        }
        
      .form-seguro-003 .nav>li>a:focus,
      .form-seguro-003 .nav>li>a:hover {
          background-color: #999;
          color: #fff;
          cursor: no-drop;
      }