

.head-pai-model {
    font-size: 16px;
    color: #fff;
  width:100%;
}

.head-pai-model a {
    color: #fff;
}

.head-pai-model .navbar{
  border:0px;
  margin-bottom: 0px;
}
.head-pai-model .container-fluid{
  background-color: inherit;
}
 
.head-pai-model .navbar-default {
    background-image: none;
  background-color: inherit;

    border-color:  transparent;
}


.head-pai-model .navbar-brand>img {
    width: 340px;
    transition: all 0.5s;
}

.head-pai-model .navbar-default .navbar-toggle:focus,
.head-pai-model .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.head-pai-model.navbar-default .navbar-toggle {
    border-color: transparent;
}

.head-pai-model .navbar-toggle .icon-bar {
    width: 30px;
    margin-bottom: 6px;
    height: 4px;
}

.head-pai-model .navbar-brand {
    float: none;
    height: auto;
   /* padding: 0px;*/
    font-size: inherit;
    line-height: inherit;
   display: block;
      margin-left:15px;
}

.head-pai-model .nav.navbar-nav li>ul {
    position: absolute;
    padding-left: 15px;
    min-width: 220px;
    background-color: #ccc;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}

.head-pai-model .nav.navbar-nav li:hover ul {
    height: auto;
    transition: all 0.5s;
}

.head-pai-model .nav.navbar-nav li ul li a {
    text-decoration: none;
}

.head-pai-model .nav.navbar-nav li ul li a:hover {
    opacity: 0.5;
}

.head-pai-model .nav.navbar-nav li ul li {
    padding: 5px 0 5px 0;
}

.head-pai-model .navbar-header {
    min-height: 80px;
}


/*---- nav bar hed mobile----*/

.head-pai-model .nav.navbar-nav {
    padding-top: 20px;
    transition: all 1s;
}

.head-pai-model .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
   background-color: inherit;
}

.head-pai-model .img-logo {
    display: none;
}

.head-pai-model .redes ul,
.head-pai-model .nav.navbar-nav li {
    list-style: none;
    list-style-type: none;
}

.head-pai-model .img-logo>img.logo {
    width: 100% !important;
    transition: all 0.5s;
}

.head-pai-model.navbar-default .navbar-toggle {
    border-color: transparent;
}

.head-pai-model .nav-collapse-header {
    display: none;
}

.head-pai-model .navbar-default .navbar-toggle {
    border-color: transparent;
}

@media (min-width: 1200px) {
    .head-pai-model .navbar-nav {
        float: right;
    }
}

@media (max-width: 1200px) {
    .head-pai-model .nav-collapse-header {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        margin-top: 100px;
        overflow: hidden;
        display: block;
    }
    .head-pai-model .redes {
            width: 260px;
        overflow: hidden;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .head-pai-model .redes ul {
        padding: 0px;
    }
    .head-pai-model .redes li {
        padding: 10px;
        color: #fff;
      display: inline-block;
    }
    .head-pai-model .img-logo {
        display: block;
        margin: 0 auto;
        width:50%;
    }
    .head-pai-model .navbar-header {
        max-height: 500px;
        overflow: auto;
    }
    .head-pai-model .navbar-toggle {
        display: block;
        position: absolute;
        z-index: 999;
        left: 30px;
        top: 10px;
    }
    .head-pai-model .navbar-brand>img {
        width: 240px;
        margin: 0 auto;
        transition: all 0.5s;
    }
    .head-pai-model .navbar-brand {
        float: none;
    }
    .head-pai-model .navbar-header {
        overflow: auto;
        transition: all 0.5;
        width: 100%;
    }
    .head-pai-model .container .collapse.navbar-collapse {
        height: 300px !important;
        overflow: hidden !important;
        width: 400px;
    }
    .head-pai-model .navbar-nav li,
    .head-pai-model .navbar-nav {
        float: none;
    }
    .head-pai-model .navbar-nav {
        padding-left: 15px;
        padding-right: 15px;
    }
    .head-pai-model .navbar-collapse {
        position: absolute;
        top: 0px;
        width: 0px;
        overflow: hidden;
        transition: all 1s;
      z-index: 99;
    }
    .head-pai-model .navbar-collapse.active {
        width: 80%;
        transition: all 1s;
    }
    .head-pai-model .navbar-collapse {
        left: 0;
    }
    .head-pai-model .navbar-fixed-bottom .navbar-collapse,
    .head-pai-model .navbar-collapse {
        max-height: 500px;
        overflow: auto;
    }
    .head-pai-model .nav.navbar-nav li>ul {
        position: relative;
    }
}

@media (max-width: 768px) {
    .head-pai-model .navbar-nav {
        padding-left: 30px;
        margin: 0px;
    }
    .head-pai-model .nav-collapse-header .redes {
        padding-left: 30px;
    }
    .head-pai-model .nav-collapse-header .img-logo {
        padding-top: 10px;
        padding-bottom: 10px;
    
    }
}

@media (min-width: 768px) {
    .head-pai-model .navbar-brand img.logo {
        width: 30%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 547px) {
    .head-pai-model .nav-collapse-header .img-logo {
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .head-pai-model .navbar-header {
        width: auto;
    }
    .head-pai-model .navbar-brand img.logo {
        width: 30%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}