.form-testedrive-001 {
    margin: 50px 0;
}

.form-testedrive-001 .btn-main {
    position: relative;
    padding: 9px 25px;
    line-height: 24px;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
}

.form-testedrive-001 .default-form input[type='text'],
.form-testedrive-001 .default-form input[type='email'],
.form-testedrive-001 .default-form select,
.form-testedrive-001 .default-form textarea {
    display: block;
    width: 100%;
    line-height: 24px;
    height: 46px;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #111111;
    border-radius: 2px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.form-testedrive-001 .default-form textarea {
    height: 140px;
    resize: none;
}

.form-testedrive-001 .display-contact {
    display: inline-block;
}

.form-testedrive-001 .imageform>img {
    overflow: hidden;
}

@media all and (max-width: 990px) {
    .form-testedrive-001 .mb-xs-15 {
        margin-bottom: 15px;
    }
    .form-testedrive-001 .btn-main {
        display: block;
        width: 100%;
    }
}