<section class="service-s004 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center icon-services-004 color-defaul">
                <i class="fa fa-picture-o icon mb16 color-default" data-icon="true"></i>
                <div class="text-description" data-editable="true">Texto</div>
                <div data-editable="true">Financie a compra do seu veículo. O carro dos seus sonhos pode ser seu. A gente te ajuda a conseguir. </div>
            </div>
            <div class="col-sm-4 text-center icon-services-004 color-defaul">
                <i class="fa fa-desktop icon mb16 t" data-icon="true"></i>
                <div class="text-description" data-editable="true">Texto</div>
                <div data-editable="true">A maneira mais rápida de vender o seu carro. Velocidade e segurança na hora de negociar.</div>
            </div>
            <div class="col-sm-4 text-center icon-services-004 color-defaul">
                <i class="fa fa-bar-chart icon mb16 color-default " data-icon="true"></i>
                <div class="text-description" data-editable="true">Texto</div>
                <div data-editable="true">Agende online seu Test Drive, no horário que for mais conveniente para você.</div>
            </div>
        </div>
    </div>
</section>