<section class="x_component_services_cod_215 pad-default-element">
    <div class="container">
        <div class="row">
            <h1 data-editable="true" class="font-title title color-default">Lorem Ipsum</h1>
            <h2 data-editable="true" class="font-subtitle subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ea ratione recusandae minima adipisci vitae aspernatur qui quidem ullam necessitatibus.
            </h2>
            <div class="col-sm-6 clearfix service-box-left">
                <div class="service-box-data">
                    <h3 data-editable="true" class="font-title service-title color-default">Lorem Ipsum</h3>
                    <div data-editable="true" class="font-description service-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ea ratione recusandae minima adipisci vitae aspernatur qui quidem ullam necessitatibus.
                    </div>
                </div>
                <div class="service-box-img background-theme">
                    <i class="fa fa-car color-default" aria-hidden="true" data-icon="true"></i>
                </div>
            </div>
            <div class="col-sm-6 clearfix service-box-right">
                <div class="service-box-img background-theme">
                    <i class="fa fa-wrench color-default" aria-hidden="true" data-icon="true"></i>
                </div>
                <div class="service-box-data">
                    <h3 data-editable="true" class="font-title service-title color-default">Lorem Ipsum</h3>
                    <div data-editable="true" class="font-description service-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ea ratione recusandae minima adipisci vitae aspernatur qui quidem ullam necessitatibus.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 clearfix service-box-left">
                <div class="service-box-data">
                    <h3 data-editable="true" class="font-title service-title color-default">Lorem Ipsum</h3>
                    <div data-editable="true" class="font-description service-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ea ratione recusandae minima adipisci vitae aspernatur qui quidem ullam necessitatibus.
                    </div>
                </div>
                <div class="service-box-img background-theme">
                    <i class="fa fa-flask color-default" aria-hidden="true" data-icon="true"></i>
                </div>
            </div>
            <div class="col-sm-6 clearfix service-box-right">
                <div class="service-box-img background-theme">
                    <i class="fa fa-star-o color-default" aria-hidden="true" data-icon="true"></i>
                </div>
                <div class="service-box-data">
                    <h3 data-editable="true" class="font-title service-title color-default">Lorem Ipsum</h3>
                    <div data-editable="true" class="font-description service-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ea ratione recusandae minima adipisci vitae aspernatur qui quidem ullam necessitatibus.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>