.img-i005 .cont-text {
    padding-top: 30px;
}

@media all and (max-width: 1100px) {
    .img-i005 .col-md-push-1 {
        left: 0;
    }
}

@media all and (max-width: 768px) {
    .img-i005 .pull-left-sm {
        float: left !important;
    }
    .img-i005 .overflow-hidden-xs {
        overflow: hidden;
    }
}

@media all and (max-width: 767px) {
    .img-i005 .spread-children * {
        margin-left: 6px;
        margin-right: 6px;
    }
}

.img-i005 .v-align-children {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.img-i005 .v-align-children-column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.img-i005 .disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all and (max-width: 990px) {
    .img-i005 .v-align-children {
        display: block !important;
    }
}

.img-i005 .v-align-transform {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
}

.img-i005 .align-bottom {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

.img-i005 .align-top {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

@media all and (max-width: 767px) {
    .img-i005 .text-center-xs {
        text-align: center !important;
    }
}

.img-i005 .bold {
    font-weight: 600 !important;
}

.img-i005 .thin {
    font-weight: 100 !important;
}

@media all and (max-width: 767px) {
    .img-i005 .thin {
        font-weight: 300 !important;
    }
}

.img-i005 h1,
.img-i005 h2,
.img-i005 h3,
.img-i005 h4,
.img-i005 h5,
.img-i005 h6,
.img-i005 p,
.img-i005 ul,
.img-i005 ol,
.img-i005 pre,
.img-i005 table,
.img-i005 blockquote,
.img-i005 input,
.img-i005 button,
.img-i005 select,
.img-i005 textarea {
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
}

.img-i005 h1,
.img-i005 h2,
.img-i005 h3,
.img-i005 h4,
.img-i005 h5,
.img-i005 h6,
.img-i005 .h1,
.img-i005 .h2,
.img-i005 .h3,
.img-i005 .h4,
.img-i005 .h5,
.img-i005 .h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-i005 h1,
.img-i005 h2,
.img-i005 h3,
.img-i005 h4,
.img-i005 h5,
.img-i005 h6 {
    font-weight: 300;
    color: #292929;
}

.img-i005 h1,
.img-i005 .h1 {
    font-size: 56px;
    line-height: 64px;
}

.img-i005 h1.large {
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
}

@media all and (max-width: 990px) {
    .img-i005 h1.large {
        font-size: 56px;
        line-height: 64px;
    }
}

.img-i005 h2 {
    font-size: 40px;
    line-height: 48px;
}

.img-i005 h3 {
    font-size: 32px;
    line-height: 40px;
}

.img-i005 h4 {
    font-size: 24px;
    line-height: 32px;
}

.img-i005 h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.img-i005 h6,
.img-i005 .h6 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
}

@media all and (max-width: 767px) {
    .img-i005 h1,
    .img-i005 h1.large,
    .img-i005 .h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 300;
    }
    .img-i005 h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .img-i005 h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .img-i005 h4 {
        font-size: 18px;
        line-height: 26px;
    }
    .img-i005 h5 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .img-i005 h6,
    .img-i005 .h6 {
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
    }
}

.img-i005 .uppercase {
    font-weight: 400;
    text-transform: uppercase;
}

.img-i005 h1.uppercase {
    letter-spacing: 17px;
    margin-right: -17px;
}

.img-i005 h2.uppercase {
    letter-spacing: 10px;
    margin-right: -10px;
}

.img-i005 h3.uppercase {
    letter-spacing: 6px;
    margin-right: -6px;
}

.img-i005 h4.uppercase {
    letter-spacing: 3px;
    margin-right: -3px;
}

.img-i005 h5.uppercase {
    letter-spacing: 2px;
    margin-right: -2px;
}

.img-i005 h6.uppercase,
.img-i005 .h6-u {
    letter-spacing: 2px;
    font-weight: 700;
}

.img-i005 .bold-h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.img-i005 p,
.img-i005 span {
    font-weight: 400;
}

.img-i005 p.lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.img-i005 .sub {
    font-size: 12px;
}

@media all and (max-width: 767px) {
    .img-i005 p.lead {
        font-size: 13px;
        line-height: 24px;
    }
    .img-i005 p {
        font-size: 12px;
    }
}

.img-i005 a,
.img-i005 a:visited,
.img-i005 a:focus,
.img-i005 a:active,
.img-i005 a:hover {
    text-decoration: none;
    outline: none;
}

.img-i005 a {
    font-weight: 600;
    color: #47b475;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: poitner;
}

.img-i005 .image-bg a,
.img-i005 .bg-primary a {
    color: #fff;
}

.img-i005 .image-bg a:hover,
.img-i005 .bg-primary a:hover {
    color: #fff;
    opacity: .9;
}

.img-i005 .bg-light a {
    color: #47b475;
}

.img-i005 .bg-light a:hover {
    color: #47b475;
    opacity: 1;
}

.img-i005 a:hover {
    color: #398f5d;
    text-decoration: none;
}

.img-i005 .label {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    letter-spacing: 1px;
    background: #47b475;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 10px;
    vertical-align: middle;
}

.img-i005 blockquote {
    overflow: hidden;
    font-family: "Merriweather", "Georgia", Times New Roman, Times, serif;
    font-size: 20px;
    line-height: 40px;
    font-style: italic;
    background: #f5f5f5;
    padding: 32px;
    color: #777;
    font-weight: 300;
}

.img-i005 .bg-secondary blockquote {
    background: #fff;
    border-color: #47b475;
}

.img-i005 blockquote .author {
    font-size: 12px;
    display: block;
    float: right;
    margin-top: 16px;
}

.img-i005 .number {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-i005 .columns-2 {
    column-count: 2;
    -webkit-column-count: 2;
}

@media all and (max-width: 767px) {
    .img-i005 br {
        display: none;
    }
    .img-i005 blockquote {
        font-size: 16px;
        line-height: 32px;
    }
    .img-i005 .columns-2 {
        column-count: 1;
        -webkit-column-count: 1;
    }
}

.img-i005 .text-left {
    text-align: left !important;
}

@media all and (max-width: 767px) {
    .img-i005 .text-left-xs {
        text-align: left !important;
    }
}

.img-i005 img {
    max-width: 100%;
    height: 400px;
  	width: 100%;
    display: block;
}

.img-i005 .image-tile {
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
}

.img-i005 .image-tile img {
    width: 100%;
    display: inline-block;
}

.img-i005 .image-tile .label {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;
}

.img-i005 .inner-title:before {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(34, 34, 34, 0.9)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#292929', GradientType=0);
    pointer-events: none;
}

.img-i005 .inner-title.title-center:before {
    background: #292929;
    opacity: .4;
}

.img-i005 .inner-title:hover:before {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.img-i005 .inner-title .title {
    position: absolute;
    width: 100%;
    bottom: 24px;
    z-index: 5;
}

.img-i005 .inner-title .title h1,
.img-i005 .inner-title .title h2,
.img-i005 .inner-title .title h3,
.img-i005 .inner-title .title h4,
.img-i005 .inner-title .title h5,
.img-i005 .inner-title .title h6 {
    color: #ffffff;
}

.img-i005 .inner-title .title p,
.img-i005 .inner-title .title span,
.img-i005 .inner-title .title li {
    color: #ffffff;
}

.img-i005 .inner-title.title-center .title {
    bottom: auto;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
}

.img-i005 .inner-title .title h5 {
    font-weight: 600;
}

.img-i005 .inner-title {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
}

.img-i005 .inner-title:hover {
    opacity: .95;
}

.img-i005 .inner-title.hover-reveal:before {
    opacity: 0;
}

.img-i005 .inner-title.hover-reveal .title {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.img-i005 .inner-title.hover-reveal:hover .title {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
}

.img-i005 .inner-title.hover-reveal:hover:before {
    opacity: 1;
}

.img-i005 .outer-title img {
    display: inline-block;
    margin-bottom: 12px;
}

.img-i005 .hover-tile {
    position: relative;
    overflow: hidden;
    background: #292929;
}

.img-i005 .hover-tile img {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.img-i005 .hover-tile:hover img {
    opacity: .5;
}

.img-i005 .hover-tile .hover-state {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
    position: absolute;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
    width: 100%;
}

.img-i005 .hover-state {
    z-index: 99;
    padding: 0 40px;
    cursor: default;
}

.img-i005 .hover-state h1,
.img-i005 .hover-state h2,
.img-i005 .hover-state h3,
.img-i005 .hover-state h4,
.img-i005 .hover-state h5,
.img-i005 .hover-state h6 {
    color: #ffffff;
}

.img-i005 .hover-state p,
.img-i005 .hover-state span,
.img-i005 .hover-state li {
    color: #ffffff;
}

.img-i005 .hover-state * {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform: translate3d(0, 30px, 0) scale(1.05);
    -webkit-transform: translate3d(0, 30px, 0) scale(1.05);
}

.img-i005 .hover-tile:hover .hover-state {
    opacity: 1;
}

.img-i005 .hover-tile:hover .hover-state * {
    transform: translate3d(0, 0px, 0) scale(1);
    -webkit-transform: translate3d(0, 0px, 0) scale(1);
}

.img-i005 .hover-state *:last-child {
    margin-bottom: 0;
}

.img-i005 .border-thick {
    border: 16px solid #fff;
    border-top: none;
}

.img-i005 .border-thick.col-sm-6:first-child {
    border-right: 8px solid #fff;
}

.img-i005 .border-thick.col-sm-6:last-child {
    border-left: 8px solid #fff;
}

.img-i005 .horizontal-tile {
    overflow: hidden;
}

.img-i005 .horizontal-tile:not(:last-of-type) {
    margin-bottom: 30px;
}

.img-i005 .tile-left,
.img-i005 .tile-right {
    width: 50%;
    float: left;
    display: inline-block;
    overflow: hidden;
    min-height: 300px;
    position: relative;
}

.img-i005 .tile-right .description,
.img-i005 .tile-left .description {
    padding: 48px;
}

.img-i005 .tile-right:hover .background-image-holder,
.img-i005 .tile-left:hover .background-image-holder {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

@media all and (max-width: 767px) {
    .img-i005 .tile-left,
    .img-i005 .tile-right {
        width: 100%;
        float: none;
    }
}

.img-i005 .background-img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.img-i005 .image-square {
    height: 50vw;
    max-height: 400px;
    overflow: hidden;
    padding: 0;
}

.img-i005 .image-square .image,
.img-i005 .image-square>.content {
    position: absolute;
}

.img-i005 .image-square .image {
    height: 100%;
}

.img-i005 .image-square>.content {
    top: 20%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
}

.img-i005 .image-square.left .image {
    left: 0;
}

.img-i005 .image-square.left>.content {
    right: 0;
}

.img-i005 .image-square.right .image {
    right: 0;
}

.img-i005 .image-square.right>.content {
    left: 0;
}

@media all and (max-width: 990px) {
    .img-i005 .image-square {
        height: auto;
        max-height: 100000px;
        padding-bottom: 48px;
    }
    .img-i005 .image-square .image,
    .img-i005 .image-square>.content {
        position: relative;
    }
    .img-i005 .image-square .image {
        height: 100vw;
        margin-bottom: 48px;
        max-height: 500px;
    }
    .img-i005 .image-square>.content {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
}

@media all and (max-width: 767px) {
    .img-i005 .image-square>.content {
        padding: 0 15px;
    }
}

.img-i005 .mb0 {
    margin-bottom: 0 !important;
}