<section class="aba-a004 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbed-content button-tabs vertical">
                    <ul class="tabs">
                        <li class="active">
                            <div class="tab-title btn btn-color">
                                <div data-editable="true">Tab 1</div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title btn btn-color">
                                <div data-editable="true">Tab 2</div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title btn btn-color">
                                <div data-editable="true">Tab 3</div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title btn btn-color">
                                <div data-editable="true">Tab 4</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="content">
                        <li class="active">
                            <div class="tab-content">
                                <h1 data-editable="true">Tab 1</h1>
                                <hr>
                                <div data-editable="true" class="text-description">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                    sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-content">
                                <h1 data-editable="true">Tab 2</h1>
                                <hr>
                                <div data-editable="true" class="text-description">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                    sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-content">
                                <h1 data-editable="true">Tab 3</h1>
                                <hr>
                                <div data-editable="true" class="text-description">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                    sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-content">
                                <h1 data-editable="true">Tab 4</h1>
                                <hr>
                                <div data-editable="true" class="text-description">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                    sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>