<section class="x_component_footer_cod_097 pad-default-element">
    <div class="container footer-top">
        <div class="row">
            <div class="col-sm-6 col-md-3 sm-height">
                <h1 data-editable="true" class="footer-module-title">LOREM IPSUM</h1>


                <div data-editable="true" class="font-description about-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at atque consequatur culpa</div>
                <ul class="list-unstyled list-inline footer-social" data-social="true">
                    <li><a class="color-default-hover" target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a></li>
                </ul>
            </div>
            <hr class="visible-xs">

            <div class="col-sm-6 col-md-3 sm-height">
                <h1 data-editable="true" class="footer-module-title">LOREM IPSUM</h1>
                <div class="row no-padding">
                    <div class="col-xs-6">
                        <ul class="list-unstyled footer-menu">
                            <li>
                                <div class="color-default-hover" data-editable="true">
                                    Lorem impsum
                                </div>
                            </li>
                            <li>
                                <div class="color-default-hover" data-editable="true">
                                    Lorem impsum
                                </div>
                            </li>
                            <li>
                                <div class="color-default-hover" data-editable="true">
                                    Lorem impsum
                                </div>
                            </li>
                            <li>
                                <div class="color-default-hover" data-editable="true">
                                    Lorem impsum
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul class="list-unstyled footer-menu">
                            <li>
                                <div class="color-default-hover" data-editable="true">
                                    Lorem impsum
                                </div>
                            </li>
                            <li>
                                <div class="color-default-hover" data-editable="true">
                                    Lorem impsumy
                                </div>
                            </li>
                            <li>
                                <div class="color-default-hover" data-editable="true">
                                    Lorem impsum
                                </div>
                            </li>
                            <li>
                                <div class="color-default-hover" data-editable="true">
                                    Lorem impsum
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <hr class="visible-xs">

            <div class="col-sm-6 col-md-3 sm-height">
                <h1 data-editable="true" class="footer-module-title">   Lorem impsum</h1>
                <ul class="list-unstyled contact-info">
                    <li class="text-lowercase">
                        <div class="icone-container"><i data-icon="true" class="fa fa-envelope color-default" aria-hidden="true"></i></div>
                        <div class="icone-data" data-editable="true">info@loremipsum.org</div>
                    </li>
                    <li>
                        <div class="icone-container"><i data-icon="true" class="fa fa-phone color-default" aria-hidden="true"></i></div>
                        <div class="icone-data" data-editable="true">(415) 347-3160</div>
                    </li>
                    <li>
                        <div class="icone-container"><i data-icon="true" class="fa fa-map-marker color-default" aria-hidden="true"></i></div>
                        <div class="icone-data icone-data-last" data-editable="true">Rua Lorem impsum, 4114</div>
                    </li>
                </ul>
            </div>
            <hr class="visible-xs">
            <div class="col-sm-6 col-md-3 sm-height  newsletter ">
                <h1 data-editable="true" class="footer-module-title">Lorem Ipsum</h1>
                <div class="form-inline newsletter-submit">
                    <div class="form-group">
                        <label for="subscribe-newsletter" data-editable="true">Lorem Ipsum</label>
                        <input type="text" class="form-control border-default" id="subscribe-newsletter" placeholder="E-mail">
                        <a class="btn layout-btn btn-color" href="javascript:void(0);">Enviar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div data-editable="true">Lorem Ipsum</div>
                </div>
            </div>
        </div>
    </div>
</section>