<section class="x_component_boxes_cod_261 pad-default-element ">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="row ">
                <div class="col-sm-7 five-three">
                    <div class="row no-gutters">
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img class="img-responsive" src="assets/images/thumb-1.jpg" alt="" data-image="true">
                                <div class="caption text-center text-uppercase">
                                    <div class="text" data-editable="true">
                                        Lorem ipsum
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img class="img-responsive" src="assets/images/thumb-2.jpg" alt="" data-image="true">
                                <div class="caption text-center text-uppercase">
                                    <div class="text" data-editable="true">
                                        Vestibulum libero
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img class="img-responsive" src="assets/images/thumb-3.jpg" alt="" data-image="true">
                                <div class="caption text-center text-uppercase">
                                    <div class="text" data-editable="true">
                                        Fusce euismod
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 five-two">
                    <div class="row no-gutters">
                        <div class="col-sm-6">
                            <div class="thumbnail">
                                <img class="img-responsive" src="assets/images/thumb-4.jpg" alt="" data-image="true">
                                <div class="caption text-center text-uppercase">
                                    <div class="text" data-editable="true">
                                        Nulla venenatis
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="thumbnail">
                                <img class="img-responsive" src="assets/images/thumb-5.jpg" alt="" data-image="true">
                                <div class="caption text-center text-uppercase">
                                    <div class="text" data-editable="true">
                                        Aenean nec
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>