<section class="x_component_footer_cod_250">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="social-wrapper">
                    <div class="copy text" data-editable="true">Car service © 2015 • Privacy Policy </div>
             
                  <ul class="list-unstyled list-inline footer-social" data-social="true" >
                <li><a class="color-default-hover" target="_blank" href="#icon-link#">Adicione sua rede!<i class="#icon-class#"></i></a></li>
					</ul>
                
                </div>
            </div>
            <div class="col-md-4">
                <div class="address-wrapper">
                    <div class="text" data-editable="true">9863 - 9867 Mill Road,<br> Cambridge, MG09 99HT <br> Freephone: +1 800 559 6580<br>
                    </div>
                    <div class="text" data-editable="true">9863 - 9867 Mill Road,<br> Cambridge, MG09 99HT <br> Freephone: +1 800 559 6580<br>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="map" data-mapa="true" data-type="map">

                </div>
            </div>
        </div>
    </div>
</section>