

.imagem-i002 .lib-panel img {
    width: 100%;
    background-color: transparent;
  	display:block;
}
.imagem-i002 .padding-0{
    padding: 0px;
}

.imagem-i002 .lib-panel .row,
.imagem-i002 .lib-panel .col-md-6 {
    padding: 0;
}

.imagem-i002 .lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.imagem-i002 .lib-panel .lib-row.lib-header {
    font-size: 20px;
}

.imagem-i002 .lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    margin: 7px 0 7px 0;
}

.imagem-i002 .lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}

.imagem-i002 .box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
}

.imagem-i002 .no-padding {
    padding: 10px;
}
@media all and (max-width:768px){
  .imagem-i002 .lib-panel img{
  	height: auto;
  }
}