<section class="menu-m004 full-w">
    <div class="nav-container">
        <nav class="nav-centered">
            <div class="nav-utility">
                <div class="module left color-default">
                    <i class="fa fa-map-marker" data-icon="true"></i>
                  	<div class="sub color-default" style="display: inline;" data-editable="true">Av. Presidente  João Goulart, 400</div>
                </div>
                <div class="module left color-default">
                    <i class="fa fa-envelope-o" data-icon="true"></i>
                  	<div class="sub color-default" style="display: inline;" data-editable="true">contato@webmotors.com.br</div>
                </div>
            </div>
            <div class="text-center">
                <img class="img-xs" alt="" data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=25698">
            </div>
            <div class="nav-bar text-center">
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="module-group text-left ">
                    <div class="module left cont-menu">
                        <ul data-menu="true" class="color-default">

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>