.btn-change-video{
	display:none;
}
.video-002 {
    color: #999;
    background: #fdfdfd;
}
.video-001 .small {
    font-style: italic;
    font-size: 85%;
}

.video-002 iframe {
  	width: 100%;
	height: 250px;  
}

@media all and (max-width: 990px){
    .video-002 iframe {
	    height: auto;  
    }
}