.highlights-h014 .image-box .box {
    text-align: left;
    background: #fff;
    margin-bottom: 30px;
    border: 1px solid #ececec;
}

.highlights-h014 .image-box .box img {
    width: 100%;
    height: 135px;
}

.highlights-h014 .image-box .box>.details {
    padding: 12px 15px;
}

.highlights-h014 .image-box .box>.details>*:last-child {
    margin-bottom: 0;
}

.highlights-h014 .image-box .box .box-title {
    margin-bottom: 10px;
    font-size: 16px;
}

.highlights-h014 h1,
.highlights-h014 h2,
.highlights-h014 h3,
.highlights-h014 h4,
.highlights-h014 h5,
.highlights-h014 h6 {
    margin: 0 0 15px;
    font-weight: normal;
}

.highlights-h014 .box-title small {
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    margin-top: 4px;
}

.highlights-h014 .price {
    font-size: 20px;
    text-transform: uppercase;
    float: right;
    text-align: right;
    line-height: 1;
    display: block;
}

.highlights-h014 .price small {
    display: block;
    font-size: 0.5em;
}

.highlights-h014 .image-box .box .box-title {
    margin-bottom: 10px;
    font-size: 16px;
}

.highlights-h014 button,
.highlights-h014 input[type="button"].button,
.highlights-h014 a.button {
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 15px;
    white-space: nowrap;
    text-decoration: none;
}

.highlights-h014 button.btn-small,
.highlights-h014 input[type="button"].button.btn-small,
.highlights-h014 a.button.btn-small {
    height: 28px;
    padding: 0 24px;
    line-height: 28px;
    font-size: 0.9167em;
    width: 100%;
    display: block;
}

.highlights-h014 a.button {
    display: inline-block;
    font-size: 0.8333em;
    line-height: 1.8333em;
    white-space: nowrap;
    text-align: center;
}

@media all and (max-width: 991px) {
    .highlights-h014 .image-box .box img,
    .highlights-h014 .image-box.box img {
        width: 100%;
        height: auto;
    }
}