/*LESS VARIABLES*/
/*SECTION CSS*/
.x_component_contact_cod_257 {
  background: #FCF9F1;
  padding: 20px 0;
  font-size: 14px;
  color: #3E3E43;
  font-family: 'Ubuntu Condensed', sans-serif;
  position: relative;
}
.x_component_contact_cod_257 .row.small-gutters > [class^="col-"],
.x_component_contact_cod_257 .row.small-gutters > [class*=" col-"] {
  padding-right: 25px!important;
  padding-left: 25px!important;
}
.x_component_contact_cod_257 .font-title {
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Ubuntu Condensed', sans-serif;
  line-height: 1.8;
  letter-spacing: 0px;
  position: relative;
}
.x_component_contact_cod_257 .font-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ECEFF1;
  height: 2px;
}
.x_component_contact_cod_257 .link-text {
  margin-top: 50px;
  color: #89888c;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  line-height: 2;
  position: relative;
}
.x_component_contact_cod_257 .link-text:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  background: #ECEFF1;
  height: 2px;
}
.x_component_contact_cod_257 .text-bottom {
  margin-top: 20px;
  color: #3E3E43;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0;
}
.x_component_contact_cod_257 .contact-form {
  margin-top: 50px;
}
.x_component_contact_cod_257 input[type="text"],
.x_component_contact_cod_257 input[type="email"],
.x_component_contact_cod_257 textarea {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  font-size: 15px;
  padding: 11px 17px 11px;
  line-height: 20px;
  margin-bottom: 15px;
  color: #252528;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  border-color: #d9d9db;
}
.x_component_contact_cod_257 input[type="email"]::-moz-placeholder {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  opacity: 1;
}
.x_component_contact_cod_257 input[type="email"]::-webkit-input-placeholder {
  color: #000;
}
.x_component_contact_cod_257 input[type="text"]::-moz-placeholder {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  opacity: 1;
}
.x_component_contact_cod_257 input[type="text"]::-webkit-input-placeholder {
  color: #000;
}
.x_component_contact_cod_257 textarea::-moz-placeholder {
  color: #3E3E43;
  font-size: 18px;
  font-weight: 400;
  opacity: 1;
}
.x_component_contact_cod_257 textarea::-webkit-input-placeholder {
  color: #000;
}
.x_component_contact_cod_257 .btn-color {
  margin-top: 15px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  background-color: #f8565d;
  font-size: 20px;
  line-height: 18px;
  padding: 16px 32px;
  border-radius: 0;
}
.x_component_contact_cod_257 .btn-color:hover {
  color: #3E3E43;
  background-color: #fff;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -ms-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}
@media screen and (max-width: 768px) {
  .x_component_contact_cod_257 .font-title {
    font-size: 25px;
  }
}
