<section class="x_component_header_cod_003 navbar-wrapper menu-model-int-003">

    <div class="container">
        <div class="topbar clearfix">
            <div class="topbar-left">
                <div class="topbar-item font-description"><i class="fa fa-map-marker" data-icon="true"></i><div data-editable="true">Fale Conosco</div></div>
                <div class="topbar-item font-description"><i class="fa fa-envelope-open-o" data-icon="true"></i><div data-editable="true">info@info.com</div></div>
            </div>
            <div class="topbar-right pull-right">
                <div class="topbar-item ">
                    <div class="topbar-links font-description">
                        <ul>
                            <li data-editable="true">Link</li>
                            <li data-editable="true">Link</li>
                            <li data-editable="true">Link</li>
                        </ul>
                    </div>
                </div>
                <div class="topbar-item ">
                    <div class="redes-sociais font-description">
                        <div id="redes-sociais-title">Redes Sociais</div>
                        <ul class="redes-sociais-list">
                            <li><i class="fa fa-phone"></i><div data-editable="true">contato</div></li>
                            <li><i class="fa fa-phone"></i><div data-editable="true">contato</div></li>
                            <li><i class="fa fa-phone"></i><div data-editable="true">contato</div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="topbar topbar-row-2 clearfix">
            <div class="row">
                <div class="col-sm-12 col-md-3 topbar-row-2-item">
                    <a class="navbar-brand" href="#"><img class="img-responsive" src="/uploads/elements/bf96d6a2f95f89edc9dba69cdccc1829/assets/img/component_header_cod_003_01.png" alt=""></a>
                </div>
                <div class="col-md-3 col-xs-4 topbar-row-2-item col-xs-12-custom font-description">
                    <i class="fa fa-car" ></i>
                    <div class="text-container">
                        <h1>0 KM</h1>
                        <h3>Estoque de zerokm!</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-4 topbar-row-2-item col-xs-12-custom font-description">
                    <i class="fa fa-car" ></i>
                    <div class="text-container">
                        <h1>Seminovos</h1>
                        <h3>Estoque de seminovos!</h3>
                    </div>
                </div>
                <div class="col-md-3 col-xs-4 topbar-row-2-item col-xs-12-custom font-description">
                    <i class="fa fa-whatsapp" ></i>
                    <div class="text-container">
                        <h1>Whatsapp</h1>
                        <h3>(99) 9999.9999</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar-container">
        <nav class="navbar navbar-default navbar-default-custom background-theme">
            <div class="container-fluid">
                <div class="navbar-header navbar-header-custom background-theme">
                    <button type="button" class="navbar-toggle collapsed"  >
                        <i class="fa icon-animate"></i>

                        </button>

                </div>

                <div class="collapse navbar-collapse navbar-collapse-custom background-theme" id="bs-example-navbar-collapse-1">
                    <ul class="font-title nav navbar-nav menu" data-menu="true">
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>