<section class="x_component_contact_cod_103">
    <div class="container">
        <div class="row">
            <div class="moto-cell col-sm-4">
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aama">
                    <div class="moto-widget-text-content moto-widget-text-editable">
                        <div class="moto-text_system_5 font-title" data-editable="true">Addresses</div>
                    </div>
                </div>
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa">
                    <div class="moto-widget-text-content moto-widget-text-editable">
                        <div class="moto-text_system_7 font-title" data-editable="true">Endereço loja 1:</div>
                    </div>
                </div>
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aama">
                    <div class="moto-widget-text-content moto-widget-text-editable">
                        <div class="moto-text_normal font-subtitle" data-editable="true">Rua José de fritas n° 10</div>
                    </div>
                </div>
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aama">
                    <div class="moto-widget-text-content moto-widget-text-editable">
                        <div class="moto-text_system_7 font-title" data-editable="true">Telefones:</div>
                    </div>
                </div>
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto">
                    <div class="moto-widget-text-content moto-widget-text-editable">
                        <div class="moto-text_normal">
                            <div class="moto-link font-subtitle" data-editable="true">+1 800 559 6580 </div> <br>
                        </div>
                        <div class="moto-text_normal">
                            <div class="moto-link font-subtitle" data-editable="true">+1 800 603 6035</div>
                        </div>
                    </div>
                </div>
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto">
                    <div class="moto-widget-text-content moto-widget-text-editable">
                        <div class="moto-text_system_7 font-title" data-editable="true">Endereço loja 2:</div>
                    </div>
                </div>
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto">
                    <div class="moto-widget-text-content moto-widget-text-editable">
                        <div class="moto-text_normal font-subtitle" data-editable="true">Rua José de fritas n° 10</div>
                    </div>
                </div>
            </div>
            <div class="moto-cell col-sm-8">
                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto">
                    <div class="moto-widget-text-content moto-widget-text-editable">
                        <p class="moto-text_system_5 font-title" data-editable="true">Contato</p>
                    </div>
                </div>
                <div class="moto-widget moto-widget-contact_form moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto ">
                    <div>
                        <form data-form-type="contato" data-form-layout="contato-6"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>