<section class="buscador-b002" page-id="#pageId#">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 cont-filtros">
                <form role="form" action="" method="post" class="formularios form-inline">
                    <div class="col-md-4 col-xs-12 reset-padding-right reset-padding-left">
                        <div class="form-group col-xs-12 col-md-6 reset-padding-right">
                            <select name="marcas" class="form-control styled">
                                <option value="#marcaId#">#marca#</option>
                              <optgroup label="Selecione a Marca"></optgroup>
                        </select>
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <select name="modelos" class="form-control styled layout-btn">
                            <option value=""> Modelo</option>
                            <optgroup label="selecione o modelo"></optgroup>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 reset-padding-right reset-padding-left">
                        <div class="form-group col-xs-12 col-md-6 reset-padding-right">
                            <select name="ano_de" class="form-control styled layout-btn">
                            <option value=""> Ano</option>
                            <optgroup label="menor ano"></optgroup>
                        </select>
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <select name="ano_ate" class="form-control styled layout-btn">
                            <option value=""> Até</option>
                            <optgroup label="maior ano"></optgroup>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 reset-padding-right reset-padding-left">
                        <div class="form-group col-xs-12 col-md-6">
                            <select name="preco_de" class="form-control styled layout-btn">
                            <option value=""> De</option>
                            <optgroup label="menor preço"></optgroup>
                        </select>
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <select name="preco_ate" class="form-control styled layout-btn">
                            <option value="ate"> Até</option>
                            <optgroup label="maior preço"></optgroup>
                        </select>
                        </div>
                    </div>
                    <div class=" col-md-1 cont-button">
                        <button class="btn btn-lg pull-right search btn-color layout-btn" type="button" id="enviarBuscador">
                        <i class="fa fa-search" data-icon="true"></i>
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>