
.x_component_header_cod_003 .navbar{
	margin-bottom:0;
}
.x_component_header_cod_003 ul{
    padding:0px;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.x_component_header_cod_003 ul li{
    list-style-type:none;
    list-style: none;
}
/* ============== Top Bar =============*/
.x_component_header_cod_003 .topbar{
    padding-top: 10px;

}
.x_component_header_cod_003 .topbar .topbar-item{
    float: left;
    margin-right: 30px;
}
.x_component_header_cod_003 .topbar .topbar-item:last-child{
    float: left;
    margin-right: 0px;
}
.x_component_header_cod_003 .topbar .topbar-item ul li{
    display: inline-block;
}

.x_component_header_cod_003 .topbar .topbar-item .topbar-links li{
    float: left;
    padding: 0 20px;
}
.x_component_header_cod_003 .topbar .topbar-item i,
.x_component_header_cod_003 .topbar .topbar-item p,
.x_component_header_cod_003 .topbar .topbar-item div{
    float: left;
    vertical-align: baseline;
}
.x_component_header_cod_003 .topbar .topbar-item div{
    line-height: 2.5em;
}
.x_component_header_cod_003 .topbar .topbar-item i{
    padding: 10px;
}
.x_component_header_cod_003 .topbar .redes-sociais{
    padding-right: 20px;
    position: relative;
}
.x_component_header_cod_003 .topbar .redes-sociais div,
.x_component_header_cod_003 .topbar .redes-sociais i{
    float: none;
}
.x_component_header_cod_003 .topbar .redes-sociais .redes-sociais-title {
    display: block;
    cursor: pointer;
}
.x_component_header_cod_003 .topbar .redes-sociais  ul{
    position: absolute;
    z-index: 1;
    background: #fff;
    left:0px;
}
.x_component_header_cod_003 .topbar .redes-sociais  ul {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
.x_component_header_cod_003 .topbar .topbar-item .redes-sociais:hover ul{
    display: block;
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    max-height: 1100px;
}
.x_component_header_cod_003 .topbar .redes-sociais ul li{
    display: block;
    padding: 0 10px 0 0;
}
.x_component_header_cod_003 .topbar .redes-sociais ul li p,
.x_component_header_cod_003 .topbar .redes-sociais ul li div{
    display: inline;
}
.x_component_header_cod_003 .topbar .redes-sociais i{
    font-size: 14px;
}
@media (max-width: 767px) {
    .x_component_header_cod_003 .topbar{
        margin-top: 50px;
    }
}
@media (max-width: 520px) {
    .x_component_header_cod_003 .topbar .topbar-right,
    .x_component_header_cod_003 .topbar .topbar-left{
        width:100%;
    }
    .x_component_header_cod_003 .topbar .topbar-left .topbar-item{
        width: 50%;
        margin: 0px;
    }
    .x_component_header_cod_003 .topbar .topbar-right{
        float: left !important;
    }
    .x_component_header_cod_003 .topbar .topbar-right .topbar-item:first-child{
        width: 50%;
    }
    .x_component_header_cod_003 .topbar .topbar-left:after{
        content: '';
        display: table;
        clear: both;
    }
}

/*===============fim top bar=================*/

/* ============== Top Bar 2 =============*/


.x_component_header_cod_003 .topbar.topbar-row-2{
    margin: 20px 0;
}

.x_component_header_cod_003 .topbar-row-2 i{
    font-size: 33px;
    float: left;
    padding: 0 20px;
    min-height: 60px;
}
.x_component_header_cod_003 .topbar-row-2 .topbar-row-2-item{
    float: left;
}

.x_component_header_cod_003 .topbar-row-2 .topbar-row-2-item .text-container  *{
  margin-top: 0px;
    word-break:break-word;
}
.x_component_header_cod_003 .topbar-row-2 .topbar-row-2-item .text-container .title-top{
    font-size: 20px;
}
.x_component_header_cod_003 .topbar-row-2 .topbar-row-2-item .text-container .sub-title{
    font-size: 15px;
}
@media (max-width: 991px){
    .x_component_header_cod_003 .topbar-row-2-item:first-child{
        margin: 20px 0;
    }
}
@media (max-width: 768px){

    .x_component_header_cod_003 .navbar-default-custom {
        box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 0px inset, rgba(0, 0, 0, 0.075) 0px 1px 5px
    }
    .x_component_header_cod_003 .topbar-row-2-item:first-child{
        float: none;

    }
    .x_component_header_cod_003 .topbar-row-2-item:first-child:after{
        content: '';
        display: table;
        clear: both;
    }
    .x_component_header_cod_003 .topbar-row-2 i{
        min-height: 60px;
    }
}
@media (max-width: 580px){
    .x_component_header_cod_003 .topbar-row-2 .navbar-brand{
        float: none;
    }
    .x_component_header_cod_003 .topbar-row-2 .navbar-brand img{
        margin: auto;
    }
    .x_component_header_cod_003 .topbar-row-2 i{
        min-height: 60px;
        float: none;
    }
    .x_component_header_cod_003 .topbar-row-2-item.col-xs-12-custom{
        width: 100%;
        text-align: center;
    }

}

/*======MENU PRINCIPAL =======*/
.x_component_header_cod_003 .navbar-default,
.x_component_header_cod_003 .dropdown-menu>li>a:focus,
.x_component_header_cod_003 .dropdown-menu>li>a:hover,
.x_component_header_cod_003 .navbar-default .navbar-nav>.open>a,
.x_component_header_cod_003 .navbar-default .navbar-nav>.open>a:focus,
.x_component_header_cod_003 .navbar-default .navbar-nav>.open>a:hover,
.x_component_header_cod_003 .navbar-default .navbar-toggle:focus,
.x_component_header_cod_003 .navbar-default .navbar-toggle:hover{
    /*background-color: inherit;*/
    background-image: none;
     -webkit-box-shadow: none;
     box-shadow: none;

}
.x_component_header_cod_003 .navbar-default-custom{
    border-radius: 0px;
    border-bottom: none;
    border-right: none;
    border-left: none;

}
.x_component_header_cod_003 .menu{
    display: inline-block;
    float:none;
}

.x_component_header_cod_003 .navbar-collapse{
    text-align: center;
}
.x_component_header_cod_003 .menu ul{
    margin: 0px;
    border-radius: 0px;

}
.x_component_header_cod_003 .navbar{
    position: relative;
    min-height:100%;
    margin-bottom: 0px;
    line-height: 0px;
}
.x_component_header_cod_003 .menu   a{
    color: inherit;
}
.x_component_header_cod_003 .menu > li > a{
   padding: 30px 15px;

}
.x_component_header_cod_003 .menu .nav-menu-item .dropdown li{
    padding: 10px;

}
.x_component_header_cod_003 .nav-menu-item .dropdown-menu{
    display: inherit;
     border: none;
     border: none;
     border-radius: 0px;
     -webkit-box-shadow: none;
     box-shadow: none;
}
.x_component_header_cod_003 .nav-menu-item .dropdown-menu,
.x_component_header_cod_003 .nav-menu-item .dropdown{
    max-height: 0px;
    overflow: hidden;
    transition: 1s;
}

.x_component_header_cod_003 .nav-menu-item:hover .dropdown{
   max-height: 1000px;
    transition: 1s;

}
.x_component_header_cod_003 .nav-menu-item .dropdown ul {
    max-height: 0px;
    overflow: hidden;
    transition: 1s;

}
.x_component_header_cod_003 .nav-menu-item .dropdown:hover ul{
    max-height: 1000px;
    transition: 1s;
    padding: 10px;

}
.x_component_header_cod_003 .navbar-toggle{
    border-radius: 0px;
    border:none;

}
@media (max-width: 768px){

    /* ===== mega menu ======*/
    .x_component_header_cod_003 .navbar-header-custom{
        position: fixed;
        width: 100%;
        height: 50px;
        top: 0;
        z-index: 999;
        margin: 0px;
    }
    .x_component_header_cod_003 .nav-menu-item .dropdown-menu{
        position: relative;
        width:100%;
    }

    .x_component_header_cod_003 .collapse {
        display: block;
    }
    .navbar-collapse-custom{
        position: fixed;
        width: 50%;
        overflow: hidden;
        top:50px;
        padding: 0;
        left: -100%;
        transition: all 1s;
        height: auto;

    }
    .x_component_header_cod_003  .collapse.active{
       left: 0%;
        transition: all 1s;
        height: auto;
    }
    .x_component_header_cod_003 ul .nav-menu-item a{
        padding: 20px 0;
        display: block;
    }

    /*======menu mobile ====*/
    .x_component_header_cod_003 .navbar-nav.menu{
        width: 80%;
    }
    .x_component_header_cod_003 .navbar-nav.menu li a{
        text-align: left;
    }
    .x_component_header_cod_003 .navbar-nav.menu li a span:after{
        display: block;
        content: '';
        width: 30px;
        height: 30px;
        position: relative;
        top: 10px;
        border-radius: 50%;
        background-color: #000;
        content: '\f105';
        font-family: FontAwesome;
        padding: 5px 13px;
        color:#fff;

    }
    .x_component_header_cod_003 .navbar-nav.menu li.nav-menu-item:hover a span:after{
        -webkit-animation: icon-sub  0.5s forwards;
        -o-animation:icon-sub  0.5s forwards;
        animation:icon-sub  0.5s forwards;

    }
    .x_component_header_cod_003 .navbar-nav.menu li a span{
        float: right;
        border: none;
        margin-right: 10%;
    }
}
/* ====== Animation icon mobile =======*/

.x_component_header_cod_003 .navbar-header-custom i {
    transition: 1s;
    font-size: 25px;
}
.x_component_header_cod_003 .navbar-toggle{
    float: left;
    padding: 12px 10px;
    margin: 0;
}
.x_component_header_cod_003 .navbar-header-custom .collapsed.active i:after {
    content: "\f061";
    font-family: FontAwesome;
}
.x_component_header_cod_003 .navbar-header-custom .collapsed i:after {
    content: "\f0c9";
    font-family: FontAwesome;
}
.icon-animate {
    position: relative;
    transform: rotate3d(0, 0, 1, -180deg);
    transition: 1s;

}

@-webkit-keyframes icon-sub  {

    from{
        transform: rotate(90deg);
    }
    to{
        transform: rotate(270deg);
    }
}