.imagem-i001 {
    background: #dddddd;
}

.imagem-i001 img {
    width: 160px;
    height: 160px;
    position: relative;
    border-radius: 50%;
    background: #cbcbcb;
}

.imagem-i001 .owl-theme {
    padding-top: 30px;
}

.imagem-i001 .carousel-wrapper {
    text-align: center;
}

.imagem-i001 .owl-theme .owl-buttons div {
    margin-top: 0;
}