 .buscador-b002 {
     background-color: #bbb;
 }
 
 .buscador-b002 .cont-filtros {
     padding-top: 10px;
 }
 
 .buscador-b002 div.controls {
     margin-bottom: 12px;
     border: 1px dotted #fff;
     padding: 25px 20px;
     position: relative;
     margin-bottom: 20px;
 }
 
 .buscador-b002 .form-control {
     display: block;
     width: 100%;
     height: 50px;
     padding: 6px 12px;
     font-size: 14px;
     line-height: 1.428571429;
     color: #fff;
     background-color: transparent;
     background-image: none;
     border: solid 1px #fff;
     border-radius: 0px;
     -webkit-box-shadow: inherit;
     box-shadow: inherit;
     -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
     transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 }
 
 .buscador-b002 .btn {
     color: #fff;
     font-weight: 600;
     display: inline-block;
     margin-bottom: 0;
     font-weight: 400;
     text-align: center;
     vertical-align: middle;
     cursor: pointer;
     background-image: none;
     border: inherit;
     white-space: nowrap;
     padding: 6px 12px;
     font-size: 14px;
     line-height: 1.428571429;
     border-radius: 0px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
 }
 
 .buscador-b002 .btn:hover {
     border: 1px solid #fff;
 }
 
 .buscador-b002 .form-group>select>option,
 .buscador-b002 .form-group>select>optgroup {
     color: #222;
 }
 
 .buscador-b002 .panel-group {
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
 }
 
 .buscador-b002 .panel-heading {
     padding: 10px 15px;
     border-bottom: 1px solid transparent;
     border-radius: 0px;
 }
 
 .buscador-b002 .panel-group .panel {
     border-radius: 0px;
 }
 
 .buscador-b002 .reset-padding-left {
     padding-left: 0px;
 }
 
 .buscador-b002 .reset-padding-right {
     padding-right: 0px;
 }
 
 .buscador-b002 .reset-padding {
     padding: 0px;
 }
 
 @media all and (min-width: 768px) {
     .buscador-b002 .form-inline .form-control {
         width: 100% !important;
         margin-bottom: 15px;
     }
 }
 
 @media all and (max-width: 991px) {
     .buscador-b002 .reset-padding-left {
         padding-left: 15px;
     }
     .buscador-b002 .reset-padding-right {
         padding-right: 15px;
     }
     .buscador-b002 .reset-padding {
         padding: inherit;
     }
     .buscador-b002 .search {
         margin-bottom: 30px;
     }
     .buscador-b002 .btn {
         width: 100%;
         display: block;
     }
 }
 
 @media all and(max-width:768px) {
     .buscador-b002 .reset-padding-left {
         padding-left: 15px;
     }
     .buscador-b002 .reset-padding-right {
         padding-right: 15px;
     }
     .buscador-b002 .reset-padding {
         padding: inherit;
     }
 }
 
 .buscador-b002 .fa.fa-search {
     padding: 9px;
     font-size: 20px;
 }