.social-s002 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    line-height: 24px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    overflow-x: hidden;
  	background: #4867AA;
}

.social-s002 ul {
    list-style: none;
}

.social-s002 ul.bullets {
    list-style: inside;
}

.social-s002 .main-container {
    clear: both;
}

.social-s002 hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 0 24px 0;
    width: 100%;
}

.social-s002 hr.short-thick {
    max-width: 50px;
    border-top: 5px solid #ccc;
    opacity: 1 !important;
}

.social-s002 .image-bg hr {
    border-color: #fff;
    opacity: .6;
}

.social-s002 .image-bg.bg-light hr {
    border-color: #ccc;
    opacity: 1;
}

.social-s002 .bg-dark hr {
    border-color: #555;
}

.social-s002 .inline-block {
    display: inline-block;
}

.social-s002 .list-inline {
    margin-left: 0;
}

.social-s002 .list-inline>li {
    padding: 0 8px;
}

.social-s002 .list-inline>li:last-child {
    padding-right: 0;
}

.social-s002 .list-inline>li:first-child {
    padding-left: 0;
}

.social-s002 .bg-primary .list-inline i {
    color: #8ed3ab;
}

.social-s002 .overflow-hidden {
    overflow: hidden;
}

.social-s002 .display-block {
    display: block;
}

.social-s002 .show-grid {
    border: 1px dashed rgba(255, 255, 255, 0);
    padding: 8px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    cursor: default;
}

.social-s002 .show-grid:hover {
    border-color: #222;
}

.social-s002 .right {
    right: 0;
}

.social-s002 .relative {
    position: relative;
    z-index: 2;
}

.social-s002 .clearboth {
    clear: both;
}

.social-s002 .spread-children * {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

.social-s002 .spread-children-large * {
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
}

.social-s002 .container {
    position: relative;
}

.social-s002 .vnu {
    display: inline;
}

.social-s002 .row-gapless>div[class*='col-'] {
    padding: 0;
}

@media all and (max-width: 1100px) {
    .social-s002 .col-md-push-1 {
        left: 0;
    }
}

@media all and (max-width: 768px) {
    .social-s002 .pull-left-sm {
        float: left !important;
    }
    .social-s002 .overflow-hidden-xs {
        overflow: hidden;
    }
}

@media all and (max-width: 767px) {
    .social-s002 .spread-children * {
        margin-left: 6px;
        margin-right: 6px;
    }
}


/*!---------- 4. COLOURS ----------*/

.social-s002 .bg-primary {
    background: #47b475 !important;
}

.social-s002 .bg-secondary {
    background: #f8f8f8;
}

.social-s002 .bg-white {
    background: #fff;
}

.social-s002 .bg-dark {
    background: #292929;
}

.social-s002 .color-body {
    color: #666;
}

.social-s002 .color-primary {
    color: #47b475 !important;
}

.social-s002 .color-red {
    color: #e31d3b !important;
}

.social-s002 .color-white {
    color: #fff;
}


/*!---------- 5. SECTIONS ----------*/


.social-s002 .fullscreen {
    height: 100vh;
}

.social-s002 .bg-dark h1,
.social-s002 nav.bg-dark h1,
.social-s002 footer.bg-dark h1,
.social-s002 .bg-primary h1,
.social-s002 .bg-dark h2,
.social-s002 nav.bg-dark h2,
.social-s002 footer.bg-dark h2,
.social-s002 .bg-primary h2,
.social-s002 .bg-dark h3,
.social-s002 nav.bg-dark h3,
.social-s002 footer.bg-dark h3,
.social-s002 .bg-primary h3,
.social-s002 .bg-dark h4,
.social-s002 nav.bg-dark h4,
.social-s002 footer.bg-dark h4,
.social-s002 .bg-primary h4,
.social-s002 .bg-dark h5,
.social-s002 nav.bg-dark h5,
.social-s002 footer.bg-dark h5,
.social-s002 .bg-primary h5,
.social-s002 .bg-dark h6,
.social-s002 nav.bg-dark h6,
.social-s002 footer.bg-dark h6,
.social-s002 .bg-primary h6 {
    color: #ffffff;
}

.social-s002 .bg-dark p,
.social-s002 nav.bg-dark p,
.social-s002 footer.bg-dark p,
.social-s002 .bg-primary p,
.social-s002 .bg-dark span,
.social-s002 nav.bg-dark span,
.social-s002 footer.bg-dark span,
.social-s002 .bg-primary span,
.social-s002 .bg-dark li,
.social-s002 nav.bg-dark li,
.social-s002 footer.bg-dark li,
.social-s002 .bg-primary li {
    color: #fefefe;
}

@media all and (max-width: 767px) {
    .social-s002 section {
        padding: 80px 0;
    }
}

.social-s002 .overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #292929;
    opacity: 0.3;
    z-index: 2;
}

.social-s002 .overlay-heavy:before {
    opacity: .6;
}

.social-s002 .bg-light.overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    opacity: 0.1;
    z-index: 2;
}

.social-s002 .image-bg h1,
.social-s002 .image-bg h2,
.social-s002 .image-bg h3,
.social-s002 .image-bg h4,
.social-s002 .image-bg h5,
.social-s002 .image-bg h6 {
    color: #ffffff;
}

.social-s002 .image-bg p,
.social-s002 .image-bg span,
.social-s002 .image-bg li {
    color: #ffffff;
}

.social-s002 .image-bg .container,
.social-s002 .image-bg div[class*='col-'] {
    position: relative;
    z-index: 3;
}

.social-s002 .container.image-bg .row {
    position: relative;
    z-index: 3;
}

.social-s002 .background-image-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #292929;
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
}

.social-s002 .background-image-holder img {
    display: none;
}

.social-s002 .background-multiply .background-image-holder {
    background-color: #47b475 !important;
    background-blend-mode: multiply;
}

.social-s002 .background-image-holder.fadeIn {
    opacity: 1;
}

.social-s002 .parallax>.background-image-holder,
.social-s002 .parallax .slides li>.background-image-holder {
    height: 100vh;
    top: -50vh;
    transition: all 0s ease !important;
    transition: opacity 0.3s ease !important;
    -webkit-transform-style: preserve-3d;
}

.social-s002 .parallax:first-child .slides li>.background-image-holder,
.social-s002 .parallax:first-child .background-image-holder {
    top: 0;
}

.social-s002 .main-container>a:first-child+.parallax .background-image-holder {
    top: 0;
}

@media all and (max-width: 767px) {
    .social-s002 .parallax>.background-image-holder,
    .social-s002 .parallax .slides li>.background-image-holder {
        top: 0 !important;
        transform: none !important;
        -webkit-transform: none !important;
    }
}


/*!---------- 36. SPACING ----------*/

.social-s002 .mr0 {
    margin-right: 0;
}

.social-s002 .mb0 {
    margin-bottom: 0 !important;
}

.social-s002 .mb8 {
    margin-bottom: 8px;
}

.social-s002 .mb16 {
    margin-bottom: 16px;
}

.social-s002 .mb24 {
    margin-bottom: 24px;
}

.social-s002 .mb30 {
    margin-bottom: 30px;
}

.social-s002 .mb32 {
    margin-bottom: 32px;
}

.social-s002 .mb40 {
    margin-bottom: 40px;
}

.social-s002 .mb48 {
    margin-bottom: 48px;
}

.social-s002 .mb56 {
    margin-bottom: 56px;
}

.social-s002 .mb64 {
    margin-bottom: 64px;
}

.social-s002 .mb72 {
    margin-bottom: 72px;
}

.social-s002 .mb80 {
    margin-bottom: 80px;
}

.social-s002 .mb88 {
    margin-bottom: 88px;
}

.social-s002 .mb96 {
    margin-bottom: 96px;
}

.social-s002 .mb104 {
    margin-bottom: 104px;
}

.social-s002 .mb112 {
    margin-bottom: 112px;
}

.social-s002 .mb120 {
    margin-bottom: 120px;
}

.social-s002 .mb160 {
    margin-bottom: 160px;
}

.social-s002 .mt0 {
    margin-top: 0 !important;
}

.social-s002 .mt8 {
    margin-top: 8px;
}

.social-s002 .mt16 {
    margin-top: 16px;
}

.social-s002 .mt24 {
    margin-top: 24px;
}

.social-s002 .mt32 {
    margin-top: 32px;
}

.social-s002 .mt40 {
    margin-top: 40px;
}

.social-s002 .mt48 {
    margin-top: 48px;
}

.social-s002 .mt56 {
    margin-top: 56px;
}

.social-s002 .mt64 {
    margin-top: 64px;
}

.social-s002 .mt72 {
    margin-top: 72px;
}

.social-s002 .mt80 {
    margin-top: 80px;
}

.social-s002 .mt88 {
    margin-top: 88px;
}

.social-s002 .mt96 {
    margin-top: 96px;
}

.social-s002 .mt104 {
    margin-top: 104px;
}

.social-s002 .mt112 {
    margin-top: 112px;
}

.social-s002 .mt120 {
    margin-top: 120px;
}

.social-s002 .mt160 {
    margin-top: 160px;
}

.social-s002 .p32 {
    padding: 0 32px;
}

.social-s002 .p24 {
    padding: 24px;
}

.social-s002 .p0 {
    padding: 0;
}

.social-s002 .pt0 {
    padding-top: 0;
}

.social-s002 .pt8 {
    padding-top: 8px;
}

.social-s002 .pt16 {
    padding-top: 16px;
}

.social-s002 .pt24 {
    padding-top: 24px;
}

.social-s002 .pt32 {
    padding-top: 32px;
}

.social-s002 .pt40 {
    padding-top: 40px;
}

.social-s002 .pt48 {
    padding-top: 48px;
}

.social-s002 .pt64 {
    padding-top: 64px;
}

.social-s002 .pt72 {
    padding-top: 72px;
}

.social-s002 .pt80 {
    padding-top: 80px;
}

.social-s002 .pt88 {
    padding-top: 88px;
}

.social-s002 .pt96 {
    padding-top: 96px;
}

.social-s002 .pt104 {
    padding-top: 104px;
}

.social-s002 .pt112 {
    padding-top: 112px;
}

.social-s002 .pt120 {
    padding-top: 120px;
}

.social-s002 .pt160 {
    padding-top: 160px;
}

.social-s002 .pt180 {
    padding-top: 180px;
}

.social-s002 .pt240 {
    padding-top: 240px;
}

.social-s002 .pb0 {
    padding-bottom: 0;
}

.social-s002 .pb8 {
    padding-bottom: 8px;
}

.social-s002 .pb16 {
    padding-bottom: 16px;
}

.social-s002 .pb24 {
    padding-bottom: 24px;
}

.social-s002 .pb32 {
    padding-bottom: 32px;
}

.social-s002 .pb40 {
    padding-bottom: 40px;
}

.social-s002 .pb48 {
    padding-bottom: 48px;
}

.social-s002 .pb56 {
    padding-bottom: 56px;
}

.social-s002 .pb64 {
    padding-bottom: 64px;
}

.social-s002 .pb72 {
    padding-bottom: 72px;
}

.social-s002 .pb80 {
    padding-bottom: 80px;
}

.social-s002 .pb88 {
    padding-bottom: 88px;
}

.social-s002 .pb96 {
    padding-bottom: 96px;
}

.social-s002 .pb104 {
    padding-bottom: 104px;
}

.social-s002 .pb112 {
    padding-bottom: 112px;
}

.social-s002 .pb120 {
    padding-bottom: 120px;
}

.social-s002 .pb160 {
    padding-bottom: 160px;
}

.social-s002 .pb180 {
    padding-bottom: 180px;
}

.social-s002 .pb240 {
    padding-bottom: 240px;
}

@media all and (max-width: 990px) {
    .social-s002 .mb-s-0 {
        margin-bottom: 0;
    }
    .social-s002 .mb-s-8 {
        margin-bottom: 8px;
    }
    .social-s002 .mb-s-16 {
        margin-bottom: 16px;
    }
    .social-s002 .mb-s-24 {
        margin-bottom: 24px;
    }
    .social-s002 .mb-s-32 {
        margin-bottom: 32px;
    }
    .social-s002 .mb-s-40 {
        margin-bottom: 40px;
    }
    .social-s002 .mb-s-48 {
        margin-bottom: 48px;
    }
    .social-s002 .mb-s-64 {
        margin-bottom: 64px;
    }
    .social-s002 .mb-s-72 {
        margin-bottom: 72px;
    }
    .social-s002 .mb-s-80 {
        margin-bottom: 80px;
    }
    .social-s002 .mb-s-88 {
        margin-bottom: 88px;
    }
    .social-s002 .mb-s-96 {
        margin-bottom: 96px;
    }
    .social-s002 .mb-s-104 {
        margin-bottom: 104px;
    }
    .social-s002 .mb-s-112 {
        margin-bottom: 112px;
    }
    .social-s002 .mb-s-120 {
        margin-bottom: 120px;
    }
}

@media all and (max-width: 990px) {
    .social-s002 .mb-sm-0 {
        margin-bottom: 0;
    }
    .social-s002 .mb-sm-8 {
        margin-bottom: 8px;
    }
    .social-s002 .mb-sm-16 {
        margin-bottom: 16px;
    }
    .social-s002 .mb-sm-24 {
        margin-bottom: 24px;
    }
    .social-s002 .mb-sm-32 {
        margin-bottom: 32px;
    }
    .social-s002 .mb-sm-40 {
        margin-bottom: 40px;
    }
    .social-s002 .mb-sm-48 {
        margin-bottom: 48px;
    }
    .social-s002 .mb-sm-64 {
        margin-bottom: 64px;
    }
    .social-s002 .mb-sm-72 {
        margin-bottom: 72px;
    }
    .social-s002 .mb-sm-80 {
        margin-bottom: 80px;
    }
    .social-s002 .mb-sm-88 {
        margin-bottom: 88px;
    }
    .social-s002 .mb-sm-96 {
        margin-bottom: 96px;
    }
    .social-s002 .mb-sm-104 {
        margin-bottom: 104px;
    }
    .social-s002 .mb-sm-112 {
        margin-bottom: 112px;
    }
    .social-s002 .mb-sm-120 {
        margin-bottom: 120px;
    }
    .social-s002 .mt-sm-0 {
        margin-top: 0 !important;
    }
    .social-s002 .mt-sm-8 {
        margin-top: 8px;
    }
    .social-s002 .mt-sm-16 {
        margin-top: 16px;
    }
    .social-s002 .mt-sm-24 {
        margin-top: 24px;
    }
    .social-s002 .mt-sm-32 {
        margin-top: 32px;
    }
    .social-s002 .mt-sm-40 {
        margin-top: 40px;
    }
    .social-s002 .mt-sm-48 {
        margin-top: 48px;
    }
    .social-s002 .mt-sm-56 {
        margin-top: 56px;
    }
    .social-s002 .mt-sm-64 {
        margin-top: 64px;
    }
    .social-s002 .mt-sm-72 {
        margin-top: 72px;
    }
    .social-s002 .mt-sm-80 {
        margin-top: 80px;
    }
    .social-s002 .mt-sm-88 {
        margin-top: 88px;
    }
    .social-s002 .mt-sm-96 {
        margin-top: 96px;
    }
    .social-s002 .mt-sm-104 {
        margin-top: 104px;
    }
    .social-s002 .mt-sm-112 {
        margin-top: 112px;
    }
    .social-s002 .mt-sm-120 {
        margin-top: 120px;
    }
    .social-s002 .p0-sm {
        padding: 0;
    }
    .social-s002 .pt-sm-0 {
        padding-top: 0;
    }
    .social-s002 .pt-sm-8 {
        padding-top: 8px;
    }
    .social-s002 .pt-sm-16 {
        padding-top: 16px;
    }
    .social-s002 .pt-sm-24 {
        padding-top: 24px;
    }
    .social-s002 .pt-sm-32 {
        padding-top: 32px;
    }
    .social-s002 .pt-sm-40 {
        padding-top: 40px;
    }
    .social-s002 .pt-sm-48 {
        padding-top: 48px;
    }
    .social-s002 .pt-sm-64 {
        padding-top: 64px;
    }
    .social-s002 .pt-sm-72 {
        padding-top: 72px;
    }
    .social-s002 .pt-sm-80 {
        padding-top: 80px;
    }
    .social-s002 .pt-sm-88 {
        padding-top: 88px;
    }
    .social-s002 .pt-sm-96 {
        padding-top: 96px;
    }
    .social-s002 .pt-sm-104 {
        padding-top: 104px;
    }
    .social-s002 .pt-sm-112 {
        padding-top: 112px;
    }
    .social-s002 .pt-sm-120 {
        padding-top: 120px;
    }
    .social-s002 .pt-sm-160 {
        padding-top: 160px;
    }
    .social-s002 .pb-sm-0 {
        padding-bottom: 0;
    }
    .social-s002 .pb-sm-8 {
        padding-bottom: 8px;
    }
    .social-s002 .pb-sm-16 {
        padding-bottom: 16px;
    }
    .social-s002 .pb-sm-24 {
        padding-bottom: 24px;
    }
    .social-s002 .pb-sm-32 {
        padding-bottom: 32px;
    }
    .social-s002 .pb-sm-40 {
        padding-bottom: 40px;
    }
    .social-s002 .pb-sm-48 {
        padding-bottom: 48px;
    }
    .social-s002 .pb-sm-64 {
        padding-bottom: 64px;
    }
    .social-s002 .pb-sm-72 {
        padding-bottom: 72px;
    }
    .social-s002 .pb-sm-80 {
        padding-bottom: 80px;
    }
    .social-s002 .pb-sm-88 {
        padding-bottom: 88px;
    }
    .social-s002 .pb-sm-96 {
        padding-bottom: 96px;
    }
    .social-s002 .pb-sm-104 {
        padding-bottom: 104px;
    }
    .social-s002 .pb-sm-112 {
        padding-bottom: 112px;
    }
    .social-s002 .pb-sm-120 {
        padding-bottom: 120px;
    }
}

@media all and (max-width: 767px) {
    .social-s002 .mb-xs-0 {
        margin-bottom: 0;
    }
    .social-s002 .mb-xs-8 {
        margin-bottom: 8px;
    }
    .social-s002 .mb-xs-16 {
        margin-bottom: 16px;
    }
    .social-s002 .mb-xs-24 {
        margin-bottom: 24px;
    }
    .social-s002 .mb-xs-32 {
        margin-bottom: 32px;
    }
    .social-s002 .mb-xs-40 {
        margin-bottom: 40px;
    }
    .social-s002 .mb-xs-48 {
        margin-bottom: 48px;
    }
    .social-s002 .mb-xs-64 {
        margin-bottom: 64px;
    }
    .social-s002 .mb-xs-72 {
        margin-bottom: 72px;
    }
    .social-s002 .mb-xs-80 {
        margin-bottom: 80px;
    }
    .social-s002 .mb-xs-88 {
        margin-bottom: 88px;
    }
    .social-s002 .mb-xs-96 {
        margin-bottom: 96px;
    }
    .social-s002 .mb-xs-104 {
        margin-bottom: 104px;
    }
    .social-s002 .mb-xs-112 {
        margin-bottom: 112px;
    }
    .social-s002 .mb-xs-120 {
        margin-bottom: 120px;
    }
    .social-s002 .mt-xs-0 {
        margin-top: 0 !important;
    }
    .social-s002 .mt-xs-8 {
        margin-top: 8px;
    }
    .social-s002 .mt-xs-16 {
        margin-top: 16px;
    }
    .social-s002 .mt-xs-24 {
        margin-top: 24px;
    }
    .social-s002 .mt-xs-32 {
        margin-top: 32px;
    }
    .social-s002 .mt-xs-40 {
        margin-top: 40px;
    }
    .social-s002 .mt-xs-48 {
        margin-top: 48px;
    }
    .social-s002 .mt-xs-56 {
        margin-top: 56px;
    }
    .social-s002 .mt-xs-64 {
        margin-top: 64px;
    }
    .social-s002 .mt-xs-72 {
        margin-top: 72px;
    }
    .social-s002 .mt-xs-80 {
        margin-top: 80px;
    }
    .social-s002 .mt-xs-88 {
        margin-top: 88px;
    }
    .social-s002 .mt-xs-96 {
        margin-top: 96px;
    }
    .social-s002 .mt-xs-104 {
        margin-top: 104px;
    }
    .social-s002 .mt-xs-112 {
        margin-top: 112px;
    }
    .social-s002 .mt-xs-120 {
        margin-top: 120px;
    }
    .social-s002 .p0-xs {
        padding: 0;
    }
    .social-s002 .pt-xs-0 {
        padding-top: 0;
    }
    .social-s002 .pt-xs-8 {
        padding-top: 8px;
    }
    .social-s002 .pt-xs-16 {
        padding-top: 16px;
    }
    .social-s002 .pt-xs-24 {
        padding-top: 24px;
    }
    .social-s002 .pt-xs-32 {
        padding-top: 32px;
    }
    .social-s002 .pt-xs-40 {
        padding-top: 40px;
    }
    .social-s002 .pt-xs-48 {
        padding-top: 48px;
    }
    .social-s002 .pt-xs-64 {
        padding-top: 64px;
    }
    .social-s002 .pt-xs-72 {
        padding-top: 72px;
    }
    .social-s002 .pt-xs-80 {
        padding-top: 80px;
    }
    .social-s002 .pt-xs-88 {
        padding-top: 88px;
    }
    .social-s002 .pt-xs-96 {
        padding-top: 96px;
    }
    .social-s002 .pt-xs-104 {
        padding-top: 104px;
    }
    .social-s002 .pt-xs-112 {
        padding-top: 112px;
    }
    .social-s002 .pt-xs-120 {
        padding-top: 120px;
    }
    .social-s002 .pt-xs-160 {
        padding-top: 160px;
    }
    .social-s002 .pt-xs-180 {
        padding-top: 180px;
    }
    .social-s002 .pt-xs-240 {
        padding-top: 240px !important;
    }
    .social-s002 .pb-xs-0 {
        padding-bottom: 0;
    }
    .social-s002 .pb-xs-8 {
        padding-bottom: 8px;
    }
    .social-s002 .pb-xs-16 {
        padding-bottom: 16px;
    }
    .social-s002 .pb-xs-24 {
        padding-bottom: 24px;
    }
    .social-s002 .pb-xs-32 {
        padding-bottom: 32px;
    }
    .social-s002 .pb-xs-40 {
        padding-bottom: 40px;
    }
    .social-s002 .pb-xs-48 {
        padding-bottom: 48px;
    }
    .social-s002 .pb-xs-64 {
        padding-bottom: 64px;
    }
    .social-s002 .pb-xs-72 {
        padding-bottom: 72px;
    }
    .social-s002 .pb-xs-80 {
        padding-bottom: 80px;
    }
    .social-s002 .pb-xs-88 {
        padding-bottom: 88px;
    }
    .social-s002 .pb-xs-96 {
        padding-bottom: 96px;
    }
    .social-s002 .pb-xs-104 {
        padding-bottom: 104px;
    }
    .social-s002 .pb-xs-112 {
        padding-bottom: 112px;
    }
    .social-s002 .pb-xs-120 {
        padding-bottom: 120px;
    }
    .social-s002 .pb-xs-180 {
        padding-bottom: 180px;
    }
    .social-s002 .pb-xs-240 {
        padding-bottom: 240px !important;
    }
}


/*!---------- 37. AJUSTES ESPECIFICOS ----------*/

.social-s002 .bg-twitter {
    background: #2AA9E0;
}

.social-s002 .bg-facebook {
    background: #4867AA;
}

.social-s002 .font-socialMedia {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #fefefe;
}

.social-s002 .bg-youtube {
    background: #e12b28;
}

.social-s002 .bg-instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}