<section class="x_component_cta_cod_170 pad-default-element">
    <div class="container-fluid width-100">
        <div class="row text-left">
            <div class="jumbotron">
                <div class="item-contain text-center">
                    <h1 class="text-capitalize font-title" data-editable="true">Make your car shine</h1>
                    <h1 class="font-description" data-editable="true">
                        WE’LL MAKE YOUR CAR CLEAN OR WE’LL WASH IT AGAIN FOR FREE
                    </h1>
                    <div class="btn btn-color btn-lg " data-editable="true">CONTACT US</div>
                    <div class="item-img col-md-6 col-xs-12 ">
                        <img src="assets/images/component-cta-cod-170-01.jpg" alt="" class="image-responsive" data-image="true">
                    </div>
                    <div class="content-body-skin-1 col-md-4 col-xs-12 no-padding">
                        <div class="skin-1">
                            <h2 data-editable="true">Open time</h2>
                            <dl class="terms-list">
                                <dt data-editable="true">Winter Hours:</dt>
                                <dd data-editable="true">Everyday: 7AM to 7PM</dd>
                                <dt data-editable="true">Summer Hours:</dt>
                                <dd data-editable="true">Everyday: 7AM to 9PM</dd>
                                <dt data-editable="true">CLOSED</dt>
                                <dd data-editable="true">Christmas and Thanksgiving</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>