.text-t012 {
    background-color: #fbb005;
    padding: 20px 0;
    color: #222;
}

.text-t012 .inline-block {
    display: inline-block;
}

.text-t012 .cont_links {
    padding: 20px 0;
}

.text-t012 .cont_links .icon {
    font-size: 24px;
    position: relative;
}

.text-t012 .cont_logo_section img {
    max-height: 60px;
}

@media all and (max-width: 991px) {
    .text-t012 * {
        text-align: center;
        margin: 0 auto;
        padding: 0px;
    }
}