.x_component_header_cod_281 {
    font-size: 15px;
    font-weight: 400;
}

.x_component_header_cod_281 .navbar-brand{
    height:auto;
}

.x_component_header_cod_281 .inline-block {
    display: inline-block;
}

.x_component_header_cod_281 .form-control {
    border: 0;
    border-radius: 0px;
    color: #fff;
}

.x_component_header_cod_281 .navbar.navbar-default {
    border: none;
    border-radius: 0;
    background: transparent;
}

/*================ Nav Header ====================*/

.x_component_header_cod_281 .navbar.navbar-default .navbar-header {
    width: 100%;
    clear: both;
    margin-top: 30px;
    padding: 0 15px

}

.x_component_header_cod_281 .navbar.navbar-default .nav-info {
    float: right;
    width: 70%;
}


.x_component_header_cod_281 .navbar.navbar-default .navbar-brand {
    float: left;
    width:30%;
}
.x_component_header_cod_281 .navbar.navbar-default .nav-info img {
    float: right;

}
.x_component_header_cod_281 .dropdown-submenu>a:after{
    content: '';
}


@media (max-width: 768px) {

    .x_component_header_cod_281 .navbar.navbar-default .nav-info {

        width: 100%;

    }
    .x_component_header_cod_281 .navbar.navbar-default .nav-info img {
        float: none !important;
        margin: auto;
        width: 90%;

    }

    .x_component_header_cod_281 .container > .navbar-header {
        margin-left: 0px;
        margin-right: 0px;
    }

    .x_component_header_cod_281 .navbar.navbar-default .navbar-brand {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        height:auto;

    }
    .x_component_header_cod_281 .navbar.navbar-default .navbar-brand img{
        margin: auto;

    }

    .x_component_header_cod_281 .mobile-menu{
        width: 97%;
        margin: 15px auto;
    }
    .x_component_header_cod_281 .wrapper-menu{
        text-align: center;
    }
    .x_component_header_cod_281 .wrapper-menu .navbar-toggle{
        text-align: center;
        width:90%;
        border-radius: 0px;
        float:none;
    }

}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}

/* =========== wrapper nav =============*/

.x_component_header_cod_281 .wrapper-menu{
    position: relative;
    float: left;
    width: 100%;
}

.x_component_header_cod_281 .navbar.navbar-default .container .nav-info a:hover:before {
    opacity: .3;
}

.x_component_header_cod_281 .navbar.navbar-default .container #bs-example-navbar-collapse-1 {
    position: relative;
    background: #000000;
    width: 100%;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .x_component_header_cod_281 .wrapper-menu{
       margin-top: 30px;
    }

    .x_component_header_cod_281 .nav.navbar-nav>li .dropdown-menu {
        position: relative;
        left: auto;
         -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        /*!* transform: translateX(-50%);*/

        }


    }

    .x_component_header_cod_281 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a {
        padding-left: 39px;
        padding-right: 39px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #FFFFFF;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        border: 1px solid #3F3F3F;
        border-left: none;
        /*border-bottom: 1px solid #F7C204;*/
    position: relative;
    z-index: 100;
}

.x_component_header_cod_281 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    top: 100%;
    left: 0;
    background-color: rgba(113, 113, 113, 0.4);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.x_component_header_cod_281 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a:hover:before {
    height: 100%;
    top: 0%;
}

.x_component_header_cod_281 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.x_component_header_cod_281 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a.hovered:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(113, 113, 113, 0.4);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.x_component_header_cod_281 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li.active>a {
    color: #FFFFFF;
    text-decoration: none;
}

.x_component_header_cod_281 .navbar.navbar-default .container .breadcrumb {
    position: absolute;
    top: 99%;
    left: 0;
    width: 100%;
    display: block;
    border-radius: 0;
    padding: 15px 15px;
    z-index: 100;
}

.x_component_header_cod_281 .navbar.navbar-default .container .breadcrumb ul {
    padding-left: 15px;
    margin-bottom: 0;
}

.x_component_header_cod_281 .navbar.navbar-default .container .breadcrumb ul li a {
    text-transform: uppercase;
    margin: 0 10px 0 0;
    font-size: 12px;
    line-height: 19px;
    text-decoration: none;
    color: #FFFFFF;
}

.x_component_header_cod_281 .navbar.navbar-default .container .breadcrumb ul li a:hover {
    text-decoration: none;
}

.x_component_header_cod_281 .navbar.navbar-default .container .breadcrumb ul li .description {
    background: #DFDFDF;
    padding: 3px 3px;
    color: #333;
}

.x_component_header_cod_281 .nav.navbar-nav>li {
    position: relative;
}

.x_component_header_cod_281 .nav.navbar-nav>li .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
    padding: 15px 0;
    margin: 0;
    font-size: 13px;
    background-color: #000000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
}
@media (max-width: 768px) {

    .x_component_header_cod_281 .nav.navbar-nav>li .dropdown-menu {
        position: relative;
        left: auto;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        width: 100%;
        text-align: center;
        /*!* transform: translateX(-50%);*/

    }

    .x_component_header_cod_281 .nav.navbar-nav>li .dropdown-menu .dropdown-submenu>.dropdown-menu{
        left:auto;
        right:auto;
        height:auto;
        text-align: center;
    }


}

.x_component_header_cod_281 .nav.navbar-nav>li .dropdown-menu .dropdown-submenu>.dropdown-menu {
    left: 151%;
    top: -15px;
}
@media (max-width: 768px) {

    .x_component_header_cod_281 .nav.navbar-nav>li .dropdown-menu .dropdown-submenu>.dropdown-menu{
        left:auto;
        right:auto;
        height:auto;
        text-align: center;
        top: auto;
    }


}

.x_component_header_cod_281 .nav.navbar-nav>li .dropdown-menu .dropdown-submenu>.dropdown-menu a {
    padding-left: 10px;
    padding-right: 10px;
}

.x_component_header_cod_281 .nav.navbar-nav>li .dropdown-menu a {
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
    background: #000000;
    display: block;
    padding: 6px 14px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.x_component_header_cod_281 .nav.navbar-nav>li .dropdown-menu a:hover {
    background-color: rgba(113, 113, 113, 0.4);
    color: #FFFFFF;
}

.x_component_header_cod_281 .nav.navbar-nav>li .dropdown-menu a.hovered {
    background-color: rgba(113, 113, 113, 0.4);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_header_cod_281 .dropdown-submenu {
    position: relative;
}

.x_component_header_cod_281 .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.x_component_header_cod_281 .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.x_component_header_cod_281 .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.x_component_header_cod_281 .dropdown-submenu.pull-left {
    float: none;
}

.x_component_header_cod_281 .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}



.x_component_header_cod_281 .search-box {
    padding: 5px 0;
    position: relative;
}

.x_component_header_cod_281 .search-box input[type="text"] {
    width: 370px;
    background: transparent;
    border-radius: 25px;
    height: 40px;
    border: 1px solid #3C3C3C;
    text-indent: 50px;
    color: #a7a7a7;
}

.x_component_header_cod_281 .search-box input[type="submit"] {
    position: absolute;
    width: 40px;
    height: 45px;
    left: 10px;
    font-family: FontAwesome;
    color: #fff;
    background: transparent;
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    transform: rotate(-270deg);
    border: none;
    padding-bottom: 15px;
    padding-right: 12px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_header_cod_281 .search-box input[type="submit"]:hover {
    color: #a7a7a7;
}

@media (min-width: 1200px) and (max-width: 1350px) {
    .x_component_header_cod_281 .navbar.navbar-default .container .nav-info a {
        width: 600px;
    }
    .x_component_header_cod_281 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .x_component_header_cod_281 .navbar.navbar-default .container {
        width: 95%;
    }
    .x_component_header_cod_281 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .x_component_header_cod_281 .navbar.navbar-default .container {
        width: 100%;
        padding: 0;
    }
    .x_component_header_cod_281 .navbar.navbar-default .container .breadcrumb {
        top: 139%;
    }
    .x_component_header_cod_281 .navbar.navbar-default .container #bs-example-navbar-collapse-1 {
        bottom: unset;
        top: 100%;
        background: #000000;
    }
    .x_component_header_cod_281 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a {
        padding-left: 15px;
        padding-right: 15px;
    }

}

