<section class="x_component_boxes_cod_004 pad-default-element">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 item">
                <div class="item-content">
                    <div class="itemimg">
                        <img src="assets/img/COMPONENT_BOXES_COD_004-1.jpg" alt="" class="img-responsive" data-image="true">
                    </div>
                    <div class="position-box">
                        <h4 data-editable="true" class="boxes-module-title">Car Stereos</h4>
                        <ul class="list-unstyled">
                            <li>
                                <div data-editable="true">
                                   Car Stereo Receivers
                                </div>
                            </li>
                            <li>
                                <div data-editable="true">
                                    Car Stereo Installation
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class=" col-md-3 col-sm-6 item">
                <div class="item-content">
                    <div class="itemimg">
                        <img src="assets/img/COMPONENT_BOXES_COD_004-2.jpg" alt="" class="img-responsive" data-image="true">
                    </div>
                    <div class="position-box">
                        <h4 data-editable="true" class="boxes-module-title">Car Speakers & Subs</h4>
                        <ul class="list-unstyled">
                            <li>
                                <div data-editable="true">
                                    Car Speakers
                                </div>
                            </li>
                            <li>
                                <div data-editable="true">
                                    Subwoofers & Boxes
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
                <div class="item-content">
                    <div class="itemimg">
                        <img src="assets/img/COMPONENT_BOXES_COD_004-3.jpg" alt="" class="img-responsive" data-image="true">
                    </div>
                    <div class="position-box">
                        <h4 data-editable="true" class="boxes-module-title">Car Amps & Equalizers</h4>
                        <ul class="list-unstyled">
                            <li>
                                <div data-editable="true">
                                    Amplifiers
                                </div>
                            </li>
                            <li>
                                <div data-editable="true">
                                   Equalizers & Processors
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
                <div class="item-content">
                    <div class="itemimg">
                        <img src="assets/img/COMPONENT_BOXES_COD_004-4.jpg" alt="" class="img-responsive" data-image="true">
                    </div>
                    <div class="position-box">
                        <h4 data-editable="true" class="boxes-module-title">Car Video & GPS</h4>
                        <ul class="list-unstyled">
                            <li>
                                <div data-editable="true">
                                  Cameras & Video
                                </div>
                            </li>
                            <li>
                                <div data-editable="true">
                                   GPS Navigation
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>