<section class="img-i016 pad-default-elements">
    <div >
        <div class=" masonry masonryFlyIn">
            <div class="col-sm-4 masonry-item project" data-filter="">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/plat_componentes/20.jpg" data-image="true">
                    <div class="hover-state">
                        <a href="#" data-link="true">
                            <h3 class="uppercase mb8" data-editable="true">Carro </h3>
                            <h6 class="uppercase" data-editable="true">Marca / Modelo</h6>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 masonry-item project" data-filter="">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/plat_componentes/28.jpg" data-image="true">
                    <div class="hover-state">
                        <a href="#" data-link="true">
                            <h3 class="uppercase mb8" data-editable="true">Carro </h3>
                            <h6 class="uppercase" data-editable="true">Marca / Modelo</h6>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 masonry-item project" data-filter="">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/plat_componentes/24.jpg" data-image="true">
                    <div class="hover-state">
                        <a href="#" data-link="true">
                            <h3 class="uppercase mb8" data-editable="true">Carro </h3>
                            <h6 class="uppercase" data-editable="true">Marca / Modelo</h6>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 masonry-item project" data-filter="">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/plat_componentes/25.jpg" data-image="true">
                    <div class="hover-state">
                        <a href="#" data-link="true">
                            <h3 class="uppercase mb8" data-editable="true">Carro </h3>
                            <h6 class="uppercase" data-editable="true">Marca / Modelo</h6>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 masonry-item project" data-filter="People">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/plat_componentes/27.jpg" data-image="true">
                    <div class="hover-state">
                        <a href="#" data-link="true">
                            <h3 class="uppercase mb8" data-editable="true">Carro </h3>
                            <h6 class="uppercase" data-editable="true">Marca / Modelo</h6>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 masonry-item project" data-filter="People">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/plat_componentes/22.jpg" data-image="true">
                    <div class="hover-state">
                        <a href="#" data-link="true">
                            <h3 class="uppercase mb8" data-editable="true">Carro </h3>
                            <h6 class="uppercase" data-editable="true">Marca / Modelo</h6>
                        </a>
                    </div>
                </div>

            </div>
          <div class="clearfix"></div>
        </div>
    </div>
</section>