
    <section class="x_component_services_cod_136 pad-default-element">
        <div class="top-traingle border-default"></div>
        <div class="container">
            <div class="row">
                <h1 data-editable="true" class="font-title service-title ">services overview</h1>
                <div class="col-sm-6 no-padding clearfix">
                    <div class="service-container">
                        <div class="icon color-default">
                            <i data-icon="true" class="fa fa-compass"></i>
                        </div>
                        <div class="description">
                            <h3 class="font-title service-type-title titulo" data-editable="true">Oil Changes</h3>
                            <div class="font-description service-type-description sub-titulo" data-editable="true">Oil is the lifeblood of your vehicle. Regular oil changes performed at regular intervals (consult your owner's manual) not only keep your vehicle running at its best, but also helps avoid potential mechanical failure in the
                                future. </div>

                        </div>
                    </div>
                </div>
                <hr class="visible-xs">
                <div class="col-sm-6 no-padding clearfix">
                    <div class="service-container">
                        <div class="icon color-default">
                            <i data-icon="true" class="fa fa-compass"></i>
                        </div>
                        <div class="description">
                            <h3 class="font-title service-type-title titulo" data-editable="true">Transmission Services</h3>
                            <div class="font-description service-type-description sub-titulo" data-editable="true">At ACR Auto company, we service both manual and automatic transmission, diagnosing the root cause of the problem quickly to help you make the best decision for your car's repair.</div>

                        </div>
                    </div>
                </div>
                <hr class="visible-xs">
                <div class="col-sm-6 no-padding clearfix">
                    <div class="service-container">
                        <div class="icon color-default">
                            <i data-icon="true" class="fa fa-compass"></i>
                        </div>
                        <div class="description">
                            <h3 class="font-title service-type-title titulo" data-editable="true">Car Battery Check</h3>
                            <div class="font-description service-type-description sub-titulo" data-editable="true">Car Battery Check doesn't have to be expensive. Let us diagnose the problems for you and provide you with a free, no-obligations estimate. A lot of the time, you'll find our estimates to be well below other mechanical shops.</div>

                        </div>
                    </div>
                </div>
                <hr class="visible-xs">
                <div class="col-sm-6 no-padding clearfix">
                    <div class="service-container">
                        <div class="icon color-default">
                            <i data-icon="true" class="fa fa-compass"></i>
                        </div>
                        <div class="description">
                            <h3 class="font-title service-type-title titulo" data-editable="true">Brake Repair</h3>
                            <div class="font-description service-type-description sub-titulo" data-editable="true">At ACR Auto company, we want our customers to feel comfortable, confident, and safe behind the wheel. That means having brakes that are well maintained by certified professionals. </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="bottom-traingle border-default"></div>
    </section>