.ofertasdestaque-o005 .slick-prev:before,
.ofertasdestaque-o005 .slick-next:before {
    font-family: 'FontAwesome';
    font-size: 50px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ofertasdestaque-o005 .slider {
    width: 100%;
    margin: 100px auto;
}

.ofertasdestaque-o005 .slick-slide {
    margin: 0px 20px;
}

.ofertasdestaque-o005 .slick-slide img {
    width: 100%;
    height: 100%;
}

.ofertasdestaque-o005 .slick-prev:before,
.ofertasdestaque-o005 .slick-next:before {
    color: #555;
}

.ofertasdestaque-o005 .cont-img {
    overflow: hidden;
    position: relative;
}

.ofertasdestaque-o005 button.selectSite:hover {
    box-shadow: 0 0 5px #ffffff;
}

.ofertasdestaque-o005 ul {
    list-style: none;
    padding: 0px;
}

.ofertasdestaque-o005 button.selectSite {
    position: absolute;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #ffffff;
    /*opacity: 0.5;*/
    border-radius: 0;
    background-color: transparent;
    color: #ffffff;
    width: 50%;
    left: 25%;
    top: 25%;
}

.ofertasdestaque-o005 .cont-img:hover .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    /*opacity: 0;*/
    background-color: rgba(6, 6, 6, 0.3);
}

.ofertasdestaque-o005 .slick-prev {
    left: 0px;
}

.ofertasdestaque-o005 .slick-next {
    right: 0px;
}

.ofertasdestaque-o005 .slick-next,
.ofertasdestaque-o005 .slick-prev {
    position: absolute;
    z-index: 10000000;
    height: 100%;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 30%;
}

.ofertasdestaque-o005 .slick-prev:hover,
.ofertasdestaque-o005 .slick-prev:focus,
.ofertasdestaque-o005 .slick-next:hover,
.ofertasdestaque-o005 .slick-next:focus {
    color: transparent;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.ofertasdestaque-o005 .cont-infos-car {
    background-color: #fbfbfb;
    border: solid 1px #f2f5f7;
    box-shadow: 0 0 5px #d4cece;
    margin-bottom: 5px;
}

.ofertasdestaque-o005 .cont-infos-car .marca {
    padding-top: 10px;
}

.ofertasdestaque-o005 .cont-infos-car li * {
    text-transform: capitalize;
    display: inline;
}

.ofertasdestaque-o005 .cont-infos-car li .title {
    font-weight: bold;
}

.ofertasdestaque-o005 .cont-infos-car .visualiza {
    text-align: center;
}

.ofertasdestaque-o005 .cont-infos-car .visualiza a {
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: all 0.3s;
}

.ofertasdestaque-o005 .cont-infos-car .visualiza a i {
    padding-right: 10px;
}

.ofertasdestaque-o005 .cont-infos-car .visualiza:hover a {
    border-radius: 10px;
    border: solid #ccc 1px;
    transition: all 0.3s;
}

.ofertasdestaque-o005 .cont-infos-car .visualiza:hover a i {
    font-size: 20px;
    transition: all 0.3s;
}

.ofertasdestaque-o005 .slick-prev:hover,
.ofertasdestaque-o005 .slick-prev:focus,
.ofertasdestaque-o005 .slick-next:hover,
.ofertasdestaque-o005 .slick-next:focus {
    color: transparent;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.ofertasdestaque-o005 .slick-next:before {
    content: '\f105';
    margin-left: 0px;
}

.ofertasdestaque-o005 .slick-prev::before {
    content: '\f104';
    margin-right: 0px;
}

.ofertasdestaque-o005 ol,
.ofertasdestaque-o005 ul {
    list-style: none;
    padding: 0px;
}

.ofertasdestaque-o005 .slick-slide {
    margin: 0px 10px;
}