.menu-m016 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    background: #4c4c4c;
}

.menu-m016 .navbar-brand img {
    max-height: 130px;
}

.menu-m016 .dropdown-submenu>a:after {
    display: none;
}

.menu-m016 .navbar-brand,
.menu-m016 .navbar-nav>li>a {
    text-shadow: none;
}

.menu-m016 .inline-block {
    display: inline-block;
}

.menu-m016 .navbar.navbar-default {
    /*min-height: 310px;*/
    border: none;
    border-radius: 0;
    background: transparent;
}

.menu-m016 .navbar.navbar-default .navbar-header {
    padding: 15px;
}

.menu-m016 .navbar.navbar-default .navbar-brand {
    z-index: 1000;
    position: relative;
    padding: 0;
    width: 100%;
}

.menu-m016 .navbar.navbar-default .container {
    min-height: 210px;
    width: 80%;
    position: relative;
}

.menu-m016 .navbar.navbar-default .container .nav-info {
    width: 100%;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right;
}

.menu-m016 .navbar.navbar-default .container .nav-info ul {
    list-style: none;
}

.menu-m016 .navbar.navbar-default .container .nav-info ul li {
    float: right;
    padding: 10px;
}

.menu-m016 .navbar.navbar-default .container .nav-info ul li a {
    text-decoration: none;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
}

.menu-m016 .navbar.navbar-default .container .nav-search-box {
    position: absolute;
    right: 0;
    bottom: 100px;
    right: 26px;
    text-align: right;
}

.menu-m016 .navbar.navbar-default .container .nav-search-box .search-box {
    float: right;
    padding: 5px 0;
    position: relative;
}

.menu-m016 .navbar.navbar-default .container .nav-search-box .search-box input[type="text"] {
    width: 370px;
    background: #FFFFFF;
    border-radius: 25px;
    height: 40px;
    border: 1px solid #FFFFFF;
    text-indent: 50px;
    color: #a7a7a7;
}

.menu-m016 .navbar.navbar-default .container .nav-search-box .search-box input[type="submit"] {
    position: absolute;
    width: 40px;
    height: 45px;
    right: 10px;
    top: 6px;
    font-family: FontAwesome;
    color: #2F3131;
    background: transparent;
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    transform: rotate(-270deg);
    border: none;
    padding-bottom: 15px;
    padding-right: 12px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu-m016 .navbar.navbar-default .container .nav-search-box .cart-holder {
    position: relative;
    z-index: 10;
    padding: 7px 0 10px 10px;
    text-align: left;
    float: right;
    margin-top: 8px;
}

.menu-m016 .navbar.navbar-default .container .nav-search-box .cart-holder h3 {
    display: inline-block;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    font-weight: normal;
}


/*.menu-m016 .navbar.navbar-default .container .nav-search-box .cart-holder h3:before {
    font-family: FontAwesome;
    font-weight: normal;
    display: inline-block;
    content: "\f07a";
    font-size: 16px;
    margin: 0 6px 0 0;
}*/

.menu-m016 .navbar.navbar-default .container .nav-search-box .cart-holder h3 .cart-items {
    display: inline-block;
    background: #292929;
    color: #fff;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-m016 .navbar.navbar-default .container .nav-search-box .cart-holder .widget_shopping_cart_content {
    display: none;
    position: absolute;
    width: 210px;
    padding: 10px;
    right: 0;
    top: 100%;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    text-align: left;
}

.menu-m016 .navbar.navbar-default .container #bs-example-navbar-collapse-1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0;
}

.menu-m016 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a {
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-left: none;
    position: relative;
    z-index: 100;
}

.menu-m016 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    bottom: 100%;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.menu-m016 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a:hover:before {
    height: 100%;
    bottom: 0%;
}

.menu-m016 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a:hover {
    text-decoration: none;
}

.menu-m016 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a.hovered:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.menu-m016 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li.active>a {
    text-decoration: none;
}

.menu-m016 .navbar.navbar-default .container .breadcrumb {
    position: absolute;
    top: 99%;
    left: 0;
    background: #FFFFFF;
    width: 100%;
    display: block;
    border-radius: 0;
    padding: 15px 15px;
    z-index: 100;
}

.menu-m016 .navbar.navbar-default .container .breadcrumb ul {
    padding-left: 15px;
    margin-bottom: 0;
}

.menu-m016 .navbar.navbar-default .container .breadcrumb ul li a {
    text-transform: uppercase;
    margin: 0 10px 0 0;
    font-size: 12px;
    line-height: 19px;
    text-decoration: none;
    color: #FFFFFF;
}

.menu-m016 .navbar.navbar-default .container .breadcrumb ul li a:hover {
    text-decoration: none;
}

.menu-m016 .navbar.navbar-default .container .breadcrumb ul li .description {
    background: #DFDFDF;
    padding: 3px 3px;
    color: #333;
}

.menu-m016 .nav.navbar-nav>li {
    position: relative;
}

.menu-m016 .nav.navbar-nav>li .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
}

.menu-m016 .dropdown-menu>li>a:focus,
.menu-m016 .dropdown-menu>li>a:hover {
    background-color: transparent;
    background-image: none !important;
}

.menu-m016 .navbar-default .navbar-nav>.active>a,
.menu-m016 .navbar-default .navbar-nav>.open>a {
    background-color: transparent;
    background-image: none !important;
}

.menu-m016 .nav.navbar-nav>li .dropdown-menu .dropdown-submenu>.dropdown-menu {
    left: 151%;
    top: -15px;
}

.menu-m016 .nav.navbar-nav>li .dropdown-menu .dropdown-submenu>.dropdown-menu a {
    padding-left: 10px;
    padding-right: 10px;
}

.menu-m016 .nav.navbar-nav>li .dropdown-menu a {
    font-size: 13px;
    line-height: 21px;
    display: block;
    padding: 6px 14px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.menu-m016 .nav.navbar-nav>li .dropdown-menu a.hovered {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu-m016 .dropdown-submenu {
    position: relative;
}

.menu-m016 .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.menu-m016 .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.menu-m016 .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.menu-m016 .dropdown-submenu.pull-left {
    float: none;
}

.menu-m016 .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.menu-m016 .navbar-toggle {
    display: none;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .menu-m016 .navbar.navbar-default .container {
        width: 95%;
    }
    .menu-m016 .navbar.navbar-default .container .nav-info a {
        width: 600px;
    }
    .menu-m016 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a {
        padding-left: 25px;
        padding-right: 25px;
    }
    .menu-m016 .search-box input[type="text"] {
        width: 230px;
    }
}

@media all and (max-width: 990px) {
    .menu-m016 .navbar.navbar-default .container .nav-info ul li {
        float: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .menu-m016 .navbar.navbar-default .container {
        width: 100%;
        padding: 0;
    }
    .menu-m016 .navbar.navbar-default .container .breadcrumb {
        top: 139%;
    }
    .menu-m016 .navbar.navbar-default .container .nav-info a {
        width: 440px;
    }
    .menu-m016 .navbar.navbar-default .container #bs-example-navbar-collapse-1 {
        bottom: unset;
        top: 100%;
        background: #2F3131;
    }
    .menu-m016 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a {
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu-m016 .search-box input[type="text"] {
        width: 200px;
    }
}

@media screen and (max-width: 767px) {
    .menu-m016 .navbar.navbar-default .container {
        width: 100%;
        padding: 0;
        padding-left: 10px;
        min-height: 410px;
    }
    .menu-m016 .navbar.navbar-default .container .nav-search-box {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        display: block;
    }
    .menu-m016 .navbar.navbar-default .container .nav-search-box .search-box {
        float: none;
        margin: 0 auto;
        display: block;
    }
    .menu-m016 .navbar.navbar-default .container .nav-search-box .search-box input[type="text"] {
        width: 300px;
    }
    .menu-m016 .navbar.navbar-default .container .nav-search-box .cart-holder {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .menu-m016 .navbar.navbar-default .container .breadcrumb ul {
        padding: 0;
    }
    .menu-m016 .navbar.navbar-default .container .breadcrumb ul li {
        width: 100%;
    }
    .menu-m016 .navbar.navbar-default .container .breadcrumb ul li a {
        text-align: center;
        display: block;
        width: 100%;
    }
    .menu-m016 #bs-example-navbar-collapse-1 {
        bottom: unset;
        top: 100%;
        background: #2F3131;
    }
    .menu-m016 .navbar.navbar-default .container .nav-info {
        width: 100%;
        /*display: unset;*/
        position: relative;
        right: 50%;
        top: 140px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        display: block;
        text-align: center;
    }
    .menu-m016 .navbar.navbar-default .container .nav-info a {
        width: 100%;
    }
    .menu-m016 .navbar.navbar-default .container .nav-info p {
        position: relative;
        font-size: 27px;
        text-align: center;
    }
    .menu-m016 .navbar.navbar-default .container .nav-info p span {
        position: absolute;
        top: -65px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .menu-m016 .navbar.navbar-default .container #bs-example-navbar-collapse-1 {
        height: 70px!important;
    }
    .menu-m016 .navbar.navbar-default .container {
        width: 100%;
    }
    .menu-m016 .navbar.navbar-default .container .navbar-header {
        width: 100%;
    }
    .menu-m016 .navbar-brand {
        position: relative;
        width: 100%;
        padding-bottom: 20px;
    }
    .menu-m016 .navbar-brand img {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .menu-m016 .mobile-menu {
        position: absolute;
        bottom: 15px;
        width: 97%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}