@header-text-color: #ffffff;
@footer-bg-color: #232323;
@text-title-color: #ffffff;
@text-color: #888886;
@social-icon-color: #363030;

@font-family-name: 'Raleway', sans-serif;
@main-class:x_component_footer_cod_091;
@mobileView: 768px;

.transition(@timer){
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.border-radius(@percent){
  -webkit-border-radius:@percent;
  -moz-border-radius:@percent;
  border-radius:@percent;
}
.position(@left,@top){
  position: absolute;
  top: @top;
  left: @left;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.@{main-class}{
  background: @footer-bg-color;
  font-family: @font-family-name;
  color: @text-color;
  overflow: hidden;


  .no-padding{
    padding-left: 0;
    padding-right: 0;
  }
  .footer-module-title{
    font-size: 56px;
    color: @header-text-color;
    font-weight: bold;
    margin-top: 100px;
  }
  .contacts{
    li{
      line-height: 30px;
      font-size: 15px;
      >div>p{
        display: inline-block;
        color: @text-title-color;
        margin-right: 5px;
      }


      > div > a{
        text-decoration: none;
        color: @text-color;
        .transition(.5s);

        &:hover,&:focus{
          text-decoration: none;
          color: @text-title-color;
        }
      }
    }
  }

  .footer-social {
    margin-top: 30px;
    margin-bottom: 30px;
    li{
      width: 70px;
      height: 70px;
      background: @footer-bg-color;
      position: relative;
      border: 2px solid @social-icon-color;
      .transition(.5s);
      margin-right: 10px;
      margin-left: 4px;

      &:hover{
        border: 2px solid @text-title-color;
      }
      &:hover > a >i,&:focus  > a >i{
        color:@text-title-color;
      }

    }
  }
  .footer-social li a i{

    .position(50%,50%);
    font-size: 35px;
    color: @social-icon-color;
    .transition(.5s);
  }
  .copyright{
    margin-bottom: 100px;
    color: @text-title-color;
    font-size: 11px;
    a{
      color: @text-title-color;
      text-decoration: none;
      &:hover,&:focus{
        color: @text-title-color;
        text-decoration: none;
      }
    }
  }
  #map{
    width: 100%;
    height: 590px;
  }

  @media screen and (max-width: @mobileView){
    .text-xs-center{
      text-align: center;

    }
  }

}




