<section class="x_component_slider-box_cod_093 pad-default-elements">
    <div class="carousel-item">
        <div class="top-banner">
            <img class="img-responsive" data-image="true" src="assets/img/component_slider-box_cod_093_01.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="banner-box clearfix">
            <div class="col-sm-4 clearfix">
                <h1 class="font-title title" data-editable="true">Our Advantages</h1>
                <ul class="list-unstyled advantage">
                    <li>
                        <i class="fa fa-check-circle color-default" data-icon="true"></i>
                        <div class="inline-block" data-editable="true"> Diagnostics & Brake Check</div>
                    </li>
                    <li>
                        <i class="fa fa-check-circle color-default" data-icon="true"></i>
                        <div class="inline-block" data-editable="true">Certified repair services</div>
                    </li>
                    <li>
                        <i class="fa fa-check-circle color-default" data-icon="true"></i>
                        <div class="inline-block" data-editable="true"> Fair price repair estimates</div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h1 data-editable="true" class="font-title title">opening hours</h1>
                <ul class="list-unstyled schedule">
                    <li>
                        <div data-editable="true">Sunday</div>
                        <div class="cont-text-right inline-block" data-editable="true">05:00 – 22:00</div>
                    </li>
                    <li>
                        <div data-editable="true">Sunday</div>
                        <div class="cont-text-right inline-block" data-editable="true">05:00 – 22:00</div>
                    </li>
                    <li>
                        <div data-editable="true">Sunday</div>
                        <div class="cont-text-right inline-block" data-editable="true">05:00 – 22:00</div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h1 class="font-title title" data-editable="true">Get in touch</h1>
                <ul class="list-unstyled get-in-touch">
                    <li>
                        <div data-editable="true" class="touch-number">(415) 347-3160</div>
                    </li>
                    <li>
                        <div data-editable="true" class="mobile">Mobile: 02 562-958</div>
                    </li>
                    <li>
                        <div data-editable="true" class="fax">Fax: 02 562-95</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>