<div>
  <div class="service-s003">
    <div class="container">
      <div class="row mb64 mb-xs-24">
        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
          <h2 data-editable="true">Escreva um título</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-6 mb40 mb-xs-24">
          <i class="fa fa-desktop icon inline-block mb16 fade-3-4 color-default" data-icon="true"></i>
          <h3 data-editable="true">Título</h3>
          <div data-editable="true">Financie a compra do seu veículo. O carro dos seus sonhos pode ser seu. A gente te ajuda a conseguir. </div>
        </div>
        <div class="col-md-5 col-sm-6 mb40 mb-xs-24">
          <i class="fa fa-home icon inline-block mb16 fade-3-4 color-default" data-icon="true"></i>
          <h3 data-editable="true">Título</h3>
          <div data-editable="true">A maneira mais rápida de vender o seu carro. Velocidade e segurança na hora de negociar.</div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-6 mb40 mb-xs-24">
          <i class="fa fa-picture-o icon inline-block mb16 fade-3-4 color-default" data-icon="true"></i>
          <h3 data-editable="true">Título</h3>
          <div data-editable="true">Agende online seu Test Drive, no horário que for mais conveniente para você.</div>
        </div>
        <div class="col-md-5 col-sm-6 mb40 mb-xs-24">
          <i class="fa fa-bar-chart icon inline-block mb16 fade-3-4 color-default" data-icon="true"></i>
          <h3 data-editable="true">Título</h3>
          <div data-editable="true">Noticias de veículos premium reunindo diversos portais especializados.</div>
        </div>
      </div>
    </div>
  </div>
</div>