<div class="imagem-i002 pad-default-elements">
    <div class="container">
        <div class="row">
            <h4 data-editable="true">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor :) </h4>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img data-image="true" class="lib-img-show" src="http://placehold.it/260x260">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header" data-editable="true">Escreva um Titulo
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc" data-editable="true">
                                Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 no-padding lib-item" data-category="ui">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img data-image="true" class="lib-img" src="http://placehold.it/260x260">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header" data-editable="true">
                                Escreva um Titulo
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc" data-editable="true">
                                Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>