<footer id="footer" class="pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-1">
                <div class="col-md-3 text-center-xs">
                    <div class="cont-logo-footer">
                        <img src="http://sites.vmwm.com.br/uploads/elements/26ebd71221acba46fc0a94b9ce5887e0/img/logolegal.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 text-center-xs">
                    <div class="cont-info">
                        <p data-editable="true">SOBRE KAWASAKI</p>
                        <ul>
                            <li><a href="javascript:;" data-editable="true"><i class="fa fa-angle-right color-default" aria-hidden="true"></i>Kawasaki no Brasil </a></li>
                            <li><a href="javascript:;" data-editable="true"><i class="fa fa-angle-right color-default" aria-hidden="true"></i>Kawasaki no Mundo </a></li>
                            <li><a href="javascript:;" data-editable="true"><i class="fa fa-angle-right color-default" aria-hidden="true"></i>Símbolo do Desafio </a></li>
                            <li><a href="javascript:;" data-editable="true"><i class="fa fa-angle-right color-default" aria-hidden="true"></i>Tecnologias Kawasaki </a></li>
                            <li><a href="javascript:;" data-editable="true"><i class="fa fa-angle-right color-default" aria-hidden="true"></i>Política de Privacidade </a></li>
                        </ul>
                    </div>
                    <div class="text" data-editable="true">Fale Conosco</div>
                    <p data-editable="true">Atendimento: Segunda á sexta-feira, das 9h00 ás 19h00 e Sábado, das 9h00 ás 14h00.</p>
                    <p data-editable="true">Contato: (00) 0000-0000</p>
                </div>
                <div class="col-md-3 text-center-xs">
                    <form>
                        <div class="form-group cont-info">
                            <label for="email" data-editable="true">Receba nossas informações:</label>
                            <input type="email" class="form-control layout-btn" id="email" placeholder="E-mail">
                        </div>
                        <button type="submit" class="btn btn-default btn-block btn-color layout-btn"><span data-editable="true">Enviar</span></button>
                    </form>
                    <div class="text mt-social" data-editable="true">Redes Sociais</div>
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="javascript:;" data-editable="true" data-link="true"><span class="icon fa fa-facebook-f"></span> Facebook</a>
                            </li>
                            <li><a href="javascript:;" data-editable="true" data-link="true"><span class="icon fa fa-twitter"></span> Twitter</a>
                            </li>
                            <li><a href="javascript:;" data-editable="true" data-link="true"><span class="icon fa fa-instagram"></span> Instagram</a>
                            </li>
                            <li><a href="javascript:;" data-editable="true" data-link="true"><span class="icon fa fa-skype"></span> Skype</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom text-center">
        <span class="title-footer" data-editable="true">© 2017 Todos os direitos Reservados</span>
    </div>
</footer>