#footer {
    background: #333333;
    color: #fff;
    margin-top: 50px;
    padding: 20px 0 0;
}
 #footer .topo > .logo-footer {
    display: block;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

#footer .topo > .logo-footer:before,
#footer .topo > .logo-footer_before {
    content: "";
    display: block;
    height: 100%;
    vertical-align: middle;
}

#footer .topo >.logo-footer  a {
    display: block;
    vertical-align: middle;
}
#footer .topo .logo-footer  img{
    width:80%;
}
#footer .topo .logo-footer >img,
#footer .topo .logo-footer a img {
    vertical-align: middle;
}

#footer .topo.row {
    padding-bottom: 15px;
    border-bottom: 1px #a5a5a5 solid;
}

#footer #formNewsletter .form-control{
    border:none;
    border-radius: 0px;
}

#footer .row > .endFooter {
    padding: 8px 10px;
}

#footer .row > .endFooter > p {
    font-size: 11px;
    font-weight: 300;
    margin: 0 5px 5px 5px;
}

#footer .row .endFooter ul.info-footer li i{
    float: left;
    line-height: inherit;
    padding-right: 4px;
}

@media (max-width: 991px){

    #footer .row .endFooter ul.info-footer li i{
        float: none;

    }
    #footer .topo{
        text-align: center;
    }
}

#footer .row .endFooter ul.info-footer{
    padding:0px;

    width: 100%;
}

#footer .row .endFooter ul.info-footer li,
#footer .row .endFooter ul.info-footer{
    list-style: none;
    list-style-type: none;
    display: inline-block;

}


#footer .row > div .socialFooter {
    border-right: 1px #fefeff solid;
    margin: 20px 0;
}

#footer .row > div > .socialFooter > h2,
#footer .row > div > .boxNewsletter > h2 {
    font-weight: 700;
    font-size: 16px;
}

#footer .row > div > .socialFooter > p,
#footer .row > div > .boxNewsletter > p {
    font-size: 12px;
}

#footer .row > div > .socialFooter > .social-footer > a.btnSocial {
    position: relative;
    width: 59px;
    height: 61px;
    display: inline-block;
    margin-right: 10px;
    background: #333;
    padding: 7px;
    font-size: 35px;
    color: #FFF;
    text-align: center;
}

#footer .row > div > .socialFooter > .social-footer > a.btnSocial.face {
    background: #0567c2
}

#footer .row > div > .socialFooter > .social-footer > a.btnSocial.instagram {
    background: #999
}

#footer .row > div > .socialFooter > .social-footer > a.btnSocial.twitter {
    background: #79c2ff
}

#footer .row > div > .socialFooter > .social-footer > a.btnSocial:hover:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
}

#footer .row div .empresaFooter {
    margin: 20px 0;
}

#footer .row > div > .empresaFooter h2 {
    font-size: 15px;
}

#footer .row > div > .empresaFooter p {
    font-size: 12px;
}

#footer .row > div > .boxNewsletter {
    margin: 20px 0;
    padding-left: 20px;
    height: 170px;
    border-left: 1px #fefeff solid;
}

#footer .row > div > .boxNewsletter > #div_newsletter {
    position: relative;
}

#footer .row > div > .boxNewsletter > #div_newsletter > input#email_newsletter {
    padding: 10px;
    width: 100%;
    font-size: 12px;
    background: #545454;
    border: 0;
}

#footer .row > div > .boxNewsletter > #div_newsletter input#btnNewsletter {
    margin-top: 1px;
    padding: 10px;
    width: 100%;
    font-size: 12px;
    background: #000;
    border: 0;
}

#footer .row.copy {
    background: #000000 ;
}

#footer  .copyright p {
    font-size: 12px;
    margin: 0;
    padding: 10px 0;
}
#footer  .copyright div {
    padding: 10px;
}


#footer  .copyright p a {
    color: #fff;
}

#footer .copyright p a:hover {
    text-decoration: none;
}


/* Responsive */
@media (max-width: 575px) {
    #footer .row > .endFooter {
        margin-top: 0;
        padding: 15px 0 0;
        border:  none;
        border-top: 1px #a5a5a5 solid;
    }

    #footer .row > div > .socialFooter,
    #footer .row > div > .empresaFooter,
    #footer .row > div > .boxNewsletter {
        margin-bottom: 20px;
        padding-bottom: 20px;
        height: auto;
        border: none;
        text-align: center;
        border-bottom: 1px #a5a5a5 dotted;
    }
    
    #footer .row > div > .empresaFooter,
    #footer .row > div > .empresaFooter > h2,
    #footer .row > div > .boxNewsletter > h2 {
        margin-top: 0;
    }
    
    #footer .row > div > .empresaFooter > p {
        margin-bottom: 0;
    }

    #footer .row > div > .boxNewsletter {
        margin-top: 0;
        border: none;
    }
}

