<section class="video-001">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 data-editable="true">Escreva um título </h1>
                <div class="small" data-editable="true">Escreva uma pequena descrição</div>
                <div data-editable="true">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book.</div>
            </div>
            <div class="col-md-6 video-edit" data-video="true"></div>
        </div>
    </div>
</section>