.x_component_footer_cod_250 {
    background: #252528;
    font-size: 14px;
    color: #89888c;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.x_component_footer_cod_250 >.container{
  	padding:0;
} 
.x_component_footer_cod_250 .row.no-gutters>[class^="col-"],
.x_component_footer_cod_250 .row.no-gutters>[class*=" col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.x_component_footer_cod_250 .font-title {
    font-size: 46px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 20px;
}

.x_component_footer_cod_250 .social-wrapper {
    padding: 20px 0;
}

.x_component_footer_cod_250 .copy {
    margin: 20px 0;
}

.x_component_footer_cod_250 .copy {
    text-decoration: none;
    color: #89888c;
}

.x_component_footer_cod_250 .copy:hover {
    filter: opacity(80%);
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

.x_component_footer_cod_250 .social {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
}

.x_component_footer_cod_250 .social-icons li {
    color: #fff;
  text-indent: 0px;
}

.x_component_footer_cod_250 .social-icons>li:hover .social {
    filter: opacity(60%);
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

.x_component_footer_cod_250 .address-wrapper {
    padding: 40px 0;
}

.x_component_footer_cod_250 .text {
    font-weight: 400;
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;
    color: #89888c;
    font-size: 14px;
    line-height: 2.0;
    letter-spacing: 0px;
}

.x_component_footer_cod_250 .map {
    width: 100%;
    min-height: 300px;
}