.imagem-i002 {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.imagem-i002 .lib-panel {
    margin-bottom: 20Px;
}

.imagem-i002 .lib-panel img {
    width: 100%;
  	height: 200px;
    background-color: transparent;
  	display:block;
}

.imagem-i002 .lib-panel .row,
.imagem-i002 .lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}

.imagem-i002 .lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.imagem-i002 .lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.imagem-i002 .lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.imagem-i002 .lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}

/*.imagem-i002 .lib-panel .lib-row.lib-desc a {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}*/

.imagem-i002 .box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
}

.imagem-i002 .no-padding {
    padding: 0;
}