<div class="cta-c007 pad-default-elements">
  <section class="pb0">
    <div class="container">
      <div class="row mb-xs-32">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
          <h1 class="large" data-editable="true">Título editável</h1>
          <div class="lead mb48 mb-xs-32 fade-1-4" data-editable="true"><p>Digite seu texto aqui.</p>
          </div>
          <a data-editable="true" class="btn btn-lg btn-filled btn-color layout-btn" href="#" data-link="true">Escreva aqui</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
          <img class="img-responsive" alt="" src="http://srv4.vmwm.com.br/img/app6.png" data-image="true">
        </div>
      </div>
    </div>
  </section>
</div>