.janela-j001 .boilerplate-template {
    padding: 40px 15px;
    text-align: center;
}

.janela-j001 .close {
    float: right;
    font-size: 36px;
    color: #c7c7c7;
    text-shadow: 0 1px 0 #c7c7c7;
    opacity: 9;
}

.janela-j001 .projects {
    color: #313437;
    background-color: #fff;
}

.janela-j001 .projects p {
    color: #7d8285;
}

.janela-j001 .projects .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 10px;
}

.janela-j001 .projects .projects {
    padding-bottom: 40px;
}

.janela-j001 h1,
.janela-j001 h2,
.janela-j001 h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

@media (max-width:991px) {
    .janela-j001 .projects .cont-text {
        padding-left: inherit;
        text-align: center;
    }
    .janela-j001 .projects .cont-img img {
        width: 100%;
    }
}

.janela-j001 .projects .item .description {
    font-size: 15px;
    margin-bottom: 0;
}

.janela-j001 .projects .cont-img {
    overflow: hidden;
    position: relative;
}

.janela-j001 .projects .more-infos {
    height: 30px;
    background-color: #313131;
    bottom: 30px;
    text-align: center;
    padding-top: 5px;
}

.janela-j001 .projects .more-infos:hover {
    padding-top: 60px;
}

.janela-j001 .projects i {
    color: #fff;
}

.janela-j001 .projects .cont-img img {
    box-shadow: 0px 1px 7px 3px rgba(119, 119, 119, 0.21);
    -moz-box-shadow: 0px 1px 7px 3px rgba(119, 119, 119, 0.21);
    -webkit-box-shadow: 0px 1px 7px 3px rgba(119, 119, 119, 0.21);
    width: 100%;
    position: static;
}

.janela-j001 .modal-header {
    min-height: inherit;
    padding: inherit;
    border-bottom: inherit;
}

.janela-j001 .modal-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.janela-j001 .modal-footer:after {
    display: table;
    content: '';
}

@media screen and (min-width: 768px) {
    .janela-j001 .modal-dialog {
        width: 60%;
        margin: 20%;
    }
}

.janela-j001 .half-width {
    width: 50%;
}

.janela-j001 .modal-content {
    position: relative;
    background-color: #fff;
    border: 0px;
    border: 0px;
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.janela-j001 .left {
    float: left;
}

.janela-j001 .wrap-text-modal {
    margin: 13%;
}

@media all and (max-width:1030px) {
    .janela-j001 .wrap-text-modal {
        margin-bottom: 0px;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 5px;
    }
}

@media all and (max-width:540px) {
    .janela-j001 .wrap-text-modal {
        margin-bottom: 10px;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 5px;
    }
    .janela-j001 .left {
        float: inherit;
    }
    .janela-j001 .half-width {
        width: 100%;
    }
}

.janela-j001 .close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
}