<div class="highlights-h003 pad-default-elements">
    <div class="pad-anuncio">
        <div class="offer-car">
            <div class="container">
                <div class="row image-box listing-car car">
                    <div class="col-sm-6 col-md-3">
                        <article class="box" data-destaque-template="true">
                            <figure>
                                <span><img alt=" " src="#destaqueImage#"></span>
                            </figure>
                            <div class="details">
                                <span class="price"><small>Por</small><div class="color-default ">R$ #destaquePrice#</div></span>
                                <h4 class="box-title">#destaqueModel#<small>#destaqueBrand#</small></h4>
                                <hr>
                                <p class="ano"><span class="color-ano color-default ">Ano:</span> #destaqueYear#</p>
                                <div class="action">
                                    <a href="#estoqueLink#" class="button btn-small full-width layout-btn btn-color"><i class="fa fa-plus" data-icon="true"></i><span data-editable="true"> Informações</span></a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>