<section class="x_component_footer_cod_002 pad-default-element">

    <div class="container">
        <div class="row text-xs-center">
            <div class="col-sm-3">
                <h1 data-editable="true" class="footer-module-title">Navigation</h1>
                <ul class="list-unstyled footer-menu">
                    <li class="active">
                        <div data-editable="true">Home</div>
                    </li>
                    <li>
                        <div data-editable="true">Online Store</div>
                    </li>
                    <li>
                        <div data-editable="true">About us</div>
                    </li>
                    <li>
                        <div data-editable="true">Blog</div>
                    </li>
                    <li>
                        <div data-editable="true">Contacts</div>
                    </li>
                </ul>
            </div>
            <hr class="visible-xs">
            <div class="col-sm-3">
                <h1 data-editable="true" class="footer-module-title">Information</h1>
                <ul class="list-unstyled footer-menu">

                    <li>
                        <div data-editable="true">=About Us</div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Terms & Conditions
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Account
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="visible-xs">
            <div class="col-sm-3">
                <h1 data-editable="true" class="footer-module-title">Extras</h1>
                <ul class="list-unstyled footer-menu">

                    <li>
                        <div data-editable="true">
                            Create an Account
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            List orders
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Compare
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Wishlist
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="visible-xs">
            <div class="col-sm-3">
                <h1 data-editable="true" class="footer-module-title">Contact Us</h1>
                <ul class="list-unstyled contact-info">
                    <li>
                        <i data-icon="true" class="fa fa-map-marker color-default" aria-hidden="true"></i>
                        <div data-editable="true">My Company Glasgow D04 89GR</div>
                    </li>
                    <li>
                        <i data-icon="true" class="fa fa-phone color-default" aria-hidden="true"></i>
                        <div data-editable="true">800-2345-6789</div>
                    </li>
                    <li class="text-lowercase">
                        <i data-icon="true" class="fa fa-envelope color-default" aria-hidden="true"></i>
                        <div data-editable="true">info@demolink.org</div>
                    </li>
                </ul>
                <ul class="list-unstyled list-inline footer-social" data-social="true">
                    <li><a class="color-default-hover" target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <div data-editable="true">WebMotors © 2017 Privacy Policy</div>
                </div>
            </div>
        </div>
    </div>
</section>