.x_component_slider-box_cod_093 {
    color: #cacaca;
    font-family: 'Open Sans', sans-serif;
}

.x_component_slider-box_cod_093 .inline-block {
    display: inline-block;
}

.x_component_slider-box_cod_093 .top-banner .slider-subtitle {
    line-height: 1.16667;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.x_component_slider-box_cod_093 .top-banner .slider-title {
    line-height: 1.12;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
}

.x_component_slider-box_cod_093 .top-banner .slider-description {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
    max-width: 375px;
}

.x_component_slider-box_cod_093 .top-banner .slider-btn {
    text-decoration: none;
    border: 1px solid #ffffff;
    background: transparent;
    text-transform: uppercase;
    padding: 16px 23px;
    font-size: 14px;
    line-height: 24px;
    margin-top: 100px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_slider-box_cod_093 .banner-box {
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px #ccc6cc;
    -moz-box-shadow: 0px 0px 5px 0px #ccc6cc;
    box-shadow: 0px 0px 5px 0px #ccc6cc;
    margin-top: -70px;
    margin-bottom: 100px;
    min-height: 100px;
    padding: 50px 20px 50px 20px;
    z-index: 2;
    position: relative;
}

.x_component_slider-box_cod_093 .banner-box .title {
    margin: 0 0 30px 0;
    padding: 0;
    line-height: 1.33333;
    font-size: 18px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.x_component_slider-box_cod_093 .banner-box .title:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
    width: 60px;
    height: 1.5px;
    background: #777;
}

.x_component_slider-box_cod_093 .banner-box .advantage>li {
    position: relative;
}

.x_component_slider-box_cod_093 .banner-box .advantage>li i {
    font-size: 12px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    font-size: 20px;
}

.x_component_slider-box_cod_093 .banner-box .advantage>li div {
    font-size: 14px;
    margin-left: 30px;
    line-height: 20px;
    padding-bottom: 5px;
    font-weight: 400;
}

.x_component_slider-box_cod_093 .banner-box .schedule li>div {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 5px;
    font-weight: 400;
    display: inline-block;
}

.x_component_slider-box_cod_093 .banner-box .schedule li>div>.cont-text-right {
    font-size: 14px;
    font-weight: 400;
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    margin-left: 10px;
}

.x_component_slider-box_cod_093 .banner-box .get-in-touch li>div {
    font-size: 14px;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
}

.x_component_slider-box_cod_093 .banner-box .get-in-touch {
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_slider-box_cod_093 .banner-box .get-in-touch a:hover {
    text-decoration: none;
}

.x_component_slider-box_cod_093 .banner-box .get-in-touch .touch-number {
    font-weight: 600;
    font-size: 18px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_slider-box_cod_093 .carousel-item>img {
    height: 575px;
    width: 100%;
}


/*.x_component_slider-box_cod_093 .carousel-caption {
    height: auto;
    bottom: 55%;
    text-align: right;
}*/

@media all and (max-width: 1200px) {
    /*.x_component_slider-box_cod_093 .carousel-caption {
        bottom: 70%;
        transition: 1s;
    }
    .x_component_slider-box_cod_093 .top-banner .slider-subtitle {
        font-size: 24px;
        transition: 1s;
        margin: 0;
    }
    .x_component_slider-box_cod_093 .top-banner .slider-title {
        font-size: 24px;
        transition: 1s;
        margin: 0;
    }
    .x_component_slider-box_cod_093 .top-banner .slider-description {
        width: 200px;
        font-size: 12px;
        transition: 1s;
        margin: 0;
    }*/
    .x_component_slider-box_cod_093 .carousel-item>img {
        height: auto;
    }
}