<section class="cta-c007 pad-default-elements">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <h1 data-editable="true">Título editável</h1>
                <div class="lead" data-editable="true">Digite seu texto aqui.</div>
                <a class="btn btn-color layout-btn" href="javascript:void(0);"><div data-editable="true"> CLIQUE AQUI!</div></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <img class="img-responsive" alt="" src="http://srv4.vmwm.com.br/img/app6.png" data-image="true">
            </div>
        </div>
    </div>
</section>