<section class="form-consignacao-002">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li class="active">
                        <a href="#step-1">
                            <h4 class="list-group-item-heading"><i class="fa fa-user"></i></h4>
                            <p class="list-group-item-text">Dados Pessoais</p>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="#step-2">
                            <h4 class="list-group-item-heading"><i class="fa fa-car"></i></h4>
                            <p class="list-group-item-text">Dados do Veículo</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <form data-form-type="consiganacao" data-form-layout="consignacao-2"></form>
            </div>
        </div>
    </div>
</section>