<section class="x_component_work_code_146 pad-default-element">

    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="item-text text-center">
                    <h1 class="item_title heading-style" data-editable="true">LOREM</h1>
                    <h3 class="item-sub-title-style" data-editable="true">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta aspernatur quibusdam esse,
                    </h3>
                    <p class="career-description" data-editable="true">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus autem dolore, in exercitationem hic quod, ullam magni eveniet ut quae, veniam, excepturi dolor harum quas aperiam cumque unde. Dignissimos, necessitatibus!
                    </p>
                </div>
                <div class="item-content-text" data-editable="true">
                    <div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0 ">
                                    <div class="collapsed accordion-toggle" data-editable="true">
                                        LOREM IPSUM
                                    </div>
                                </h5>
                            </div>
                            <div class="collapse">
                                <div class="card-block" data-editable="true">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis soluta doloremque provident ea quo reiciendis quae autem sapiente suscipit expedita voluptatem hic dignissimos ullam molestiae, ipsa error placeat laborum impedit.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <div class="collapsed accordion-toggle" data-editable="true">
                                        LOREM IPSUM
                                    </div>
                                </h5>
                            </div>
                            <div class="collapse">
                                <div class="card-block" data-editable="true">
                                    <ul class="list-unstyled">
                                        <li>DESIGN AND BUILD APPLICATIONS/ COMPONENTS USING OPEN SOURCE TECHNOLOGY.</li>
                                        <li>TAKING COMPLETE OWNERSHIP OF THE DELIVERIES ASSIGNED.</li>
                                        <li>COLLABORATE WITH CROSS-FUNCTIONAL TEAMS TO DEFINE, DESIGN, AND SHIP NEW FEATURES.</li>
                                        <li>WORK WITH OUTSIDE DATA SOURCES AND API'S.</li>
                                        <li>UNIT-TEST CODE FOR ROBUSTNESS, INCLUDING EDGE CASES, USABILITY, AND GENERAL RELIABILITY.</li>
                                        <li>WORK ON BUG FIXING AND IMPROVING APPLICATION PERFORMANCE.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <div class="collapsed accordion-toggle" data-editable="true">
                                        LOREM IPSUM ultimo
                                    </div>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse">
                                <div class="card-block" data-editable="true">
                                    <ul class="list-unstyled">
                                        <li>B.TECH./ B.E / MCA DEGREE IN COMPUTER SCIENCE, ENGINEERING OR A RELATED STREAM.</li>
                                        <li>3+ YEARS OF SOFTWARE DEVELOPMENT EXPERIENCE.</li>
                                        <li>3+ YEARS OF PYTHON / JAVA DEVELOPMENT PROJECTS EXPERIENCE.</li>
                                        <li>MINIMUM OF 4 LIVE PROJECT ROLL OUTS.</li>
                                        <li>EXPERIENCE WITH THIRD-PARTY LIBRARIES AND APIS.</li>
                                        <li>IN DEPTH UNDERSTANDING AND EXPERIENCE OF EITHER SDLC OR PDLC.</li>
                                        <li>GOOD COMMUNICATION SKILLS</li>
                                        <li>TEAM PLAYER</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="item-text">
                    <h1 class="item_title heading-style text-center" data-editable="true">CONTATO</h1>
                    <div class="row">
                        <form data-form-type="contato" data-form-layout="contato-14"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>