.highlights-h016 .padding_top_30 {
    padding-top: 30px;
}

.highlights-h016 .position_relative {
    position: relative;
}

.highlights-h016.reset .navbar {
    min-height: inherit;
    border-radius: 0px;
    border: 0px solid transparent;
    margin-bottom: 0px;
}

.highlights-h016 .cont-itens .interno .item>img {
    width: 100%;
    max-height: 150px;
}

@media (min-width: 768px) {
    .highlights-h016.reset .navbar {
        border-radius: 0px;
    }
}

.highlights-h016.reset .navbar-default {
    background-color: transparent;
    border-color: inherit;
}

.highlights-h016.reset .form-group {
    width: 100%;
    margin-bottom: 15px;
}

.highlights-h016.reset .form-group>.form-control {
    border-radius: 25px;
    width: 100%;
}

.highlights-h016 .center>.slick-next {
    background-color: #464646;
    height: 30px;
    width: 30px;
    z-index: 9;
    right: 46%;
    bottom: 0px;
    border-radius: 30px 30px 30px 30px;
    top: inherit;
}

@media all and (max-width: 1092px) {
    .highlights-h016 .center>.slick-next {
        right: 44%;
    }
}

.highlights-h016 .center>.slick-next:before {
    font-family: FontAwesome;
    content: '\f105';
    color: #fff;
}

.highlights-h016 .center>.slick-prev {
    background-color: #464646;
    height: 30px;
    width: 30px;
    z-index: 9;
    left: 46%;
    bottom: 0px;
    border-radius: 30px 30px 30px 30px;
    top: inherit;
}

@media all and (max-width: 1092px) {
    .highlights-h016 .center>.slick-prev {
        left: 44%;
    }
}

.highlights-h016 .center>.slick-prev:before {
    font-family: FontAwesome;
    content: '\f104';
    color: #fff;
}

.highlights-h016 .cont-estoque {
    padding-bottom: 70px;
}

.highlights-h016 .cont-estoque .interno>.slick-next {
    background-color: #fff;
    height: 40px;
    z-index: 9;
    right: -1px;
    top: 50%;
    border-radius: 30px 0px 0px 30px;
}

.highlights-h016 .cont-estoque .interno>.slick-next:before {
    font-family: FontAwesome;
    content: '\f101';
}

.highlights-h016 .cont-estoque .interno>.slick-prev {
    background-color: #fff;
    height: 40px;
    z-index: 9;
    left: -1px;
    top: 50%;
    border-radius: 0px 30px 30px 0px;
}

.highlights-h016 .cont-estoque .interno>.slick-prev:before {
    font-family: FontAwesome;
    content: '\f100';
}

.highlights-h016 .cont-estoque .interno .slick-list>.slick-track>.item>img {
    margin: auto;
    width: 100%;
}

.highlights-h016 .cont-estoque .cont_info_item_estoque {
    color: #fff;
}

.highlights-h016 .cont-estoque .cont_info_item_estoque .cont_valor {
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #173d76;
}

.highlights-h016 .cont-estoque .cont_info_item_estoque .cont_valor>.valor {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0px;
    padding: 5px;
}


/*.highlights-h016 .cont-estoque .cont_info_item_estoque .cont-velocimetro>.velocimetro {
    background: url('../img/velo.png') no-repeat;
    display: block;
    width: 30px;
    height: 30px;
}*/

.highlights-h016 .cont-estoque .cont_info_item_estoque .detalhes {
    font-size: 12px;
}

.highlights-h016 .cont-estoque .cont_info_item_estoque .detalhes>ul {
    padding: 0px;
}

.highlights-h016 .cont-estoque .cont_info_item_estoque .detalhes>ul>li {
    display: inline-block;
}

.highlights-h016 .cont-estoque .cont_info_item_estoque .detalhes>ul>li i {
    font-size: 5px;
    vertical-align: middle;
    padding: 0 5px 0 5px;
    color: #ccc;
}