<section class="x_component_slider-and-boxes_cod_019 pad-default-elements">
    <div class="container-fluid">
        <div class="blog-container">
            <div class="col-sm-4">
                <div class="blog-item">
                    <a href="javascript:void(0);" class="blog-img"><img class="img-responsive" data-image="true" src="assets/img/component_slider-and-boxes_cod_019_02.jpg" alt=""></a>
                    <h1 class="font-title blog-title text-uppercase" data-editable="true">Wheel and Tyre Packages: Save Up To 50% Off</h1>
                    <div class="font-description blog-description" data-editable="true">We are your biggest online and retail wheel and tyre store with over 30 years experience in the automotive industry, run by like minded enthusiasts.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="blog-item">
                    <a href="javascript:void(0);" class="blog-img"><img class="img-responsive" data-image="true" src="assets/img/component_slider-and-boxes_cod_019_02.jpg" alt=""></a>
                    <h1 class="font-title blog-title text-uppercase" data-editable="true">Wheel and Tyre Packages: Save Up To 50% Off</h1>
                    <div class="font-description blog-description" data-editable="true">We are your biggest online and retail wheel and tyre store with over 30 years experience in the automotive industry, run by like minded enthusiasts.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="blog-item">
                    <a href="javascript:void(0);" class="blog-img"><img class="img-responsive" data-image="true" src="assets/img/component_slider-and-boxes_cod_019_02.jpg" alt=""></a>
                    <h1 class="font-title blog-title text-uppercase" data-editable="true">Wheel and Tyre Packages: Save Up To 50% Off</h1>
                    <div class="font-description blog-description" data-editable="true">We are your biggest online and retail wheel and tyre store with over 30 years experience in the automotive industry, run by like minded enthusiasts.</div>
                </div>
            </div>

        </div>
    </div>
</section>