<section class="x_component_slider-and-boxes_cod_019">
    <div class="row">
        <div class="top-area">
            <div class="top-area-container">
                <hr>
                <h1 class="font-title component-top-title" data-editable="true">
                    Lorem Ipsum?
                </h1>
                <div class="font-subtitle component-top-subtitle" data-editable="true">Lorem Ipsum is simply</div>
                <div data-editable="true" class="btn layout-btn btn-color center-block top-area-btn">Lorem Ipsum</div>
            </div>
        </div>
        <div class="blog-container">
            <div class="col-sm-4">
                <div class="blog-item">
                    <div class="blog-img"><img class="img-responsive" data-image="true" src="assets/img/component_slider-and-boxes_cod_019_02.jpg" alt=""></div>
                    <div class="blog-info" data-editable="true">Lorem Ipsum is simply</div>
                    <h1 class="font-title blog-title" data-editable="true">
                        Lorem Ipsum has been the industry's standard dummy
                    </h1>
                    <div class="font-description blog-description" data-editable="true">
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                    </div>
                    <div data-editable="true" class="btn layout-btn btn-color readmore-btn">MORE...</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="blog-item">
                    <div class="blog-img"><img class="img-responsive" data-image="true" src="assets/img/component_slider-and-boxes_cod_019_03.jpg" alt=""></div>
                    <div class="blog-info" data-editable="true">Lorem Ipsum is simply</div>
                    <h1 data-editable="true">
                        Lorem Ipsum has been the industry's standard dummy
                    </h1>
                    <div class="font-description blog-description" data-editable="true">
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                    </div>
                    <div data-editable="true" class="btn layout-btn btn-color readmore-btn">MORE...</div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="blog-item">
                    <div class="blog-img"><img class="img-responsive" data-image="true" src="assets/img/component_slider-and-boxes_cod_019_04.jpg" alt=""></div>
                    <div class="blog-info" data-editable="true">Lorem Ipsum is simply</div>
                    <h1 class="font-title blog-title" data-editable="true">
                        Lorem Ipsum has been the industry's standard dummy
                    </h1>
                    <div class="font-description blog-description" data-editable="true">
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                    </div>
                    <div data-editable="true" class="btn readmore-btn layout-btn btn-color">MORE...</div>
                </div>

            </div>
        </div>
    </div>
</section>