.x_component_services_cod_123 {
    background: #fff;
    font-size: 14px;
    /*padding: 20px 10px;*/
    color: #777;
    overflow: hidden;
}
.x_component_services_cod_123 .row.no-gutters>[class^="col-"],
.x_component_services_cod_123 .row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}


.x_component_services_cod_123 .font-title {
    font-size: 40px;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
    font-weight: 300;
}

.x_component_services_cod_123 .sub-title {
    font-size: 17px;
    margin-bottom: 80px;
}

.x_component_services_cod_123 .box {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 300px;
    padding-top: 20px;
    font-size: 40px;
}

.x_component_services_cod_123 .box:last-child {
    border-right: none;
}

.x_component_services_cod_123 .box-2 {
    border-right: 1px solid grey;
    height: 300px;
}

.x_component_services_cod_123 .box-2:last-child {
    border-right: none;
}

.x_component_services_cod_123 .box-2 i {
    margin-bottom: 30px;
    margin-top: 30px;
    height: 80px;
    font-size: 80px;
}

.x_component_services_cod_123 .box-2 h3 {
    padding: 20px;
}

.x_component_services_cod_123 .box-2 h5 {
    margin-top: 10px;
    font-size: 17px;
    padding: 30px;
}

.x_component_services_cod_123 .box-2 h3 a {
    text-decoration: none;
}

.x_component_services_cod_123 .box-2 i:hover,
.x_component_services_cod_123 .box i:hover {
    filter: opacity(80%);
}

.x_component_services_cod_123 .box i {
    margin-bottom: 30px;
    height: 80px;
  	font-size: 80px;
}

.x_component_services_cod_123 .box h3 {
    padding: 20px;
}

.x_component_services_cod_123 .box h5 {
    margin-top: 10px;
    font-size: 17px;
    padding: 30px;
}

.x_component_services_cod_123 .box h3 a {
    text-decoration: none;
}

.x_component_services_cod_123 .btn {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .04em;
    text-transform: uppercase;
    transition: 0.3s ease-out;
    margin-top: 50px;
    height: 60px;
    line-height: 50px;
}

.x_component_services_cod_123 .btn-lighter:hover,
.x_component_services_cod_123 .btn-lighter.active,
.x_component_services_cod_123 .btn-lighter.dropdown-toggle {
    filter: opacity(60%);
}

@media screen and (max-width: 767px) {
    .x_component_services_cod_123 .box-2,
    .x_component_services_cod_123 .box {
        border-bottom: 1px solid grey;
    }
    .x_component_services_cod_123 .box-2:last-child {
        border-bottom: none;
    }
}