<section class="x_component_brands_cod_145 pad-default-element">
    <div data-banner-template="true" class="text-center">
        <h1 class="text-center brands-module-title" data-editable="true">CAR MANUFACTURERS</h1>
        <h3 class="brands-module-sub-title" data-editable="true">WE WORK > WITH
        </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="item-img">
                    <img src="assets/img/component_brands_cod_145-01.jpg" alt="" class="center-block img-responsive" data-image="true">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="item-img">
                    <img src="assets/img/component_brands_cod_145-02.jpg" alt="" class="center-block img-responsive" data-image="true">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="item-img">
                    <img src="assets/img/component_brands_cod_145-03.jpg" alt="" class="center-block img-responsive" data-image="true">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="item-img">
                    <img src="assets/img/component_brands_cod_145-04.jpg" alt="" class="center-block img-responsive" data-image="true">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="item-img">
                    <img src="assets/img/component_brands_cod_145-05.jpg" alt="" class="center-block img-responsive" data-image="true">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="item-img">
                    <img src="assets/img/component_brands_cod_145-06.jpg" alt="" class="center-block img-responsive" data-image="true">
                </div>
            </div>
        </div>
    </div>
</section>