.x_component_cta_cod_244 {
    color: #ffffff;
    background: url("../images/call-to-action-2.jpg");
    background-size: cover !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.x_component_cta_cod_244 .border-default {
    border: 1px solid #ffffff;
}

.x_component_cta_cod_244 .text-image {
    padding: 10px;
}

.x_component_cta_cod_244 img {
    display: none;
}

.x_component_cta_cod_244 .text-image .pre-title {
    font-size: 50px;
    line-height: 63px;
    letter-spacing: -1.8px;
    text-align: left;
}

.x_component_cta_cod_244 .text-image .font-title {
    font-size: 110px;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: 0em;
    margin-bottom: 10px;
    text-align: left;
}

.x_component_cta_cod_244 .text-image .font-description {
    font-size: 21px;
    margin-bottom: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0em;
    text-align: inherit;
    padding-bottom: 40px;
    margin-top: 20px;
}

.x_component_cta_cod_244 .btn-theme {
    font-size: 12px;
    padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 0.25px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border: 1px solid #ffffff;
}

.x_component_cta_cod_244 .btn-theme:hover {
    background: transparent;
}

@media screen and (max-width: 768px) {
    .x_component_cta_cod_244 .text-image .font-title {
        font-size: 70px;
    }
}

@media screen and (max-width: 480px) {
    .x_component_cta_cod_244 .text-image .font-title {
        font-size: 48px;
    }
    .x_component_cta_cod_244 .text-image .pre-title {
        font-size: 30px;
    }
}