<div class="full-w pad-default-elements color-default">
    <div class="service-s004">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="feature">
                        <i class="fa fa-picture-o icon fade-3-4 inline-block mb16" data-icon="true"></i>
                        <h4 data-editable="true">Título</h4>
                        <p class="text-description" data-editable="true">Financie a compra do seu veículo. O carro dos seus sonhos pode ser seu. A gente te ajuda a conseguir. </p>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="feature">
                        <i class="fa fa-desktop icon fade-3-4 inline-block mb16" data-icon="true"></i>
                        <h4 data-editable="true">Título</h4>
                        <p class="text-description" data-editable="true">A maneira mais rápida de vender o seu carro. Velocidade e segurança na hora de negociar.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="feature">
                        <i class="fa fa-bar-chart icon fade-3-4 inline-block mb16" data-icon="true"></i>
                        <h4 data-editable="true">Título</h4>
                        <p class="text-description" data-editable="true">Agende online seu Test Drive, no horário que for mais conveniente para você.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>