.x_component_footer_cod_091 {
  background: #232323;
  font-family: 'Raleway', sans-serif;
  color: #888886;
  overflow: hidden;
}
.x_component_footer_cod_091 .no-padding {
  padding-left: 0;
  padding-right: 0;
}
.x_component_footer_cod_091 .footer-module-title {
  font-size: 56px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 100px;
}
.x_component_footer_cod_091 .contacts li {
  line-height: 30px;
  font-size: 15px;
}
.x_component_footer_cod_091 .contacts li > div > p {
  display: inline-block;
  color: #ffffff;
  margin-right: 5px;
}
.x_component_footer_cod_091 .contacts li > div > a {
  text-decoration: none;
  color: #888886;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.x_component_footer_cod_091 .contacts li > div > a:hover,
.x_component_footer_cod_091 .contacts li > div > a:focus {
  text-decoration: none;
  color: #ffffff;
}
.x_component_footer_cod_091 .footer-social {
  margin-top: 30px;
  margin-bottom: 30px;
}
.x_component_footer_cod_091 .footer-social li {
  width: 70px;
  height: 70px;
  background: #232323;
  position: relative;
  border: 2px solid #363030;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-right: 10px;
  margin-left: 4px;
}
.x_component_footer_cod_091 .footer-social li:hover {
  border: 2px solid #ffffff;
}
.x_component_footer_cod_091 .footer-social li:hover > a > i,
.x_component_footer_cod_091 .footer-social li:focus > a > i {
  color: #ffffff;
}
.x_component_footer_cod_091 .footer-social li a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #363030;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.x_component_footer_cod_091 .copyright {
  margin-bottom: 100px;
  color: #ffffff;
  font-size: 11px;
}
.x_component_footer_cod_091 .copyright a {
  color: #ffffff;
  text-decoration: none;
}
.x_component_footer_cod_091 .copyright a:hover,
.x_component_footer_cod_091 .copyright a:focus {
  color: #ffffff;
  text-decoration: none;
}
.x_component_footer_cod_091 #map {
  width: 100%;
  height: 590px;
}
@media screen and (max-width: 768px) {
  .x_component_footer_cod_091 .text-xs-center {
    text-align: center;
  }
}
