<section class="menu-m016 navbar-wrapper ">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <div>
                    <div class="navbar-brand">
                        <img src="assets/img/logo.png" alt="logo" class="img-responsive" data-image="true">
                    </div>
                </div>
                <div class="nav-info navbar center-block">
                    <ul class="list-inline list-unstyled">
                        <li><i class="fa fa-phone" data-icon="true"></i>
                            <div class="inline-block" data-editable="true"> 11 9999.9999</div>
                        </li>
                        <li><i class="fa fa-whatsapp" data-icon="true"></i>
                            <div class="inline-block" data-editable="true"> 11 9999.9999</div>
                        </li>
                    </ul>
                </div>
                <div class="nav-search-box">
                    <div class="visible-all-devices cart-holder">
                        <h3><i class="fa fa-map-marker" data-icon="true"></i>
                            <div class="inline-block" data-editable="true"> Endereço</div>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="mobile-menu"></div>
            <div class="collapse navbar-collapse background-theme" id="bs-example-navbar-collapse-1">
                <ul data-menu="true">

                </ul>
            </div>
        </div>
    </nav>
</section>