.cta-c007{
    background: #262626;
    color: #f2f5f7;
}

.cta-c007 .btn {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
}

.cta-c007 img {
 	width: 100%;
    height:220px;
}

@media all and (max-width: 990px){
    .cta-c007 img {
        height: auto;
}
}