<section class="menu-m010 navbar-wrapper">
    <nav class="navbar">
        <div class="nav-utility background-theme">
            <div class="module left">
                <img class="img-responsive brand-header" src="" data-image="true">
              	<img class="img-responsive brand-header" src="" data-image="true">
              	<img class="img-responsive brand-header" src="" data-image="true">
              	<img class="img-responsive brand-header" src="" data-image="true">
              	<img class="img-responsive brand-header" src="" data-image="true">
            </div>
            <div class="module right hidden-xs">
                <div data-editable="true" class="btn-stock btn layout-btn">Veja aqui nosso estoque completo!</div>
            </div>
            <div class="module right m-social-links" data-social="true">
                <a class="color-default" href="#icon-link#" target="_blank">
                    <i class="#icon-class#"></i>
                </a>
            </div>
        </div>
        <div class="nav-bar">
            <div class="module left">
                <div class="logo-nav">
                    <img alt="" class="image-xxs" data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=25698">
                </div>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="fa fa-bars color-default"></i>
            </div>
            <div class="module-group right">
                <div class="module left cont-menu">
                    <ul data-menu="true">


                    </ul>
                </div>
            </div>
        </div>
    </nav>
</section>