.x_component_slider_cod_099 {
    background: #212121;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    position: relative;
    overflow: hidden;


}

.x_component_slider_cod_099 .bottom-area {
    width: 100%;
    position: relative;
    height: 10px;
}
.x_component_slider_cod_099 .carousel-inner .item{
    height: 500px;
}


.x_component_slider_cod_099 .bottom-area:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 600px;
    top: -214px;
    left: -20%;
    transform: rotate(21deg);
}

.x_component_slider_cod_099 .bottom-area:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 600px;
    top: -214px;
    right: -20%;
    transform: rotate(-21deg);
}

.x_component_slider_cod_099>.container-fluid {
    padding: 0;
}

.x_component_slider_cod_099 .carousel-inner {
    overflow: hidden;
}

.x_component_slider_cod_099 .item .slide-counter {
    text-align: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    font-size: 35px;
    letter-spacing: 5px;
}

.x_component_slider_cod_099 .item .slide-counter p {
    font-size: 25px;
    display: inline-block;
    padding-bottom: 10px;
}

.x_component_slider_cod_099 .bs-slider-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.x_component_slider_cod_099 .bs-slider-overlay .slider-title {
    text-align: center;
    text-transform: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    line-height: 1.3;
    letter-spacing: 0px;
}

.x_component_slider_cod_099 .bs-slider-overlay .slider-sub-title {
    text-align: center;
    letter-spacing: 0;
    text-transform: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    line-height: 1.3;
    opacity: 0;
}

.x_component_slider_cod_099 .bs-slider-overlay .read-more {
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 80px;
    border: none;
    line-height: 65px;
    font-size: 24px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-top: 50px;
}

.x_component_slider_cod_099 .carousel-indicators {
    bottom: 180px;
}


/*.x_component_slider_cod_099 .carousel-indicators .active {
    background: #fb606c;
}*/

.x_component_slider_cod_099 .carousel-indicators li {
    width: 94px;
    height: 12px;
    border-radius: 0;
    border: none;
    background: #aeafb0;
}


/*.x_component_slider_cod_099 .carousel-indicators li:nth-child(2).active:before,
.x_component_slider_cod_099 .carousel-indicators li:nth-child(2).active:after {
    background: #fb606c;
}*/

.x_component_slider_cod_099 .carousel-indicators li:first-child {
    -webkit-transform: rotate(20deg) translateX(-61%) translateY(-171%);
    transform: rotate(20deg) translateX(-61%) translateY(-171%);
}

.x_component_slider_cod_099 .carousel-indicators li:last-child {
    -webkit-transform: rotate(-20deg) translateX(50%) translateY(-210%);
    transform: rotate(-20deg) translateX(50%) translateY(-210%);
}

.x_component_slider_cod_099 .carousel-indicators li:nth-child(2):before {
    right: 50%;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    position: absolute;
    top: 0;
    content: "";
    display: inline-block;
    width: 94px;
    height: 12px;
    background: #aeafb0;
    transition: .33s all ease;
}

.x_component_slider_cod_099 .carousel-indicators li:nth-child(2) {
    background: transparent;
}

.x_component_slider_cod_099 .carousel-indicators li:nth-child(2):after {
    left: 49%;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    position: absolute;
    top: 0;
    content: "";
    display: inline-block;
    width: 94px;
    height: 12px;
    background: #aeafb0;
    transition: .33s all ease;
}

.x_component_slider_cod_099 .item.active .slider-title {
    opacity: 1;
}

.x_component_slider_cod_099 .item.active .slider-sub-title {
    opacity: 1;
}

.x_component_slider_cod_099 .item.active .read-more {
    opacity: 1;
}

@media (max-width: 1200px) {
    .x_component_slider_cod_099 .bottom-area {
        display: none;
    }
    .x_component_slider_cod_099 .carousel-indicators {
        bottom: 50px;
    }
    .x_component_slider_cod_099 .carousel-indicators li:nth-child(2):before,
    .x_component_slider_cod_099 .carousel-indicators li:nth-child(2):after {
        display: none;
    }
    .x_component_slider_cod_099 .carousel-indicators li:first-child {
        -webkit-transform: unset;
        transform: unset;
    }
    .x_component_slider_cod_099 .carousel-indicators li:last-child {
        -webkit-transform: unset;
        transform: unset;
    }
    .x_component_slider_cod_099 .carousel-indicators li:nth-child(2) {
        background: #aeafb0;
    }
    /*.x_component_slider_cod_099 .carousel-indicators li.active:nth-child(2) {
        background: #fb606c !important;
    }*/
}

@media screen and (max-width: 992px) {
    .x_component_slider_cod_099 .bs-slider-overlay {
        top: 50%;
    }
    .x_component_slider_cod_099 .bs-slider-overlay .slider-title {
        font-size: 75px;
    }
    .x_component_slider_cod_099 .bs-slider-overlay .slider-sub-title {
        font-size: 25px;
    }
    .x_component_slider_cod_099 .read-more {
        width: 170px !important;
        height: 50px !important;
        line-height: 40px !important;
        font-size: 18px !important;
    }
}

@media screen and (max-width: 768px) {
    .x_component_slider_cod_099 .bs-slider-overlay {
        top: 50%;
    }
    .x_component_slider_cod_099 .bs-slider-overlay .slider-title {
        font-size: 40px;
    }
    .x_component_slider_cod_099 .bs-slider-overlay .slider-sub-title {
        font-size: 15px;
    }
    .x_component_slider_cod_099 .bs-slider-overlay .read-more {
        margin-top: 10px;
    }
}