<section class="x_component_ads_code_238 pad-default-elements">
    <div class=" container brands-top ">

        <div class="row">
            <div class="col-sm-12 slider-control">
                <div class="my-carosel">
                    <div data-destaque-template="true" class="active">

                        <div class="item-img"><img src="#destaqueImage#" alt=""></div>

                        <h5 class="item-model">#destaqueModel#<small>#destaqueBrand#</small></h5>
                        <a href="#estoqueLink#"><div class="btn color-default">CLIQUE AQUI!<div class="triangle"></div></div></a>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>