.slider-s001 {
    z-index:0;
    position: relative;
}
.slider-s001 img.slide-image {
    height: auto;
    width: 100%;
}

.slider-s001 video {
    width: 100%;
}

.slider-s001 .simple-slider .swiper-slide {
    height: auto !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-s001 .simple-slider .btn-left,
.slider-s001 .simple-slider .btn-right {
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 60px;
    position: absolute;
    top: 50%;
    z-index: 9999;
    font-size: 84px;
    cursor: pointer;
}

.slider-s001 .simple-slider .btn-right {
    right: 2%;
}

.slider-s001 .simple-slider .btn-left {
    left: 2%;
}

@media (max-width:767px) {
    .slider-s001 .simple-slider .btn-left,
    .slider-s001 .simple-slider .btn-right {
        display: none;
    }
}

@media (max-width:767px) {
    .slider-s001 .simple-slider .swiper-slide {
        height: 360px;
    }
}

.slider-s001 .simple-slider video {
    width: 100%;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 20px;
}