/*LESS VARIABLES*/


/*SECTION CSS*/

.x_component_contact_cod_181 {
    background: #fff;
    font-size: 14px;
    padding-bottom: 50px;
    position: relative;
}

.x_component_contact_cod_181 .row.no-gutters>[class^="col-"],
.x_component_contact_cod_181 .row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.x_component_contact_cod_181 .color-default {
    color: #898e8f;
}

.x_component_contact_cod_181 .font-title {
    font-size: 50px;
    font-weight: 700;
    color: #898e8f;
    padding: 30px 0;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    height: 150px;
    color: #303334;
}

.x_component_contact_cod_181 .font-title:after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #ddd;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.x_component_contact_cod_181 .address {
    color: #898e8f;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.x_component_contact_cod_181 .social {
    width: 30px;
    height: 30px;
    color: #898e8f;
    display: inline-block;
    font-size: 24px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.x_component_contact_cod_181 .copy {
    color: #898e8f;
}

@media screen and (max-width: 767px) {
    .x_component_contact_cod_181 .font-title {
        height: 190px;
    }
    .x_component_contact_cod_181 .text-left {
        text-align: center;
    }
}