.slider_s0081{
	z-index: 0;
    position: relative;
}
.slider-0081-backgrund-cl {
    background-color: rgba(255, 255, 255, 0.4);
}

.slider-0081-background-rotate {
    height: 100%;
    width: 50%;
    right: 0;
    position: absolute;
    -moz-transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
    -webkit-transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
    -o-transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
    -ms-transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
    transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
    transition: 0.5s;
    z-index: 90;
}

@media all and (max-width:540px) {
    .slider-0081-background-rotate {
        -moz-transform: scale(1.3) rotate(360deg) translate(-40px, 0px) skew(150deg, 0deg);
        -webkit-transform: scale(1.3) rotate(360deg) translate(-40px, 0px) skew(150deg, 0deg);
        -o-transform: scale(1.3) rotate(360deg) translate(-40px, 0px) skew(150deg, 0deg);
        -ms-transform: scale(1.3) rotate(360deg) translate(-40px, 0px) skew(150deg, 0deg);
        transform: scale(1.3) rotate(360deg) translate(-40px, 0px) skew(150deg, 0deg);
        transition: 0.5s;
    }

}

.slider_s0081 .carousel-inner>.item {
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.slider_s0081 .carousel-inner>.item>a>img {
  	width:100%;
}

.slider_s0081 .carousel-inner>.item .item-text {
    color: rgba(255, 255, 255, 0.8);
}

.slider_s0081 .carousel-inner>.item .item-text * {
    margin: inherit;
    padding-left: 20px;
}

.slider_s0081 .carousel-inner>.item .item-text>.titulo {
    margin-top: 180px;
}

.slider_s0081 .carousel-inner>.item .item-text>.sub-titulo {
    margin-top: 0px;
}

.slider_s0081 .carousel-control.left,
.slider_s0081 .carousel-control.right {
    background-image: none;
    top: inherit;
    bottom: 30px;
}

.slider_s0081 .carousel-control.left:hover,
.slider_s0081 .carousel-control.right:hover,
.slider_s0081 .carousel-control.left:focus,
.slider_s0081 .carousel-control.right:focus {
    opacity: none;
}

.slider_s0081 .carousel-control.left {
    left: 40%;
}

.slider_s0081 .carousel-control.right {
    right: 40%;
}