<section class="x_component_news_cod_067 pad-default-element">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-uppercase font-title" data-editable="true">car news</h1>
                <div class="underline">
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-responsive" src="assets/images/page1-img1.jpg" alt="..." data-image="true">
                    <div class="caption">
                        <h3 data-editable="true">Lincoln Continental</h3>
                        <div data-editable="true" class="text">Dramatic styling, sumptuous interiors, and the latest tech are on hand to restore luxury-car relevance to the all-new Continental.</div>
                        <div class="cont_mais color-default">
                            <div role="button" data-editable="true">Learn more </div> <i class="fa fa-angle-right" data-icon="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-responsive" src="assets/images/page1-img2.jpg" alt="..." data-image="true">
                    <div class="caption">
                        <h3 data-editable="true">Lincoln Continental</h3>
                        <div data-editable="true" class="text">Dramatic styling, sumptuous interiors, and the latest tech are on hand to restore luxury-car relevance to the all-new Continental.</div>
                        <div class="cont_mais color-default">
                            <div role="button" data-editable="true">Learn more </div> <i class="fa fa-angle-right" data-icon="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-responsive" src="assets/images/page1-img3.jpg" alt="..." data-image="true">
                    <div class="caption">
                        <h3 data-editable="true">Lincoln Continental</h3>
                        <div data-editable="true" class="text">Dramatic styling, sumptuous interiors, and the latest tech are on hand to restore luxury-car relevance to the all-new Continental.</div>
                        <div class="cont_mais color-default">
                            <div role="button" data-editable="true">Learn more </div> <i class="fa fa-angle-right" data-icon="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img class="img-responsive" src="assets/images/page1-img4.jpg" alt="..." data-image="true">
                    <div class="caption">
                        <h3 data-editable="true">Lincoln Continental</h3>
                        <div data-editable="true" class="text">Dramatic styling, sumptuous interiors, and the latest tech are on hand to restore luxury-car relevance to the all-new Continental.</div>
                        <div class="cont_mais color-default">
                            <div role="button" data-editable="true">Learn more </div> <i class="fa fa-angle-right" data-icon="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>