<section class="x_component_brands_cod_006 pad-default-element">
    <h1 class="text-center brands-module-title">Shop Car Audio by Brand</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="item-img">
                    <a href="javascript:void(0);"><img src="assets/img/component_brands_cod_006-01.jpg" alt="" class="center-block img-responsive" data-image="true"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="item-img">
                    <a href="javascript:void(0);"><img src="assets/img/component_brands_cod_006-02.jpg" alt="" class="center-block img-responsive" data-image="true"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="item-img">
                    <a href="javascript:void(0);"><img src="assets/img/component_brands_cod_006-03.jpg" alt="" class="center-block img-responsive" data-image="true"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="item-img">
                    <a href="javascript:void(0);"><img src="assets/img/component_brands_cod_006-04.jpg" alt="" class="center-block img-responsive" data-image="true"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="item-img">
                    <a href="javascript:void(0);"><img src="assets/img/component_brands_cod_006-05.jpg" alt="" class="center-block img-responsive" data-image="true"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="item-img">
                    <a href="javascript:void(0);"><img src="assets/img/component_brands_cod_006-06.jpg" alt="" class="center-block img-responsive" data-image="true"></a>
                </div>
            </div>
        </div>
    </div>
</section>