<section class="header_old_mod_stand_003 navbar-wrapper menu-int-002">
    <div id="header" class="container ">
        <div class="row">
            <div class="col-md-3 ">
                <div class="navbar-brand navbar-brand-custom" href="#"><img class="img-responsive" src="assets/img/logo.jpg" alt="" data-image="true"> <span class="clear-fixed"></span></div>
            </div>
            <div class="col-md-9">
                <nav class="navbar navbar-default navbar-default-custom xs-text-center">
                    <div class="navbar-header navbar-header-custom">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle-custom" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                            </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse background-theme ">
                        <ul data-menu="true" class="menu nav navbar-nav navgation">

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>