<section class="imagem-i011">
    <div class="image-text">
        <div class="image-bg">
            <div class="cont-img img-overlay">
                <img class="img-responsive" src="img/pecas-e-acessorios.jpg" data-image="true" alt="" />
                <h1 class="no-mobile">
                    <div class="fa-stack fa-xs"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-wrench fa-stack-1x"></i></div><span data-editable="true">Peças e Acessórios </span>
                </h1>
            </div>
        </div>
    </div>
</section>