.x_component_slider-boxes_cod_144 > .container-fluid {
  padding: 0;
}
.x_component_slider-boxes_cod_144 .bs-slider-overlay {
  position: absolute;
  top: 36%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.x_component_slider-boxes_cod_144 .bs-slider-overlay .slider-title {
  font-size: 96px;
  font-weight: 900;
  margin-top: 70px;
}
.x_component_slider-boxes_cod_144 .bs-slider-overlay .top-title {
  font-size: 66px;
  font-weight: 300;
  color: #fff;
}
.x_component_slider-boxes_cod_144 .bs-slider-overlay .slider-title,
.x_component_slider-boxes_cod_144 .bs-slider-overlay .top-title {
  text-align: center;
  line-height: 70px;
  letter-spacing: 2px;
  text-transform: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.x_component_slider-boxes_cod_144 .left.carousel-control i {
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 40px;
}
.x_component_slider-boxes_cod_144 .right.carousel-control i {
  position: absolute;
  top: 50%;
  right: 40%;
  font-size: 40px;
}
.x_component_slider-boxes_cod_144 .item.active .top-title,
.x_component_slider-boxes_cod_144 .item.active .slider-title {
  opacity: 1;
}
.x_component_slider-boxes_cod_144 .box-items {
  margin-top: -100px;
}
.x_component_slider-boxes_cod_144 .box-item {
  display: block;
  width: 100%;
  padding: 30px 0;
  margin-bottom: 20px;
  color: #FFFFFF;
  text-align: center ;  
}
.x_component_slider-boxes_cod_144 .box-item .box-title {
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 0;
}
.x_component_slider-boxes_cod_144 .box-item .box-subtitle {
  font-size: 30px;
  line-height: 40px;
  margin-top: 0;
}
.x_component_slider-boxes_cod_144 .box-item i {
    font-size: 90px;
    margin-bottom: 10px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .x_component_slider-boxes_cod_144 .box-item .box-title,
  .x_component_slider-boxes_cod_144 .box-item .box-subtitle {
    font-size: 25px;
  }
}
@media screen and (max-width: 992px) {
  .x_component_slider-boxes_cod_144 .box-items {
    margin-top: 30px;
  }
  .x_component_slider-boxes_cod_144 .bs-slider-overlay .slider-title {
    font-size: 45px;
    line-height: 40px;
    margin: 0;
  }
  .x_component_slider-boxes_cod_144 .bs-slider-overlay .top-title {
    font-size: 35px;
    line-height: 35px;
  }
}
@media screen and (max-width: 768px) {
  .x_component_slider-boxes_cod_144 .bs-slider-overlay .slider-title {
    font-size: 25px;
    margin: 0;
    padding: 0;
    line-height: 40px;
  }
  .x_component_slider-boxes_cod_144 .bs-slider-overlay .top-title {
    font-size: 22px;
    margin: 0;
    padding: 0;
    line-height: 35px;
  }
  .x_component_slider-boxes_cod_144 .carousel-control span.mdi {
    display: none;
  }
}
