<section class="highlights-h015">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" data-destaque-template="true">
                <div class="thumbnail">
                    <a href="#estoqueLink#"> <img class="img-responsive img-destaques" src="#destaqueImage#" alt=""> </a>
                    <div class="caption text-center text-uppercase background-theme">
                        <div class="text">#destaqueModel#</div>
                        <div class="text"><b>#destaqueBrand#</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>