    body * .navbar-wrapper {
        height: 55px;
    }
    
    .menu-m013 {
        background: rgba(0, 0, 0, 0.95);
    }
    
    .menu-m013 .image-md {
        max-height: 120px;
        max-width: 170px;
    }
    
    .menu-m013 .menu-logo {
        border-radius: 10%;
        width: 175px;
        height: 125px;
        position: relative;
        z-index: 90;
        top: 5px;
        display: inline-block;
        opacity: 0.9;
    }
    
    .menu-m013 ul {
        list-style: none;
    }
    
    .menu-m013 ul.bullets {
        list-style: inside;
    }
    
    .menu-m013 .inline-block {
        display: inline-block;
    }
    
    .menu-m013 .list-inline {
        margin-left: 0;
    }
    
    .menu-m013 .list-inline>li {
        padding: 0 8px;
    }
    
    .menu-m013 .list-inline>li:last-child {
        padding-right: 0;
        padding-left: 0;
    }
    
    .menu-m013 .right {
        right: 0;
    }
    
    .menu-m013 .sub {
        font-size: 12px;
    }
    
    .menu-m013 nav {
        -webkit-backface-visibility: hidden;
        max-width: 100%;
    }
    
    .menu-m013 nav ul {
        margin-bottom: 0;
    }
    
    .menu-m013 .module {
        display: inline-block;
        padding: 0 32px;
    }
    
    .menu-m013 .module-group {
        display: inline-block;
    }
    
    .menu-m013 .module.right,
    .menu-m013 .module-group.right {
        float: right;
    }
    
    .menu-m013 .nav-bar {
        position: relative;
        z-index: 90;
        opacity: .9;
        height: 55px;
        max-height: 55px;
        line-height: 53px;
    }
    
    .menu-m013 .nav-bar .module,
    .menu-m013 .nav-bar .module-group {
        height: 55px;
    }
    
    .menu-m013 .has-dropdown:after {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 11px;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
    }
    
    .menu-m013 .menu {
        width: 100%;
        height: 55px;
    }
    
    .menu-m013 .menu.inline-block {
        width: auto;
    }
    
    .menu-m013 .menu li a {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        opacity: 0.5;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        max-width: 100%;
        white-space: normal;
        text-decoration: none;
    }
    
    .menu-m013 .menu li a:hover {
        opacity: 1 !important;
    }
    
    .menu-m013 .menu>li {
        margin-right: 32px;
        float: left;
        position: relative;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        opacity: 1;
    }
    
    .menu-m013 .menu>li:last-child {
        margin-right: 0;
    }
    
    .menu-m013 .menu>li:last-child>ul {
        right: 0;
    }
    
    .menu-m013 .menu>li:last-child>ul ul {
        left: auto;
        right: 100%;
    }
    
    .menu-m013 .menu>li ul {
        display: block;
        width: 200px;
        padding: 8px 0;
        position: absolute;
        z-index: 99;
        opacity: 0;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transform: translate3d(0, 10px, 0);
        -webkit-transform: translate3d(0, 10px, 0);
        -moz-transform: translate3d(0, 10px, 0);
        visibility: hidden;
        margin-top: -1px;
        background-color: rgba(113, 113, 113, 0.4);
        border: 1px solid rgba(113, 113, 113, 0.3);
    }
    
    .menu-m013 .dropdown>.dropdown-menu {
        clear: none;
    }
    
    .menu-m013 .dropdown-menu>li>a:hover {
        margin-left: 5px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        background: transparent;
    }
    
    .menu-m013 .menu>li>ul>li {
        position: relative;
        line-height: 24px;
        width: 100%;
        vertical-align: top;
    }
    
    .menu-m013 .menu>li>ul>li i {
        display: inline-block;
        margin-right: 2px;
    }
    
    .menu-m013 .menu>li>ul>.has-dropdown:after {
        color: #fff;
        top: 5px;
        right: 24px;
        content: "\e649";
    }
    
    .menu-m013 .menu>li>ul li a {
        height: auto;
        padding: 6px 24px;
        background: none;
    }
    
    .menu-m013 .menu>li>ul>li>ul {
        left: 100%;
        top: 0;
    }
    
    .menu-m013 .menu>li:hover>ul {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0);
        -moz-transform: translate3d(0, 0px, 0);
        visibility: visible;
    }
    
    .menu-m013 .menu>li>ul>li:hover>ul {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0);
        -moz-transform: translate3d(0, 0px, 0);
        visibility: visible;
    }
    
    .menu-m013 .module.widget-handle {
        border-left: 1px solid #ccc;
        padding: 0 24px;
        cursor: pointer;
        position: relative;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;
    }
    
    .menu-m013 .module.widget-handle i {
        font-size: 20px;
        line-height: 53px;
        opacity: 0.5;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }
    
    .menu-m013 .module.widget-handle:hover i,
    .menu-m013 .module.active i {
        opacity: 1;
    }
    
    .menu-m013 nav .widget {
        margin: 0;
        padding: 24px;
    }
    
    .menu-m013 .nav-open {
        max-height: 10000px !important;
        height: auto !important;
    }
    
    .menu-m013 .nav-open .mobile-toggle {
        border-bottom: 1px solid #ccc;
    }
    
    @media all and (max-width: 1100px) {
        .menu-m013 .module.widget-handle {
            padding: 0 16px;
        }
    }
    
    @media all and (max-width: 1120px) {
        .menu-m013 .menu>li {
            margin-right: 24px;
        }
    }
    
    @media all and (max-width: 990px) {
        body * .navbar-wrapper {
            height: auto;
        }
        .menu-m013 .menu>li ul {
            background-color: rgba(113, 113, 113, 1);
        }
        .menu-m013 .logoMenu {
            margin-bottom: 5px;
        }
        .menu-m013 .menu-logo {
            height: 50px;
            float: left;
        }
        .menu-m013 .image-md {
            max-height: 40px;
            float: left;
        }
        .menu-m013 .nav-bar {
            z-index: 0;
        }
        .menu-m013 .nav-bar,
        .menu-m013 .nav-bar .module-group,
        .menu-m013 .nav-bar .module {
            height: auto;
            overflow: hidden;
        }
        .menu-m013 .nav-bar .module {
            padding: 0 16px;
        }
        .menu-m013 .nav-bar .module-group {
            width: 100%;
            padding: 16px 0;
        }
        .menu-m013 .nav-bar .module-group .module {
            display: block;
            float: none;
            width: 100%;
        }
        .menu-m013 .menu {
            height: auto;
        }
        .menu-m013 .menu.inline-block {
            width: 100%;
        }
        .menu-m013 .menu a {
            height: auto;
            line-height: 24px;
            padding: 4px 0;
        }
        .menu-m013 .menu li {
            line-height: 24px;
            float: none;
            display: block;
            width: 100%;
            max-width: 100%;
        }
        .menu-m013 ul.menu-half.menu {
            min-height: 100px;
        }
        .menu-m013 .menu>li>ul>.has-dropdown:after {
            content: "\e64b";
        }
        .menu-m013 .menu>li>ul>li>ul {
            left: 0;
            display: none;
            padding: 0;
        }
        .menu-m013 .menu>li>ul li a,
        .menu-m013 .mega-menu .title {
            padding: 4px 16px;
        }
        .menu-m013 .has-dropdown .has-dropdown li {
            padding-left: 18px;
        }
        .menu-m013 .has-dropdown {
            padding-right: 0;
        }
        .menu-m013 .mega-menu {
            margin-left: 0 !important;
        }
        .menu-m013 .mega-menu li {
            width: 100% !important;
        }
        .menu-m013 .toggle-sub>ul,
        .menu-m013 .toggle-sub .mega-menu ul {
            display: block !important;
        }
        .menu-m013 .module.widget-handle {
            border-left: none;
            line-height: 40px;
            min-height: 40px;
        }
        .menu-m013 .module.widget-handle .menu {
            line-height: 40px;
        }
        .menu-m013 .module.widget-handle .menu li {
            line-height: 40px;
        }
        .menu-m013 .module.widget-handle i {
            line-height: 40px;
        }
        .menu-m013 .mobile-toggle {
            border-bottom: none !important;
        }
        .menu-m013 .mobile-toggle i {
            line-height: 53px !important;
        }
        .menu-m013 .mobile-toggle.absolute-xs {
            position: absolute;
            top: 0;
        }
        .menu-m013 .menu>li:last-child>ul ul {
            right: 0;
        }
        .menu-m013 .inline-block-xs {
            display: inline-block;
        }
    }