 .form-seguro-002 {
     background: #eee;
 }
 
 .form-seguro-002 .img-full {
     margin: 0;
     padding: 0;
     overflow: hidden;
 }
 
 .form-seguro-002 .img-seguro>img {
     max-height: 530px;
     height: 530px;
     width: 100%;
     background-size: cover;
 }
 
 .form-seguro-002 .contact_us {
     overflow: hidden;
 }
 
 .form-seguro-002 .contact_right {
     padding: 0 50px;
 }
 
 .form-seguro-002 .contact_detail ul {
     padding: 0px;
     margin: 0px;
 }
 
 .form-seguro-002 span {
     color: #e22834;
 }
 
 .form-seguro-002 .border-form {
     border: 1px solid #dadada;
     margin-top: 20px;
 }
 
 .form-seguro-002 .contact_form {
     padding: 28px;
 }
 
 .form-seguro-002 .form-group {
     margin-bottom: 15px;
     position: relative;
 }
 
 .form-seguro-002 .btn {
     color: #ffffff;
     font-size: 16px;
     line-height: 30px;
     margin: auto;
     padding: 7px 36px;
     transition: all 0.3s linear 0s;
     -moz-transition: all 0.3s linear 0s;
     -o-transition: all 0.3s linear 0s;
     -webkit-transition: all 0.3s linear 0s;
     -ms-transition: all 0.3s linear 0s;
 }
 
 .form-seguro-002 .control-label {
     color: #555;
     font-size: 15px;
     font-weight: 700;
 }
 
 .form-seguro-002 .form-control {
     border-radius: 3px;
     box-shadow: none;
     color: #888888;
     font-size: 15px;
     height: auto;
     line-height: 30px;
     padding: 0 15px;
 }
 
 .form-seguro-002 .form-height {
     height: 46px;
 }
 
 .form-seguro-002 .form-control.white_bg {
     background: #fff;
     border: #e6e5e5 solid 1px;
 }
 
 .form-seguro-002 .contact_form .form-control {
     margin-bottom: 8px;
 }
 
 .form-seguro-002 .page {
     display: none;
 }
 
 .form-seguro-002 .active {
     display: inherit;
 }
 
 @media all and (max-width:990px) {
     .form-seguro-002 .img-seguro img {
         display: none;
     }
     .form-seguro-002 .img-full {
         margin: auto;
     }
 }