.slider_010 .slider_010-background-rotate {
  height: 100%;
  width: 50%;
  right: 0px;
  position: absolute;
  -moz-transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
  -webkit-transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
  -o-transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
  -ms-transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
  transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
  transition: 0.5s;
}
@media all and (max-width: 540px) {
  .slider_010 .slider_010-background-rotate {
    -moz-transform: scale(1.3) rotate(360deg) translate(-40px, 0px) skew(150deg, 0deg);
    -webkit-transform: scale(1.3) rotate(360deg) translate(-40px, 0px) skew(150deg, 0deg);
    -o-transform: scale(1.3) rotate(360deg) translate(-40px, 0px) skew(150deg, 0deg);
    -ms-transform: scale(1.3) rotate(360deg) translate(-40px, 0px) skew(150deg, 0deg);
    transform: scale(1.3) rotate(360deg) translate(-40px, 0px) skew(150deg, 0deg);
    transition: 0.5s;
  }
}
.slider_010 .slider_010-background-triangulo-right {
  width: 0;
  height: 0;
  border-bottom: 497px solid red;
  border-left: 350px solid transparent;
  border-right: 350px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  top: -21%;
  left: -168px;
  opacity: 0.5;
  transition: 0.5s;
}
@media all and (max-width: 540px) {
  .slider_010 .slider_010-background-triangulo-right {
    left: -120px;
    transition: 0.5s;
  }
}
.slider_010 .slider_010-background-triangulo-left {
  width: 0;
  height: 0;
  border-bottom: 497px solid red;
  border-left: 350px solid transparent;
  border-right: 350px solid transparent;
  transform: rotate(-90deg);
  position: absolute;
  top: 21%;
  right: -168px;
  opacity: 0.5;
  transition: 0.5s;
}
@media all and (max-width: 540px) {
  .slider_010 .slider_010-background-triangulo-left {
    right: -120px;
    transition: 0.5s;
  }
}
.slider_010 .carousel-inner > .item {
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.slider_010 .carousel-inner > .item > a > img {
  display: none !important;
}
.slider_010 .carousel-inner > .item .item-text * {
  margin: inherit;
  padding-left: 20px;
}
.slider_010 .carousel-inner > .item .item-text > .titulo {
  margin-top: 180px;
}
.slider_010 .carousel-inner > .item .item-text > .sub-titulo {
  margin-top: 0px;
}
.slider_010 .carousel-inner > .item .text-cont {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 9999;
  top: 100px;
  left: 20px;
}
.slider_010 .carousel-control.left,
.slider_010 .carousel-control.right {
  background-image: none;
  top: inherit;
  bottom: 60px;
  z-index:1;
}
.slider_010 .carousel-control.left:hover,
.slider_010 .carousel-control.right:hover,
.slider_010 .carousel-control.left:focus,
.slider_010 .carousel-control.right:focus {
  opacity: none;
}
.slider_010 .carousel-control.left {
  left: 40%;
}
.slider_010 .carousel-control.right {
  right: 40%;
}
