<div class="menu-m002 full-w">
    <div class="navbar-wrapper">
        <nav class="navbar">
            <div class="nav-utility">
                <div class="module left">
                    <i class="fa fa-map-marker" data-icon="true"></i>
                    <span class="sub" data-editable="true">R. Gomes de Carvalho, 1996 - Vila Olimpia</span>
                </div>
                <div class="module left">
                    <i class="fa fa-envelope-o" data-icon="true"></i>
                    <span class="sub" data-editable="true">11 0000.0000</span>
                </div>
                <div class="module right">
                    <div class="btn hidden-xs" data-editable="true" data-link="true"><a href="#">ADEL VEÍCULOS</a></div>
                    <div class="btn hidden-xs" data-editable="true" data-link="true"><a href="#">NOSSOS CLIENTES</a></div>
                    <div class="btn hidden-xs" data-editable="true" data-link="true"><a href="#">ANUNCIE SEU VEÍCULO</a></div>
                    <div class="btn hidden-xs" data-editable="true" data-link="true"><a href="#">FALE CONOSCO</a></div>
                </div>
            </div>
            <div class="nav-bar">
                <div class="module left">
                    <div><img alt="" class="image-xxs" data-image="true" src="http://srv4.vmwm.com.br/criacao-design/sites/pro/adelveiculos/img/logo.png"></div>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="module-group right">
                    <div class="module left cont-menu">
                        <ul data-menu="true">


                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>