.text_block_old_mod_003 {
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #ccc;
}

.text_block_old_mod_003 .cont-img>img {
    width: 100%;
}

.text_block_old_mod_003 .btn_black {
    color: #fff;
    background-color: #000;
    border-radius: 0px;
    border: none;
}