
.x_component_slider_cod_065 > .container-fluid {
  padding: 0;
}

.x_component_slider_cod_065 .item .slide-counter {
  text-align: center;
  position: absolute;
  bottom: 40px;
  width: 100%;
  font-size: 35px;
  letter-spacing: 5px;
}
.x_component_slider_cod_065 .item .slide-counter p {
  font-size: 25px;
  color: #51534C;
  display: inline-block;
  padding-bottom: 10px;
  margin-right: 3px;
}
.x_component_slider_cod_065 .bs-slider-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 90;
}
.x_component_slider_cod_065 .bs-slider-overlay .slider-title {
  text-align: center;
  color: white;
  font-size: 210px;
  font-weight: 500;
  line-height: 260px;
  letter-spacing: -7px;
  text-transform: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.x_component_slider_cod_065 .carousel-indicators .active {
  background: #333;
}
.x_component_slider_cod_065 .carousel-indicators li {
  width: 15px;
  height: 15px;
  border: none;
  background: #51534C;
}
.x_component_slider_cod_065 .item.active .slider-title {
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .x_component_slider_cod_065 .bs-slider-overlay .slider-title {
    font-size: 100px;
  }
}
@media screen and (max-width: 768px) {
  .x_component_slider_cod_065 .bs-slider-overlay .slider-title {
    font-size: 40px;
    letter-spacing: 0;
  }
}
