<section class="text-t0011 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
              <h3 class="font-title" data-editable="true">Título</h3>
            </div>
        </div>
    </div>
</section>