.x_component_cta_cod_170>.width-100 {
    width: 100%;
}

.x_component_cta_cod_170 .color-default {
    color: #ffffff;
}

.x_component_cta_cod_170 .btn-color {
    background: #ffffff;
}

.x_component_cta_cod_170 .layout-btn {
    border-radius: 3px;
}

.x_component_cta_cod_170 .font-title {
    font-size: 110px;
}



.x_component_cta_cod_170 .container .jumbotron,
.x_component_cta_cod_170 .container-fluid .jumbotron {
    position: relative;
    color: #9a9a9e;
    background-color: rgba(41, 42, 49, 0.75);
    min-height: 700px;
  	margin-bottom:0px;
}

.x_component_cta_cod_170 .container .jumbotron:before,
.x_component_cta_cod_170 .container-fluid .jumbotron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.x_component_cta_cod_170 .item-contain {
    padding-top: 12rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: transparent;
}

.x_component_cta_cod_170 .item-contain .font-title {
    font-size: 110px;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: 0em;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

.x_component_cta_cod_170 .item-contain .font-description {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.45833;
    letter-spacing: 0.115em;
    text-transform: uppercase;
    color: #FA6A2F;
    padding-bottom: 40px;
    margin-top: 10px;
}

.x_component_cta_cod_170 .no-padding {
    padding: 0;
}

.x_component_cta_cod_170 .btn-theme {
    font-size: 12px;
    padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 0.25px;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    border: 1px solid #FA6A2F;
    background: #FA6A2F;
    border-radius: 0;
}

.x_component_cta_cod_170 .btn-theme:hover {
    color: #FA6A2F;
    background: transparent;
}

.x_component_cta_cod_170 .btn-lg {
    border-width: 4px;
    padding: 25px 40px;
    font-size: 19px;
    line-height: 1.158;
    font-weight: 700;
    letter-spacing: 0.05em;
    min-width: 240px;
}

.x_component_cta_cod_170 .item-img {
    position: absolute;
    left: 14%;
    bottom: -32%;
}


.x_component_cta_cod_170 .item-img img {
    max-width: 100%;
}

.x_component_cta_cod_170 .content-body-skin-1 {
    position: absolute;
    right: 14%;
    bottom: -100px;
    height: 270px;
    background-color: #FFFFFF;
    z-index: 999;
    text-align: left;
}


@media (max-width: 991px) {

    .x_component_cta_cod_170 .content-body-skin-1{
        position: relative;
        right:0px;
        bottom: 0px;

    }
    .x_component_cta_cod_170 .item-img {
        position: relative;
        left: 0px;

    }
    .x_component_cta_cod_170 .container .jumbotron,
    .x_component_cta_cod_170 .container-fluid .jumbotron {
        min-height: 1300px;

    }
}


.x_component_cta_cod_170 .content-body-skin-1 h2 {
    font-size: 36px;
    line-height: 1.38889;
    display: block;
    color: #fa6a2f;
    font-weight: 700;
}

.x_component_cta_cod_170 .content-body-skin-1 .terms-list {
    margin-top: 0.29rem;
    display: inline-block;
    font-size: 20px;
    color: #222222;
}



.x_component_cta_cod_170 .skin-1 {
    padding: 14px 26px;
    background-color: #fff;
    position: relative;
}

.x_component_cta_cod_170 .skin-1:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -32px;
    height: 50px;
    width: 100%;
    background-color: inherit;
    -webkit-transform: skewY(-2.5deg);
    transform: skewY(-2.5deg);
}

@media screen and (max-width: 1024px) {
    .x_component_cta_cod_170 .item-contain .font-title {
        font-size: 62px;
        line-height: 1.16;
    }
}

@media screen and (max-width: 480px) {
    .x_component_cta_cod_170 .item-contain .font-title {
        font-size: 38px;
        line-height: 1.33;
    }
    .x_component_cta_cod_170 .content-body-skin-1 h2 {
        font-size: 32px;
    }
}