<div class="form-contato-002 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <img class="img-responsive" src="img/contato.jpg" data-image="true">
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <form data-form-type="contato" data-form-layout="true"></form>
            </div>
        </div>
    </div>
</div>