.reser_border {
    border-radius: 0px;
    border: none;
}

.menu-m015 {
    color: #000;
}

.menu-m015 .bg-nav {
    /*background-color: #c7c7c7;*/
}

.menu-m015 a {
    color: #000;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: transparent;
}

.menu-m015 #header .navbar {
    margin-bottom: 0px;
}

.menu-m015 #header .navbar-default {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

.menu-m015 #header .navbar-brand {
    height: auto;
}

.menu-m015 #header .navbar {
    margin-bottom: 0px;
}

.menu-m015 #header .navbar-brand img {
    width: 100%;
}

@media all and (max-width: 1091px) {
    .menu-m015 #header .navbar-brand {
        float: none;
    }
    .menu-m015 #header .navbar-brand img {
        width: 50%;
        margin-left: 25%;
    }
}

.menu-m015 #header .cont_infos {
    padding-top: 35px;
}

.menu-m015 #header .cont_infos .cont_endereco {
    font-size: 11px;
}

@media all and (max-width: 990px) {
    .menu-m015 #header .cont_infos .cont_endereco.text-right {
        text-align: center;
    }
    .menu-m015 #header .cont_infos .cont_tel.text-right {
        text-align: center;
    }
}

.menu-m015 #header .cont_infos .cont_redes {
    font-size: 40px;
    text-align: right;
}

.menu-m015 #header .cont_infos .cont_redes i {
    vertical-align: top;
}

@media (max-width: 1091px) {
    .menu-m015 #header .cont_infos .cont_redes {
        text-align: center;
    }
}

@media (max-width: 1091px) {
    .menu-m015 #header .xs-text-center {
        text-align: center;
    }
}

.menu-m015 #header #navbar {
    max-height: 50px !important;
    margin: 0 auto;
    text-align: center;
}

@media all and (max-width: 768px) {
    .menu-m015 #header #navbar {
        max-height: inherit !important;
    }
}

.menu-m015 #header #navbar .nav.navbar-nav {
    float: none;
    display: inline-block;
    padding-top: 5px;
    color: #000;
}

@media all and (max-width: 768px) {
    .menu-m015 #header #navbar .nav.navbar-nav {
        width: 100%;
    }
}

.menu-m015 #header #navbar .nav.navbar-nav li {
    border-right: 1px #fff solid;
    min-width: 120px;
}

@media all and (max-width: 768px) {
    .menu-m015 #header #navbar .nav.navbar-nav li {
        min-width: inherit;
        border-right: none;
    }
}

.menu-m015 #header #navbar .nav.navbar-nav li:last-child {
    border-right: none;
}

.menu-m015 #header #navbar .nav.navbar-nav li.active a {
    background-color: inherit;
}
.menu-m015 #header #navbar .menu li ul,
.menu-m015 #header #navbar .menu li{
    border: none;
    border-radius: 0px;
    margin: 0;
}

.menu-m015 #header #navbar .menu > li  > ul > li > ul,
.menu-m015 #header #navbar .menu > li > ul {
    display: none;
    
}
.menu-m015 #header #navbar .menu > li > ul > li:hover > ul,
.menu-m015 #header #navbar .menu > li:hover > ul{
    display: block;

}

.menu-m015 #header #navbar .menu li>a i{
    display: none;
}

.menu-m015 .navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #fff;
    transition: 0.5s;
}
.menu-m015 .navbar-default .navbar-toggle:focus, .menu-m015 .navbar-default .navbar-toggle:hover{
    background-color: transparent;
    border-radius: 0px;
    transition: 0.5s;
    border-color: #000;
}
@media (max-width: 768px) {

    .menu-m015 #header #navbar .menu li ul{
        position: relative;
        width:100%;
    }
    .menu-m015 .navbar-header{
        padding: 0 15px;
    }
}

.menu-m015 #header #navbar .nav.navbar-nav li>a {
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-m015 #header #navbar .nav.navbar-nav li>a:active {
    background-color: inherit;
    background-image: none;
}

.menu-m015 #header #navbar .nav.navbar-nav li>a:focus,
.menu-m015 #header #navbar .nav.navbar-nav li>a:hover {
    background-color: inherit;
    background-image: none;

}

.menu-m015 #header #navbar .nav.navbar-nav .dropdown-menu {
    text-align: center;
    /*background-color: #201616;*/
}

.menu-m015 #header #navbar .nav.navbar-nav .dropdown-menu li {
    border: none;
}

.menu-m015 .container-fluid.wrap_nav {
    padding: 0px;
}