.x_component_slider-box_cod_319 {
    padding: 0;
    position: relative;
}

.x_component_slider-box_cod_319 .container {
    width: 85%;
}

.x_component_slider-box_cod_319 .container .carousel-indicators {
    position: absolute;
    top: 45px;
    left: unset;
    right: 6%;
    bottom: unset;
    max-width: 80px;
}

.x_component_slider-box_cod_319 .container .carousel-indicators li {
    width: 18px;
    height: 18px;
    background: #fff;
}

.x_component_slider-box_cod_319 .container .carousel-indicators li.active {
    background: #FF530D;
    border: 1px solid #FF530D;
}

.x_component_slider-box_cod_319 .container .box-container {
    background: #FFFFFF;
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: -80px;
}

.x_component_slider-box_cod_319 .container .box {
    width: 100%;
    height: 270px;
    background: #464646;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    border-bottom: 8px solid rgba(0, 0, 0, 1);
}

.x_component_slider-box_cod_319 .container .box:hover {
    border-bottom: 8px solid rgba(0, 0, 0, 0.6);
}

.x_component_slider-box_cod_319 .container .box img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_slider-box_cod_319 .container .box:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.x_component_slider-box_cod_319 .container .box .elements {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.x_component_slider-box_cod_319 .container .box .elements .title {
    color: #FF530D;
    font-size: 39px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_slider-box_cod_319 .container .box .elements .item {
    color: #FFFFFF;
    font-size: 78px;
    line-height: 80px;
    font-weight: 300;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_slider-box_cod_319 .container .box .elements i {
    position: absolute;
    top: 0%;
    right: 20px;
    font-size: 78px;
    color: #FFFFFF;
    font-family: FontAwesome;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_slider-box_cod_319 .container .box:hover .elements .title {
    color: #FFFFFF;
    font-size: 78px;
}

.x_component_slider-box_cod_319 .container .box:hover .elements .item {
    opacity: 0.8;
    font-size: 39px;
}

.x_component_slider-box_cod_319 .container .box:hover .elements i {
    opacity: 0.8;
    top: 64%;
}

.x_component_slider-box_cod_319 .carousel-fade .carousel-inner .item img {
    width: 100%;
}

.x_component_slider-box_cod_319 .carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.x_component_slider-box_cod_319 .carousel-fade .carousel-inner .active {
    opacity: 1;
}

.x_component_slider-box_cod_319 .carousel-fade .carousel-inner .active.left,
.x_component_slider-box_cod_319 .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.x_component_slider-box_cod_319 .carousel-fade .carousel-inner .next.left,
.x_component_slider-box_cod_319 .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.x_component_slider-box_cod_319 .carousel-fade .carousel-control {
    z-index: 2;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .x_component_slider-box_cod_319 .container .box {
        height: 220px;
    }
    .x_component_slider-box_cod_319 .container .box .elements .title {
        font-size: 40px;
        line-height: 40px;
    }
    .x_component_slider-box_cod_319 .container .box .elements .item {
        font-size: 50px;
        line-height: 50px;
        margin-top: 10px;
    }
    .x_component_slider-box_cod_319 .container .box .elements i {
        font-size: 50px;
    }
    .x_component_slider-box_cod_319 .container .box:hover .elements .title {
        font-size: 50px;
    }
    .x_component_slider-box_cod_319 .container .box:hover .elements i,
    .x_component_slider-box_cod_319 .container .box:hover .elements .item {
        font-size: 40px;
    }
    .x_component_slider-box_cod_319 .container .box:hover .elements i {
        opacity: 0.8;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .x_component_slider-box_cod_319 .container .box {
        height: 150px;
    }
    .x_component_slider-box_cod_319 .container .box .elements .title {
        font-size: 30px;
        line-height: 30px;
    }
    .x_component_slider-box_cod_319 .container .box .elements .item {
        font-size: 35px;
        line-height: 35px;
        margin-top: 10px;
    }
    .x_component_slider-box_cod_319 .container .box .elements i {
        font-size: 35px;
    }
    .x_component_slider-box_cod_319 .container .box:hover .elements .title {
        font-size: 35px;
    }
    .x_component_slider-box_cod_319 .container .box:hover .elements .item {
        font-size: 30px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .x_component_slider-box_cod_319 .container .box-container {
        margin-top: 0;
        padding-top: 10px;
    }
    .x_component_slider-box_cod_319 .container .box {
        height: 130px;
    }
    .x_component_slider-box_cod_319 .container .box .elements .title {
        font-size: 25px;
        line-height: 25px;
    }
    .x_component_slider-box_cod_319 .container .box .elements .item {
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
    }
    .x_component_slider-box_cod_319 .container .box .elements i {
        font-size: 30px;
    }
    .x_component_slider-box_cod_319 .container .box:hover .elements .title {
        font-size: 30px;
    }
    .x_component_slider-box_cod_319 .container .box:hover .elements .item {
        font-size: 25px;
    }
}

@media screen and (max-width: 480px) {
    .x_component_slider-box_cod_319 .container .box-container {
        margin-top: 0;
        padding-top: 10px;
    }
    .x_component_slider-box_cod_319 .container .box {
        height: 110px;
    }
    .x_component_slider-box_cod_319 .container .box .elements .title {
        font-size: 20px;
        line-height: 20px;
    }
    .x_component_slider-box_cod_319 .container .box .elements .item {
        font-size: 25px;
        line-height: 25px;
        margin-top: 10px;
    }
    .x_component_slider-box_cod_319 .container .box .elements i {
        font-size: 25px;
    }
    .x_component_slider-box_cod_319 .container .box:hover .elements .title {
        font-size: 25px;
    }
    .x_component_slider-box_cod_319 .container .box:hover .elements .item {
        font-size: 20px;
    }
}