
    <section class="destaque_013 pad-default-elements">
        <div class="container">
            <div class="row">
                <div class="col-md-12 cont_titulo_sessao text-center">
                    <h1 class="titulo " data-editable="true">VEICULOS EM DESTAQUE</h1>
                </div>
                <div class="cont-estoque col-md-12 center ">
                    <div class="col-md-3 col-xs-12" data-destaque-template="true">
                        <div class="item">
                            <div class="cont-itens">
                                <div class="interno">
                                    <div class="item ">
                                        <img src="#destaqueImage#" class="img-responsive" alt=" ">
                                        <span class="clearfix"></span>
                                    </div>
                                </div>
                                <div class="cont_info_item_estoque ">
                                    <div class="titulo_item ">
                                        <h3>#destaqueModel#</h3>
                                    </div>
                                    <div class="cont_valor  pull-right">
                                        <p class="valor background-theme">#destaquePrice#</p>
                                    </div>
                                    <span class="clearfix"></span>
                                    <div class="cont-velocimetro">
                                        <i class="velocimetro pull-left"></i>
                                        <p class="pull-left">0.00 KM</p>
                                    </div>
                                    <div class="km"></div>
                                    <span class="clearfix"></span>
                                    <div class="detalhes ">
                                        <ul>
                                            <li>Usado</li>
                                            <li><i class="fa fa-circle" aria-hidden="true"></i>#destaqueYear#</li>
                                            <li><i class="fa fa-circle" aria-hidden="true"></i>Manual</li>
                                            <li><i class="fa fa-circle" aria-hidden="true"></i>Laranja</li>
                                            <li><i class="fa fa-circle" aria-hidden="true"></i>Gasolina</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

