.x_component_ads_code_238 {
  background: #F4F4F4;
  overflow: hidden;
  padding-bottom: 50px;
}
.x_component_ads_code_238 .brands-top {
  padding-bottom: 60px;
}
.x_component_ads_code_238 .my-carosel {
  padding-top: 15px;
}
.x_component_ads_code_238 small {
    display: block;
    margin: 0 0 20px;
}
.x_component_ads_code_238 div.btn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  padding: 15px 19px;
  font-size: 14px;
  border-radius: 0;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding-right: 6px;
  position: relative;
  box-shadow: 10px 10px 21px 1px rgba(0, 0, 0, 0.12);
  background: #fff;
}
.x_component_ads_code_238 .btn:focus,
.x_component_ads_code_238 .btn:hover,
.x_component_ads_code_238 .btn:active {
  opacity: 0.6;
}
.x_component_ads_code_238 .btn .triangle {
  position: absolute;
  clip: rect(auto, auto, auto, 25px);
  width: 64px;
  height: 62px;
  right: -39px;
  top: -10.6px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.x_component_ads_code_238 .btn .triangle:before {
  content: '';
  position: absolute;
  width: 37px;
  height: 37px;
  background: #fff;
  transform: rotate(45deg) !important;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: 20px;
  top: 17px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.12);
}
.x_component_ads_code_238 .item-model {
  font-size: 18px;
  line-height: 1.77777778;
  color: #333;
  font-weight: 400;
}
.x_component_ads_code_238 .item-img {
  max-height: 225px;
  margin-top: 10px;
  overflow: hidden;
}
.x_component_ads_code_238 .item-img img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;  
}
.x_component_ads_code_238 .slick-slide {
  margin-bottom: 30px;
  padding: 0 15px;
}
.x_component_ads_code_238 .slick-prev,
.x_component_ads_code_238 .slick-next {
  width: 30px;
  height: 40px;  
  background-color: #fff;
}
.x_component_ads_code_238 .slick-prev:hover,
.x_component_ads_code_238 .slick-next:hover {
  background-color: #5B5B57
}
.x_component_ads_code_238 .slick-prev:before,
.x_component_ads_code_238 .slick-next:before {
    font-family: 'FontAwesome';
    opacity: 1;
    color: #5b5b57;
    font-size: 30px;
}
.x_component_ads_code_238 .slick-prev:hover:before,
.x_component_ads_code_238 .slick-next:hover:before {
  color: #EDD47C;
}
.x_component_ads_code_238 .slick-prev:before {
  content: "\f053";
}
.x_component_ads_code_238 .slick-next:before {
  content: "\f054";
}
@media screen and (max-width: 1024px) {
  .x_component_ads_code_238 .item-model {
    min-height: 70px;
  }
  .x_component_ads_code_238 .title-text {
    text-align: center;
  }
  .x_component_ads_code_238 .all-category {
    text-align: center;
  }
}
