.header_old_mod_stand_003 .dropdown-menu>li>a:focus,
.header_old_mod_stand_003 .dropdown-menu>li>a:hover,
.header_old_mod_stand_003 .navbar-default .navbar-nav>.open>a,
.header_old_mod_stand_003 .navbar-default .navbar-nav>.open>a:focus,
.header_old_mod_stand_003 .navbar-default .navbar-nav>.open>a:hover,
.header_old_mod_stand_003 .navbar-default .navbar-nav>.active>a,
.header_old_mod_stand_003.navbar-default .navbar-nav>.open>a{
    background-color: transparent;
    background-image: none;
}
.header_old_mod_stand_003 .navbar-default-custom {
    border: none;
    border-color: transparent;
    background-color: transparent;
    background-image: none;
}

.header_old_mod_stand_003 .menu,
.header_old_mod_stand_003 .menu ul,
.header_old_mod_stand_003 .menu li{
    border-radius: 0px;
    border: none;
}
.header_old_mod_stand_003 .menu a{
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
}
.header_old_mod_stand_003 .menu li > ul,
.header_old_mod_stand_003 .menu .dropdown-menu a >i{
    display: none
}
.header_old_mod_stand_003 .dropdown-menu ul{
    position: absolute;
    left: 0;
    padding: 20px;
    display: none;
}
.header_old_mod_stand_003 .menu li:hover > ul,
.header_old_mod_stand_003 .dropdown-menu:hover > ul {
    display: block;
}
@media (max-width: 768px) {
    .header_old_mod_stand_003 .menu li > ul{
        position: relative;
        width: 100%;
        text-align: center;

    }


}

.header_old_mod_stand_003 .dropdown-menu ul,
.header_old_mod_stand_003 .dropdown-menu{
    min-width: auto;
    word-break: normal;
}
.header_old_mod_stand_003 .navbar-brand {
    height: auto;
}

.header_old_mod_stand_003 .navbar-toggle-custom {
    margin-top: 25px;
    border-radius: 0px;
}

.header_old_mod_stand_003 ul {
    float: right;
    list-style: none;
}

.header_old_mod_stand_003 ul.navbar-nav >li {
    border-right: 1px solid #fff;
}

.header_old_mod_stand_003 ul.navbar-nav > li:last-child {
    border: none;
}

@media (max-width: 991px) {
    .header_old_mod_stand_003 .navbar-brand-custom {
        float: none;
    }
    .header_old_mod_stand_003 .navbar-brand-custom img {
        margin: auto;
    }
    .header_old_mod_stand_003 ul {
        float: none;
    }
}

@media (max-width: 768px) {
    .header_old_mod_stand_003 ul {
        float: none;
    }
    .header_old_mod_stand_003 ul.navbar-nav {
        text-align: center;
    }
    .header_old_mod_stand_003 ul.navbar-nav li {
        border: none;
    }
}

@media (max-width: 768px) {
    .header_old_mod_stand_003 .navbar-right,
    .header_old_mod_stand_003 .navbar-header {
        float: none!important;
    }
}