.x_component_services_cod_136 {
    background: #191b20;
    padding: 70px 0;
    position: relative;
    margin-top: 20px;
    color: #fff;
  clear:both;
}

.x_component_services_cod_136 .top-traingle {
    position: absolute;
    top: -20px;
    right: 0px;
    width: 60%;
    height: 20px;
    border-bottom: 20px solid ;
    border-left: 25px solid transparent !important;
}

.x_component_services_cod_136 .bottom-traingle {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 60%;
    height: 20px;
    border-right: 25px solid transparent !important;
    border-top: 20px solid ;
}

.x_component_services_cod_136 .service-title {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.x_component_services_cod_136 .service-title:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 3px;
    background: #fff;
    bottom: -10px;
    left: 0;
}

.x_component_services_cod_136 .icon i {
    display: inline-block;
    line-height: 1;
    font-size: 70px;
}

.x_component_services_cod_136 .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.x_component_services_cod_136 .service-container {
    margin-top: 50px;
    min-height: 170px;
}

.x_component_services_cod_136 .service-container>.icon {
    display: inline-block;
    float: left;
    width: 15%;
}

.x_component_services_cod_136 .service-container>.description {
    display: inline-block;
    float: left;
    width: 83%;
}

.x_component_services_cod_136 .service-container>.description h3 {
    margin: 0;
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
}

.x_component_services_cod_136 .service-container>.description {
    color: #fff;
    margin-top: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
}

@media screen and (max-width: 400px) {
    .x_component_services_cod_136 .icon i {
        font-size: 45px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .x_component_services_cod_136 .icon i {
        font-size: 55px;
    }
}