<section class="x_component_footer_cod_201 pad-default-element">
    <div class="container">
        <div class="row text-xs-center">
            <div class="col-sm-3">
                <h1 data-editable="true" class="footer-module-title">Information</h1>
                <ul class="list-unstyled footer-menu">
                    <li>
                        <div data-editable="true">
                            About Us
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Delivery Information
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Privacy Policy
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Terms & Conditions
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="visible-xs">
            <div class="col-sm-3">
                <h1 data-editable="true" class="footer-module-title">Customer Service</h1>
                <ul class="list-unstyled footer-menu">
                    <li>
                        <div data-editable="true">
                            Contact Us
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Returns
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Site Map
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Blog
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="visible-xs">
            <div class="col-sm-3">
                <h1 data-editable="true" class="footer-module-title">Extras</h1>
                <ul class="list-unstyled footer-menu">
                    <li>
                        <div data-editable="true">
                            Brands
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Gift Vouchers
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Affiliates
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Specials
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="visible-xs">
            <div class="col-sm-3">
                <h1 data-editable="true" class="footer-module-title">My Account</h1>
                <ul class="list-unstyled footer-menu">
                    <li>
                        <div data-editable="true">
                            My Account
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Order History
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Wish List
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Newsletter
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row copyright">
                <div class="col-xs-12">
                    <hr class="border-footer">
                </div>
                <div class="col-md-1">
                    <div class="footer-bottom logo-box">
                        <img data-image="true" src="assets/img/component_footer_cod_201_01.png" alt="" class="img-responsive">
                    </div>
                </div>

                <div class="col-lg-4 col-md-3 col-sm-6 no-padding-left">
                    <div class="footer-bottom hour-box">
                        <div class="small-text" data-editable="true">7 Days a week from 9:00 am to 5:00 pm</div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-bottom contact-box">
                        <div data-editable="true" class="">
                            <i class="fa fa-phone" data-icon="true" aria-hidden="true"></i>
                            <div class="inline-block" data-editable="true">800-2345-6789</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="footer-bottom social-icon">
                        <ul class="list-unstyled list-inline footer-social" data-social="true">
                            <li>
                                <a class="color-default-hover" target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 no-padding-left">
                    <div class="footer-bottom copyright-box ">
                        <div class="small-text" data-editable="true">Powered By OpenCart © 2017 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>