<section id="footer" class="footer-background pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center-xs">
                <div class="center-block cont-social pull-left color-default" data-social="true">
                    <a target="_blank" href="#icon-link#"><i class="#icon-class#" aria-hidden="true"></i></a>
                </div>
                <span class="clearfix"></span>
                <div class="cont-info color-default">
                    <div><i class="fa fa-envelope-o" data-icon="true"></i>
                        <div class="inline-block" data-editable="true">email@email.com</div>
                    </div>
                    <div><i class="fa fa-phone" data-icon="true"></i>
                        <div class="inline-block" data-editable="true">(99) 9999.9999</div>
                    </div>
                    <div><i class="fa fa-map-signs" data-icon="true"></i>
                        <div class="inline-block" data-editable="true">Endereço</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="cont-logo-footer">
                    <img class="img-responsive" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=23795" alt="" data-image="true">
                </div>
            </div>
            <div class="col-md-3">
              <div data-newsletter="true">
                  <form data-form-type="newsletter" data-form-layout="newsletter-2"></form>
              </div>
            </div>
        </div>
    </div>
</section>