<section class="x_component_text_cod_254 pad-default-element">
    <div class="container">
        <div class="row text-left">
            <div class="col-xs-12">
                <h1 class="font-title" data-editable="true">
                    Lorem ipsum dolor sit amet.
                </h1>
            </div>
            <div class="col-xs-12">
                <div class="btn btn-color layout-btn text-uppercase background-theme" data-editable="true"> 
                    Lorem ipsum
                </div>
            </div>
        </div>
    </div>
</section>