.zero-km-zk001 img {
    width: auto;
    height: 80px;
  	max-width: 160px;
}

.zero-km-zk001 .owl-theme {
    padding-top: 30px;
}

.zero-km-zk001 .zero-km-zk001 .carousel-wrapper {
    text-align: center;
}

.zero-km-zk001 .owl-theme .owl-buttons div {
    margin-top: -28px;
}