.x_component_text-image_cod_271 {
      background: url('../images/component-text-image-cod-271-01.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    padding: 70px 0;
    margin-top: 20px;
  clear:both;
}

.x_component_text-image_cod_271 .t1,
.x_component_text-image_cod_271 .t1 {
    display: inline;
}

.x_component_text-image_cod_271 .t1 {
    font-size: 300px;
    line-height: 240px;
    float: left;
    font-weight: 300;
}

.x_component_text-image_cod_271 .t2 {
    font-size: 80px;
    line-height: 80px;
    display: block;
    margin-top: 7px;
    font-weight: 300;
    text-transform: uppercase;
}

.x_component_text-image_cod_271 .botton-text {
    font-size: 20px;
    font-weight: 300;
    opacity: .2;
    text-transform: uppercase;
    margin: 15px 0 30px 15px;
    line-height: 23px;
}

.x_component_text-image_cod_271 .button {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    text-align: center;
    background: #f15f43;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    vertical-align: middle;
    white-space: nowrap;
    padding-top: 40px;
}

.x_component_text-image_cod_271 .fa-shopping-cart {
    font-size: 38px;
    vertical-align: middle;
}

.x_component_text-image_cod_271 .button-img {
    position: absolute;
    left: 0;
    bottom: -20px;
}

.x_component_text-image_cod_271 .button-img img {
    width: 100%;
}

.x_component_text-image_cod_271 .no-padding {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 900px) {
    .x_component_text-image_cod_271 .t1 {
        font-size: 160px;
        line-height: 120px;
    }
    .x_component_text-image_cod_271 .t2 {
        font-size: 40px;
        line-height: 40px;
    }
}

@media screen and (max-width: 480px) {
    .x_component_text-image_cod_271 .t1 {
        font-size: 125px;
        line-height: 100px;
    }
    .x_component_text-image_cod_271 .t2 {
        font-size: 30px;
        line-height: 30px;
    }
}