<section class="highlights-h011">
    <div class="row portfolio-section no-padding">
        <div class="col-md-3 col-sm-4 col-xs-12 portfolio-box no-padding" data-destaque-template="true">
            <img alt="" src="img/portfolio-1.jpg" data-image="true">
            <div class="portfolio-content">
                <h3>#destaqueModel#</h3>
                <div class="brand-car">#destaqueBrand#</div>
                <div class="price">#destaquePrice#</div>
                <ul>
                    <li>
                        <a href="#estoqueLink#"><i class="fa fa-search"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 portfolio-box no-padding">
            <img alt="" src="img/portfolio-2.jpg" data-image="true">
            <div class="portfolio-content">
                <h3>#destaqueModel#</h3>
                <div class="brand-car">#destaqueBrand#</div>
                <div class="price">#destaquePrice#</div>
                <ul>
                    <li><a href="#estoqueLink#"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 portfolio-box no-padding">
            <img alt="" src="img/portfolio-3.jpg" data-image="true">
            <div class="portfolio-content">
                <h3>#destaqueModel#</h3>
                <div class="brand-car">#destaqueBrand#</div>
                <div class="price">#destaquePrice#</div>
                <ul>
                    <li><a href="#estoqueLink#"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 portfolio-box no-padding">
            <img alt="" src="img/portfolio-4.jpg" data-image="true">
            <div class="portfolio-content">
                <h3>#destaqueModel#</h3>
                <div class="brand-car">#destaqueBrand#</div>
                <div class="price">#destaquePrice#</div>
                <ul>
                    <li><a href="#estoqueLink#"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 portfolio-box no-padding">
            <img alt="" src="img/portfolio-5.jpg" data-image="true">
            <div class="portfolio-content">
                <h3>#destaqueModel#</h3>
                <div class="brand-car">#destaqueBrand#</div>
                <div class="price">#destaquePrice#</div>
                <ul>
                    <li><a href="#estoqueLink#"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 portfolio-box no-padding">
            <img alt="" src="img/portfolio-6.jpg" data-image="true">
            <div class="portfolio-content">
                <h3>#destaqueModel#</h3>
                <div class="brand-car">#destaqueBrand#</div>
                <div class="price">#destaquePrice#</div>
                <ul>
                    <li><a href="#estoqueLink#"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 portfolio-box no-padding">
            <img alt="" src="img/portfolio-7.jpg" data-image="true">
            <div class="portfolio-content">
                <h3>#destaqueModel#</h3>
                <div class="brand-car">#destaqueBrand#</div>
                <div class="price">#destaquePrice#</div>
                <ul>
                    <li><a href="#estoqueLink#"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>