.x_component_boxes_cod_004 {
    padding: 20px;
    font-family: 'Exo 2', sans-serif;
}

.x_component_boxes_cod_004 .item {
    box-sizing: border-box;
    padding: 0 2px;
    margin-bottom: 4px;
}

.x_component_boxes_cod_004 .item-content .itemimg img {
    width: 100%;
}

.x_component_boxes_cod_004 .item-content .itemimg {
    position: relative;
    border: none;
    transition: 0.5s;
}

.x_component_boxes_cod_004 .item-content .itemimg:hover img {
    filter: opacity(40%);
    transition: 0.5s;
}

.x_component_boxes_cod_004 .position-box {
    padding: 20px;
    margin: 0;
}

.x_component_boxes_cod_004 .position-box>.boxes-module-title {
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    min-height: 50px;
}

.x_component_boxes_cod_004 .position-box a {
    color: #474747;
    font-size: 15px;
    line-height: 24px;
    display: inline-block;
}

.x_component_boxes_cod_004 .position-box a :hover,
.x_component_boxes_cod_004 .position-box a :focus {
    text-decoration: none;
}