<div class="footer-f005 txt-center color-default">
    <footer class="footer-2 ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center mb64 mb-xs-24">
                    <a href="javascript:;" class="logo" data-link="true">
                        <img alt="Logo" class="image-xs mb16" data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=25698">
                    </a>
                    <p class="lead mb48 mb-xs-16" data-editable="true">
                        rua xxxx xxx, n° xxx<br> Cidade - UF<br> (99) 9999.9999
                    </p>
                    <ul class="list-inline social-list spread-children" data-social="true" data-social-content="#">
                        <li><a href="#icon-link#" target="_blank"><i class="#icon-class#"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="row fade-half txt-center">
                <div class="col-sm-4" data-editable="true">
                    © Copyright 2015 WebMotors
                </div>

                <div class="col-sm-4 text-center" data-editable="true">
                    WebMotors
                </div>

                <div class="col-sm-4 text-right txt-center" data-editable="true">
                    <a href="mailto:email@email.com">email@email.com</a>
                </div>
            </div>
        </div>
    </footer>

</div>