
    <section class="x_component_footer_cod_189 pad-default-element">
        <footer class="container">
            <div class="container-fluid footer-top">
                <div class="row">
                    <div class="col-sm-6 col-md-3 sm-height">
                        <h1 data-editable="true" class="footer-module-title">ABOUT US</h1>
                        <div data-editable="true" class="font-description about-description">
                            By now we have repaired thousands of new and retro cars. During the last decade we garnered hundreds of loyal, returning
                            <br> customers all thanks to the quality of the work and repair we provide.
                            <br> Our masters are good at working with any kind of car damage, repair and replacements
                            <br> and the price is always kept leveled and balanced!
                        </div>
                    </div>
                    <hr class="visible-xs">
                    <div class="col-sm-6 col-md-3 sm-height">
                        <h1 data-editable="true" class="footer-module-title">Auto Repair Services</h1>
                        <ul class="list-unstyled footer-menu">
                            <li data-editable="true">AC</li>
                            <li data-editable="true">Steering & Suspension</li>
                            <li data-editable="true">Tires & Wheels</li>
                            <li data-editable="true">Batteries</li>
                            <li data-editable="true">Brake Repair</li>
                            <li data-editable="true">Oil Change</li>
                            <li data-editable="true">Exhaust & Mufflers</li>
                            <li data-editable="true">Engine Services</li>
                        </ul>
                    </div>
                    <hr class="visible-xs">
                    <div class="col-sm-6 col-md-3 sm-height">
                        <h1 data-editable="true" class="footer-module-title">Our locations:</h1>
                        <ul class="list-unstyled contact-info">
                            <li>
                                <div class="icon-container"><i data-icon="true" class="fa fa-marker"></i></div>
                                <div class="icon-data icon-data-last" data-editable="true">411 W Church St #200, Orlando, FL 32802</div>
                            </li>
                            <li>
                                <div class="icon-container"><i data-icon="true" class="fa fa-phone"></i></div>
                                <div class="icon-data" data-editable="true">555.123.2323</div>
                            </li>
                            <li>
                                <div class="icon-container"><i data-icon="true" class="fa fa-marker"></i></div>
                                <div class="icon-data icon-data-last" data-editable="true">1293 Bulltroar Rd, Silver City, CA 32800</div>
                            </li>
                            <li>
                                <div class="icon-container"><i data-icon="true" class="fa fa-phone"></i></div>
                                <div class="icon-data" data-editable="true">555.123.3333</div>
                            </li>
                            <li>
                                <div class="icon-container"><i data-icon="true" class="fa fa-marker"></i></div>
                                <div class="icon-data icon-data-last" data-editable="true">40/12 Curry Ford Rd, Silver City, CA 32800</div>
                            </li>
                            <li>
                                <div class="icon-container"><i data-icon="true" class="fa fa-phone"></i></div>
                                <div class="icon-data" data-editable="true">555.123.3322</div>
                            </li>
                        </ul>
                    </div>
                    <hr class="visible-xs">
                    <div class="col-sm-6 col-md-3 sm-height  newsletter ">
                        <h1 data-editable="true" class="footer-module-title">Working hours:</h1>
                        <ul class="list-unstyled schedule">
                            <li>
                                <div data-editable="true" class="col-md-6"> MONDAY </div>
                                <div class="col-md-6" data-editable="true">8:00 - 20:00</div>
                            </li>
                            <li>
                                <div data-editable="true" class="col-md-6"> MONDAY </div>
                                <div class="col-md-6" data-editable="true">8:00 - 20:00</div>
                            </li>
                            <li>
                                <div data-editable="true" class="col-md-6"> MONDAY </div>
                                <div class="col-md-6" data-editable="true">8:00 - 20:00</div>
                            </li>
                            <li>
                                <div data-editable="true" class="col-md-6"> MONDAY </div>
                                <div class="col-md-6" data-editable="true">8:00 - 20:00</div>
                            </li>
                            <li>
                                <div data-editable="true" class="col-md-6"> MONDAY </div>
                                <div class="col-md-6" data-editable="true">8:00 - 20:00</div>
                            </li>
                            <li>
                                <div data-editable="true" class="col-md-6"> MONDAY </div>
                                <div class="col-md-6" data-editable="true">8:00 - 20:00</div>
                            </li>
                            <li>
                                <div data-editable="true" class="col-md-6"> MONDAY </div>
                                <div class="col-md-6" data-editable="true">8:00 - 20:00</div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="copyright">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="assets/img/component_footer_cod_189_01.png" alt="logo" class="img-responsive" data-image="true">
                            <div data-editable="true" class="footer-rights">
                                © 2017 vmotors All Rights Reserved
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled list-inline footer-social pull-right" >
                                <li><i data-icon="true" class="fa fa-facebook"></i></li>
                                <li><i data-icon="true" class="fa fa-twitter"></i></li>
                                <li><i data-icon="true" class="fa fa-pinterest"></i></li>
                                <li><i data-icon="true" class="fa fa-instagram"></i></li>
                                <li><i data-icon="true" class="fa fa-dribbble"></i></li>
                                <li><i data-icon="true" class="fa fa-youtube"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>

