.x_component_header_cod_081_v2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.x_component_header_cod_081_v2 .navbar-brand img {
    max-height: 80px;
}
.x_component_header_cod_081_v2 .navbar{
  margin-bottom: 0px;
}
  
.x_component_header_cod_081_v2 .navbar-nav>li>a {
    margin-left: 15px;
}

.x_component_header_cod_081_v2 .no-reference {
    position: unset;
}

.x_component_header_cod_081_v2 .caret {
    display: none;
}

.x_component_header_cod_081_v2 .navbar-default {
    background: transparent;
    border: none;
    border-radius: 0;
}

.x_component_header_cod_081_v2 .navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 35px;
    line-height: 22px;
}

.x_component_header_cod_081_v2 .nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #222;
}

.x_component_header_cod_081_v2 .navbar-default .navbar-nav>li.active>a {
    border-radius: 50px;
    background: transparent;
}

.x_component_header_cod_081_v2 .top-nav-collapse {
    background-color: rgba(113, 113, 113, 0.4);
}

.x_component_header_cod_081_v2 .dropdown-menu {
    left: 0;
    border-radius: 0;
    border: 1px solid rgba(113, 113, 113, 0.3);
    border: none;
    min-width: 220px;
    padding: 40px 10px;
    top: 130%;
}

.x_component_header_cod_081_v2 .dropdown-menu a {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .12em;
    transition: .3s all ease;
    line-height: 30px;
}

.x_component_header_cod_081_v2 .dropdown-menu a:hover,
.x_component_header_cod_081_v2 .dropdown-menu a:focus {
    text-decoration: none;
    background: transparent;
}

.x_component_header_cod_081_v2 .dropdown-menu:before {
    position: absolute;
    top: -10px;
    left: 40px;
    width: 0;
    height: 0;
    content: '';
    border-top: 0;
    border-bottom: 10px solid #27292f;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.x_component_header_cod_081_v2 .dropdown-menu.mega-menu:before {
    position: unset;
}

.x_component_header_cod_081_v2 .mega-menu {
    padding: 10px 0px;
    width: 95%;
    border-radius: 0;
    margin-top: 0;
    border: none;
    margin-left: auto;
    margin-right: auto;
    top: 120px;
}

.x_component_header_cod_081_v2 .mega-menu .nav-header {
    padding: 0;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.x_component_header_cod_081_v2 .mega-menu .mega-menu-column:not(:last-child) {
    position: relative;
}

.x_component_header_cod_081_v2 .mega-menu .mega-menu-column:not(:last-child):after {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    height: 40%;
    background: #383b44;
}

.x_component_header_cod_081_v2 .mega-menu li {
    display: inline-block;
    float: left;
    padding: 3px 15px;
    width: 100%;
}

.x_component_header_cod_081_v2 .mega-menu li a {
    font-size: 12px;
    color: #fff;
}

.x_component_header_cod_081_v2 .mega-menu li a:hover {
    color: #fff;
    text-decoration: none;
}

.x_component_header_cod_081_v2 .mega-menu li.mega-menu-column {
    width: 25%;
}

.x_component_header_cod_081_v2 .mega-menu li.mega-menu-column ol {
    margin-left: 0;
    padding-left: 25px;
}

.x_component_header_cod_081_v2 .top-nav-collapse .dropdown-menu {
    top: 68px;
}

.x_component_header_cod_081_v2 .top-nav-collapse .mega-menu {
    top: 80px;
}

.x_component_header_cod_081_v2 .dropdown-submenu {
    position: relative;
}

.x_component_header_cod_081_v2 .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 102%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.x_component_header_cod_081_v2 .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.x_component_header_cod_081_v2 .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.x_component_header_cod_081_v2 .dropdown-submenu.pull-left {
    float: none;
}


/*.x_component_header_cod_081_v2 .nav .open>a,
.x_component_header_cod_081_v2 .nav .open>a:focus,
.x_component_header_cod_081_v2 .nav .open>a:hover {
    background: transparent;
    color: #F64512;
}*/

@media (min-width: 992px) and (max-width: 1200px) {
    .x_component_header_cod_081_v2 .navbar-default .navbar-nav>li>a {
        padding: 10px 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .x_component_header_cod_081_v2 .navbar-default .navbar-nav>li>a {
        padding: 10px 10px;
    }
    .x_component_header_cod_081_v2 .navbar-default .navbar-nav>li.active>a {
        border: none;
    }
    .x_component_header_cod_081_v2 .navbar-brand {
        width: 170px;
    }
    .x_component_header_cod_081_v2 .navbar-brand img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .x_component_header_cod_081_v2 {
        /*Collapse Drawer*/
        /*End Collapse Drawer*/
    }
    .x_component_header_cod_081_v2 .navbar-default {
        background: #292b31;
        height: 55px;
        position: fixed;
    }
    .x_component_header_cod_081_v2 .navbar-default .navbar-nav>li>a {
        padding: 10px 20px;
    }
    .x_component_header_cod_081_v2 .navbar-brand {
        width: 170px;
        height: 55px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 10px;
    }
    .x_component_header_cod_081_v2 .navbar-brand img {
        width: 100%;
    }
    .x_component_header_cod_081_v2 .dropdown-menu {
        padding: 0;
    }
    .x_component_header_cod_081_v2 .dropdown-toggle {
        position: relative;
    }
    .x_component_header_cod_081_v2 .dropdown-toggle:before {
        position: absolute;
        content: '\f078';
        width: 16px;
        height: 16px;
        right: 20px;
        top: 42%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        font-family: FontAwesome;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        font-size: 15px;
    }
    .x_component_header_cod_081_v2 .dropdown.open .dropdown-toggle:before {
        transform: rotate(180deg);
    }
    .x_component_header_cod_081_v2 .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
        font-size: 15px;
        padding: 10px 30px 10px;
    }
    .x_component_header_cod_081_v2 .mega-menu {
        width: 100%;
    }
    .x_component_header_cod_081_v2 .mega-menu li.mega-menu-column {
        width: 100%;
        padding: 0;
    }
    .x_component_header_cod_081_v2 .mega-menu li.mega-menu-column ol {
        width: 100%;
        padding-left: 0;
    }
    .x_component_header_cod_081_v2 .mega-menu li.mega-menu-column li {
        height: 40px;
        padding: 0;
        width: 100%;
    }
    .x_component_header_cod_081_v2 .mega-menu li.mega-menu-column a {
        font-size: 15px;
        width: 100%;
        padding: 10px 30px 10px;
        display: block;
        letter-spacing: 0;
    }
    .x_component_header_cod_081_v2 .navbar-default .navbar-nav>li.active {
        background: transparent;
    }
    .x_component_header_cod_081_v2 .navbar-default .navbar-nav>li.active>a {
        border: unset;
        border-radius: unset;
    }
    .x_component_header_cod_081_v2 .navbar-default .navbar-nav>li {
        overflow: hidden;
        margin-bottom: 3px;
    }
    .x_component_header_cod_081_v2 .navbar-default .navbar-nav>li a {
        text-transform: capitalize;
    }
    .x_component_header_cod_081_v2 .navbar-collapse {
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .x_component_header_cod_081_v2 .navbar-collapsed-from {
        color: #000;
        width: 270px;
        position: absolute;
        height: 1700px;
        margin-top: 20px;
        margin-left: -16px;
        display: none;
        max-height: unset;
        background-color: #fff;
        border: 1px solid rgba(113, 113, 113, 0.3);
        border: none;
    }
    .x_component_header_cod_081_v2 .navbar-collapsed-to {
        background-color: rgba(113, 113, 113, 0.4);
        color: #000;
        width: 270px;
        position: absolute;
        height: 1700px;
        margin-top: 20px;
        margin-left: -16px;
        visibility: visible;
        max-height: unset;
        border: none;
    }
    .x_component_header_cod_081_v2 .collapse-drawer {
        visibility: visible;
        position: absolute;
        left: 15px;
        height: 700px;
        -webkit-animation: mobile-animation-hide 0.5s;
        -o-animation: mobile-animation-hide 0.5s;
        animation: mobile-animation-hide 0.5s;
    }
    .x_component_header_cod_081_v2 .collapsing {
        height: 700px!important;
    }
    .x_component_header_cod_081_v2 .collapse.in {
        position: absolute;
        animation: mobile-animation 0.3s;
        display: block!important;
        z-index: 2;
        height: auto;
    }
    .x_component_header_cod_081_v2 .menu-icon-container,
    .x_component_header_cod_081_v2 .page-name {
        color: #000000;
        display: inline-block;
        overflow: hidden;
        width: 35px;
        height: 35px;
        position: relative;
    }
    .x_component_header_cod_081_v2 .navbar-toggle .page-name {
        line-height: 50px;
        width: auto;
        font-weight: 300;
    }
    .x_component_header_cod_081_v2 .navbar-toggle {
        margin: 0;
        padding: 4px 20px;
        float: left;
        background: transparent;
        border: none;
    }
    .x_component_header_cod_081_v2 .navbar-toggle:hover,
    .x_component_header_cod_081_v2 .navbar-toggle:focus {
        background: transparent;
    }
    .x_component_header_cod_081_v2 .navbar-toggle.active {
        background: transparent;
    }
    .x_component_header_cod_081_v2 .navbar-toggle .icon-bar {
        margin-top: 22px;
        background: #cacaca;
        position: relative;
        width: 24px;
        height: 4px;
        border-radius: 4px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    .x_component_header_cod_081_v2 .navbar-toggle.active .icon-bar {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    .x_component_header_cod_081_v2 .navbar-toggle .icon-bar:before {
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        display: block;
        width: 24px;
        height: 4px;
        border-radius: 4px;
        background: #cacaca;
    }
    .x_component_header_cod_081_v2 .navbar-toggle .icon-bar:after {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        display: block;
        width: 24px;
        height: 4px;
        border-radius: 4px;
        background: #cacaca;
    }
    .x_component_header_cod_081_v2 .navbar-toggle.active .icon-bar:after {
        -webkit-transform: rotate3d(0, 0, 1, 40deg);
        -moz-transform: rotate3d(0, 0, 1, 40deg);
        -ms-transform: rotate3d(0, 0, 1, 40deg);
        -o-transform: rotate3d(0, 0, 1, 40deg);
        transform: rotate3d(0, 0, 1, 40deg);
        top: 5px;
        width: 15px;
    }
    .x_component_header_cod_081_v2 .navbar-toggle.active .icon-bar:before {
        -webkit-transform: rotate3d(0, 0, 1, -40deg);
        -moz-transform: rotate3d(0, 0, 1, -40deg);
        -ms-transform: rotate3d(0, 0, 1, -40deg);
        -o-transform: rotate3d(0, 0, 1, -40deg);
        transform: rotate3d(0, 0, 1, -40deg);
        top: -5px;
        width: 15px;
    }
}

@-webkit-keyframes anim-up {
    0% {
        top: 200%;
        opacity: .3;
    }
    100% {
        top: 130%;
        opacity: 1;
    }
}

@keyframes anim-up {
    0% {
        top: 200%;
        opacity: .7;
    }
    100% {
        top: 130%;
        opacity: 1;
    }
}

@-webkit-keyframes anim-down {
    0% {
        top: 130%;
        opacity: 1;
    }
    100% {
        top: 200%;
        opacity: 0;
    }
}

@keyframes anim-down {
    0% {
        top: 130%;
        opacity: 1;
    }
    100% {
        top: 200%;
        opacity: 0;
    }
}

@-webkit-keyframes mobile-animation {
    0% {
        left: -270px;
    }
    100% {
        left: 15px;
    }
}

@keyframes mobile-animation {
    0% {
        left: -270px;
    }
    100% {
        left: 15px;
    }
}

@-webkit-keyframes mobile-animation-hide {
    0% {
        left: 15px;
    }
    100% {
        left: -270px;
    }
}

@keyframes mobile-animation-hide {
    0% {
        left: 15px;
    }
    100% {
        left: -270px;
    }
}

@media (min-width: 767px) {
    .x_component_header_cod_081_v2 .navbar {
        padding: 50px 0;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .x_component_header_cod_081_v2 .navbar-brand {
        padding-left: 30px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        position: relative;
    }
    .x_component_header_cod_081_v2 .navbar-brand img {
        -webkit-transform: translateY(-40%);
        -moz-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
        -o-transform: translateY(-40%);
        transform: translateY(-40%);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .x_component_header_cod_081_v2 .top-nav-collapse {
        padding: 12px 8px 8px 8px;
    }
    .x_component_header_cod_081_v2 .top-nav-collapse .navbar-brand {
        padding-left: 10px;
    }
    .x_component_header_cod_081_v2 .top-nav-collapse .navbar-brand img {
        width: 70%;
    }
}