<section class="x_component_services_cod_253 pad-default-elements">
    <div class="container">

        <h1 class="title font-title" data-editable="true">SERVICES</h1>
        <hr>
        <div class="owl-slider">
            <div id="owl-services" class="owl-carousel">
                <div>
                    <div class="service-box center-block">
                        <img data-image="true" src="assets/img/component_services_cod_253_01.jpg" alt="" class="img-responsive product-img center-block">
                        <div data-editable="true" class="service-desc">
                            Cubilipende leo pharea aumennec in velit veaugn erase dialor innia est. Proin dictum elemum velit terdpibus sceleue vitaepeecon eoc in vel ipsum
                        </div>
                    </div>
                </div>
                <div>
                    <div class="service-box center-block">
                        <img data-image="true" src="assets/img/component_services_cod_253_02.jpg" alt="" class="img-responsive product-img center-block">
                        <div data-editable="true" class="service-desc">
                            Cubilipende leo pharea aumennec in velit veaugn erase dialor innia est. Proin dictum elemum velit terdpibus sceleue vitaepeecon eoc in vel ipsum
                        </div>
                    </div>
                </div>
                <div>
                    <div class="service-box center-block">
                        <img data-image="true" src="assets/img/component_services_cod_253_03.jpg" alt="" class="img-responsive product-img center-block">
                        <div data-editable="true" class="service-desc">
                            Cubilipende leo pharea aumennec in velit veaugn erase dialor innia est. Proin dictum elemum velit terdpibus sceleue vitaepeecon eoc in vel ipsum
                        </div>
                    </div>
                </div>
                <div>
                    <div class="service-box center-block">
                        <img data-image="true" src="assets/img/component_services_cod_253_01.jpg" alt="" class="img-responsive product-img center-block">
                        <div data-editable="true" class="service-desc">
                            Cubilipende leo pharea aumennec in velit veaugn erase dialor innia est. Proin dictum elemum velit terdpibus sceleue vitaepeecon eoc in vel ipsum
                        </div>
                    </div>
                </div>
                <div>
                    <div class="service-box center-block">
                        <img data-image="true" src="assets/img/component_services_cod_253_02.jpg" alt="" class="img-responsive product-img center-block">
                        <div data-editable="true" class="service-desc">
                            Cubilipende leo pharea aumennec in velit veaugn erase dialor innia est. Proin dictum elemum velit terdpibus sceleue vitaepeecon eoc in vel ipsum
                        </div>
                    </div>
                </div>
                <div>
                    <div class="product-box text-center center-block">
                        <img data-image="true" src="assets/img/component_services_cod_253_03.jpg" alt="" class="img-responsive product-img center-block">
                        <div data-editable="true" class="service-desc">
                            Cubilipende leo pharea aumennec in velit veaugn erase dialor innia est. Proin dictum elemum velit terdpibus sceleue vitaepeecon eoc in vel ipsum
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>