<div class="img-i005">
    <section class="image-square left">
        <div class="col-md-6 ">
            <div class="background-img">
                <img alt="image" class="" src="http://srv4.vmwm.com.br/img/car-1.jpg" data-image="true">
            </div>
        </div>
        <div class="col-md-6 content">
            <h3 data-editable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <p class="mb0" data-editable="true">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
    </section>
</div>