<footer id="footer" class="footer-background pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-3 txt-center">
                <div class="center-block cont-social pull-left color-default" data-social="true" data-social-content="#">
                    <a target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a>
                </div>
                <span class="clearfix"></span>
                <div class="cont-info color-default">
                    <p><i class="fa fa-envelope-o" data-icon="true"></i><span data-editable="true">email@email.com</span></p>
                    <p><i class="fa fa-phone" data-icon="true"></i><span data-editable="true">011-0000-0000</span></p>
                    <p><i class="fa fa-map-signs" data-icon="true"></i><span data-editable="true">Endereço: Rua lorem, 1900</span></p>
                </div>

            </div>
            <div class="col-md-6 text-center">
                <div class="cont-logo-footer">
                    <img src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=23795" alt="" data-image="true">
                </div>
            </div>
            <div class="col-md-3">
                <form>
                    <div class="form-group color-default">
                        <label for="email" data-editable="true">Receba nossas informações:</label>
                        <input type="email " class="form-control layout-btn " id="email " placeholder="E-mail ">
                    </div>
                    <button type="submit " class="btn btn-default btn-block btn-color layout-btn "><span data-editable="true ">Enviar</span></button>
                </form>
            </div>
        </div>
    </div>
</footer>