.x_component_footer_cod_286 {
    background: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 60px 0 0 0;
    padding-top: 50px;
    color: #BBC2C7;
}

.x_component_footer_cod_286 .footer-text {
    padding-top: 20px;
}

.x_component_footer_cod_286 .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.x_component_footer_cod_286 .footer-module-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 35px;
}

.x_component_footer_cod_286 .footer-menu>li>div>a {
    text-decoration: none;
    line-height: 40px;
    font-weight: normal;
    font-size: 16px;
}

.x_component_footer_cod_286 .footer-menu>li>div>a:hover,
.x_component_footer_cod_286 .footer-menu>li>div>a:focus {
    text-decoration: none;
}

.x_component_footer_cod_286 .footer-menu li.active div a {
    text-decoration: none;
}

.x_component_footer_cod_286 .footer-social {
    padding-left: 0;
}

.x_component_footer_cod_286 .footer-social ul {
    padding: 0;
    margin: 0;
}

.x_component_footer_cod_286 .footer-social li {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 0;
}

.x_component_footer_cod_286 .footer-social li i {
    width: 15px;
    font-size: 16px;
    text-align: center;
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
}

.x_component_footer_cod_286 .footer-social li i:hover {
    -webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
}

.x_component_footer_cod_286 .footer-social li>div>a {
    text-decoration: none;
}

.x_component_footer_cod_286 .footer-social li>div>a:hover {
    text-decoration: none;
}

.x_component_footer_cod_286 .copyright {
    padding: 20px 0;
    margin-top: 50px;
    font-size: 19px;
    font-weight: 700;
}

.x_component_footer_cod_286 .copyright img {
    margin-right: 30px;
}

.x_component_footer_cod_286 .copyright div {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 0;
}

.x_component_footer_cod_286 .copyright a {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
}

.x_component_footer_cod_286 .copyright a:hover,
.x_component_footer_cod_286 .copyright a:focus {
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .x_component_footer_cod_286 .sm-height {
        min-height: 340px;
    }
}