<section id="footer">
    <div class="container">
        <div class="topo row">
            <div class="logo-footer text-center col-md-6">
                 <img src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=23795" alt="" data-image="true">
            </div>
            <div class="endFooter col-md-6 ">
                <h2 data-editable="true"> Endereço</h2>
                <ul class="info-footer">
                    <li><i class="fa fa-phone color-default" data-icon="true"></i>  <div data-editable="true">(11) 9999.9999</div></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="socialFooter clearfix">
                    <h1 data-editable="true">REDES SOCIAIS</h1>
                    <div data-editable="true">Curta e siga-nos nas nossas redes sociais.</div>
                    <br>
                    <div class="social-footer" data-social="true">
                        <a href="#icon-link#" class="btnSocial" target="_blank">
                            <i class="#icon-class#" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="empresaFooter clearfix">
                    <h2 data-editable="true">SOBRE A <strong>EMPRESA</strong></h2>
                    <!--<div class="teste" data-editable="true"><a href="javascript:void(0);">teste com a element</a></div>-->
                    <div data-editable="true">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum luctus libero eu laoreet. Ut dictum mi ipsum, vitae sodales turpis lobortis id. Donec blandit tortor arcu, quis imperdiet neque molestie vitae. Nulla lacus nunc,
                        ultrices nec dui vitae, placerat pharetra arcu. Donec convallis augue nec neque pellentesque, non scelerisque lacus vehicula. Sed pulvinar nulla nec diam commodo, et tincidunt purus hendrerit. Fusce lobortis turpis at dui mattis
                        efficitur.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="boxNewsletter text-xs-center text-sm-left">
                    <h2 data-editable="true">NEWSLETTER</h2>
                    <div data-editable="true">Cadastre-se e receba ofertas e promoções excluvisas</div>
                    <div id="div_newsletter" data-newsletter="true">
                        <form data-form-type="newsletter" data-form-layout="newsletter-3"></form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row copy">

            <div class="copyright background-theme-over col-md-12">
                <div class="col-xs-12 text-xs-center col-sm-10" data-editable="true">Copyright 2017 © Todos os Direitos Reservados.</div>
                <div class="col-xs-12 no-padding-xs-top text-xs-center col-sm-2" data-editable="true">Powered by VMOTORS</div>
            </div>

        </div>

    </div>



</section>