<section class="bg-gray form-venda-seu-carro-001 pad-default-elements">
    <div class="form-venda-seu-carro">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sm-8 col-md-9">
                    <div class="booking-section webhub-box">
                        <form action="#" class="booking-form">
                            <div class="person-information">
                                <h2 data-editable="true">Dados Pessoais</h2>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Nome Completo</label>
                                        <input name="Nome_Completo" type="text" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>E-mail</label>
                                        <input name="Email" type="text" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 col-md-6">
                                        <label>Telefone Fixo</label>
                                        <input name="Telefone" type="text" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <label>Celular</label>
                                        <input name="Telefone_Celular" type="text" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Endereço</label>
                                        <input name="Endereço" type="text" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-4">
                                        <label>Estado</label>
                                        <div class="selector bg-grey-100">
                                            <select name="Estado" class="full-width">
                                                <option value="">Selecione um estado</option><option value="AC">Acre</option><option value="AL">Alagoas</option><option value="AM">Amazonas</option><option value="AP">Amapá</option><option value="BA">Bahia</option><option value="CE">Ceará</option><option value="DF">Distrito Federal</option><option value="ES">Espírito Santo</option><option value="GO">Goiás</option><option value="MA">Maranhão</option><option value="MG">Minas Gerais</option><option value="MS">Mato Grosso do Sul</option><option value="MT">Mato Grosso</option><option value="PA">Pará</option><option value="PB">Paraíba</option><option value="PE">Pernambuco</option><option value="PI">Piauí</option><option value="PR">Paraná</option><option value="RJ">Rio de Janeiro</option><option value="RN">Rio Grande do Norte</option><option value="RO">Rondônia</option><option value="RR">Roraima</option><option value="RS">Rio Grande do Sul</option><option value="SC">Santa Catarina</option><option value="SP">São Paulo</option><option value="SE">Sergipe</option><option value="TO">Tocantins</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <label>Cidade</label>
                                        <div class="selector bg-grey-100">
                                            <select name="Cidade" class="full-width">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <label>Horário para contato</label>
                                        <div class="selector bg-grey-100">
                                            <select name="Período" class="full-width">
                                                <option value="">Selecione</option><option value="Manhã">Manhã</option><option value="Tarde">Tarde</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Aceito ser contatado pelo Whatsapp</label>
                                        <div class="gray-area padding-15 clearfix">
                                            <label class="radio radio-inline">
                                                <input type="radio" name="Whatsapp"/>
                                                Sim
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" name="Whatsapp" checked="checked" />
                                                Não
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Desejo receber ofertas e novidades por e-mail</label>
                                        <div class="gray-area padding-15 clearfix">
                                            <label class="radio radio-inline">
                                                <input type="radio" name="Novidades" />
                                                Sim
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" name="Novidades" checked="checked" />
                                                Não
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h2 data-editable="true">Dados do veículo</h2>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-4">
                                        <label>Marca</label>
                                        <input type="text" name="Marca" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <label>Modelo</label>
                                        <input type="text" name="Modelo" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <label>Versão</label>
                                        <input type="text" name="Versão" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-4">
                                        <label>Cor</label>
                                        <input type="text" name="Cor" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <label>KM</label>
                                        <input type="text" name="KM" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <label>Placa</label>
                                        <input type="text" name="Placa" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Ano / Modelo</label>
                                        <input type="text" name="Ano_Modelo" class="input-text full-width bg-grey-100" value="" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Opcionais</label>
                                        <textarea class="full-width bg-grey-100" name="opcionais" rows="5" placeholder="Escreva aqui os opcionais..."></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label> Você é o primeiro proprietário do veículo</label>
                                        <div class="gray-area padding-15 clearfix">
                                            <label class="radio radio-inline">
                                                <input type="radio" name="Primeiro_Proprietário" />
                                                Sim
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" name="Primeiro_Proprietário" />
                                                Não
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label> O estofamento, tapete ou teto possuem mancha</label>
                                        <div class="gray-area padding-15 clearfix">
                                            <label class="radio radio-inline">
                                                <input type="radio" name="Manchas_Veículo" />
                                                Sim
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" name="Manchas_Veículo" />
                                                Não
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>O seu veículo possui seguro?</label>
                                        <div class="gray-area padding-15 clearfix">
                                            <label class="radio radio-inline">
                                                <input type="radio" name="Seguro_Veículo" />
                                                Sim
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" name="Seguro_Veículo" />
                                                Não
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>O veículo foi alguma vez recuperado de roubo</label>
                                        <div class="gray-area padding-15 clearfix">
                                            <label class="radio radio-inline">
                                                <input type="radio" name="Roubo_Veículo" />
                                                Sim
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" name="Roubo_Veículo" />
                                                Não
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Esta avaliação é...</label>
                                        <div class="selector bg-grey-100">
                                            <select name="Avaliação" class="full-width">
                                                <option value="">Selecione</option><option value="Pra você">Para Você</option><option value="Para Empresa">Para Empresa</option><option value="Para Frotista">Para Frotista</option><option value="Para Taxista">Para Taxista</option><option value="Para P.N.E.">Para P.N.E.</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Sinta-se a vontade para especificar como pretende viver essa experiência:</label>
                                        <textarea class="full-width bg-grey-100" name="Mensagem" rows="5" placeholder="Escreva aqui como pretende viver essa experiência..."></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-6">
                                        <button type="submit" class="full-width btn-large uppercase btn-color layout-btn">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sidebar col-sm-4 col-md-3">
                    <div class="webhub-box book-with-us-box">
                        <h4 data-editable="true">Conheça nossa loja!</h4>
                        <ul>
                            <li>
                                <i class="fa fa-home color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true">Endereço</h5>
                                <p data-editable="true">Rua Alvorada, 1289 São Paulo/SP</p>
                            </li>
                            <li>
                                <i class="fa fa-home color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true">Horários de Atendimento</h5>
                                <p data-editable="true">Seg à Sex - 9:00 às 18:00 <br/> Sáb - 8:00 às 16:00 </p>
                            </li>
                            <li>
                                <i class="fa fa-home color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true">Whatsapp</h5>
                                <p data-editable="true">(11) 0000.0000</p>
                            </li>
                        </ul>
                    </div>
                    <div class="webhub-box book-with-us-box">
                        <h4 data-editable="true">Atendimento Diferenciado </h4>
                        <ul>
                            <li>
                                <i class="fa fa-home color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true"><a href="#"><span data-editable="true">Peças e Acessórios</span></a></h5>
                                <p data-editable="true">Deixe seu carro mas completo.</p>
                            </li>
                            <li>
                                <i class="fa fa-home color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true"><a href="#"><span data-editable="true">Teste Drive</span></a></h5>
                                <p data-editable="true">Escolha o melhor horário pra você e agende online.</p>
                            </li>
                            <li>
                                <i class="fa fa-home color-default" data-icon="true"></i>
                                <h5 class="title color-default" data-editable="true"><a href="#"><span data-editable="true">Oficina</span></a></h5>
                                <p data-editable="true">Assistência técnica autorizada.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="webhub-box contact-box">
                        <h4 data-editable="true">Vmotors</h4>
                        <p data-editable="true">O jeito mais fácil e rápido de adquirir seu carro.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="fa fa-phone color-default" data-icon="true"></i><span class="color-default" data-editable="true">(11) 0000-0000</span> </span>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>