.x_component_brands_cod_316 {
    font-family: "Roboto", sans-serif;
}

.x_component_brands_cod_316 .brands-module-title {
    color: #48545C;
    font-weight: 800;
    padding: 50px 0 0 0;
    margin: 0 0 20px 0;
    font-size: 20px;
}

.x_component_brands_cod_316 .brands-top {
    padding-bottom: 60px;
}

.x_component_brands_cod_316 .contact-info {
    color: #878787;
}

.x_component_brands_cod_316 .contact-info ul {
    color: #F1352C;
    padding: 0;
    margin: 0;
    font-size: 23px;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.x_component_brands_cod_316 .list-items li div {
    text-decoration: none;
    color: #48545C;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}