/* Colors for links and texts */
.color-default {
    color: #fe7140;
}

.color-default-hover:hover {
    color: #fe7140;
}

* .color-default a{
	color: #FFF !important;
}

* .background-theme, 
* .btn-color {
	background-color: #fe7140 !important;
}

* .border-default {
	border-color: #fe7140 !important;
}

* .background-theme-over {
	background-color: rgba(254,113,64, 0.5) !important;
}

/* Backgrounds Deafult */
* .background-dark {
	color: #FFF;
    background: #222222;
}

* .background-offset {
	color: #222;
    background: #F9F9F9;
}

* .background-default {
	color: #222;
    background: #ffffff;
}

/* Adjusts container for component */
.main-container, 
* .container-fluid, 
* .container {
    width: auto !important;
    max-width: 100% !important;
}

@media (min-width: 768px) {
	* .container-fluid,
	* .container {
	    width: 750px !important;
	}
}
@media (min-width: 992px) {
	* .container-fluid,
	* .container {
	    width: 970px !important;
	}
}
@media (min-width: 1200px) {
	* .container-fluid,
	* .container {
	    width: 1170px !important;
	}
}

/* Customs Elements */
.pad-default-elements {
	padding: 50px 0;
}