<div class="menu-m005 navbar-wrapper">
    <div class="nav-container">
        <nav>
            <div class="nav-bar">
                <div class="module left col-xs-6 col-sm-3">
                    <img alt="logo" class="img-responsive" data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=25698">
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="module-group right">
                    <div class="module left cont-menu">
                        <ul data-menu="true">

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>