<section class="x_component_text-image_cod_271 pad-default-element">
    <i class="top-traingle"></i>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 no-padding clearfix">
                <div class="service-container">
                    <div class="top-text clearfix">
                        <div class="t1 color-default" data-editable="true">2015</div>
                        <div class="t2 color-default" data-editable="true">big <br>audio <br>sale</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 no-padding clearfix">
                <div class="botton-text" data-editable="true">
                    Mes cuml dia sed inenias ingerto lot aliiqt<br> dolore ipsum commete.
                </div>
                <div class="button background-theme "><i class="fa fa-shopping-cart " data-icon="true"></i></div>
            </div>
            <div class="button-img ">
                <img src="assets/images/top-side-bg.png" alt="" data-image="true">
            </div>
        </div>
    </div>
</section>