<section class="x_component_news_cod_070">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-title" data-editable="true">Lorem Ipsum</h1>
            </div>
            <div class="col-md-12">
                <div class="underline"></div>
            </div>
            <div class="col-md-12">
                <div id="contact_209">
                    <form data-form-type="contato" data-form-layout="contato-4"></form>
                </div>
            </div>
        </div>
    </div>
</section>
