.x_component_header_cod_273 {
    background: url('../img/header_bg.jpg');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.x_component_header_cod_273 .nav-search-box{
    width:100%;
    float:right;
}

.x_component_header_cod_273 .nav.navbar-nav>li:hover .dropdown-menu{
    display: block;
    pointer-events: r;

}

.x_component_header_cod_273  .navbar-default .navbar-toggle:focus,
.x_component_header_cod_273  .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}


.x_component_header_cod_273 .navbar-brand img {
    margin: auto;
}
.x_component_header_cod_273 .dropdown-menu>li>a:focus,
.x_component_header_cod_273 .dropdown-menu>li>a:hover {
    background-color: transparent;
    background-image: none !important;
}

.x_component_header_cod_273 .navbar-default .navbar-nav>.active>a,
.x_component_header_cod_273 .navbar-default .navbar-nav>.open>a {
    background-color: transparent;
    background-image: none !important;
}
.x_component_header_cod_273 .dropdown-submenu>a:after {
    display: none;
}

.x_component_header_cod_273 .navbar-brand{

    height:inherit
}
.x_component_header_cod_273 .navbar-brand,
.x_component_header_cod_273 .navbar-nav>li>a {
    text-shadow: none;
}

.x_component_header_cod_273 .inline-block {
    display: inline-block;
}

@media(max-width:768px){

    .x_component_header_cod_273 .inline-block {
        display: initial;
    }
}

.x_component_header_cod_273 .navbar.navbar-default {
    min-height: 310px;
    border: none;
    border-radius: 0;
    background: transparent;
}

.x_component_header_cod_273 .navbar.navbar-default .navbar-header {
    padding-bottom: 20px;
    width: 100%;
}

.x_component_header_cod_273 .navbar.navbar-default .navbar-brand {
    position: relative;
    padding: 0;
    float:left;
}



.x_component_header_cod_273 .navbar.navbar-default .container .nav-info {
    display: block;
    margin-top: 15px;
    margin-right: 15px;
    text-align: right;
    float:right;
}



.x_component_header_cod_273 .navbar.navbar-default .container .nav-info ul {
    list-style: none;
}

.x_component_header_cod_273 .navbar.navbar-default .container .nav-info ul li {
    float: right;
    padding: 10px;
}

.x_component_header_cod_273 .navbar.navbar-default .container .nav-info ul li a {
    text-decoration: none;
    line-height: 12px;
    text-transform: uppercase;
}



.x_component_header_cod_273 .navbar.navbar-default .container .nav-search-box .search-box {
    float: right;
    padding: 5px 0;
    position: relative;
}

.x_component_header_cod_273 .navbar.navbar-default .container .nav-search-box .search-box input[type="text"] {
    width: 370px;
    background: #FFFFFF;
    border-radius: 25px;
    height: 40px;
    border: 1px solid #FFFFFF;
    text-indent: 50px;
    color: #a7a7a7;
}

.x_component_header_cod_273 .navbar.navbar-default .container .nav-search-box .search-box input[type="submit"] {
    position: absolute;
    width: 40px;
    height: 45px;
    right: 10px;
    top: 6px;
    font-family: FontAwesome;
    color: #2F3131;
    background: transparent;
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    transform: rotate(-270deg);
    border: none;
    padding-bottom: 15px;
    padding-right: 12px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_header_cod_273 .navbar.navbar-default .container .nav-search-box .cart-holder {
    float: right;
}

.x_component_header_cod_273 .navbar.navbar-default .container .nav-search-box .cart-holder h3 {
    display: inline-block;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    font-weight: normal;
}


/*.x_component_header_cod_273 .navbar.navbar-default .container .nav-search-box .cart-holder h3:before {
    font-family: FontAwesome;
    font-weight: normal;
    display: inline-block;
    content: "\f07a";
    font-size: 16px;
    margin: 0 6px 0 0;
}*/

.x_component_header_cod_273 .navbar.navbar-default .container .nav-search-box .cart-holder h3 .cart-items {
    display: inline-block;
    background: #292929;
    color: #fff;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.x_component_header_cod_273 .navbar.navbar-default .container .nav-search-box .cart-holder .widget_shopping_cart_content {
    display: none;
    position: absolute;
    width: 210px;
    padding: 10px;
    right: 0;
    top: 100%;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    text-align: left;
}

.x_component_header_cod_273 .navbar.navbar-default .container #bs-example-navbar-collapse-1 {
    position: absolute;
    bottom: 0;
    background: #2F3131;
    width: 100%;
    left: 0;
    padding: 0;
    z-index: 1;

}

.x_component_header_cod_273 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a {
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-left: none;
    position: relative;
    z-index: 100;
}

.x_component_header_cod_273 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    bottom: 100%;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.x_component_header_cod_273 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a:hover:before {
    height: 100%;
    bottom: 0%;
}

.x_component_header_cod_273 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a:hover {
    text-decoration: none;
}

.x_component_header_cod_273 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a.hovered:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.x_component_header_cod_273 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li.active>a {
    text-decoration: none;
}

.x_component_header_cod_273 .navbar.navbar-default .container .breadcrumb {
    position: absolute;
    top: 99%;
    left: 0;
    background: #FFFFFF;
    width: 100%;
    display: block;
    border-radius: 0;
    padding: 15px 15px;
    z-index: 100;
}

.x_component_header_cod_273 .navbar.navbar-default .container .breadcrumb ul {
    padding-left: 15px;
    margin-bottom: 0;
}

.x_component_header_cod_273 .navbar.navbar-default .container {
    width: 80%;
    position: relative;
    padding-bottom: 50px;
}

.x_component_header_cod_273 .navbar.navbar-default .container .breadcrumb ul li a {
    text-transform: uppercase;
    margin: 0 10px 0 0;
    font-size: 12px;
    line-height: 19px;
    text-decoration: none;
    color: #FFFFFF;
}

.x_component_header_cod_273 .navbar.navbar-default .container .breadcrumb ul li a:hover {
    text-decoration: none;
}

.x_component_header_cod_273 .navbar.navbar-default .container .breadcrumb ul li .description {
    background: #DFDFDF;
    padding: 3px 3px;
    color: #333;
}

.x_component_header_cod_273 .nav.navbar-nav>li {
    position: relative;
}

.x_component_header_cod_273 .nav.navbar-nav>li .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
}

.x_component_header_cod_273 .nav.navbar-nav>li .dropdown-menu .dropdown-submenu>.dropdown-menu {
    left: 151%;
    top: -15px;
}

.x_component_header_cod_273 .nav.navbar-nav>li .dropdown-menu .dropdown-submenu>.dropdown-menu a {
    padding-left: 10px;
    padding-right: 10px;
}

.x_component_header_cod_273 .nav.navbar-nav>li .dropdown-menu a {
    font-size: 13px;
    line-height: 21px;
    display: block;
    padding: 6px 14px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.x_component_header_cod_273 .nav.navbar-nav>li .dropdown-menu a.hovered {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_header_cod_273 .dropdown-submenu {
    position: relative;
}

.x_component_header_cod_273 .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.x_component_header_cod_273 .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.x_component_header_cod_273 .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.x_component_header_cod_273 .dropdown-submenu.pull-left {
    float: none;
}

.x_component_header_cod_273 .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.x_component_header_cod_273 #select-menu{
    border: none;
    border-radius: 0px;
    -webkit-appearance: none;
    height: inherit;
    padding: 15px;

}


/*.x_component_header_cod_273 .navbar-toggle {*/
    /*display: none;*/
/*}*/

@media (min-width: 992px) and (max-width: 1200px) {
    .x_component_header_cod_273 .navbar.navbar-default .container {
        width: 95%;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container .nav-info a {
        width: 600px;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a {
        padding-left: 25px;
        padding-right: 25px;
    }
    .x_component_header_cod_273 .search-box input[type="text"] {
        width: 230px;
    }
}

@media all and (max-width: 990px) {
    .x_component_header_cod_273 .navbar.navbar-default .container .nav-info ul li {
        float: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .x_component_header_cod_273 .navbar.navbar-default .container {
        width: 100%;
        padding: 0;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container .breadcrumb {
        top: 139%;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container .nav-info a {
        width: 440px;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container #bs-example-navbar-collapse-1 {
        bottom: unset;
        top: 100%;
        background: #2F3131;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container #bs-example-navbar-collapse-1 .nav.navbar-nav>li>a {
        padding-left: 15px;
        padding-right: 15px;
    }
    .x_component_header_cod_273 .search-box input[type="text"] {
        width: 200px;
    }
}

@media screen and (max-width: 767px) {
    .x_component_header_cod_273 .navbar.navbar-default .container {
        width: 100%;
        padding: 0;

    }
    .x_component_header_cod_273 .navbar.navbar-default .container .nav-info{
        margin-right: 0px;
    }

    .x_component_header_cod_273 .navbar.navbar-default .container .nav-search-box .search-box {
        float: none;
        margin: 0 auto;
        display: block;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container .nav-search-box .search-box input[type="text"] {
        width: 300px;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container .nav-search-box .cart-holder {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container .breadcrumb ul {
        padding: 0;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container .breadcrumb ul li {
        width: 100%;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container .breadcrumb ul li a {
        text-align: center;
        display: block;
        width: 100%;
    }
    .x_component_header_cod_273 #bs-example-navbar-collapse-1 {
        bottom: unset;
        /*top: 100%;*/
        background: #2F3131;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container .nav-info {
        width: 100%;
        text-align: center;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container .nav-info a {
        width: 100%;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container .nav-info p {
        position: relative;
        text-align: center;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container .nav-info p span {
        position: absolute;
        top: -65px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .x_component_header_cod_273 .navbar.navbar-default .container #bs-example-navbar-collapse-1 {
        /*height: 70px!important;*/
        padding-right: 15px;
        padding-left: 15px;
        bottom: inherit;

    }
    .x_component_header_cod_273 .navbar.navbar-default .container {
        width: 100%;
        padding-bottom: 20%;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container> .navbar-header {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        text-align: center;
    }
    .x_component_header_cod_273 .navbar.navbar-default .container> .navbar-header .navbar-toggle{
        width: 90%;
        float: none;
        border-radius: 0px;
        margin-right: 0px;
    }
    .x_component_header_cod_273 .navbar-brand {
        position: relative;
        width: 100%;
        padding-bottom: 20px;

    }

    .x_component_header_cod_273 .mobile-menu {
        position: absolute;
        bottom: 15px;
        width: 97%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 1;
    }
    .x_component_header_cod_273 .nav.navbar-nav>li ul.dropdown-menu{
        float: none;
        width: 90%;
        position:relative;
        top:inherit;
    }
    .x_component_header_cod_273 .nav.navbar-nav>li .dropdown-menu .dropdown-submenu>.dropdown-menu{
        left:50%;
        top:inherit;
    }
    .x_component_header_cod_273 .container>.navbar-collapse{
        margin: 0px;
    }
}