<section class="form-contato-004">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="contact-form default-form">
                    <form data-form-type="contato" data-form-layout="contato-2"></form>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-center-xs">
                <hr class="visible-xs">
                <div class="contact-info">
                    <ul>
                        <li><i class="fa fa-map-marker" data-icon="true"></i>
                            <div class="display-contact" data-editable="true">Endereço</div>
                        </li>
                        <li><i class="fa fa-envelope-open-o" data-icon="true"></i>
                            <div class="display-contact" data-editable="true">email@email.com.br</div>
                        </li>
                        <li><i class="fa fa-phone" data-icon="true"></i>
                            <div class="display-contact" data-editable="true">(99) 9999.9999</div>
                        </li>
                        <li><i class="fa fa-whatsapp" data-icon="true"></i>
                            <div class="display-contact" data-editable="true">(99) 9999.9999</div>
                        </li>
                    </ul>
                </div>
                <ul class="social-links" data-social="true">
                    <li><a href="#icon-link#"><i class="#icon-class#"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>