<section class="x_component_gallery_box_cod_185 pad-default-elements">
    <div class="container-fluid">
        <div class="row no-padding">
            <div class="gallery">
                <div class="col-sm-6 col-md-4 no-padding first-blk">
                    <div class="box">
                        <a href="javascript:void(0)">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_01.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">Formato Imagem: 389x666</h3>
                            </div>
                        </a>
                        <a href="javascript:void(0)">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_05.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">Formato Imagem: 388x510</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 no-padding">
                    <div class="box">
                        <a href="javascript:void(0)">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_02.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">Formato Imagem: 389x427</h3>
                            </div>
                        </a>
                        <a href="javascript:void(0)">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_04.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">Formato Imagem: 389x322</h3>
                            </div>
                        </a>
                        <a href="javascript:void(0)">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_06.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">Formato Imagem: 389x427</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 no-padding">
                    <div class="box">
                        <a href="javascript:void(0)">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_03.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">Formato Imagem: 389x596</h3>
                            </div>
                        </a>
                        <a href="javascript:void(0)">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_07.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">Formato Imagem: 389x580</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>