<section class="x_component_contact_cod_138 pad-default-element">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="font-title title" data-editable="true">Lorem Ipsum</h1>
                <div class="font-description description" data-editable="true">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at deleniti eaque est illum molestiae natus porro tempore totam voluptatum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at deleniti eaque est illum molestiae natus.
                </div>

                <div class="col-sm-6 no-padding clearfix">
                    <i data-icon="true" class="fa fa-envelope" aria-hidden="true"></i>
                    <h2 data-editable="true" class="con-title">
                        Lorem Ipsum
                    </h2>
                    <div data-editable="true" class="con-text">
                        email@email.com
                    </div>
                </div>
                <div class="col-sm-6 no-padding clearfix">
                    <i data-icon="true" class="fa fa-share-alt" aria-hidden="true"></i>
                    <h2 class="social-title">
                        Lorem Ipsum
                    </h2>
                    <ul class="list-unstyled list-inline social-contact" data-social="true">
                        <li><a target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-12 no-padding contact-form clearfix">
                    <h1 data-editable="true" class="contact-title clearfix">Contato</h1>
                    <form data-form-type="contato" data-form-layout="contato-13"></form>
                </div>
            </div>
            <div class="col-md-4">
                <div data-map="true" data-type="map" id="map"></div>
            </div>
        </div>
    </div>
</section>