<section class="buscador-b006" page-id="#pageId#">
    <img src="http://srv4.vmwm.com.br/img/plat_componentes/20.jpg" class="img-responsive" data-image="true">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 cont-filtros">
                <form role="form" action="" method="post" class="form-inline">
                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="marcas" class="form-control styled">
                                <option value="">Marca</option>
                                <optgroup label="Selecione a Marca">
                                    <option value="#marcaId#">#marca#</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="modelos" class="form-control styled">
                                <option value=""> Modelo</option>
                                <optgroup label="selecione o modelo"></optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6 col-xs-12">
                            <select name="ano_de" class="form-control styled">
                                <option value=""> Ano</option>
                                <optgroup label="menor ano"></optgroup>
                            </select>
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <select name="ano_ate" class="form-control styled">
                                <option value=""> Até</option>
                                <optgroup label="maior ano"></optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6 col-xs-12">
                            <select name="preco_de" class="form-control styled">
                        <option value=""> De</option>
                        <optgroup label="menor preço"> </optgroup>
                        </select>
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <select name="preco_ate" class="form-control styled">
                        <option value=""> Até</option>
                        <optgroup label="maior preço"></optgroup>
                        </select>
                        </div>
                    </div>
                    <div class=" col-md-2 cont-button">
                        <button class="btn btn-block pull-right search layout-btn btn-color" id="enviarBuscador" type="button"><i class="fa fa-search" data-icon="true"></i>buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>