
.x_component_text-image_cod_005 .item-image img {
  width: 100%;
  height: 100%;
}
.x_component_text-image_cod_005 .item {
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 0;
  height: 100%;
}
.x_component_text-image_cod_005 .item-content {
  padding: 20px;
  background: #fbc02d;
  margin: 0;
}
.x_component_text-image_cod_005 .item-content > .boxes-module-title {
  color: #000000;
  font-size: 35px;
  line-height: 46px;
  font-weight: bold;
  margin-bottom: 20px;
}
.x_component_text-image_cod_005 .item-text {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}
.x_component_text-image_cod_005 .item-content a {
  color: #474747;
  font-size: 16px;
}
.x_component_text-image_cod_005 .item-content a :hover,
.x_component_text-image_cod_005 .item-content a :focus {
  text-decoration: none;
}
