<section class="x_component_header_cod_081 menu-081 navbar-wrapper">
    <nav class="navbar" >
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="icon-bar background-theme"></i>
                    </button>
                <div class="navbar-brand page-scroll">
                    <img src="assets/img/component_header_cod_081_01.png" alt="logo" class="img-responsive" data-image="true">
                </div>
            </div>

            <div class=" wrap-menu ">
                <ul data-menu="true" class="navbar-right menu ">

                </ul>
            </div>
        </div>
    </nav>
</section>