#footer {
    background: #292929;
}

#footer .form-control {
    border: 1px solid #ccc;
    border-radius: 0px;
}

#footer .btn {
    border-radius: 0px;
    background: #6cbe33;
    color: #fff;
}

#footer.footer-background {
    box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
    -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
}

#footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer p {
    font-family: 'Open Sans', sans-serif !important;
}

#footer .cont-social i.fa {
    font-size: 15px;
    padding-right: 15px;
}

#footer p {
    line-height: 20.5px;
    color: #fff;
}

#footer a {
    color: #fff;
}

#footer .cont-info {
    margin-top: 30px;
}

#footer .cont-info i.fa {
    margin-right: 15px;
}

#footer .cont-logo-footer img {
    width: 156px;
}

#footer .cont-logo-footer img {
    margin-top: 30px;
}

#footer label {
    color: #fff;
}

#footer .cont-logo-footer img {
    margin-top: 150px;
}

#footer .border-bottom {
    width: 100%;
    height: 50px;
    background-color: #6cbe33;
    color: #fff;
}

#footer span.title-footer {
    top: 12px;
    position: relative;
    margin: 0;
    padding: 0;
}

#footer .mt-social {
    margin-top: 22px;
}

#footer .text {
    position: relative;
    padding: 20px 0px 15px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    margin-bottom: 20px;
}

#footer .cont-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer .social-links ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#footer .social-links li {
    float: left;
    margin-bottom: 17px;
    position: relative;
    width: 50%;
}

#footer .social-links li a {
    display: inline-block;
    line-height: 24px;
    color: #dddddd;
    font-size: 13px;
    transition: all 0.3s ease 0s;
}

#footer .social-links li a .icon {
    background-color: #fff;
    color: #6cbe33;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 25px;
    border-radius: 3px;
}

@media all and (max-width:991px) {
    #footer .cont-logo-footer img {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    #footer .pull-left {
        float: inherit !important;
    }
    #footer .txt-center {
        text-align: center;
    }
    .text-center-xs {
        text-align: center;
    }
}