<section class="news-n003">
    <div class="container">
        <div class="row news-grid">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding noticia-grid wow fadeInLeft">
                <div class="noticia-grid__detail">
                    <h4 class="text-uppercase text-bold has-line has-accent"><a data-editable="true" title="text-black" href="#">Notícia 001</a></h4>
                    <div data-editable="true">
                      <p>Praesent tincidunt blandit feugiat. Donec sollicitudin vulputate orci eget commodo justo pulvinar rumus bibendum erat rutrum.</p>
                    </div>
                </div>
                <div class="noticia-grid__image noticia-grid__image--bottom bg-image">
                    <img class="img-responsive" alt="" src="assets/img/big-1.jpg" data-image="true">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding noticia-grid wow fadeIn">
                <div class="noticia-grid__image noticia-grid__image--top bg-image">
                    <img class="img-responsive" alt="" src="assets/img/big-2.jpg" data-image="true">
                </div>
                <div class="noticia-grid__detail">
                    <h4 class="text-uppercase text-bold has-line has-accent"><a data-editable="true" title="text-black" href="#">Notícia 002</a></h4>
                    <div data-editable="true">
                      <p>Praesent tincidunt blandit feugiat. Donec sollicitudin vulputate orci eget commodo justo pulvinar rumus bibendum erat rutrum.</p>
                    </div>
                </div>
                <div class="noticia-grid__image noticia-grid__image--bottom bg-image">
                    <img class="img-responsive" alt="" src="assets/img/big-2.jpg" data-image="true">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding noticia-grid wow fadeInRight">
                <div class="noticia-grid__detail">
                    <h4 class="text-uppercase text-bold has-line has-accent"><a data-editable="true" title="text-black" href="#">Notícia 003</a></h4>
                     <div data-editable="true">
                      <p>Praesent tincidunt blandit feugiat. Donec sollicitudin vulputate orci eget commodo justo pulvinar rumus bibendum erat rutrum.</p>
                    </div>
                </div>
                <div class="noticia-grid__image noticia-grid__image--bottom bg-image">
                    <img class="img-responsive" alt="" src="assets/img/big-3.jpg" data-image="true">
                </div>
            </div>
        </div>
    </div>
</section>