<section class="form-seguro-002">
    <div class="container-fluid">
        <div class="row">
            <div class="contact_us">
                <div class="col-md-6 img-full">
                    <div class="img-seguro">
                        <img class="img-responsive" src="assets/img/img-1.jpg" data-image="true">
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="contact_form border-form">
                        <form data-form-type="seguro" data-form-layout="seguro-2"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>