<section class="footer-f005">
    <footer>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <a href="javascript:void(0);" class="logo">
                        <img class="img-responsive" alt="" data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=25698">
                    </a>
                    <ul class="list-inline social-list spread-children color-default" data-social="true">
                        <li><a href="#icon-link#" target="_blank"><i class="#icon-class#"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4" data-editable="true"> Escreva um texto</div>
                <div class="col-md-4" data-editable="true"> © Copyright 2015 WebMotors</div>
                <div class="col-md-4" data-editable="true"> Escreva um texto</div>
            </div>
        </div>
    </footer>
</section>