
    #footer .inline-block {
        display: inline-block;
    }
    
    #footer .cont-map {
        height: 200px;
    }
    
    #footer .margin-bottom-top {
        margin: 0 20px;
    }
    
    #footer .container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #footer .container.foot {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    

    #footer p {
        line-height: 10.5px;
        font-family: 'Open Sans', sans-serif !important;
    }
    
    #footer a {
        color: #000;
    }
    
    #footer ul {
        padding: 0px;
    }
    
    #footer li {
        display: block;
        padding: 10px;
    }
    
    #footer li:hover,
    #footer li a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    
    #footer {
        box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
        -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
        -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
    }
    
    #footer .cont-social {
        margin-top: 115px;
    }
    
    #footer .cont-social a {
        text-align: center;
    }
    
    #footer .cont-social i.fa {
        font-size: 30px;
        padding: 0 10px;
    }
    
    #footer .cont-links-footer {
        margin-top: 70px;
    }
    
    #footer .cont-logo-footer img {
        width: 300px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #footer .cont-info {
        margin-top: 120px;
        line-height: 25px;
    }
    
    #footer .cont-info p {
        display: block;
        width: 100%;
        margin-right: 30px;
    }
    
    #footer .cont-info i{
        margin-right: 15px;
    }
    
    @media all and (max-width:991px) {
        #footer .text-center-xs {
            text-align: center;
        }
        #footer .cont-social {
            margin-top: 24px;
        }
        #footer .cont-links-footer {
            margin-top: 20px;
        }
        #footer .cont-info {
            margin-top: 15px;
        }
    }