<section class="x_component_slider_cod_251 pad-default-element ">

        <div class="no-gutters">
            <div class="col-xs-12">
              <div class="row">
                <div class="wrapper owl-carousel owl-theme">
                    <div class="slide" data-banner-template="true">  
               <a href="">   </a>
                        <div class="text background-theme">
                            <h3 data-editable="true">COMPLETE AUTO SERVICE</h3>
                        </div>
                             
                       <img src="http://via.placeholder.com/1306x506" alt="">
					   <video class="video-player-no-controls" muted="true" width="100%" height="100%" src=""></video>	
                    </div>
                   
                   
                </div>
              </div>
            </div>
        </div>

</section>