.highlights-h010 {
    border: none;
    color: #ffffff;
    overflow: hidden;
}

.highlights-h010 h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 5px;
}

.highlights-h010 h2 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 5px;
}

.highlights-h010 .project {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
    padding: 0;
}

.highlights-h010 .tile-right:hover .background-image-holder,
.highlights-h010 .tile-left:hover .background-image-holder {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.highlights-h010 .hover-tile .hover-state {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
    position: absolute;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
    width: 100%;
}

.highlights-h010 .hover-state {
    z-index: 99;
    padding: 0 40px;
    cursor: default;
}

.highlights-h010 .hover-state * {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform: translate3d(0, 30px, 0) scale(1.05);
    -webkit-transform: translate3d(0, 30px, 0) scale(1.05);
}

.highlights-h010 .hover-tile:hover .hover-state {
    opacity: 1;
}

.highlights-h010 .hover-tile:hover .hover-state * {
    transform: translate3d(0, 0px, 0) scale(1);
    -webkit-transform: translate3d(0, 0px, 0) scale(1);
}

.highlights-h010 .hover-state *:last-child {
    margin-bottom: 0;
}

.highlights-h010 a:hover {
    text-decoration: none;
}

.highlights-h010 .image-tile img {
    width: 100%;
    display: inline-block;
    filter: brightness(60%);
}

.highlights-h010 img {
    max-width: 100%;
    height: 300px;
}