.x_component_header_cod_301 {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media all and (min-width: 1200px) {
    .x_component_header_cod_301 .container {
        width: 1200px;
    }
}

.x_component_header_cod_301 .site-header {
    padding: 0;
    background: url(../img/bg-header.jpg) no-repeat center top;
    background-size: cover;
}

.x_component_header_cod_301 .inline-block {
    display: inline-block;
}

.x_component_header_cod_301 .cont_header_infos {
    font-size: 13px;
}

.x_component_header_cod_301 .cont_header_infos ul {
    list-style-type: none;
    padding: 0;
}

.x_component_header_cod_301 .cont_header_infos ul li {
    display: inline-block;
    padding: 5px 10px;
}

.x_component_header_cod_301 .site-header .logo {
    padding-top: 10px;
    margin-bottom: -12px;
    z-index: 10;
    position: relative;
}

.x_component_header_cod_301 .site-header .logo>img {
    max-height: 110px;
}

.x_component_header_cod_301 .site-header .top-nav {
    background-color: #0f1112;
    padding: 14px 0;
    /*... end currency language ...*/
    /*... search box ...*/
    /*... Cart ....*/
}

.x_component_header_cod_301 .site-header .top-nav .currency {
    margin-right: 20px;
}

.x_component_header_cod_301 .site-header .top-nav .language,
.x_component_header_cod_301 .site-header .top-nav .currency {
    position: relative;
}

.x_component_header_cod_301 .site-header .top-nav .language>a,
.x_component_header_cod_301 .site-header .top-nav .currency>a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    color: #0f1112;
}

.x_component_header_cod_301 .site-header .top-nav .currency>a,
.x_component_header_cod_301 .site-header .top-nav .language>a {
    line-height: 20px;
    font-size: 13px;
    color: #777;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
}

.x_component_header_cod_301 .site-header .top-nav .currency>a:hover,
.x_component_header_cod_301 .site-header .top-nav .language>a:hover,
.x_component_header_cod_301 .site-header .top-nav .currency>a:focus,
.x_component_header_cod_301 .site-header .top-nav .language>a:focus {
    color: #e74047;
}

.x_component_header_cod_301 .site-header .top-nav .currency>ul,
.x_component_header_cod_301 .site-header .top-nav .language>ul {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    background-color: #0f1112;
    text-align: left;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.x_component_header_cod_301 .site-header .top-nav .currency>ul li,
.x_component_header_cod_301 .site-header .top-nav .language>ul li {
    list-style-type: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

.x_component_header_cod_301 .site-header .top-nav .currency>ul li a,
.x_component_header_cod_301 .site-header .top-nav .language>ul li a {
    color: #e4e4e4;
    border: 0;
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    background: none;
    outline: none;
    padding: 1px 6px;
    text-decoration: none;
}

.x_component_header_cod_301 .site-header .top-nav .currency>ul li a:hover,
.x_component_header_cod_301 .site-header .top-nav .language>ul li a:hover,
.x_component_header_cod_301 .site-header .top-nav .currency>ul li a:focus,
.x_component_header_cod_301 .site-header .top-nav .language>ul li a:focus {
    background: #e74047;
}

.x_component_header_cod_301 .site-header .top-nav .currency.open>ul,
.x_component_header_cod_301 .site-header .top-nav .language.open>ul {
    visibility: visible;
    opacity: 1;
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation {
    background-color: transparent;
    background-image: none;
    border: none;
    min-height: 1px;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation .container-fluid {
    padding: 0;
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse {
    padding: 0;
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse ul {
    position: absolute;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    background: transparent;
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse ul li {
    list-style-type: none;
    padding: 0 5px;
    float: none;
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse ul li a {
    color: #e4e4e4;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse ul li a:hover,
.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse ul li a:focus {
    color: inherit;
    background: transparent;
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse ul li.dropdown>a:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: '';
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse ul>li {
    display: inline-block;
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse ul>li.open>a {
    background-color: transparent;
    border: none;
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse ul>li.open>ul.dropdown-menu {
    min-width: 160px;
    background-color: #0f1112;
    text-align: left;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse ul>li.open>ul.dropdown-menu li {
    display: list-item;
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse ul>li.open>ul.dropdown-menu li a {
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    background: none;
    outline: none;
    padding: 1px 6px;
    text-decoration: none;
}

.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse ul>li.open>ul.dropdown-menu li a:hover,
.x_component_header_cod_301 .site-header .top-nav .top-navigation .navbar-collapse ul>li.open>ul.dropdown-menu li a:focus {
    background: #e74047;
    color: #e4e4e4;
}

.x_component_header_cod_301 .site-header .top-nav .search_box {
    position: relative;
    float: right;
    z-index: 46;
    margin-left: 12px;
}

.x_component_header_cod_301 .site-header .top-nav .search_box .top-search i {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    line-height: 23px;
}

.x_component_header_cod_301 .site-header .top-nav .search_box #search {
    top: 100%;
    position: absolute;
    z-index: 46;
    display: none;
    right: 0;
    width: 222px;
}

.x_component_header_cod_301 .site-header .top-nav .search_box #search input[type="text"] {
    float: left;
    border: 1px solid #000;
    line-height: 20px;
    height: 42px;
    padding: 11px;
    width: 180px;
    background-color: #282a2b;
    color: #fff;
    font-size: 13px;
}

.x_component_header_cod_301 .site-header .top-nav .search_box #search button {
    float: left;
    background: #e74047;
    border: 1px solid #c7373d;
    padding: 0;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    width: 42px;
    text-align: center;
    outline: none;
}

.x_component_header_cod_301 .site-header .top-nav .search_box #search button i {
    display: block;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}

.x_component_header_cod_301 .site-header .top-nav .search_box.open #search {
    display: block !important;
}

.x_component_header_cod_301 .site-header .top-nav .box-cart {
    position: relative;
    float: right;
}

.x_component_header_cod_301 .site-header .top-nav .box-cart #cart {
    position: relative;
}

.x_component_header_cod_301 .site-header .top-nav .box-cart #cart {
    padding: 0;
    border: 0;
    margin: 0;
    text-align: center;
    font-size: 13px;
    color: #fff;
    line-height: 40px;
    background: none;
    outline: none;
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
}

.x_component_header_cod_301 .site-header .top-nav .box-cart #cart i {
    font-size: 19px;
    margin-right: 7px;
    line-height: 23px;
    vertical-align: top;
    display: block;
    float: left;
}

.x_component_header_cod_301 .site-header .top-nav .box-cart #cart button strong,
.x_component_header_cod_301 .site-header .top-nav .box-cart #cart button #cart-total {
    display: none;
}

.x_component_header_cod_301 .site-header .top-nav .box-cart #cart button #cart-total {
    color: #e74047;
    text-align: center;
    font-size: 13px;
}

.x_component_header_cod_301 .site-header .top-nav .box-cart #cart button #cart-total2 {
    color: #fff;
    float: left;
    line-height: 23px;
    width: 23px;
    text-align: center;
    background-color: #e74047;
    border-radius: 50%;
    display: inline-block;
}

.x_component_header_cod_301 .site-header .top-nav .box-cart #cart .dropdown-menu {
    min-width: 260px;
    background-color: #0f1112;
    text-align: left;
    right: 0;
    left: auto;
}

.x_component_header_cod_301 .site-header .top-nav .box-cart #cart .dropdown-menu li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.x_component_header_cod_301 .site-header .top-nav .box-cart #cart .dropdown-menu li p {
    margin: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #e4e4e4;
}

.x_component_header_cod_301 .site-content .site-main-navigation nav.navbar {
    border: none;
    border-radius: 0;
    background: transparent;
    min-height: 10px;
    margin: 0;
    box-shadow: none;
}

.x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid {
    padding: 0;
}

.x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav {
    width: 100%;
    float: left;
    text-align: center;
}

.x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav>li {
    display: inline-block;
    padding: 0 15px;
    float: none;
}

.x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav>li>a {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
    padding: 17px 0;
    background-color: transparent;
    font-weight: bold;
    background-image: none;
    box-shadow: none;
}

.x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>a:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: '';
}

.x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu {
    margin-left: -320px;
    padding: 24px 20px;
}

.x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu .dropdown-menu-inner {
    display: table;
}

.x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu .dropdown-menu-inner>ul {
    display: table-cell;
    text-align: left;
    margin: 0;
    padding: 0;
}

.x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu .dropdown-menu-inner>ul>li {
    list-style-type: none;
}

.x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu .dropdown-menu-inner>ul>li>a {
    min-width: 166px;
    display: inline-block;
    padding: 3px 10px;
    clear: both;
    line-height: 20px;
    font-size: 13px;
    text-decoration: none;
}

.x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown:hover>.dropdown-menu {
    display: block;
}

@media all and (min-width: 768px) and (max-width: 1199px) {
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu {
        margin-left: -250px;
    }
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu .dropdown-menu-inner {
        display: block;
        width: 820px;
    }
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu .dropdown-menu-inner>ul {
        display: inline-block;
        width: 25%;
        float: left;
        padding-bottom: 30px;
    }
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu .dropdown-menu-inner>ul:nth-child(5) {
        clear: left;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu {
        margin-left: -179px;
    }
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu .dropdown-menu-inner {
        width: 670px;
    }
}

@media all and (max-width: 767px) {
    .x_component_header_cod_301 .site-main-navigation {
        border-bottom: 1px solid #f2f5f7;
        padding: 5px;
    }
    .x_component_header_cod_301 .site-header {
        padding-top: 90px;
    }
    .x_component_header_cod_301 .site-header .top-nav {
        background: #323232;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        padding: 0;
        height: 62px;
    }
    .x_component_header_cod_301 .site-header .top-nav .navbar-header {
        float: left;
        padding: 14px 15px 15px 15px;
        border-right: 1px solid #000;
    }
    .x_component_header_cod_301 .site-header .top-nav .navbar-header button {
        background: transparent;
        border: none;
        width: 38px;
        padding: 0;
        outline: 0;
    }
    .x_component_header_cod_301 .site-header .top-nav .navbar-header button .bar {
        float: left;
        height: 5px;
        background: #777777;
        width: 100%;
        border-radius: 2px;
        display: block;
        margin: 0px 0 3px 0;
    }
    .x_component_header_cod_301 .site-header .top-nav .navbar-header button .bar:hover,
    .x_component_header_cod_301 .site-header .top-nav .navbar-header button .bar:focus {
        background: #fff;
    }
    .x_component_header_cod_301 .site-header .top-nav .navbar-header button:hover .bar,
    .x_component_header_cod_301 .site-header .top-nav .navbar-header button:focus .bar {
        background: #fff;
    }
    .x_component_header_cod_301 .site-header .top-nav .currency-language-area {
        padding-right: 160px;
    }
    .x_component_header_cod_301 .site-header .top-nav .currency-language-area .language,
    .x_component_header_cod_301 .site-header .top-nav .currency-language-area .currency {
        position: absolute;
        top: 19px;
        right: 156px;
        z-index: 10;
    }
    .x_component_header_cod_301 .site-header .top-nav .currency-language-area .currency {
        margin-right: 42px;
    }
    .x_component_header_cod_301 .site-header .top-nav .search-cart-area {
        width: auto;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        z-index: 10;
    }
    .x_component_header_cod_301 .site-header .top-nav .search-cart-area .top-search {
        margin: 18px 40px 0 0;
    }
    .x_component_header_cod_301 .site-header .top-nav .search_box {
        float: left;
    }
    .x_component_header_cod_301 .site-header .top-nav .box-cart #cart .dropdown-menu {
        border-radius: 0;
        margin: 0;
        top: 99%;
    }
    .x_component_header_cod_301 .site-header .top-nav .box-cart #cart button {
        text-align: left;
        padding: 20px 20px;
        background: #000;
        height: auto;
        width: auto;
        vertical-align: top;
        color: #fff;
    }
    .x_component_header_cod_301 .site-header .top-nav .top-navigation-for-mobile .navbar-collapse .top-navigation-mobile-nav li {
        width: 100%;
        display: list-item;
        border-bottom: 1px solid #000;
        text-align: left;
        padding: 0;
    }
    .x_component_header_cod_301 .site-header .top-nav .top-navigation-for-mobile .navbar-collapse .top-navigation-mobile-nav li a {
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        display: block;
        text-decoration: none;
    }
    .x_component_header_cod_301 .site-header .top-nav .top-navigation-for-mobile .navbar-collapse .top-navigation-mobile-nav li a i {
        font-size: 20px;
        margin-right: 10px;
        color: #777777;
    }
    .x_component_header_cod_301 .site-header .top-nav .top-navigation-for-mobile .collapse.navbar-collapse {
        position: fixed;
        display: block;
        top: 62px;
        left: -240px;
        bottom: 0;
        width: 232px;
        padding: 0;
        background: #323232;
        overflow: auto;
        border: none;
        -webkit-box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.05);
        -moz-transform: translateX(-240px);
        -ms-transform: translateX(-240px);
        -o-transform: translateX(-240px);
        -webkit-transform: translateX(-240px);
        transform: translateX(-240px);
        -moz-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
        -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 0.05);
        -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 0.05);
        -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 0.05);
        transition: 0.3s cubic-bezier(0.55, 0, 0.1, 0.05);
    }
    .x_component_header_cod_301 .site-header .top-nav .top-navigation-for-mobile .collapse.navbar-collapse.open {
        left: 15px;
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid #navbar {
        display: none;
    }
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav {
        margin: 0;
        max-height: 340px;
        /*overflow: auto;*/
    }
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav>li {
        padding: 0;
        float: left;
        width: 100%;
    }
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav>li>a {
        display: block;
    }
    .x_component_header_cod_301 .dropdown-menu>li>a:focus,
    .dropdown-menu>li>a:hover {
        background-image: none;
    }
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu {
        margin-left: 0;
        float: left;
        width: 100%;
        padding: 10px 0;
        border: none;
    }
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu .dropdown-menu-inner {
        display: block;
        width: 100%;
        float: left;
    }
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu .dropdown-menu-inner>ul {
        width: 100%;
        float: left;
        padding-bottom: 20px;
    }
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu .dropdown-menu-inner>ul {
        padding: 0;
    }
    .x_component_header_cod_301 .site-content .site-main-navigation nav.navbar .container-fluid ul.navbar-nav li.dropdown>.dropdown-menu .dropdown-menu-inner>ul>li>a {
        display: block;
    }
    .x_component_header_cod_301 .site-content .navbar-header .categories {
        float: left;
        margin: 19px 0 0 30px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }
    .x_component_header_cod_301 .site-content .navbar-header button {
        padding: 2px 18px;
        border: none;
        float: right;
        margin: 15px 30px 0 0;
        height: 28px;
        outline: 0;
    }
    .x_component_header_cod_301 .site-content .navbar-header button .arrow {
        width: 18px;
        height: 3px;
        background-color: #fff;
        backface-visibility: hidden;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        position: relative;
        padding: 0;
    }
    .x_component_header_cod_301 .site-content .navbar-header button .arrow:before,
    .x_component_header_cod_301 .site-content .navbar-header button .arrow:after {
        content: "";
        position: absolute;
        left: 0;
        top: -6px;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 18px;
        height: 3px;
        background-color: #fff;
        backface-visibility: hidden;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    .x_component_header_cod_301 .site-content .navbar-header button .arrow:after {
        top: 6px;
    }
}