<section class="text-t009 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 data-editable="true">Título</h1>
            </div>
        </div>
    </div>
</section>