.cta-c003{
    background: #F5F5F5;
  	color: #999;
}
.cta-c003 .btn {
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-top: 12px;
}

.cta-c003 .spread-children-large * {
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
}

.cta-c003 img {
    width: 120px;
    height: 120px;
}
.cta-c003 h1 {
  font-size: 28px;
}
@media all and (max-width:990px){
    .cta-c003 img {
        height: auto;
        margin-bottom: 10px;
    }
    h1 {
      font-size: 16px;
  }
}