.buscador-b004 {
    background-color: #f5f5f5;
}

.buscador-b004 .cont-filtros {
    padding-top: 20px;
}

.buscador-b004 .titulo-busca {
    border-bottom: 1px solid #cacaca;
    color: #222;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: #eee;
    padding: 4px 18px 0px 8px;
}

.buscador-b004 h1 {
    font-size: 30px;
    line-height: 3;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
}

.buscador-b004 h1 span {
    margin-top: 10px;
    display: block;
    font-weight: 300;
    font-size: 70%;
    line-height: 1.2;
}

.buscador-b004 div.controls {
    margin-bottom: 12px;
    border: 1px dotted #fafafa;
    padding: 25px 20px;
    position: relative;
    margin-bottom: 20px;
}

.buscador-b004 div.controls h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: -10px;
    padding: 0 10px;
    color: #fafafa;
    background-color: #54bded;
}

.buscador-b004 input[type='radio'],
.buscador-b004 input[type='checkbox'] {
    display: none;
    cursor: pointer;
}

.buscador-b004 input[type='radio']:focus,
.buscador-b004 input[type='radio']:active,
.buscador-b004 input[type='checkbox']:focus,
.buscador-b004 input[type='checkbox']:active {
    outline: none;
}

.buscador-b004 input[type='radio']+label,
.buscador-b004 input[type='checkbox']+label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 10px;
    color: #0b4c6a;
}

.buscador-b004 input[type='radio']+label:before,
.buscador-b004 input[type='radio']+label:after,
.buscador-b004 input[type='checkbox']+label:before,
.buscador-b004 input[type='checkbox']+label:after {
    content: '';
    font-family: helvetica;
    display: inline-block;
    width: 18px;
    height: 18px;
    left: 0;
    bottom: 0;
    text-align: center;
    position: absolute;
}

.buscador-b004 input[type='radio']+label:before,
.buscador-b004 input[type='checkbox']+label:before {
    background-color: #fafafa;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.buscador-b004 input[type='radio']+label:after,
.buscador-b004 input[type='checkbox']+label:after {
    color: #fff;
}

.buscador-b004 input[type='radio']:checked+label:before,
.buscador-b004 input[type='checkbox']:checked+label:before {
    -moz-box-shadow: inset 0 0 0 10px #ff9b30;
    -webkit-box-shadow: inset 0 0 0 10px #ff9b30;
    box-shadow: inset 0 0 0 10px #ff9b30;
}


.buscador-b004 input[type='radio']+label:before {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ccc;
}

.buscador-b004 input[type='radio']+label:hover:after,
.buscador-b004 input[type='radio']:checked+label:after {
    content: '\2022';
    position: absolute;
    top: 0px;
    line-height: 15px;
}

.buscador-b004 input[type='radio']:checked+label:after,
.buscador-b004 input[type='radio']:checked+label:hover:after {
    color: #fff;
}


.buscador-b004 input[type='checkbox']+label:before {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.buscador-b004 input[type='checkbox']+label:hover:after,
.buscador-b004 input[type='checkbox']:checked+label:after {
    content: "\2713";
    line-height: 18px;
    font-size: 14px;
}

.buscador-b004 input[type='checkbox']+label:hover:after {
    color: #c7c7c7;
}

.buscador-b004 input[type='checkbox']:checked+label:after,
.buscador-b004 input[type='checkbox']:checked+label:hover:after {
    color: #fff;
}


.buscador-b004 input[type='checkbox'].toggle {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 51px;
    height: 23px;
    background-color: #fafafa;
    position: relative;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.buscador-b004 input[type='checkbox'].toggle:hover:after {
    background-color: #c7c7c7;
}

.buscador-b004 input[type='checkbox'].toggle:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #aeaeae;
    top: 2px;
    left: 2px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.buscador-b004 input[type='checkbox']:checked.toggle {
    -moz-box-shadow: inset 0 0 0 15px #ff9b30;
    -webkit-box-shadow: inset 0 0 0 15px #ff9b30;
    box-shadow: inset 0 0 0 15px #ff9b30;
}

.buscador-b004 input[type='checkbox']:checked.toggle:after {
    left: 29px;
    background-color: #fff;
}

.buscador-b004 .form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: solid 1px #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.buscador-b004 .btn {
    color: #000;
    width: 100%;
    font-weight: 600 !important;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    white-space: nowrap;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.buscador-b004 .btn:hover {
    background-color: #4c4b4a;
    color: #fff;
    font-weight: bold;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.buscador-b004 .panel-default>.panel-heading,
.buscador-b004 .tituloSecao {
    color: #f48120;
    background-color: #3e3e3e;
}

.buscador-b004 .panel-group {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.buscador-b004 .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 0px;
}

@media all and (min-width: 768px) {
    .buscador-b004 .form-inline .form-control {
        width: 100% !important;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 991px) {
    .buscador-b004 .search {
        margin-bottom: 30px;
    }
}

.buscador-b004 .titulo-busca {
    text-align: center;
}

.buscador-b004 .logo {
    width: 76px;
    padding-top: 20px;
}

.buscador-b004 .search .fa.fa-search {
    padding-right: 10px;
}