<section class="x_component_services_cod_123">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="text-uppercase font-title" data-editable="true">
                    Auto Repair Services
                </h1>
                <div class="sub-titulo" data-editable="tue">
                    We offer a variety of services to help you get back on the road.
                </div>
            </div>
            <div class="no-gutters">
                <div class="col-md-4 box">
                    <div class="col-xs-12">
                        <i class="fa fa-thermometer-empty" data-icon="true"></i>
                    </div>
                    <h3 data-editable="true" class="título">Oil Change</h3>
                    <h5 data-editable="true">Regularly changing your oil and filter will help the engine work its best.</h5>

                </div>
                <div class="col-md-4 box">
                    <div class="col-xs-12">
                        <i class="fa fa-car" data-icon="true"></i>
                    </div>
                    <h3 data-editable="tue" class="titulo">Oil Change</h3>
                    <h5 data-editable="tue" class="sub-titulo">Regularly changing your oil and filter will help the engine work its best.</h5>

                </div>
                <div class="col-md-4 box">
                    <div class="col-xs-12">
                        <i class="fa fa-tachometer" data-icon="true"></i>
                    </div>
                    <h3 data-editable="true" class="titulo">Oil Change</h3>
                    <h5 data-editable="true" class="sub-titulo">Regularly changing your oil and filter will help the engine work its best.</h5>
                </div>
            </div>
            <div class="no-gutters">
                <div class="col-md-4 box-2">
                    <div class="col-xs-12">
                        <i class="fa fa-credit-card" data-icon="true"></i>
                    </div>
                    <h3 data-editable="true" class="titulo">Oil Change</h3>
                    <h5 data-editable="true" class="sub-titulo">Regularly changing your oil and filter will help the engine work its best.</h5>
                </div>
                <div class="col-md-4 box-2">
                    <div class="col-xs-12">
                        <i class="fa fa-wrench" data-icon="true"></i>
                    </div>
                    <h3 data-editable="true" class="titulo">Oil Change</h3>
                    <h5 data-editable="true" class="sub-titulo">Regularly changing your oil and filter will help the engine work its best.</h5>

                </div>
                <div class="col-md-4 box-2">
                    <div class="col-xs-12">
                        <i class="fa fa-wrench" data-icon="true"></i>
                    </div>
                    <h3 data-editable="true" class="titulo">Oil Change</h3>
                    <h5 data-editable="true" class="sub-titulo">Regularly changing your oil and filter will help the engine work its best.</h5>
                </div>
            </div>
        </div>
    </div>
</section>