<div class="video-002">
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-video="true">
            </div>
            <div class="col-md-6">
                <h2 data-editable="true">Escreva um titulo </h2>
              	<div data-editable="true">
                  <small>Escreva uma pequena descrição</small>
              	</div>
                <div class="color-text" data-editable="true">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book.
                  </p>
              </div>
            </div>
        </div>
    </div>
</div>