.x_component_footer_cod_168 {
    padding-top: 50px;
    background: #272D33;
    color: #76828f;
    font-family: 'Raleway', sans-serif;
}

.x_component_footer_cod_168 .footer-module-title {
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
}

.x_component_footer_cod_168 .footer-menu {
    min-height: 200px;
}

.x_component_footer_cod_168 .footer-menu li a {
    line-height: 33px;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_168 .footer-menu li a:hover {
    text-decoration: none;
}

.x_component_footer_cod_168 .footer-menu li.active a {
    text-decoration: none;
}

.x_component_footer_cod_168 .contact-info {
    min-height: 110px;
}

.x_component_footer_cod_168 .contact-info li * {
    display: inline-block;
    line-height: 32px;
}

.x_component_footer_cod_168 .contact-info li div {
    max-width: 225px;
    margin-left: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    font-size: 14px;
}

.x_component_footer_cod_168 .contact-info li div a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_168 .contact-info li div a:hover {
    text-decoration: none;
}

.x_component_footer_cod_168 .contact-info li i {
    width: 10px;
    font-size: 20px;
}

.x_component_footer_cod_168 .footer-social {
    margin-top: 25px;
}

.x_component_footer_cod_168 .footer-social li i {
    margin-right: 15px;
    font-size: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_168 .facebook-widget-area {
    width: 100%;
    min-height: 200px;
    margin-top: 20px;
}

.x_component_footer_cod_168 .menu-types {
    padding-bottom: 50px;
}

.x_component_footer_cod_168 #map {
    width: 100%;
    height: 330px;
    margin-top: 30px;
}

.x_component_footer_cod_168 .copyright {
    padding: 25px 0;
}

.x_component_footer_cod_168 .copyright p {
    max-width: 150px;
    float: left;
    padding-top: 8px;
}

.x_component_footer_cod_168 .copyright p a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_168 .copyright p a:hover {
    text-decoration: none;
}

.x_component_footer_cod_168 .copyright img {
    display: inline-block;
    float: left;
    margin-right: 25px;
}

@media screen and (max-width: 768px) {
    .x_component_footer_cod_168 .text-xs-center {
        text-align: center;
    }
}