<section class="buscador_013 reset pad-default-elements">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center ">
                <div class="cont-titulo col-md-8 col-md-offset-2">
                    <h1 class="titulo color-default" data-editable="true">O SEU PRÓXIMO CARRO ESTÁ AQUI. ENCONTRE O QUE MAIS COMBINE COM VOCÊ.</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container padding_top_30">
        <form action="" class="form-inline ">
            <div class="row">
                <div class="col-md-9">
                    <div class="col-md-4">
                        <div class="form-group">
                            <select name="marca" class="form-control border-default">
                                    <optgroup label="Selecione a Marca">
                                        <option value="#marcaId#">#marca#</option>
                                 
                                    </optgroup>
                                </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control border-default">
                                    <optgroup  name="modelos" class="form-control">
                                       <option value=""> Modelo</option>
                                        <optgroup label="selecione o modelo"></optgroup>
                                    </optgroup>
                                </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select name="ano_de" class="form-control border-default">
                                    <optgroup label="Ano">
                                        <option value=""> Ano</option>
                                    <optgroup label="menor ano"></optgroup>
                                </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select name="ano_ate" class="form-control border-default">
                                   <option value=""> Até</option>
                                     <optgroup label="maior ano"></optgroup>
                                </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control border-default">
                                    <optgroup label="Estado">
                                        <option value="sp">São Paulo</option>
                                    </optgroup>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div id="slider-range"></div>
                        <input type="text" id="amount" readonly>
                    </div>
                    <div class="form-group cont-button">
                        <div class="form-control position_relative brackground_chumbo border-default">
                            <p data-editle="true">PESQUISAR VEÍCULOS</p>
                            <button class="btn-sub"><i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>