.news-n002 .masonry {
    position: relative;
}

.news-n002 .masonry .masonry-item {
    float: left;
    margin-bottom: 40px;
}

.news-n002 .columns-3.masonry .masonry-item {
    width: 33.33%;
    padding: 0 15px 0px;
}

.news-n002 .news .news-image {
    position: relative;
}

.news-n002 .news .news-image img {
    height: 214px;
  	width: 100%;
}

.news-n002 .news .news-content {
    background: #ffffff;
    position: relative;
    margin: -20px 10px 0;
}

.news-n002 .border-text.latest-news .news .news-content {
    border: 1px solid #e3e3e3;
}

.news-n002 .news .news-description {
    padding: 20px;
}

.news-n002 .news .news-description .separator {
    margin-bottom: 15px;
}

.news-n002 .news .news-description .separator::after {
    width: 50px;
    display: block;
    margin: auto;
    content: "";
    height: 1px;
    background: #db2d2e;
    bottom: 0px;
    left: 50%;
    transition: width 0.8s ease, background-color 0.8s ease;
    -webkit-transition: width 0.8s ease, background-color 0.8s ease;
    -o-transition: width 0.8s ease, background-color 0.8s ease;
    -ms-transition: width 0.8s ease, background-color 0.8s ease;
    -moz-transition: width 0.8s ease, background-color 0.8s ease;
}

.news-n002 .news .news-description .separator::before {
    content: "";
    display: block;
    margin: auto;
    left: 50%;
    height: 1px;
    width: 30px;
    bottom: -10px;
    background: #db2d2e;
    transition: width 0.8s ease, background-color 0.8s ease;
    -webkit-transition: width 0.8s ease, background-color 0.8s ease;
    -o-transition: width 0.8s ease, background-color 0.8s ease;
    -ms-transition: width 0.8s ease, background-color 0.8s ease;
    -moz-transition: width 0.8s ease, background-color 0.8s ease;
    margin-bottom: 4px;
}

@media (max-width: 767px) {
    .news-n002 .masonry.columns-3 .masonry-item {
        width: 100%;
        padding: 0px;
    }
}