<div class="text-t009 full-w">
    <section class="page-title page-title-3 ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="mb0" data-editable="true">Título</h3>
                </div>
            </div>
        </div>
    </section>
</div>