.menu-m002 .tel-popover{
  color: #222;
}
.menu-m002 .popover-title {
    padding: 8px 14px!important;
}
.menu-m002 .popover-content {
    padding: 0px 14px!important;
}
.menu-m002 {
    background: #ffffff;
}

.menu-m002 nav {
    -webkit-backface-visibility: hidden;
    margin-bottom: -1px;
    max-width: 100%;
}

.menu-m002 .offscreen-container {
    position: fixed;
    transform: translate3d(200%, 0, 0);
    -webkit-transform: translate3d(200%, 0, 0);
    -moz-transform: translate3d(200%, 0, 0);
    width: 50%;
    top: 0;
    height: 100%;
    min-height: 100vh;
    z-index: 20;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    overflow: hidden;
}

.menu-m002 .overflow-hidden {
    overflow: hidden;
}

.menu-m002 .mega-menu>li {
    width: 150px;
    overflow: hidden;
    display: inline-block;
}

.menu-m002 .nav-utility {
    height: 45px;
    line-height: 43px;
    border-bottom: 1px solid #cda100;
    overflow: hidden;
    background-color: rgb(205, 161, 0);
    color: #ffffff;
    margin-top: -1px;
}

.menu-m002 .nav-bar {
    height: 100px;
    max-height: 100px;
    line-height: 53px;
    border-bottom: 1px solid #000;
}

.menu-m002 .right {
    right: 0px;
}

.menu-m002 .module {
    display: inline-block;
    padding: 0 32px;
}

.menu-m002 .left.module,
.menu-m002 .left.module-group {
    float: left;
}

.menu-m002 .module-group,
.menu-m002 .nav-utility .module > div {
    display: inline-block;
}

.menu-m002 .right.module,
.menu-m002 .right.module-group {
    float: right;
}

/*.menu-m002 .nav-bar .module,
.menu-m002 .nav-bar .module-group {
    height: 55px;
}*/

.menu-m002 .widget-handle.module {
    padding: 0 24px;
    cursor: pointer;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.menu-m002 ul {
    list-style: none;
}

.menu-m002 h1,
.menu-m002 h2,
.menu-m002 h3,
.menu-m002 h4,
.menu-m002 h5,
.menu-m002 h6,
.menu-m002 p,
.menu-m002 ul,
.menu-m002 ol,
.menu-m002 pre,
.menu-m002 table,
.menu-m002 blockquote,
.menu-m002 input,
.menu-m002 button,
.menu-m002 select,
.menu-m002 textarea {
    margin-bottom: 24px;
    margin-top: 0px;
    padding: 0;
}

.menu-m002 nav ul {
    margin-bottom: 0px;
}

.menu-m002 .menu {
    width: 100%;
    /*height: 55px;*/
    margin-top: 20px;
}

.menu-m002 .menu>li {
    margin-right: 32px;
    float: left;
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
}

.menu-m002 .menu>li:last-child {
    margin-right: 0px;
}

.menu-m002 a,
.menu-m002 a:visited,
.menu-m002 a:focus,
.menu-m002 a:active,
.menu-m002 a:hover {
    text-decoration: none;
    outline: none;
}

.menu-m002 a {
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: poitner;
}

.menu-m002 .nav-bar a {
    display: inline-block;
    height: 55px;
}

.menu-m002 .menu li a {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    max-width: 100%;
    white-space: normal;
    display: block;
    height: auto;
}

.menu-m002 .menu li a:hover {
    color: #cda100;
}

.menu-m002 .widget-handle.module i {
    font-size: 20px;
    line-height: 53px;
    opacity: 0.5;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.menu-m002 .image-xxs {
    max-height: 80px;
    margin-top: 8px;
}

.menu-m002 .btn {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
}


/*.menu-m002 .btn:hover {
    background: #a82c2f;
    color: #fff;
    height: 43px;
}
*/

.menu-m002 .btn-sm {
    height: 30px;
    font-size: 11px;
    line-height: 27px;
    min-width: 0px;
}

.menu-m002 .btn-filled {
    background: #f3123c;
    color: #fff;
}

.menu-m002 nav .btn,
.menu-m002 .nav-bar .btn {
    margin: 0;
    height: auto;
}

.menu-m002 :last-child.btn,
.menu-m002 :last-of-type.btn {
    margin-right: 0px;
}

.menu-m002 .nav-utility i {
    position: relative;
    top: 1px;
}

.menu-m002 p,
.menu-m002 span {
    font-weight: 400;
}

.menu-m002 .sub {
    font-size: 12px;
}

.menu-m002 .module.widget-handle:hover i,
.menu-m002 .module.active i {
    opacity: 1;
}

.menu-m002 .nav-open {
    max-height: 10000px !important;
    height: auto !important;
}


/*.menu-m002 .nav-open .mobile-toggle {
    border-bottom: 1px solid #ccc;
}*/

@media all and (max-width: 768px) {
    .menu-m002 .pull-left-sm {
        float: left !important;
    }
    .menu-m002 .overflow-hidden-xs {
        overflow: hidden;
    }
}

@media all and (max-width: 767px) {
    .menu-m002 .spread-children * {
        margin-left: 6px;
        margin-right: 6px;
    }
}

@media all and (max-width: 990px) {
    .menu-m002 .nav-bar {
        height: 70px;
        max-height: 70px;
    }
    .menu-m002 .image-xxs {
        max-height: 50px;
        margin-top: 8px;
    }
    .menu-m002 nav.fixed {
        position: absolute !important;
        opacity: 1 !important;
        visibility: visible !important;
    }
    .menu-m002 nav.outOfSight {
        transform: translate3d(0, 0px, 0) !important;
        -webkit-transform: translate3d(0, 0px, 0) !important;
        -moz-transform: translate3d(0, 0px, 0) !important;
    }
    .menu-m002 .nav-bar,
    .menu-m002 .nav-bar .module-group,
    .menu-m002 .nav-bar .module {
        height: auto;
        overflow: hidden;
    }
    .menu-m002 .nav-bar .module {
        padding: 0 16px;
    }
    .menu-m002 .nav-bar .module-group {
        width: 100%;
        padding: 16px 0;
    }
    .menu-m002 .nav-bar .module-group .module {
        display: block;
        float: none;
        width: 100%;
    }
    .menu-m002 nav.nav-centered .logo {
        margin: 24px 0 16px 0;
        max-height: 40px;
    }
    .menu-m002 .menu {
        height: auto;
        background: #fff;
        z-index: 10;
        display: block;
        position: relative;
    }
    .menu-m002 .menu.inline-block {
        width: 100%;
    }
    .menu-m002 .menu a {
        height: auto;
        line-height: 24px;
        padding: 4px 0;
    }
    .menu-m002 .menu li {
        line-height: 24px;
        float: none;
        display: block;
        width: 100%;
        max-width: 100%;
    }
    .menu-m002 .menu>li>ul {
        position: relative;
        opacity: 1;
        visibility: visible;
        display: none;
        transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0);
        -moz-transform: translate3d(0, 0px, 0);
    }
    .menu-m002 .menu>li>ul>.has-dropdown:after {
        content: "\f0c9";
    }
    .menu-m002 .menu>li>ul>li>ul {
        left: 0;
        display: none;
        padding: 0;
    }
    .menu-m002 .menu>li>ul li a,
    .menu-m002 .mega-menu .title {
        padding: 4px 16px;
    }
    .menu-m002 .has-dropdown .has-dropdown li {
        padding-left: 18px;
    }
    .menu-m002 .has-dropdown {
        padding-right: 0;
    }
    .menu-m002 .mega-menu {
        margin-left: 0 !important;
    }
    .menu-m002 .mega-menu li {
        width: 100% !important;
    }
    .menu-m002 .toggle-sub>ul,
    .menu-m002 .toggle-sub .mega-menu ul {
        display: block !important;
    }
    .menu-m002 .module.widget-handle {
        line-height: 40px;
        min-height: 40px;
    }
    .menu-m002 .module.widget-handle .menu {
        line-height: 40px;
    }
    .menu-m002 .module.widget-handle .menu li {
        line-height: 40px;
    }
    .menu-m002 .module.widget-handle i {
        line-height: 40px;
    }
    .menu-m002 .module.widget-handle .title {
        display: inline-block;
        position: relative;
        bottom: 3px;
        margin-left: 8px;
    }
    .menu-m002 .widget-handle .function {
        width: 100%;
        position: relative;
        opacity: 1;
        transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0);
        -moz-transform: translate3d(0, 0px, 0);
        visibility: visible;
        margin-top: 0;
        display: none;
        box-shadow: none !important;
    }
    .menu-m002 .toggle-widget-handle .function {
        display: block !important;
    }
    .menu-m002 .widget-handle .cart .label {
        width: 22px;
        height: 22px;
        font-size: 12px;
        line-height: 22px;
        top: 18px;
    }
    .menu-m002 .mobile-toggle i {
        line-height: 53px !important;
    }
    .menu-m002 .mobile-toggle.absolute-xs {
        position: absolute;
        top: 0;
    }
    .menu-m002 nav.nav-centered .mobile-toggle {
        width: 100%;
    }
    .menu-m002 nav.transparent .nav-open {
        background: #fff;
    }
    .menu-m002 nav.transparent .nav-open .menu>li>a,
    .menu-m002 nav.transparent .nav-open .module.widget-handle i,
    .menu-m002 nav.transparent .nav-open .nav-utility {
        color: #292929;
    }
    .menu-m002 nav.transparent .nav-open .logo-dark {
        display: inline;
    }
    .menu-m002 nav.transparent .nav-open .logo-light {
        display: none;
    }
    .menu-m002 nav.transparent .nav-open .has-dropdown:after {
        color: #292929;
    }
    .menu-m002 .menu>li:last-child>ul ul {
        right: 0;
    }
    .menu-m002 nav.bg-dark .nav-open .mobile-toggle {
        border-bottom: 1px solid #444;
    }
}

.menu-m001 .menu>li>ul li a {
    color: #fff;
    background: #292929;
    height: auto;
    padding: 6px 24px;
    background: none;
}

.menu-m001 .menu>li ul {
    display: block;
    width: 200px;
    padding: 8px 0;
    background: #292929;
    position: absolute;
    z-index: 99;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    visibility: hidden;
    margin-top: -1px;
}

.menu-m001 .mega-menu {
    width: auto !important;
    white-space: nowrap;
    line-height: 24px;
}

.menu-m002 .menu>li:hover ul {
    display: block;
    width:100%;
}