.service-s006{
    background: #000;
    color: #fff;
    }

.service-s006 .title-service006 > h1 {
    font-size: 40px;
    line-height: 48px;
}

.service-s006 .lead > h2 {
    font-size: 16px;
    line-height: 28px;
}

.service-s006 .mb64 {
    margin-bottom: 64px;
}
.service-s006 .feature p:last-child {
    margin-bottom: 0;
}
.service-s006 .feature.boxed {
    padding: 32px;
    background: rgba(34, 34, 34, 0.4);
}
.service-s006 .title-description-card {
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 36px;
}
.service-s006 .feature i {
    font-size: 30px;
    line-height: 10px;
}

@media all and (max-width: 990px){
    .service-s006 .feature.boxed {
        margin-bottom: 14px;
    }
}
