<section class="img-i003 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 masonry-item project">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/plat_componentes/8.jpg" data-image="true">
                    <div class="hover-state">
                        <a href="javascript:void(0);" data-link="true">
                            <h1 class="" data-editable="true">Carro </h1>
                            <h2 class="" data-editable="true">Marca / Modelo</h2>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 masonry-item project">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/plat_componentes/10.jpg" data-image="true">
                    <div class="hover-state">
                        <a href="javascript:void(0);" data-link="true">
                            <h1 class="" data-editable="true">Carro </h1>
                            <h2 class="" data-editable="true">Marca / Modelo</h2>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 masonry-item project">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/plat_componentes/12.jpg" data-image="true">
                    <div class="hover-state">
                        <a href="javascript:void(0);" data-link="true">
                            <h1 class="" data-editable="true">Carro </h1>
                            <h2 class="" data-editable="true">Marca / Modelo</h2>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 masonry-item project">
                <div class="image-tile hover-tile text-center">
                    <img alt="image" class="background-image" src="http://srv4.vmwm.com.br/img/plat_componentes/21.jpg" data-image="true">
                    <div class="hover-state">
                        <a href="javascript:void(0);" data-link="true">
                            <h1 class="" data-editable="true">Carro </h1>
                            <h2 class="" data-editable="true">Marca / Modelo</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>