<section class="marcas_mod_old_003 pad-default-elements">
    <article class="container">
        <div class="row">
            <div class="slider-marcas">
                <div class="item" data-zerokm-template="true">
                    <a href="#zero-car-link#" data-link="true"><img src="" alt="" data-zerokm-marca-img="true"></a>
                </div>
            </div>
        </div>
    </article>
</section>