<section class="slider-s001">
    <div class="simple-slider">
        <div class="swiper-container" data-speed="400">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="height:100vh;" data-banner-template="true">
                    <a href="javascript:void(0);"><img src="http://placehold.it/1080x500?text=Imagem+do+banner" width="100%" alt="" class="slide-image" /></a>
                    <video class="video-player-no-controls video-template" muted="true" width="100%" height="100%" src=""></video>
                </div>
            </div>
              <i class="fa fa-angle-left btn-left color-default" aria-hidden="true"></i>
                <i class="fa fa-angle-right btn-right color-default" aria-hidden="true"></i>
        </div>
  	</div>
</section>