/*LESS VARIABLES*/


/*SECTION CSS*/

.x_component_slider_cod_251 {
    background: #252528;
    padding: 20px 0;
    font-size: 14px;
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
    position: relative;
}

.x_component_slider_cod_251 .row.no-gutters>[class^="col-"],
.x_component_slider_cod_251 .row.no-gutters>[class*=" col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.x_component_slider_cod_251 .font-title {
    font-size: 46px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 20px;
}

.x_component_slider_cod_251 .slide {
    position: relative;
    width: 100%;
    height: 560px;
}

.x_component_slider_cod_251 .slide img {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.x_component_slider_cod_251 .text {
    position: absolute;
    right: 0;
    z-index: 100;
    width: 40%;
    height: 100%;
    background: #F8565D;
    padding: 50px;
}

.x_component_slider_cod_251 .text h3 {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #fff;
    font-size: 56px;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 10%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    letter-spacing: -2px;
}

.x_component_slider_cod_251 .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 63%;
}

.x_component_slider_cod_251 .owl-theme .owl-controls .owl-page span {
    margin: 5px 3px;
    background: #3e3e3e;
    opacity: 1;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

.x_component_slider_cod_251 .owl-theme .owl-controls .owl-page.active span,
.x_component_slider_cod_251 .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #fff;
    filter: alpha(opacity=100);
    opacity: 1;
}

.x_component_slider_cod_251 .owl-theme .owl-dots .owl-dot span {
    background: #3e3e3e;
    width: 15px;
    height: 15px;
    margin: 5px 4px;
}

.x_component_slider_cod_251 .owl-theme .owl-dots .owl-dot.active span,
.x_component_slider_cod_251 .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .x_component_slider_cod_251 .slide img {
        height: 80%;
    }
    .x_component_slider_cod_251 .text {
        height: 80%;
    }
    .x_component_slider_cod_251 .text h3 {
        font-size: 32px;
        word-spacing: 5px;
    }
    .x_component_slider_cod_251 .owl-theme .owl-nav.disabled+.owl-dots {
        top: 52%;
        left: 62.5%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .x_component_slider_cod_251 .slide img {
        height: 60%;
    }
    .x_component_slider_cod_251 .text {
        height: 60%;
    }
    .x_component_slider_cod_251 .text h3 {
        font-size: 32px;
    }
    .x_component_slider_cod_251 .owl-theme .owl-nav.disabled+.owl-dots {
        top: 42%;
        left: 62%;
    }
}

@media (min-width: 551px) and (max-width: 767px) {
    .x_component_slider_cod_251 .slide img {
        height: 40%;
    }
    .x_component_slider_cod_251 .text {
        height: 40%;
    }
    .x_component_slider_cod_251 .text h3 {
        font-size: 16px;
        word-spacing: 3px;
        letter-spacing: 0.5px;
    }
    .x_component_slider_cod_251 .text h3 {
        font-size: 16px;
        word-spacing: 3px;
        letter-spacing: 0.5px;
    }
    .x_component_slider_cod_251 .owl-theme .owl-nav.disabled+.owl-dots {
        top: 27%;
        left: 61.5%;
    }
}

@media screen and (max-width: 550px) {
    .x_component_slider_cod_251 .slide img {
        height: 30%;
    }
    .x_component_slider_cod_251 .text {
        height: 30%;
    }
    .x_component_slider_cod_251 .text h3 {
        font-size: 16px;
        word-spacing: 3px;
        letter-spacing: 0.5px;
    }
    .x_component_slider_cod_251 .owl-theme .owl-nav.disabled+.owl-dots {
        top: 23%;
        left: 60%;
    }
}