.zkmodelos-zk001 .gray-area {
    background: #f5f5f5;
}

.zkmodelos-zk001 .image-box .box,
.zkmodelos-zk001 .image-box.box {
    text-align: left;
    background: #fff;
    margin-bottom: 30px;
}

.zkmodelos-zk001 .image-box .box img,
.zkmodelos-zk001 .image-box.box img {
    width: 100%;
    height: 150px;
}

.zkmodelos-zk001 .image-box .box>.details,
.zkmodelos-zk001 .image-box.box>.details {
    padding: 12px 15px;
}

.zkmodelos-zk001 .image-box .box>.details>*:last-child,
.zkmodelos-zk001 .image-box.box>.details>*:last-child {
    margin-bottom: 0;
}

.zkmodelos-zk001 .image-box .box .box-title,
.zkmodelos-zk001 .image-box.box .box-title {
    margin-bottom: 10px;
    color: #2d3e52;
}

.zkmodelos-zk001 .image-box.style4 .details .box-title {
    float: left;
    margin: 0;
}

.zkmodelos-zk001 .image-box.style4 .details .goto-detail {
    float: right;
    color: #98ce44;
    font-weight: bold;
    font-size: 16px;
}

.zkmodelos-zk001 .image-box.style4 .details:after {
    content: "";
    display: table;
    clear: both;
}