.zkdetalhes-zk001 {
    font-size: 16px;
    min-height: 100%;
    font: 75%/150% "Lato", Arial, Helvetica, sans-serif;
    color: #838383;
}

.zkdetalhes-zk001 a {
    text-decoration: none;
    color: inherit;
}

.zkdetalhes-zk001 a:hover,
.zkdetalhes-zk001 a:focus {
    color: #01b7f2;
    text-decoration: none;
}

.zkdetalhes-zk001 a:focus {
    outline: none;
}

.zkdetalhes-zk001 p {
    font-size: 1.0833em;
    line-height: 1.6666;
    margin-bottom: 15px;
}

.zkdetalhes-zk001 h1,
.zkdetalhes-zk001 h2,
.zkdetalhes-zk001 h3,
.zkdetalhes-zk001 h4,
.zkdetalhes-zk001 h5,
.zkdetalhes-zk001 h6 {
    margin: 0 0 15px;
    font-weight: normal;
    color: #2d3e52;
}

.zkdetalhes-zk001 h1 {
    font-size: 2em;
    line-height: 1.25em;
}

.zkdetalhes-zk001 h2 {
    font-size: 1.6667em;
    line-height: 1.25em;
}

.zkdetalhes-zk001 h3 {
    font-size: 1.5em;
    line-height: 1.2222em;
}

.zkdetalhes-zk001 h4 {
    font-size: 1.3333em;
    line-height: 1.25em;
}

.zkdetalhes-zk001 h5 {
    font-size: 1.1666em;
    line-height: 1.1428em;
}

.zkdetalhes-zk001 h6 {
    font-size: 1em;
}

.zkdetalhes-zk001 ol,
.zkdetalhes-zk001 ul {
    list-style: none;
    margin: 0;
}

.zkdetalhes-zk001 .margin-top-30 {
    margin-top: 30px;
}

.zkdetalhes-zk001 .full-width {
    width: 100% !important;
}

.zkdetalhes-zk001 .uppercase {
    text-transform: uppercase;
}

@font-face {
    font-family: 'vmwmstock-icons';
    src: url("../fonts/vmwmstock-icons.eot?26664784");
    src: url("../fonts/vmwmstock-icons.eot?26664784#iefix") format("embedded-opentype"), url("../fonts/vmwmstock-icons.woff?26664784") format("woff"), url("../fonts/vmwmstock-icons.ttf?26664784") format("truetype"), url("../fonts/vmwmstock-icons.svg?26664784#vmwmstock-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.zkdetalhes-zk001 [class^="vmwmstock-icon"],
.zkdetalhes-zk001 [class*=" vmwmstock-icon"] {
    vertical-align: baseline;
}

.zkdetalhes-zk001 [class^="vmwmstock-icon"]:before,
.zkdetalhes-zk001 [class*=" vmwmstock-icon"]:before {
    font-family: "vmwmstock-icons";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.zkdetalhes-zk001 [class^="vmwmstock-icon"].circle,
.zkdetalhes-zk001 [class*=" vmwmstock-icon"].circle,
.zkdetalhes-zk001 .glyphicon.circle {
    border: 1px solid;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.7333em;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    text-align: center;
}

.zkdetalhes-zk001 [class^="vmwmstock-icon"].takeoff-effect:before,
.zkdetalhes-zk001 [class*=" vmwmstock-icon"].takeoff-effect:before,
.zkdetalhes-zk001 .glyphicon.takeoff-effect:before {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.zkdetalhes-zk001 [class^="vmwmstock-icon"].takeoff-effect1:before,
.zkdetalhes-zk001 [class*=" vmwmstock-icon"].takeoff-effect1:before,
.zkdetalhes-zk001 .glyphicon.takeoff-effect1:before {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
}

.zkdetalhes-zk001 [class^="vmwmstock-icon"].landing-effect:before,
.zkdetalhes-zk001 [class*=" vmwmstock-icon"].landing-effect:before,
.zkdetalhes-zk001 .glyphicon.landing-effect:before {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.zkdetalhes-zk001 [class^="vmwmstock-icon"].flip-effect:before,
.zkdetalhes-zk001 [class*=" vmwmstock-icon"].flip-effect:before,
.zkdetalhes-zk001 .glyphicon.flip-effect:before {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}

.zkdetalhes-zk001 .vmwmstock-icon-fireplace:before {
    content: '\e800';
}

.zkdetalhes-zk001 .vmwmstock-icon-television:before {
    content: '\e801';
}

.zkdetalhes-zk001 .vmwmstock-icon-fridge:before {
    content: '\e802';
}

.zkdetalhes-zk001 .vmwmstock-icon-aircon:before {
    content: '\e803';
}

.zkdetalhes-zk001 .vmwmstock-icon-fmstereo:before {
    content: '\e804';
}

.zkdetalhes-zk001 .vmwmstock-icon-beach:before {
    content: '\e805';
}

.zkdetalhes-zk001 .vmwmstock-icon-juice:before {
    content: '\e806';
}

.zkdetalhes-zk001 .vmwmstock-icon-food:before {
    content: '\e807';
}

.zkdetalhes-zk001 .vmwmstock-icon-fueltank:before {
    content: '\e808';
}

.zkdetalhes-zk001 .vmwmstock-icon-breakfast:before {
    content: '\e809';
}

.zkdetalhes-zk001 .vmwmstock-icon-coffee:before {
    content: '\e80a';
}

.zkdetalhes-zk001 .vmwmstock-icon-party:before {
    content: '\e80b';
}

.zkdetalhes-zk001 .vmwmstock-icon-savings:before {
    content: '\e80c';
}

.zkdetalhes-zk001 .vmwmstock-icon-address:before {
    content: '\e80d';
}

.zkdetalhes-zk001 .vmwmstock-icon-horn:before {
    content: '\e80e';
}

.zkdetalhes-zk001 .vmwmstock-icon-conference:before {
    content: '\e80f';
}

.zkdetalhes-zk001 .vmwmstock-icon-support:before {
    content: '\e810';
}

.zkdetalhes-zk001 .vmwmstock-icon-tree:before {
    content: '\e811';
}

.zkdetalhes-zk001 .vmwmstock-icon-friends:before {
    content: '\e812';
}

.zkdetalhes-zk001 .vmwmstock-icon-winebar:before {
    content: '\e813';
}

.zkdetalhes-zk001 .vmwmstock-icon-plans:before {
    content: '\e814';
}

.zkdetalhes-zk001 .vmwmstock-icon-guideline:before {
    content: '\e815';
}

.zkdetalhes-zk001 .vmwmstock-icon-wifi:before {
    content: '\e816';
}

.zkdetalhes-zk001 .vmwmstock-icon-binoculars:before {
    content: '\e817';
}

.zkdetalhes-zk001 .vmwmstock-icon-key:before {
    content: '\e818';
}

.zkdetalhes-zk001 .vmwmstock-icon-fork:before {
    content: '\e819';
}

.zkdetalhes-zk001 .vmwmstock-icon-locations:before {
    content: '\e81a';
}

.zkdetalhes-zk001 .vmwmstock-icon-couples:before {
    content: '\e81b';
}

.zkdetalhes-zk001 .vmwmstock-icon-card:before {
    content: '\e81c';
}

.zkdetalhes-zk001 .vmwmstock-icon-fitnessfacility:before {
    content: '\e81d';
}

.zkdetalhes-zk001 .vmwmstock-icon-flexible:before {
    content: '\e81e';
}

.zkdetalhes-zk001 .vmwmstock-icon-phone:before {
    content: '\e81f';
}

.zkdetalhes-zk001 .vmwmstock-icon-cruise:before {
    content: '\e820';
}

.zkdetalhes-zk001 .vmwmstock-icon-joystick:before {
    content: '\e821';
}

.zkdetalhes-zk001 .vmwmstock-icon-lost-found:before {
    content: '\e822';
}

.zkdetalhes-zk001 .vmwmstock-icon-securevault:before {
    content: '\e823';
}

.zkdetalhes-zk001 .vmwmstock-icon-cruise-1:before {
    content: '\e824';
}

.zkdetalhes-zk001 .vmwmstock-icon-cruise-3:before {
    content: '\e825';
}

.zkdetalhes-zk001 .vmwmstock-icon-anchor:before {
    content: '\e826';
}

.zkdetalhes-zk001 .vmwmstock-icon-cruise-2:before {
    content: '\e827';
}

.zkdetalhes-zk001 .vmwmstock-icon-car-2:before {
    content: '\e828';
}

.zkdetalhes-zk001 .vmwmstock-icon-pickanddrop:before {
    content: '\e829';
}

.zkdetalhes-zk001 .vmwmstock-icon-car:before {
    content: '\e82a';
}

.zkdetalhes-zk001 .vmwmstock-icon-car-1:before {
    content: '\e82b';
}

.zkdetalhes-zk001 .vmwmstock-icon-hotel-2:before {
    content: '\e82c';
}

.zkdetalhes-zk001 .vmwmstock-icon-hotel-1:before {
    content: '\e82d';
}

.zkdetalhes-zk001 .vmwmstock-icon-plane:before {
    content: '\e82e';
}

.zkdetalhes-zk001 .vmwmstock-icon-plane-bottom:before {
    content: '\e82f';
}

.zkdetalhes-zk001 .vmwmstock-icon-plane-left:before {
    content: '\e830';
}

.zkdetalhes-zk001 .vmwmstock-icon-plane-right:before {
    content: '\e831';
}

.zkdetalhes-zk001 .vmwmstock-icon-carryon:before {
    content: '\e832';
}

.zkdetalhes-zk001 .vmwmstock-icon-businessbag:before {
    content: '\e833';
}

.zkdetalhes-zk001 .vmwmstock-icon-baggage:before {
    content: '\e834';
}

.zkdetalhes-zk001 .vmwmstock-icon-bag:before {
    content: '\e835';
}

.zkdetalhes-zk001 .vmwmstock-icon-suitcase:before {
    content: '\e836';
}

.zkdetalhes-zk001 .vmwmstock-icon-hotel-3:before {
    content: '\e837';
}

.zkdetalhes-zk001 .vmwmstock-icon-trunk-2:before {
    content: '\e838';
}

.zkdetalhes-zk001 .vmwmstock-icon-hotel:before {
    content: '\e839';
}

.zkdetalhes-zk001 .vmwmstock-icon-trunk-1:before {
    content: '\e83a';
}

.zkdetalhes-zk001 .vmwmstock-icon-trunk-3:before {
    content: '\e83b';
}

.zkdetalhes-zk001 .vmwmstock-icon-delayed-baggage:before {
    content: '\e83c';
}

.zkdetalhes-zk001 .vmwmstock-icon-damaged-baggage:before {
    content: '\e83d';
}

.zkdetalhes-zk001 .vmwmstock-icon-baggage-3:before {
    content: '\e83e';
}

.zkdetalhes-zk001 .vmwmstock-icon-baggage-2:before {
    content: '\e83f';
}

.zkdetalhes-zk001 .vmwmstock-icon-baggage-1:before {
    content: '\e840';
}

.zkdetalhes-zk001 .vmwmstock-icon-magazine-1:before {
    content: '\e841';
}

.zkdetalhes-zk001 .vmwmstock-icon-baggage-status:before {
    content: '\e842';
}

.zkdetalhes-zk001 .vmwmstock-icon-magazine:before {
    content: '\e843';
}

.zkdetalhes-zk001 .vmwmstock-icon-slider-1:before {
    content: '\e844';
}

.zkdetalhes-zk001 .vmwmstock-icon-slider:before {
    content: '\e845';
}

.zkdetalhes-zk001 .vmwmstock-icon-camera-2:before {
    content: '\e846';
}

.zkdetalhes-zk001 .vmwmstock-icon-photogallery:before {
    content: '\e847';
}

.zkdetalhes-zk001 .vmwmstock-icon-camera-3:before {
    content: '\e848';
}

.zkdetalhes-zk001 .vmwmstock-icon-baggage-4:before {
    content: '\e849';
}

.zkdetalhes-zk001 .vmwmstock-icon-baggage-5:before {
    content: '\e84a';
}

.zkdetalhes-zk001 .vmwmstock-icon-shopping:before {
    content: '\e84b';
}

.zkdetalhes-zk001 .vmwmstock-icon-shopping-1:before {
    content: '\e84c';
}

.zkdetalhes-zk001 .vmwmstock-icon-shopping-2:before {
    content: '\e84d';
}

.zkdetalhes-zk001 .vmwmstock-icon-shopping-3:before {
    content: '\e84e';
}

.zkdetalhes-zk001 .vmwmstock-icon-camera-1:before {
    content: '\e84f';
}

.zkdetalhes-zk001 .vmwmstock-icon-settings-1:before {
    content: '\e850';
}

.zkdetalhes-zk001 .vmwmstock-icon-bad:before {
    content: '\e851';
}

.zkdetalhes-zk001 .vmwmstock-icon-recommend:before {
    content: '\e852';
}

.zkdetalhes-zk001 .vmwmstock-icon-entertainment:before {
    content: '\e853';
}

.zkdetalhes-zk001 .vmwmstock-icon-balloon:before {
    content: '\e854';
}

.zkdetalhes-zk001 .vmwmstock-icon-globe:before {
    content: '\e855';
}

.zkdetalhes-zk001 .vmwmstock-icon-places:before {
    content: '\e856';
}

.zkdetalhes-zk001 .vmwmstock-icon-clock-1:before {
    content: '\e857';
}

.zkdetalhes-zk001 .vmwmstock-icon-clock:before {
    content: '\e858';
}

.zkdetalhes-zk001 .vmwmstock-icon-settings:before {
    content: '\e859';
}

.zkdetalhes-zk001 .vmwmstock-icon-automatic:before {
    content: '\e85a';
}

.zkdetalhes-zk001 .vmwmstock-icon-parking:before {
    content: '\e85b';
}

.zkdetalhes-zk001 .vmwmstock-icon-status:before {
    content: '\e85c';
}

.zkdetalhes-zk001 .vmwmstock-icon-departure:before {
    content: '\e85d';
}

.zkdetalhes-zk001 .vmwmstock-icon-letter:before {
    content: '\e85e';
}

.zkdetalhes-zk001 .vmwmstock-icon-message:before {
    content: '\e85f';
}

.zkdetalhes-zk001 .vmwmstock-icon-search-plus:before {
    content: '\e860';
}

.zkdetalhes-zk001 .vmwmstock-icon-search-minus:before {
    content: '\e861';
}

.zkdetalhes-zk001 .vmwmstock-icon-search:before {
    content: '\e862';
}

.zkdetalhes-zk001 .vmwmstock-icon-restricted:before {
    content: '\e863';
}

.zkdetalhes-zk001 .vmwmstock-icon-calendar:before {
    content: '\e864';
}

.zkdetalhes-zk001 .vmwmstock-icon-stories:before {
    content: '\e865';
}

.zkdetalhes-zk001 .vmwmstock-icon-liability:before {
    content: '\e866';
}

.zkdetalhes-zk001 .vmwmstock-icon-insurance:before {
    content: '\e867';
}

.zkdetalhes-zk001 .vmwmstock-icon-doc-minus:before {
    content: '\e868';
}

.zkdetalhes-zk001 .vmwmstock-icon-availability:before {
    content: '\e869';
}

.zkdetalhes-zk001 .vmwmstock-icon-calendar-1:before {
    content: '\e86a';
}

.zkdetalhes-zk001 .vmwmstock-icon-calendar-check:before {
    content: '\e86b';
}

.zkdetalhes-zk001 .vmwmstock-icon-list:before {
    content: '\e86c';
}

.zkdetalhes-zk001 .vmwmstock-icon-doc-plus:before {
    content: '\e86d';
}

.zkdetalhes-zk001 .vmwmstock-icon-left:before {
    content: '\e86e';
}

.zkdetalhes-zk001 .vmwmstock-icon-right:before {
    content: '\e86f';
}

.zkdetalhes-zk001 .vmwmstock-icon-top:before {
    content: '\e870';
}

.zkdetalhes-zk001 .vmwmstock-icon-grid:before {
    content: '\e871';
}

.zkdetalhes-zk001 .vmwmstock-icon-block:before {
    content: '\e872';
}

.zkdetalhes-zk001 .vmwmstock-icon-star-1:before {
    content: '\e873';
}

.zkdetalhes-zk001 .vmwmstock-icon-letter-1:before {
    content: '\e874';
}

.zkdetalhes-zk001 .vmwmstock-icon-wishlist:before {
    content: '\e875';
}

.zkdetalhes-zk001 .vmwmstock-icon-heart:before {
    content: '\e876';
}

.zkdetalhes-zk001 .vmwmstock-icon-star:before {
    content: '\e877';
}

.zkdetalhes-zk001 .vmwmstock-icon-roundtriangle-right:before {
    content: '\e878';
}

.zkdetalhes-zk001 .vmwmstock-icon-roundtriangle-top:before {
    content: '\e879';
}

.zkdetalhes-zk001 .vmwmstock-icon-roundtriangle-bottom:before {
    content: '\e87a';
}

.zkdetalhes-zk001 .vmwmstock-icon-chevron-left:before {
    content: '\e87b';
}

.zkdetalhes-zk001 .vmwmstock-icon-roundtriangle-left:before {
    content: '\e87c';
}

.zkdetalhes-zk001 .vmwmstock-icon-bottom:before {
    content: '\e87d';
}

.zkdetalhes-zk001 .vmwmstock-icon-arrow-top:before {
    content: '\e87e';
}

.zkdetalhes-zk001 .vmwmstock-icon-arrow-bottom:before {
    content: '\e87f';
}

.zkdetalhes-zk001 .vmwmstock-icon-arrow-right:before {
    content: '\e880';
}

.zkdetalhes-zk001 .vmwmstock-icon-arrow-left:before {
    content: '\e881';
}

.zkdetalhes-zk001 .vmwmstock-icon-longarrow-up:before {
    content: '\e882';
}

.zkdetalhes-zk001 .vmwmstock-icon-longarrow-bottom:before {
    content: '\e883';
}

.zkdetalhes-zk001 .vmwmstock-icon-triangle-left:before {
    content: '\e884';
}

.zkdetalhes-zk001 .vmwmstock-icon-triangle-right:before {
    content: '\e885';
}

.zkdetalhes-zk001 .vmwmstock-icon-triangle-top:before {
    content: '\e886';
}

.zkdetalhes-zk001 .vmwmstock-icon-chevron-right:before {
    content: '\e887';
}

.zkdetalhes-zk001 .vmwmstock-icon-chevron-top:before {
    content: '\e888';
}

.zkdetalhes-zk001 .vmwmstock-icon-chevron-down:before {
    content: '\e889';
}

.zkdetalhes-zk001 .vmwmstock-icon-longarrow-left:before {
    content: '\e88a';
}

.zkdetalhes-zk001 .vmwmstock-icon-longarrow-right:before {
    content: '\e88b';
}

.zkdetalhes-zk001 .vmwmstock-icon-triangle-bottom:before {
    content: '\e88c';
}

.zkdetalhes-zk001 .vmwmstock-icon-plus:before {
    content: '\e88d';
}

.zkdetalhes-zk001 .vmwmstock-icon-minus:before {
    content: '\e88e';
}

.zkdetalhes-zk001 .vmwmstock-icon-ski:before {
    content: '\e88f';
}

.zkdetalhes-zk001 .vmwmstock-icon-close:before {
    content: '\e890';
}

.zkdetalhes-zk001 .vmwmstock-icon-handicapaccessiable:before {
    content: '\e891';
}

.zkdetalhes-zk001 .vmwmstock-icon-check-1:before {
    content: '\e892';
}

.zkdetalhes-zk001 .vmwmstock-icon-passed:before {
    content: '\e893';
}

.zkdetalhes-zk001 .vmwmstock-icon-features:before {
    content: '\e894';
}

.zkdetalhes-zk001 .vmwmstock-icon-passenger:before {
    content: '\e895';
}

.zkdetalhes-zk001 .vmwmstock-icon-adventure:before {
    content: '\e896';
}

.zkdetalhes-zk001 .vmwmstock-icon-man-2:before {
    content: '\e897';
}

.zkdetalhes-zk001 .vmwmstock-icon-dog:before {
    content: '\e898';
}

.zkdetalhes-zk001 .vmwmstock-icon-man-1:before {
    content: '\e899';
}

.zkdetalhes-zk001 .vmwmstock-icon-swimming:before {
    content: '\e89a';
}

.zkdetalhes-zk001 .vmwmstock-icon-man-3:before {
    content: '\e89b';
}

.zkdetalhes-zk001 .vmwmstock-icon-comfort:before {
    content: '\e89c';
}

.zkdetalhes-zk001 .vmwmstock-icon-smoking:before {
    content: '\e89e';
}

.zkdetalhes-zk001 .vmwmstock-icon-playplace:before {
    content: '\e89f';
}

.zkdetalhes-zk001 .vmwmstock-icon-facebook:before {
    content: '\e8a0';
}

.zkdetalhes-zk001 .vmwmstock-icon-googleplus:before {
    content: '\e8a1';
}

.zkdetalhes-zk001 .vmwmstock-icon-pinterest:before {
    content: '\e8a2';
}

.zkdetalhes-zk001 .vmwmstock-icon-vimeo:before {
    content: '\e8a3';
}

.zkdetalhes-zk001 .vmwmstock-icon-doorman:before {
    content: '\e8a4';
}

.zkdetalhes-zk001 .vmwmstock-icon-googleplay:before {
    content: '\e8a5';
}

.zkdetalhes-zk001 .vmwmstock-icon-elevator:before {
    content: '\e8a6';
}

.zkdetalhes-zk001 .vmwmstock-icon-apple:before {
    content: '\e8a7';
}

.zkdetalhes-zk001 .vmwmstock-icon-twitter:before {
    content: '\e8a8';
}

.zkdetalhes-zk001 .vmwmstock-icon-tub:before {
    content: '\e8a9';
}

.zkdetalhes-zk001 .vmwmstock-icon-myspace:before {
    content: '\e8aa';
}

.zkdetalhes-zk001 .vmwmstock-icon-youtube:before {
    content: '\e8ab';
}

.zkdetalhes-zk001 .vmwmstock-icon-tumblr:before {
    content: '\e8ac';
}

.zkdetalhes-zk001 .vmwmstock-icon-flickr:before {
    content: '\e8ad';
}

.zkdetalhes-zk001 .vmwmstock-icon-soundcloud:before {
    content: '\e8ae';
}

.zkdetalhes-zk001 .vmwmstock-icon-stumbleupon:before {
    content: '\e8af';
}

.zkdetalhes-zk001 .vmwmstock-icon-linkedin:before {
    content: '\e8b0';
}

.zkdetalhes-zk001 .vmwmstock-icon-dribble:before {
    content: '\e8b1';
}

.zkdetalhes-zk001 .vmwmstock-icon-deviantart:before {
    content: '\e8b2';
}

.zkdetalhes-zk001 .vmwmstock-icon-behance:before {
    content: '\e8b3';
}

.zkdetalhes-zk001 .vmwmstock-icon-envato:before {
    content: '\e8b4';
}

.zkdetalhes-zk001 .vmwmstock-icon-instagram:before {
    content: '\e8b5';
}

.zkdetalhes-zk001 .vmwmstock-icon-skype:before {
    content: '\e8b6';
}

.zkdetalhes-zk001 .vmwmstock-icon-user:before {
    content: '\e8b7';
}

.zkdetalhes-zk001 .vmwmstock-icon-pets:before {
    content: '\e8b8';
}

.zkdetalhes-zk001 .vmwmstock-icon-family:before {
    content: '\e8b9';
}

.zkdetalhes-zk001 .vmwmstock-icon-check:before {
    content: '\e8ba';
}

.zkdetalhes-zk001 .vmwmstock-icon-notice:before {
    content: '\e8bb';
}

.zkdetalhes-zk001 .vmwmstock-icon-error:before {
    content: '\e8bc';
}

.zkdetalhes-zk001 .vmwmstock-icon-generalmessage:before {
    content: '\e8bd';
}

.zkdetalhes-zk001 .vmwmstock-icon-automatic-transmission:before {
    content: '\e8be';
}

.zkdetalhes-zk001 .vmwmstock-icon-flight-hotel:before {
    content: '\e8bf';
}

.zkdetalhes-zk001 .vmwmstock-icon-comment:before {
    content: '\e8c0';
}

.zkdetalhes-zk001 input.input-text,
.zkdetalhes-zk001 select,
.zkdetalhes-zk001 textarea,
.zkdetalhes-zk001 span.custom-select {
    border: 1px solid #f5f5f5;
    line-height: normal;
}

.zkdetalhes-zk001 input.input-text,
.zkdetalhes-zk001 textarea,
.zkdetalhes-zk001 span.custom-select {
    padding-left: 15px;
    padding-right: 15px;
    height: 34px;
}

.zkdetalhes-zk001 input.input-text.input-large,
.zkdetalhes-zk001 textarea.input-large,
.zkdetalhes-zk001 span.custom-select.input-large {
    height: 43px;
    font-size: 1.1667em;
}

.zkdetalhes-zk001 input.input-text.input-medium,
.zkdetalhes-zk001 textarea.input-medium,
.zkdetalhes-zk001 span.custom-select.input-medium {
    height: 34px;
}

.zkdetalhes-zk001 input.input-text.input-small,
.zkdetalhes-zk001 textarea.input-small,
.zkdetalhes-zk001 span.custom-select.input-small {
    height: 28px;
}

.zkdetalhes-zk001 input.input-text.input-mini,
.zkdetalhes-zk001 textarea.input-mini,
.zkdetalhes-zk001 span.custom-select.input-mini {
    height: 19px;
}

.zkdetalhes-zk001 input.input-text.white,
.zkdetalhes-zk001 textarea.white,
.zkdetalhes-zk001 span.custom-select.white {
    background: #fff;
}

.zkdetalhes-zk001 textarea {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.zkdetalhes-zk001 select {
    height: 34px;
    padding: 8px 0 8px 8px;
}

.zkdetalhes-zk001 select option {
    padding: 2px 10px;
}

.zkdetalhes-zk001 form label {
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 0.9167em;
}

.zkdetalhes-zk001 form .form-group {
    margin-bottom: 15px;
}

.zkdetalhes-zk001 .sidebar form .form-group {
    margin-bottom: 10px;
}

.zkdetalhes-zk001 button,
.zkdetalhes-zk001 input[type="button"].button,
.zkdetalhes-zk001 a.button {
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 15px;
    white-space: nowrap;
}

.zkdetalhes-zk001 button.btn-large,
.zkdetalhes-zk001 input[type="button"].button.btn-large,
.zkdetalhes-zk001 a.button.btn-large {
    padding: 0 32px;
    height: 43px;
    font-size: 1.1667em;
    line-height: 43px;
}

.zkdetalhes-zk001 button.btn-medium,
.zkdetalhes-zk001 input[type="button"].button.btn-medium,
.zkdetalhes-zk001 a.button.btn-medium {
    padding: 0 32px;
    height: 34px;
    line-height: 34px;
    font-size: 1em;
}

.zkdetalhes-zk001 button.btn-small,
.zkdetalhes-zk001 input[type="button"].button.btn-small,
.zkdetalhes-zk001 a.button.btn-small {
    height: 28px;
    padding: 0 24px;
    line-height: 28px;
    font-size: 0.9167em;
}

.zkdetalhes-zk001 button.btn-mini,
.zkdetalhes-zk001 input[type="button"].button.btn-mini,
.zkdetalhes-zk001 a.button.btn-mini {
    height: 19px;
    padding: 0 20px;
    font-size: 0.8333em;
    line-height: 19px;
}

.zkdetalhes-zk001 button.full-width,
.zkdetalhes-zk001 input[type="button"].button.full-width,
.zkdetalhes-zk001 a.button.full-width {
    padding-left: 0;
    padding-right: 0;
}

.zkdetalhes-zk001 button,
.zkdetalhes-zk001 input[type="button"].button {
    font-size: 0.9167em;
    font-weight: bold;
    background: #98ce44;
    height: 34px;
    line-height: 34px;
}

.zkdetalhes-zk001 button:hover,
.zkdetalhes-zk001 input[type="button"].button:hover {
    background: #7fb231;
}

.zkdetalhes-zk001 a.button {
    display: inline-block;
    background: #d9d9d9;
    font-size: 0.8333em;
    line-height: 1.8333em;
    white-space: nowrap;
    text-align: center;
}

.zkdetalhes-zk001 a.button:hover {
    background: #98ce44;
}

.zkdetalhes-zk001 a.button.btn-large,
.zkdetalhes-zk001 a.button.btn-medium,
.zkdetalhes-zk001 a.button.btn-small,
.zkdetalhes-zk001 a.button.full-width {
    font-weight: bold;
}

.zkdetalhes-zk001 .suggestions.image-carousel.style2 .slides>li {
    margin-right: 24px;
}

.zkdetalhes-zk001 .suggestions.image-carousel.style2 .slides>li img {
    width: 100%;
    height: auto;
}

.zkdetalhes-zk001 .suggestions .caption {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0;
}

.zkdetalhes-zk001 .webhub-box {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.zkdetalhes-zk001 .webhub-box>*:last-child {
    margin-bottom: 0;
}

.zkdetalhes-zk001 .webhub-box .title {
    margin-bottom: 5px;
}

.zkdetalhes-zk001 .webhub-box .box-title {
    margin-bottom: 15px;
}

.zkdetalhes-zk001 .webhub-box.box-full {
    padding: 30px;
}

.zkdetalhes-zk001 .webhub-box.search-stories-box button {
    height: 34px;
    padding: 0 10px;
    font-size: 1em;
}

.zkdetalhes-zk001 .webhub-box.twitter-box .twitter-holder>ul li {
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0 15px 40px;
    position: relative;
}

.zkdetalhes-zk001 .webhub-box.twitter-box .twitter-holder>ul li:last-child {
    border: none;
}

.zkdetalhes-zk001 .webhub-box.twitter-box .twitter-holder>ul li:before {
    content: "\f099";
    font-family: FontAwesome;
    display: block;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    border: 1px solid #fdb714;
    color: #fdb714;
    line-height: 32px;
    text-align: center;
    position: absolute;
    left: 0;
    font-size: 16px;
}

.zkdetalhes-zk001 .webhub-box.twitter-box .twitter-holder>ul li .tweet-text a {
    color: #01b7f2;
}

.zkdetalhes-zk001 .webhub-box.twitter-box .twitter-holder>ul li .tweet-text a:hover {
    text-decoration: underline;
}

.zkdetalhes-zk001 .webhub-box.contact-box .contact-details {
    margin: 0;
}

.zkdetalhes-zk001 .webhub-box.contact-box .contact-details .contact-phone {
    color: #01b7f2;
}

.zkdetalhes-zk001 .webhub-box.contact-box .contact-details .contact-phone>i {
    color: #fdb714;
}

.zkdetalhes-zk001 .webhub-box.contact-box .contact-details .contact-email {
    color: inherit;
}

.zkdetalhes-zk001 .webhub-box.proposal-box i {
    font-size: 16px;
}

.zkdetalhes-zk001 .webhub-box.book-with-us-box li,
.zkdetalhes-zk001 .webhub-box.contact-us-box .contact-address li {
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 0 10px 40px;
    position: relative;
}

.zkdetalhes-zk001 .webhub-box.book-with-us-box li>i,
.zkdetalhes-zk001 .webhub-box.contact-us-box .contact-address li>i {
    position: absolute;
    font-size: 1.5em;
    color: #fdb714;
    left: 0;
    top: 12px;
}

.zkdetalhes-zk001 .webhub-box.book-with-us-box li:last-child,
.zkdetalhes-zk001 .webhub-box.contact-us-box .contact-address li:last-child {
    border-bottom-width: 0;
    padding-bottom: 0;
}

.zkdetalhes-zk001 .webhub-box.book-with-us-box li .title,
.zkdetalhes-zk001 .webhub-box.contact-us-box .contact-address li .title {
    color: #01b7f2;
}

.zkdetalhes-zk001 .webhub-box.book-with-us-box li:after,
.zkdetalhes-zk001 .webhub-box.contact-us-box .contact-address li:after {
    display: table;
    clear: both;
    content: "";
}

.zkdetalhes-zk001 .webhub-box.book-with-us-box li>*:last-child,
.zkdetalhes-zk001 .webhub-box.contact-us-box .contact-address li>*:last-child {
    margin-bottom: 0;
}

.zkdetalhes-zk001 .webhub-box.contact-us-box .title {
    color: #2d3e52;
}

.zkdetalhes-zk001 .webhub-box.contact-us-box .contact-address {
    margin-bottom: 25px;
}

.zkdetalhes-zk001 .webhub-box.contact-us-box .contact-address li {
    padding-left: 50px;
}

.zkdetalhes-zk001 .webhub-box.contact-us-box .contact-address li p {
    font-size: 0.8333em;
    text-transform: uppercase;
    margin-bottom: 0;
}

.zkdetalhes-zk001 .webhub-box.contact-us-box .contact-address li:last-child {
    border-bottom-width: 1px;
    padding-bottom: 10px;
}

.zkdetalhes-zk001 .webhub-box.contact-us-box .social-icons a {
    overflow: hidden;
}

.zkdetalhes-zk001 .webhub-box.contact-us-box .social-icons a:hover i:before {
    -webkit-animation: toBottomFromTop 0.4s forwards;
    -moz-animation: toBottomFromTop 0.4s forwards;
    animation: toBottomFromTop 0.4s forwards;
}

.zkdetalhes-zk001 .webhub-box.newsletter-box {
    padding: 20px 30px;
}

.zkdetalhes-zk001 .webhub-box.newsletter-box button {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.zkdetalhes-zk001 .webhub-box.newsletter-box .row>div {
    margin-bottom: 0 !important;
}

.zkdetalhes-zk001 .webhub-box.re-search-box label {
    font-size: 0.8333em;
    text-transform: uppercase;
    margin: 5px 0 0 0;
}

.zkdetalhes-zk001 .webhub-box.re-search-box button {
    text-transform: uppercase;
}

.zkdetalhes-zk001 .webhub-box.about-webhub-box .title {
    color: #01b7f2;
}

.zkdetalhes-zk001 .webhub-box.guarantee-box {
    text-align: center;
}

.zkdetalhes-zk001 .webhub-box.guarantee-box .guarantee-image {
    display: block;
    margin: 0 auto 15px;
}

.zkdetalhes-zk001 .webhub-box.insurance-benefits ul {
    font-size: 0.9167em;
}

.zkdetalhes-zk001 .webhub-box.insurance-benefits ul li {
    line-height: 3.6667em;
    border-bottom: 1px solid #f5f5f5;
    text-transform: uppercase;
}

.zkdetalhes-zk001 .webhub-box.insurance-benefits ul li:before {
    color: #d9d9d9;
}

.zkdetalhes-zk001 .webhub-box.insurance-benefits ul li.active:before,
.zkdetalhes-zk001 .webhub-box.insurance-benefits ul.hover li:hover:before {
    color: #fdb714;
}

.zkdetalhes-zk001 .contact-details {
    font-style: normal;
}

.zkdetalhes-zk001 .contact-details .contact-phone {
    color: #2d3e52;
    font-size: 1.6667em;
}

.zkdetalhes-zk001 .contact-details .contact-phone i {
    color: #01b7f2;
}

.zkdetalhes-zk001 .contact-details .contact-email {
    color: #01b7f2;
    font-size: 1.1667em;
    padding: 0 24px;
    line-height: 2em;
}

.zkdetalhes-zk001 .flexslider .slides>li {
    display: none;
}

.zkdetalhes-zk001 .photo-gallery:not(.flex-direction-style) .flex-direction-nav,
.zkdetalhes-zk001 .image-carousel.style2 .flex-direction-nav {
    position: absolute;
    right: 0;
    top: -40px;
    width: 72px;
    height: 22px;
}

.zkdetalhes-zk001 .photo-gallery:not(.flex-direction-style) .flex-direction-nav li a,
.zkdetalhes-zk001 .image-carousel.style2 .flex-direction-nav li a {
    width: 30px;
    height: 22px;
    color: #01b7f2;
    text-indent: -9999px;
    text-align: left;
    position: static;
    float: left;
    margin: 0;
    filter: alpha(opacity=100) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    -moz-opacity: 1 !important;
    -khtml-opacity: 1 !important;
    opacity: 1 !important;
    -moz-transition: none 1s ease-in-out;
    -o-transition: none 1s ease-in-out;
    -webkit-transition: none 1s ease-in-out;
    -ms-transition: none 1s ease-in-out;
    transition: none 1s ease-in-out;
}

.zkdetalhes-zk001 .photo-gallery:not(.flex-direction-style) .flex-direction-nav li a:before,
.zkdetalhes-zk001 .image-carousel.style2 .flex-direction-nav li a:before {
    position: absolute;
    display: block;
    font-family: FontAwesome;
    text-indent: 0;
    font-size: 12px;
    line-height: 22px;
}

.zkdetalhes-zk001 .photo-gallery:not(.flex-direction-style) .flex-direction-nav li a.flex-prev,
.zkdetalhes-zk001 .image-carousel.style2 .flex-direction-nav li a.flex-prev {
    margin-right: 10px;
}

.zkdetalhes-zk001 .photo-gallery:not(.flex-direction-style) .flex-direction-nav li a.flex-prev:before,
.zkdetalhes-zk001 .image-carousel.style2 .flex-direction-nav li a.flex-prev:before {
    content: "\f053";
    left: 8px;
}

.zkdetalhes-zk001 .photo-gallery:not(.flex-direction-style) .flex-direction-nav li a.flex-next:before,
.zkdetalhes-zk001 .image-carousel.style2 .flex-direction-nav li a.flex-next:before {
    content: "\f054";
    right: 9px;
}

.zkdetalhes-zk001 .photo-gallery:not(.flex-direction-style) .flex-direction-nav li a.flex-disabled,
.zkdetalhes-zk001 .image-carousel.style2 .flex-direction-nav li a.flex-disabled {
    background: #d9d9d9;
}

.zkdetalhes-zk001 .photo-gallery.flex-direction-style .flex-direction-nav a:before {
    line-height: 1em;
}

.zkdetalhes-zk001 .photo-gallery.flex-direction-style .flex-direction-nav a:hover,
.zkdetalhes-zk001 .photo-gallery.flex-direction-style .flex-direction-nav a:focus {
    color: rgba(0, 0, 0, 0.8);
}

.zkdetalhes-zk001 .photo-gallery.flex-direction-style .flex-direction-nav {
    display: block !important;
}

.zkdetalhes-zk001 .webhub-box>.image-carousel.style2 .flex-direction-nav {
    top: -60px;
}

.zkdetalhes-zk001 .photo-gallery {
    background: #fff;
    box-shadow: none;
    border: none;
    margin: 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

.zkdetalhes-zk001 .photo-gallery img {
    width: 100%;
}

.zkdetalhes-zk001 .photo-gallery .slides>li {
    display: none;
    overflow: hidden;
    position: relative;
}

.zkdetalhes-zk001 .photo-gallery .flex-control-nav {
    width: auto;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.zkdetalhes-zk001 .photo-gallery .flex-control-nav>li {
    float: left;
    margin-left: 5px;
    margin-right: 0;
}

.zkdetalhes-zk001 .photo-gallery .flex-control-nav>li a {
    background: none;
    display: block;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    border: 1px solid #fff;
    text-indent: -9999px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
}

.zkdetalhes-zk001 .photo-gallery .flex-control-nav>li a.flex-active {
    background: #fdb714;
    border-color: #fdb714;
}

.zkdetalhes-zk001 .photo-gallery.style1 .flex-control-nav {
    display: none;
}

.zkdetalhes-zk001 .photo-gallery.style1 .flex-direction-nav {
    display: none;
}

.zkdetalhes-zk001 .photo-gallery.style3 .flex-control-nav {
    display: none;
}

.zkdetalhes-zk001 .photo-gallery.style3 .flex-direction-nav {
    right: 10px;
    bottom: 10px;
    top: auto;
}

.zkdetalhes-zk001 .photo-gallery.style4 .flex-control-nav {
    right: 25px;
    bottom: 25px;
    top: auto;
}

.zkdetalhes-zk001 .photo-gallery.style4 .flex-direction-nav {
    display: none;
}

.zkdetalhes-zk001 .image-carousel {
    position: relative;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    background: none;
}

.zkdetalhes-zk001 .image-carousel .slides>li {
    display: none;
}

.zkdetalhes-zk001 .image-carousel img {
    max-width: 100%;
}

.zkdetalhes-zk001 .image-carousel.style1 {
    padding: 10px 45px;
    background: #fff;
}

.zkdetalhes-zk001 .image-carousel.style1 .slides>li {
    margin-right: 10px;
    height: 70px;
    cursor: pointer;
    overflow: hidden;
}

.zkdetalhes-zk001 .image-carousel.style1 .slides>li:last-child {
    margin-right: 0;
}

.zkdetalhes-zk001 .image-carousel.style1 .slides>li img {
    height: 100%;
    width: auto;
    max-width: none;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.zkdetalhes-zk001 .image-carousel.style1 .slides>li.flex-active-slide img,
.zkdetalhes-zk001 .image-carousel.style1 .slides>li:hover img {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.zkdetalhes-zk001 .image-carousel.style1 .flex-control-nav {
    display: none;
}

.zkdetalhes-zk001 .image-carousel.style1 .flex-direction-nav {
    position: static;
    width: 0;
    height: 0;
}

.zkdetalhes-zk001 .image-carousel.style1 .flex-direction-nav li a {
    background: rgb(168, 167, 167);
    float: none;
    width: 25px;
    height: auto;
    position: absolute;
    top: 10px;
    bottom: 10px;
    margin: 0;
    filter: alpha(opacity=100) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    -moz-opacity: 1 !important;
    -khtml-opacity: 1 !important;
    opacity: 1 !important;
    text-indent: -9999px;
    text-align: left;
    color: #fff;
    -moz-transition: background 0.2s ease-in;
    -o-transition: background 0.2s ease-in;
    -webkit-transition: background 0.2s ease-in;
    -ms-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
}

.zkdetalhes-zk001 .image-carousel.style1 .flex-direction-nav li a:hover {
    background: #01b7f2;
}

.zkdetalhes-zk001 .image-carousel.style1 .flex-direction-nav li a:before {
    display: block;
    position: absolute;
    left: 9px;
    top: 50%;
    margin-top: -6px;
    text-indent: 0;
    font-family: FontAwesome;
    font-size: 12px;
    line-height: 1;
    text-shadow: none;
}

.zkdetalhes-zk001 .image-carousel.style1 .flex-direction-nav li a.flex-prev {
    left: 10px;
}

.zkdetalhes-zk001 .image-carousel.style1 .flex-direction-nav li a.flex-prev:before {
    content: "\f053";
}

.zkdetalhes-zk001 .image-carousel.style1 .flex-direction-nav li a.flex-next {
    right: 10px;
}

.zkdetalhes-zk001 .image-carousel.style1 .flex-direction-nav li a.flex-next:before {
    content: "\f054";
}

.zkdetalhes-zk001 .image-carousel.style1 .flex-direction-nav li a.flex-disabled {
    background: #f5f5f5;
    color: #9e9e9e;
}

.zkdetalhes-zk001 .search-box-wrapper {
    background: #f3f4f6;
}

.zkdetalhes-zk001 .search-box {
    margin-top: -80px;
    position: relative;
    z-index: 99;
}

.zkdetalhes-zk001 ul.search-tabs {
    margin: 0;
    padding: 0;
}

.zkdetalhes-zk001 ul.search-tabs li {
    float: left;
    padding-right: 4px;
}

.zkdetalhes-zk001 ul.search-tabs li a {
    color: #333;
    display: block;
    padding: 0 30px;
    background: #ffffff;
    font-size: 1em;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.zkdetalhes-zk001 ul.search-tabs li a:hover {
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.zkdetalhes-zk001 ul.search-tabs li.active a {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    color: #545252;
}

.zkdetalhes-zk001 .visible-mobile .search-tabs li {
    float: none;
}

.zkdetalhes-zk001 .visible-mobile .search-tabs li a {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    padding: 0 80px;
    text-align: center;
}

.zkdetalhes-zk001 .visible-mobile .search-tabs li a:hover {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.zkdetalhes-zk001 .search-tab-content {
    padding: 30px 0;
}

.zkdetalhes-zk001 .search-tab-content .tab-pane {
    display: none;
}

.zkdetalhes-zk001 .search-tab-content .tab-pane.active {
    display: block;
}

.zkdetalhes-zk001 .search-tab-content h4.title {
    margin: 10px 0;
    height: 20px;
}

.zkdetalhes-zk001 .search-tab-content .fixheight {
    padding-top: 40px;
}

.zkdetalhes-zk001 .search-box #mobile-search-tabs>li {
    display: none;
}

.zkdetalhes-zk001 .search-box .bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
    left: 0;
}

.zkdetalhes-zk001 .search-box .bx-wrapper .bx-prev,
.zkdetalhes-zk001 .search-box .bx-wrapper .bx-next {
    background: #fbfbfb;
    font-family: FontAwesome;
}

.zkdetalhes-zk001 .search-box .bx-wrapper .bx-controls-direction a {
    width: 30px;
    height: 22px;
    margin-top: -11px;
}

.zkdetalhes-zk001 .search-box .bx-wrapper .bx-controls-direction a.disabled {
    display: block;
    background: #d9d9d9;
}

.zkdetalhes-zk001 .search-box .bx-wrapper .bx-prev:before,
.zkdetalhes-zk001 .search-box .bx-wrapper .bx-next:before {
    display: block;
    position: absolute;
    text-indent: 0;
    line-height: 20px;
    text-align: center;
    width: 30px;
    color: #fdb714;
}

.zkdetalhes-zk001 .search-box .bx-wrapper .bx-prev:before:hover,
.zkdetalhes-zk001 .search-box .bx-wrapper .bx-next:before:hover {
    color: white;
}

.zkdetalhes-zk001 .search-box .bx-wrapper .bx-prev:before {
    content: "\f053";
}

.zkdetalhes-zk001 .search-box .bx-wrapper .bx-next:before {
    content: "\f054";
}

.zkdetalhes-zk001 .search-box-wrapper.style1 {
    background: none;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-box {
    margin: 0;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-box>ul.search-tabs {
    margin-top: 80px;
    float: left;
    width: 31%;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-box>ul.search-tabs li {
    float: none;
    margin-right: 0;
    padding-right: 0;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-box>ul.search-tabs li>a {
    filter: alpha(opacity=65);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    -moz-opacity: 0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    height: 57px;
    line-height: 57px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    position: relative;
    padding-left: 50px;
    overflow: hidden;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-box>ul.search-tabs li>a:hover {
    filter: alpha(opacity=85);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-box>ul.search-tabs li>a:hover i {
    -webkit-animation: toTopFromBottom 0.3s forwards;
    -moz-animation: toTopFromBottom 0.3s forwards;
    animation: toTopFromBottom 0.3s forwards;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-box>ul.search-tabs li>a>i {
    position: absolute;
    left: 15px;
    font-size: 24px;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-box>ul.search-tabs li.active>a {
    border-right-color: #fff;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-box>ul.search-tabs li.active>a>i {
    color: #fdb714;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-box>ul.search-tabs li.active>a:after {
    content: "\e88b";
    font-family: "vmwmstock-icons";
    position: absolute;
    right: 15px;
    color: #666;
    font-size: 20px;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-box>ul.search-tabs li:last-child>a {
    border-bottom: none;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-tab-content {
    background: #fff;
    float: left;
    width: 69%;
    padding: 0;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-tab-content .title-container {
    background: #fdb714;
    padding: 15px 40px 0 25px;
    height: 80px;
    position: relative;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-tab-content .title-container>i {
    font-size: 48px;
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -24px;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-tab-content .title-container * {
    color: #fff;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-tab-content .title-container .search-title {
    margin: 0;
    font-weight: bold;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-tab-content .search-content {
    padding: 18px 25px 25px;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-tab-content .search-content .choose-travel label.radio {
    color: #2d3e52;
    font-size: inherit;
}

.zkdetalhes-zk001 .search-box-wrapper.style1 .search-tab-content .search-content .choose-travel>div {
    margin-bottom: 0;
}

.zkdetalhes-zk001 .slide-internal {
    /*background: url(../images/zerokm.jpg) no-repeat center center;*/
    background: #f3f4f7;
    min-height: 100vh;
}

@media (min-width: 992px) {
    .zkdetalhes-zk001 .visible-mobile {
        display: none !important;
    }
}


/*. Styles for devices(<=991px ) */

@media (max-width: 991px) {
    .zkdetalhes-zk001 .search-tabs {
        display: none !important;
    }
    .zkdetalhes-zk001 .visible-mobile .search-tabs {
        display: block !important;
    }
    .zkdetalhes-zk001 .search-box .search-tab-content {
        float: none !important;
        width: auto !important;
    }
}


/*
=======================================================================
  Details 0KM Intitucional;
=======================================================================
*/

.zkdetalhes-zk001 .colors-features span {
    font-size: 13px;
}

.zkdetalhes-zk001 ul.list-colors {
    margin-top: 5px;
}

.zkdetalhes-zk001 .colors-features .list-colors li {
    display:inline-block;
}
.zkdetalhes-zk001 .colors-features .list-colors li img {
    width:50px;
    height:50px;
}

.zkdetalhes-zk001 .colors-features .list-colors li.white {
    background-color: #FFF;
}

.zkdetalhes-zk001 .colors-features .list-colors li.black {
    background-color: #000;
}

.zkdetalhes-zk001 .colors-features .list-colors li.grey {
    background-color: #ddd;
}

.zkdetalhes-zk001 .colors-features .list-colors li.grafite {
    background-color: #777;
}

.zkdetalhes-zk001 .colors-features .list-colors li.red {
    background-color: #ed3424;
}

.zkdetalhes-zk001 .colors-features .list-colors li.blue {
    background-color: #337ab7;
}

.zkdetalhes-zk001 .colors-features .list-colors li.green {
    background-color: #3c763d;
}

.zkdetalhes-zk001 .colors-features .list-colors li.yellow {
    background-color: #fdb714;
}

.zkdetalhes-zk001 .colors-features .list-colors li.orange {
    background-color: #fd7514;
}

.zkdetalhes-zk001 .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    border: 10px solid #f5f5f5;
}

.zkdetalhes-zk001 .video-container iframe,
.zkdetalhes-zk001 .video-container object,
.zkdetalhes-zk001 .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.zkdetalhes-zk001 .title-border {
    border-left: 5px solid #98ce44;
}

.zkdetalhes-zk001 .title-zerokm {
    padding: 20px;
}

.zkdetalhes-zk001 .title-zerokm .header {
    border-bottom: 1px solid #f5f5f5;
}

.zkdetalhes-zk001 .title-zerokm .header>i {
    float: left;
    font-size: 16px;
    margin: 3px 8px 0 0;
}

.zkdetalhes-zk001 .title-zerokm .header .box-title {
    float: left;
    line-height: 1.3333em;
    margin-bottom: 20px;
}

.zkdetalhes-zk001 .title-zerokm .header .box-title small {
    text-transform: uppercase;
    display: block;
    font-size: 0.6em;
}

.zkdetalhes-zk001 .title-zerokm .description {
    margin: 15px 0;
}

.zkdetalhes-zk001 .table-scroll {
    height: 500px;
    overflow: auto;
}

.zkdetalhes-zk001 .bx-wrapper {
    margin-bottom: 0px;
    margin-top: 10px;
}

.zkdetalhes-zk001 .ficha-tecnica {
    margin-top: 20px;
}

.zkdetalhes-zk001 .ficha-tecnica .nav-tabs>li>a {
    border-top: 2px solid #999;
    border-radius: 0;
    background: #f5f5f5;
}

.zkdetalhes-zk001 .ficha-tecnica .nav-tabs {
    border-bottom: 1px solid #ddd;
}

.zkdetalhes-zk001 .ficha-tecnica .nav-tabs:hover {
    border-bottom: none;
}

.zkdetalhes-zk001 .image-carousel.style1 * {
    padding: 0;
}