.zkmarcas-zk001 .gray-area {
    background: #f5f5f5;
}

.zkmarcas-zk001 .image-box .box,
.zkmarcas-zk001 .image-box.box {
    text-align: left;
    background: #fff;
    margin-bottom: 30px;
}

.zkmarcas-zk001 .image-box .box img,
.zkmarcas-zk001 .image-box.box img {
    width: 100%;
    height: auto;
}

.zkmarcas-zk001 .image-box .box>.details,
.zkmarcas-zk001 .image-box.box>.details {
    padding: 12px 15px;
}

.zkmarcas-zk001 .image-box .box>.details>*:last-child,
.zkmarcas-zk001 .image-box.box>.details>*:last-child {
    margin-bottom: 0;
}

.zkmarcas-zk001 .image-box .box .box-title,
.zkmarcas-zk001 .image-box.box .box-title {
    margin-bottom: 10px;
    color: #2d3e52;
}

.zkmarcas-zk001 .image-box.style3 .details {
    padding: 15px;
}

.zkmarcas-zk001 .image-box.style3 .details .box-title {
    margin-bottom: 0;
}

.zkmarcas-zk001 .image-box.style3 .details .offers-content {
    font-size: 0.8333em;
    text-transform: uppercase;
    margin-bottom: 0;
}

.zkmarcas-zk001 .image-box.style3 .details .description {
    border-top: 1px solid #f5f5f5;
    padding-top: 10px;
}

.zkmarcas-zk001 .listing-style3 .box,
.zkmarcas-zk001 .listing-style3.box {
    background: #fff;
    margin-bottom: 30px;
}

.zkmarcas-zk001 .listing-style3 .box>*,
.zkmarcas-zk001 .listing-style3.box>* {
    padding: 0;
}

.zkmarcas-zk001 .listing-style3 .box:after,
.zkmarcas-zk001 .listing-style3.box:after {
    display: table;
    clear: both;
    content: "";
}

.zkmarcas-zk001 .listing-style3 .review {
    display: block;
    text-transform: uppercase;
    font-size: 0.8333em;
    color: #9e9e9e;
}

.zkmarcas-zk001 .listing-style3 .five-stars-container,
.zkmarcas-zk001 .listing-style3 .review {
    line-height: 1em;
}

.zkmarcas-zk001 .listing-style3 .five-stars-container {
    color: #dbdbdb;
}

.zkmarcas-zk001 .listing-style3 [class^="soap-icon"].circle {
    color: #d9d9d9;
    cursor: default;
    font-size: 16px;
    overflow: hidden;
}

.zkmarcas-zk001 .listing-style3 [class^="soap-icon"].circle:hover {
    color: #01b7f2;
}

.zkmarcas-zk001 .listing-style3 [class^="soap-icon"].circle:hover:before {
    -webkit-animation: toTopFromBottom 0.35s forwards;
    -moz-animation: toTopFromBottom 0.35s forwards;
    animation: toTopFromBottom 0.35s forwards;
}

.zkmarcas-zk001 .listing-style3 .price {
    float: none;
    text-align: center;
}

.zkmarcas-zk001 .listing-style3.hotel figure img {
    width: 100%;
    height: auto;
}

.zkmarcas-zk001 .listing-style3.hotel .box-title {
    margin: 0;
    float: left;
}

.zkmarcas-zk001 .listing-style3.hotel .box-title i {
    font-size: 15px;
}

.zkmarcas-zk001 .listing-style3.hotel .amenities {
    float: right;
}

.zkmarcas-zk001 .listing-style3.hotel .details {
    padding: 15px 0 15px 20px;
    display: table;
}

.zkmarcas-zk001 .listing-style3.hotel .details [class^="soap-icon"].circle {
    margin-right: 5px;
    margin-top: 5px;
}

.zkmarcas-zk001 .listing-style3.hotel .details>* {
    display: table-row;
}

.zkmarcas-zk001 .listing-style3.hotel .details>*>* {
    display: table-cell;
    padding: 10px 15px 0;
    text-align: center;
    vertical-align: middle;
}

.zkmarcas-zk001 .listing-style3.hotel .details>*>*:first-child {
    border-right: 1px solid #f5f5f5;
    padding-left: 0;
    padding-right: 15px;
    text-align: left;
}

.zkmarcas-zk001 .listing-style3.hotel .details>*>*:last-child {
    width: 120px;
}

.zkmarcas-zk001 .listing-style3.hotel .details>*:first-child>* {
    border-bottom: 1px solid #f5f5f5;
    padding-top: 0;
    padding-bottom: 10px;
}

.zkmarcas-zk001 .listing-style3.hotel .details .button {
    margin-top: 8px;
}

.zkmarcas-zk001 .listing-style3.flight .box,
.zkmarcas-zk001 .listing-style3.flight.box {
    padding: 15px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.zkmarcas-zk001 .listing-style3.flight figure {
    display: table-cell;
    background: #f5f5f5;
    vertical-align: middle;
    float: none;
}

.zkmarcas-zk001 .listing-style3.flight figure span {
    text-align: center;
    display: block;
}

.zkmarcas-zk001 .listing-style3.flight figure span img {
    max-width: 60px;
    height: auto;
}

.zkmarcas-zk001 .listing-style3.flight .box-title {
    float: left;
}

.zkmarcas-zk001 .listing-style3.flight .stop:hover {
    background: #fdb714;
}

.zkmarcas-zk001 .listing-style3.flight .amenities {
    margin-bottom: 10px;
    float: right;
}

.zkmarcas-zk001 .listing-style3.flight .details {
    display: table-cell;
    padding-left: 15px;
    float: none;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper {
    display: table;
    width: 100%;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper>* {
    display: table-row;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper>*>* {
    display: table-cell;
    padding: 15px 15px 0 15px;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper>*>*:first-child {
    border-right: 1px solid #f5f5f5;
    padding-left: 0;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper>*>*:last-child {
    text-align: center;
    padding-right: 0;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper>*:first-child>* {
    border-bottom: 1px solid #f5f5f5;
    padding-top: 0;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper .box-title {
    margin: 0 10px 15px 0;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper [class^="soap-icon"].circle {
    margin-right: 5px;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper [class^="col-"],
.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper [class*=" col-"] {
    padding: 0;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper .time>div {
    border-right: 1px solid #f5f5f5;
    padding-left: 15px;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper .time>div:last-child {
    border-right: none;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper .time>div:first-child {
    padding-left: 0;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper .time>div>div {
    padding-left: 25px;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper .time .icon {
    float: left;
    padding: 0;
    font-size: 16px;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper .time {
    letter-spacing: 0.04em;
}

.zkmarcas-zk001 .listing-style3.flight .details .details-wrapper .action {
    vertical-align: top;
}

.zkmarcas-zk001 .listing-style3.car .box,
.zkmarcas-zk001 .listing-style3.car.box {
    display: table;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    table-layout: fixed;
}

.zkmarcas-zk001 .listing-style3.car figure {
    display: table-cell;
    vertical-align: middle;
    float: none;
    text-align: center;
    border-right: 1px solid #f5f5f5;
}

.zkmarcas-zk001 .listing-style3.car figure img {
    max-width: 80%;
    height: auto;
}

.zkmarcas-zk001 .listing-style3.car .details {
    display: table-cell;
    float: none;
}

.zkmarcas-zk001 .listing-style3.car .details .box-title {
    float: left;
}

.zkmarcas-zk001 .listing-style3.car .details .logo {
    margin: 3px 0 0 8px;
    float: left;
    border-left: 1px solid #e1e1e1;
    padding-left: 8px;
}

.zkmarcas-zk001 .listing-style3.car .details .logo img {
    max-height: 20px;
    width: auto;
}

.zkmarcas-zk001 .listing-style3.car .details .amenities {
    margin-top: 20px;
}

.zkmarcas-zk001 .listing-style3.car .details .search-engine {
    margin-top: 20px;
}

.zkmarcas-zk001 .listing-style3.car .details .character {
    text-align: right;
    text-transform: uppercase;
    font-size: 0.8333em;
    border-right: 1px solid #f5f5f5;
}

.zkmarcas-zk001 .listing-style3.car .details .character dd {
    margin-bottom: 5px;
}

.zkmarcas-zk001 .listing-style3.car .details .character dl {
    margin-bottom: 0;
}

.zkmarcas-zk001 .listing-style3.car .details .action {
    text-align: center;
    text-transform: uppercase;
}

.zkmarcas-zk001 .listing-style3.car .details .action .button {
    margin-top: 30px;
}

.zkmarcas-zk001 .listing-style3.cruise figure img {
    width: 100%;
    height: auto;
}

.zkmarcas-zk001 .listing-style3.cruise .details {
    padding: 15px 20px;
    text-transform: uppercase;
}

.zkmarcas-zk001 .listing-style3.cruise .details img {
    max-width: 100%;
    height: auto;
}

.zkmarcas-zk001 .listing-style3.cruise .details .box-title {
    text-transform: none;
    margin-bottom: 10px;
}

.zkmarcas-zk001 .listing-style3.cruise .details .character {
    font-size: 0.8333em;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 15px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.zkmarcas-zk001 .listing-style3.cruise .details .character>div {
    display: table-cell;
    float: none;
    vertical-align: middle;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    border-left: 1px solid #f5f5f5;
}

.zkmarcas-zk001 .listing-style3.cruise .details .character>div:first-child {
    border: none;
    padding-left: 0;
}

.zkmarcas-zk001 .listing-style3.cruise .details .character>div:last-child {
    padding-right: 0;
}

.zkmarcas-zk001 .listing-style3.cruise .details .character [class^="soap-icon"] {
    font-size: 18px;
    float: left;
}

.zkmarcas-zk001 .listing-style3.cruise .details .character .cruise-logo {
    padding: 0;
    text-align: left;
}

.zkmarcas-zk001 .listing-style3.cruise .details .character .cruise-logo img {
    max-width: 90%;
    width: auto;
    height: auto;
}

.zkmarcas-zk001 .listing-style3.cruise .details .character .date>div,
.zkmarcas-zk001 .listing-style3.cruise .details .character .departure>div {
    padding-left: 20px;
    line-height: 1.1667em;
}

.zkmarcas-zk001 .listing-style3.cruise .details .review {
    line-height: 1.6667em;
}

.zkmarcas-zk001 .listing-style3.cruise .details .review .five-stars-container {
    float: left;
    margin-right: 10px;
}

.zkmarcas-zk001 .listing-style3.cruise .details .review span {
    display: block;
    float: left;
}

.zkmarcas-zk001 button,
.zkmarcas-zk001 input[type="button"].button,
.zkmarcas-zk001 a.button {
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 15px;
    white-space: nowrap;
    text-decoration: none;
}

.zkmarcas-zk001 button.btn-large,
.zkmarcas-zk001 input[type="button"].button.btn-large,
.zkmarcas-zk001 a.button.btn-large {
    padding: 0 32px;
    height: 43px;
    font-size: 1.1667em;
    line-height: 43px;
}

.zkmarcas-zk001 button.btn-medium,
.zkmarcas-zk001 input[type="button"].button.btn-medium,
.zkmarcas-zk001 a.button.btn-medium {
    padding: 0 32px;
    height: 34px;
    line-height: 34px;
    font-size: 1em;
}

.zkmarcas-zk001 button.btn-small,
.zkmarcas-zk001 input[type="button"].button.btn-small,
.zkmarcas-zk001 a.button.btn-small {
    height: 28px;
    padding: 0 24px;
    line-height: 28px;
    font-size: 0.9167em;
}

.zkmarcas-zk001 button.btn-mini,
.zkmarcas-zk001 input[type="button"].button.btn-mini,
.zkmarcas-zk001 a.button.btn-mini {
    height: 19px;
    padding: 0 20px;
    font-size: 0.8333em;
    line-height: 19px;
}

.zkmarcas-zk001 button.full-width,
.zkmarcas-zk001 input[type="button"].button.full-width,
.zkmarcas-zk001 a.button.full-width {
    padding-left: 0;
    padding-right: 0;
}

.zkmarcas-zk001 button,
.zkmarcas-zk001 input[type="button"].button {
    font-size: 0.9167em;
    font-weight: bold;
    background: #98ce44;
    height: 34px;
    line-height: 34px;
}

.zkmarcas-zk001 button:hover,
.zkmarcas-zk001 input[type="button"].button:hover {
    background: #7fb231;
}

.zkmarcas-zk001 a.button {
    display: inline-block;
    background: #d9d9d9;
    font-size: 0.8333em;
    line-height: 1.8333em;
    white-space: nowrap;
    text-align: center;
}

.zkmarcas-zk001 a.button:hover {
    background: #98ce44;
}

.zkmarcas-zk001 a.button.btn-mini {
    padding-left: 10px;
    padding-right: 10px;
}

.zkmarcas-zk001 a.button.btn-large,
.zkmarcas-zk001 a.button.btn-medium,
.zkmarcas-zk001 a.button.btn-small,
.zkmarcas-zk001 a.button.full-width {
    font-weight: bold;
}