.x_component_brands_cod_145 .brands-module-title {
    color: #969696;
    font-size: 46px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 20px;
    color: #333333;
    text-rendering: optimizelegibility;
}

.x_component_brands_cod_145 .brands-module-sub-title {

    font-size: 56px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 71px;
    text-align: center;
}

.x_component_brands_cod_145 .brands-module-sub-title .sub-title-other-style {
    display: inline;
    color: #39CAFA;
    font-size: 56px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 71px;
    text-align: center;
}

.x_component_brands_cod_145 .item-img {
    position: relative;
    padding: 10px;
}

.x_component_brands_cod_145 .item-img:hover {
    filter: opacity(60%);
}

@media screen and (max-width: 1024px) {
    .x_component_brands_cod_145 .brands-module-title {
        font-size: 46px;
        font-weight: 300;
        line-height: 56px;
    }
    .brands-module-sub-title {
        font-size: 56px;
        font-weight: 900;
        line-height: 60px;
    }
    .brands-module-sub-title .sub-title-other-style {
        font-size: 56px;
        font-weight: 900;
        line-height: 60px;
    }
}

@media screen and (max-width: 768px) {
    .x_component_brands_cod_145 .brands-module-title {
        font-size: 30px;
        line-height: 40px;
    }
    .x_component_brands_cod_145 .brands-module-sub-title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .x_component_brands_cod_145 .brands-module-sub-title .sub-title-other-style {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .x_component_brands_cod_145 .item-img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        border: 0;
    }
}