/*LESS VARIABLES*/


/*SECTION CSS*/

.x_component_contacts_cod_080 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px;
    line-height: 22px;
    color: #655f63;
}

.x_component_contacts_cod_080 .row.no-gutters>[class^="col-"],
.x_component_contacts_cod_080 .row.no-gutters>[class*=" col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.x_component_contacts_cod_080 .color-default {
    color: #655f63;
}

.x_component_contacts_cod_080 .put-inline {
    display: inline;
}

.x_component_contacts_cod_080 .font-title {
    font-size: 60px;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2307;
    text-rendering: optimizelegibility;
}

.x_component_contacts_cod_080 .underline {
    position: relative;
    width: 100%;
    height: 1px;
    margin: 10px 0 50px 0;
    background-color: #ccc;
}

.x_component_contacts_cod_080 .underline:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 5px;
    top: -5px;
    left: 0;
    background-color: #ccc;
}

.x_component_contacts_cod_080 .mod_tm_ajax_contact_form {
    padding-top: 30px;
}

.x_component_contacts_cod_080 .mod_tm_ajax_contact_form {
    position: relative;
}

.x_component_contacts_cod_080 .mod_tm_ajax_contact_form .controls,
.x_component_contacts_cod_080 .mod_tm_ajax_contact_form_input {
    width: 100%;
}

.x_component_contacts_cod_080 .contact_misc {
    margin-bottom: 15px;
}

.x_component_contacts_cod_080 h5.heading-style-5,
.x_component_contacts_cod_080 h6.heading-style-5 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 16px;
}

.x_component_contacts_cod_080 p {
    margin: 0px;
    padding: 0 0 22px;
}

.x_component_contacts_cod_080 .contact_address {
    overflow: hidden;
    padding-bottom: 22px;
    font-weight: 300;
}

.x_component_contacts_cod_080 textarea {
    overflow: hidden;
    overflow-wrap: break-word;
    height: 106px;
}

.x_component_contacts_cod_080 select,
.x_component_contacts_cod_080 textarea,
.x_component_contacts_cod_080 input[type="text"],
.x_component_contacts_cod_080 input[type="email"],
.x_component_contacts_cod_080 .uneditable-input {
    display: block;
    width: 100%;
    height: 54px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e9e8e9;
    color: #252023;
    font-size: 20px;
    line-height: 30px;
    padding: 12px 0px;
    vertical-align: middle;
    outline: none;
    margin-bottom: 44px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 1s ease, box-shadow 1s ease;
    -o-transition: border-color 1s ease, box-shadow 1s ease;
    transition: border-color 1s ease, box-shadow 1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.x_component_contacts_cod_080 a {
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.x_component_contacts_cod_080 a:hover,
.x_component_contacts_cod_080 a:focus {
    text-decoration: none;
    opacity: 0.6;
    outline: none;
}

.x_component_contacts_cod_080 .contact_details_telephone,
.x_component_contacts_cod_080 .contact_details_fax {
    font-weight: 300;
}