.form-consignacao-001 .lightversion textarea {
    padding: 15px 10px;
    height: 140px;
}

.form-consignacao-001 .consignacaoform {
    margin-top: 30px;
    border: 1px solid #f4f4f4;
}

.form-consignacao-001 hr.marginhr {
    margin: 20px 0;
    border: 0;
}

.form-consignacao-001 .car-table {
    margin-top: 30px;
    background-color: #f4f4f4;
    padding: 13px 20px;
    position: relative;
}

.form-consignacao-001 .consignacaoform .car-table {
    margin-top: 0px;
}

.form-consignacao-001 .consignacaoform .search-wrapper {
    padding: 30px;
}

.form-consignacao-001 .btn {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 45px;
    border-radius: 0;
}

.form-consignacao-001 .consignacaoform .btn {
    padding: 10px 30px;
}

.form-consignacao-001 .formfields label {
    font-size: 14px;
    font-weight: 400;
    display: block;
}

.form-consignacao-001 .consignacaoform .form-control {
    margin-bottom: 13px;
}

.form-consignacao-001 .formfields .form-control,
.form-consignacao-001 .formfields .bootstrap-select>.dropdown-toggle {
    padding-right: 25px;
    width: 100%;
    z-index: 1;
    box-shadow: none;
    height: 45px;
    font-weight: 400;
    font-style: 14px;
    color: #7c7c7c;
    background: #24272b;
    border-color: #333;
    border-radius: 0;
}

.form-consignacao-001 .formfields.lightversion .bootstrap-select .btn-info,
.form-consignacao-001 .lightversion .form-control {
    color: #7c7c7c;
    background: #f4f4f4;
    border-color: #f4f4f4;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    height: 55px;
}

.form-consignacao-001 .car-table p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.form-consignacao-001 .consignacaoform .car-table strong {
    color: #1e2126;
}

.form-consignacao-001 .margin-left-50 {
    margin-left: 50px;
}

.form-consignacao-001 .consignacaoform .search-wrapper {
    display: block;
    position: relative;
}