.x_component_slider_cod_338 .slider-wrapper {
    position: relative;
    z-index: 8;
    padding: 10px 0 0;
}
.x_component_slider_cod_338 .border-top {
    display: block;
    width: 80%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
.x_component_slider_cod_338 #slider{
    padding: 0;
    margin: 0;
}
.x_component_slider_cod_338 #slider li a:link,
.x_component_slider_cod_338 #slider li a:visited,
.x_component_slider_cod_338 #slider li img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}
.x_component_slider_cod_338 .slick-next:before,
.x_component_slider_cod_338 .slick-prev:before {
    font-family: 'FontAwesome';
    font-size: 30px;
}
.x_component_slider_cod_338 .slick-next,
.x_component_slider_cod_338 .slick-prev {
    width: 40px;
    height: 40px;
    z-index: 9;
}
.x_component_slider_cod_338 .slick-next:before {
    content: '\f054';
}
.x_component_slider_cod_338 .slick-next {
    right: 65px;
}
.x_component_slider_cod_338 .slick-prev:before {
    content: '\f053';
}
.x_component_slider_cod_338 .slick-prev {
    left: 65px;
}
.x_component_slider_cod_338 .pos-banner {
    width: 80%;
    height: auto;
    margin: -20% auto 0;
    position: relative;
    overflow: hidden;
    z-index: 9;
}
.x_component_slider_cod_338 .pos-banner .svg-box svg{
    display: block;
    width: 100%;
    height: 50px;
}
.x_component_slider_cod_338 .pos-banner .content-banner {
    padding: 35px 0;
}
.x_component_slider_cod_338 .pos-banner img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
}
.x_component_slider_cod_338 .pos-banner h1 {
    font-size: 52px;
    color: #fff;
}
@media(max-width: 990px) {
    .x_component_slider_cod_338 .pos-banner h1 {
        font-size: 42px;
    }
}
@media(max-width: 768px) {
    .x_component_slider_cod_338 .slick-next {
        right: 10px;
    }
    .x_component_slider_cod_338 .slick-prev {
        left: 10px;
    }
}
@media(max-width: 460px) {
    .x_component_slider_cod_338 .slick-next:before,
    .x_component_slider_cod_338 .slick-prev:before {
        font-size: 15px;
    }
    .x_component_slider_cod_338 .pos-banner {
        width: 100%;
    }
    .x_component_slider_cod_338 .pos-banner img {
        max-width: 80%;
    }
    .x_component_slider_cod_338 .pos-banner h1 {
        font-size: 20px;
    }
}