<section class="x_component_text_cod_033">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="item-content  text-center">
                    <div class="moto-widget-line center-block"></div>
                    <h1 data-editable="true" class="text-image-module-title">Lorem</h1>
                    <hr class="moto-widget-divider-line">

                    <div class="item-text">
                        <h2 data-editable="true">01 </h2>
                        <div data-editable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cum quod reiciendis consequatur dolorum fugiat tempora unde! Quaerat, quidem officia deserunt. Itaque quasi doloribus ex molestias tempore enim omnis id?</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="item-content  text-center">
                    <div class="moto-widget-line center-block"></div>
                    <h1 data-editable="true" class="text-image-module-title">Ipsum</h1>
                    <hr class="moto-widget-divider-line">

                    <div class="item-text">
                        <h2 data-editable="true">02 </h2>
                        <div data-editable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident porro officiis nisi expedita, atque accusamus odit, iusto optio temporibus adipisci magni quibusdam consectetur, harum sed vero architecto obcaecati odio. Odit?
                        </div>
                    </div>
                </div>
            </div>

            <div class=" col-sm-4">
                <div class="item-content  text-center">
                    <div class="moto-widget-line center-block"></div>
                    <h1 data-editable="true" class="text-image-module-title">Dummy</h1>
                    <hr class="moto-widget-divider-line">

                    <div class="item-text">
                        <h2 data-editable="true"> 03 </h2>
                        <div data-editable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo eveniet voluptatibus maxime aliquam veniam facilis explicabo mollitia voluptate. Eveniet dolore quo sed debitis veniam quis tempora error qui harum doloremque? </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>