.footer-f004 .font-icon i{
	font-size:90px;
}

.footer-f004 body.boxed-layout {
    background: #eee;
}

.footer-f004 body.boxed-layout .main-container {
    background: #fff;
}

.footer-f004 body.boxed-layout,
.footer-f004 .boxed-layout .nav-container,
.footer-f004 .boxed-layout .main-container,
.footer-f004 .boxed-layout nav {
    max-width: 1366px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.footer-f004 ul {
    list-style: none;
}

.footer-f004 ul.bullets {
    list-style: inside;
}

.footer-f004 .main-container {
    clear: both;
}

.footer-f004 hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 0 24px 0;
    width: 100%;
}

.footer-f004 hr.short-thick {
    max-width: 50px;
    border-top: 5px solid #ccc;
    opacity: 1 !important;
}

.footer-f004 .image-bg hr {
    border-color: #fff;
    opacity: .6;
}

.footer-f004 .image-bg.bg-light hr {
    border-color: #ccc;
    opacity: 1;
}

.footer-f004 .bg-dark hr {
    border-color: #555;
}

.footer-f004 .inline-block {
    display: inline-block;
}

.footer-f004 .list-inline {
    margin-left: 0;
}

.footer-f004 .list-inline>li {
    padding: 0 8px;
}

.footer-f004 .list-inline>li:last-child {
    padding-right: 0;
}

.footer-f004 .list-inline>li:first-child {
    padding-left: 0;
}

.footer-f004 .bg-primary .list-inline i {
    color: #8ed3ab;
}

.footer-f004 .overflow-hidden {
    overflow: hidden;
}

.footer-f004 .display-block {
    display: block;
}

.footer-f004 .show-grid {
    border: 1px dashed rgba(255, 255, 255, 0);
    padding: 8px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    cursor: default;
}

.footer-f004 .show-grid:hover {
    border-color: #222;
}

.footer-f004 .right {
    right: 0;
}

.footer-f004 .relative {
    position: relative;
    z-index: 2;
}

.footer-f004 .clearboth {
    clear: both;
}

.footer-f004 .spread-children * {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

.footer-f004 .spread-children-large * {
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
}

.footer-f004 .container {
    position: relative;
}

.footer-f004 .vnu {
    display: inline;
}

.footer-f004 .row-gapless>div[class*='col-'] {
    padding: 0;
}

.footer-f004 a {
    text-decoration: none;
    color: #000;
}

@media all and (max-width: 1100px) {
    .col-md-push-1 {
        left: 0;
    }
}

@media all and (max-width: 768px) {
    .footer-f004 .pull-left-sm {
        float: left !important;
    }
    .footer-f004 .overflow-hidden-xs {
        overflow: hidden;
    }
    .footer-f004.txt-center {
        text-align: center;
    }
}

@media all and (max-width: 767px) {
    .spread-children * {
        margin-left: 6px;
        margin-right: 6px;
    }
}

@media all and (max-width: 991px) {
    .footer-f004 .txt-center {
        text-align: center;
    }
    .footer-f004 .overflow-hidden-xs {
        overflow: hidden;
    }
    .footer-f004.txt-center {
        text-align: center;
    }
}


.footer-f004 footer.bg-dark a {
    color: #fff;
}

.footer-f004 .footer-1 .logo {
    max-height: 30px;
}

.footer-f004 .footer-1 .sub {
    opacity: .5;
}

.footer-f004 .social-list {
    margin: 0;
}

.footer-f004 .image-bg .social-list a {
    color: #fff;
}

.footer-f004 .bg-dark .social-list a,
.footer-f004 .image-bg .social-list a {
    color: #fff;
    opacity: .5;
}

.footer-f004 .bg-dark .social-list a:hover {
    opacity: 1;
}

.footer-f004 .image-bg .social-list a {
    opacity: 1;
}

.footer-f004 .bg-light .social-list a {
    color: #222;
}

.footer-f004 .back-to-top {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.footer-f004 .back-to-top:hover {
    opacity: 1;
}

.footer-f004 .bg-dark .back-to-top {
    border-color: #fff;
}

.footer-f004 .bg-dark .back-to-top:active,
.footer-f004 .bg-dark .back-to-top:focus {
    color: #fff;
}

.footer-f004 .bg-dark .back-to-top:hover {
    background: none;
}


.footer-f004 .mr0 {
    margin-right: 0;
}

.footer-f004 .mb0 {
    margin-bottom: 0 !important;
}

.footer-f004 .mb8 {
    margin-bottom: 8px;
}

.footer-f004 .mb16 {
    margin-bottom: 16px;
}

.footer-f004 .mb24 {
    margin-bottom: 24px;
}

.footer-f004 .mb30 {
    margin-bottom: 30px;
}

.footer-f004 .mb32 {
    margin-bottom: 32px;
}

.footer-f004 .mb40 {
    margin-bottom: 40px;
}

.footer-f004 .mb48 {
    margin-bottom: 48px;
}

.footer-f004 .mb56 {
    margin-bottom: 56px;
}

.footer-f004 .mb64 {
    margin-bottom: 64px;
}

.footer-f004 .mb72 {
    margin-bottom: 72px;
}

.footer-f004 .mb80 {
    margin-bottom: 80px;
}

.footer-f004 .mb88 {
    margin-bottom: 88px;
}

.footer-f004 .mb96 {
    margin-bottom: 96px;
}

.footer-f004 .mb104 {
    margin-bottom: 104px;
}

.footer-f004 .mb112 {
    margin-bottom: 112px;
}

.footer-f004 .mb120 {
    margin-bottom: 120px;
}

.footer-f004 .mb160 {
    margin-bottom: 160px;
}

.footer-f004 .mt0 {
    margin-top: 0 !important;
}

.footer-f004 .mt8 {
    margin-top: 8px;
}

.footer-f004 .mt16 {
    margin-top: 16px;
}

.footer-f004 .mt24 {
    margin-top: 24px;
}

.footer-f004 .mt32 {
    margin-top: 32px;
}

.footer-f004 .mt40 {
    margin-top: 40px;
}

.footer-f004 .mt48 {
    margin-top: 48px;
}

.footer-f004 .mt56 {
    margin-top: 56px;
}

.footer-f004 .mt64 {
    margin-top: 64px;
}

.footer-f004 .mt72 {
    margin-top: 72px;
}

.footer-f004 .mt80 {
    margin-top: 80px;
}

.footer-f004 .mt88 {
    margin-top: 88px;
}

.footer-f004 .mt96 {
    margin-top: 96px;
}

.footer-f004 .mt104 {
    margin-top: 104px;
}

.footer-f004 .mt112 {
    margin-top: 112px;
}

.footer-f004 .mt120 {
    margin-top: 120px;
}

.footer-f004 .mt160 {
    margin-top: 160px;
}

.footer-f004 .p32 {
    padding: 0 32px;
}

.footer-f004 .p24 {
    padding: 24px;
}

.footer-f004 .p0 {
    padding: 0;
}

.footer-f004 .pt0 {
    padding-top: 0;
}

.footer-f004 .pt8 {
    padding-top: 8px;
}

.footer-f004 .pt16 {
    padding-top: 16px;
}

.footer-f004 .pt24 {
    padding-top: 24px;
}

.footer-f004 .pt32 {
    padding-top: 32px;
}

.footer-f004 .pt40 {
    padding-top: 40px;
}

.footer-f004 .pt48 {
    padding-top: 48px;
}

.footer-f004 .pt64 {
    padding-top: 64px;
}

.footer-f004 .pt72 {
    padding-top: 72px;
}

.footer-f004 .pt80 {
    padding-top: 80px;
}

.footer-f004 .pt88 {
    padding-top: 88px;
}

.footer-f004 .pt96 {
    padding-top: 96px;
}

.footer-f004 .pt104 {
    padding-top: 104px;
}

.footer-f004 .pt112 {
    padding-top: 112px;
}

.footer-f004 .pt120 {
    padding-top: 120px;
}

.footer-f004 .pt160 {
    padding-top: 160px;
}

.footer-f004 .pt180 {
    padding-top: 180px;
}

.footer-f004 .pt240 {
    padding-top: 240px;
}

.footer-f004 .pb0 {
    padding-bottom: 0;
}

.footer-f004 .pb8 {
    padding-bottom: 8px;
}

.footer-f004 .pb16 {
    padding-bottom: 16px;
}

.footer-f004 .pb24 {
    padding-bottom: 24px;
}

.footer-f004 .pb32 {
    padding-bottom: 32px;
}

.footer-f004 .pb40 {
    padding-bottom: 40px;
}

.footer-f004 .pb48 {
    padding-bottom: 48px;
}

.footer-f004 .pb56 {
    padding-bottom: 56px;
}

.footer-f004 .pb64 {
    padding-bottom: 64px;
}

.footer-f004 .pb72 {
    padding-bottom: 72px;
}

.footer-f004 .pb80 {
    padding-bottom: 80px;
}

.footer-f004 .pb88 {
    padding-bottom: 88px;
}

.footer-f004 .pb96 {
    padding-bottom: 96px;
}

.footer-f004 .pb104 {
    padding-bottom: 104px;
}

.footer-f004 .pb112 {
    padding-bottom: 112px;
}

.footer-f004 .pb120 {
    padding-bottom: 120px;
}

.footer-f004 .pb160 {
    padding-bottom: 160px;
}

.footer-f004 .pb180 {
    padding-bottom: 180px;
}

.footer-f004 .pb240 {
    padding-bottom: 240px;
}

@media all and (max-width: 990px) {
    .mb-s-0 {
        margin-bottom: 0;
    }
    .footer-f004 .mb-s-8 {
        margin-bottom: 8px;
    }
    .footer-f004 .mb-s-16 {
        margin-bottom: 16px;
    }
    .footer-f004 .mb-s-24 {
        margin-bottom: 24px;
    }
    .footer-f004 .mb-s-32 {
        margin-bottom: 32px;
    }
    .footer-f004 .mb-s-40 {
        margin-bottom: 40px;
    }
    .footer-f004 .mb-s-48 {
        margin-bottom: 48px;
    }
    .footer-f004 .mb-s-64 {
        margin-bottom: 64px;
    }
    .footer-f004 .mb-s-72 {
        margin-bottom: 72px;
    }
    .footer-f004 .mb-s-80 {
        margin-bottom: 80px;
    }
    .footer-f004 .mb-s-88 {
        margin-bottom: 88px;
    }
    .footer-f004 .mb-s-96 {
        margin-bottom: 96px;
    }
    .footer-f004 .mb-s-104 {
        margin-bottom: 104px;
    }
    .footer-f004 .mb-s-112 {
        margin-bottom: 112px;
    }
    .footer-f004 .mb-s-120 {
        margin-bottom: 120px;
    }
}

@media all and (max-width: 990px) {
    .mb-sm-0 {
        margin-bottom: 0;
    }
    .footer-f004 .mb-sm-8 {
        margin-bottom: 8px;
    }
    .footer-f004 .mb-sm-16 {
        margin-bottom: 16px;
    }
    .footer-f004 .mb-sm-24 {
        margin-bottom: 24px;
    }
    .footer-f004 .mb-sm-32 {
        margin-bottom: 32px;
    }
    .footer-f004 .mb-sm-40 {
        margin-bottom: 40px;
    }
    .footer-f004 .mb-sm-48 {
        margin-bottom: 48px;
    }
    .footer-f004 .mb-sm-64 {
        margin-bottom: 64px;
    }
    .footer-f004 .mb-sm-72 {
        margin-bottom: 72px;
    }
    .footer-f004 .mb-sm-80 {
        margin-bottom: 80px;
    }
    .footer-f004 .mb-sm-88 {
        margin-bottom: 88px;
    }
    .footer-f004 .mb-sm-96 {
        margin-bottom: 96px;
    }
    .footer-f004 .mb-sm-104 {
        margin-bottom: 104px;
    }
    .footer-f004 .mb-sm-112 {
        margin-bottom: 112px;
    }
    .footer-f004 .mb-sm-120 {
        margin-bottom: 120px;
    }
    .footer-f004 .mt-sm-0 {
        margin-top: 0 !important;
    }
    .footer-f004 .mt-sm-8 {
        margin-top: 8px;
    }
    .footer-f004 .mt-sm-16 {
        margin-top: 16px;
    }
    .footer-f004 .mt-sm-24 {
        margin-top: 24px;
    }
    .footer-f004 .mt-sm-32 {
        margin-top: 32px;
    }
    .footer-f004 .mt-sm-40 {
        margin-top: 40px;
    }
    .footer-f004 .mt-sm-48 {
        margin-top: 48px;
    }
    .footer-f004 .mt-sm-56 {
        margin-top: 56px;
    }
    .footer-f004 .mt-sm-64 {
        margin-top: 64px;
    }
    .footer-f004 .mt-sm-72 {
        margin-top: 72px;
    }
    .footer-f004 .mt-sm-80 {
        margin-top: 80px;
    }
    .footer-f004 .mt-sm-88 {
        margin-top: 88px;
    }
    .footer-f004 .mt-sm-96 {
        margin-top: 96px;
    }
    .footer-f004 .mt-sm-104 {
        margin-top: 104px;
    }
    .footer-f004 .mt-sm-112 {
        margin-top: 112px;
    }
    .footer-f004 .mt-sm-120 {
        margin-top: 120px;
    }
    .footer-f004 .p0-sm {
        padding: 0;
    }
    .footer-f004 .pt-sm-0 {
        padding-top: 0;
    }
    .footer-f004 .pt-sm-8 {
        padding-top: 8px;
    }
    .footer-f004 .pt-sm-16 {
        padding-top: 16px;
    }
    .footer-f004 .pt-sm-24 {
        padding-top: 24px;
    }
    .footer-f004 .pt-sm-32 {
        padding-top: 32px;
    }
    .footer-f004 .pt-sm-40 {
        padding-top: 40px;
    }
    .footer-f004 .pt-sm-48 {
        padding-top: 48px;
    }
    .footer-f004 .pt-sm-64 {
        padding-top: 64px;
    }
    .footer-f004 .pt-sm-72 {
        padding-top: 72px;
    }
    .footer-f004 .pt-sm-80 {
        padding-top: 80px;
    }
    .footer-f004 .pt-sm-88 {
        padding-top: 88px;
    }
    .footer-f004 .pt-sm-96 {
        padding-top: 96px;
    }
    .footer-f004 .pt-sm-104 {
        padding-top: 104px;
    }
    .footer-f004 .pt-sm-112 {
        padding-top: 112px;
    }
    .footer-f004 .pt-sm-120 {
        padding-top: 120px;
    }
    .footer-f004 .pt-sm-160 {
        padding-top: 160px;
    }
    .footer-f004 .pb-sm-0 {
        padding-bottom: 0;
    }
    .footer-f004 .pb-sm-8 {
        padding-bottom: 8px;
    }
    .footer-f004 .pb-sm-16 {
        padding-bottom: 16px;
    }
    .footer-f004 .pb-sm-24 {
        padding-bottom: 24px;
    }
    .footer-f004 .pb-sm-32 {
        padding-bottom: 32px;
    }
    .footer-f004 .pb-sm-40 {
        padding-bottom: 40px;
    }
    .footer-f004 .pb-sm-48 {
        padding-bottom: 48px;
    }
    .footer-f004 .pb-sm-64 {
        padding-bottom: 64px;
    }
    .footer-f004 .pb-sm-72 {
        padding-bottom: 72px;
    }
    .footer-f004 .pb-sm-80 {
        padding-bottom: 80px;
    }
    .footer-f004 .pb-sm-88 {
        padding-bottom: 88px;
    }
    .footer-f004 .pb-sm-96 {
        padding-bottom: 96px;
    }
    .footer-f004 .pb-sm-104 {
        padding-bottom: 104px;
    }
    .footer-f004 .pb-sm-112 {
        padding-bottom: 112px;
    }
    .footer-f004 .pb-sm-120 {
        padding-bottom: 120px;
    }
}

@media all and (max-width: 767px) {
    .footer-f004 .mb-xs-0 {
        margin-bottom: 0;
    }
    .footer-f004 .mb-xs-8 {
        margin-bottom: 8px;
    }
    .footer-f004 .mb-xs-16 {
        margin-bottom: 16px;
    }
    .footer-f004 .mb-xs-24 {
        margin-bottom: 24px;
    }
    .footer-f004 .mb-xs-32 {
        margin-bottom: 32px;
    }
    .footer-f004 .mb-xs-40 {
        margin-bottom: 40px;
    }
    .footer-f004 .mb-xs-48 {
        margin-bottom: 48px;
    }
    .footer-f004 .mb-xs-64 {
        margin-bottom: 64px;
    }
    .footer-f004 .mb-xs-72 {
        margin-bottom: 72px;
    }
    .footer-f004 .mb-xs-80 {
        margin-bottom: 80px;
    }
    .footer-f004 .mb-xs-88 {
        margin-bottom: 88px;
    }
    .footer-f004 .mb-xs-96 {
        margin-bottom: 96px;
    }
    .footer-f004 .mb-xs-104 {
        margin-bottom: 104px;
    }
    .footer-f004 .mb-xs-112 {
        margin-bottom: 112px;
    }
    .footer-f004 .mb-xs-120 {
        margin-bottom: 120px;
    }
    .footer-f004 .mt-xs-0 {
        margin-top: 0 !important;
    }
    .footer-f004 .mt-xs-8 {
        margin-top: 8px;
    }
    .footer-f004 .mt-xs-16 {
        margin-top: 16px;
    }
    .footer-f004 .mt-xs-24 {
        margin-top: 24px;
    }
    .footer-f004 .mt-xs-32 {
        margin-top: 32px;
    }
    .footer-f004 .mt-xs-40 {
        margin-top: 40px;
    }
    .footer-f004 .mt-xs-48 {
        margin-top: 48px;
    }
    .footer-f004 .mt-xs-56 {
        margin-top: 56px;
    }
    .footer-f004 .mt-xs-64 {
        margin-top: 64px;
    }
    .footer-f004 .mt-xs-72 {
        margin-top: 72px;
    }
    .footer-f004 .mt-xs-80 {
        margin-top: 80px;
    }
    .footer-f004 .mt-xs-88 {
        margin-top: 88px;
    }
    .footer-f004 .mt-xs-96 {
        margin-top: 96px;
    }
    .footer-f004 .mt-xs-104 {
        margin-top: 104px;
    }
    .footer-f004 .mt-xs-112 {
        margin-top: 112px;
    }
    .footer-f004 .mt-xs-120 {
        margin-top: 120px;
    }
    .footer-f004 .p0-xs {
        padding: 0;
    }
    .footer-f004 .pt-xs-0 {
        padding-top: 0;
    }
    .footer-f004 .pt-xs-8 {
        padding-top: 8px;
    }
    .footer-f004 .pt-xs-16 {
        padding-top: 16px;
    }
    .footer-f004 .pt-xs-24 {
        padding-top: 24px;
    }
    .footer-f004 .pt-xs-32 {
        padding-top: 32px;
    }
    .footer-f004 .pt-xs-40 {
        padding-top: 40px;
    }
    .footer-f004 .pt-xs-48 {
        padding-top: 48px;
    }
    .footer-f004 .pt-xs-64 {
        padding-top: 64px;
    }
    .footer-f004 .pt-xs-72 {
        padding-top: 72px;
    }
    .footer-f004 .pt-xs-80 {
        padding-top: 80px;
    }
    .footer-f004 .pt-xs-88 {
        padding-top: 88px;
    }
    .footer-f004 .pt-xs-96 {
        padding-top: 96px;
    }
    .footer-f004 .pt-xs-104 {
        padding-top: 104px;
    }
    .footer-f004 .pt-xs-112 {
        padding-top: 112px;
    }
    .footer-f004 .pt-xs-120 {
        padding-top: 120px;
    }
    .footer-f004 .pt-xs-160 {
        padding-top: 160px;
    }
    .footer-f004 .pt-xs-180 {
        padding-top: 180px;
    }
    .footer-f004 .pt-xs-240 {
        padding-top: 240px !important;
    }
    .footer-f004 .pb-xs-0 {
        padding-bottom: 0;
    }
    .footer-f004 .pb-xs-8 {
        padding-bottom: 8px;
    }
    .footer-f004 .pb-xs-16 {
        padding-bottom: 16px;
    }
    .footer-f004 .pb-xs-24 {
        padding-bottom: 24px;
    }
    .footer-f004 .pb-xs-32 {
        padding-bottom: 32px;
    }
    .footer-f004 .pb-xs-40 {
        padding-bottom: 40px;
    }
    .footer-f004 .pb-xs-48 {
        padding-bottom: 48px;
    }
    .footer-f004 .pb-xs-64 {
        padding-bottom: 64px;
    }
    .footer-f004 .pb-xs-72 {
        padding-bottom: 72px;
    }
    .footer-f004 .pb-xs-80 {
        padding-bottom: 80px;
    }
    .footer-f004 .pb-xs-88 {
        padding-bottom: 88px;
    }
    .footer-f004 .pb-xs-96 {
        padding-bottom: 96px;
    }
    .footer-f004 .pb-xs-104 {
        padding-bottom: 104px;
    }
    .footer-f004 .pb-xs-112 {
        padding-bottom: 112px;
    }
    .footer-f004 .pb-xs-120 {
        padding-bottom: 120px;
    }
    .footer-f004 .pb-xs-180 {
        padding-bottom: 180px;
    }
    .footer-f004 .pb-xs-240 {
        padding-bottom: 240px !important;
    }
}

.footer-f004 .logo {
    max-width: 200px;
}

.footer-f004 .fa.fa-bolt {
    font-size: 90px;
}

.footer-f004 .fa.fa-facebook {
    padding-right: 10px;
}