.x_component_contact_cod_246 {
  font-size: 14px;
  padding: 80px 0;
  width: 100%;
  color: #fff;
}
.x_component_contact_cod_246 .font-title {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.52px;
}
.x_component_contact_cod_246 .list {
  margin-top: 50px;
}
.x_component_contact_cod_246 .list > li {
  font-size: 16px;
}
.x_component_contact_cod_246 .list > li a:link,
.x_component_contact_cod_246 .list > li a:visited {
  text-decoration: none;
  transition: 0.2s ease-out;
}
.x_component_contact_cod_246 .list > li a:focus,
.x_component_contact_cod_246 .list > li a:hover,
.x_component_contact_cod_246 .list > li a:active {
  opacity: 0.7;
}
.x_component_contact_cod_246 .bottom-text {
  margin-top: 50px;
  font-size: 16px;
}
.x_component_contact_cod_246 .address {
  margin-top: 50px;
  font-size: 16px;
}