<section class="x_component_news_code_149 pad-default-element">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">

                <div class="item-text text-center">
                    <h1 class="item_title heading-style" data-editable="true">BLOG</h1>
                </div>
                <div class="item-text-2">
                    <h3 class="item-sub-title-style " data-editable="true">Notícia 001</h3>
                    <p class="item-description" data-editable="true" data-enable-return="false">Publicada em 01/01/2010</p>
                </div>

                <div class="item-content-img">
                    <img src="assets/img/component-news-cod-148.jpg" alt="" class="image-responsive" data-image="true">
                </div>
                <div class="item-content-text">
                    <p class="item-description" data-editable="true">Praesent tincidunt blandit feugiat. Donec sollicitudin vulputate orci eget commodo justo pulvinar rumus bibendum erat rutrum.</p>
                </div>

            </div>

        </div>
    </div>
</section>