<div class="full-w">
    <div class="map-m002">
      <section class="image-square left">
        <div class="col-md-6 col-sm-12 col-xs-12 p0 image">
          <div class="map-holder background-image-holder" data-mapa="true" data-type="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.4086040735224!2d144.976411!3d-37.87412599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad66889faebddf1%3A0xcc68084b44a30620!2sRiva+St+Kilda!5e0!3m2!1sen!2sau!4v1427779902899"></iframe>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 content">
          <a href="#">
            <h2 class="uppercase mb16" data-editable="true">#titulo</h2>
          </a>
          <h6 class="uppercase" data-editable="true">Título</h6>
          <p class="lead mb0" data-editable="true">
            Escreva seu texto aqui.
          </p>
          <br>
          <i class="fa fa-home color-default" data-icon="true"></i>
          <b data-editable="true">VMotors</b>
          <p data-editable="true">R. Gomes de Carvalho, 1996, <br> Vila Olimpia, São Paulo - SP <br></p>
          <p><i class="fa fa-phone color-default" data-icon="true"></i> <b data-editable="true">(11) 3049.2992</b></p>
          <p><i class="fa fa-whatsapp color-default" data-icon="true"></i> <span data-editable="true">(11) 91234.5678</span></p>
          <p><i class="fa fa-envelope color-default" data-icon="true"></i> <a href="mailto:example@info.com" data-editable="true"><span class="color-default">contato@vmotors.com.br</span></a></p>
          <p><i class="fa fa-home color-default" data-icon="true"></i>
            <b data-editable="true">Horário de Atendimento</b><br>
            <span data-editable="true">Segunda à Sexta - 09:00 às 18:00<br>Sábado - 09:00 às 17:00</span></p>
        </div>
      </section>
    </div>
</div>