<section class="x_component_contact_cod_257 pad-default-element ">
    <div class="container">
        <div class="row small-gutters">
            <div class="col-sm-5">
                <div class="contact-left">
                    <h3 class="font-title text-uppercase" data-editable="true">LOREM IPSUM</h3>
                    <div class="link-text" data-editable="true">
                        Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet.
                    </div>
                    <div class="text-bottom" data-editable="true">
                        Aenean nonummy hendrerit mauris. Phasellus porta fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat male suada odio. Morbi nunc odio, gravida at, cursus nec.
                        <br>
                        <br> Maecenas trist orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesa orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermen dictum magna. Sed laoreet aliquam leo. Ut
                        tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="contact-right">
                    <h1 class="font-title text-uppercase" data-editable="true">LOREM IPSUM</h1>
                    <form data-form-type="contato" data-form-layout="contato-9"></form>
                </div>
            </div>
        </div>
    </div>
</section>