<section class="text-img-008 pad-default-elements">
    <div class="row">
        <article class="col-md-6 limpa-col-md-6-left text-img-008-overflow-hidden text-img-008-margin-top-30-media-991 ">
            <div class="text-img-008-cont-box col-md-12 text-img-008-shadow text-img-008-padding-reset">
                <div class="text-img-008-background-rotate text-img-008-background-color background-theme-over">
                    <div class="text-img-008-cont-text text-img-008-text-right">
                        <h1 class="titulo color-default font-description" data-editable="true"> JEEP x350</h1>
                        <div class="subtitulo hidden-xs color-default  sub-títulos" data-editable="true"> CONFIRA</div>
                        <div class="text-img-008-shadow text-img-008-btn-default text-center text-img-008-margin-top-20 btn-bg layout-btn border-default" data-editable="true"> veja mais ..</div>
                    </div>
                </div>
                <img src="img/img3.jpg" alt="" class="img-responsive" data-image="true">
            </div>
        </article>
        <article class="col-md-6  limpa-col-md-6-right text-img-008-overflow-hidden text-img-008-margin-top-30-media-991  ">
            <div class="text-img-008-cont-box col-md-12 text-img-008-shadow text-img-008-padding-reset">
                <div class="text-img-008-background-rotate text-img-008-background-color background-theme-over">
                    <div class="text-img-008-cont-text text-img-008-text-right">
                        <h1 class="titulo color-default font-description " data-editable="true"> JEEP x350</h1>
                        <div class="subtitulo hidden-xs color-default  sub-títulos" data-editable="true"> CONFIRA</div>
                        <div class="text-img-008-shadow text-img-008-btn-default text-center text-img-008-margin-top-20 btn-bg layout-btn border-default" data-editable="true"> veja mais ..</div>
                    </div>
                </div>
                <img src="img/img3.jpg" alt="" class="img-responsive" data-image="true">
            </div>
        </article>
    </div>
</section>