.highlights-h013 {
    background: #fff;
    padding: 20px 0;
    font-size: 14px;
    color: #3E3E43;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.highlights-h013 .thumbnail .caption{
	color: inherit;
}
.highlights-h013 .img-destaques {
    width: 100%;
    height: 150px;
}

.highlights-h013 .font-title {
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0px;
    position: relative;
}

.highlights-h013 .font-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ECEFF1;
    height: 2px;
}

.highlights-h013 .thumbnail {
    padding: 0;
    border: none;
}

.highlights-h013 .thumbnail .caption {
    padding: 30px;
    border: 1px solid #e2e2e2;
}

.highlights-h013 .caption>.text {
    font-size: 17px;
    text-decoration: none;
}

.highlights-h013 .slick-initialized .slick-slide {
    padding: 0;
}

.highlights-h013 .slick-prev:before,
.highlights-h013 .slick-next:before {
    color: rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 991px) {
    .highlights-h013 .img-destaques {
        height: auto;
    }
}