<section class="img-midle_0100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 padding_0">
                <img data-image="true" class="img-responsive " src="assets/img/banner-midel.jpg" alt="">
            </div>
        </div>
    </div>
</section>