.menu-m018 {
    color: #222;
    background-size: cover;
    background-repeat: no-repeat;
    background: #ffffff;
    box-shadow: 0 1px 5px 0 rgba(41, 85, 115, .21);
}

.menu-m018 .navbar-brand {
    padding: 0 15px;
}

.menu-m018 .affix {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.menu-m018 .affix {
    z-index: 2;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(41, 85, 115, .21);
}

.menu-m018 .affix-top {
    position: static;
    top: -35px;
    height: 100px;
    padding: 20px 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: transparent;
}

.menu-m018 .affix+.container-fluid {
    padding-top: 70px;
}

.menu-m018 .navbar {
    margin-bottom: 0;
    font-size: 20px;
    border-radius: 0;
    height: 60px;
}

.menu-m018 .affix .navbar-brand {
    line-height: 35px;
}

.menu-m018 .navbar-brand {
    display: inline-block;
    font-size: 54px;
    color: #FFF;
}

.menu-m018 .navbar-brand>img {
    margin-right: 10px;
    display: inline-block;
    padding-bottom: 5px;
    max-height: 60px;
    height: auto;
}

.menu-m018 .dropdown-menu {
    -webkit-animation: anim-up 0.3s;
    -o-animation: anim-up 0.3s;
    animation: anim-up 0.3s;
    top: 130%;
    border: none;
    border-radius: 0;
    padding: 25px 0;
    z-index: 2;
}

.menu-m018 .dropdown-menu>li>a {
    font-size: 15px;
}

.menu-m018 .dropdown-menu>li>a:hover {
    background: transparent;
}

.menu-m018 .anim-down-anim {
    -webkit-animation: anim-down 0.75s;
    -o-animation: anim-down 0.75s;
    animation: anim-down 0.75s;
}

.menu-m018 .navbar-nav>li>a,
.menu-m018 .navbar-nav>li>a {
    line-height: 24px;
    display: inline-block;
}

.menu-m018 .navbar-nav>li>a:hover,
.menu-m018 .navbar-nav>li>a:hover,
.menu-m018 .navbar-nav>li>a:focus,
.menu-m018 .navbar-nav>li>a:focus,
.menu-m018 .navbar-nav>li>a:active,
.menu-m018 .navbar-nav>li>a:active {
    background: transparent;
}

.menu-m018 .dropdown-toggle {
    background: transparent!important;
}

.menu-m018 .navbar-toggle.collapsed,
.menu-m018 .navbar-toggle {
    position: unset;
    float: left;
}

@media screen and (max-width: 768px) {
    .menu-m018 {
        color: #655f63;
    }
    .menu-m018 .navbar-xs,
    .menu-m018 .navbar-xs.affix {
        height: 60px;
        /*background: #fff;*/
        padding: 0;
    }
    .menu-m018 .affix {
        height: 100px;
        padding: 20px 0;
    }
    .menu-m018 .affix .navbar-brand {
        display: none;
    }
    .menu-m018 .affix-top .navbar-brand {
        position: absolute;
        top: 10%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 35px;
    }
    .menu-m018 .navbar-brand img {
        width: 100%;
        margin-right: 0;
        max-height: none;
    }
    .menu-m018 .navbar-brand {
        height: auto;
    }
    .menu-m018 .navbar-collapsed-from {
        background: #fff;
        color: #000;
        width: 270px;
        position: absolute;
        height: 700px;
        margin-top: -1px;
        margin-left: -16px;
        display: none;
    }
    .menu-m018 .navbar-collapsed-to {
        background: #fff;
        color: #000;
        width: 270px;
        position: absolute;
        height: 700px;
        margin-top: -1px;
        margin-left: -16px;
        visibility: visible;
    }
    .menu-m018 .collapse-drawer {
        visibility: visible;
        position: absolute;
        left: 15px;
        height: 700px;
        -webkit-animation: mobile-animation-hide 0.5s;
        -o-animation: mobile-animation-hide 0.5s;
        animation: mobile-animation-hide 0.5s;
    }
    .menu-m018 .collapsing {
        height: 700px!important;
    }
    .menu-m018 .collapse.in {
        position: absolute;
        animation: mobile-animation 0.3s;
        display: block!important;
        height: auto;
        box-shadow: 0 1px 5px 0 rgba(41, 85, 115, .21);
        border-bottom: 1px solid #eff1f2;
    }
    .menu-m018 .menu-icon-container,
    .menu-m018 .page-name {
        display: inline-block;
        overflow: hidden;
        width: 35px;
        height: 35px;
        position: relative;
    }
    .menu-m018 .navbar-toggle .page-name {
        line-height: 50px;
        width: auto;
        font-weight: 300;
    }
    .menu-m018 .navbar-toggle {
        margin: 0;
        padding: 4px 20px;
    }
    .menu-m018 .navbar-toggle .icon-bar {
        margin-top: 22px;
        position: relative;
        width: 24px;
        height: 4px;
        border-radius: 4px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        background: #222;
    }
    .menu-m018 .navbar-toggle.active .icon-bar {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    .menu-m018 .navbar-toggle .icon-bar:before {
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        display: block;
        width: 24px;
        height: 4px;
        border-radius: 4px;
        background: #222;
    }
    .menu-m018 .navbar-toggle .icon-bar:after {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        display: block;
        width: 24px;
        height: 4px;
        border-radius: 4px;
        background: #222;
    }
    .menu-m018 .navbar-toggle.active .icon-bar:after {
        -webkit-transform: rotate3d(0, 0, 1, 40deg);
        -moz-transform: rotate3d(0, 0, 1, 40deg);
        -ms-transform: rotate3d(0, 0, 1, 40deg);
        -o-transform: rotate3d(0, 0, 1, 40deg);
        transform: rotate3d(0, 0, 1, 40deg);
        top: 5px;
        width: 15px;
    }
    .menu-m018 .navbar-toggle.active .icon-bar:before {
        -webkit-transform: rotate3d(0, 0, 1, -40deg);
        -moz-transform: rotate3d(0, 0, 1, -40deg);
        -ms-transform: rotate3d(0, 0, 1, -40deg);
        -o-transform: rotate3d(0, 0, 1, -40deg);
        transform: rotate3d(0, 0, 1, -40deg);
        top: -5px;
        width: 15px;
    }
    .menu-m018 .nav>li.active a:hover,
    .menu-m018 .nav>li.active a:focus {
        color: #fff;
        width: 100%;
    }
    .menu-m018 .nav>li:hover>a,
    .menu-m018 .nav>li:focus>a {
        color: #000;
    }
    .menu-m018 .navbar-nav>li>a {
        color: #655f63;
        font-size: 14px;
        font-weight: 300;
        width: 100%;
        padding-left: 30px;
    }
    .menu-m018 .navbar-nav>li.active>a {
        color: #fff;
    }
    .menu-m018 .dropdown-menu {
        padding: 0;
    }
    .menu-m018 .dropdown-menu>li>a {
        font-size: 14px;
        width: 100%;
        padding-left: 40px!important;
        font-weight: 300;
    }
    .menu-m018 .mbl-drop-icon {
        position: absolute;
        top: 13px;
        right: 28px;
        font-size: 15px;
        text-align: center;
        line-height: 25px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #E5E5E5;
        transition: .5s;
        color: #656774;
    }
    .menu-m018 .dropdown ul {
        margin-left: -10px;
    }
    .menu-m018 .dropdown.open .mbl-drop-icon {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .menu-m018 .dropdown a {
        width: 100%;
        font-weight: 300;
    }
}

@media screen and (max-width: 400px) {
    .menu-m018 .affix .navbar-brand img,
    .menu-m018 .affix-top .navbar-brand img {
        width: 100%;
        margin-right: 0;
        margin-top: 20px;
    }
    .menu-m018 .affix .navbar-brand,
    .menu-m018 .affix-top .navbar-brand {
        font-size: 25px;
    }
}

@-webkit-keyframes anim-up {
    0% {
        top: 200%;
        opacity: .3;
    }
    100% {
        top: 130%;
        opacity: 1;
    }
}

@keyframes anim-up {
    0% {
        top: 200%;
        opacity: .7;
    }
    100% {
        top: 130%;
        opacity: 1;
    }
}

@-webkit-keyframes anim-down {
    0% {
        top: 130%;
        opacity: 1;
    }
    100% {
        top: 200%;
        opacity: 0;
    }
}

@keyframes anim-down {
    0% {
        top: 130%;
        opacity: 1;
    }
    100% {
        top: 200%;
        opacity: 0;
    }
}

@-webkit-keyframes mobile-animation {
    0% {
        left: -270px;
    }
    100% {
        left: 15px;
    }
}

@keyframes mobile-animation {
    0% {
        left: -270px;
    }
    100% {
        left: 15px;
    }
}

@-webkit-keyframes mobile-animation-hide {
    0% {
        left: 15px;
    }
    100% {
        left: -270px;
    }
}

@keyframes mobile-animation-hide {
    0% {
        left: 15px;
    }
    100% {
        left: -270px;
    }
}