.text-t004 .lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.text-t004 img {
  margin-bottom:16px;
  width: 100%;
}


@media all and (max-width: 768px) {
   .lead {
        font-size: 13px;
        line-height: 24px;
    }
}