        .form-financiamento-005 {
            color: #fff;
        }
        
        .form-financiamento-005 .lightversion textarea {
            padding: 15px 10px;
            height: 140px;
        }
        
        .form-financiamento-005 .financiamentoform {
            margin-top: 30px;
            border: 1px solid #f4f4f4;
        }
        
        .form-financiamento-005 .car-table {
            margin-top: 30px;
            padding: 13px 20px;
            position: relative;
        }
        
        .form-financiamento-005 .financiamentoform .car-table {
            margin-top: 0px;
        }
        
        .form-financiamento-005 .financiamentoform .form-wrapper {
            padding: 30px;
        }
        
        .form-financiamento-005 .btn {
            border-radius: 0;
            border: 0;
            text-decoration: none;
            outline: none;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        
        .form-financiamento-005 .financiamentoform .btn {
            padding: 10px 30px;
        }
        
        .form-financiamento-005 .formfields .btn-primary {
            height: 45px;
            border-radius: 0;
        }
        
        .form-financiamento-005 .formfields label {
            font-size: 14px;
            font-weight: 600;
            color: #666;
            display: block;
        }
        
        .form-financiamento-005 .financiamentoform .form-control {
            margin-bottom: 13px;
        }
        
        .form-financiamento-005 .formfields .form-control,
        .form-financiamento-005 .formfields .bootstrap-select>.dropdown-toggle {
            padding-right: 25px;
            width: 100%;
            z-index: 1;
            box-shadow: none;
            height: 45px;
            font-weight: 400;
            font-style: 14px;
            color: #7c7c7c;
            background: #24272b;
            border-color: #333;
            border-radius: 0;
        }
        
        .form-financiamento-005 .formfields.lightversion .bootstrap-select .btn-info,
        .form-financiamento-005 .lightversion .form-control {
            color: #7c7c7c;
            background: #f4f4f4;
            border-color: #f4f4f4;
            border-radius: 0;
            box-shadow: none;
            margin-bottom: 30px;
            height: 55px;
        }
        
        .form-financiamento-005 .car-table p {
            margin: 0;
            padding: 0;
            font-size: 16px;
        }
        
        .form-financiamento-005 .nav-pills>li.active>a,
        .form-financiamento-005 .nav-pills>li.active>a:focus,
        .form-financiamento-005 .nav-pills>li.active>a:hover {
            background-color: #848484;
        }
        
        .form-financiamento-005 .btn.disabled,
        .form-financiamento-005 .btn[disabled] {
            pointer-events: none;
            cursor: not-allowed;
        }
        
        .form-financiamento-005 .nav>li>a:focus,
        .form-financiamento-005 .nav>li>a:hover {
            background-color: #999;
            color: #fff;
        }
        
        .form-financiamento-005 .thumbnail {
            border-radius: 0;
        }
        
        .form-financiamento-005 small {
            font-size: 70%;
        }
        
        .form-financiamento-005 .btn-primary {
            color: #fff;
            background-color: #808080;
        }
        
        .form-financiamento-005 hr {
            display: block;
            margin: 0 0 -15px;
            width: 100%;
            height: 1px;
            border: 0;
            background-color: rgba(181, 175, 175, 0.35);
        }
        
        .form-financiamento-005 hr+h1 {
            display: inline-block;
            position: relative;
            left: 50%;
            margin: 0;
            padding: 5px 10px;
            border: 1px solid #ccc;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            color: #999;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.32em;
            text-align: center;
            text-transform: uppercase;
            background-color: #fff;
        }
        
        .form-financiamento-005 hr+h1::first-letter {
            margin-left: 0.32em;
        }
        
        .form-financiamento-005 .mb-35 {
            margin-bottom: 35px;
        }