<div class="aba-a005 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="tabbed-content button-tabs">
                    <ul class="tabs thirds mb-xs-24">
                        <li class="active">
                            <div class="tab-title btn-color">
                                <div data-editable="true">Tab 1</div>
                            </div>
                            <div class="tab-content text-left">
                                <div>
                                    <div class="overflow-hidden">
                                        <img alt="" class="mb24 pull-left" src="img/avatar.png" data-image="true">
                                        <div class="pull-left p32 p0-xs pt24">
                                            <h6 class="uppercase mb8 number" data-editable="true">0:00am - 00:00am</h6>
                                            <h4 data-editable="true">Nome - Cargo</h4>
                                        </div>
                                    </div>
                                    <div data-editable="true">
                                      <p class="text-description">
                                          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                          sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                      </p>
                                    </div>
                                    <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                </div>
                                <div>
                                    <div class="overflow-hidden">
                                        <img alt="" class="mb24 pull-left" src="img/avatar.png" data-image="true">
                                        <div class="pull-left p32 p0-xs pt24">
                                            <h6 class="uppercase mb8 number" data-editable="true">0:00am - 00:00am</h6>
                                            <h4 data-editable="true">Luke Hess - Better Selling Technique</h4>
                                        </div>
                                    </div>
                                    <div data-editable="true">
                                      <p class="text-description">
                                          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                          sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                      </p>
                                    </div>
                                    <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title btn-color">
                                <div data-editable="true">Tab 2</div>
                            </div>
                            <div class="tab-content text-left">
                                <div>
                                    <div class="overflow-hidden">
                                        <img alt="" class="mb24 pull-left" src="img/avatar.png" data-image="true">
                                        <div class="pull-left p32 p0-xs pt24">
                                            <h6 class="uppercase mb8 number" data-editable="true">0:00am - 00:00am</h6>
                                            <h4 data-editable="true">Nome - Cargo</h4>
                                        </div>
                                    </div>
                                    <div data-editable="true">
                                      <p class="text-description">
                                          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                          sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                      </p>
                                    </div>
                                    <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                </div>
                                <div>
                                    <div class="overflow-hidden">
                                        <img alt="" class="mb24 pull-left" src="img/avatar.png" data-image="true">
                                        <div class="pull-left p32 p0-xs pt24">
                                            <h6 class="uppercase mb8 number" data-editable="true">0:00am - 00:00am</h6>
                                            <h4 data-editable="true">Nome - Cargo</h4>
                                        </div>
                                    </div>
                                    <div data-editable="true">
                                      <p class="text-description">
                                          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                          sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                      </p>
                                    </div>
                                    <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title btn-color">
                                <div data-editable="true">Tab 3</div>
                            </div>
                            <div class="tab-content text-left">
                                <div>
                                    <div class="overflow-hidden">
                                        <img alt="" class="mb24 pull-left" src="img/avatar.png" data-image="true">
                                        <div class="pull-left p32 p0-xs pt24">
                                            <h6 class="uppercase mb8 number" data-editable="true">0:00am - 00:00am</h6>
                                            <h4 data-editable="true">Nome - Cargo</h4>
                                        </div>
                                    </div>
                                    <div data-editable="true">
                                      <p class="text-description">
                                          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                          sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                      </p>
                                    </div>
                                    <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                </div>
                                <div>
                                    <div class="overflow-hidden">
                                        <img alt="" class="mb24 pull-left" src="img/avatar.png" data-image="true">
                                        <div class="pull-left p32 p0-xs pt24">
                                            <h6 class="uppercase mb8 number" data-editable="true">0:00am - 00:00am</h6>
                                            <h4 data-editable="true">Nome - Cargo</h4>
                                        </div>
                                    </div>
                                    <div data-editable="true">
                                      <p class="text-description">
                                          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                          sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                      </p>
                                    </div>
                                    <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>