.highlights-h006 {
    background: #222;
    color: #fff;
}
.highlights-h006 .p0 {
    padding:0;
}
.highlights-h006 .img-responsive {
    width: 100%;
}

.highlights-h006 .featured-car-slider {
    padding: 0px;
    width: 100%;
}

.highlights-h006 .carousel-control {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 0%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.highlights-h006 .carousel-control.left {
    background: none;
}

.highlights-h006 .carousel-control.right {
    background: none;
}

.highlights-h006 .slider-mover-right {
    width: 40px;
    height: 40px;
    line-height: 32px;
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
    right: 5px;
    border: solid 2px #1B1410;
}

.highlights-h006 .slider-mover-left i,
.highlights-h006 .slider-mover-right i {
    color: #1B1410;
}

.highlights-h006 .featured-car-slider .slider-mover-right {
    top: 2.5%;
    border-radius: 0%;
    right: 15px;
}

.highlights-h006 .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0;
}

.highlights-h006 .slider-mover-left {
    width: 40px;
    height: 40px;
    line-height: 32px;
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
    left: 5px;
    border: solid 2px #1B1410;
}

.highlights-h006 .featured-car-slider .slider-mover-left {
    top: 2.5%;
    border-radius: 0%;
    left: 15px;
}

.highlights-h006 .slider-mover-left img {
    width: 30px;
}

.highlights-h006 .featured-car-slider .col-pad {
    padding: 0px;
}

.highlights-h006 .featured-car-slider .details {
    text-align: center;
    padding: 100px 15px 40px 30px;
}

.highlights-h006 .featured-car-slider .details h1 {
    text-transform: uppercase;
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 700;
}

.highlights-h006 .featured-car-slider .details ul {
    margin: 0 0 20px;
    padding: 0px;
}

.highlights-h006 .featured-car-slider .details .price {
    font-size: 24px;
    margin-bottom: 20px;
}

.highlights-h006 .btn-submit {
    padding: 9px 20px;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #e2e2e2;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 2px;
}

.highlights-h006 .btn-submit:hover {
    background: #222;
    color: #fff;
}

.highlights-h006 .featured-car-slider .details ul li {
    list-style: none;
    line-height: 30px;
}

.highlights-h006 .featured-car-slider .details ul li strong {
    font-weight: 600;
}

.highlights-h006 .featured-car-slider .details ul li a {
    text-decoration: none;
}

.highlights-h006 .featured-car-slider .item img {
    height: 418px;
}

@media all and (max-width: 990px) {
    .highlights-h006 .featured-car-slider .item img {
        height: auto;
    }
    .highlights-h006 .featured-car-slider .details {
        text-align: center;
        padding: 30px 15px 40px 30px;
    }
}