<div class="aba-a006 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt24 imgfooter">
                 <img data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=23795" alt="">
                <div class="tabbed-content button-tabs vertical">
                    <ul class="tabs">
                        <li class="active">
                            <div class="tab-title">
                                <div>Tab 1</div>
                            </div>
                            <div class="tab-content">
                                <div data-mapa="true" data-type="map" style="width: 600px; height: 450px;"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>