<section class="x_component_cta_cod_244">
    <div class="container-fluid">
        <div class="row text-left">
            <div class="text-image">
                <h3 data-editable="true" class="pre-title">LOREM IPSUM... </h3>
                <h1 class="text-capitalize font-title" data-editable="true">LOREM IPSUM DOLOR!</h1>
                <div class="font-description" data-editable="true">
                    Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.
                    Duis ac turpis. Integer rutr um ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </div>
                <div data-editable="true" class="btn btn-theme layout-btn btn-color" role="button">LEARN MORE</div>
            </div>
        </div>
    </div>
</section>