.text-t005 .main-title {
    text-align: center;
    max-width: 700px;
    margin: 0px auto;
    margin-bottom: 40px;
    font-family: "Open Sans", sans-serif;
}

.text-t005 {
    background: #f5f5f5;
    padding: 30px 0 10px;
}

.text-t005 .main-title h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px;
    color: #333;
    font-weight: 700;
}

.text-t005 .main-title p {
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #797979;
}