<section class="x_component_footer_cod_326 pad-default-element background-theme">
    <div class="container">
        <div class="row text-xs-center">
            <div class="col-sm-5">
                <img class="img-responsive" src="assets/img/webmotors-logo-white.png" data-image="true">
                <div class="copyright" data-editable="true">Webmotors Sites © 2017</div>
            </div>
            <hr class="visible-xs">
            <div class="col-sm-4">
                <div class="footer-title font-title" data-editable="true">Lorem Ipsum</div>
                <div data-editable="true">
                    Rua Endereço, 999 <br>
                    São Paulo - SP
                    <br>
                    <br>
                    Tel: 11 9999-9999
                </div>
            </div>
            <hr class="visible-xs">
            <div class="col-sm-3">
                <div class="footer-title font-title" data-editable="true">Lorem Ipsum</div>
                <ul class="list-unstyled">
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                    <li data-editable="true">Link</li>
                </ul>
            </div>
        </div>
    </div>
</section>