  .marcas_mod_old_003 {
      min-height: 94px;
  }
  
  .marcas_mod_old_003>img {
      display: none;
  }
  
  .marcas_mod_old_003 .slider-marcas .slick-slide img {
      margin: 0 auto;
  }
  
  .marcas_mod_old_003 .slider-marcas>.slick-list>.slick-track {
      margin: 0 auto;
  }