<footer id="footer" class="footer-background">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="text-center">
                    <div class="cont-logo-footer">
                        <img data-image="true" src="img/logolegal.png" alt="">
                    </div>
                </div>
                <div class="center-block cont-social text-center color-default" data-social="true">
                    <a target="_blank" href="#icon-link#"><i class="#icon-class#" ></i></a>
                </div>
            </div>
            <div class="col-md-7 cont-map" data-map="true" data-type="map"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-xs-12 cont-info">
                <div><i class="fa fa-envelope-o" data-icon="true"></i>
                    <div class="inline-block" data-editable="true"> email@email.com</div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 cont-info">
                <div><i class="fa fa-phone" data-icon="true"></i>
                    <div class="inline-block" data-editable="true"> (99) 9999.9999</div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 cont-info">
                <div><i class="fa fa-map-signs" data-icon="true"></i>
                    <div class="inline-block" data-editable="true"> Endereço</div>
                </div>
            </div>
        </div>
    </div>
</footer>