.aba-a004 h1 {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 3px;
    margin-right: -3px;
}

.aba-a004 .button-tabs.vertical {
    overflow: hidden;
}

.aba-a004 .tabs {
    overflow: hidden;
}

.aba-a004 .button-tabs .tabs {
    display: inline-block;
    overflow: hidden;
}

.aba-a004 .button-tabs.vertical>.tabs {
    max-width: 30%;
    float: left;
}

.aba-a004 .button-tabs.vertical>.content {
    padding-left: 3%;
    max-width: 70%;
    float: right;
}

.aba-a004 .tabbed-content .content>li {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    display: none;
}

.aba-a004 .tabbed-content .content .active {
    opacity: 1;
    visibility: visible;
    display: block;
}

.aba-a004 .text-description {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    line-height: 24px;
    overflow-x: hidden;
}

.aba-a004 .tabs li {
    display: inline-block;
    cursor: pointer;
}

.aba-a004 .button-tabs .tabs>li {
    margin-bottom: 8px;
    float: left;
}

.aba-a004 .button-tabs .tabs>li:last-child {
    margin-right: 0px;
}

.aba-a004 .button-tabs .tab-title {
    padding: 13px;
    display: inline-block;
    text-align: center;
    min-width: 150px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.aba-a004 .button-tabs .tab-title:hover {
    background: #eee;
}

.aba-a004 .button-tabs.vertical>.tabs li,
.aba-a004 .button-tabs.vertical .tab-title {
    width: 100%;
}

.aba-a004 .button-tabs.vertical>.tabs li {
    margin-bottom: 10px;
}

.aba-a004 .button-tabs .tab-title span {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.aba-a004 .button-tabs .active .tab-title {
    color: #fff;
    opacity: 0.7;
}

@media all and (max-width: 768px) {
    .aba-a004 .button-tabs.vertical>.tabs {
        float: none;
        width: 100%;
        max-width: 100%;
        display: block;
        padding: 0;
    	margin: 0;
    }
    .aba-a004 .button-tabs.vertical>.content {
        padding: 0;
        float: none;
        width: 100%;
        max-width: 100%;
        display: block;
    }
}