.btn-change-video{
	display:none;
}
.video-003 {
    color: #666;
    background: #fdfdfd;
}

.video-003 small {
    font-style: italic;
    color: #999;
}

.video-003 .tmargin50 {
    margin-top: 50px;
}

.video-003 .tmargin10 {
    margin-top: 10px;
}

.video-003 iframe {
  	width: 100%;
	height: 250px;  
}
.video-003 .color-text {
    color: #bbb8b8;
}