<section class="x_component_gallery_cod_185 pad-default-elements">
    <div class="container-fluid">
        <div class="row no-padding">
            <h1 data-editable="true" class="text-center gallery-title font-title">Gallery</h1>
            <div class="gallery">
                <div class="col-sm-6 col-md-4 no-padding first-blk">
                    <div class="box">
                        <a href="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_01.jpg">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_01.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">MOTOR BRABUS Mercedes S-65 ROCKET-900 2015</h3>
                            </div>
                        </a>
                        <a href="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_05.jpg">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_05.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">MOTOR Honda Project 2and4 Concept</h3>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-sm-6 col-md-4 no-padding">
                    <div class="box">
                        <a href="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_02.jpg">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_02.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">MOTOR BRABUS Mercedes AMG GT-S 2016</h3>
                            </div>
                        </a>
                        <a href="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_04.jpg">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_04.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">MOTOR Ferrari FXX-K 2015</h3>
                            </div>
                        </a>
                        <a href="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_06.jpg">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_06.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">MOTOR Range-Rover Sentinel 2016</h3>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-sm-6 col-md-4 no-padding">
                    <div class="box">
                        <a href="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_03.jpg">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_03.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">MOTOR Alfa-Romeo Giulia 2016</h3>
                            </div>
                        </a>
                        <a href="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_07.jpg">
                            <div class="content">
                                <img data-image="true" src="http://srv4.vmwm.com.br/img/x_component_gallery_cod_185/component_gallery_cod_185_07.jpg" alt="" title="" />
                                <h3 data-editable="true" class="font-title">MOTOR BRABUS Mercedes Amg GT-S 2016</h3>
                            </div>
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>