<section class="x_component_header_cod_318 menu-318">
    <img class="image-bg" src="assets/images/bg.png" alt="" data-image="true">
    <div class="header">
        <div class="row">
            <div class="col-sm-12">
                <div class="top-border background-theme"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="logo center-block">
                    <img src="assets/images/logo.png" alt="" data-image="true">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="shop-phone pull-right">
                    <i class="fa fa-phone color-default" aria-hidden="true" data-icon="true"></i>
                    <div data-editable="true">(xx) 0000-0000</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="sf-contener clearfix " id="block_top_menu">
                    <div class="one category cat-title collapsed background-theme" id="cat-title" aria-expanded="false" data-toggle="collapse" data-target="#demo">Menu</div>
                    <ul class="sf-menu clearfix menu-content background-theme menu" id="demo" data-menu="true">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>