footer#footer {
    background: #333333;
    color: #fff;
    margin-top: 50px;
    padding: 20px 0 0;
}

footer#footer .topo > .logo-footer {
    display: block;
    white-space: nowrap;
    
    text-align: center;
    margin: 1em 0;
}

footer#footer .topo > .logo-footer:before,
footer#footer .topo > .logo-footer_before {
    content: "";
    display: block;
    height: 100%;
    vertical-align: middle;
}

footer#footer .topo > .logo-footer > a {
    display: block;
    vertical-align: middle;
}

footer#footer .topo > .logo-footer > a > img {
    width: 100%;
    vertical-align: middle;
}

footer#footer .topo.row {
    padding-bottom: 15px;
    border-bottom: 1px #a5a5a5 solid;
}

footer#footer .row > .menuFooter {
    margin: 0;
    text-transform: uppercase;
}

footer#footer .row > .menuFooter > ul {
    margin-top: 12px;
}

footer#footer .row > .menuFooter > ul > li {
    margin: auto;
    display: inline-block;
    float: none;
}

footer#footer .row > .menuFooter > ul > li > a {
    position: relative;
    display: block;
    padding: 30px 10px;
    color: #fff;
    font-size: 12px;
    border-radius: 0;
}

footer#footer .row > .endFooter {
    border: 1px #a5a5a5 solid;
    padding: 8px 10px;
}

footer#footer .row > .endFooter > p {
    font-size: 11px;
    font-weight: 300;
    margin: 0 5px 5px 5px;
}

footer#footer .row > .endFooter > p.telefone {
    font-size: 16px;
}

footer#footer .row > div > .socialFooter {
    border-right: 1px #fefeff solid;
    color: #fefeff;
    height: 170px;
    margin: 20px 0;
}

footer#footer .row > div > .socialFooter > h2,
footer#footer .row > div > .boxNewsletter > h2 {
    font-weight: 700;
    font-size: 16px;
}

footer#footer .row > div > .socialFooter > p,
footer#footer .row > div > .boxNewsletter > p {
    font-size: 12px;
}

footer#footer .row > div > .socialFooter > .social-footer > a.btnSocial {
    position: relative;
    width: 59px;
    height: 61px;
    display: inline-block;
    margin-right: 10px;
    background: #333;
    padding: 7px;
    font-size: 35px;
    color: #FFF;
    text-align: center;
}

footer#footer .row > div > .socialFooter > .social-footer > a.btnSocial.face {
    background: #0567c2
}

footer#footer .row > div > .socialFooter > .social-footer > a.btnSocial.instagram {
    background: #999
}

footer#footer .row > div > .socialFooter > .social-footer > a.btnSocial.twitter {
    background: #79c2ff
}

footer#footer .row > div > .socialFooter > .social-footer > a.btnSocial:hover:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
}

footer#footer .row > div > .empresaFooter {
    color: #b7b7b7;
    height: 170px;
    margin: 20px 0;
}

footer#footer .row > div > .empresaFooter h2 {
    font-size: 15px;
}

footer#footer .row > div > .empresaFooter p {
    font-size: 12px;
}

footer#footer .row > div > .boxNewsletter {
    margin: 20px 0;
    padding-left: 20px;
    height: 170px;
    border-left: 1px #fefeff solid;
}

footer#footer .row > div > .boxNewsletter > #div_newsletter {
    position: relative;
}

footer#footer .row > div > .boxNewsletter > #div_newsletter > input#email_newsletter {
    padding: 10px;
    width: 100%;
    font-size: 12px;
    background: #545454;
    border: 0;
}

footer#footer .row > div > .boxNewsletter > #div_newsletter input#btnNewsletter {
    margin-top: 1px;
    padding: 10px;
    width: 100%;
    font-size: 12px;
    background: #000;
    border: 0;
}

footer#footer > .copyright {
    background: #000;
}

footer#footer > .copyright p {
    font-size: 12px;
    margin: 0;
    padding: 10px 0;
}

footer#footer > .copyright p a {
    color: #fff;
}

footer#footer > .copyright p a:hover {
    text-decoration: none;
}

/* Menu */
footer#footer .nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #EFEFEF;
    border-radius: 0;
    color: #424242;
}

footer#footer .nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    color: #4AECC4;
    background: none;
}

footer#footer .nav ul.dropdown-menu {
    color: #464545;
    background-color: #EFEFEF;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

footer#footer .nav ul.dropdown-menu  a {
    color: #464545;
    line-height: 30px;
}

footer#footer .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #464545;
}



/* Responsive */
@media (max-width: 575px) {
    footer#footer .row > .endFooter {
        margin-top: 0;
        padding: 15px 0 0;
        border:  none;
        border-top: 1px #a5a5a5 solid;
    }

    footer#footer .row > div > .socialFooter, 
    footer#footer .row > div > .empresaFooter, 
    footer#footer .row > div > .boxNewsletter {
        margin-bottom: 20px;
        padding-bottom: 20px;
        height: auto;
        border: none;
        text-align: center;
        border-bottom: 1px #a5a5a5 dotted;
    }
    
    footer#footer .row > div > .empresaFooter, 
    footer#footer .row > div > .empresaFooter > h2, 
    footer#footer .row > div > .boxNewsletter > h2 {
        margin-top: 0;
    }
    
    footer#footer .row > div > .empresaFooter > p {
        margin-bottom: 0;
    }

    footer#footer .row > div > .boxNewsletter {
        margin-top: 0;
        border: none;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

/* Responsive Bases */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

.no-padding { padding: 0; }
.no-padding-top { padding-top: 0; }
.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }
.no-padding-bottom { padding-bottom: 0; }

@media (max-width: 575px) {
    .text-xs-left { text-align: left; }
    .text-xs-right { text-align: right; }
    .text-xs-center { text-align: center; }
    .text-xs-justify { text-align: justify; }

    .no-padding-xs { padding: 0; }
    .no-padding-xs-top { padding-top: 0; }
    .no-padding-xs-left { padding-left: 0; }
    .no-padding-xs-right { padding-right: 0; }
    .no-padding-xs-bottom { padding-bottom: 0; }
}

@media (min-width: 576px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }

    .no-padding-sm { padding: 0; }
    .no-padding-sm-top { padding-top: 0; }
    .no-padding-sm-left { padding-left: 0; }
    .no-padding-sm-right { padding-right: 0; }
    .no-padding-sm-bottom { padding-bottom: 0; }
}

@media (min-width: 768px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }

    .no-padding-md { padding: 0; }
    .no-padding-md-top { padding-top: 0; }
    .no-padding-md-left { padding-left: 0; }
    .no-padding-md-right { padding-right: 0; }
    .no-padding-md-bottom { padding-bottom: 0; }
}

@media (min-width: 992px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }

    .no-padding-lg { padding: 0; }
    .no-padding-lg-top { padding-top: 0; }
    .no-padding-lg-left { padding-left: 0; }
    .no-padding-lg-right { padding-right: 0; }
    .no-padding-lg-bottom { padding-bottom: 0; }
}