.x_component_text_cod_254 {
  background: #313135;
}
.x_component_text_cod_254 .font-title {
  font-size: 126px;
  font-weight: 500;
  letter-spacing: -0.52px;
  color: #fff;
  width: 90%;
}
.x_component_text_cod_254 .btn-color {
  padding: 15px;
  margin: 20px 0;
  border: none;
  border-radius: 0;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  transition: ease 0.5s;
}
.x_component_text_cod_254 .btn-color a {
  text-decoration: none;
  color: #fff;
}
.x_component_text_cod_254 .layout-btn {
}
@media screen and (max-width: 768px) {
  .x_component_text_cod_254 .font-title {
    font-size: 55px;
  }
  .x_component_text_cod_254 .btn-color {
    width: 100%;
    padding: 30px 15px;
  }
}
