<section class="x_component_footer_cod_063 background-theme">
    <footer>
        <div class="container footer-top">
            <div class="row text-xs-center">
                <div class="col-md-3 col-sm-6">
                    <h1 data-editable="true" class="footer-module-title color-default">Lorem Ipsum</h1>
                    <div data-editable="true" class="font-description about-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta volutpat metus eu vulputate. Donec id tristique ipsum. Quisque auctor nulla nec sagittis tincidunt. Aliquam vel magna felis.
                    </div>
                </div>
                <hr class="visible-xs">
                <div class="col-md-3 col-sm-6">
                    <ul class="list-unstyled contact-info">
                        <li>
                            <i data-icon="true" class="fa fa-map-marker color-default" aria-hidden="true"></i>
                            <div data-editable="true">Meu endereço, 999. São Paulo, SP</div>
                        </li>
                        <li>
                            <i data-icon="true" class="fa fa-phone color-default" aria-hidden="true"></i>
                            <div data-editable="true" class="contact-phone">
                                (11) 0000-0000
                            </div>
                        </li>
                        <li class="text-lowercase">
                            <i data-icon="true" class="fa fa-envelope color-default" aria-hidden="true"></i>
                            <div data-editable="true" class="contact-mail">
                                email@email.com
                            </div>
                        </li>
                    </ul>
                </div>
                <hr class="visible-xs">
                <div class="col-sm-4 col-md-2">
                    <h1 data-editable="true" class="footer-module-title color-default">Lorem Ipsum</h1>
                    <ul class="list-unstyled list-items">
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                    </ul>
                </div>
                <hr class="visible-xs">
                <div class="col-sm-4 col-md-2">
                    <h1 data-editable="true" class="footer-module-title color-default">Lorem Ipsum</h1>
                    <ul class="list-unstyled list-items">
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                    </ul>
                </div>
                <hr class="visible-xs">
                <div class="col-sm-4 col-md-2">
                    <h1 data-editable="true" class="footer-module-title color-default">Lorem Ipsum</h1>
                    <ul class="list-unstyled list-items">
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Link
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="newsletter">
            <div class="container">
                <div class="row newsletter-border">
                    <hr class="visible-xs">
                    <div class="col-sm-6 no-padding-left">
                        <div class="form-inline newsletter-submit">
                            <div class="form-group">
                                <div data-newsletter="true">
                                    <form data-form-type="newsletter" data-form-layout="newsletter-8"></form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled list-inline social pull-right pull-xs-left" data-social="true">
                            <li><a class="color-default-hover" href="#icon-link#"><i class="#icon-class#"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div data-editable="true">&copy; 2017 - Lorem Ipsum</div>
            </div>
        </div>
    </footer>
</section>