.x_component_text-image_cod_034 {
  background: url('../../assets/img/component_text-image_cod_034-01.jpg') no-repeat center center;
  background-size: cover;
}
.x_component_text-image_cod_034 .item-content {
  padding-bottom: 10%;
}
.x_component_text-image_cod_034 .moto-widget-line {
  display: block;
  width: 1px;
  height: 100px;
  margin: 50px auto 0;
  background-color: #AEB0B1;
}
.x_component_text-image_cod_034 .item-content .text-image-module-title {
  color: #212526;
  font-weight: 400;
  font-size: 90px;
  line-height: 1.3;
  letter-spacing: 1px;
}
.x_component_text-image_cod_034 .item-content > hr {
  width: 60%;
  border-top: 1px solid #AEB0B1;
  margin-top: 50px;
  margin-bottom: 50px;
}
.x_component_text-image_cod_034 .item-text {
  font-weight: 300;
  font-style: normal;
  color: #818587;
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 50px;
}
.x_component_text-image_cod_034 .item-small-text {
  color: #474747;
  font-size: 25px;
}

.x_component_text-image_cod_034 .item-small-text a:link,
.x_component_text-image_cod_034 .item-small-text a:visited {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .x_component_text-image_cod_034 .moto-widget-line {
    height: 60px;
    margin-top: 20px;
  }
  .x_component_text-image_cod_034 .item-content > hr {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .x_component_text-image_cod_034 .item-content .text-image-module-title {
    font-size: 50px;
  }
  .x_component_text-image_cod_034 .item-text {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px;
  }
}