<section class="form-financiamento-004">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li>
                        <a href="#step-1" class="btn background-theme">
                            <h4 class="list-group-item-heading"><i class="fa fa-usd"></i></h4>
                            <p class="list-group-item-text">Dados do Financiamento</p>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2" class="btn background-theme-default" disabled="disabled">
                            <h4 class="list-group-item-heading"><i class="fa fa-user-o"></i></h4>
                            <p class="list-group-item-text">Dados do Proponente</p>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3" class="btn background-theme-default" disabled="disabled">
                            <h4 class="list-group-item-heading"><i class="fa fa-map-marker"></i></h4>
                            <p class="list-group-item-text">Endereço</p>
                        </a>
                    </li>
                    <li>
                        <a href="#step-4" class="btn background-theme-default" disabled="disabled">
                            <h4 class="list-group-item-heading"><i class="fa fa-address-card-o"></i></h4>
                            <p class="list-group-item-text">Atividade Profissionale</p>
                        </a>
                    </li>
                    <li>
                        <a href="#step-5" class="btn background-theme-default" disabled="disabled">
                            <h4 class="list-group-item-heading"><i class="fa fa-user-circle-o"></i></h4>
                            <p class="list-group-item-text">Dados do Cônjugue</p>
                        </a>
                    </li>
                    <li>
                        <a href="#step-6" class="btn background-theme-default" disabled="disabled">
                            <h4 class="list-group-item-heading"><i class="fa fa-credit-card"></i></h4>
                            <p class="list-group-item-text">Referência Bancária</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <form data-form-type="financiamento" data-form-layout="financiamento-3"></form>
            </div>
        </div>
    </div>
</section>