<div class="buscador-b001 full-w" page-id="#pageId#">
    <div class="col-md-12 cont-filtros">
        <form role="form" action="" method="post" class="formularios clearfix form-inline" id="form-6">
            <div class="col-md-4 col-xs-12 reset-padding-right reset-padding-left">
                <div class="form-group col-xs-12 col-md-6 reset-padding-right">
                    <select name="marca" class="form-control styled layout-btn">
                        <option value="#marcaId#"> Marca</option>
                        <optgroup label="Selecione a Marca"></optgroup>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <select name="modelo" class="form-control styled">
                        <option value=""> Modelo</option>
                        <optgroup label="selecione o modelo"></optgroup>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 reset-padding-right reset-padding-left">
                <div class="form-group col-xs-12 col-md-6 reset-padding-right">
                    <select name="ano" class="form-control styled layout-btn">
                        <option value=""> Ano</option>
                        <optgroup label="menor ano"></optgroup>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <select name="ate" class="form-control styled layout-btn">
                        <option value=""> Até</option>
                        <optgroup label="maior ano"></optgroup>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 reset-padding-right reset-padding-left">
                <div class="form-group col-xs-12 col-md-6">
                    <select name="de" class="form-control styled layout-btn">
                        <option value=""> De</option>
                        <optgroup label="menor preço"></optgroup>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <select name="deAte" class="form-control styled layout-btn">
                        <option value=""> Até</option>
                        <optgroup label="maior preço"></optgroup>
                    </select>
                </div>
            </div>
            <div class=" col-md-2 cont-button">
                <button class="btn btn-lg pull-right search btn-color layout-btn" id="enviarBuscador" type="button">Buscar</button>
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
</div>