.highlights-h002 {
    background: #f5f5f5;
}

.highlights-h002>.pad-anuncio * {
    padding: 0;
}

.highlights-h002 p {
    font-size: 1.0833em;
    line-height: 1.6666;
    margin-bottom: 15px;
}

.highlights-h002 dt {
    font-weight: normal;
}

.highlights-h002 span.active,
.highlights-h002 a.active,
.highlights-h002 h2.active,
.highlights-h002 h3.active,
.highlights-h002 h4.active,
.highlights-h002 h5.active,
.highlights-h002 h6.active {
    color: #01b7f2;
}

.highlights-h002 .info-primary,
.highlights-h002 .info-success {
    color: #fff;
    padding: 2px 5px;
    line-height: 1em;
}

.highlights-h002 .info-success {
    background: #98ce44;
}

.highlights-h002 .info-primary {
    background: #2d3e52;
}


/* 2) Heading */

.highlights-h002 h1,
.highlights-h002 h2,
.highlights-h002 h3,
.highlights-h002 h4,
.highlights-h002 h5,
.highlights-h002 h6 {
    margin: 0 0 15px;
    font-weight: normal;
    color: #2d3e52;
}

.highlights-h002 h1 {
    font-size: 2em;
    line-height: 1.25em;
    /*24px, 30px*/
}

.highlights-h002 h2 {
    font-size: 1.6667em;
    line-height: 1.25em;
    /*20px, 35px*/
}

.highlights-h002 h3 {
    font-size: 1.5em;
    line-height: 1.2222em;
    /*18px, 22px*/
}

.highlights-h002 h4 {
    font-size: 1.3333em;
    line-height: 1.25em;
    /*16px, 20px*/
}

.highlights-h002 h5 {
    font-size: 1.1666em;
    line-height: 1.1428em;
    /*14px, 16px*/
}

.highlights-h002 h6 {
    font-size: 1em;
}

.highlights-h002 h1.fourty-space {
    font-size: 1.3333em;
    line-height: 1.25em;
    letter-spacing: .04em;
}

.highlights-h002 h2.fourty-space {
    font-size: 1.1666em;
    line-height: 1.1428em;
    letter-spacing: .04em;
}

.highlights-h002 h3.fourty-space {
    font-size: 1.0833em;
    line-height: 1.1428em;
    letter-spacing: .04em;
}

.highlights-h002 h4.fourty-space {
    font-size: 1em;
    line-height: 1.1em;
    letter-spacing: .04em;
}

.highlights-h002 h5.fourty-space {
    font-size: 0.9166;
    line-height: 1.1em;
    letter-spacing: .04em;
}

.highlights-h002 h6.fourty-space {
    font-size: 0.8333em;
    line-height: 1.1em;
    letter-spacing: .04em;
}


/* 3) Lists */

.highlights-h002 ol,
.highlights-h002 ul {
    list-style: none;
    margin: 0;
}


/* 4) Contents */

.highlights-h002 hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #f5f5f5;
}


/* 6) HTML5 & CSS3 Styles for older browsers */

.highlights-h002 article,
.highlights-h002 aside,
.highlights-h002 details,
.highlights-h002 figcaption,
.highlights-h002 figure,
.highlights-h002 footer,
.highlights-h002 header,
.highlights-h002 hgroup,
.highlights-h002 menu,
.highlights-h002 nav,
.highlights-h002 section {
    display: block;
}


/* 7) Tools */

.highlights-h002 .clearer {
    clear: both !important;
    padding: 0 !important;
    margin: 0 !important;
}

.highlights-h002 .hidden {
    display: block !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
}

.highlights-h002 .nobr {
    white-space: nowrap !important;
}

.highlights-h002 .wrap {
    white-space: normal !important;
}

.highlights-h002 .no-display {
    display: none;
}

.highlights-h002 .no-float {
    float: none !important;
}

.highlights-h002 .no-margin {
    margin: 0 !important;
}

.highlights-h002 .no-padding {
    padding: 0 !important;
}

.highlights-h002 .no-lpadding {
    padding-left: 0 !important;
}

.highlights-h002 .no-rpadding {
    padding-right: 0 !important;
}

.highlights-h002 .no-border {
    border: none !important;
}

.highlights-h002 .full-width {
    width: 100% !important;
}

.highlights-h002 img.full-width {
    height: auto;
}

.highlights-h002 .uppercase {
    text-transform: uppercase;
}

.highlights-h002 .fourty-space {
    letter-spacing: .04em !important;
}

.highlights-h002 .underline {
    text-decoration: underline !important;
}

.highlights-h002 .inline-block {
    display: inline-block !important;
}

.highlights-h002 .visible-sms {
    display: none;
}

.highlights-h002 .overflow-hidden {
    overflow: hidden;
}

.highlights-h002 .no-letter-spacing {
    letter-spacing: normal !important;
}


/* 1.2. Layout ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.highlights-h002 #page-wrapper {
    position: relative;
    overflow: visible;
}

.highlights-h002 .gray-area {
    background: #f5f5f5;
}

.highlights-h002 .global-map-area {
    background: url("http://placehold.it/2080x1000") no-repeat;
}

.highlights-h002 .global-map-area .description p {
    color: #7c9abd;
}

.highlights-h002 .global-map-area .description h1,
.highlights-h002 .global-map-area .description h2,
.highlights-h002 .global-map-area .description h3,
.highlights-h002 .global-map-area .description h4,
.highlights-h002 .global-map-area .description h5,
.highlights-h002 .global-map-area .description h6 {
    color: #fff;
}

.highlights-h002 section#content {
    /*min-height: 400px;*/
    padding-top: 40px;
    text-align: left;
    background: #e2e6e7;
}

.highlights-h002 section#content:after {
    display: table;
    content: "";
    clear: both;
}

.highlights-h002 .sm-section {
    padding-top: 30px;
    padding-bottom: 20px;
}

.highlights-h002 .md-section {
    padding-top: 40px;
    padding-bottom: 30px;
}

.highlights-h002 .section {
    padding-top: 80px;
    padding-bottom: 70px;
}

.highlights-h002 .small-box {
    margin-bottom: 20px;
}

.highlights-h002 .box {
    margin-bottom: 30px;
}

.highlights-h002 .block {
    margin-bottom: 40px;
}

.highlights-h002 .large-block {
    margin-bottom: 70px;
}

.highlights-h002 article {
    margin-bottom: 20px;
}

.highlights-h002 #main {
    margin-bottom: 40px;
}

.highlights-h002 .body-blank {
    display: table;
    height: 100%;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.highlights-h002 .wrapper-blank {
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 100%;
}

.highlights-h002 .box-title small {
    font-size: 10px;
    color: rgb(131, 131, 131);
    text-transform: uppercase;
    display: block;
    margin-top: 4px;
}


/* 2.2. Buttons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* 2.2.1. Buttons */

.highlights-h002 button,
.highlights-h002 input[type="button"].button,
.highlights-h002 a.button {
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 15px;
    white-space: nowrap;
}

.highlights-h002 button.btn-large,
.highlights-h002 input[type="button"].button.btn-large,
.highlights-h002 a.button.btn-large {
    padding: 0 32px;
    height: 43px;
    font-size: 1.1667em;
    line-height: 43px;
}

.highlights-h002 button.btn-medium,
.highlights-h002 input[type="button"].button.btn-medium,
.highlights-h002 a.button.btn-medium {
    padding: 0 32px;
    height: 34px;
    line-height: 34px;
    font-size: 1em;
}

.highlights-h002 button.btn-small,
.highlights-h002 input[type="button"].button.btn-small,
.highlights-h002 a.button.btn-small {
    height: 28px;
    padding: 0 24px;
    line-height: 28px;
    font-size: 0.9167em;
}

.highlights-h002 button.btn-mini,
.highlights-h002 input[type="button"].button.btn-mini,
.highlights-h002 a.button.btn-mini {
    height: 19px;
    padding: 0 20px;
    font-size: 0.8333em;
    line-height: 19px;
}

.highlights-h002 button.full-width,
.highlights-h002 input[type="button"].button.full-width,
.highlights-h002 a.button.full-width {
    padding-left: 0;
    padding-right: 0;
}

.highlights-h002 button,
.highlights-h002 input[type="button"].button {
    font-size: 0.9167em;
    font-weight: bold;
    background: #98ce44;
    height: 34px;
    line-height: 34px;
}

.highlights-h002 button:hover,
.highlights-h002 input[type="button"].button:hover {
    background: #7fb231;
}

.highlights-h002 a.button {
    display: inline-block;
    /* background: #d9d9d9;*/
    font-size: 0.8333em;
    line-height: 1.8333em;
    white-space: nowrap;
    text-align: center;
}

.highlights-h002 a.button:hover {
    background: #262626;
}

.highlights-h002 a.button.btn-mini {
    padding-left: 10px;
    padding-right: 10px;
}

.highlights-h002 a.button.btn-large,
.highlights-h002 a.button.btn-medium,
.highlights-h002 a.button.btn-small,
.highlights-h002 a.button.full-width {
    font-weight: bold;
}


/* 2.2.11. Price section */

.highlights-h002 .price {
    /*color: #7db921;*/
    font-size: 16px;
    /* ajust 1.6667em */
    text-transform: uppercase;
    float: right;
    text-align: right;
    line-height: 1;
    display: block;
}

.highlights-h002 .price small {
    display: block;
    color: #838383;
    font-size: 0.5em;
}

.highlights-h002 .price-wrapper {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.8333em;
    color: inherit;
    line-height: 1.3333em;
    margin: 0;
}

.highlights-h002 .price-wrapper .price-per-unit {
    color: #7db921;
    font-size: 1.4em;
    padding-right: 5px;
}


/* 2.11. Photo Gallery ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.highlights-h002 .flexslider .slides>li {
    display: none;
}

.highlights-h002 .photo-gallery:not(.flex-direction-style) .flex-direction-nav,
.highlights-h002 .image-carousel.style2 .flex-direction-nav {
    position: absolute;
    right: 0;
    top: -40px;
    width: 72px;
    height: 22px;
}

.highlights-h002 .photo-gallery:not(.flex-direction-style) .flex-direction-nav li a,
.highlights-h002 .image-carousel.style2 .flex-direction-nav li a {
    width: 30px;
    height: 22px;
    /*background: #01b7f2;*/
    color: #01b7f2;
    text-indent: -9999px;
    text-align: left;
    position: static;
    float: left;
    margin: 0;
    filter: alpha(opacity=100) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    -moz-opacity: 1 !important;
    -khtml-opacity: 1 !important;
    opacity: 1 !important;
    -moz-transition: none 1s ease-in-out;
    -o-transition: none 1s ease-in-out;
    -webkit-transition: none 1s ease-in-out;
    -ms-transition: none 1s ease-in-out;
    transition: none 1s ease-in-out;
}

.highlights-h002 .photo-gallery:not(.flex-direction-style) .flex-direction-nav li a:before,
.highlights-h002 .image-carousel.style2 .flex-direction-nav li a:before {
    position: absolute;
    display: block;
    font-family: FontAwesome;
    text-indent: 0;
    font-size: 12px;
    line-height: 22px;
}

.highlights-h002 .photo-gallery:not(.flex-direction-style) .flex-direction-nav li a.flex-prev,
.highlights-h002 .image-carousel.style2 .flex-direction-nav li a.flex-prev {
    margin-right: 10px;
}

.highlights-h002 .photo-gallery:not(.flex-direction-style) .flex-direction-nav li a.flex-prev:before,
.highlights-h002 .image-carousel.style2 .flex-direction-nav li a.flex-prev:before {
    content: "\f053";
    left: 8px;
}

.highlights-h002 .photo-gallery:not(.flex-direction-style) .flex-direction-nav li a.flex-next:before,
.highlights-h002 .image-carousel.style2 .flex-direction-nav li a.flex-next:before {
    content: "\f054";
    right: 9px;
}

.highlights-h002 .photo-gallery:not(.flex-direction-style) .flex-direction-nav li a.flex-disabled,
.highlights-h002 .image-carousel.style2 .flex-direction-nav li a.flex-disabled {
    background: #d9d9d9;
}

.highlights-h002 .photo-gallery.flex-direction-style .flex-direction-nav a:before {
    line-height: 1em;
}

.highlights-h002 .photo-gallery.flex-direction-style .flex-direction-nav a:hover,
.highlights-h002 .photo-gallery.flex-direction-style .flex-direction-nav a:focus {
    color: rgba(0, 0, 0, 0.8);
}

.highlights-h002 .photo-gallery.flex-direction-style .flex-direction-nav {
    display: block !important;
}

.highlights-h002 .webhub-box>.image-carousel.style2 .flex-direction-nav {
    top: -60px;
}

.highlights-h002 .photo-gallery {
    background: #fff;
    box-shadow: none;
    border: none;
    margin: 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

.highlights-h002 .photo-gallery img {
    width: 100%;
}

.highlights-h002 .photo-gallery .slides>li {
    display: none;
    overflow: hidden;
    position: relative;
}

.highlights-h002 .photo-gallery .flex-control-nav {
    width: auto;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.highlights-h002 .photo-gallery .flex-control-nav>li {
    float: left;
    margin-left: 5px;
    margin-right: 0;
}

.highlights-h002 .photo-gallery .flex-control-nav>li a {
    background: none;
    display: block;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    border: 1px solid #fff;
    text-indent: -9999px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
}

.highlights-h002 .photo-gallery .flex-control-nav>li a.flex-active {
    background: #fdb714;
    border-color: #fdb714;
}

.highlights-h002 .photo-gallery.style1 .flex-control-nav {
    display: none;
}

.highlights-h002 .photo-gallery.style1 .flex-direction-nav {
    display: none;
}

.highlights-h002 .photo-gallery.style3 .flex-control-nav {
    display: none;
}

.highlights-h002 .photo-gallery.style3 .flex-direction-nav {
    right: 10px;
    bottom: 10px;
    top: auto;
}

.highlights-h002 .photo-gallery.style4 .flex-control-nav {
    right: 25px;
    bottom: 25px;
    top: auto;
}

.highlights-h002 .photo-gallery.style4 .flex-direction-nav {
    display: none;
}

.highlights-h002 .image-carousel {
    position: relative;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    background: none;
}

.highlights-h002 .image-carousel .slides>li {
    display: none;
}

.highlights-h002 .image-carousel img {
    max-width: 100%;
}

.highlights-h002 .image-carousel.style1 {
    padding: 10px 45px;
    background: #fff;
}

.highlights-h002 .image-carousel.style1 .slides>li {
    margin-right: 10px;
    height: 70px;
    cursor: pointer;
    overflow: hidden;
}

.highlights-h002 .image-carousel.style1 .slides>li:last-child {
    margin-right: 0;
}

.highlights-h002 .image-carousel.style1 .slides>li img {
    height: 100%;
    width: auto;
    max-width: none;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.highlights-h002 .image-carousel.style1 .slides>li.flex-active-slide img,
.highlights-h002 .image-carousel.style1 .slides>li:hover img {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.highlights-h002 .image-carousel.style1 .flex-control-nav {
    display: none;
}

.highlights-h002 .image-carousel.style1 .flex-direction-nav {
    position: static;
    width: 0;
    height: 0;
}

.highlights-h002 .image-carousel.style1 .flex-direction-nav li a {
    background: rgba(1, 183, 242, 0.7);
    float: none;
    width: 25px;
    height: auto;
    position: absolute;
    top: 10px;
    bottom: 10px;
    margin: 0;
    filter: alpha(opacity=100) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    -moz-opacity: 1 !important;
    -khtml-opacity: 1 !important;
    opacity: 1 !important;
    text-indent: -9999px;
    text-align: left;
    color: #fff;
    -moz-transition: background 0.2s ease-in;
    -o-transition: background 0.2s ease-in;
    -webkit-transition: background 0.2s ease-in;
    -ms-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
}

.highlights-h002 .image-carousel.style1 .flex-direction-nav li a:hover {
    background: #01b7f2;
}

.highlights-h002 .image-carousel.style1 .flex-direction-nav li a:before {
    display: block;
    position: absolute;
    left: 9px;
    top: 50%;
    margin-top: -6px;
    text-indent: 0;
    font-family: FontAwesome;
    font-size: 12px;
    line-height: 1;
    text-shadow: none;
}

.highlights-h002 .image-carousel.style1 .flex-direction-nav li a.flex-prev {
    left: 10px;
}

.highlights-h002 .image-carousel.style1 .flex-direction-nav li a.flex-prev:before {
    content: "\f053";
}

.highlights-h002 .image-carousel.style1 .flex-direction-nav li a.flex-next {
    right: 10px;
}

.highlights-h002 .image-carousel.style1 .flex-direction-nav li a.flex-next:before {
    content: "\f054";
}

.highlights-h002 .image-carousel.style1 .flex-direction-nav li a.flex-disabled {
    background: #f5f5f5;
    color: #9e9e9e;
}

.highlights-h002 .image-carousel.style2 .slides>li {
    margin-right: 30px;
}

.highlights-h002 .image-carousel.style2 .slides>li:last-child {
    margin-right: 0;
}

.highlights-h002 .image-carousel.style2 .slides>li .hover-effect {
    z-index: 0;
}

.highlights-h002 .image-carousel.style2 .slides>li .hover-effect img {
    position: relative;
}

.highlights-h002 .image-carousel.style2 .slides>li .hover-effect .caption {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    right: 0;
    z-index: 3;
    margin: 0;
    background: #2d3e52;
    color: #fff;
    font-size: 1.1667em;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -moz-transition: -moz-transform 0.35s;
    -o-transition: -o-transform 0.35s;
    -webkit-transition: -webkit-transform 0.35s;
    -ms-transition: -ms-transform 0.35s;
    transition: transform 0.35s;
}

.highlights-h002 .image-carousel.style2 .slides>li .hover-effect:hover .caption {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.highlights-h002 .image-carousel.style2 .flex-control-nav {
    display: none;
}

.highlights-h002 .image-carousel.style2.row-2 li>a:first-child {
    margin-bottom: 30px;
}


/* 2.12. Image Style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.highlights-h002 .image-style {
    padding: 0;
    position: relative;
    background: #fff;
    padding: 30px 0 30px 30px;
}

.highlights-h002 .image-style.large-font {
    font-size: 1.2307em;
}

.highlights-h002 .image-style.style2 p {
    line-height: 1.5em;
}

.highlights-h002 .image-style.style2 .title {
    font-size: 1.25em;
    color: #01b7f2;
    margin-top: 20px;
}

.highlights-h002 .image-style.style2 .image-block {
    padding-left: 50px;
    position: relative;
    min-height: 200px;
}

.highlights-h002 .image-style.style2 .image-block li {
    position: absolute;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    padding: 5px;
    background: #fff;
    border: 1px solid #bfbfbf;
}

.highlights-h002 .image-style.style2 .image-block li a {
    display: block;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-mask-image: url(data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.highlights-h002 .image-style.style2 .image-block li a img {
    height: 100%;
    max-width: none;
}

.highlights-h002 .color-ano {
    color: #262626;
}


/* 2.13. Image Box Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.highlights-h002 .image-box .box,
.highlights-h002 .image-box.box {
    text-align: left;
    background: #fff;
    margin-bottom: 30px;
}

.highlights-h002 .image-box .box img,
.highlights-h002 .image-box.box img {
    width: 100%;
    height: auto;
}

.highlights-h002 .image-box .box>.details,
.highlights-h002 .image-box.box>.details {
    padding: 12px 15px;
}

.highlights-h002 .image-box .box>.details>*:last-child,
.highlights-h002 .image-box.box>.details>*:last-child {
    margin-bottom: 0;
}

.highlights-h002 .image-box .box .box-title,
.highlights-h002 .image-box.box .box-title {
    margin-bottom: 10px;
    color: #2d3e52;
    font-size: 16px;
}

.highlights-h002 .image-box.style1 .box-title,
.highlights-h002 .image-box.style10 .box-title {
    margin-bottom: 0;
}

.highlights-h002 .image-box.style7 .opacity-wrapper,
.highlights-h002 .image-box.style8 .opacity-wrapper,
.highlights-h002 .image-box.style12 .opacity-wrapper {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: #fdb714;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.highlights-h002 .image-box.style2 figure {
    float: left;
    width: 250px;
}

.highlights-h002 .image-box.style2 .details {
    padding: 20px 20px 10px 270px;
}

.highlights-h002 .image-box.style2 .details p {
    margin-bottom: 20px;
}

.highlights-h002 .image-box.style2 .box:after,
.highlights-h002 .image-box.style2.box:after {
    content: "";
    display: table;
    clear: both;
}

.highlights-h002 .image-box.style3 .details {
    padding: 15px;
}

.highlights-h002 .image-box.style3 .details .box-title {
    margin-bottom: 0;
}

.highlights-h002 .image-box.style3 .details .offers-content {
    font-size: 0.8333em;
    text-transform: uppercase;
    margin-bottom: 0;
}

.highlights-h002 .image-box.style3 .details .description {
    border-top: 1px solid #f5f5f5;
    padding-top: 10px;
}

.highlights-h002 .image-box.style4 .details .box-title {
    float: left;
    margin: 0;
}

.highlights-h002 .image-box.style4 .details .goto-detail {
    float: right;
    color: #98ce44;
    font-weight: bold;
    font-size: 16px;
}

.highlights-h002 .image-box.style4 .details:after {
    content: "";
    display: table;
    clear: both;
}

.highlights-h002 .image-box.style5 .box,
.highlights-h002 .image-box.style5.box,
.highlights-h002 .image-box.style11 .box,
.highlights-h002 .image-box.style11.box {
    position: relative;
}

.highlights-h002 .image-box.style5 figure,
.highlights-h002 .image-box.style11 figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
}

.highlights-h002 .image-box.style5 figure figcaption,
.highlights-h002 .image-box.style11 figure figcaption {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 10px;
    padding: 5px 20px 5px 20px;
    min-width: 130px;
    background: #2d3e52;
    -moz-transition: -moz-transform 0.35s;
    -o-transition: -o-transform 0.35s;
    -webkit-transition: -webkit-transform 0.35s;
    -ms-transition: -ms-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.highlights-h002 .image-box.style5 figure figcaption .caption-title,
.highlights-h002 .image-box.style11 figure figcaption .caption-title {
    margin: 0;
    color: #fff;
    line-height: 1.1em;
}

.highlights-h002 .image-box.style5 figure figcaption span,
.highlights-h002 .image-box.style11 figure figcaption span {
    color: #fdb714;
    text-transform: uppercase;
    font-size: 0.8333em;
    letter-spacing: 0.04em;
}

.highlights-h002 .image-box.style5 figure:hover figcaption,
.highlights-h002 .image-box.style11 figure:hover figcaption {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.highlights-h002 .image-box.style5 figure:hover a:before,
.highlights-h002 .image-box.style11 figure:hover a:before {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.highlights-h002 .image-box.style5 figure a,
.highlights-h002 .image-box.style11 figure a {
    display: block;
}

.highlights-h002 .image-box.style5 figure a:before,
.highlights-h002 .image-box.style11 figure a:before {
    position: absolute;
    z-index: 2;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(1, 183, 242, 0.3);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.highlights-h002 .image-box.style5 .details,
.highlights-h002 .image-box.style11 .details {
    padding: 0;
}

.highlights-h002 .image-box.style5 .details .detail,
.highlights-h002 .image-box.style11 .details .detail {
    margin: 0;
    border-top: 1px solid #f5f5f5;
    padding: 10px 20px;
}

.highlights-h002 .image-box.style5 .details .detail:first-child,
.highlights-h002 .image-box.style11 .details .detail:first-child {
    border: none;
}

.highlights-h002 .image-box.style5 .details .detail .box-title,
.highlights-h002 .image-box.style11 .details .detail .box-title {
    line-height: 40px;
    margin: 0;
}

.highlights-h002 .image-box.style5 .details .detail:after,
.highlights-h002 .image-box.style11 .details .detail:after {
    display: table;
    content: "";
    clear: both;
}

.highlights-h002 .image-box.style6 figure,
.highlights-h002 .image-box.style14 figure {
    padding: 0;
}

.highlights-h002 .image-box.style6 .details,
.highlights-h002 .image-box.style14 .details {
    margin-bottom: 0 !important;
    padding: 20px 30px;
    line-height: 1.7em;
}

.highlights-h002 .image-box.style6 .box:after,
.highlights-h002 .image-box.style6.box:after,
.highlights-h002 .image-box.style14 .box:after,
.highlights-h002 .image-box.style14.box:after {
    display: table;
    content: "";
    clear: both;
}

.highlights-h002 .image-box.style7 .box,
.highlights-h002 .image-box.style7.box {
    background: #fff;
    margin-bottom: 30px;
}

.highlights-h002 .image-box.style7 .box figure,
.highlights-h002 .image-box.style7.box figure {
    height: 72px;
}

.highlights-h002 .image-box.style7 .box .details,
.highlights-h002 .image-box.style7.box .details {
    padding: 20px 20px 25px;
    font-size: 1.0833em;
}

.highlights-h002 .image-box.style7 .box .details p,
.highlights-h002 .image-box.style7.box .details p {
    margin: 0;
}

.highlights-h002 .image-box.style8 .box {
    background: none;
}

.highlights-h002 .image-box.style8 figure {
    width: 25%;
    float: left;
    position: relative;
    overflow: hidden;
}

.highlights-h002 .image-box.style8 figure img {
    height: 100%;
    width: auto;
    max-width: none;
}

.highlights-h002 .image-box.style8 .details {
    width: 75%;
    float: left;
    padding: 20px;
    background: #fff;
}

.highlights-h002 .image-box.style8 .box:after,
.highlights-h002 .image-box.style8.box:after {
    display: table;
    content: "";
    clear: both;
}

.highlights-h002 .image-box.style9 figure a {
    position: relative;
    /*height: 160px; overflow: hidden;*/
    display: block;
    width: 100%;
}

.highlights-h002 .image-box.style9 figure img {
    width: 100%;
    height: auto;
}

.highlights-h002 .image-box.style9 .box-title {
    margin: 0;
}

.highlights-h002 .image-box.style9 .button {
    margin-top: 20px;
}

.highlights-h002 .image-box.style9 .details {
    background: #fff;
    padding: 15px;
    text-align: center;
}

.highlights-h002 .image-box.style9 .description {
    margin-top: 20px;
}

.highlights-h002 .image-box.style10 .details a.button {
    margin-top: 5px;
    float: right;
}

.highlights-h002 .image-box.style11 .box>.details {
    padding: 15px;
}

.highlights-h002 .image-box.style12 .box,
.highlights-h002 .image-box.style12.box {
    display: table;
}

.highlights-h002 .image-box.style12 figure,
.highlights-h002 .image-box.style12 .details,
.highlights-h002 .image-box.style12 .action {
    display: table-cell;
    vertical-align: top;
}

.highlights-h002 .image-box.style12 figure {
    margin-right: 30px;
    max-width: 30%;
}

.highlights-h002 .image-box.style12 figure a {
    position: relative;
    display: inline-block;
    height: 100%;
}

.highlights-h002 .image-box.style12 figure img {
    width: auto;
    max-width: 150px;
}

.highlights-h002 .image-box.style12 .details {
    border-right: 1px solid #f5f5f5;
    padding: 12px 20px 10px 25px;
    width: 100%;
}

.highlights-h002 .image-box.style12 .details>*:last-child {
    margin-bottom: 0;
}

.highlights-h002 .image-box.style12 .action {
    padding: 15px;
}

.highlights-h002 .image-box.style12 .action .price {
    text-align: center;
    float: none;
    margin: 0 0 10px 0;
}

.highlights-h002 .image-box.style12 .action button,
.highlights-h002 .image-box.style12 .action a.button {
    padding: 0 10px;
}

.highlights-h002 .image-box.style12 .image-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
}

.highlights-h002 .image-box.style13 figure {
    float: left;
    margin-right: 15px;
}

.highlights-h002 .image-box.style13 .details {
    padding: 0 15px;
}

.highlights-h002 .image-box.style13 .action {
    float: right;
}

.highlights-h002 .image-box.style13 .action .button {
    padding: 0 10px;
}

.highlights-h002 .image-box.style13 .price {
    float: none;
}

.highlights-h002 .image-box.style13 .box,
.highlights-h002 .image-box.style13.box {
    margin-bottom: 0;
}

.highlights-h002 .image-box.style13 .box:after,
.highlights-h002 .image-box.style13.box:after {
    display: table;
    content: "";
    clear: both;
}

.highlights-h002 .image-box.style14 figure {
    float: left;
    width: 63px;
}

.highlights-h002 .image-box.style14 .details {
    margin-left: 63px;
    padding: 15px 15px 0;
}

.highlights-h002 .image-box.style14 .price {
    text-align: left;
    display: inline;
    font-size: 1.4em;
}

.highlights-h002 .image-box.style14 .box-title {
    margin-bottom: 0;
}

.highlights-h002 .image-box.style14 .box-title small {
    line-height: 1em;
}

.highlights-h002 .image-box.style7 .opacity-wrapper,
.highlights-h002 .image-box.style8 .opacity-wrapper,
.highlights-h002 .image-box.style12 .opacity-wrapper {
    cursor: pointer;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.highlights-h002 .image-box.style7 figure,
.highlights-h002 .image-box.style8 figure,
.highlights-h002 .image-box.style12 figure {
    overflow: hidden;
    z-index: 0;
}

.highlights-h002 .image-box.style7 figure img,
.highlights-h002 .image-box.style8 figure img,
.highlights-h002 .image-box.style12 figure img {
    -moz-transition: -moz-transform 0.35s;
    -o-transition: -o-transform 0.35s;
    -webkit-transition: -webkit-transform 0.35s;
    -ms-transition: -ms-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    /*-webkit-backface-visibility: hidden;*/
}

.highlights-h002 .image-box.style7 figure:hover img,
.highlights-h002 .image-box.style8 figure:hover img,
.highlights-h002 .image-box.style12 figure:hover img {
    -webkit-transform: scale(1.07, 1.07);
    -moz-transform: scale(1.07, 1.07);
    -ms-transform: scale(1.07, 1.07);
    -o-transform: scale(1.07, 1.07);
    transform: scale(1.07, 1.07);
}

.highlights-h002 .image-box.style7 figure:hover .opacity-wrapper,
.highlights-h002 .image-box.style8 figure:hover .opacity-wrapper,
.highlights-h002 .image-box.style12 figure:hover .opacity-wrapper {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.highlights-h002 .sidebar .image-box.style14 {
    margin-bottom: 0;
}

.highlights-h002 .sidebar .image-box.style14 .box {
    padding-bottom: 15px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 15px;
}

.highlights-h002 .sidebar .image-box.style14 .box:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}


/* 2.15. Listing Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.highlights-h002 .listing-car.hotel .box-title:after,
.highlights-h002 .listing-car.cruise .box-title:after {
    display: table;
    content: "";
    clear: both;
}

.highlights-h002 .listing-car.hotel .feedback,
.highlights-h002 .listing-car.cruise .feedback {
    margin: 5px 0;
    border-top: 1px solid #f5f5f5;
    padding-top: 5px;
    border-bottom: 1px solid #f5f5f5;
}

.highlights-h002 .listing-car.hotel .feedback .review,
.highlights-h002 .listing-car.cruise .feedback .review {
    display: block;
    float: right;
    text-transform: uppercase;
    font-size: 0.8333em;
    color: #9e9e9e;
}

.highlights-h002 .listing-car.hotel .five-stars-container,
.highlights-h002 .listing-car.cruise .five-stars-container {
    color: #dbdbdb;
}

.highlights-h002 .listing-car.hotel .action .button:last-child,
.highlights-h002 .listing-car.cruise .action .button:last-child {
    float: right;
}

.highlights-h002 .listing-car.hotel .action .button,
.highlights-h002 .listing-car.cruise .action .button {
    width: 45%;
    padding: 0;
    text-align: center;
}

.highlights-h002 .listing-car.hotel .action .button+.button,
.highlights-h002 .listing-car.cruise .action .button+.button {
    width: 50%;
}

.highlights-h002 .listing-car.anuncio-car .details,
.highlights-h002 .listing-car.car .details {
    padding: 15px 0 0 !important;
    text-transform: uppercase;
}

.highlights-h002 .listing-car.anuncio-car .details .box-title,
.highlights-h002 .listing-car.car .details .box-title {
    text-transform: none;
}

.highlights-h002 .listing-car.anuncio-car .details .box-title:after,
.highlights-h002 .listing-car.car .details .box-title:after {
    display: table;
    content: "";
    clear: both;
}

.highlights-h002 .listing-car.anuncio-car .action .button,
.highlights-h002 .listing-car.car .action .button {
    text-align: center;
}

.highlights-h002 .listing-car.anuncio-car figure img {
    max-width: 100%;
}

.highlights-h002 .listing-car.anuncio-car .details .time {
    margin: 10px 0;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    letter-spacing: 0.04em;
}

.highlights-h002 .listing-car.anuncio-car .details .time:after {
    display: table;
    content: "";
    clear: both;
}

.highlights-h002 .listing-car.anuncio-car .details .time>div {
    width: 50%;
    float: left;
    padding: 7px 0;
}

.highlights-h002 .listing-car.anuncio-car .details .time>div>.icon {
    font-size: 16px;
    float: left;
}

.highlights-h002 .listing-car.anuncio-car .details .time>div>.icon+div {
    padding-left: 24px;
}

.highlights-h002 .listing-car.anuncio-car .details .time>div:first-child {
    border-right: 1px solid #f5f5f5;
}

.highlights-h002 .listing-car.anuncio-car .details .time>div+div {
    padding-left: 20px;
}

.highlights-h002 .listing-car.anuncio-car .details .ano {
    font-size: 0.8333em;
    text-align: center;
    letter-spacing: 0.04em;
    color: #cac5c5;
}

.highlights-h002 .listing-car.car figure img {
    max-width: 100%;
}

.highlights-h002 .listing-car.car .details .ano {
    font-size: 0.8333em;
    text-align: center;
}

.highlights-h002 .listing-car.car .details .amenities {
    text-align: center;
    border-top: 1px solid #f5f5f5;
    /*border-bottom: 1px solid #f5f5f5;*/
    margin: 10px 0;
    /* padding: 10px 0 6px;*/
}

.highlights-h002 .listing-car.cruise .time {
    padding-top: 5px;
}

.highlights-h002 .listing-car.cruise .time [class^="soap-icon"] {
    float: left;
    font-size: 20px;
}

.highlights-h002 .listing-car.cruise .time>div {
    margin-bottom: 10px !important;
}

.highlights-h002 .listing-car.cruise .time>div:first-child {
    border-right: 1px solid #f5f5f5;
}

.highlights-h002 .listing-car.cruise .time>div>div {
    padding-left: 20px;
}

.highlights-h002 .listing-car.cruise .action a.button {
    float: none !important;
}

.highlights-h002 .listing-car.cruise .description {
    text-align: center;
    font-size: 0.8333em;
    text-transform: uppercase;
}

.highlights-h002 .listing-car.anuncio-car .box,
.highlights-h002 .listing-car.anuncio-car.box,
.highlights-h002 .listing-car.car .box,
.highlights-h002 .listing-car.car.box,
.highlights-h002 .listing-style2.anuncio-car .box,
.highlights-h002 .listing-style2.anuncio-car.box,
.highlights-h002 .listing-style2.car .box,
.highlights-h002 .listing-style2.car.box {
    padding: 15px;
}

.highlights-h002 .listing-car.anuncio-car figure,
.highlights-h002 .listing-car.car figure,
.highlights-h002 .listing-style2.anuncio-car figure,
.highlights-h002 .listing-style2.car figure {
    background: #f5f5f5;
    display: table;
    /*height: 140px;*/
    width: 100%;
    table-layout: fixed;
}

.highlights-h002 .listing-car.anuncio-car figure>a,
.highlights-h002 .listing-car.anuncio-car figure>span,
.highlights-h002 .listing-car.car figure>a,
.highlights-h002 .listing-car.car figure>span,
.highlights-h002 .listing-style2.anuncio-car figure>a,
.highlights-h002 .listing-style2.anuncio-car figure>span,
.highlights-h002 .listing-style2.car figure>a,
.highlights-h002 .listing-style2.car figure>span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.highlights-h002 .listing-car.anuncio-car figure img,
.highlights-h002 .listing-car.car figure img,
.highlights-h002 .listing-style2.anuncio-car figure img,
.highlights-h002 .listing-style2.car figure img {
    width: 100%;
}

.highlights-h002 .listing-car.anuncio-car .icon,
.highlights-h002 .listing-style3.anuncio-car .icon {
    font-size: 16px;
}

.highlights-h002 .listing-car.anuncio-car .take-off>.icon,
.highlights-h002 .listing-style3.anuncio-car .take-off>.icon {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
    display: inline-block;
}

.highlights-h002 .listing-car.anuncio-car .landing>.icon,
.highlights-h002 .listing-style3.anuncio-car .landing>.icon {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
    display: inline-block;
}

.highlights-h002 .listing-car.car .amenities ul,
.highlights-h002 .listing-style3.car .amenities ul {
    display: inline-block;
    color: #9e9e9e;
}

.highlights-h002 .listing-car.car .amenities ul li,
.highlights-h002 .listing-style3.car .amenities ul li {
    float: left;
    text-align: center;
    padding: 0 5px;
    cursor: default;
    font-size: 0.8333em;
}

.highlights-h002 .listing-car.car .amenities ul li .glyphicon,
.highlights-h002 .listing-car.car .amenities ul li [class^="soap-icon"],
.highlights-h002 .listing-style3.car .amenities ul li .glyphicon,
.highlights-h002 .listing-style3.car .amenities ul li [class^="soap-icon"] {
    display: block;
    font-size: 16px;
    color: #d9d9d9;
    overflow: hidden;
}

.highlights-h002 .listing-car.car .amenities ul li .glyphicon,
.highlights-h002 .listing-style3.car .amenities ul li .glyphicon {
    line-height: 25px;
}

.highlights-h002 .listing-car.car .amenities ul li .glyphicon:before,
.highlights-h002 .listing-style3.car .amenities ul li .glyphicon:before {
    font-size: 12px;
}

.highlights-h002 .listing-car.car .amenities ul li:hover,
.highlights-h002 .listing-car.car .amenities ul li:hover .glyphicon,
.highlights-h002 .listing-car.car .amenities ul li:hover [class^="soap-icon"],
.highlights-h002 .listing-style3.car .amenities ul li:hover,
.highlights-h002 .listing-style3.car .amenities ul li:hover .glyphicon,
.highlights-h002 .listing-style3.car .amenities ul li:hover [class^="soap-icon"] {
    color: #01b7f2;
}

.highlights-h002 .listing-car.car .amenities ul li:hover [class^="soap-icon"]:before,
.highlights-h002 .listing-style3.car .amenities ul li:hover [class^="soap-icon"]:before {
    -webkit-animation: toTopFromBottom 0.35s forwards;
    -moz-animation: toTopFromBottom 0.35s forwards;
    animation: toTopFromBottom 0.35s forwards;
}

.highlights-h002 .listing-car.car .amenities ul:after,
.highlights-h002 .listing-style3.car .amenities ul:after {
    display: table;
    content: "";
    clear: both;
}

.highlights-h002 .offer-car {
    height: auto;
    background: #fbfbfb;
}

@media (min-width: 1200px) {
    .highlights-h002 .container {
        padding-left: 0;
        padding-right: 0;
    }
    /* add clearfix in the grid system */
    .highlights-h002 .row.add-clearfix>.col-lg-2:nth-child(2n+1) {
        clear: none;
    }
    .highlights-h002 .row.add-clearfix>.col-lg-2:nth-child(3n+1) {
        clear: none;
    }
    .highlights-h002 .row.add-clearfix>.col-lg-2:nth-child(4n+1) {
        clear: none;
    }
    .highlights-h002 .row.add-clearfix>.col-lg-2:nth-child(6n+1) {
        clear: both;
    }
    .highlights-h002 .row.add-clearfix>.col-lg-3:nth-child(2n+1) {
        clear: none;
    }
    .highlights-h002 .row.add-clearfix>.col-lg-3:nth-child(3n+1) {
        clear: none;
    }
    .highlights-h002 .row.add-clearfix>.col-lg-3:nth-child(4n+1) {
        clear: both;
    }
    .highlights-h002 .row.add-clearfix>.col-lg-4:nth-child(2n+1) {
        clear: none;
    }
    .highlights-h002 .row.add-clearfix>.col-lg-4:nth-child(3n+1) {
        clear: both;
    }
    .highlights-h002 .row.add-clearfix>.col-lg-6:nth-child(2n+1) {
        clear: both;
    }
}

@media (max-width: 480px) {
    .highlights-h002 .price {
        font-size: 16px;
    }
}

.highlights-h002 .owl-theme .owl-buttons div.owl-next {
    right: 10px;
}

.highlights-h002 .owl-theme .owl-buttons div.owl-prev {
    left: 6px;
}

.highlights-h002 .owl-carousel .item {
    width: 240px;
    margin-left: 7px;
}