.buscador-b008 {
    position: relative;
}

.buscador-b008 .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.buscador-b008 .bs-slider-overlay {
    left: 3%;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
}

.buscador-b008 .font-subtitle {
    font-size: 16px;
}

.buscador-b008 .bs-slider-overlay .slider-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2963;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-top: 100px;
}

.buscador-b008 .bs-slider-overlay .slider-subtitle {
    line-height: 1.36364;
    font-size: 22px;
    font-weight: 300;
    max-width: 615px;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.buscador-b008 .bs-slider-overlay .slider-btn {
    padding: 14px 36px;
    font-size: 14px;
    line-height: 19px;
    border-radius: 0;
    border-width: 2px;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
    margin-top: 40px;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.buscador-b008 .bs-slider-overlay .slider-btn:hover {
    background: #ffffff;
    color: #333333;
}

.buscador-b008 .no-padding>.item {
    /*background: url('../img/component_slider-search_cod_130_04.jpg');*/
    background-size: cover;
    height: 700px;
    width: 100%;
    display: block;
}

.buscador-b008 .item.active .slider-title {
    opacity: 1;
    margin-top: 0;
}

.buscador-b008 .item.active .slider-subtitle {
    opacity: 1;
}

.buscador-b008 .item.active .slider-btn {
    opacity: 1;
    width: 170px;
}

.buscador-b008 .item.active .quote-btn {
    background: #F15322;
    border: 1px solid #F15322;
}

.buscador-b008 .item.active .quote-btn:hover {
    color: #fff;
    background-color: #a32e0a;
    border-color: #a32e0a;
}

.buscador-b008 .carousel-indicators {
    left: 12%;
}

.buscador-b008 .carousel-indicators li {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: #ffffff;
    margin-right: 10px;
}

.buscador-b008 .carousel-indicators li.active {
    width: 15px;
    height: 15px;
    background: #F15322;
    border: 1px solid #F15322;
}

.buscador-b008 .request-quote-box .request-quote {
    width: 100%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    color: #ffffff;
}

.buscador-b008 .request-quote-box .request-quote .quote-title {
    margin-top: 0;
}

.buscador-b008 .request-quote-box .request-quote .quote-subtitle {
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.buscador-b008 .request-quote-box .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
    margin-bottom: 10px;
}

.buscador-b008 .request-quote-box .bootstrap-select>.dropdown-toggle {
    border-radius: 0;
    height: 55px;
}

.buscador-b008 .request-quote-box .caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #B7B7B7;
}

.buscador-b008 .request-quote-box .dropup .caret {
    border-bottom: none;
}

.buscador-b008 .request-quote-box .dropdown-menu {
    padding: 0 0 5px 0;
    border-radius: 0;
    margin-top: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    /*border: 1px solid #FFF;*/
}

.buscador-b008 .request-quote-box .dropdown-menu.open {
    max-height: unset !important;
    overflow: unset !important;
    min-height: unset !important;
}

.buscador-b008 .request-quote-box .dropdown-menu.inner {
    overflow-y: unset !important;
}

.buscador-b008 .request-quote-box .bootstrap-select.btn-group .dropdown-menu li {
    height: 45px;
}

.buscador-b008 .request-quote-box .bootstrap-select.btn-group .dropdown-menu li a {
    line-height: 45px;
}

.buscador-b008 .request-quote-box .quote-req-btn {
    color: #fff;
    padding: 14px 36px;
    font-size: 16px;
    line-height: 19px;
    border-radius: 0;
    border-width: 2px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 1400px) and (max-width: 1500px) {
    .buscador-b008 .request-quote-box .request-quote {
        top: -450px;
    }
    .buscador-b008 .request-quote-box .request-quote .quote-title {
        font-size: 25px;
    }
    .buscador-b008 .request-quote-box .request-quote .quote-subtitle {
        font-size: 14px;
    }
    .buscador-b008 .request-quote-box .bootstrap-select>.dropdown-toggle {
        height: 45px;
    }
    .buscador-b008 .request-quote-box .quote-req-btn {
        padding: 11px 25px;
        font-size: 14px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .buscador-b008 .request-quote-box .request-quote .quote-title {
        font-size: 25px;
    }
    .buscador-b008 .request-quote-box .request-quote .quote-subtitle {
        font-size: 14px;
    }
    .buscador-b008 .request-quote-box .bootstrap-select>.dropdown-toggle {
        height: 45px;
    }
    .buscador-b008 .request-quote-box .quote-req-btn {
        padding: 11px 25px;
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .buscador-b008 .item.active .slider-btn {
        width: 100%;
        display: block;
    }
    .buscador-b008 .carousel-indicators {
        left: 50%;
    }
    .buscador-b008 .bs-slider-overlay {
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        left: 25%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .buscador-b008 .bs-slider-overlay .slider-title {
        text-align: center;
    }
    .buscador-b008 .bs-slider-overlay .slider-subtitle {
        text-align: center;
    }
    .buscador-b008 .bs-slider-overlay .quote-btn {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 195px;
        padding: 10px 0;
    }
}

@media (max-width: 991px) {
    .buscador-b008 .bs-slider-overlay {
        display: none;
    }
    .buscador-b008 .request-quote-box .request-quote {
        margin-top: 0px;
        padding: 20px;
    }
    .buscador-b008 .item {
        height: auto;
    }
    .buscador-b008 .request-quote-box .quote-req-btn {
        width: 100%;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .buscador-b008 .bs-slider-overlay {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .buscador-b008 .bs-slider-overlay .slider-title {
        text-align: center;
        font-size: 30px;
    }
    .buscador-b008 .bs-slider-overlay .slider-subtitle {
        text-align: center;
        font-size: 20px;
        max-width: 100%;
    }
    .buscador-b008 .bs-slider-overlay .slider-btn {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 120px;
        margin-top: 20px;
        height: 40px;
        padding: 9px 5px;
    }
    .buscador-b008 .carousel-indicators {
        bottom: -5px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .buscador-b008 .bs-slider-overlay {
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .buscador-b008 .bs-slider-overlay .slider-title {
        text-align: center;
        font-size: 22px;
    }
    .buscador-b008 .bs-slider-overlay .slider-subtitle {
        text-align: center;
        font-size: 16px;
        max-width: 100%;
    }
    .buscador-b008 .bs-slider-overlay .slider-btn {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 120px;
        margin-top: 10px;
        height: 40px;
        padding: 5px 5px;
        font-size: 14px;
        height: 30px;
    }
    .buscador-b008 .carousel-indicators {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .buscador-b008 .bs-slider-overlay {
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .buscador-b008 .bs-slider-overlay .slider-title {
        text-align: center;
        font-size: 16px;
    }
    .buscador-b008 .bs-slider-overlay .slider-subtitle {
        text-align: center;
        font-size: 12px;
        max-width: 100%;
    }
    .buscador-b008 .bs-slider-overlay .slider-btn {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 85px;
        margin-top: 10px;
        height: 40px;
        padding: 5px 5px;
        font-size: 12px;
        height: 30px;
    }
    .buscador-b008 .carousel-indicators {
        display: none;
    }
}