/*LESS VARIABLES*/


@section-name:x_component_boxes_cod_243;
@font-general: 'Roboto', sans-serif;
@background:url("../images/parallax1.jpg");
@color-default : #ffffff;
@btn-color:#ffffff;
@border-default:#ffffff;
@border-radius:3px;
@font-title:110px;
@font-description:font-description;
@btn-text:12px;
/*SECTION CSS*/
.@{section-name} {
  border-radius: 0;
  background: @background;
  margin-bottom: 0;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 40px;


  .color-default {
    color: @color-default;
  }
  .btn-color {
    background: @btn-color;
  }
  .border-default{
    border: 1px solid @border-default !important;
  }
  .layout-btn {
    border-radius: @border-radius;
  }
  .font-title {
    font-size: @font-title;
  }
  .font-description{
    font-size: @font-description;
  }
  .container .jumbotron, .container-fluid .jumbotron {
    background: transparent;
  }

  .item-img{
    overflow: hidden;
    width: 100%;
    height: 250px;

  }

  .item-img img{
    width: 100%;

    &:hover{
      width:130%;
      transition: .5s;

    }

  }

  .item-content{

    background: #ff4754;

  }

  .item-text{
    padding:20px;
    color: #ffffff;

  }

  .item-text>h4>a{

    text-decoration: none;
    color: #ffffff;
  }



  .jumbotron .pre-title{
    color: #ffffff;
    font-size: 50px;
    line-height: 63px;
    letter-spacing: -1.8px;
    text-transform: uppercase;
    text-align: left;
  }
  .jumbotron .font-title {
    font-family: @font-general;
    font-size: @font-title;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: 0em;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: left;
  }
  .jumbotron .font-description{
    font-weight: 500;
    font-style: normal;
    line-height: 1.43;
    font-family: @font-general;
    letter-spacing: 0em;
    text-align: inherit;
    color: #ffffff;
    padding-bottom: 40px;
    margin-top: 20px;
  }


  .btn-theme {
    font-size: 12px;
    padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 0.25px;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    border-radius: 13px;
    text-transform: uppercase;
    border: 1px solid #ff4754;
    background: #FF4754;


      &:hover{

        color: #FF4754;
        background: transparent;

      }

  }
}

@media screen and (max-width: 768px){

  .@{section-name} {
    .jumbotron .font-title{

      font-size: 70px;
    }
    .item-img{
      overflow: hidden;
      width: 100%;
      height: 150px;

    }

  }



}


@media screen and (max-width: 640px){

  .@{section-name} {
    .jumbotron .font-title{

      font-size: 48px;
    }

    .jumbotron .pre-title{
      font-size: 30px;
    }
    .item-img{
      overflow: hidden;
      width: 100%;
      height: 250px;

    }

  }



}