
.x_component_boxes_cod_243 {
  border-radius: 0;
  margin-bottom: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.x_component_boxes_cod_243 .color-default {
  color: #ffffff;
}
.x_component_boxes_cod_243 .btn-color {
  background: #ffffff;
}

.x_component_boxes_cod_243 .border-default {
  border: 1px solid #ffffff !important;
}
.x_component_boxes_cod_243 .layout-btn {
  border-radius: 3px;
}
.x_component_boxes_cod_243 .font-title {
  font-size: 110px;
}
.x_component_boxes_cod_243 .font-description {
  font-size: font-description;
}
.x_component_boxes_cod_243 .container .jumbotron.clearfix,
.x_component_boxes_cod_243 .container .jumbotron,
.x_component_boxes_cod_243 .container-fluid .jumbotron {
  background: transparent;
  clear:both;
}
.x_component_boxes_cod_243 .item-img {
  overflow: hidden;
  width: 100%;
  height: 250px;
}
.x_component_boxes_cod_243 .item-img img {
  width: 100%;
}
.x_component_boxes_cod_243 .item-img img:hover {
  width: 130%;
  transition: .5s;
}
.x_component_boxes_cod_243 .item-content {
  background: #ff4754;
    margin-top: 40px;
}
.x_component_boxes_cod_243 .item-text {
  padding: 20px;
  color: #ffffff;
}
.x_component_boxes_cod_243 .item-text > h4 > a {
  text-decoration: none;
  color: #ffffff;
}
.x_component_boxes_cod_243 .jumbotron .pre-title {
  color: #ffffff;
  font-size: 50px;
  line-height: 63px;
  letter-spacing: -1.8px;
  text-transform: uppercase;
  text-align: left;
}
.x_component_boxes_cod_243 .jumbotron .font-title {
  font-family: 'Roboto', sans-serif;
  font-size: 110px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0em;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: left;
}
.x_component_boxes_cod_243 .jumbotron .font-description {
  font-weight: 500;
  font-style: normal;
  line-height: 1.43;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0em;
  text-align: inherit;
  color: #ffffff;
  padding-bottom: 40px;
  margin-top: 20px;
}
.x_component_boxes_cod_243 .btn-theme {
  font-size: 12px;
  padding-left: 35px;
  padding-right: 35px;
  letter-spacing: 0.25px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  border-radius: 13px;
  text-transform: uppercase;
  border: 1px solid #ff4754;
  background: #FF4754;
}
.x_component_boxes_cod_243 .btn-theme:hover {
  color: #FF4754;
  background: transparent;
}
@media screen and (max-width: 768px) {
  .x_component_boxes_cod_243 .jumbotron .font-title {
    font-size: 70px;
  }
  .x_component_boxes_cod_243 .item-img {
    overflow: hidden;
    width: 100%;
    height: 150px;
  }
}
@media screen and (max-width: 640px) {
  .x_component_boxes_cod_243 .jumbotron .font-title {
    font-size: 48px;
  }
  .x_component_boxes_cod_243 .jumbotron .pre-title {
    font-size: 30px;
  }
  .x_component_boxes_cod_243 .item-img {
    overflow: hidden;
    width: 100%;
    height: 250px;
  }
}
