 .icon_block_old_model_003 {
     color: #fff;
     padding-top: 50px;
     padding-bottom: 50px;
 }
 
 .icon_block_old_model_003 .col_edit .cont-text h3 {
     font-size: 15px;
     transition: 0.5s;
 }
 
 .icon_block_old_model_003 .item_icon {
     text-align: center;
     font-size: 40px;
     margin-top: 20px;
     transition: 0.5s;
 }
 
 .icon_block_old_model_003 .col_edit {
     margin-right: 5px;
     margin-left: 5px;
     background-color: #fdb515;
     min-height: 150px;
     box-shadow: 0 5px 5px #000;
     transition: 0.5s;
     max-width: 20%;
 }
 
 .icon_block_old_model_003 .col_edit:hover {
     position: relative;
     top: 5px;
     box-shadow: none;
     transition: 0.5s;
 }
 
 .icon_block_old_model_003 .col_edit:hover .item_icon {
     font-size: 50px;
     transition: 0.5s;
 }
 
 .icon_block_old_model_003 .col_edit:hover .cont-text h3 {
     margin-top: 0px;
     transition: 0.5s;
     font-size: 17px;
 }
 
 @media all and (min-width: 990px) and (max-width:1213px) {
     .icon_block_old_model_003 .bottom_margin {
         margin-bottom: 30px;
     }
 }
 
 @media all and (max-width:1102px) {
     .icon_block_old_model_003 .item_icon {
         margin-top: 0px;
         padding-top: 20px;
     }
     .icon_block_old_model_003 .col_edit {
         margin-right: inherit;
         margin-left: inherit;
         background-color: #fdb515;
         min-height: 150px;
         box-shadow: 0 5px 5px #000;
         transition: 0.5s;
         max-width: inherit;
     }
 }