<section id="footer" >
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <div class="cont-logo-footer">
                        <img data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=23795" alt="">
                    </div>
                </div>
                <div class="center-block cont-social text-center " data-social="true">
                    <a target="_blank" href="#icon-link#"><i class="#icon-class#" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-5 cont-links-footer text-center" data-editable="true">
                Texto
            </div>
            <div class="col-md-4 cont-info">
                <div class="cont-bootom-footer text-left txt-center ">
                    <div><i data-icon="true" class="fa fa-envelope-o"></i>
                        <div class="inline-block color-default" data-editable="true">email@email.com</div>
                    </div>
                    <div><i data-icon="true" class="fa fa-phone"></i>
                        <div class="inline-block" data-editable="true">(99) 9999.9999</div>
                    </div>
                    <div><i data-icon="true" class="fa fa-map-signs"></i>
                        <div class="inline-block" data-editable="true">Endereço</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>