<section class="x_component_cta_cod_012 pad-default-element">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="text-banner">
                <h1 class="text-capitalize font-title" data-editable="true">30% off! new car discount</h1>
                <div class="font-description" data-editable="true">
                    Save up to 30% if you’re the first owner of the <br> vehicle and your car is only two years old.
                </div>
                <a class="btn btn-lg btn-theme btn-color border-default layout-btn text-capitalize" href="javascript:void(0);" role="button">
                    <div data-editable="true">get a qoute</div>
                </a>
            </div>
        </div>
    </div>
</section>