<section class="image_box_01 pad-default-element">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-push-4 col-md-4 col-md-pull-4">
                    <div class="thumbnail">
                        <img class="img-responsive" src="http://webhub.sitewebmotors.com.br/uploads/elements/0bf78c45ca467af67937ec5709af41ce/assets/images/thumb-2.jpg" alt="" data-image="true">
                        <div class="caption text-center text-uppercase">
                            <div class="text" data-editable="true">
                                Escreva um Texto
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>