<section class="cta-c001 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12 text-right text-center-xs">
                <h1 class="large mb8" data-editable="true">10,000</h1>
                <h2 data-editable="true">Clientes satisfeitos</h2>
            </div>
            <div class="col-md-2 text-center hidden-sm hidden-xs icon-cta-c001">
                <div class="fa-inverse fa-5x"><i class="fa fa-plus color-default" data-icon="true"></i></div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12 text-center-xs">
                <h1 class="large" data-editable="true">Ilimitado</h1>
                <h2 data-editable="true">Modelos para todos os gostos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="text-description-cta" data-editable="true">Aqui nosso objetivo é tornar seu sonho em realidade.
                </div>
                <div class="btn btn-color layout-btn">
                    <div data-editable="true">Conheça nossa loja</div>
                </div>
            </div>
        </div>
    </div>
</section>