<section class="service-s002 pad-default-elements">
    <div class="container-fluid">
        <div class="carousel-wrapper">
            <div class="row">
                <ul class="owl-carousel carousel-fw" data-columns="3" data-autoplay="" data-pagination="yes" data-arrows="no" data-single-item="no" data-items-desktop="3" data-items-desktop-small="2" data-items-tablet="2" data-items-mobile="1">
                    <li class="item">
                        <img class="img-responsive" data-image="true" src="img/img1.jpg" alt="">
                    </li>
                    <li class="item">
                        <img class="img-responsive" data-image="true" src="img/img2.jpg" alt="">
                    </li>
                    <li class="item">
                        <img class="img-responsive" data-image="true" src="img/img3.jpg" alt="">
                    </li>
                    <li class="item">
                        <img class="img-responsive" data-image="true" src="img/img4.jpg" alt="">
                    </li>
                    <li class="item">
                        <img class="img-responsive" data-image="true" src="img/img5.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>