<section class="cta-c004 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center">
                <h1 data-editable="true">Ofertas exclusivas</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div data-newsletter="true">
                    <form data-form-type="newsletter" data-form-layout="newsletter-7"></form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="lead" data-editable="true">*Newsletters serão enviados uma vez por mês.</div>
            </div>
        </div>
    </div>
</section>