<section class="x_component_services_cod_134">
    <img class="img-responsive bg-image" src="assets/img/component_title_cod_134_01.jpg" alt="" width="100%" data-image="true">
    <div class="container">
        <div class="row">
            <h1 class="font-title page-title" data-editable="true">Links</h1>
            <ul class="list-unstyled list-inline breadcrumb-component">
                <li>
                    <div data-editable="true">Home </div>
                </li>
                <li>
                    <div data-editable="true">Pages </div>
                </li>
                <li>
                    <div data-editable="true">Services 1 </div>
                </li>
            </ul>
        </div>
    </div>
</section>