<section class="highlights-h016">
    <div class="container">
        <div class="row">
            <div class="cont-estoque col-md-12 center ">
                <div class="col-md-3 col-xs-12" data-destaque-template="true">
                    <div class="item">
                        <div class="cont-itens">
                            <div class="interno">
                                <div class="item ">
                                    <img src="#destaqueImage#" class="img-responsive" alt=" ">
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                            <div class="cont_info_item_estoque ">
                                <div class="titulo_item ">
                                    <h3>#destaqueModel#</h3>
                                </div>
                                <div class="cont_valor  pull-right">
                                    <p class="valor background-theme">#destaquePrice#</p>
                                </div>
                                <span class="clearfix"></span>
                                <div class="cont-velocimetro">
                                    <i class="fa fa-tachometer pull-left" data-icon="true"></i>
                                    <p class="pull-left">#destaqueKm#</p>
                                </div>
                                <div class="km"></div>
                                <span class="clearfix"></span>
                                <div class="detalhes ">
                                    <ul>
                                        <li>#destaqueEstado#</li>
                                        <li><i class="fa fa-circle" aria-hidden="true"></i>#destaqueYear#</li>
                                        <li><i class="fa fa-circle" aria-hidden="true"></i>#destaqueCambio#</li>
                                        <li><i class="fa fa-circle" aria-hidden="true"></i>#destaqueCor#</li>
                                        <li><i class="fa fa-circle" aria-hidden="true"></i>#destaqueCombustivel#</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>