<section class="x_component_footer_cod_286 pad-default-element">
    <div class="container">
        <div class="row text-xs-center">
            <div class="col-sm-5">
                <div class="footer-logo">
                    <img data-image="true" class="img-responsive" src="assets/img/component_footer_cod_286_1.png" alt="">
                </div>
                <div class="footer-text" data-editable="true">
                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                <div class="footer-social">
                    <ul class="list-unstyled footer-social list-inline" data-social="true">
                        <li><a class="color-default-hover" target="_blank" href="#icon-link#"><i class="#icon-class#"></i> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-4 col-md-4 sm-height">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled footer-menu">
                            <li class="active">
                                <div data-editable="true">
                                    HOME
                                </div>
                            </li>
                            <li>
                                <div data-editable="true">
                                    ABOUT
                                </div>
                            </li>
                            <li>
                                <div data-editable="true">
                                    PORTFOLIO
                                </div>
                            </li>
                            <li>
                                <div data-editable="true">
                                    STORE
                                </div>
                            </li>
                            <li>
                                <div data-editable="true">
                                    BLOG
                                </div>
                            </li>
                            <li>
                                <div data-editable="true">
                                    CONTACTS
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled footer-menu">
                            <li>
                                <div data-editable="true">
                                    COMPARE
                                </div>
                            </li>

                            <li>
                                <div data-editable="true">
                                    WISHLIST
                                </div>
                            </li>
                            <li>
                                <div data-editable="true">
                                    DELIVERY
                                </div>
                            </li>
                            <li>
                                <div data-editable="true">
                                    HELP
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <div data-editable="true">Bikes Store is proudly powered by Entries (RSS) and Comments (RSS) Privacy Policy</div>
                </div>
            </div>
        </div>
    </div>
</section>