.destaque_013 .padding_top_30 {
  padding-top: 30px;
}
.destaque_013 .position_relative {
  position: relative;
}
.destaque_013 .brackground_chumbo {
  background-color: #555555;
}
.destaque_013.reset .navbar {
  min-height: inherit;
  border-radius: 0px;
  border: 0px solid transparent;
  margin-bottom: 0px;
}
.destaque_013 .cont-itens .interno .item > img{
	width:100%;
}
@media (min-width: 768px) {
  .destaque_013.reset .navbar {
    border-radius: 0px;
  }
}
.destaque_013.reset .navbar-default {
  background-color: transparent;
  border-color: inherit;
}
.destaque_013.reset .form-group {
  width: 100%;
  margin-bottom: 15px;
}
.destaque_013.reset .form-group > .form-control {
  border-radius: 25px;
  width: 100%;
}
.destaque_013 .cont_titulo_sessao {
  color: #000;
  margin-bottom: 30px;
  margin-top: 30px;
}
.destaque_013 .cont_titulo_sessao > .titulo {
  display: inline;
  font-size: 28px;
}
.destaque_013 .cont_titulo_sessao > span {
  background-color: red;
  display: inline-block;
  height: 20px;
  width: 5px;
}
.destaque_013 .cont_titulo_sessao > span:first-child {
  margin-right: 10px;
}
.destaque_013 .cont_titulo_sessao > span:last-child {
  margin-left: 10px;
}
.destaque_013 .center > .slick-next {
  background-color: #c3cbc8;
  height: 30px;
  width: 30px;
  z-index: 9;
  right: 46%;
  bottom: 0px;
  border-radius: 30px 30px 30px 30px;
  top: inherit;
}
@media all and (max-width: 1092px) {
  .destaque_013 .center > .slick-next {
    right: 44%;
  }
}
.destaque_013 .center > .slick-next:before {
  font-family: FontAwesome;
  content: '\f105';
  color: #fff;
}
.destaque_013 .center > .slick-prev {
  background-color: #c3cbc8;
  height: 30px;
  width: 30px;
  z-index: 9;
  left: 46%;
  bottom: 0px;
  border-radius: 30px 30px 30px 30px;
  top: inherit;
}
@media all and (max-width: 1092px) {
  .destaque_013 .center > .slick-prev {
    left: 44%;
  }
}
.destaque_013 .center > .slick-prev:before {
  font-family: FontAwesome;
  content: '\f104';
  color: #fff;
}
.destaque_013 .cont-estoque {
  padding-bottom: 70px;
}
.destaque_013 .cont-estoque .interno > .slick-next {
  background-color: #fff;
  height: 40px;
  z-index: 9;
  right: -1px;
  top: 50%;
  border-radius: 30px 0px 0px 30px;
}
.destaque_013 .cont-estoque .interno > .slick-next:before {
  font-family: FontAwesome;
  content: '\f101';
  color: #f76d2b;
}
.destaque_013 .cont-estoque .interno > .slick-prev {
  background-color: #fff;
  height: 40px;
  z-index: 9;
  left: -1px;
  top: 50%;
  border-radius: 0px 30px 30px 0px;
}
.destaque_013 .cont-estoque .interno > .slick-prev:before {
  font-family: FontAwesome;
  content: '\f100';
  color: #f76d2b;
}
.destaque_013 .cont-estoque .interno .slick-list > .slick-track > .item > img {
  margin: auto;
  width: 100%;
}
.destaque_013 .cont-estoque .cont_info_item_estoque {
  color: #000;
}
.destaque_013 .cont-estoque .cont_info_item_estoque .cont_valor {
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #173d76;
}
.destaque_013 .cont-estoque .cont_info_item_estoque .cont_valor > .valor {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0px;
  padding: 5px;
}
.destaque_013 .cont-estoque .cont_info_item_estoque .cont-velocimetro > .velocimetro {
  background: url('../img/velo.png') no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}
.destaque_013 .cont-estoque .cont_info_item_estoque .detalhes {
  font-size: 12px;
}
.destaque_013 .cont-estoque .cont_info_item_estoque .detalhes > ul {
  padding: 0px;
}
.destaque_013 .cont-estoque .cont_info_item_estoque .detalhes > ul > li {
  display: inline-block;
}
.destaque_013 .cont-estoque .cont_info_item_estoque .detalhes > ul > li i {
  font-size: 5px;
  vertical-align: middle;
  padding: 0 5px 0 5px;
  color: #ccc;
}
