
    <section class="header_old_mod_stand_002 navbar-wrapper menu-old-002">
        <div id="header" class="container">
            <nav class="navbar navbar-default xs-text-center reser_border">
                <div class="header_old_mod_stand_002_cont_info_header row">
                    <div class="cont_infos">
                        <div class=" col-md-4 col-xs-12 cont_logo">
                            <img src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=25698" alt="" data-image="true" class="img-responsive">
                        </div>
                        <div class="col-md-7 col-xs-12 col-md-offset-1">
                            <div class="col-md-6 col-xs-12 cont_endereco text-right">
                                <div data-editable="true" data-disable-return="true">Av. das Americas, 500 - DownTown</div>
                                <div data-editable="true" data-disable-return="true">Barra da Tijuca - Rio de Janeiro</div>
                                <div data-editable="true" data-disable-return="true">ver mapa</div>
                            </div>
                            <div class="col-md-3 col-xs-12 cont_tel text-right">
                                <div data-editable="true" data-disable-return="true">(00) 0000-0000</div>
                                <div data-editable="true" data-disable-return="true">(00) 0000-0000</div>
                            </div>
                              <div class="col-md-3 col-xs-12  cont_redes">
                                <i class="fa fa-facebook-official " data-icon="true"></i>
                                <i class="fa fa-twitter" data-icon="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse background-theme cont-menu">
                    <ul data-menu="menu" class="menu">


                    </ul>
                </div>
            </nav>
        </div>
    </section>
