.x_component_footer_cod_066 .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.x_component_footer_cod_066 .gallery-item {
    position: relative;
}

.x_component_footer_cod_066 .gallery-item img+.gallery-item-no {
    position: absolute;
    top: 10px;
    left: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_066 .gallery-item .cover-item {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 0;
    width: 0;
    content: '';
    opacity: 0;
}

.x_component_footer_cod_066 .gallery-item .contents {
    top: 0;
    left: 0;
    min-height: 50px;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    vertical-align: center;
    text-align: center;
}

.x_component_footer_cod_066 .gallery-item .contents h3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 1px;
}

.x_component_footer_cod_066 .gallery-item .contents>i {
    font-size: 30px;
}

.x_component_footer_cod_066 .gallery-item .contents p {
    font-size: 15px;
    line-height: 22px;
}

.x_component_footer_cod_066 .gallery-item .contents .action-link {
    margin-right: 10px;
}

.x_component_footer_cod_066 .gallery-item .contents .action-link div {
    display: inline-block;
    margin-right: 15px;
}

.x_component_footer_cod_066 .gallery-item .contents .action-link div>a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_066 .gallery-item .contents .action-link:hover>i {
    opacity: 0.6;
}

.x_component_footer_cod_066 .gallery-item .contents .action-link:hover>div>a {
    opacity: 0.6;
}

.x_component_footer_cod_066 .gallery-item:hover .cover-item {
    height: 80%;
    width: 80%;
    opacity: 1;
}

.x_component_footer_cod_066 .gallery-item:hover>.contents {
    opacity: 1;
}

.x_component_footer_cod_066 .gallery-item:hover>img+p {
    opacity: 0;
}