#footer.footer-background {
    background: #ffffff;
}

#footer ul {
    padding: 0px;
}

#footer ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

#footer .container-fluid.full {
    padding: 0px;
}

#footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer .cont-social a {
    text-align: center;
}

#footer .cont-social i {
    font-size: 15px;
    padding: 0 10px;
}

#footer p {
    line-height: 10.5px;
}

#footer a {
    color: #000;
}

#footer .cont-info {
    margin-top: 30px;
}

#footer .cont-info .inlines,
#footer .cont-info .inlines>* {
    display: inline-block;
}

#footer .cont-info i {
    margin-right: 15px;
    font-size: 16px;
}

#footer .cont-links-footer {
    padding-top: 30px;
}

#footer .cont-logo-footer img {
    width: 156px;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media all and (max-width: 480px){
  #footer .cont-bootom-footer {
      line-height: 2;
  }
}