.btn-change-video{
	display:none;}
.video-001 {
    color: #666;
    background: #fdfdfd;
}

.video-001 small {
    font-style: italic;
    color: #999;
}

.video-001 .tmargin50 {
    margin-top: 50px;
}

.video-001 .tmargin10 {
    margin-top: 10px;
}
.video-001 iframe {
  	width: 100%;
	height: 250px;  
}
.video-001 .color-text {
    color: #bbb8b8;
}