<div class="footer-f001 footer-basic pad-default-elements">
    <footer>
        <div class="social" data-social="true" data-social-content="#">
            <a class="color-default border-default layout-btn" target="_blank" href="#icon-link#">
                <i class="#icon-class#" aria-hidden="true"></i>
            </a>
        </div>
        <ul class="list-inline">
            <li data-editable="true">linha um</li>
            <li data-editable="true">linha dois</li>
            <li data-editable="true">linha três</li>
            <li data-editable="true">linha quatro</li>
        </ul>
        <p class="copyright text-center" data-editable="true">Company Name © 2017</p>
    </footer>
</div>