.service-s004 {
    color: #666;
}
.service-s004 .icon-services-004 {
    padding: 50px 15px;
}
.service-s004 .icon-services-004 i {
    font-size: 64px;
  	line-height: 10px;
}
.service-s004 .icon-services-004 a{
  color:inherit;
}
.service-s004 .icon-services-004 a:focus,
.service-s004 .icon-services-004 a:hover {
    opacity:0.8;
    text-decoration: none;
  	font-size:inherit
  
}

.service-s004 .text-description {
    font-size: 24px;
    line-height: 32px;
}
.service-s004 .mb16 {
    margin-bottom: 16px;
}

