.destaque_old_mod_003 .item {
    color: #fff;
    margin: 5px;
}

.destaque_old_mod_003 .item .detalhes {
    padding: 10px;
    background-color: #3c3838;
    position: relative;
}

.destaque_old_mod_003 .slick-slide img {
    width: 100%;
}

.destaque_old_mod_003 .slick-dots li button:before {
    font-size: 12px;
}

a.destaque_old_mod_003 .item {
    color: #fff;
    margin: 5px;
}

.destaque_old_mod_003 .slick-dots li button:before {
    content: '•';
}

.destaque_old_mod_003 .item .img-destaque {
    max-height: 153px;
    overflow: hidden;
}

.destaque_old_mod_003 .item .detalhes {
    padding: 10px;
    background-color: #3c3838;
    position: relative;
}

.destaque_old_mod_003 .slick-slide img {
    width: 100%;
}

.destaque_old_mod_003 .slick-dots li button:before {
    font-size: 12px;
}

.destaque_old_mod_003 .reset_button {
    border-radius: 0px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
}

.destaque_old_mod_003 .btn-saibaMais>.btn:hover {
    background-color: #4e4d4d;
    transition: 0.5s;
}

.destaque_old_mod_003 .item .detalhes>.info-car>.marca,
.destaque_old_mod_003 .item .detalhes>.info-car>.preco {
    font-size: 16px;
}

.destaque_old_mod_003 .reset_button {
    border-radius: 0px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
}

.destaque_old_mod_003 .btn-saibaMais>.btn:hover {
    background-color: #4e4d4d;
    transition: 0.5s;
}

.destaque_old_mod_003 .item .detalhes>.info-car>.marca,
.destaque_old_mod_003 .item .detalhes>.info-car>.preco {
    font-size: 16px;
}