<section class="aba-a003 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="tabbed-content icon-tabs">
                    <ul class="tabs">
                        <li class="active">
                            <div class="tab-title">
                                <i class="ico-alarm-key icon color-default" data-icon="true"></i>
                                <div class="color-default" data-editable="true"> Tab 1</div>
                            </div>

                        </li>
                        <li>
                            <div class="tab-title">
                                <i class="ico-alarm icon color-default" data-icon="true"></i>
                                <div class="color-default" data-editable="true"> Tab 2</div>
                            </div>

                        </li>
                        <li>
                            <div class="tab-title">
                                <i class="ico-car-happy icon color-default" data-icon="true"></i>
                                <div class="color-default" data-editable="true"> Tab 3</div>
                            </div>

                        </li>
                    </ul>
                    <ul class="content">
                        <li class="active">
                            <div class="tab-content">
                                <div class="text-description" data-editable="true">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                    sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-content">
                                <div class="text-description" data-editable="true">
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                                    ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-content">
                                <div class="text-description" data-editable="true">
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                                    animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>