.buscador-b007 .cont-filtros {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
}

.buscador-b007 div.controls {
    margin-bottom: 12px;
    border: 1px dotted #fafafa;
    padding: 25px 20px;
    position: relative;
    margin-bottom: 20px;
}

.buscador-b007 .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: solid 1px #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.buscador-b007 .btn {
    color: #fff;
    width: 100%;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: solid 1px #ccc;
    white-space: nowrap;
    padding: 14px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.buscador-b007 .panel-group {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.buscador-b007 .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 0px;
}

.buscador-b007 .panel-group .panel {
    border-radius: 0px;
}

.buscador-b007 .reset-padding-left {
    padding-left: 0px;
}

.buscador-b007 .reset-padding-right {
    padding-right: 0px;
}

.buscador-b007 .reset-padding {
    padding: 0px;
}

@media all and (min-width: 768px) {
    .buscador-b007 .form-inline .form-control {
        width: 100% !important;
    }
}

@media all and (max-width: 991px) {
    .buscador-b007 .reset-padding-left {
        padding-left: 15px;
    }
    .buscador-b007 .reset-padding-right {
        padding-right: 15px;
    }
    .buscador-b007 .reset-padding {
        padding: inherit;
    }
    .buscador-b007 .search {
        margin-bottom: 30px;
    }
}

@media all and(max-width:768px) {
    .buscador-b007 .reset-padding-left {
        padding-left: 15px;
    }
    .buscador-b007 .reset-padding-right {
        padding-right: 15px;
    }
    .buscador-b007 .reset-padding {
        padding: inherit;
    }
}