.aba-a001{
	color: #222;
}
.aba-a001 .tabs {
	overflow: hidden;
}
.aba-a001 .button-tabs .tabs {
	display: inline-block;
	overflow: hidden;
}
.aba-a001 .tabbed-content .content > li {
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	display: none;
}
.aba-a001 .tabbed-content .content .active {
	opacity: 1;
	visibility: visible;
	display: block;
}
.aba-a001 .text-description {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 13px;
	line-height: 24px;
	overflow-x: hidden;
}
.aba-a001 .tabs li {
	display: inline-block;
	cursor: pointer;
}
.aba-a001 .button-tabs .tabs > li {
	margin-bottom: 8px;
	float: left;
}
.aba-a001 .button-tabs .tabs > li:last-child {
	margin-right: 0px;
}
.aba-a001 .button-tabs .tab-title {
	padding: 13px;
	display: inline-block;
	text-align: center;
	min-width: 150px;
	background: #f5f5f5;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	height: 48px;
}

@media all and (max-width: 990px){
    .aba-a001 .button-tabs .tabs > li{
         width: 100%;
    }
    .aba-a001 .button-tabs .tab-title{
         width: 100%;
    }
    .aba-a001 .button-tabs .tabs {
        padding: 0;
    }
	.aba-a001 ul.content {
    	padding: 0;
	}   
}
