<section class="x_component_slider_cod_065 pad-default-elements">

        <div id="carousel-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-generic" data-slide-to="0" class="active background-theme" data-banner-indicator-template="true"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active" data-banner-template="true">
                    <div class="bs-slider-overlay">
                        <h1 class="font-title slider-title" data-editable="true">Lorem</h1>
                    </div>
                  <a href=""><img src="http://placehold.it/1720x550?text=Imagem+do+banner" alt="" ></a>
                  <video class="video-player-no-controls video-template" muted="true" width="100%" height="100%" src=""></video>
                </div>
            </div>
        </div>
</section>