<section class="x_component_footer_cod_164 pad-default-element">
    <div class="container">
        <div class="row text-center">
            <div class="no-gutters">
                <div class="col-xs-12">
                    <div class="top background-theme faixa"></div>
                </div>
                <div class="col-sm-6 col-xs-12 bottom-30">
                    <div class="footer-left">
                        <div class="col-md-2 col-xs-12 altura-minima cont-logo">
                            <img class="logo lis-line img-responsive" data-image="true" src="assets/images/logo.JPG" alt="">
                        </div>
                        <div class="col-md-10 col-xs-12 cont-text">

                            <div class="col-md-6 altura-minima">  <div class="font-title lis-line" data-editable="true"></div></div>
                            <div class="col-md-6 altura-minima">  <div class="copy lis-line" data-editable="true"></div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 altura-minima-social bottom-30">
                    <div class="footer-right pull-right lis-line-social">
                        <div class="wrap-social"><div class="social"><i class="fa fa-facebook" data-icon="true"></i></div></div>
                        <div class="wrap-social"> <div class="social"><i class="fa fa-instagram" data-icon="true"></i></div></div>
                        <div class="wrap-social"> <div class="social"><i class="fa fa-twitter" data-icon="true"></i></div></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>