

#footer .inline-block{
    display: inline-block;
}

#footer .form-control {
    border: 1px solid #ccc;
    border-radius: 0px;
}


#footer.footer-background {
    box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
    -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
}

#footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer .cont-social i.fa {
    font-size: 15px;
    padding-right: 15px;
}

#footer .cont-info {
    margin-top: 30px;
    line-height: 30px;
}


#footer .cont-logo-footer img {
    width: 156px;
    margin-top: 30px;
    display: inline-block;
}


@media all and (max-width:991px) {
    #footer .cont-logo-footer img {
        margin-bottom: 30px;
    }
    #footer .pull-left {
        float: inherit !important;
    }
    #footer .text-center-xs {
        text-align: center;
    }
}