<section class="highlights-h008">
    <div class="row">
        <div class="col-sm-4" data-destaque-template="true">
            <div class="thumbnail">
                <div class="thumb-stock">
                    <img class="img-responsive" src="#destaqueImage#" alt="">
                </div>
                <div class="caption text-center text-uppercase">
                    <div class="text-brand">#destaqueBrand#</div>
                    <div class="text">#destaqueModel#</div>
                </div>
                <div class="cont-price color-default text-center"> #destaquePrice#</div>
            </div>
        </div>
    </div>
</section>