<section class="highlights-h006">
    <div class="container p0">
        <div class="featured-car-slider background-theme">
            <div class="carousel slide" id="carouse2-example-generic" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active" data-destaque-template="true">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-pad">
                                <img class="img-responsive" alt="" src="#destaqueImage#">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-pad">
                                <div class="details">
                                    <h1>#destaqueModel#</h1>
                                    <p>#destaqueBrand#</p>
                                    <ul>
                                        <li>
                                            <strong>Ano:</strong> #destaqueYear#
                                        </li>
                                    </ul>
                                    <div class="price">#destaquePrice#</div>
                                    <a class="btn btn-submit btn-color layout-btn" href="#estoqueLink#"><i class="fa fa-plus"></i> Informações</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" role="button" href="#carouse2-example-generic" data-slide="prev">
                    <span class="slider-mover-left" aria-hidden="true">
                        <i class="fa fa-angle-left"></i>
                    </span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" role="button" href="#carouse2-example-generic" data-slide="next">
                    <span class="slider-mover-right" aria-hidden="true">
                    <i class="fa fa-angle-right"></i>
                    </span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>
    </div>
</section>