<section class="x_component_gallery_cod_049 pad-default-elements background-theme">
    <div class="container">
        <div class="row">
            <h3 class="text-uppercase text-center gallery-title font-title" data-editable="true">Lorem impsum</h3>
            <ul>
                <li class="col-sm-4 col-md-2 gallery-item">
                    <a href="javascript:void(0)">
                        <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_049_01.jpg" alt="" width="100%">

                    </a>
                </li>
                <li class="col-sm-4 col-md-2 gallery-item">
                    <a href="javascript:void(0)">
                        <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_049_02.jpg" alt="" width="100%">
                    </a>
                </li>
                <li class="col-sm-4 col-md-2 gallery-item">
                    <a href="javascript:void(0)">
                        <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_049_03.jpg" alt="" width="100%">
                    </a>
                </li>
                <li class="col-sm-4 col-md-2 gallery-item">
                    <a href="javascript:void(0)">
                        <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_049_04.jpg" alt="" width="100%">
                    </a>
                </li>
                <li class="col-sm-4 col-md-2 gallery-item">
                    <a href="javascript:void(0)">
                        <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_049_05.jpg" alt="" width="100%">
                    </a>
                </li>
                <li class="col-sm-4 col-md-2 gallery-item">
                    <a href="javascript:void(0)">
                        <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_049_06.jpg" alt="" width="100%">
                    </a>
                </li>
                <li class="col-sm-4 col-md-2 gallery-item">
                    <a href="javascript:void(0)">
                        <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_049_07.jpg" alt="" width="100%">
                    </a>
                </li>
                <li class="col-sm-4 col-md-2 gallery-item">
                    <a href="javascript:void(0)">
                        <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_049_08.jpg" alt="" width="100%">
                    </a>
                </li>
                <li class="col-sm-4 col-md-2 gallery-item">
                    <a href="javascript:void(0)">
                        <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_049_09.jpg" alt="" width="100%">
                    </a>
                </li>
                <li class="col-sm-4 col-md-2 gallery-item">
                    <a href="javascript:void(0)">
                        <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_049_10.jpg" alt="" width="100%">
                    </a>
                </li>
                <li class="col-sm-4 col-md-2 gallery-item">
                    <a href="javascript:void(0)">
                        <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_049_11.jpg" alt="" width="100%">
                    </a>
                </li>
                <li class="col-sm-4 col-md-2 gallery-item">
                    <a href="javascript:void(0)">
                        <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_049_12.jpg" alt="" width="100%">
                    </a>

                </li>
            </ul>

        </div>
    </div>
</section>