<section class="service-s001 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="main_title color-default" data-editable="true">Nossos Serviços</h1>
                <h2 class="desc_title text-center small"><div data-editable="true">Confira os serviços que oferecemos para você!</dic></h2>
                <hr class="hr-sm">
            </div>
        </div>
        <div class="row cont-icon">
            <div class="col-md-4 col-xs-12">
                <div class="box">
                    <div class="box-icon color-default"> <span><i class="ico-car" data-icon="true"></i></span> </div>
                    <div class="info">
                        <div class="text-center" data-editable="true">Financie seu carro</div>
                        <div data-editable="true">Financie a compra do seu veículo. O carro dos seus sonhos pode ser seu. A gente te ajuda a conseguir.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="box">
                    <div class="box-icon color-default"> <span><i class="ico-car-buy" data-icon="true"></i></span> </div>
                    <div class="info">
                        <div class="text-center" data-editable="true">Quer vender seu carro?</div>
                        <div data-editable="true">A maneira mais rápida de vender o seu carro. Velocidade e segurança na hora de negociar.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="box">
                    <div class="box-icon color-default"> <span><i class="ico-calendar-car" data-icon="true"></i></span> </div>
                    <div class="info">
                        <div class="text-center" data-editable="true">Test Drive</div>
                        <div data-editable="true">Agende online seu Test Drive, no horário que for mais conveniente para você.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>