<div class="zkdetalhes-zk001">
    <div class="slide-internal pad-default-elements">
        <div class="container">
            <div class="row margin-top-30">
                <div id="main" class="col-sm-8 col-md-9">
                    <div class="search-box-wrapper style1">
                        <div class="search-box">
                            <ul class="search-tabs clearfix">
                                <li><a href="#video-tab" data-toggle="tab"><i class="vmwmstock-icon-television color-default"></i>Vídeo</a></li>
                                <li class="active"><a href="#info-tab" data-toggle="tab"><i class="vmwmstock-icon-car takeoff-effect color-default"></i>Informações</a></li>
                                <li><a href="#cars-tab" data-toggle="tab"><i class="vmwmstock-icon-stories color-default"></i>Ficha Técnica</a></li>
                                <li><a href="#buy-tab" data-toggle="tab"><i class="vmwmstock-icon-user color-default"></i>Proposta de Compra</a></li>
                            </ul>
                            <div class="visible-mobile">
                                <ul id="mobile-search-tabs" class="search-tabs clearfix">
                                    <li class="active"><a href="#info-tab">Informações</a></li>
                                    <li><a href="#video-tab">Vídeo</a></li>
                                    <li><a href="#cars-tab">Ficha Técnica</a></li>
                                    <li><a href="#buy-tab">Proposta de Compra</a></li>
                                </ul>
                            </div>
                            <div class="search-tab-content">
                                <div class="tab-pane fade" id="video-tab">
                                    <div class="title-container btn-color">
                                        <h2 class="search-title">#zeroKmDetalheNome#</h2>
                                        <p>#zeroKmDetalheMarca#</p>
                                        <i class="fa fa-youtube"></i>
                                    </div>
                                    <div class="search-content">
                                        <div class="title-zerokm white box">
                                            <div class="header clearfix">
                                                <i class="fa fa-video-camera"></i>
                                                <h4 class="box-title"><span>Vídeo<small>Apresentação do veículo</small></span></h4>
                                            </div>
                                            <p class="description">#zeroKmDetalheDescricao#</p>
                                            <div class="video-container">
                                                <iframe width="550" height="315" src="#zeroKmDetalheVideo#" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade in active" id="info-tab">
                                    <div class="title-container btn-color">
                                        <h2 class="search-title">#zeroKmDetalheNome#</h2>
                                        <p>#zeroKmDetalheMarca#</p>
                                        <i class="fa fa-info-circle"></i>
                                    </div>
                                    <div class="search-content">
                                        <div class="title-zerokm white box">
                                            <div class="header clearfix">
                                                <i class="fa fa-car"></i>
                                                <h4 class="box-title"><span>#zeroKmDetalheMarca#<small>Detalhes do veículo</small></span></h4>
                                            </div>
                                            <p class="description">#zeroKmDetalheDescricao#</p>
                                            <div class="colors-features">
                                                <span>Cores disponíveis</span>
                                                <ul class="list-colors">
                                                    <li data-cor-template="true">
                                                        <img src="#zeroKmDetalheCorThumb#" alt="#zeroKmDetalheCorNome#">
                                                    </li>
                                                </ul>
                                            </div>
                                            <hr>
                                            <div class="flexslider photo-gallery style1" id="gallery-photo" data-sync="#gallery-photo-thumb">
                                                <ul class="slides">
                                                    <li data-image-template="true">
                                                        <a href="#"><img src="#zeroKmDetalheFoto#" alt=""></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="flexslider image-carousel style1" id="gallery-photo-thumb" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#gallery-photo">
                                                <ul class="slides">
                                                    <li data-image-thumb-template="true"><img src="#zeroKmDetalheFoto#" alt="" /></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="cars-tab">
                                    <div class="title-container btn-color">
                                        <h2 class="search-title">#zeroKmDetalheNome#</h2>
                                        <p>#zeroKmDetalheMarca#</p>
                                        <i class="vmwmstock-icon-car color-default"></i>
                                    </div>
                                    <div class="search-content">
                                        <div class="title-zerokm white box">
                                            <div class="header clearfix">
                                                <i class="fa fa-clipboard"></i>
                                                <h4 class="box-title"><span>Ficha Técnica<small>#zeroKmDetalheMarca#</small></span></h4>
                                            </div>
                                            <div class="ficha-tecnica">
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active" data-ficha-template="true"><a href="#ficha#zeroKmFichaId#" aria-controls="#ficha#zeroKmFichaId#" role="tab" data-toggle="tab">#zeroKmFichaNome#</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="#ficha#zeroKmFichaId#" data-ficha-template="true">
                                                        <div class="table-scroll">
                                                            <table class="table table-striped table-bordered table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <td colspan="3" style="text-align:center; font-weight:bold;">Informações por versão</td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody data-ficha-propriedade-template="true">
                                                                        <tr>
                                                                            <td colspan="3" style="text-align:center; font-weight:bold;">#zeroKmFichaPropriedadeCategoria#</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>#zeroKmFichaPropriedadeNome#</td>
                                                                            <td>#zeroKmFichaPropriedadeValor#</td>
                                                                        </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="buy-tab">
                                    <form action="#" method="post">
                                        <div class="title-container btn-color">
                                            <h2 class="search-title">Proposta de Compra</h2>
                                            <p>Faça aqui sua proposta!</p>
                                            <i class="fa fa-usd"></i>
                                        </div>
                                        <div class="search-content">
                                            <div class="title-zerokm white box">
                                                <div class="header clearfix">
                                                    <i class="fa fa-file-text-o"></i>
                                                    <h4 class="box-title"><span>Informações Necessárias<small>Preencha todos os campos</small></span></h4>
                                                </div>
                                                <div class="form-group">
                                                    <label>Nome Completo</label>
                                                    <input type="text" class="input-text full-width" placeholder="" />
                                                </div>
                                                <div class="form-group">
                                                    <label>E-mail</label>
                                                    <input type="text" class="input-text full-width" placeholder="" />
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <label>Telefone</label>
                                                        <div class="form-group">
                                                            <input type="text" class="input-text full-width" placeholder="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>Celular</label>
                                                        <div class="form-group">
                                                            <input type="text" class="input-text full-width" placeholder="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <label>Cidade</label>
                                                        <div class="form-group">
                                                            <input type="text" class="input-text full-width" placeholder="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>Estado</label>
                                                        <div class="form-group">
                                                            <input type="text" class="input-text full-width" placeholder="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <label>Marca</label>
                                                        <div class="form-group">
                                                            <select class="full-width">
                                                                <option value="">selecione</option>
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>Modelo</label>
                                                        <div class="form-group">
                                                            <select class="full-width">
                                                                <option value="">selecione</option>
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Versão</label>
                                                    <select class="full-width">
                                                            <option value="">selecione</option>
                                                            <option></option>
                                                        </select>
                                                </div>
                                                <hr>
                                                <div class="form-group">
                                                    <button type="submit" class="full-width uppercase btn-color layout-btn">Enviar Proposta</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar col-sm-4 col-md-3">
                    <div class="webhub-box">
                        <h4>Ir para outra marca?</h4>
                        <p>Selecione abaixo a marca desejada.</p>
                        <div class="form-group">
                            <label>Marca</label>
                            <select class="full-width">
                                    <option value="">AUDI</option>
                                    <option>BMW</option>
                                </select>
                        </div>
                    </div>
                    <div class="webhub-box title-border proposal-box">
                        <h4>Faça aqui sua proposta!</h4>
                        <p> O que tá esperando?</p>
                        <div class="form-group"><a href="#buy-tab" data-toggle="tab" aria-expanded="false"><button type="submit" class="full-width uppercase btn-color layout-btn"> <i class="fa fa-thumbs-up"></i> Fazer Proposta</button></a>
                        </div>
                    </div>
                    <div class="webhub-box contact-box">
                        <h4>VMotors</h4>
                        <p>O jeito mais fácil e rápido de adquirir seu carro.</p>
                        <address class="contact-details">
                                <span class="contact-phone color-default"><i class="vmwmstock-icon-phone color-default"></i> (00) 0000-0000 </span>
                            </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>