<div class="zkmarcas-zk001">
    <div class="zerokm gray-area full-w pad-default-elements">
        <div class="container">
            <h2>Zero KM</h2>
            <hr />
            <div class="row image-box style3">
                <div class="col-sm-6 col-md-3 col-xs-12" data-marca-template="true">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
                            <a href="#zeroKmUrl#" class="hover-effect">
                                <img width="270" height="160" src="#zeroKmImagem#" alt="" />
                            </a>
                        </figure>
                        <div class="details text-center bg-gray">
                            <a class="button btn-small btn-block" href="#zeroKmUrl#">CLIQUE AQUI!</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>