<div class="zkmodelos-zk001">
    <div class="gray-area pad-default-elements">
        <div class="section container">
            <h2>Modelos</h2>
            <hr>
            <div class="row image-box style4">
                <div class="col-sm-6 col-md-3 col-xs-12" data-modelo-template="true">
                    <article class="box animated" data-animation-type="fadeInLeft" data-animation-delay="0">
                        <figure>
                            <a title="" href="#zeroKmModeloLink#" class="hover-effect"><img width="150" height="75" alt="" src="#zeroKmModeloImagem#"></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">#zeroKmModeloNome#</h4>
                            <a class="goto-detail" href="#zeroKmModeloLink#"><span class="fa fa-arrow-right"></span></a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>