#footer.footer-background {
    background: #ffffff;
}

#footer .form-control {
    border: 1px solid #ccc;
    border-radius: 0px;
}

#footer .btn {
    border-radius: 0px;
    background-color: red;
    color: #fff;
}

#footer.footer-background {
    box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
    -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.17);
}

#footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer p {
    font-family: 'Open Sans', sans-serif !important;
}

#footer .cont-social i.fa {
    font-size: 15px;
    padding-right: 15px;
}

#footer p {
    line-height: 10.5px;
}

#footer a {
    color: #000;
}

#footer .cont-info {
    margin-top: 30px;
}

#footer .cont-info i.fa {
    margin-right: 15px;
}

#footer .cont-logo-footer img {
    width: 156px;
}

#footer .cont-logo-footer img {
    margin-top: 30px;
}

@media all and (max-width:991px) {
    #footer .cont-logo-footer img {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    #footer .pull-left {
        float: inherit !important;
    }
    #footer .txt-center {
        text-align: center;
    }
}