
.x_component_header_cod_081 .navbar-nav>li>a {
    margin-left: 15px;
}

.x_component_header_cod_081 .no-reference {
    position: unset;
}

.x_component_header_cod_081 .page-scroll:after{
    content: '';
    display: table;
    clear: both;;
}

.x_component_header_cod_081 .caret {
    display: none;
}

.x_component_header_cod_081 .navbar-default {
    background: transparent;
    border: none;
    border-radius: 0;
}

.x_component_header_cod_081 .navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 35px;
    line-height: 22px;
}

.x_component_header_cod_081 .nav>li>a:focus,
.x_component_header_cod_081 .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #222;
}

.x_component_header_cod_081 .navbar-default .navbar-nav>li.active>a {
    border-radius: 50px;
    background: transparent;
}

.x_component_header_cod_081 .top-nav-collapse {
    background-color: rgba(113, 113, 113, 0.4);
}

.x_component_header_cod_081 .dropdown-menu {
    left: 0;
    border-radius: 0;
    border: 1px solid rgba(113, 113, 113, 0.3);
    border: none;
    /*min-width: 220px;*/
    padding: 40px 0px;
    top: 110%;
}

.x_component_header_cod_081 .dropdown-menu a {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .12em;
    transition: .3s all ease;
    line-height: 30px;
}

.x_component_header_cod_081 .dropdown-menu a:hover,
.x_component_header_cod_081 .dropdown-menu a:focus {
    text-decoration: none;
    background: transparent;
}


.x_component_header_cod_081 .dropdown-menu .fa-arrows:before {
    display: none;
}
.x_component_header_cod_081 .dropdown-menu:before {

    display:none;
}

.x_component_header_cod_081 .dropdown-menu ul{
    display: none;
}
.x_component_header_cod_081 .dropdown-menu:hover ul{
    display: block;
}
.x_component_header_cod_081 .dropdown-submenu {
    position: relative;
}

.x_component_header_cod_081 .dropdown-submenu>.dropdown-menu {
    top: 0;
    position: relative;
    margin-top: -6px;
    /*margin-left: -1px;*/
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}



@media (min-width: 992px) and (max-width: 1200px) {
    .x_component_header_cod_081 .navbar-default .navbar-nav>li>a {
        padding: 10px 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .x_component_header_cod_081 .navbar-default .navbar-nav>li>a {
        padding: 10px 10px;
    }
    .x_component_header_cod_081 .navbar-default .navbar-nav>li.active>a {
        border: none;
    }

    .x_component_header_cod_081 .navbar-brand img {
        width: 100%;
    }
}
.x_component_header_cod_081 .navbar-brand{
    height: auto;

}

.x_component_header_cod_081 .navbar{
    margin-bottom: 0px;

}
.x_component_header_cod_081 .dropdown-toggle:before {
    position: absolute;
    content: '\f078';
    width: 16px;
    height: 16px;
    right: 3px;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: FontAwesome;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 15px;
}
@media screen and (max-width: 768px) {


    .x_component_header_cod_081 .navbar-default .navbar-nav>li>a {
        padding: 10px 20px;
    }
    .x_component_header_cod_081 .navbar-brand {
        height: auto;
        position: relative;
        width: 100%;
        padding: 30px

    }
    .x_component_header_cod_081 .navbar-brand img {
        width: 50%;
        margin: auto;
    }
    .x_component_header_cod_081 .dropdown-menu {
        padding: 0;
    }
    .x_component_header_cod_081 .dropdown-toggle {
        position: relative;
    }
    .x_component_header_cod_081 .dropdown-toggle:before {
        position: absolute;
        content: '\f078';
        width: 16px;
        height: 16px;
        right: 20px;
        top: 42%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        font-family: FontAwesome;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        font-size: 15px;
    }
    .x_component_header_cod_081 .nav-menu-item.open .dropdown-toggle:before {
        transform: rotate(180deg);
    }
    .x_component_header_cod_081 .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
        font-size: 15px;
        padding: 10px 30px 10px;
    }
    .x_component_header_cod_081 .mega-menu {
        width: 100%;
    }
    .x_component_header_cod_081 .mega-menu li.mega-menu-column {
        width: 100%;
        padding: 0;
    }
    .x_component_header_cod_081 .mega-menu li.mega-menu-column ol {
        width: 100%;
        padding-left: 0;
    }
    .x_component_header_cod_081 .mega-menu li.mega-menu-column li {
        height: 40px;
        padding: 0;
        width: 100%;
    }
    .x_component_header_cod_081 .mega-menu li.mega-menu-column a {
        font-size: 15px;
        width: 100%;
        padding: 10px 30px 10px;
        display: block;
        letter-spacing: 0;
    }
    .x_component_header_cod_081 .navbar-default .navbar-nav>li.active {
        background: transparent;
    }
    .x_component_header_cod_081 .navbar-default .navbar-nav>li.active>a {
        border: unset;
        border-radius: unset;
    }
    .x_component_header_cod_081 .navbar-default .navbar-nav>li {
        overflow: hidden;
        margin-bottom: 3px;
    }
    .x_component_header_cod_081 .navbar-default .navbar-nav>li a {
        text-transform: capitalize;
    }
    .x_component_header_cod_081 .navbar-collapse {
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .x_component_header_cod_081 .navbar-collapsed-from {
        color: #000;
        width: 270px;
        position: absolute;
        height: 1700px;
        margin-top: 20px;
        margin-left: -16px;
        display: none;
        max-height: unset;
        border: 1px solid rgba(113, 113, 113, 0.3);
        border: none;
    }
    .x_component_header_cod_081 .navbar-collapsed-to {
        background-color: rgba(113, 113, 113, 0.4);
        color: #000;
        width: 270px;
        position: absolute;
        height: 1700px;
        margin-top: 20px;
        margin-left: -16px;
        visibility: visible;
        max-height: unset;
        border: none;
    }
    .x_component_header_cod_081 .collapse-drawer {
        visibility: visible;
        position: absolute;
        left: 15px;

        -webkit-animation: mobile-animation-hide 0.5s;
        -o-animation: mobile-animation-hide 0.5s;
        animation: mobile-animation-hide 0.5s;
    }

    .x_component_header_cod_081 .collapse.in {
        position: absolute;
        animation: mobile-animation 0.3s;
        display: block!important;
        z-index: 2;
        height: auto;
        width: 50%;
        background-color: #000;
    }
    .x_component_header_cod_081 .menu-icon-container,
    .x_component_header_cod_081 .page-name {
        color: #000000;
        display: inline-block;
        overflow: hidden;
        width: 35px;
        height: 35px;
        position: relative;
    }
    .x_component_header_cod_081 .navbar-toggle .page-name {
        line-height: 50px;
        width: auto;
        font-weight: 300;
    }
    .x_component_header_cod_081 .navbar-toggle {
        margin: 0;
        padding: 4px 20px;
        float: left;
        background: transparent;
        border: none;
    }
    .x_component_header_cod_081 .navbar-toggle:hover,
    .x_component_header_cod_081 .navbar-toggle:focus {
        background: transparent;
    }
    .x_component_header_cod_081 .navbar-toggle.active {
        background: transparent;
    }
    .x_component_header_cod_081 .navbar-toggle .icon-bar {
        margin-top: 22px;
        background: #cacaca;
        position: relative;
        width: 24px;
        height: 4px;
        border-radius: 4px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    .x_component_header_cod_081 .navbar-toggle.active .icon-bar {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    .x_component_header_cod_081 .navbar-toggle .icon-bar:before {
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        display: block;
        width: 24px;
        height: 4px;
        border-radius: 4px;
        background: #cacaca;
    }
    .x_component_header_cod_081 .navbar-toggle .icon-bar:after {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        display: block;
        width: 24px;
        height: 4px;
        border-radius: 4px;
        background: #cacaca;
    }
    .x_component_header_cod_081 .navbar-toggle.active .icon-bar:after {
        -webkit-transform: rotate3d(0, 0, 1, 40deg);
        -moz-transform: rotate3d(0, 0, 1, 40deg);
        -ms-transform: rotate3d(0, 0, 1, 40deg);
        -o-transform: rotate3d(0, 0, 1, 40deg);
        transform: rotate3d(0, 0, 1, 40deg);
        top: 5px;
        width: 15px;
    }
    .x_component_header_cod_081 .navbar-toggle.active .icon-bar:before {
        -webkit-transform: rotate3d(0, 0, 1, -40deg);
        -moz-transform: rotate3d(0, 0, 1, -40deg);
        -ms-transform: rotate3d(0, 0, 1, -40deg);
        -o-transform: rotate3d(0, 0, 1, -40deg);
        transform: rotate3d(0, 0, 1, -40deg);
        top: -5px;
        width: 15px;
    }
}

.x_component_header_cod_081 .wrap-menu ul{
    list-style: none;
    padding: 0px;
}
.x_component_header_cod_081 .wrap-menu ul  li{
    float: left;
    position: relative;
}
.x_component_header_cod_081 .wrap-menu li a{
    display: block;
    padding: 30px;
    color: #fff;
}

body{
    overflow: hidden;
}
.x_component_header_cod_081  .dropdown-menu{

    background-color: transparent;
}
@media (max-width: 767px){
    .x_component_header_cod_081  .dropdown-menu{
        background-color: inherit;
    }
    .x_component_header_cod_081 .dropdown-menu{
        position: relative;
        float: none;
    }
}

@media (min-width: 768px) {

    .x_component_header_cod_081 .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }

}
@media (max-width: 768px){

    .x_component_header_cod_081 .wrap-menu{
        position: absolute;
        width: 270px;
        background-color: #000;
        transition: all 0.5s;
        left: -270px;

    }

    .x_component_header_cod_081 .wrap-menu ul li{
        float: none;
    }
    .x_component_header_cod_081 .wrap-menu.active{

        transition: all 0.5s;
        left: -1px;

    }

}

