.reser_border {
  border-radius: 0px;
  border: none;
}
.header_old_mod_stand_002_full {
  color: #000;
}

.header_old_mod_stand_002_full .btn-group>.dropdown-menu:before,
.header_old_mod_stand_002_full .dropdown-toggle>.dropdown-menu:before,
.header_old_mod_stand_002_full .dropdown>.dropdown-menu:before {

  display: none;

}

.header_old_mod_stand_002_full .nav .open>a,
.header_old_mod_stand_002_full .nav .open>a:focus,
.header_old_mod_stand_002_full .nav .open>a:hover{
    background-color: transparent;
}

@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: none;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

}


.header_old_mod_stand_002_full .navbar-toggle{
  border-radius: 0px;
}


.header_old_mod_stand_002_full .navbar-header,
.header_old_mod_stand_002_cont_info_header{
  padding: 0 15px;
}
/*.header_old_mod_stand_002_full .bg-nav{*/
  /*background-color:#000;*/
/*}*/
.header_old_mod_stand_002_full a {
  color: #000;
}
.header_old_mod_stand_002_full #header  .navbar-default {
  background-color: transparent;
  background-image:none;
      box-shadow: none;
}
.header_old_mod_stand_002_full #header .navbar-brand {
  height: auto;
}

.header_old_mod_stand_002_full #header .navbar {
  margin-bottom:0px;
}
.header_old_mod_stand_002_full #header .navbar-brand img {
  width: 100%;
}
@media all and (max-width: 1091px) {
  .header_old_mod_stand_002_full #header .navbar-brand {
    float: none;
  }
  .header_old_mod_stand_002_full #header .navbar-brand img {
    width: 50%;
    margin-left: 25%;
  }
}
.header_old_mod_stand_002_full #header .cont_infos {
  padding-top: 35px;
}
.header_old_mod_stand_002_full #header .cont_infos .cont_endereco {
  font-size: 11px;
}
@media all and (max-width: 990px) {
  .header_old_mod_stand_002_full #header .cont_infos .cont_endereco.text-right {
    text-align: center;
  }
}
.header_old_mod_stand_002_full #header .cont_infos .cont_redes {
  font-size: 40px;
  text-align: right;
}
.header_old_mod_stand_002_full #header .cont_infos .cont_redes i{
  vertical-align:top;
}
@media (max-width: 1091px) {
  .header_old_mod_stand_002_full #header .cont_infos .cont_redes {
    text-align: center;
  }
}
@media (max-width: 1091px) {
  .header_old_mod_stand_002_full #header .xs-text-center {
    text-align: center;
  }
}
.header_old_mod_stand_002_full #header .background-theme {
  background-color: red;
}
.header_old_mod_stand_002_full #header #navbar {
  max-height: 50px !important;
  margin: 0 auto;
  text-align: center;
}
@media all and (max-width: 768px) {
  .header_old_mod_stand_002_full #header #navbar {
    max-height: inherit !important;
  }
}
.header_old_mod_stand_002_full #header #navbar .nav.navbar-nav {
  float: none;
  display: inline-block;
  padding-top: 5px;
  color: #000;
}
@media all and (max-width: 768px) {
  .header_old_mod_stand_002_full #header #navbar .nav.navbar-nav {
    width: 100%;
  }
}
.header_old_mod_stand_002_full #header #navbar .nav.navbar-nav li {
  border-right: 1px #fff solid;
  min-width: 120px;
}
@media all and (max-width: 768px) {
  .header_old_mod_stand_002_full #header #navbar .nav.navbar-nav li {
    min-width: inherit;
    border-right: none;
  }
}
.header_old_mod_stand_002_full #header #navbar .nav.navbar-nav li:last-child {
  border-right: none;
}
.header_old_mod_stand_002_full #header #navbar .nav.navbar-nav li.active a {
  background-color: inherit;
}
.header_old_mod_stand_002_full #header #navbar .nav.navbar-nav li > a {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header_old_mod_stand_002_full #header #navbar .nav.navbar-nav li > a:active {
  background-color: inherit;
}
.header_old_mod_stand_002_full #header #navbar .nav.navbar-nav li > a:focus,
.header_old_mod_stand_002_full #header #navbar .nav.navbar-nav li > a:hover {
   background-color: inherit;
    background-image:none;
}
.header_old_mod_stand_002_full #header #navbar .nav.navbar-nav .dropdown-menu {
  text-align: center;

}
.header_old_mod_stand_002_full #header #navbar .nav.navbar-nav .dropdown-menu li {
  border: none;
}
.header_old_mod_stand_002_full .container-fluid.wrap_nav {
  padding: 0px;
}
.header_old_mod_stand_002_full .menu li ul,
.menu li{
    border-radius: 0px;
    border:none;
}
.header_old_mod_stand_002_full .menu li ul.dropdown-menu{
    display: none;
}
.header_old_mod_stand_002_full .menu li:hover ul.dropdown-menu{
    display: block;
}
.header_old_mod_stand_002_full .menu li:hover ul.dropdown-menu ul{
    display: none
}
.header_old_mod_stand_002_full .menu li:hover ul.dropdown-menu:hover ul{
    display: block;

}

@media (max-width: 768px) {

    .header_old_mod_stand_002_full .menu li ul.dropdown-menu{
        position: relative;
        width: 100%;
    }

}
