<section class="cta-c006 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 data-editable="true">Título editável</h1>
                <div class="lead mb40 mb-xs-24" data-editable="true">Digite seu texto aqui.</div>
                <div class="btn btn-color layout-btn" data-editable="true">Clique Aqui!</div>
            </div>
        </div>
    </div>
</section>