<section id="footer" class="footer-background">
    <div class="background-theme">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="cont-logo-footer">
                            <img data-image="true" src="img/logolegal.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container foot">
        <div class="row">
            <div class="col-md-3">
                <div class="center-block cont-social text-center " data-social="true">
                    <a target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a>
                </div>
            </div>
            <div class="col-md-3 cont-links-footer text-center ">
                <div class="col-md-6">
                    <ul>
                        <li>
                            <div data-editable="true">Link um</div>
                        </li>
                        <li>
                            <div data-editable="true">Link um</div>
                        </li>
                        <li>
                            <div data-editable="true">Link um</div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 hidden-xs">
                    <ul>
                        <li>
                            <div data-editable="true">Link um</div>
                        </li>
                        <li>
                            <div data-editable="true">Link um</div>
                        </li>
                        <li>
                            <div data-editable="true">Link um</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="cont-info">
                    <div class="text-right text-center-xs">
                        <div><i class="fa fa-envelope-o" data-icon="true"></i>
                            <div class="inline-block" data-editable="true"> email@email.com</div>
                        </div>
                        <div><i class="fa fa-phone" data-icon="true"></i>
                            <div class="inline-block" data-editable="true"> (99) 9999-9999</div>
                        </div>
                        <div><i class="fa fa-map-signs" data-icon="true"></i>
                            <div class="inline-block" data-editable="true"> Endereço</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cont-map" data-map="true" data-type="map"></div>
        </div>
    </div>
</section>