<section class="zero-km-zk002 ">
<div class="full-w pad-default-elements ">
    <div class="destaques">
        <div class="listing-block recent-vehicles">
            <div class="container">
                <div class="listing-container">
                    <div class="carousel-wrapper">
                        <div class="row">
                            <ul class="owl-carousel carousel-fw" data-columns="4" data-autoplay="" data-pagination="yes" data-arrows="yes" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
                                <li class="item" data-zerokm-template="true">
                                    <div class="vehicle-block format-standard lightcar">
                                        <a href="#zero-car-link#" class="media-box-modelos"><img src="" alt="" data-zerokm-marca-img="true"></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>