.x_component_footer_cod_128 {
    background: #353B41;
    font-family: Arial, sans-serif;
    color: #ffffff;
    overflow: hidden;
}

.x_component_footer_cod_128 .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.x_component_footer_cod_128 .footer-module-title {
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 55px;
}

.x_component_footer_cod_128 .contact-info dl {
    margin-bottom: 20px;
}

.x_component_footer_cod_128 .contact-info dl dt {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
    display: inline-block;
}

.x_component_footer_cod_128 .contact-info dl dd {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
}

.x_component_footer_cod_128 .terms-list.tel {
    text-transform: uppercase;
}

.x_component_footer_cod_128 .terms-list.tel dt {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}

.x_component_footer_cod_128 .terms-list.tel a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}

.x_component_footer_cod_128 .terms-list.tel a:hover {
    text-decoration: none;
}

.x_component_footer_cod_128 .terms-list.mail dt,
.x_component_footer_cod_128 .terms-list.mail dd {
    font-size: 17px;
}

.x_component_footer_cod_128 .terms-list.mail a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_128 .terms-list.mail a:hover {
    text-decoration: none;
}

.x_component_footer_cod_128 .office-time {
    font-size: 18px;
    line-height: 1.41176;
    font-weight: 400;
    margin-bottom: 20px;
}

.x_component_footer_cod_128 .footer-social {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.x_component_footer_cod_128 .footer-social li {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-right: 10px;
    margin-left: 4px;
}

.x_component_footer_cod_128 .footer-social li a i {
    font-size: 22px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_128 .copyright {
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 13px;
}

.x_component_footer_cod_128 .copyright a {
    text-decoration: none;
}

.x_component_footer_cod_128 .copyright a:hover,
.x_component_footer_cod_128 .copyright a:focus {
    text-decoration: none;
}

.x_component_footer_cod_128 #map {
    width: 100%;
    height: 665px;
}

@media screen and (max-width: 768px) {
    .x_component_footer_cod_128 .text-xs-center {
        text-align: center;
    }
}