<section class="component_text_013">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-push-4 col-sm-4 col-sm-pull-4">
                <div class="item-content  text-center">
                    <div class="moto-widget-line center-block"></div>
                    <h1 data-editable="true" class="text-image-module-title">Lorem</h1>
                    <hr class="moto-widget-divider-line">

                    <div class="item-text">
                        <h2 data-editable="true">01 </h2>
                        <div data-editable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cum quod reiciendis consequatur dolorum fugiat tempora unde! Quaerat, quidem officia deserunt. Itaque quasi doloribus ex molestias tempore enim omnis id?</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>