<section class="mapa_old_mod_003">
    <div class="container">
        <article class="row">
            <div class="cont_logo_section col-md-2 col-xs-12">
                <div class="col-md-12 logo_footer">
                    <img src="assets/img/logo.png" alt="" class="img-responsive img-thumbnail" data-image="true">
                </div>

                <div class="col-md-12">
                    <nav class="menuFooter cont_links">
                        <ul class="clearfix">
                            <li data-editable="true">Home></li>
                            <li data-editable="true">Empresa</li>
                            <li data-editable="true">Estoque</li>
                            <li data-editable="true">Vender</li>
                            <li data-editable="true">Financiamento</li>
                            <li data-editable="true">>Seguro</li>
                            <li data-editable="true">Contato</li>
                        </ul>
                    </nav>
                    <div class="telFooter fleft">
                        <div data-editable="true">(00)0000-0000 (00) 0000-0000</div>

                    </div>
                </div>
            </div>
            <div class="col-md-10 left_bottom_0 cont_mapa" data-mapa="true">
                <img src="assets/img/mapa.jpg" alt="" class="img-responsive " data-image="true">
            </div>
        </article>
    </div>
</section>