.section_old_mod_stand_002 {
  background-color: red;
  padding: 20px 0;
  color: #fff;
}
.section_old_mod_stand_002 a {
  color: #fff;
}
@media all and (max-width: 991px) {
  .section_old_mod_stand_002 * {
    text-align: center;
    margin: 0 auto;
    padding: 0px;
  }
  .section_old_mod_stand_002 * .text-right {
    text-align: center;
  }
}
.section_old_mod_stand_002 .cont_links ul li {
  background: url('../img/bulletMenu.png') no-repeat left center;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  padding-left: 10px;
  line-height: 12px;
  text-transform: uppercase;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  display: block;
  line-height: 20px;
}
@media all and (max-width: 991px) {
  .section_old_mod_stand_002 .cont_infos ul li,
  .section_old_mod_stand_002 .cont_logo_section {
    padding: 10px 0 ;
  }
  .section_old_mod_stand_002 .cont_infos ul li .img-responsive,
  .section_old_mod_stand_002 .cont_logo_section .img-responsive {
    padding-bottom: 20px;
  }
}
.section_old_mod_stand_002 .cont_infos .icon {
  font-size: 40px;
  top: 10px;
  position: relative;
}
.section_old_mod_stand_002 .cont_infos ul li {
  font-size: 20px;
  background: none;
  display: block;
  line-height: inherit;
}
