

.text-t009 {
    background-color: #dddddd;
  	height:100px;
}

.text-t009 section {
    padding: 96px 0;
    position: relative;
    overflow: hidden;
}


@media all and (max-width: 767px) {
    .text-center-xs {
        text-align: center !important;
    }
}

.text-t009 .bold {
    font-weight: 600 !important;
}

.text-t009 .thin {
    font-weight: 100 !important;
}

@media all and (max-width: 767px) {
    .thin {
        font-weight: 300 !important;
    }
}

.text-t009 h1,
.text-t009 h2,
.text-t009 h3,
.text-t009 h4,
.text-t009 h5,
.text-t009 h6,
.text-t009 p,
.text-t009 ul,
.text-t009 ol,
.text-t009 pre,
.text-t009 table,
.text-t009 blockquote,
.text-t009 input,
.text-t009 button,
.text-t009 select,
.text-t009 textarea {
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
}

.text-t009 h1,
.text-t009 h2,
.text-t009 h3,
.text-t009 h4,
.text-t009 h5,
.text-t009 h6,
.text-t009 .h1,
.text-t009 .h2,
.text-t009 .h3,
.text-t009 .h4,
.text-t009 .h5,
.text-t009 .h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-t009 h1,
.text-t009 h2,
.text-t009 h3,
.text-t009 h4,
.text-t009 h5,
.text-t009 h6 {
    font-weight: 300;
    color: #6c6a6c;
}

.text-t009 h1,
.text-t009 .h1 {
    font-size: 56px;
    line-height: 64px;
}

.text-t009 h1.large {
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
}

@media all and (max-width: 990px) {
    h1.large {
        font-size: 56px;
        line-height: 64px;
    }
}

.text-t009 h2 {
    font-size: 40px;
    line-height: 48px;
}

.text-t009 h3 {
    font-size: 32px;
    line-height: 40px;
}

.text-t009 h4 {
    font-size: 24px;
    line-height: 32px;
}

.text-t009 h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.text-t009 h6,
.text-t009 .h6 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
}

@media all and (max-width: 767px) {
    h1,
    .text-t009 h1.large,
    .text-t009 .h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 300;
    }
    .text-t009 h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .text-t009 h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .text-t009 h4 {
        font-size: 18px;
        line-height: 26px;
    }
    .text-t009 h5 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .text-t009 h6,
    .text-t009 .h6 {
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
    }
}

.text-t009 .uppercase {
    font-weight: 400;
    text-transform: uppercase;
}

.text-t009 h1.uppercase {
    letter-spacing: 17px;
    margin-right: -17px;
}

.text-t009 h2.uppercase {
    letter-spacing: 10px;
    margin-right: -10px;
}

.text-t009 h3.uppercase {
    letter-spacing: 6px;
    margin-right: -6px;
}

.text-t009 h4.uppercase {
    letter-spacing: 3px;
    margin-right: -3px;
}

.text-t009 h5.uppercase {
    letter-spacing: 2px;
    margin-right: -2px;
}

.text-t009 h6.uppercase,
.text-t009 .h6-u {
    letter-spacing: 2px;
    font-weight: 700;
}

.text-t009 .bold-h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.text-t009 p,
.text-t009 span {
    font-weight: 400;
}

.text-t009 p.lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.text-t009 .sub {
    font-size: 12px;
}

@media all and (max-width: 767px) {
    p.lead {
        font-size: 13px;
        line-height: 24px;
    }
    .text-t009 p {
        font-size: 12px;
    }
}

.text-t009 a,
.text-t009 a:visited,
.text-t009 a:focus,
.text-t009 a:active,
.text-t009 a:hover {
    text-decoration: none;
    outline: none;
}

.text-t009 a {
    font-weight: 600;
    color: #f3123c;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: poitner;
}


.text-t009 .bg-secondary {
    background: #f8f8f8;
}


.text-t009 .breadcrumb {
    margin-bottom: 24px;
}

.text-t009 .breadcrumb-2 {
    background: none;
    padding: 0;
}

.text-t009 .breadcrumb-2 li a,
.text-t009 .breadcrumb-2 li {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 11px;
    font-weight: 600;
}

.text-t009 .breadcrumb-2>li+li:before {
    padding: 0 16px;
    color: #bbb;
}

.text-t009 .image-bg .breadcrumb li a {
    color: #fff;
    opacity: .8;
}

.text-t009 .image-bg .breadcrumb li a:hover {
    opacity: 1;
}

.text-t009 .image-bg .breadcrumb li.active {
    color: #fff;
}

.text-t009 .bg-dark .breadcrumb a {
    color: #fff;
}

@media all and (max-width: 990px) {
    .page-title-4 .breadcrumb,
    .text-t009 .page-title-2 .breadcrumb {
        float: left;
        margin-top: 32px;
    }
}

@media all and (max-width: 767px) {
    .breadcrumb-2>li+li:before {
        padding: 0 4px;
    }
    .text-t009 .page-title-4 .breadcrumb,
    .text-t009 .page-title-2 .breadcrumb {
        float: left;
        margin-top: 8 px;
    }
}


.text-t009 .page-title {
    padding: 0;
}

.text-t009 .page-title .container {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
}

.text-t009 .page-title i {
    position: relative;
    top: 1px;
}

@media all and (max-width: 767px) {
    .page-title i {
        display: none;
    }
}

.text-t009 .page-title-1,
.text-t009 .page-title-2 {
    height: 400px;
}

.text-t009 .page-title-1 .breadcrumb,
.text-t009 .page-title-3 .breadcrumb {
    position: absolute;
    z-index: 3;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.text-t009 .page-title-2 .breadcrumb {
    position: relative;
    margin-bottom: 0;
}

.text-t009 .nav-is-overlay .page-title-1.image-bg:first-child,
.text-t009 .nav-is-overlay.page-title-1.bg-dark:first-child,
.text-t009 .nav-is-overlay .page-title-2.image-bg:first-child,
.text-t009 .nav-is-overlay.page-title-2.bg-dark:first-child {
    height: 455px;
    padding-top: 55px;
}

@media all and (max-width: 767px) {
    .page-title-1,
    .text-t009 .page-title-2 {
        height: 320px;
    }
}

.text-t009 .page-title-3,
.text-t009 .page-title-4 {
    height: 100px; /* 240px */
}

.text-t009 .page-title-4 .breadcrumb {
    position: relative;
    top: 8px;
    margin-bottom: 0;
}

.text-t009 .nav-is-overlay .page-title-3.image-bg:first-child,
.text-t009 .nav-is-overlay.page-title-3.bg-dark:first-child,
.text-t009 .nav-is-overlay .page-title-4.image-bg:first-child,
.text-t009 .nav-is-overlay.page-title-4.bg-dark:first-child {
    height: 295px;
    padding-top: 55px;
}

@media all and (max-width: 767px) {
    .page-title .text-right {
        text-align: left !important;
    }
}

.text-t009 .page-title.fullscreen {
    height: 100vh !important;
    padding-top: 0;
}


.text-t009 .mr0 {
    margin-right: 0;
}

.text-t009 .mb0 {
    margin-bottom: 0 !important;
}

.text-t009 .mb8 {
    margin-bottom: 8px;
}

.text-t009 .mb16 {
    margin-bottom: 16px;
}

.text-t009 .mb24 {
    margin-bottom: 24px;
}

.text-t009 .mb30 {
    margin-bottom: 30px;
}

.text-t009 .mb32 {
    margin-bottom: 32px;
}

.text-t009 .mb40 {
    margin-bottom: 40px;
}

.text-t009 .mb48 {
    margin-bottom: 48px;
}

.text-t009 .mb56 {
    margin-bottom: 56px;
}

.text-t009 .mb64 {
    margin-bottom: 64px;
}

.text-t009 .mb72 {
    margin-bottom: 72px;
}

.text-t009 .mb80 {
    margin-bottom: 80px;
}

.text-t009 .mb88 {
    margin-bottom: 88px;
}

.text-t009 .mb96 {
    margin-bottom: 96px;
}

.text-t009 .mb104 {
    margin-bottom: 104px;
}

.text-t009 .mb112 {
    margin-bottom: 112px;
}

.text-t009 .mb120 {
    margin-bottom: 120px;
}

.text-t009 .mb160 {
    margin-bottom: 160px;
}

.text-t009 .mt0 {
    margin-top: 0 !important;
}

.text-t009 .mt8 {
    margin-top: 8px;
}

.text-t009 .mt16 {
    margin-top: 16px;
}

.text-t009 .mt24 {
    margin-top: 24px;
}

.text-t009 .mt32 {
    margin-top: 32px;
}

.text-t009 .mt40 {
    margin-top: 40px;
}

.text-t009 .mt48 {
    margin-top: 48px;
}

.text-t009 .mt56 {
    margin-top: 56px;
}

.text-t009 .mt64 {
    margin-top: 64px;
}

.text-t009 .mt72 {
    margin-top: 72px;
}

.text-t009 .mt80 {
    margin-top: 80px;
}

.text-t009 .mt88 {
    margin-top: 88px;
}

.text-t009 .mt96 {
    margin-top: 96px;
}

.text-t009 .mt104 {
    margin-top: 104px;
}

.text-t009 .mt112 {
    margin-top: 112px;
}

.text-t009 .mt120 {
    margin-top: 120px;
}

.text-t009 .mt160 {
    margin-top: 160px;
}

.text-t009 .p32 {
    padding: 0 32px;
}

.text-t009 .p24 {
    padding: 24px;
}

.text-t009 .p0 {
    padding: 0;
}

.text-t009 .pt0 {
    padding-top: 0;
}

.text-t009 .pt8 {
    padding-top: 8px;
}

.text-t009 .pt16 {
    padding-top: 16px;
}

.text-t009 .pt24 {
    padding-top: 24px;
}

.text-t009 .pt32 {
    padding-top: 32px;
}

.text-t009 .pt40 {
    padding-top: 40px;
}

.text-t009 .pt48 {
    padding-top: 48px;
}

.text-t009 .pt64 {
    padding-top: 64px;
}

.text-t009 .pt72 {
    padding-top: 72px;
}

.text-t009 .pt80 {
    padding-top: 80px;
}

.text-t009 .pt88 {
    padding-top: 88px;
}

.text-t009 .pt96 {
    padding-top: 96px;
}

.text-t009 .pt104 {
    padding-top: 104px;
}

.text-t009 .pt112 {
    padding-top: 112px;
}

.text-t009 .pt120 {
    padding-top: 120px;
}

.text-t009 .pt160 {
    padding-top: 160px;
}

.text-t009 .pt180 {
    padding-top: 180px;
}

.text-t009 .pt240 {
    padding-top: 240px;
}

.text-t009 .pb0 {
    padding-bottom: 0;
}

.text-t009 .pb8 {
    padding-bottom: 8px;
}

.text-t009 .pb16 {
    padding-bottom: 16px;
}

.text-t009 .pb24 {
    padding-bottom: 24px;
}

.text-t009 .pb32 {
    padding-bottom: 32px;
}

.text-t009 .pb40 {
    padding-bottom: 40px;
}

.text-t009 .pb48 {
    padding-bottom: 48px;
}

.text-t009 .pb56 {
    padding-bottom: 56px;
}

.text-t009 .pb64 {
    padding-bottom: 64px;
}

.text-t009 .pb72 {
    padding-bottom: 72px;
}

.text-t009 .pb80 {
    padding-bottom: 80px;
}

.text-t009 .pb88 {
    padding-bottom: 88px;
}

.text-t009 .pb96 {
    padding-bottom: 96px;
}

.text-t009 .pb104 {
    padding-bottom: 104px;
}

.text-t009 .pb112 {
    padding-bottom: 112px;
}

.text-t009 .pb120 {
    padding-bottom: 120px;
}

.text-t009 .pb160 {
    padding-bottom: 160px;
}

.text-t009 .pb180 {
    padding-bottom: 180px;
}

.text-t009 .pb240 {
    padding-bottom: 240px;
}

@media all and (max-width: 990px) {
    .mb-s-0 {
        margin-bottom: 0;
    }
    .text-t009 .mb-s-8 {
        margin-bottom: 8px;
    }
    .text-t009 .mb-s-16 {
        margin-bottom: 16px;
    }
    .text-t009 .mb-s-24 {
        margin-bottom: 24px;
    }
    .text-t009 .mb-s-32 {
        margin-bottom: 32px;
    }
    .text-t009 .mb-s-40 {
        margin-bottom: 40px;
    }
    .text-t009 .mb-s-48 {
        margin-bottom: 48px;
    }
    .text-t009 .mb-s-64 {
        margin-bottom: 64px;
    }
    .text-t009 .mb-s-72 {
        margin-bottom: 72px;
    }
    .text-t009 .mb-s-80 {
        margin-bottom: 80px;
    }
    .text-t009 .mb-s-88 {
        margin-bottom: 88px;
    }
    .text-t009 .mb-s-96 {
        margin-bottom: 96px;
    }
    .text-t009 .mb-s-104 {
        margin-bottom: 104px;
    }
    .text-t009 .mb-s-112 {
        margin-bottom: 112px;
    }
    .text-t009 .mb-s-120 {
        margin-bottom: 120px;
    }
}

@media all and (max-width: 990px) {
    .mb-sm-0 {
        margin-bottom: 0;
    }
    .text-t009 .mb-sm-8 {
        margin-bottom: 8px;
    }
    .text-t009 .mb-sm-16 {
        margin-bottom: 16px;
    }
    .text-t009 .mb-sm-24 {
        margin-bottom: 24px;
    }
    .text-t009 .mb-sm-32 {
        margin-bottom: 32px;
    }
    .text-t009 .mb-sm-40 {
        margin-bottom: 40px;
    }
    .text-t009 .mb-sm-48 {
        margin-bottom: 48px;
    }
    .text-t009 .mb-sm-64 {
        margin-bottom: 64px;
    }
    .text-t009 .mb-sm-72 {
        margin-bottom: 72px;
    }
    .text-t009 .mb-sm-80 {
        margin-bottom: 80px;
    }
    .text-t009 .mb-sm-88 {
        margin-bottom: 88px;
    }
    .text-t009 .mb-sm-96 {
        margin-bottom: 96px;
    }
    .text-t009 .mb-sm-104 {
        margin-bottom: 104px;
    }
    .text-t009 .mb-sm-112 {
        margin-bottom: 112px;
    }
    .text-t009 .mb-sm-120 {
        margin-bottom: 120px;
    }
    .text-t009 .mt-sm-0 {
        margin-top: 0 !important;
    }
    .text-t009 .mt-sm-8 {
        margin-top: 8px;
    }
    .text-t009 .mt-sm-16 {
        margin-top: 16px;
    }
    .text-t009 .mt-sm-24 {
        margin-top: 24px;
    }
    .text-t009 .mt-sm-32 {
        margin-top: 32px;
    }
    .text-t009 .mt-sm-40 {
        margin-top: 40px;
    }
    .text-t009 .mt-sm-48 {
        margin-top: 48px;
    }
    .text-t009 .mt-sm-56 {
        margin-top: 56px;
    }
    .text-t009 .mt-sm-64 {
        margin-top: 64px;
    }
    .text-t009 .mt-sm-72 {
        margin-top: 72px;
    }
    .text-t009 .mt-sm-80 {
        margin-top: 80px;
    }
    .text-t009 .mt-sm-88 {
        margin-top: 88px;
    }
    .text-t009 .mt-sm-96 {
        margin-top: 96px;
    }
    .text-t009 .mt-sm-104 {
        margin-top: 104px;
    }
    .text-t009 .mt-sm-112 {
        margin-top: 112px;
    }
    .text-t009 .mt-sm-120 {
        margin-top: 120px;
    }
    .text-t009 .p0-sm {
        padding: 0;
    }
    .text-t009 .pt-sm-0 {
        padding-top: 0;
    }
    .text-t009 .pt-sm-8 {
        padding-top: 8px;
    }
    .text-t009 .pt-sm-16 {
        padding-top: 16px;
    }
    .text-t009 .pt-sm-24 {
        padding-top: 24px;
    }
    .text-t009 .pt-sm-32 {
        padding-top: 32px;
    }
    .text-t009 .pt-sm-40 {
        padding-top: 40px;
    }
    .text-t009 .pt-sm-48 {
        padding-top: 48px;
    }
    .text-t009 .pt-sm-64 {
        padding-top: 64px;
    }
    .text-t009 .pt-sm-72 {
        padding-top: 72px;
    }
    .text-t009 .pt-sm-80 {
        padding-top: 80px;
    }
    .text-t009 .pt-sm-88 {
        padding-top: 88px;
    }
    .text-t009 .pt-sm-96 {
        padding-top: 96px;
    }
    .text-t009 .pt-sm-104 {
        padding-top: 104px;
    }
    .text-t009 .pt-sm-112 {
        padding-top: 112px;
    }
    .text-t009 .pt-sm-120 {
        padding-top: 120px;
    }
    .text-t009 .pt-sm-160 {
        padding-top: 160px;
    }
    .text-t009 .pb-sm-0 {
        padding-bottom: 0;
    }
    .text-t009 .pb-sm-8 {
        padding-bottom: 8px;
    }
    .text-t009 .pb-sm-16 {
        padding-bottom: 16px;
    }
    .text-t009 .pb-sm-24 {
        padding-bottom: 24px;
    }
    .text-t009 .pb-sm-32 {
        padding-bottom: 32px;
    }
    .text-t009 .pb-sm-40 {
        padding-bottom: 40px;
    }
    .text-t009 .pb-sm-48 {
        padding-bottom: 48px;
    }
    .text-t009 .pb-sm-64 {
        padding-bottom: 64px;
    }
    .text-t009 .pb-sm-72 {
        padding-bottom: 72px;
    }
    .text-t009 .pb-sm-80 {
        padding-bottom: 80px;
    }
    .text-t009 .pb-sm-88 {
        padding-bottom: 88px;
    }
    .text-t009 .pb-sm-96 {
        padding-bottom: 96px;
    }
    .text-t009 .pb-sm-104 {
        padding-bottom: 104px;
    }
    .text-t009 .pb-sm-112 {
        padding-bottom: 112px;
    }
    .text-t009 .pb-sm-120 {
        padding-bottom: 120px;
    }
}

@media all and (max-width: 767px) {
    .mb-xs-0 {
        margin-bottom: 0;
    }
    .text-t009 .mb-xs-8 {
        margin-bottom: 8px;
    }
    .text-t009 .mb-xs-16 {
        margin-bottom: 16px;
    }
    .text-t009 .mb-xs-24 {
        margin-bottom: 24px;
    }
    .text-t009 .mb-xs-32 {
        margin-bottom: 32px;
    }
    .text-t009 .mb-xs-40 {
        margin-bottom: 40px;
    }
    .text-t009 .mb-xs-48 {
        margin-bottom: 48px;
    }
    .text-t009 .mb-xs-64 {
        margin-bottom: 64px;
    }
    .text-t009 .mb-xs-72 {
        margin-bottom: 72px;
    }
    .text-t009 .mb-xs-80 {
        margin-bottom: 80px;
    }
    .text-t009 .mb-xs-88 {
        margin-bottom: 88px;
    }
    .text-t009 .mb-xs-96 {
        margin-bottom: 96px;
    }
    .text-t009 .mb-xs-104 {
        margin-bottom: 104px;
    }
    .text-t009 .mb-xs-112 {
        margin-bottom: 112px;
    }
    .text-t009 .mb-xs-120 {
        margin-bottom: 120px;
    }
    .text-t009 .mt-xs-0 {
        margin-top: 0 !important;
    }
    .text-t009 .mt-xs-8 {
        margin-top: 8px;
    }
    .text-t009 .mt-xs-16 {
        margin-top: 16px;
    }
    .text-t009 .mt-xs-24 {
        margin-top: 24px;
    }
    .text-t009 .mt-xs-32 {
        margin-top: 32px;
    }
    .text-t009 .mt-xs-40 {
        margin-top: 40px;
    }
    .text-t009 .mt-xs-48 {
        margin-top: 48px;
    }
    .text-t009 .mt-xs-56 {
        margin-top: 56px;
    }
    .text-t009 .mt-xs-64 {
        margin-top: 64px;
    }
    .text-t009 .mt-xs-72 {
        margin-top: 72px;
    }
    .text-t009 .mt-xs-80 {
        margin-top: 80px;
    }
    .text-t009 .mt-xs-88 {
        margin-top: 88px;
    }
    .text-t009 .mt-xs-96 {
        margin-top: 96px;
    }
    .text-t009 .mt-xs-104 {
        margin-top: 104px;
    }
    .text-t009 .mt-xs-112 {
        margin-top: 112px;
    }
    .text-t009 .mt-xs-120 {
        margin-top: 120px;
    }
    .text-t009 .p0-xs {
        padding: 0;
    }
    .text-t009 .pt-xs-0 {
        padding-top: 0;
    }
    .text-t009 .pt-xs-8 {
        padding-top: 8px;
    }
    .text-t009 .pt-xs-16 {
        padding-top: 16px;
    }
    .text-t009 .pt-xs-24 {
        padding-top: 24px;
    }
    .text-t009 .pt-xs-32 {
        padding-top: 32px;
    }
    .text-t009 .pt-xs-40 {
        padding-top: 40px;
    }
    .text-t009 .pt-xs-48 {
        padding-top: 48px;
    }
    .text-t009 .pt-xs-64 {
        padding-top: 64px;
    }
    .text-t009 .pt-xs-72 {
        padding-top: 72px;
    }
    .text-t009 .pt-xs-80 {
        padding-top: 80px;
    }
    .text-t009 .pt-xs-88 {
        padding-top: 88px;
    }
    .text-t009 .pt-xs-96 {
        padding-top: 96px;
    }
    .text-t009 .pt-xs-104 {
        padding-top: 104px;
    }
    .text-t009 .pt-xs-112 {
        padding-top: 112px;
    }
    .text-t009 .pt-xs-120 {
        padding-top: 120px;
    }
    .text-t009 .pt-xs-160 {
        padding-top: 160px;
    }
    .text-t009 .pt-xs-180 {
        padding-top: 180px;
    }
    .text-t009 .pt-xs-240 {
        padding-top: 240px !important;
    }
    .text-t009 .pb-xs-0 {
        padding-bottom: 0;
    }
    .text-t009 .pb-xs-8 {
        padding-bottom: 8px;
    }
    .text-t009 .pb-xs-16 {
        padding-bottom: 16px;
    }
    .text-t009 .pb-xs-24 {
        padding-bottom: 24px;
    }
    .text-t009 .pb-xs-32 {
        padding-bottom: 32px;
    }
    .text-t009 .pb-xs-40 {
        padding-bottom: 40px;
    }
    .text-t009 .pb-xs-48 {
        padding-bottom: 48px;
    }
    .text-t009 .pb-xs-64 {
        padding-bottom: 64px;
    }
    .text-t009 .pb-xs-72 {
        padding-bottom: 72px;
    }
    .text-t009 .pb-xs-80 {
        padding-bottom: 80px;
    }
    .text-t009 .pb-xs-88 {
        padding-bottom: 88px;
    }
    .text-t009 .pb-xs-96 {
        padding-bottom: 96px;
    }
    .text-t009 .pb-xs-104 {
        padding-bottom: 104px;
    }
    .text-t009 .pb-xs-112 {
        padding-bottom: 112px;
    }
    .text-t009 .pb-xs-120 {
        padding-bottom: 120px;
    }
    .text-t009 .pb-xs-180 {
        padding-bottom: 180px;
    }
    .text-t009 .pb-xs-240 {
        padding-bottom: 240px !important;
    }
}