<section class="text-t012 pad-default-elements">
    <div class="container">
        <article class="row text-center">
            <div class="cont_logo_section col-md-2 col-xs-12">
                <img src="http://srv4.vmwm.com.br/img/logolegal.png" alt="" class="img-responsive" data-image="true">
            </div>
            <div class="cont_menu_footer col-md-10">

                <div class="cont_links col-md-6">
                    <i class="fa fa-map-marker" data-icon="true"></i>
                    <div class="inline-block" data-editable="true"> Endereço </div>
                </div>
                <div class="cont_links col-md-2">
                    <i class="fa fa-phone" data-icon="true"></i>
                    <div class="inline-block" data-editable="true"> Telefone </div>
                </div>
                <div class="cont_links col-md-2">
                    <i class="fa fa-whatsapp" data-icon="true"></i>
                    <div class="inline-block" data-editable="true"> Whatsapp </div>
                </div>
                <div class="cont_links col-md-2">
                    <i class="fa fa-facebook-official icon" data-icon="true"></i>
                    <i class="fa fa-twitter icon" data-icon="true"></i>
                    <i class="fa fa-instagram icon" data-icon="true"></i>
                </div>
            </div>
        </article>
    </div>
</section>