<header class="header-003">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="header-003-nav-top background-default ">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <a class="navbar-brand" href="#"><img src="assets/img/logolegal.png" alt="" data-image="true"></a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 header-003-nav-top-cont-infos">
                    <div class="col-sm-2 col-sm-offset-1 col-xs-12">
                        <i class="fa fa-clock-o" aria-hidden="true " data-icon="true"></i>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        <p data-editable="true">Mon - Sat: 9:00am - 5:00pm</br>
                            <small>Sunday Closed</small></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12  header-003-nav-top-cont-infos">
                    <div class="col-sm-2 col-sm-offset-3 col-xs-12">
                        <i class="fa fa-map-marker" aria-hidden="true " data-icon="true"></i>
                    </div>
                    <div class="col-sm-7 col-xs-12 ">
                        <p data-editable="true">452 Marshal Street</br>
                            <small>Newyork, USA</small></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 header-003-nav-top-cont-infos">
                    <div class="col-sm-2 col-sm-offset-3 col-xs-12">
                        <i class="fa fa-mobile" aria-hidden="true " data-icon="true"></i>
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <p data-editable="true">+01 2345 6789</br>
                            <small>info@carhut.com</small></p>
                    </div>
                </div>
                <span class="clearfix "></span>
            </div>
            <div class="navbar-header ">
                <button type="button " class="navbar-toggle collapsed" data-toggle="collapse " data-target="#bs-example-navbar-collapse-1 " aria-expanded="false ">
                    <span class="sr-only ">Toggle navigation</span>
                    <span class="icon-bar "></span>
                    <span class="icon-bar "></span>
                    <span class="icon-bar "></span>
                </button>
            </div>
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1 ">
                <ul data-menu="true">

                </ul>
            </div>
        </div>
    </nav>
</header>