<section class="x_component_text_cod_131">
    <i class="top-traingle"></i>
    <div class="container">
        <div class="row">
            <h1 data-editable="true" class="font-title service-title">LOREM IPSUM</h1>
            <div class="col-sm-4 no-padding clearfix">
                <div class="service-container">
                    <div class="icon">
                        <i data-icon="true" class="material-icons-services fa fa-quote-right color-default"></i>
                    </div>
                    <div class="description">
                        <h3 class="font-title service-type-title" data-editable="true">Lorem ipsum dolor sit amet</h3>
                        <div class="font-description service-type-description" data-editable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fugiat non corporis quaerat quasi cumque rem animi, explicabo quod possimus quia beatae quisquam dolores voluptatum maxime dolorem excepturi autem aliquid.
                        </div>

                    </div>
                </div>
            </div>
            <hr class="visible-xs">

            <div class="col-sm-4 no-padding clearfix">
                <div class="service-container">
                    <div class="icon">
                        <i data-icon="true" class="material-icons-services fa fa-handshake-o color-default"></i>
                    </div>
                    <div class="description">
                        <h3 class="font-title service-type-title" data-editable="true">Lorem ipsum</h3>
                        <div class="font-description service-type-description" data-editable="true"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fuga quo, facilis voluptates laborum amet dolore, reiciendis nemo architecto delectus numquam culpa error mollitia! Temporibus sunt animi vel, eius deserunt.</div>

                    </div>
                </div>
            </div>
            <hr class="visible-xs">
            <div class="col-sm-4 no-padding clearfix">
                <div class="service-container">
                    <div class="icon">
                        <i data-icon="true" class="material-icons-services fa fa-free-code-camp color-default"></i>
                    </div>
                    <div class="description">
                        <h3 class="font-title service-type-title" data-editable="true">Sit amet</h3>
                        <div class="font-description service-type-description" data-editable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, debitis quibusdam. Illo sit, rem perspiciatis consequatur dicta quis aperiam libero explicabo, illum quod voluptates alias autem assumenda pariatur cum neque.</div>

                    </div>
                </div>
            </div>



        </div>
    </div>
    <i class="bottom-traingle"></i>
</section>