<div class="aba-a006 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt24">
                <h4 class="mb80" data-editable="true">Título</h4>
                <div class="tabbed-content button-tabs vertical">
                    <ul class="tabs">
                        <li class="active">
                            <div class="tab-title">
                                <div>Tab 1</div>
                            </div>
                            <div class="tab-content">
                                <h5 data-editable="true">Endereço</h5>
                                <hr>
                                <div data-mapa="true" data-type="map" style="width: 600px; height: 450px;"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>