<div class="social-s005 full-w">
  <section class="pt-xs-40 pb-xs-40">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="#" class="social-icons"><div class="fa-3x"><i class="fa fa-twitter" data-icon="true"></i></div></a>
          <a href="#" class="social-icons"><div class="fa-3x"><i class="fa fa-facebook" data-icon="true"></i></div></a>
          <a href="#" class="social-icons"><div class="fa-3x"><i class="fa fa-youtube" data-icon="true"></i></div></a>
          <a href="#" class="social-icons"><div class="fa-3x"><i class="fa fa-instagram" data-icon="true"></i></div></a>
        </div>
      </div>
    </div>
  </section>
</div>