.map-m004 .p0 {
    padding: 0;
}

.map-m004 .map-holder {
    overflow: hidden;
    position: relative;
    height: 250px;
}

.map-m004 .map-holder:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}