<div class="imagem-i004 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title" data-editable="true">Novo Titulo</span>
                        <button type="button" data-link="true" class="btn btn-custom pull-right" aria-label="Left Align"><i class="fa fa-plus color-default" data-icon="true"></i></button>
                    </div>
                    <div class="card-image">
                        <img class="card-img-h" data-image="true" src="http://lorempixel.com/555/300/sports">
                    </div>
                    <div class="card-action">
                        <p data-editable="true">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title" data-editable="true">Novo Titulo</span>
                        <button type="button" data-link="true" class="btn btn-custom pull-right" aria-label="Left Align"><i class="fa fa-plus color-default" data-icon="true"></i></button>
                    </div>
                    <div class="card-image">
                        <img class="card-img-h" data-image="true" src="http://lorempixel.com/555/300/sports">
                    </div>
                    <div class="card-action">
                        <p data-editable="true">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title" data-editable="true">Novo Titulo</span>
                        <button type="button" data-link="true" class="btn btn-custom pull-right" aria-label="Left Align"><i class="fa fa-plus color-default" data-icon="true"></i></button>
                    </div>
                    <div class="card-image">
                        <img class="card-img-h" data-image="true" src="http://lorempixel.com/555/300/sports">
                    </div>
                    <div class="card-action">
                        <p data-editable="true">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>