.cta-c001 {
	background: #000000;
}
.cta-c001 ul {
    list-style: none;
}

.cta-c001 ul.bullets {
    list-style: inside;
}

.cta-c001 .main-container {
    clear: both;
}

.cta-c001 hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 0 24px 0;
    width: 100%;
}

.cta-c001 hr.short-thick {
    max-width: 50px;
    border-top: 5px solid #ccc;
    opacity: 1 !important;
}

.cta-c001 .image-bg hr {
    border-color: #fff;
    opacity: .6;
}

.cta-c001 .image-bg.bg-light hr {
    border-color: #ccc;
    opacity: 1;
}

.cta-c001 .bg-dark hr {
    border-color: #555;
}

.cta-c001 .inline-block {
    display: inline-block;
}

.cta-c001 .list-inline {
    margin-left: 0;
}

.cta-c001 .list-inline>li {
    padding: 0 8px;
}

.cta-c001 .list-inline>li:last-child {
    padding-right: 0;
}

.cta-c001 .list-inline>li:first-child {
    padding-left: 0;
}

.cta-c001 .bg-primary .list-inline i {
    color: #8ed3ab;
}

.cta-c001 .overflow-hidden {
    overflow: hidden;
}

.cta-c001 .display-block {
    display: block;
}

.cta-c001 .show-grid {
    border: 1px dashed rgba(255, 255, 255, 0);
    padding: 8px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    cursor: default;
}


.cta-c001 .right {
    right: 0;
}

.cta-c001 .relative {
    position: relative;
    z-index: 2;
}

.cta-c001 .clearboth {
    clear: both;
}

.cta-c001 .spread-children * {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

.cta-c001 .spread-children-large * {
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
}

.cta-c001 .container {
    position: relative;
}

.cta-c001 .vnu {
    display: inline;
}

.cta-c001 .row-gapless>div[class*='col-'] {
    padding: 0;
}

@media all and (max-width: 1100px) {
   .cta-c001 .col-md-push-1 {
        left: 0;
    }
}

@media all and (max-width: 768px) {
    .cta-c001 .pull-left-sm {
        float: left !important;
    }
    .cta-c001 .overflow-hidden-xs {
        overflow: hidden;
    }
}

@media all and (max-width: 767px) {
    .cta-c001 .spread-children * {
        margin-left: 6px;
        margin-right: 6px;
    }
}


.cta-c001 .v-align-children {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.cta-c001 .v-align-children-column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.cta-c001 .disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all and (max-width: 990px) {
    .cta-c001 .v-align-children {
        display: block !important;
    }
}

.cta-c001 .v-align-transform {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
}

.cta-c001 .align-bottom {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

.cta-c001 .align-top {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}


@media all and (max-width: 767px) {
    .cta-c001 .text-center-xs {
        text-align: center !important;
    }
}

.cta-c001 .bold {
    font-weight: 600 !important;
}

.cta-c001 .thin {
    font-weight: 100 !important;
}

@media all and (max-width: 767px) {
    .cta-c001 .thin {
        font-weight: 300 !important;
    }
}

.cta-c001 h1,
.cta-c001 h2,
.cta-c001 h3,
.cta-c001 h4,
.cta-c001 h5,
.cta-c001 h6,
.cta-c001 p,
.cta-c001 ul,
.cta-c001 ol,
.cta-c001 pre,
.cta-c001 table,
.cta-c001 blockquote,
.cta-c001 input,
.cta-c001 button,
.cta-c001 select,
.cta-c001 textarea {
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
}

.cta-c001 h1,
.cta-c001 h2,
.cta-c001 h3,
.cta-c001 h4,
.cta-c001 h5,
.cta-c001 h6,
.cta-c001 .h1,
.cta-c001 .h2,
.cta-c001 .h3,
.cta-c001 .h4,
.cta-c001 .h5,
.cta-c001 .h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cta-c001 h1,
.cta-c001 h2,
.cta-c001 h3,
.cta-c001 h4,
.cta-c001 h5,
.cta-c001 h6 {
    font-weight: 300;
    color: #292929;
}

.cta-c001 h1,
.cta-c001 .h1 {
    font-size: 56px;
    line-height: 64px;
}

.cta-c001 h1.large {
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
}

@media all and (max-width: 990px) {
    .cta-c001 h1.large {
        font-size: 56px;
        line-height: 64px;
    }
}

.cta-c001 h2 {
    font-size: 40px;
    line-height: 48px;
}

.cta-c001 h3 {
    font-size: 32px;
    line-height: 40px;
}

.cta-c001 h4 {
    font-size: 24px;
    line-height: 32px;
}

.cta-c001 h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.cta-c001 h6,
.cta-c001 .h6 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
}

@media all and (max-width: 767px) {
    .cta-c001 h1,
    .cta-c001 h1.large,
    .cta-c001 .h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 300;
    }
    .cta-c001 h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .cta-c001 h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .cta-c001 h4 {
        font-size: 18px;
        line-height: 26px;
    }
    .cta-c001 h5 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .cta-c001 h6,
    .cta-c001 .h6 {
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
    }
}

.cta-c001 .uppercase {
    font-weight: 400;
    text-transform: uppercase;
}

.cta-c001 h1.uppercase {
    letter-spacing: 17px;
    margin-right: -17px;
}

.cta-c001 h2.uppercase {
    letter-spacing: 10px;
    margin-right: -10px;
}

.cta-c001 h3.uppercase {
    letter-spacing: 6px;
    margin-right: -6px;
}

.cta-c001 h4.uppercase {
    letter-spacing: 3px;
    margin-right: -3px;
}

.cta-c001 h5.uppercase {
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-c001 h6.uppercase,
.cta-c001 .h6-u {
    letter-spacing: 2px;
    font-weight: 700;
}

.cta-c001 .bold-h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.cta-c001 p,
.cta-c001 span {
    font-weight: 400;
}

.cta-c001 p.lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.cta-c001 .sub {
    font-size: 12px;
}

@media all and (max-width: 767px) {
    .cta-c001 p.lead {
        font-size: 13px;
        line-height: 24px;
    }
    .cta-c001 p {
        font-size: 12px;
    }
}

.cta-c001 a,
.cta-c001 a:visited,
.cta-c001 a:focus,
.cta-c001 a:active,
.cta-c001 a:hover {
    text-decoration: none;
    outline: none;
}

.cta-c001 a {
    font-weight: 600;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: poitner;
}

.cta-c001 .image-bg a,
.cta-c001 .bg-primary a {
    color: #fff;
}

.cta-c001 .image-bg a:hover,
.cta-c001 .bg-primary a:hover {
    color: #fff;
    opacity: .9;
}

.cta-c001 .bg-light a:hover {
    opacity: 1;
}

.cta-c001 a:hover {
    color: #398f5d;
    text-decoration: none;
}

.cta-c001 .label {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 10px;
    vertical-align: middle;
}

.cta-c001 blockquote {
    overflow: hidden;
    font-family: "Merriweather", "Georgia", Times New Roman, Times, serif;
    font-size: 20px;
    line-height: 40px;
    font-style: italic;
    background: #f5f5f5;
    padding: 32px;
    color: #777;
    font-weight: 300;
}

.cta-c001 .bg-secondary blockquote {
    background: #fff;
}

.cta-c001 blockquote .author {
    font-size: 12px;
    display: block;
    float: right;
    margin-top: 16px;
}

.cta-c001 .number {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cta-c001 .columns-2 {
    column-count: 2;
    -webkit-column-count: 2;
}

@media all and (max-width: 767px) {
    .cta-c001 br {
        display: none;
    }
    .cta-c001 blockquote {
        font-size: 16px;
        line-height: 32px;
    }
    .cta-c001 .columns-2 {
        column-count: 1;
        -webkit-column-count: 1;
    }
}

.cta-c001 .text-left {
    text-align: left !important;
}

@media all and (max-width: 767px) {
   .cta-c001 .text-left-xs {
        text-align: left !important;
    }
}

.cta-c001 ul[data-bullet] li {
    line-height: 32px;
}

.cta-c001 ul[data-bullet] li i:first-child {
    margin-right: 16px;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    display: inline-block;
}

.cta-c001 ul.lead li {
    font-size: 16px;
    line-height: 40px;
}


.cta-c001 .bg-secondary {
    background: #f8f8f8;
}

.cta-c001 .bg-white {
    background: #fff;
}

.cta-c001 .bg-dark {
    background: #292929;
}

.cta-c001 .color-body {
    color: #666;
}

.cta-c001 .color-red {
    color: #e31d3b !important;
}

.cta-c001 .color-white {
    color: #fff;
}

.cta-c001 section,
.cta-c001 footer {
    position: relative;
    overflow: hidden;
}

.cta-c001 footer {
    padding: 72px 0;
}

.cta-c001 .fullscreen {
    height: 100vh;
}

.cta-c001 .bg-dark h1,
.cta-c001 nav.bg-dark h1,
.cta-c001 footer.bg-dark h1,
.cta-c001 .bg-primary h1,
.cta-c001 .bg-dark h2,
.cta-c001 nav.bg-dark h2,
.cta-c001 footer.bg-dark h2,
.cta-c001 .bg-primary h2,
.cta-c001 .bg-dark h3,
.cta-c001 nav.bg-dark h3,
.cta-c001 footer.bg-dark h3,
.cta-c001 .bg-primary h3,
.cta-c001 .bg-dark h4,
.cta-c001 nav.bg-dark h4,
.cta-c001 footer.bg-dark h4,
.cta-c001 .bg-primary h4,
.cta-c001 .bg-dark h5,
.cta-c001 nav.bg-dark h5,
.cta-c001 footer.bg-dark h5,
.cta-c001 .bg-primary h5,
.cta-c001 .bg-dark h6,
.cta-c001 nav.bg-dark h6,
.cta-c001 footer.bg-dark h6,
.cta-c001 .bg-primary h6 {
    color: #ffffff;
}

.cta-c001 .bg-dark p,
.cta-c001 nav.bg-dark p,
.cta-c001 footer.bg-dark p,
.cta-c001 .bg-primary p,
.cta-c001 .bg-dark span,
.cta-c001 nav.bg-dark span,
.cta-c001 footer.bg-dark span,
.cta-c001 .bg-primary span,
.cta-c001 .bg-dark li,
.cta-c001 nav.bg-dark li,
.cta-c001 footer.bg-dark li,
.cta-c001 .bg-primary li {
    color: #fefefe;
}

@media all and (max-width: 767px) {
    .cta-c001 section {
        padding: 80px 0;
    }
}

.cta-c001 .overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 2;
}

.cta-c001 .overlay-heavy:before {
    opacity: .6;
}

.cta-c001 .bg-light.overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    opacity: 0.1;
    z-index: 2;
}

.cta-c001 .image-bg h1,
.cta-c001 .image-bg h2,
.cta-c001 .image-bg h3,
.cta-c001 .image-bg h4,
.cta-c001 .image-bg h5,
.cta-c001 .image-bg h6 {
    color: #ffffff;
}

.cta-c001 .image-bg p,
.cta-c001 .image-bg span,
.cta-c001 .image-bg li {
    color: #ffffff;
}

.cta-c001 .image-bg .container,
.cta-c001 .image-bg div[class*='col-'] {
    position: relative;
    z-index: 3;
}

.cta-c001 .container.image-bg .row {
    position: relative;
    z-index: 3;
}

.cta-c001 .background-image-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #292929;
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.cta-c001 .background-image-holder img {
    display: none;
}

.cta-c001 .background-multiply .background-image-holder {
    background-blend-mode: multiply;
}

.cta-c001 .background-image-holder.fadeIn {
    opacity: 1;
}

.cta-c001 .parallax>.background-image-holder,
.cta-c001 .parallax .slides li>.background-image-holder {
    height: 100vh;
    top: -50vh;
    transition: all 0s ease !important;
    transition: opacity 0.3s ease !important;
    -webkit-transform-style: preserve-3d;
}

.cta-c001 .parallax:first-child .slides li>.background-image-holder,
.cta-c001 .parallax:first-child .background-image-holder {
    top: 0;
}

.cta-c001 .main-container>a:first-child+.parallax .background-image-holder {
    top: 0;
}

@media all and (max-width: 767px) {
    .cta-c001 .parallax>.background-image-holder,
    .cta-c001 .parallax .slides li>.background-image-holder {
        top: 0 !important;
        transform: none !important;
        -webkit-transform: none !important;
    }
}


.cta-c001 .btn {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
}

.cta-c001 .btn:last-child,
.cta-c001 .btn:last-of-type {
    margin-right: 0;
}

.cta-c001 .btn:hover {
    color: #fff;
}

.cta-c001 .btn-icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
    min-width: 0;
    padding: 0;
    line-height: 38px;
}

.cta-c001 .btn-lg {
    height: 50px;
    line-height: 46px;
    min-width: 200px;
}

.cta-c001 .btn-icon.btn-lg {
    width: 50px;
    height: 50px;
    line-height: 49px;
    font-size: 24px;
    min-width: 0;
}

.cta-c001 .btn-icon.btn-sm {
    width: 30px;
    height: 30px;
    line-height: 29px;
    font-size: 13px;
    min-width: 0;
    padding: 0 0 0 1px!important;
}

.cta-c001 .btn-sm {
    height: 30px;
    font-size: 11px;
    line-height: 27px;
    min-width: 0;
}

.cta-c001 .btn-filled {
    color: #fff;
}

.cta-c001 .btn-white,
.cta-c001 .image-bg .btn,
.cta-c001 .image-bg .btn:visited {
    color: #fff;
    border-color: #fff;
}

.cta-c001 .btn-white:hover,
.cta-c001 .image-bg .btn:hover,
.cta-c001 .image-bg .btn:visited:hover {
    background: #fff;
}


.cta-c001 .image-bg .btn-filled:hover {
    border-color: #fff;
}

.cta-c001 .btn-rounded {
    border-radius: 25px;
}

.cta-c001 body.btn-rounded .btn {
    border-radius: 25px !important;
}

.cta-c001 .bg-light .btn {
    border-color: #222;
    color: #222;
}

.cta-c001 .bg-light .btn:visited,
.cta-c001 .bg-light .btn:visited:hover {
    color: #222;
}

.cta-c001 .bg-light .btn-filled,
.cta-c001 .bg-light .btn-filled:visited {
    color: #fff;
}

.cta-c001 .btn-white:visited,
.cta-c001 .btn:visited:hover {
    color: #fff;
}

.cta-c001 .btn-white:visited:hover {
    color: #222;
}

.cta-c001 .btn-filled:visited {
    color: #fff;
}

.cta-c001 .btn.bg-dark {
    color: #fff;
    border-color: #292929;
}

.cta-c001 .btn.bg-dark:hover {
    background: #434343;
}

.cta-c001 .bg-primary .btn {
    color: #fff;
    border-color: #fff;
}

.cta-c001 .bg-primary .btn:hover {
    background: #fff;
}


.cta-c001 .mr0 {
    margin-right: 0;
}

.cta-c001 .mb0 {
    margin-bottom: 0 !important;
}

.cta-c001 .mb8 {
    margin-bottom: 8px;
}

.cta-c001 .mb16 {
    margin-bottom: 16px;
}

.cta-c001 .mb24 {
    margin-bottom: 24px;
}

.cta-c001 .mb30 {
    margin-bottom: 30px;
}

.cta-c001 .mb32 {
    margin-bottom: 32px;
}

.cta-c001 .mb40 {
    margin-bottom: 40px;
}

.cta-c001 .mb48 {
    margin-bottom: 48px;
}

.cta-c001 .mb56 {
    margin-bottom: 56px;
}

.cta-c001 .mb64 {
    margin-bottom: 64px;
}

.cta-c001 .mb72 {
    margin-bottom: 72px;
}

.cta-c001 .mb80 {
    margin-bottom: 80px;
}

.cta-c001 .mb88 {
    margin-bottom: 88px;
}

.cta-c001 .mb96 {
    margin-bottom: 96px;
}

.cta-c001 .mb104 {
    margin-bottom: 104px;
}

.cta-c001 .mb112 {
    margin-bottom: 112px;
}

.cta-c001 .mb120 {
    margin-bottom: 120px;
}

.cta-c001 .mb160 {
    margin-bottom: 160px;
}

.cta-c001 .mt0 {
    margin-top: 0 !important;
}

.cta-c001 .mt8 {
    margin-top: 8px;
}

.cta-c001 .mt16 {
    margin-top: 16px;
}

.cta-c001 .mt24 {
    margin-top: 24px;
}

.cta-c001 .mt32 {
    margin-top: 32px;
}

.cta-c001 .mt40 {
    margin-top: 40px;
}

.cta-c001 .mt48 {
    margin-top: 48px;
}

.cta-c001 .mt56 {
    margin-top: 56px;
}

.cta-c001 .mt64 {
    margin-top: 64px;
}

.cta-c001 .mt72 {
    margin-top: 72px;
}

.cta-c001 .mt80 {
    margin-top: 80px;
}

.cta-c001 .mt88 {
    margin-top: 88px;
}

.cta-c001 .mt96 {
    margin-top: 96px;
}

.cta-c001 .mt104 {
    margin-top: 104px;
}

.cta-c001 .mt112 {
    margin-top: 112px;
}

.cta-c001 .mt120 {
    margin-top: 120px;
}

.cta-c001 .mt160 {
    margin-top: 160px;
}

.cta-c001 .p32 {
    padding: 0 32px;
}

.cta-c001 .p24 {
    padding: 24px;
}

.cta-c001 .p0 {
    padding: 0;
}

.cta-c001 .pt0 {
    padding-top: 0;
}

.cta-c001 .pt8 {
    padding-top: 8px;
}

.cta-c001 .pt16 {
    padding-top: 16px;
}

.cta-c001 .pt24 {
    padding-top: 24px;
}

.cta-c001 .pt32 {
    padding-top: 32px;
}

.cta-c001 .pt40 {
    padding-top: 40px;
}

.cta-c001 .pt48 {
    padding-top: 48px;
}

.cta-c001 .pt64 {
    padding-top: 64px;
}

.cta-c001 .pt72 {
    padding-top: 72px;
}

.cta-c001 .pt80 {
    padding-top: 80px;
}

.cta-c001 .pt88 {
    padding-top: 88px;
}

.cta-c001 .pt96 {
    padding-top: 96px;
}

.cta-c001 .pt104 {
    padding-top: 104px;
}

.cta-c001 .pt112 {
    padding-top: 112px;
}

.cta-c001 .pt120 {
    padding-top: 120px;
}

.cta-c001 .pt160 {
    padding-top: 160px;
}

.cta-c001 .pt180 {
    padding-top: 180px;
}

.cta-c001 .pt240 {
    padding-top: 240px;
}

.cta-c001 .pb0 {
    padding-bottom: 0;
}

.cta-c001 .pb8 {
    padding-bottom: 8px;
}

.cta-c001 .pb16 {
    padding-bottom: 16px;
}

.cta-c001 .pb24 {
    padding-bottom: 24px;
}

.cta-c001 .pb32 {
    padding-bottom: 32px;
}

.cta-c001 .pb40 {
    padding-bottom: 40px;
}

.cta-c001 .pb48 {
    padding-bottom: 48px;
}

.cta-c001 .pb56 {
    padding-bottom: 56px;
}

.cta-c001 .pb64 {
    padding-bottom: 64px;
}

.cta-c001 .pb72 {
    padding-bottom: 72px;
}

.cta-c001 .pb80 {
    padding-bottom: 80px;
}

.cta-c001 .pb88 {
    padding-bottom: 88px;
}

.cta-c001 .pb96 {
    padding-bottom: 96px;
}

.cta-c001 .pb104 {
    padding-bottom: 104px;
}

.cta-c001 .pb112 {
    padding-bottom: 112px;
}

.cta-c001 .pb120 {
    padding-bottom: 120px;
}

.cta-c001 .pb160 {
    padding-bottom: 160px;
}

.cta-c001 .pb180 {
    padding-bottom: 180px;
}

.cta-c001 .pb240 {
    padding-bottom: 240px;
}

@media all and (max-width: 990px) {
    .cta-c001 .mb-s-0 {
        margin-bottom: 0;
    }
    .cta-c001 .mb-s-8 {
        margin-bottom: 8px;
    }
    .cta-c001 .mb-s-16 {
        margin-bottom: 16px;
    }
    .cta-c001 .mb-s-24 {
        margin-bottom: 24px;
    }
    .cta-c001 .mb-s-32 {
        margin-bottom: 32px;
    }
    .cta-c001 .mb-s-40 {
        margin-bottom: 40px;
    }
    .cta-c001 .mb-s-48 {
        margin-bottom: 48px;
    }
    .cta-c001 .mb-s-64 {
        margin-bottom: 64px;
    }
    .cta-c001 .mb-s-72 {
        margin-bottom: 72px;
    }
    .cta-c001 .mb-s-80 {
        margin-bottom: 80px;
    }
    .cta-c001 .mb-s-88 {
        margin-bottom: 88px;
    }
    .cta-c001 .mb-s-96 {
        margin-bottom: 96px;
    }
    .cta-c001 .mb-s-104 {
        margin-bottom: 104px;
    }
    .cta-c001 .mb-s-112 {
        margin-bottom: 112px;
    }
    .cta-c001 .mb-s-120 {
        margin-bottom: 120px;
    }
}

@media all and (max-width: 990px) {
    .cta-c001 .mb-sm-0 {
        margin-bottom: 0;
    }
    .cta-c001 .mb-sm-8 {
        margin-bottom: 8px;
    }
    .cta-c001 .mb-sm-16 {
        margin-bottom: 16px;
    }
    .cta-c001 .mb-sm-24 {
        margin-bottom: 24px;
    }
    .cta-c001 .mb-sm-32 {
        margin-bottom: 32px;
    }
    .cta-c001 .mb-sm-40 {
        margin-bottom: 40px;
    }
    .cta-c001 .mb-sm-48 {
        margin-bottom: 48px;
    }
    .cta-c001 .mb-sm-64 {
        margin-bottom: 64px;
    }
    .cta-c001 .mb-sm-72 {
        margin-bottom: 72px;
    }
    .cta-c001 .mb-sm-80 {
        margin-bottom: 80px;
    }
    .cta-c001 .mb-sm-88 {
        margin-bottom: 88px;
    }
    .cta-c001 .mb-sm-96 {
        margin-bottom: 96px;
    }
    .cta-c001 .mb-sm-104 {
        margin-bottom: 104px;
    }
    .cta-c001 .mb-sm-112 {
        margin-bottom: 112px;
    }
    .cta-c001 .mb-sm-120 {
        margin-bottom: 120px;
    }
    .cta-c001 .mt-sm-0 {
        margin-top: 0 !important;
    }
    .cta-c001 .mt-sm-8 {
        margin-top: 8px;
    }
    .cta-c001 .mt-sm-16 {
        margin-top: 16px;
    }
    .cta-c001 .mt-sm-24 {
        margin-top: 24px;
    }
    .cta-c001 .mt-sm-32 {
        margin-top: 32px;
    }
    .cta-c001 .mt-sm-40 {
        margin-top: 40px;
    }
    .cta-c001 .mt-sm-48 {
        margin-top: 48px;
    }
    .cta-c001 .mt-sm-56 {
        margin-top: 56px;
    }
    .cta-c001 .mt-sm-64 {
        margin-top: 64px;
    }
    .cta-c001 .mt-sm-72 {
        margin-top: 72px;
    }
    .cta-c001 .mt-sm-80 {
        margin-top: 80px;
    }
    .cta-c001 .mt-sm-88 {
        margin-top: 88px;
    }
    .cta-c001 .mt-sm-96 {
        margin-top: 96px;
    }
    .cta-c001 .mt-sm-104 {
        margin-top: 104px;
    }
    .cta-c001 .mt-sm-112 {
        margin-top: 112px;
    }
    .cta-c001 .mt-sm-120 {
        margin-top: 120px;
    }
    .cta-c001 .p0-sm {
        padding: 0;
    }
    .cta-c001 .pt-sm-0 {
        padding-top: 0;
    }
    .cta-c001 .pt-sm-8 {
        padding-top: 8px;
    }
    .cta-c001 .pt-sm-16 {
        padding-top: 16px;
    }
    .cta-c001 .pt-sm-24 {
        padding-top: 24px;
    }
    .cta-c001 .pt-sm-32 {
        padding-top: 32px;
    }
    .cta-c001 .pt-sm-40 {
        padding-top: 40px;
    }
    .cta-c001 .pt-sm-48 {
        padding-top: 48px;
    }
    .cta-c001 .pt-sm-64 {
        padding-top: 64px;
    }
    .cta-c001 .pt-sm-72 {
        padding-top: 72px;
    }
    .cta-c001 .pt-sm-80 {
        padding-top: 80px;
    }
    .cta-c001 .pt-sm-88 {
        padding-top: 88px;
    }
    .cta-c001 .pt-sm-96 {
        padding-top: 96px;
    }
    .cta-c001 .pt-sm-104 {
        padding-top: 104px;
    }
    .cta-c001 .pt-sm-112 {
        padding-top: 112px;
    }
    .cta-c001 .pt-sm-120 {
        padding-top: 120px;
    }
    .cta-c001 .pt-sm-160 {
        padding-top: 160px;
    }
    .cta-c001 .pb-sm-0 {
        padding-bottom: 0;
    }
    .cta-c001 .pb-sm-8 {
        padding-bottom: 8px;
    }
    .cta-c001 .pb-sm-16 {
        padding-bottom: 16px;
    }
    .cta-c001 .pb-sm-24 {
        padding-bottom: 24px;
    }
    .cta-c001 .pb-sm-32 {
        padding-bottom: 32px;
    }
    .cta-c001 .pb-sm-40 {
        padding-bottom: 40px;
    }
    .cta-c001 .pb-sm-48 {
        padding-bottom: 48px;
    }
    .cta-c001 .pb-sm-64 {
        padding-bottom: 64px;
    }
    .cta-c001 .pb-sm-72 {
        padding-bottom: 72px;
    }
    .cta-c001 .pb-sm-80 {
        padding-bottom: 80px;
    }
    .cta-c001 .pb-sm-88 {
        padding-bottom: 88px;
    }
    .cta-c001 .pb-sm-96 {
        padding-bottom: 96px;
    }
    .cta-c001 .pb-sm-104 {
        padding-bottom: 104px;
    }
    .cta-c001 .pb-sm-112 {
        padding-bottom: 112px;
    }
    .cta-c001 .pb-sm-120 {
        padding-bottom: 120px;
    }
}

@media all and (max-width: 767px) {
    .cta-c001 .mb-xs-0 {
        margin-bottom: 0;
    }
    .cta-c001 .mb-xs-8 {
        margin-bottom: 8px;
    }
    .cta-c001 .mb-xs-16 {
        margin-bottom: 16px;
    }
    .cta-c001 .mb-xs-24 {
        margin-bottom: 24px;
    }
    .cta-c001 .mb-xs-32 {
        margin-bottom: 32px;
    }
    .cta-c001 .mb-xs-40 {
        margin-bottom: 40px;
    }
    .cta-c001 .mb-xs-48 {
        margin-bottom: 48px;
    }
    .cta-c001 .mb-xs-64 {
        margin-bottom: 64px;
    }
    .cta-c001 .mb-xs-72 {
        margin-bottom: 72px;
    }
    .cta-c001 .mb-xs-80 {
        margin-bottom: 80px;
    }
    .cta-c001 .mb-xs-88 {
        margin-bottom: 88px;
    }
    .cta-c001 .mb-xs-96 {
        margin-bottom: 96px;
    }
    .cta-c001 .mb-xs-104 {
        margin-bottom: 104px;
    }
    .cta-c001 .mb-xs-112 {
        margin-bottom: 112px;
    }
    .cta-c001 .mb-xs-120 {
        margin-bottom: 120px;
    }
    .cta-c001 .mt-xs-0 {
        margin-top: 0 !important;
    }
    .cta-c001 .mt-xs-8 {
        margin-top: 8px;
    }
    .cta-c001 .mt-xs-16 {
        margin-top: 16px;
    }
    .cta-c001 .mt-xs-24 {
        margin-top: 24px;
    }
    .cta-c001 .mt-xs-32 {
        margin-top: 32px;
    }
    .cta-c001 .mt-xs-40 {
        margin-top: 40px;
    }
    .cta-c001 .mt-xs-48 {
        margin-top: 48px;
    }
    .cta-c001 .mt-xs-56 {
        margin-top: 56px;
    }
    .cta-c001 .mt-xs-64 {
        margin-top: 64px;
    }
    .cta-c001 .mt-xs-72 {
        margin-top: 72px;
    }
    .cta-c001 .mt-xs-80 {
        margin-top: 80px;
    }
    .cta-c001 .mt-xs-88 {
        margin-top: 88px;
    }
    .cta-c001 .mt-xs-96 {
        margin-top: 96px;
    }
    .cta-c001 .mt-xs-104 {
        margin-top: 104px;
    }
    .cta-c001 .mt-xs-112 {
        margin-top: 112px;
    }
    .cta-c001 .mt-xs-120 {
        margin-top: 120px;
    }
    .cta-c001 .p0-xs {
        padding: 0;
    }
    .cta-c001 .pt-xs-0 {
        padding-top: 0;
    }
    .cta-c001 .pt-xs-8 {
        padding-top: 8px;
    }
    .cta-c001 .pt-xs-16 {
        padding-top: 16px;
    }
    .cta-c001 .pt-xs-24 {
        padding-top: 24px;
    }
    .cta-c001 .pt-xs-32 {
        padding-top: 32px;
    }
    .cta-c001 .pt-xs-40 {
        padding-top: 40px;
    }
    .cta-c001 .pt-xs-48 {
        padding-top: 48px;
    }
    .cta-c001 .pt-xs-64 {
        padding-top: 64px;
    }
    .cta-c001 .pt-xs-72 {
        padding-top: 72px;
    }
    .cta-c001 .pt-xs-80 {
        padding-top: 80px;
    }
    .cta-c001 .pt-xs-88 {
        padding-top: 88px;
    }
    .cta-c001 .pt-xs-96 {
        padding-top: 96px;
    }
    .cta-c001 .pt-xs-104 {
        padding-top: 104px;
    }
    .cta-c001 .pt-xs-112 {
        padding-top: 112px;
    }
    .cta-c001 .pt-xs-120 {
        padding-top: 120px;
    }
    .cta-c001 .pt-xs-160 {
        padding-top: 160px;
    }
    .cta-c001 .pt-xs-180 {
        padding-top: 180px;
    }
    .cta-c001 .pt-xs-240 {
        padding-top: 240px !important;
    }
    .cta-c001 .pb-xs-0 {
        padding-bottom: 0;
    }
    .cta-c001 .pb-xs-8 {
        padding-bottom: 8px;
    }
    .cta-c001 .pb-xs-16 {
        padding-bottom: 16px;
    }
    .cta-c001 .pb-xs-24 {
        padding-bottom: 24px;
    }
    .cta-c001 .pb-xs-32 {
        padding-bottom: 32px;
    }
    .cta-c001 .pb-xs-40 {
        padding-bottom: 40px;
    }
    .cta-c001 .pb-xs-48 {
        padding-bottom: 48px;
    }
    .cta-c001 .pb-xs-64 {
        padding-bottom: 64px;
    }
    .cta-c001 .pb-xs-72 {
        padding-bottom: 72px;
    }
    .cta-c001 .pb-xs-80 {
        padding-bottom: 80px;
    }
    .cta-c001 .pb-xs-88 {
        padding-bottom: 88px;
    }
    .cta-c001 .pb-xs-96 {
        padding-bottom: 96px;
    }
    .cta-c001 .pb-xs-104 {
        padding-bottom: 104px;
    }
    .cta-c001 .pb-xs-112 {
        padding-bottom: 112px;
    }
    .cta-c001 .pb-xs-120 {
        padding-bottom: 120px;
    }
    .cta-c001 .pb-xs-180 {
        padding-bottom: 180px;
    }
    .cta-c001 .pb-xs-240 {
        padding-bottom: 240px !important;
    }
}