#footer.footer-background {
    background: #262626;
    overflow: hidden;
}

#footer .inline-block {
    display: inline-block;
}

#footer .cont-map {
    margin-top: 35px;
    height: 200px;
}

#footer ul {
    padding: 0px;
}

#footer ul li {
    display: inline-block;
    padding: 10px;
}

#footer ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#footer ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer p {
    line-height: 10.5px;
}

#footer .cont-social a {
    text-align: center;
}

#footer .cont-social i {
    font-size: 15px;
    padding: 0 10px;
}

#footer .cont-links-footer {
    margin-top: 70px;
}

#footer .cont-info {
    margin-top: 80px;
}

#footer .cont-info i {
    margin-right: 15px;
    font-size: 16px;
}

#footer .cont-logo-footer img {
    width: 156px;
    margin-top: 70px;
    margin-bottom: 30px;
}

@media all and (max-width:991px) {
    #footer .cont-info {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 10px;
       
    }
  #footer .cont-info:last-child i{
      position: relative;
    	top: -17px;
  }
    #footer .cont-info:last-child i{
      position: relative;
    	top: -17px;
  }
    
    
    #footer .container {
        padding: 0;
    }
    #footer .cont-links-footer {
        margin-top: 0;
    }
    #footer .cont-logo-footer img {
        margin-top: 15px;
    }
}