.x_component_contact_cod_098 {
    font-size: 14px;
    line-height: 1.85714;
    color: #808080;
    font-weight: 300;
}

.x_component_contact_cod_098 .color-default {
    color: #655f63;
}

.x_component_contact_cod_098 .font-title {
    font-size: 60px;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2307;
    text-rendering: optimizelegibility;
}

.x_component_contact_cod_098 h3 {
    font-size: 36px;
    font-weight: 300;
    color: #0d0d0d;
    margin-bottom: 20px;
}

.x_component_contact_cod_098 .form-wrap {
    position: relative;
    margin-top: 50px;
}

.x_component_contact_cod_098 .form-input {
    display: block;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    color: #808080;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    border-radius: 0;
    -webkit-appearance: none;
    transition: 0.3s ease-in-out;
}

.x_component_contact_cod_098 textarea.form-input {
    height: 180px;
    min-height: 150px;
    max-height: 250px;
    resize: vertical;
}

.x_component_contact_cod_098 .button {
    display: inline-block;
    margin-top: 30px;
    position: relative;
    padding: 13px 22px;
    font-size: 14px;
    line-height: 29px;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: 250ms all ease-in-out;
}

.x_component_contact_cod_098 .button-default-outline:hover,
.x_component_contact_cod_098 .button-default-outline:focus,
.x_component_contact_cod_098 .button-default-outline:active,
.x_component_contact_cod_098 .button-default-outline:hover {
    opacity: 0.6;
}