
.slider-s001 img.slide-image {
  height: auto;
  width: 100%;
}

.slider-s001 video {
    width: 100%;
}

.slider-s001 .simple-slider .swiper-slide {
    height: auto !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-s001 .simple-slider .swiper-button-next,
.slider-s001 .simple-slider .swiper-button-prev {
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width:767px) {
    .slider-s001 .simple-slider .swiper-button-next,
    .slider-s001 .simple-slider .swiper-button-prev {
        display: none;
    }
}

@media (max-width:767px) {
    .slider-s001 .simple-slider .swiper-slide {
        height: 360px;
    }
}

.slider-s001 .simple-slider video {
    width: 100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 20px; 
}