<div class="img-i003 ful-w pad-default-elements">
    <section>
        <div class="container">
            <div class="row masonry masonryFlyIn">
                <div class="col-sm-6 masonry-item project" data-filter="People">
                    <div class="image-tile hover-tile text-center">
                        <img alt="image" class="background-image" src="/assets/components/img/home17.jpg" data-image="true">
                        <div class="hover-state">
                            <a href="#" data-link="true">
                                <h3 class="uppercase mb8" data-editable="true">Carro </h3>
                                <h6 class="uppercase" data-editable="true">Marca / Modelo</h6>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 masonry-item project" data-filter="People">
                    <div class="image-tile hover-tile text-center">
                        <img alt="image" class="background-image" src="/assets/components/img/home18.jpg" data-image="true">
                        <div class="hover-state">
                            <a href="#" data-link="true">
                                <h3 class="uppercase mb8" data-editable="true">Carro </h3>
                                <h6 class="uppercase" data-editable="true">Marca / Modelo</h6>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 masonry-item project" data-filter="People">
                    <div class="image-tile hover-tile text-center">
                        <img alt="image" class="background-image" src="/assets/components/img/home14.jpg" data-image="true">
                        <div class="hover-state">
                            <a href="#" data-link="true">
                                <h3 class="uppercase mb8" data-editable="true">Carro </h3>
                                <h6 class="uppercase" data-editable="true">Marca / Modelo</h6>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 masonry-item project" data-filter="People">
                    <div class="image-tile hover-tile text-center">
                        <img alt="image" class="background-image" src="/assets/components/img/home18.jpg" data-image="true">
                        <div class="hover-state">
                            <a href="#" data-link="true">
                                <h3 class="uppercase mb8" data-editable="true">Carro </h3>
                                <h6 class="uppercase" data-editable="true">Marca / Modelo</h6>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

</div>