<div class="menu-m00g40 navbar-wrapper">
  <nav class="navbar">
    <div class="nav-bar">
      <div class="module left">
        <div><img alt="" class="image-xxs" data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=25698"></div>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="fa fa-bars"></i>
      </div>
      <div class="module-group right">
        <div class="module left cont-menu">
          <ul data-menu="true">
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>