.menu-m011 {
    background: rgba(255, 255, 255, 0.8);
}

.menu-m011 .navbar {
    margin-bottom: 0;
    border: 0;
}

.menu-m011 .m-social-links {
    height: 44px;
    font-size: 16px;
    width: auto;
}

.menu-m011 .m-social-links a {
    margin-right: 10px;
    text-decoration: none;
}

.menu-m011 ul {
    list-style: none;
}

.menu-m011 ul.bullets {
    list-style: inside;
}

.menu-m011 .inline-block {
    display: inline-block;
}

.menu-m011 .list-inline {
    margin-left: 0;
}

.menu-m011 .list-inline>li {
    padding: 0 8px;
}

.menu-m011 .list-inline>li:last-child {
    padding-right: 0;
    padding-left: 0;
}

.menu-m011 .right {
    right: 0;
}

.menu-m011 .image-xxs {
    transition: 1s;
    height: 90px;
}

.menu-m011 .sub {
    font-size: 12px;
}

.menu-m011 nav {
    -webkit-backface-visibility: hidden;
    max-width: 100%;
}

.menu-m011 nav ul {
    margin-bottom: 20px;
}

.menu-m011 .module {
    display: inline-block;
    padding: 0 15px;
}

.menu-m011 .module-group {
    display: inline-block;
}

.menu-m011 .module.left,
.menu-m011 .module-group.left {
    float: left;
}

.menu-m011 .module.right,
.menu-m011 .module-group.right {
    float: right;
}

.menu-m011 .nav-utility {
    height: 45px;
    line-height: 43px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    opacity: 0.8;
}

.menu-m011 .nav-utility i {
    position: relative;
    top: 5px;
    font-size: 30px;
    color: #fff;
}

.menu-m011 .nav-bar {
    height: 100px;
    max-height: 100px;
    line-height: 53px;
    border-bottom: 1px solid #cacaca;
    position: relative;
    z-index: 501;
    opacity: 0.9;
    border-radius: 0;
}

.menu-m011 .nav-bar .module,
.menu-m011 .nav-bar .module-group {
    height: 55px;
}

.menu-m011 .nav-bar a {
    display: inline-block;
    height: 55px;
}

.menu-m011 .has-dropdown:after {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

.menu-m011 .menu {
    width: 100%;
    height: 55px;
    margin-top: 24px;
}

.menu-m011 .menu.inline-block {
    width: auto;
}

.menu-m011 .menu li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0;
    color: #292929;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    max-width: 100%;
    white-space: normal;
    text-decoration: none;
}

.menu-m011 .menu>li {
    margin-right: 32px;
    float: left;
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
}

.menu-m011 .menu>li:last-child {
    margin-right: 0;
}

.menu-m011 .menu>li:last-child>ul {
    right: 0;
}

.menu-m011 .menu>li:last-child>ul ul {
    left: auto;
    right: 100%;
}

.menu-m011 .menu>li ul {
    display: block;
    width: 200px;
    padding: 8px 0;
    background: #ffffff;
    position: absolute;
    z-index: 99;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    visibility: hidden;
    margin-top: -1px;
    background-color: rgba(113, 113, 113, 0.4);
    border: 1px solid rgba(113, 113, 113, 0.3);
}

.menu-m011 .dropdown-menu>li>a:hover {
    margin-left: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    background: transparent;
}

.menu-m011 .menu>li>ul>li {
    position: relative;
    line-height: 24px;
    width: 100%;
    vertical-align: top;
}

.menu-m011 .menu>li>ul>li i {
    display: inline-block;
    margin-right: 2px;
}

.menu-m011 .menu>li>ul>.has-dropdown:after {
    color: #fff;
    top: 5px;
    right: 24px;
    content: "\e649";
}

.menu-m011 .menu>li>ul li a {
    color: #292929;
    height: auto;
    padding: 6px 24px;
    background: none;
}

.menu-m011 .menu>li>ul>li>ul {
    left: 100%;
    top: 0;
}

.menu-m011 .menu>li:hover>ul {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    visibility: visible;
}

.menu-m011 .menu>li>ul>li:hover>ul {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    visibility: visible;
}

.menu-m011 .module.widget-handle {
    border-left: 1px solid #ccc;
    padding: 0 24px;
    cursor: pointer;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.menu-m011 .module.widget-handle i {
    font-size: 20px;
    line-height: 53px;
    opacity: 0.5;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.menu-m011 .module.widget-handle:hover i,
.menu-m011 .module.active i {
    opacity: 1;
}

.menu-m011 nav .widget {
    margin: 0;
    padding: 24px;
}

.menu-m011 .nav-open {
    max-height: 10000px !important;
    height: auto !important;
}

@media all and (max-width: 1200px) {
    .menu-m011 .menu>li {
        margin-right: 20px;
    }
    .menu-m011 .module {
        padding: 0 5px;
    }
}

@media all and (max-width: 1015px) {
    .menu-m011 .module.widget-handle {
        padding: 0 16px;
    }
    .menu-m011 .nav-bar {
        line-height: 0;
    }
}

@media all and (max-width: 990px) {
    .menu-m011 .menu>li ul {
        background-color: rgba(113, 113, 113, 1);
    }
    .menu-m011 .menu>li:last-child>ul ul {
        right: 0;
    }
    .menu-m011 .image-xxs {
        max-height: 100px;
    }
    .menu-m011 .nav-bar,
    .menu-m011 .nav-bar .module-group,
    .menu-m011 .nav-bar .module {
        height: auto;
        overflow: hidden;
    }
    .menu-m011 .nav-bar .module {
        padding: 0 16px;
    }
    .menu-m011 .nav-bar .module-group {
        width: 100%;
        padding: 16px 0;
    }
    .menu-m011 .nav-bar .module-group .module {
        display: block;
        float: none;
        width: 100%;
    }
    .menu-m011 .menu {
        height: auto;
    }
    .menu-m011 .menu.inline-block {
        width: 100%;
    }
    .menu-m011 .menu a {
        height: auto;
        line-height: 24px;
        padding: 4px 0;
    }
    .menu-m011 .menu li {
        line-height: 24px;
        float: none;
        display: block;
        width: 100%;
        max-width: 100%;
    }
    .menu-m011 .menu>li>ul>.has-dropdown:after {
        content: "\e64b";
    }
    .menu-m011 .menu>li>ul>li>ul {
        left: 0;
        display: none;
        padding: 0;
    }
    .menu-m011 .menu>li>ul li a {
        padding: 4px 16px;
    }
    .menu-m011 .has-dropdown .has-dropdown li {
        padding-left: 18px;
    }
    .menu-m011 .has-dropdown {
        padding-right: 0;
    }
    .menu-m011 .toggle-sub>ul {
        display: block !important;
    }
    .menu-m011 .module.widget-handle {
        border-left: none;
        line-height: 40px;
        min-height: 40px;
    }
    .menu-m011 .module.widget-handle .menu {
        line-height: 40px;
    }
    .menu-m011 .module.widget-handle .menu li {
        line-height: 40px;
    }
    .menu-m011 .module.widget-handle i {
        line-height: 100px;
    }
    .menu-m011 .mobile-toggle {
        border-bottom: none;
    }
}

@media all and (max-width: 767px) {
    .menu-m011 .text-center-xs {
        text-align: center;
    }
}

@media all and (max-width: 480px) {
    .menu-m011 .image-xxs {
        max-height: 50px;
        margin-top: 25px;
    }
}