.x_component_slider-and-boxes_cod_019 {
    background: #ffffff;
    color: #292929;
    padding: 0 0 150px 0;
    background: url(../img/component_slider-and-boxes_cod_019_01.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-height: 800px;
}

.x_component_slider-and-boxes_cod_019 .top-area-container {
    padding: 100px 0 200px 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.x_component_slider-and-boxes_cod_019 .top-area-container>hr {
    border-top: 5px solid #fff;
    width: 15%;
}

.x_component_slider-and-boxes_cod_019 .top-area-container .component-top-title {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    max-width: 650px;
    margin: 25px auto;
}

.x_component_slider-and-boxes_cod_019 .top-area-container .component-top-subtitle {
    text-align: center;
    font-size: 30px;
    margin: 20px auto 50px auto;
}

.x_component_slider-and-boxes_cod_019 .top-area-container .top-area-btn {
    width: 200px;
    border: none;
    padding: 20px 0;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: block;
    overflow: hidden;
    letter-spacing: 1px;
}

.x_component_slider-and-boxes_cod_019 .top-area-container .top-area-btn:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0;
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-color: transparent transparent transparent #fff;
    bottom: 0;
    left: 0;
}

.x_component_slider-and-boxes_cod_019 .top-area-container .top-area-btn:hover:before {
    border-width: 165px 0 0 165px;
}

.x_component_slider-and-boxes_cod_019 .top-area-container .top-area-btn:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0;
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-color: transparent #fff transparent transparent;
    top: 0;
    right: 0;
}

.x_component_slider-and-boxes_cod_019 .top-area-container .top-area-btn:hover:after {
    border-width: 0 165px 165px 0;
}

.x_component_slider-and-boxes_cod_019 .top-area-container .top-area-btn:hover {
    z-index: 10;
}

.x_component_slider-and-boxes_cod_019 .blog-container {
    padding: 0 20px;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item {
    margin-top: -100px;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-img {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 10px;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-img>img {
    height: 364px;
    width: 100%;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-img:before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-img:hover:before {
    -webkit-animation: shine .75s;
    -o-animation: shine .75s;
    animation: shine .75s;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-info {
    letter-spacing: 1px;
    margin: 25px 0 0 0;
    font-size: 12px;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-info p {
    display: inline-block;
    font-size: inherit;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-title {
    margin: 0 0 25px 0;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-title a {
    letter-spacing: 1px;
    font-size: 32px;
    font-weight: 700;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-title a:hover {
    text-decoration: none;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-description {
    letter-spacing: 1px;
    margin: 0 0 25px 0;
    line-height: 1.5;
    font-size: 15px;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .readmore-btn {
    border: none;
    padding: 11px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
    .x_component_slider-and-boxes_cod_019 .top-area-container .component-top-title {
        font-size: 50px;
    }
    .x_component_slider-and-boxes_cod_019 .blog-container {
        padding: 0 20px;
    }
    .x_component_slider-and-boxes_cod_019 .blog-container .blog-item {
        margin-top: 50px;
    }
}

@-webkit-keyframes shine {
    0% {
        left: 0;
    }
    100% {
        left: 125%;
    }
}

@keyframes shine {
    0% {
        left: 0;
    }
    100% {
        left: 125%;
    }
}