<section class="x_component_footer_cod_104 pad-default-element">
    <div class="container">
        <div class="row text-xs-center">
            <div class="col-sm-6 col-md-3 sm-height">
                <h1 data-editable="true" class="footer-module-title">Navigation</h1>
                <ul class="list-unstyled footer-menu">
                    <li class="active">
                        <div data-editable="true">
                            Home
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            About
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Services
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Blog
                        </div>
                    </li>
                    <li>
                        <div data-editable="true">
                            Contacts
                        </div>
                    </li>
                </ul>
            </div>

            <hr class="visible-xs">
            <div class="col-sm-6 col-md-4 sm-height no-padding">
                <h1 data-editable="true" class="footer-module-title">Contacts</h1>
                <ul class="list-unstyled contact-info">
                    <li>
                        <i data-icon="true" class="fa fa-map-marker color-default" aria-hidden="true"></i>
                        <div data-editable="true">My Company Glasgow D04 89GR</div>
                    </li>
                    <li>
                        <i data-icon="true" class="fa fa-phone color-default" aria-hidden="true"></i>
                        <div data-editable="true">800-2345-6789</div>
                    </li>
                    <li class="text-lowercase">
                        <i data-icon="true" class="fa fa-envelope color-default" aria-hidden="true"></i>
                        <div data-editable="true">info@demolink.org</div>
                    </li>
                    <li>
                        <i data-icon="true" class="fa fa-clock-o" aria-hidden="true"></i>
                        <div data-editable="true">7 Days a week from 9:00 am to 7:00 pm</div>
                    </li>
                </ul>

            </div>
            <hr class="visible-xs">
            <div class="col-sm-6 col-md-2 sm-height no-padding">
                <h1 data-editable="true" class="footer-module-title">Follow Us</h1>
                <ul class="list-unstyled footer-social" data-social="true">
                    <li><a class="color-default-hover" target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a></li>
                </ul>
            </div>

            <hr class="visible-xs">
            <div class="col-sm-6 col-md-3 sm-height no-padding">
                <h1 data-editable="true" class="footer-module-title">About</h1>
                <div data-editable="true" class="about font-description">
                    "Car Insurance" is a NY based insurance company that was set up 1993 to specialise in Car Insurance. In 2005 we launched the first Multi Car Insurance cover which allows two or more people to insure their cars on one policy and get a discount on the overall
                    price.
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <div>
                        <img data-image="true" src="assets/img/component_footer_cod_104_1.png" alt="footer-logo">
                        <div class="inline-block" data-editable="true">Car Insurance © 2017. Privacy Policy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>