<section class="header_adel reset navbar-wrapper">

       <div class="top-header">
                <div class="container _bottom">
            <ul class=" nav navbar-nav menu pull-right" >
                        <li class="li-top">
                            <a href="">Institucional</a>
                            <ul class="submenu-1"  >
                                <li><a href="#">Sobre nós</a>
                                    <ul class="submenu-2">
                                        <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/brevehistoria">Breve História</a></li>
                                        <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/politicadaempresa">Politica da empresa</a></li>
                                        <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/diferenciais">Diferenciais</a></li>

                                    </ul>
                                </li>
                                <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/depoimentos">Depoimentos</a></li>
                                <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/nossaslojas">Nossas lojas</a></li>
                                <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/trabalheconosco">Trabalhe conosco</a></li>
                            </ul>
                        </li>
                        <li class="li-top"><a href="">Serviços</a>
                            <ul class="submenu-1">
                                <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/consorcio">Consórcio</a></li>
                                <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/financiamento">Financiamento Próprio</a></li>
                                <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/seguro">Seguro</a></li>
                                <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/dicasuteis">Dícas úteis</a></li>
                                <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/posvenda">Pós venda</a></li>
                                <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/noticias">Notícias</a></li>
                                <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/perguntas">Perguntas frequentes</a></li>
                                <li><a href="http://adelveiculosoficial.sitewebmotors.com.br/promocoes">Promoções</a></li>
                            </ul>
                        </li>
                        <li><i class="fa fa-phone icon" aria-hidden="true"><div class=" block">Ligamos pra você</div></i></li>
                        <li><i class="fa fa-envelope-o icon" aria-hidden="true"> <div class=" block">Enviar e-mail</div></i></li>
                        <li><i class="fa fa-phone icon"><div class=" block">Entre em contato</div></i></li>
                        <li> <a href="http://adelveiculosoficial.sitewebmotors.com.br/falecomadirecao">Fale com a direção</a></li>
                        <li class="redes"><i class="fa fa-facebook icon"  ></i></li>
                        <li class="redes"><i class="fa fa-instagram icon" ></i></li>
              			<li class="redes"><a href="https://api.whatsapp.com/send?phone=5532984224007" target="_blank" class="call"><i class="fa fa-whatsapp icon " ></i></a></li>
                    </ul>
                    <span class="clearfix"></span>
                </div>
            </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="http://adelveiculosoficial.sitewebmotors.com.br/"><img data-image="true" src="assets/img/logo.jpg" alt=""></a>
                <span class="clearfix"></span>
            </div>
            <div class="collapse navbar-collapse cont-menu" id="bs-example-navbar-collapse-1">
                <ul data-menu="true">

                </ul>
                <div class="infos_header col-md-8 col-sm-12 col-xs-12 pull-right">
                    <div class="cont-busca col-md-12 col-sm-12 col-xs-12">
                        <form action="" class="form-inline">
                            <label for="" class="busca-perso"> BUSCA RÁPIDA</label>
                            <input type="text" placeholder="Digite o modelo que você procura" class="form-control border-reset">
                            <button type="submit" class="form-control border-reset button-search"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                        <span class="clearfix"></span>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</section>