.text-t004 .btn {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
}

.text-t004 .btn:last-child,
.text-t004 .btn:last-of-type {
    margin-right: 0;
}

.text-t004 .btn:hover {
    background: #f3123c;
    color: #fff;
}

.text-t004 .btn-icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
    min-width: 0;
    padding: 0;
    line-height: 38px;
}

.text-t004 .btn-lg {
    height: 50px;
    line-height: 46px;
    min-width: 200px;
}

.text-t004 .btn-icon.btn-lg {
    width: 50px;
    height: 50px;
    line-height: 49px;
    font-size: 24px;
    min-width: 0;
}

.text-t004 .btn-icon.btn-sm {
    width: 30px;
    height: 30px;
    line-height: 29px;
    font-size: 13px;
    min-width: 0;
    padding: 0 0 0 1px!important;
}

.text-t004 .btn-sm {
    height: 30px;
    font-size: 11px;
    line-height: 27px;
    min-width: 0;
}

.text-t004 .btn-filled {
    background: #f3123c;
    color: #fff;
}

.text-t004 .btn-white,
.text-t004 .image-bg .btn,
.text-t004 .image-bg .btn:visited {
    color: #fff;
    border-color: #fff;
}

.text-t004 .btn-white:hover,
.text-t004 .image-bg .btn:hover,
.text-t004 .image-bg .btn:visited:hover {
    background: #fff;
    color: #222;
}

.text-t004 .image-bg .btn.btn-filled,
.text-t004 .image-bg .btn-filled:visited {
    border-color: #f3123c;
}

.text-t004 .image-bg .btn-filled:hover {
    border-color: #fff;
}

.text-t004 .btn-rounded {
    border-radius: 25px;
}

.text-t004 body.btn-rounded .btn {
    border-radius: 25px !important;
}

.text-t004 .bg-light .btn {
    border-color: #222;
    color: #222;
}

.text-t004 .bg-light .btn:visited,
.text-t004 .bg-light .btn:visited:hover {
    color: #222;
}

.text-t004 .bg-light .btn-filled,
.text-t004 .bg-light .btn-filled:visited {
    color: #fff;
}

.text-t004 .btn-white:visited,
.text-t004 .btn:visited:hover {
    color: #fff;
}

.text-t004 .btn-white:visited:hover {
    color: #222;
}

.text-t004 .btn-filled:visited {
    color: #fff;
}

.text-t004 .btn.bg-dark {
    color: #fff;
    border-color: #292929;
}

.text-t004 .btn.bg-dark:hover {
    background: #434343;
}

.text-t004 .bg-primary .btn {
    color: #fff;
    border-color: #fff;
}

.text-t004 .bg-primary .btn:hover {
    background: #fff;
    color: #f3123c;
}



.text-t004 img {
    max-width: 100%;
}

.text-t004 .image-tile {
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
}

.text-t004 .image-tile img {
    width: 100%;
    display: inline-block;
}

.text-t004 .image-tile .label {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;
}

.text-t004 .inner-title:before {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(34, 34, 34, 0.9)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#292929', GradientType=0);
    pointer-events: none;
}

.text-t004 .inner-title.title-center:before {
    background: #292929;
    opacity: .4;
}

.text-t004 .inner-title:hover:before {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.text-t004 .inner-title .title {
    position: absolute;
    width: 100%;
    bottom: 24px;
    z-index: 5;
}

.text-t004 .inner-title .title h1,
.text-t004 .inner-title .title h2,
.text-t004 .inner-title .title h3,
.text-t004 .inner-title .title h4,
.text-t004 .inner-title .title h5,
.text-t004 .inner-title .title h6 {
    color: #ffffff;
}

.text-t004 .inner-title .title p,
.text-t004 .inner-title .title span,
.text-t004 .inner-title .title li {
    color: #ffffff;
}

.text-t004 .inner-title.title-center .title {
    bottom: auto;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
}

.text-t004 .inner-title .title h5 {
    font-weight: 600;
}

.text-t004 .inner-title {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
}

.text-t004 .inner-title:hover {
    opacity: .95;
}

.text-t004 .inner-title.hover-reveal:before {
    opacity: 0;
}

.text-t004 .inner-title.hover-reveal .title {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.text-t004 .inner-title.hover-reveal:hover .title {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
}

.text-t004 .inner-title.hover-reveal:hover:before {
    opacity: 1;
}

.text-t004 .outer-title img {
    display: inline-block;
    margin-bottom: 12px;
}

.text-t004 .hover-tile {
    position: relative;
    overflow: hidden;
    background: #292929;
}

.text-t004 .hover-tile img {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.text-t004 .hover-tile:hover img {
    opacity: .5;
}

.text-t004 .hover-tile .hover-state {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
    position: absolute;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
    width: 100%;
}

.text-t004 .hover-state {
    z-index: 99;
    padding: 0 40px;
    cursor: default;
}

.text-t004 .hover-state h1,
.text-t004 .hover-state h2,
.text-t004 .hover-state h3,
.text-t004 .hover-state h4,
.text-t004 .hover-state h5,
.text-t004 .hover-state h6 {
    color: #ffffff;
}

.text-t004 .hover-state p,
.text-t004 .hover-state span,
.text-t004 .hover-state li {
    color: #ffffff;
}

.text-t004 .hover-state * {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform: translate3d(0, 30px, 0) scale(1.05);
    -webkit-transform: translate3d(0, 30px, 0) scale(1.05);
}

.text-t004 .hover-tile:hover .hover-state {
    opacity: 1;
}

.text-t004 .hover-tile:hover .hover-state * {
    transform: translate3d(0, 0px, 0) scale(1);
    -webkit-transform: translate3d(0, 0px, 0) scale(1);
}

.text-t004 .hover-state *:last-child {
    margin-bottom: 0;
}

.text-t004 .border-thick {
    border: 16px solid #fff;
    border-top: none;
}

.text-t004 .border-thick.col-sm-6:first-child {
    border-right: 8px solid #fff;
}

.text-t004 .border-thick.col-sm-6:last-child {
    border-left: 8px solid #fff;
}

.text-t004 .horizontal-tile {
    overflow: hidden;
}

.text-t004 .horizontal-tile:not(:last-of-type) {
    margin-bottom: 30px;
}

.text-t004 .tile-left,
.text-t004 .tile-right {
    width: 50%;
    float: left;
    display: inline-block;
    overflow: hidden;
    min-height: 300px;
    position: relative;
}

.text-t004 .tile-right .description,
.text-t004 .tile-left .description {
    padding: 48px;
}

.text-t004 .tile-right:hover .background-image-holder,
.text-t004 .tile-left:hover .background-image-holder {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

@media all and (max-width: 767px) {
    .tile-left,
    .text-t004 .tile-right {
        width: 100%;
        float: none;
    }
}



@media all and (max-width: 767px) {
    .text-center-xs {
        text-align: center !important;
    }
}

.text-t004 .bold {
    font-weight: 600 !important;
}

.text-t004 .thin {
    font-weight: 100 !important;
}

@media all and (max-width: 767px) {
    .thin {
        font-weight: 300 !important;
    }
}

.text-t004 h1,
.text-t004 h2,
.text-t004 h3,
.text-t004 h4,
.text-t004 h5,
.text-t004 h6,
.text-t004 p,
.text-t004 ul,
.text-t004 ol,
.text-t004 pre,
.text-t004 table,
.text-t004 blockquote,
.text-t004 input,
.text-t004 button,
.text-t004 select,
.text-t004 textarea {
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
}

.text-t004 h1,
.text-t004 h2,
.text-t004 h3,
.text-t004 h4,
.text-t004 h5,
.text-t004 h6,
.text-t004 .h1,
.text-t004 .h2,
.text-t004 .h3,
.text-t004 .h4,
.text-t004 .h5,
.text-t004 .h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-t004 h1,
.text-t004 h2,
.text-t004 h3,
.text-t004 h4,
.text-t004 h5,
.text-t004 h6 {
    font-weight: 300;
    color: #292929;
}

.text-t004 h1,
.text-t004 .h1 {
    font-size: 56px;
    line-height: 64px;
}

.text-t004 h1.large {
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
}

@media all and (max-width: 990px) {
    h1.large {
        font-size: 56px;
        line-height: 64px;
    }
}

.text-t004 h2 {
    font-size: 40px;
    line-height: 48px;
}

.text-t004 h3 {
    font-size: 32px;
    line-height: 40px;
}

.text-t004 h4 {
    font-size: 24px;
    line-height: 32px;
}

.text-t004 h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.text-t004 h6,
.text-t004 .h6 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
}

@media all and (max-width: 767px) {
    h1,
    .text-t004 h1.large,
    .text-t004 .h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 300;
    }
    .text-t004 h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .text-t004 h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .text-t004 h4 {
        font-size: 18px;
        line-height: 26px;
    }
    .text-t004 h5 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .text-t004 h6,
    .text-t004 .h6 {
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
    }
}

.text-t004 .uppercase {
    font-weight: 400;
    text-transform: uppercase;
}

.text-t004 h1.uppercase {
    letter-spacing: 17px;
    margin-right: -17px;
}

.text-t004 h2.uppercase {
    letter-spacing: 10px;
    margin-right: -10px;
}

.text-t004 h3.uppercase {
    letter-spacing: 6px;
    margin-right: -6px;
}

.text-t004 h4.uppercase {
    letter-spacing: 3px;
    margin-right: -3px;
}

.text-t004 h5.uppercase {
    letter-spacing: 2px;
    margin-right: -2px;
}

.text-t004 h6.uppercase,
.text-t004 .h6-u {
    letter-spacing: 2px;
    font-weight: 700;
}

.text-t004 .bold-h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.text-t004 p,
.text-t004 span {
    font-weight: 400;
}

.text-t004 p.lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.text-t004 .sub {
    font-size: 12px;
}

@media all and (max-width: 767px) {
    p.lead {
        font-size: 13px;
        line-height: 24px;
    }
    .text-t004 p {
        font-size: 12px;
    }
}

.text-t004 a,
.text-t004 a:visited,
.text-t004 a:focus,
.text-t004 a:active,
.text-t004 a:hover {
    text-decoration: none;
    outline: none;
}

.text-t004 a {
    font-weight: 600;
    color: #47b475;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: poitner;
}

.text-t004 .image-bg a,
.text-t004 .bg-primary a {
    color: #fff;
}

.text-t004 .image-bg a:hover,
.text-t004 .bg-primary a:hover {
    color: #fff;
    opacity: .9;
}

.text-t004 .bg-light a {
    color: #47b475;
}

.text-t004 .bg-light a:hover {
    color: #47b475;
    opacity: 1;
}

.text-t004 a:hover {
    color: #398f5d;
    text-decoration: none;
}

.text-t004 .label {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    letter-spacing: 1px;
    background: #47b475;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 10px;
    vertical-align: middle;
}

.text-t004 blockquote {
    overflow: hidden;
    font-family: "Merriweather", "Georgia", Times New Roman, Times, serif;
    font-size: 20px;
    line-height: 40px;
    font-style: italic;
    background: #f5f5f5;
    padding: 32px;
    color: #777;
    font-weight: 300;
}

.text-t004 .bg-secondary blockquote {
    background: #fff;
    border-color: #47b475;
}

.text-t004 blockquote .author {
    font-size: 12px;
    display: block;
    float: right;
    margin-top: 16px;
}

.text-t004 .number {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-t004 .columns-2 {
    column-count: 2;
    -webkit-column-count: 2;
}

@media all and (max-width: 767px) {
    br {
        display: none;
    }
    .text-t004 blockquote {
        font-size: 16px;
        line-height: 32px;
    }
    .text-t004 .columns-2 {
        column-count: 1;
        -webkit-column-count: 1;
    }
}

.text-t004 .text-left {
    text-align: left !important;
}

@media all and (max-width: 767px) {
    .text-left-xs {
        text-align: left !important;
    }
}



.text-t004 ul[data-bullet] li {
    line-height: 32px;
}

.text-t004 ul[data-bullet] li i:first-child {
    margin-right: 16px;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    display: inline-block;
}

.text-t004 ul.lead li {
    font-size: 16px;
    line-height: 40px;
}



.text-t004 .mr0 {
    margin-right: 0;
}

.text-t004 .mb0 {
    margin-bottom: 0 !important;
}

.text-t004 .mb8 {
    margin-bottom: 8px;
}

.text-t004 .mb16 {
    margin-bottom: 16px;
}

.text-t004 .mb24 {
    margin-bottom: 24px;
}

.text-t004 .mb30 {
    margin-bottom: 30px;
}

.text-t004 .mb32 {
    margin-bottom: 32px;
}

.text-t004 .mb40 {
    margin-bottom: 40px;
}

.text-t004 .mb48 {
    margin-bottom: 48px;
}

.text-t004 .mb56 {
    margin-bottom: 56px;
}

.text-t004 .mb64 {
    margin-bottom: 64px;
}

.text-t004 .mb72 {
    margin-bottom: 72px;
}

.text-t004 .mb80 {
    margin-bottom: 80px;
}

.text-t004 .mb88 {
    margin-bottom: 88px;
}

.text-t004 .mb96 {
    margin-bottom: 96px;
}

.text-t004 .mb104 {
    margin-bottom: 104px;
}

.text-t004 .mb112 {
    margin-bottom: 112px;
}

.text-t004 .mb120 {
    margin-bottom: 120px;
}

.text-t004 .mb160 {
    margin-bottom: 160px;
}

.text-t004 .mt0 {
    margin-top: 0 !important;
}

.text-t004 .mt8 {
    margin-top: 8px;
}

.text-t004 .mt16 {
    margin-top: 16px;
}

.text-t004 .mt24 {
    margin-top: 24px;
}

.text-t004 .mt32 {
    margin-top: 32px;
}

.text-t004 .mt40 {
    margin-top: 40px;
}

.text-t004 .mt48 {
    margin-top: 48px;
}

.text-t004 .mt56 {
    margin-top: 56px;
}

.text-t004 .mt64 {
    margin-top: 64px;
}

.text-t004 .mt72 {
    margin-top: 72px;
}

.text-t004 .mt80 {
    margin-top: 80px;
}

.text-t004 .mt88 {
    margin-top: 88px;
}

.text-t004 .mt96 {
    margin-top: 96px;
}

.text-t004 .mt104 {
    margin-top: 104px;
}

.text-t004 .mt112 {
    margin-top: 112px;
}

.text-t004 .mt120 {
    margin-top: 120px;
}

.text-t004 .mt160 {
    margin-top: 160px;
}

.text-t004 .p32 {
    padding: 0 32px;
}

.text-t004 .p24 {
    padding: 24px;
}

.text-t004 .p0 {
    padding: 0;
}

.text-t004 .pt0 {
    padding-top: 0;
}

.text-t004 .pt8 {
    padding-top: 8px;
}

.text-t004 .pt16 {
    padding-top: 16px;
}

.text-t004 .pt24 {
    padding-top: 24px;
}

.text-t004 .pt32 {
    padding-top: 32px;
}

.text-t004 .pt40 {
    padding-top: 40px;
}

.text-t004 .pt48 {
    padding-top: 48px;
}

.text-t004 .pt64 {
    padding-top: 64px;
}

.text-t004 .pt72 {
    padding-top: 72px;
}

.text-t004 .pt80 {
    padding-top: 80px;
}

.text-t004 .pt88 {
    padding-top: 88px;
}

.text-t004 .pt96 {
    padding-top: 96px;
}

.text-t004 .pt104 {
    padding-top: 104px;
}

.text-t004 .pt112 {
    padding-top: 112px;
}

.text-t004 .pt120 {
    padding-top: 120px;
}

.text-t004 .pt160 {
    padding-top: 160px;
}

.text-t004 .pt180 {
    padding-top: 180px;
}

.text-t004 .pt240 {
    padding-top: 240px;
}

.text-t004 .pb0 {
    padding-bottom: 0;
}

.text-t004 .pb8 {
    padding-bottom: 8px;
}

.text-t004 .pb16 {
    padding-bottom: 16px;
}

.text-t004 .pb24 {
    padding-bottom: 24px;
}

.text-t004 .pb32 {
    padding-bottom: 32px;
}

.text-t004 .pb40 {
    padding-bottom: 40px;
}

.text-t004 .pb48 {
    padding-bottom: 48px;
}

.text-t004 .pb56 {
    padding-bottom: 56px;
}

.text-t004 .pb64 {
    padding-bottom: 64px;
}

.text-t004 .pb72 {
    padding-bottom: 72px;
}

.text-t004 .pb80 {
    padding-bottom: 80px;
}

.text-t004 .pb88 {
    padding-bottom: 88px;
}

.text-t004 .pb96 {
    padding-bottom: 96px;
}

.text-t004 .pb104 {
    padding-bottom: 104px;
}

.text-t004 .pb112 {
    padding-bottom: 112px;
}

.text-t004 .pb120 {
    padding-bottom: 120px;
}

.text-t004 .pb160 {
    padding-bottom: 160px;
}

.text-t004 .pb180 {
    padding-bottom: 180px;
}

.text-t004 .pb240 {
    padding-bottom: 240px;
}

@media all and (max-width: 990px) {
    .mb-s-0 {
        margin-bottom: 0;
    }
    .text-t004 .mb-s-8 {
        margin-bottom: 8px;
    }
    .text-t004 .mb-s-16 {
        margin-bottom: 16px;
    }
    .text-t004 .mb-s-24 {
        margin-bottom: 24px;
    }
    .text-t004 .mb-s-32 {
        margin-bottom: 32px;
    }
    .text-t004 .mb-s-40 {
        margin-bottom: 40px;
    }
    .text-t004 .mb-s-48 {
        margin-bottom: 48px;
    }
    .text-t004 .mb-s-64 {
        margin-bottom: 64px;
    }
    .text-t004 .mb-s-72 {
        margin-bottom: 72px;
    }
    .text-t004 .mb-s-80 {
        margin-bottom: 80px;
    }
    .text-t004 .mb-s-88 {
        margin-bottom: 88px;
    }
    .text-t004 .mb-s-96 {
        margin-bottom: 96px;
    }
    .text-t004 .mb-s-104 {
        margin-bottom: 104px;
    }
    .text-t004 .mb-s-112 {
        margin-bottom: 112px;
    }
    .text-t004 .mb-s-120 {
        margin-bottom: 120px;
    }
}

@media all and (max-width: 990px) {
    .mb-sm-0 {
        margin-bottom: 0;
    }
    .text-t004 .mb-sm-8 {
        margin-bottom: 8px;
    }
    .text-t004 .mb-sm-16 {
        margin-bottom: 16px;
    }
    .text-t004 .mb-sm-24 {
        margin-bottom: 24px;
    }
    .text-t004 .mb-sm-32 {
        margin-bottom: 32px;
    }
    .text-t004 .mb-sm-40 {
        margin-bottom: 40px;
    }
    .text-t004 .mb-sm-48 {
        margin-bottom: 48px;
    }
    .text-t004 .mb-sm-64 {
        margin-bottom: 64px;
    }
    .text-t004 .mb-sm-72 {
        margin-bottom: 72px;
    }
    .text-t004 .mb-sm-80 {
        margin-bottom: 80px;
    }
    .text-t004 .mb-sm-88 {
        margin-bottom: 88px;
    }
    .text-t004 .mb-sm-96 {
        margin-bottom: 96px;
    }
    .text-t004 .mb-sm-104 {
        margin-bottom: 104px;
    }
    .text-t004 .mb-sm-112 {
        margin-bottom: 112px;
    }
    .text-t004 .mb-sm-120 {
        margin-bottom: 120px;
    }
    .text-t004 .mt-sm-0 {
        margin-top: 0 !important;
    }
    .text-t004 .mt-sm-8 {
        margin-top: 8px;
    }
    .text-t004 .mt-sm-16 {
        margin-top: 16px;
    }
    .text-t004 .mt-sm-24 {
        margin-top: 24px;
    }
    .text-t004 .mt-sm-32 {
        margin-top: 32px;
    }
    .text-t004 .mt-sm-40 {
        margin-top: 40px;
    }
    .text-t004 .mt-sm-48 {
        margin-top: 48px;
    }
    .text-t004 .mt-sm-56 {
        margin-top: 56px;
    }
    .text-t004 .mt-sm-64 {
        margin-top: 64px;
    }
    .text-t004 .mt-sm-72 {
        margin-top: 72px;
    }
    .text-t004 .mt-sm-80 {
        margin-top: 80px;
    }
    .text-t004 .mt-sm-88 {
        margin-top: 88px;
    }
    .text-t004 .mt-sm-96 {
        margin-top: 96px;
    }
    .text-t004 .mt-sm-104 {
        margin-top: 104px;
    }
    .text-t004 .mt-sm-112 {
        margin-top: 112px;
    }
    .text-t004 .mt-sm-120 {
        margin-top: 120px;
    }
    .text-t004 .p0-sm {
        padding: 0;
    }
    .text-t004 .pt-sm-0 {
        padding-top: 0;
    }
    .text-t004 .pt-sm-8 {
        padding-top: 8px;
    }
    .text-t004 .pt-sm-16 {
        padding-top: 16px;
    }
    .text-t004 .pt-sm-24 {
        padding-top: 24px;
    }
    .text-t004 .pt-sm-32 {
        padding-top: 32px;
    }
    .text-t004 .pt-sm-40 {
        padding-top: 40px;
    }
    .text-t004 .pt-sm-48 {
        padding-top: 48px;
    }
    .text-t004 .pt-sm-64 {
        padding-top: 64px;
    }
    .text-t004 .pt-sm-72 {
        padding-top: 72px;
    }
    .text-t004 .pt-sm-80 {
        padding-top: 80px;
    }
    .text-t004 .pt-sm-88 {
        padding-top: 88px;
    }
    .text-t004 .pt-sm-96 {
        padding-top: 96px;
    }
    .text-t004 .pt-sm-104 {
        padding-top: 104px;
    }
    .text-t004 .pt-sm-112 {
        padding-top: 112px;
    }
    .text-t004 .pt-sm-120 {
        padding-top: 120px;
    }
    .text-t004 .pt-sm-160 {
        padding-top: 160px;
    }
    .text-t004 .pb-sm-0 {
        padding-bottom: 0;
    }
    .text-t004 .pb-sm-8 {
        padding-bottom: 8px;
    }
    .text-t004 .pb-sm-16 {
        padding-bottom: 16px;
    }
    .text-t004 .pb-sm-24 {
        padding-bottom: 24px;
    }
    .text-t004 .pb-sm-32 {
        padding-bottom: 32px;
    }
    .text-t004 .pb-sm-40 {
        padding-bottom: 40px;
    }
    .text-t004 .pb-sm-48 {
        padding-bottom: 48px;
    }
    .text-t004 .pb-sm-64 {
        padding-bottom: 64px;
    }
    .text-t004 .pb-sm-72 {
        padding-bottom: 72px;
    }
    .text-t004 .pb-sm-80 {
        padding-bottom: 80px;
    }
    .text-t004 .pb-sm-88 {
        padding-bottom: 88px;
    }
    .text-t004 .pb-sm-96 {
        padding-bottom: 96px;
    }
    .text-t004 .pb-sm-104 {
        padding-bottom: 104px;
    }
    .text-t004 .pb-sm-112 {
        padding-bottom: 112px;
    }
    .text-t004 .pb-sm-120 {
        padding-bottom: 120px;
    }
}

@media all and (max-width: 767px) {
    .mb-xs-0 {
        margin-bottom: 0;
    }
    .text-t004 .mb-xs-8 {
        margin-bottom: 8px;
    }
    .text-t004 .mb-xs-16 {
        margin-bottom: 16px;
    }
    .text-t004 .mb-xs-24 {
        margin-bottom: 24px;
    }
    .text-t004 .mb-xs-32 {
        margin-bottom: 32px;
    }
    .text-t004 .mb-xs-40 {
        margin-bottom: 40px;
    }
    .text-t004 .mb-xs-48 {
        margin-bottom: 48px;
    }
    .text-t004 .mb-xs-64 {
        margin-bottom: 64px;
    }
    .text-t004 .mb-xs-72 {
        margin-bottom: 72px;
    }
    .text-t004 .mb-xs-80 {
        margin-bottom: 80px;
    }
    .text-t004 .mb-xs-88 {
        margin-bottom: 88px;
    }
    .text-t004 .mb-xs-96 {
        margin-bottom: 96px;
    }
    .text-t004 .mb-xs-104 {
        margin-bottom: 104px;
    }
    .text-t004 .mb-xs-112 {
        margin-bottom: 112px;
    }
    .text-t004 .mb-xs-120 {
        margin-bottom: 120px;
    }
    .text-t004 .mt-xs-0 {
        margin-top: 0 !important;
    }
    .text-t004 .mt-xs-8 {
        margin-top: 8px;
    }
    .text-t004 .mt-xs-16 {
        margin-top: 16px;
    }
    .text-t004 .mt-xs-24 {
        margin-top: 24px;
    }
    .text-t004 .mt-xs-32 {
        margin-top: 32px;
    }
    .text-t004 .mt-xs-40 {
        margin-top: 40px;
    }
    .text-t004 .mt-xs-48 {
        margin-top: 48px;
    }
    .text-t004 .mt-xs-56 {
        margin-top: 56px;
    }
    .text-t004 .mt-xs-64 {
        margin-top: 64px;
    }
    .text-t004 .mt-xs-72 {
        margin-top: 72px;
    }
    .text-t004 .mt-xs-80 {
        margin-top: 80px;
    }
    .text-t004 .mt-xs-88 {
        margin-top: 88px;
    }
    .text-t004 .mt-xs-96 {
        margin-top: 96px;
    }
    .text-t004 .mt-xs-104 {
        margin-top: 104px;
    }
    .text-t004 .mt-xs-112 {
        margin-top: 112px;
    }
    .text-t004 .mt-xs-120 {
        margin-top: 120px;
    }
    .text-t004 .p0-xs {
        padding: 0;
    }
    .text-t004 .pt-xs-0 {
        padding-top: 0;
    }
    .text-t004 .pt-xs-8 {
        padding-top: 8px;
    }
    .text-t004 .pt-xs-16 {
        padding-top: 16px;
    }
    .text-t004 .pt-xs-24 {
        padding-top: 24px;
    }
    .text-t004 .pt-xs-32 {
        padding-top: 32px;
    }
    .text-t004 .pt-xs-40 {
        padding-top: 40px;
    }
    .text-t004 .pt-xs-48 {
        padding-top: 48px;
    }
    .text-t004 .pt-xs-64 {
        padding-top: 64px;
    }
    .text-t004 .pt-xs-72 {
        padding-top: 72px;
    }
    .text-t004 .pt-xs-80 {
        padding-top: 80px;
    }
    .text-t004 .pt-xs-88 {
        padding-top: 88px;
    }
    .text-t004 .pt-xs-96 {
        padding-top: 96px;
    }
    .text-t004 .pt-xs-104 {
        padding-top: 104px;
    }
    .text-t004 .pt-xs-112 {
        padding-top: 112px;
    }
    .text-t004 .pt-xs-120 {
        padding-top: 120px;
    }
    .text-t004 .pt-xs-160 {
        padding-top: 160px;
    }
    .text-t004 .pt-xs-180 {
        padding-top: 180px;
    }
    .text-t004 .pt-xs-240 {
        padding-top: 240px !important;
    }
    .text-t004 .pb-xs-0 {
        padding-bottom: 0;
    }
    .text-t004 .pb-xs-8 {
        padding-bottom: 8px;
    }
    .text-t004 .pb-xs-16 {
        padding-bottom: 16px;
    }
    .text-t004 .pb-xs-24 {
        padding-bottom: 24px;
    }
    .text-t004 .pb-xs-32 {
        padding-bottom: 32px;
    }
    .text-t004 .pb-xs-40 {
        padding-bottom: 40px;
    }
    .text-t004 .pb-xs-48 {
        padding-bottom: 48px;
    }
    .text-t004 .pb-xs-64 {
        padding-bottom: 64px;
    }
    .text-t004 .pb-xs-72 {
        padding-bottom: 72px;
    }
    .text-t004 .pb-xs-80 {
        padding-bottom: 80px;
    }
    .text-t004 .pb-xs-88 {
        padding-bottom: 88px;
    }
    .text-t004 .pb-xs-96 {
        padding-bottom: 96px;
    }
    .text-t004 .pb-xs-104 {
        padding-bottom: 104px;
    }
    .text-t004 .pb-xs-112 {
        padding-bottom: 112px;
    }
    .text-t004 .pb-xs-120 {
        padding-bottom: 120px;
    }
    .text-t004 .pb-xs-180 {
        padding-bottom: 180px;
    }
    .text-t004 .pb-xs-240 {
        padding-bottom: 240px !important;
    }
}