<section class="text-t004 pad-default-elements">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
          <h1 data-editable="true">Ofertas de Novos</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <img alt="" class="img-responsive mb-xs-16" src="img/image.jpg" data-image="true">
          <div class="lead" data-editable="true">Nossa missão é realizar sempre o melhor negócio junto aos nossos clientes, conseguindo assim, fortes laços de confiança e amizade. Trabalhamos com veículos seminovos, blindados de todas as marcas, todos com procedência e garantia.</div>
        </div>
      </div>
    </div>
</section>