    .x_component_cta_cod_012 {
        font-family: 'Poppins', sans-serif;
        background: #fff;
        color: #fff;
        background: url("../images/call-to-action-2.jpg");
        background-size: cover !important;
        height: 300px;
    }
    
    .x_component_cta_cod_012 .font-title {
        font-size: 62px;
    }
    
    .x_component_cta_cod_012 img {
        display: none;
    }
    
    .x_component_cta_cod_012 .text-banner>h1 {
        font-style: normal;
        font-weight: 700;
        line-height: 1.35;
        letter-spacing: 0em;
        margin-bottom: 10px;
    }
    
    .x_component_cta_cod_012 .text-banner .font-description {
        font-size: 21px;
        margin-bottom: 20px;
        font-weight: 500;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0em;
        text-align: inherit;
    }
    
    .x_component_cta_cod_012 .btn-theme {
        line-height: 1;
        display: inline-block;
        max-width: 100%;
        padding: 23px 37.5px;
        cursor: pointer;
        text-align: center;
        overflow: hidden;
        vertical-align: top;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-shadow: none;
        transition: .3s;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.1em;
    }
    
    @media all and (max-width:768px) {
        .x_component_cta_cod_012 {
            height: auto;
        }
    }
    
    @media all and (max-width:320px) {
        .x_component_cta_cod_012 .container .text-banner,
        .x_component_cta_cod_012 .container-fluid .text-banner {
            padding-right: 0;
            padding-left: 0;
        }
    }