.form-consignacao-002 .lightversion textarea {
    padding: 15px 10px;
    height: 140px;
}

.form-consignacao-002 .consignacaoform {
    margin-top: 30px;
    border: 1px solid #f4f4f4;
}

.form-consignacao-002 .car-table {
    margin-top: 30px;
    background-color: #f4f4f4;
    padding: 13px 20px;
    position: relative;
}

.form-consignacao-002 .consignacaoform .car-table {
    margin-top: 0px;
}

.form-consignacao-002 .consignacaoform .search-wrapper {
    padding: 30px;
}

.form-consignacao-002 .btn {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form-consignacao-002 .consignacaoform .btn {
    padding: 10px 30px;
}

.form-consignacao-002 .formfields .btn-primary {
    height: 45px;
    border-radius: 0;
}

.form-consignacao-002 .formfields label {
    font-size: 14px;
    font-weight: 600;
    color: #666;
    display: block;
}

.form-consignacao-002 .consignacaoform .form-control {
    margin-bottom: 13px;
}

.form-consignacao-002 .formfields .form-control,
.form-consignacao-002 .formfields .bootstrap-select>.dropdown-toggle {
    padding-right: 25px;
    width: 100%;
    z-index: 1;
    box-shadow: none;
    height: 45px;
    font-weight: 400;
    font-style: 14px;
    color: #7c7c7c;
    background: #24272b;
    border-color: #333;
    border-radius: 0;
}

.form-consignacao-002 .formfields.lightversion .bootstrap-select .btn-info,
.form-consignacao-002 .lightversion .form-control {
    color: #7c7c7c;
    background: #f4f4f4;
    border-color: #f4f4f4;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    height: 55px;
}

.form-consignacao-002 .car-table p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.form-consignacao-002 .consignacaoform .car-table strong {
    color: #1e2126;
}

.form-consignacao-002 [type='checkbox']:not(:checked),
.form-consignacao-002 [type='checkbox']:checked {
    position: absolute;
    left: -9999px;
}

.form-consignacao-002 [type='checkbox']:not(:checked)+label,
.form-consignacao-002 [type='checkbox']:checked+label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    color: #777777;
    font-weight: normal;
}

.form-consignacao-002 [type='checkbox']:not(:checked)+label::before,
.form-consignacao-002 [type='checkbox']:checked+label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 0;
}

.form-consignacao-002 [type='checkbox']:not(:checked)+label::after,
.form-consignacao-002 [type='checkbox']:checked+label::after {
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    width: 20px;
    height: 20px;
    color: #999;
    transition: all .2s;
}

.form-consignacao-002 [type='checkbox']:not(:checked)+label::after {
    opacity: 0;
    transform: scale(0);
}

.form-consignacao-002 [type='checkbox']:not(:checked)+label,
.form-consignacao-002 [type='checkbox']:checked+label {
    padding-left: 30px;
}

.form-consignacao-002 .checkbox-inline+.checkbox-inline {
    margin-left: 0;
}

.form-consignacao-002 .consignacaoform .search-wrapper {
    display: block;
    position: relative;
}

.form-consignacao-002 .cont-pad-diferenciais {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
}

.form-consignacao-002 .form-height {
    height: auto !important;
}

.form-consignacao-002 .nav-pills>li.active>a,
.form-consignacao-002 .nav-pills>li.active>a:focus,
.form-consignacao-002 .nav-pills>li.active>a:hover {
    background-color: #848484;
}