<section class="x_component_text-image_cod_005 pad-default-element ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-4 item">
                <div class="item-image">
                    <img src="assets/img/component_text-image_cod_005-01.jpg" alt="" class="img-responsive" data-image="true">
                </div>
            </div>
            <div class=" col-md-4 col-md-pull-8 item">
                <div class="item-content">
                    <h4 data-editable="true" class="boxes-module-title">Apple Carplay and Android Auto</h4>
                    <div data-editable="true" class="item-text">
                        Better apps mean safer driving; if you don’t need to access your phone, you can better focus on driving.
                    </div>
                    <div data-editable="true" class="_mais">
                        Learn More
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>