<section class="x_component_footer_cod_066 pad-default-elements">
    <div class="container-fluid">
        <div class="row no-padding">
            <div class="col-sm-6 col-md-3 no-padding gallery-item">
                <div class="cover-item background-theme"></div>
                <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_066_01.jpg" alt="" width="100%">
                <div class="contents">
                    <i class="fa fa-facebook" data-icon="true"></i>
                    <h3 data-editable="true" class="color-default item-title font-title"> Lorem Ipsum</h3>
                    <div data-editable="true" class="item-desc font-description color-default">Lorem ipsum dolor sit amet.</div>
                    <div class="action-link">
                        <div data-editable="true" class="color-default">
                            Lorem ipsum
                        </div>
                        <i class="fa fa-chevron-right color-default" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 no-padding gallery-item">
                <div class="cover-item background-theme"></div>
                <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_066_02.jpg" alt="" width="100%">
                <div class="contents">
                    <i class="fa fa-facebook" data-icon="true"></i>
                    <h3 data-editable="true" class="color-default item-title font-title">Lorem ipsum</h3>
                    <div data-editable="true" class="item-desc font-description color-default">Lorem ipsum dolor sit amet.</div>
                    <div class="action-link">
                        <div data-editable="true" class="color-default">
                            Lorem ipsum
                        </div>
                        <i class="fa fa-chevron-right color-default" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 no-padding gallery-item">
                <div class="cover-item background-theme"></div>
                <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_066_03.jpg" alt="" width="100%">
                <div class="contents">
                    <i class="fa fa-facebook" data-icon="true"></i>
                    <h3 data-editable="true" class="color-default item-title font-title">Lorem ipsum dolor </h3>
                    <div data-editable="true" class="item-desc font-description color-default">Lorem ipsum dolor sit amet.</div>
                    <div class="action-link">
                        <div data-editable="true" class="color-default">
                            Lorem ipsum
                        </div>
                        <i class="fa fa-chevron-right color-default" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 no-padding gallery-item">
                <div class="cover-item background-theme"></div>
                <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_066_04.jpg" alt="" width="100%">
                <div class="contents">
                    <i class="fa fa-facebook" data-icon="true"></i>
                    <h3 data-editable="true" class="color-default item-title font-title">Lorem ipsum</h3>
                    <div data-editable="true" class="item-desc font-description color-default">Lorem ipsum dolor sit amet.</div>
                    <div class="action-link">
                        <div data-editable="true" class="color-default">
                            Lorem ipsum
                        </div>
                        <i class="fa fa-chevron-right color-default" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 no-padding gallery-item">
                <div class="cover-item background-theme"></div>
                <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_066_05.jpg" alt="" width="100%">
                <div class="contents">
                    <i class="fa fa-facebook" data-icon="true"></i>
                    <h3 data-editable="true" class="color-default item-title font-title">Lorem ipsum</h3>
                    <div data-editable="true" class="item-desc font-description color-default">Lorem ipsum dolor sit amet.</div>
                    <div class="action-link">
                        <div data-editable="true" class="color-default">
                            Lorem ipsum
                        </div>
                        <i class="fa fa-chevron-right color-default" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 no-padding gallery-item">
                <div class="cover-item background-theme"></div>
                <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_066_06.jpg" alt="" width="100%">
                <div class="contents">
                    <i class="fa fa-facebook" data-icon="true"></i>
                    <h3 data-editable="true" class="color-default item-title font-title">Lorem ipsum</h3>
                    <div  class="item-desc font-description color-default">Lorem ipsum dolor sit amet.<div>
                        <div class="action-link">
                            <div data-editable="true" class="color-default">
                                Lorem ipsum
                            </div>
                            <i class="fa fa-chevron-right color-default" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <div class="col-sm-6 col-md-3 no-padding gallery-item">
                <div class="cover-item background-theme"></div>
                <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_066_07.jpg" alt="" width="100%">
                <div class="contents">
                    <i class="fa fa-facebook" data-icon="true"></i>
                    <h3 data-editable="true" class="color-default item-title font-title">Lorem ipsum</h3>
                    <div data-editable="true" class="item-desc font-description color-default">Lorem ipsum dolor sit amet.</div>
                    <div class="action-link">
                        <div data-editable="true" class="color-default">
                            Lorem ips
                        </div>
                        <i class="fa fa-chevron-right color-default" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 no-padding gallery-item">
                <div class="cover-item background-theme"></div>
                <img class="img-responsive" data-image="true" src="assets/img/component_gallery_cod_066_08.jpg" alt="" width="100%">
                <div class="contents">
                    <i class="fa fa-facebook" data-icon="true"></i>
                    <h3 data-editable="true" class="color-default item-title font-title">Lorem ipsum</h3>
                    <div data-editable="true" class="item-desc font-description color-default">Lorem ipsum dolor sit amet.</div>
                    <div class="action-link">
                        <div data-editable="true" class="color-default">
                            Lorem ipsum
                        </div>
                        <i class="fa fa-chevron-right color-default" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>