<div class="imagem-i001 pad-default-elements">
    <section class="destaques">
        <div class="listing-block recent-vehicles">
            <div class="container">
                <div class="listing-container">
                    <div class="carousel-wrapper">
                        <div class="row">
                            <ul class="owl-carousel carousel-fw" data-columns="4" data-autoplay="" data-pagination="no" data-arrows="yes" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
                                <li class="item">
                                    <img data-image="true" src="img/img1.png" alt="">
                                </li>
                                <li class="item">
                                    <img data-image="true" src="img/img2.png" alt="">
                                </li>
                                <li class="item">
                                    <img data-image="true" src="img/img3.png" alt="">
                                </li>
                                <li class="item">
                                    <img data-image="true" src="img/img4.png" alt="">
                                </li>
                                <li class="item">
                                    <img data-image="true" src="img/img2.png" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>