<section class="slider_s0080 pad-default-elements">
    <div id="myCarousel_s0080" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active" data-banner-template="true">
                <div class="item-text slider-0080-background-rotate slider-0080-backgrund-cl background-theme-over">
                    <h1 class="titulo color-default" data-editable="true">WEBMOTORS</h1>
                    <div class="sub-titulo color-default " data-editable="true">Texto de título para usuário</div>
                </div>
              
                <a href="#">
                    <img  src="http://placehold.it/1080x500?text=Imagem+do+banner">
                </a>
                <video class="video-player-no-controls video-template" muted="true" width="100%" height="100%" src=""></video>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel_s0080" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#myCarousel_s0080" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>