<section class="x_component_text_cod_252">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-3">
                <h1 class="font-title" data-editable="true">
                    COMPLETE SERVICES
                </h1>
                <div class="icon">
                    <i class="fa fa-cogs color-default" data-icon="true"></i>
                </div>
                <div class="description" data-editable="true">
                    Cubilipende sollicitudineed leo pharea aumennec in velit veaugun e diam lor innia est. Proin dictum elem velit Fterdpibus sceleue vitaepe.
                </div>
                <a href="javascript:void(0);" class="btn btn-color layout-btn text-uppercase">more</a>

            </div>
            <div class="col-sm-3">
                <h1 class="font-title" data-editable="true">
                    COMPLETE SERVICES
                </h1>
                <div class="icon">
                    <i class="fa fa-fire color-default" data-icon="true"></i>
                </div>
                <div class="description" data-editable="true">
                    Cubilipende sollicitudineed leo pharea aumennec in velit veaugun e diam lor innia est. Proin dictum elem velit Fterdpibus sceleue vitaepe.
                </div>
                <a href="javascript:void(0);" class="btn btn-color layout-btn text-uppercase">more</a>

            </div>
            <div class="col-sm-3">
                <h1 class="font-title" data-editable="true">
                    COMPLETE SERVICES
                </h1>
                <div class="icon">
                    <i class="fa fa-filter color-default" data-icon="true"></i>
                </div>
                <div class="description" data-editable="true">
                    Cubilipende sollicitudineed leo pharea aumennec in velit veaugun e diam lor innia est. Proin dictum elem velit Fterdpibus sceleue vitaepe.
                </div>
                <a href="javascript:void(0);" class="btn btn-color layout-btn text-uppercase">more</a>

            </div>
            <div class="col-sm-3">
                <h1 class="font-title" data-editable="true">
                    COMPLETE SERVICES
                </h1>
                <div class="icon">
                    <i class="fa fa-wrench color-default" data-icon="true"></i>
                </div>
                <div class="description" data-editable="true">
                    Cubilipende sollicitudineed leo pharea aumennec in velit veaugun e diam lor innia est. Proin dictum elem velit Fterdpibus sceleue vitaepe.
                </div>
                <a href="javascript:void(0);" class="btn btn-color layout-btn text-uppercase">more</a>

            </div>
        </div>
    </div>
</section>