<section class="img-i007 pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h1 data-editable="true">Título</h1>
                <div data-editable="true">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book.
                </div>
                <a class="btn btn-color layout-btn" href="javascript:void(0);"><div data-editable="true">Saiba mais</div></a>
            </div>
            <div class="col-md-6 col-xs-12">
                <img class="cast-shadow img-responsive" data-image="true" alt="" src="http://srv4.vmwm.com.br/img/imagem.jpg">
            </div>
        </div>
    </div>
</section>