.service-s005 .banner-group a>img {
    width: 100%;
    height: 170px;
}

.service-s005 .banner {
    display: block;
    position: relative;
    overflow: hidden;
}

.service-s005 .banner:before {
    position: absolute;
    content: "";
    top: 0px;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    transform: skewX(-25deg);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
    transition: all 1s;
}

.service-s005 .banner:hover:before {
    left: 175%;
}

.service-s005 .banner img {
    transform: scale(1);
    transition: all 1s;
    display: block;
    width: 100%;
    height: 156px
}

.service-s005 .banner:hover img {
    transform: scale(1.1);
}

.service-s005 .boxTexto {
    background: rgba(0, 0, 0, .5);
    color: #fff;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.service-s005 .bold {
    font-weight: 700;
}