<div class="aba-a004 full-w pad-default-elements">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="tabbed-content button-tabs vertical">
                    <ul class="tabs">
                        <li class="active">
                            <div class="tab-title btn-color">
                                <div data-editable="true">Tab 1</div>
                            </div>
                            <div class="tab-content">
                                <h5 class="uppercase" data-editable="true">Tab</h5>
                                <hr>
                              	<div data-editable="true">
                                  <p class="text-description">
                                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                      sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                  </p>
                              	</div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title btn-color">
                                <div data-editable="true">Tab 2</div>
                            </div>
                            <div class="tab-content">
                                <h5 class="uppercase" data-editable="true">Tab</h5>
                                <hr>
                              	<div data-editable="true">
                                  <p class="text-description">
                                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                      sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                  </p>
                              	</div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title btn-color">
                                <div data-editable="true">Tab 3</div>
                            </div>
                            <div class="tab-content">
                                <h5 class="uppercase" data-editable="true">Tab</h5>
                                <hr>
                              	<div data-editable="true">
                                  <p class="text-description">
                                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                      sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                  </p>
                              	</div>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title btn-color">
                                <span data-editable="true">Tab 4</span>
                            </div>
                            <div class="tab-content">
                                <h5 class="uppercase" data-editable="true">Tab</h5>
                                <hr>
                              	<div data-editable="true">
                                  <p class="text-description">
                                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                      sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                  </p>
                              	</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>