.reser_border {
  border-radius: 0px;
  border: none;
}
body .header_old_mod_stand_003.navbar-wrapper{
  left: inherit!important;
  right: inherit!important;
}

.navbar-collapse {
    padding-right: 94px;
}

@media all and (max-width:768px){
  body .header_old_mod_stand_003.navbar-wrapper{
    left: 0!important;
  right: 0!important;
  }

}
.header_old_mod_stand_003 {
  color: #fff;
}
.header_old_mod_stand_003 .navbar-default .navbar-nav>.open>a{
  background:transparent;
}
.header_old_mod_stand_003 #header .navbar{
	min-height:auto;
}
.header_old_mod_stand_003 #header > .navbar-default {
  padding: 0px;
  background-color: transparent;
}
.header_old_mod_stand_003 #header .navbar-toggle {
  position: absolute;
  z-index: 99999;
  right: 20px;
  top: 20px;
}
.header_old_mod_stand_003 #header .cont_logo {
  padding-right: 0px;
  background-color: #000;
}
.header_old_mod_stand_003 #header .cont_logo .navbar-brand {
  height: auto;
}
.header_old_mod_stand_003 #header .cont_logo .navbar-brand img {
  width: 100%;
}
@media all and (max-width: 1091px) {
  .header_old_mod_stand_003 #header .cont_logo .navbar-brand {
    float: none;
  }
  .header_old_mod_stand_003 #header .cont_logo .navbar-brand img {
    width: 50%;
    margin-left: 25%;
  }
}
@media (max-width: 1091px) {
  .header_old_mod_stand_003 #header .xs-text-center {
    text-align: center;
  }
}
.header_old_mod_stand_003 #header .background-theme {
  background-color: #ff0609;
}
.header_old_mod_stand_003 #header #navbar {
  max-height: 50px !important;
  margin: 0 auto;
  text-align: center;
  border-top: 4px solid #000;
}
@media all and (max-width: 768px) {
  .header_old_mod_stand_003 #header #navbar {
    max-height: inherit !important;
  }
}
.header_old_mod_stand_003 #header #navbar .nav.navbar-nav {
  float: none;
  display: inline-block;
  padding-top: 5px;
  color: #000;
}
.header_old_mod_stand_003 #header #navbar .nav.navbar-nav .open >a{
  background-image:none;
  
}

@media all and (max-width: 768px) {
  .header_old_mod_stand_003 #header #navbar .nav.navbar-nav {
    width: 100%;
  }
}
.header_old_mod_stand_003 #header #navbar .nav.navbar-nav li {
  border-right: 1px #fff solid;
  min-width: 113px;
}
@media all and (max-width: 768px) {
  .header_old_mod_stand_003 #header #navbar .nav.navbar-nav li {
    min-width: inherit;
    border-right: none;
  }
}
@media all and (max-width: 1300px) {
  .header_old_mod_stand_003 #header #navbar .nav.navbar-nav li {
    min-width: 99px;
    border-right: none;
  }
}
.header_old_mod_stand_003 #header #navbar .nav.navbar-nav li:last-child {
  border-right: none;
}
.header_old_mod_stand_003 #header #navbar .nav.navbar-nav li.active a {
  background-color: inherit;
}
.header_old_mod_stand_003 #header #navbar .nav.navbar-nav li > a {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 9px;
}
.header_old_mod_stand_003 #header #navbar .nav.navbar-nav li > a:active {
  background-color: inherit;
}
.header_old_mod_stand_003 #header #navbar .nav.navbar-nav li > a:focus,
.header_old_mod_stand_003 #header #navbar .nav.navbar-nav li > a:hover {
  background-color: inherit;
}
.header_old_mod_stand_003 #header #navbar .nav.navbar-nav .dropdown-menu {
  text-align: center;
  background-color: #201616;
}
.header_old_mod_stand_003 #header #navbar .nav.navbar-nav .dropdown-menu li {
  border: none;
}
