.x_component_news_code_149 .item-text.item_title {
  margin-top: 0;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
  font-size: 46px;
  font-weight: 300;
  line-height: 56px;
  margin-bottom: 20px;
}
.x_component_news_code_149 .item-text-2 .item-sub-title-style {
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
}
.x_component_news_code_149 .item-text-2 .item-sub-title-style a:hover {
  color: #39CAFA;
}
.x_component_news_code_149 .item-text-2 .item-description {
  font-size: 20px;
  line-height: 34px;
  color: #777777;
  font-weight: 300;
  padding-bottom: 20px;
}
.x_component_news_code_149 .item-text-2 .item-description a {
  font-size: 20px;
  line-height: 34px;
  color: #39CAFA;
  font-weight: 300;
}
.x_component_news_code_149 .item-content-text .item-description {
  font-size: 20px;
  line-height: 34px;
  color: #777777;
  font-weight: 300;
  padding-bottom: 34px;
}
.x_component_news_code_149 .item-content-img img {
  width: 100%;
  margin-bottom: 20px;
}
.x_component_news_code_149 .item-content-text {
  padding-bottom: 30px;
}
