.text-img-008.row{
  margin:0px;

}
.text-img-008 .text-img-008-padding-reset {
    padding: 0px;
}

.text-img-008 .text-img-008-padding-right {
    padding-right: 15px;
}

.text-img-008 .text-img-008-padding-left {
    padding-left: 15px;
}

.text-img-008 .text-img-008-margin-right {
    margin-right: 15px;
}

.text-img-008 .text-img-008-margin-left {
    margin-left: 15px;
}

@media all and (max-width: 991px) {
    .text-img-008 .text-img-008-margin-top-30-media-991 {
        margin-top: 30px;
    }
}

.text-img-008 .text-img-008-margin-top-20 {
    margin-top: 20px;
}

.text-img-008 .text-img-008-cont-box {
    overflow: hidden;
}

.text-img-008 .text-img-008-cont-text {
    position: absolute;
    top: 100px;
    left: 30px;
    width: 52%;
    -moz-transform: skew(209deg, 0deg);
    -webkit-transform: skew(209deg, 0deg);
    -o-transform: skew(209deg, 0deg);
    -ms-transform: skew(209deg, 0deg);
    transform: skew(209deg, 0deg);
    transition: all 0.35s;
}

@media all and (max-width: 510px) {
    .text-img-008 .text-img-008-cont-text {
        top: 50px;
        width: 42%;
    }
}

.text-img-008 .text-img-008-cont-text>.titulo {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.text-img-008 .text-img-008-cont-text>.subtitulo {
    font-size: 14px;
}

.text-img-008 .text-img-008-text-right {
    text-align: left;
}

.text-img-008 .text-img-008-background-rotate {
    transition: all 0.35s;
    height: 100%;
    width: 65%;
    right: -45px;
    position: absolute;
    -moz-transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
    -webkit-transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
    -o-transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
    -ms-transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
    transform: scale(1.3) rotate(360deg) translate(20px, 0px) skew(150deg, 0deg);
    transition: 0.5s;
    z-index: 3;
}

.text-img-008 .text-img-008-overflow-hidden {
    overflow: hidden;
    transition: all 0.35s;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.78);
}

@media all and (max-width: 991px) {
    .text-img-008 .text-img-008-overflow-hidden {
        height: auto;
    }
}

.text-img-008 .text-img-008-overflow-hidden:hover img {
    transition: all 0.35s;
    transform: scale(1.1) rotate(3deg);
}

.text-img-008 .text-img-008-overflow-hidden img {
    transition: all 0.35s;
    width: 100%;
    height: 362px;
}

@media all and (max-width: 991px) {
    .text-img-008 .text-img-008-overflow-hidden img {
        width: 100%;
        height:auto;
    }
}

.text-img-008 .text-img-008-overflow-hidden.limpa-col-md-6-left {
    width: 49%;
    margin-right: 1%;
    padding: 0px;
}

@media all and (max-width: 991px) {
    .text-img-008 .text-img-008-overflow-hidden.limpa-col-md-6-left {
        width: inherit;
        padding: inherit;
        margin-right: 0px;
    }
}

.text-img-008 .text-img-008-overflow-hidden.limpa-col-md-6-right {
    width: 49%;
    margin-left: 1%;
    padding: 0px;
}

@media all and (max-width: 991px) {
    .text-img-008 .text-img-008-overflow-hidden.limpa-col-md-6-right {
        width: inherit;
        padding: 0px;
        margin-left: 0px;
        margin-top: 30px;
    }
}

.text-img-008 .text-img-008-background-color {
    background-color: rgba(0, 0, 0, 0.7);
}

.text-img-008 .text-img-008-background-color:hover {
    background-color: rgba(0, 0, 0, 0.3);
    right: 120px;
}

.text-img-008 .text-img-008-background-color:hover .text-img-008-cont-text {
    left: 90px;
    transition: all 0.35s;
}

.text-img-008 .text-img-008-btn-default {
    display: block;
    min-height: 20px;
    min-width: 50px;
}

.text-img-008 .text-img-008-btn-default.btn-bg {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 10px;
}

.text-img-008 .text-img-008-shadow {
    background-color: rgba(255, 255, 255, 0.69);
    position: relative;
    box-shadow: 0px 0px 11px 0px rgba(209, 204, 204, 0.78);
}