<div class="img-i007 full-w pad-default-elements">
    <div class="container mt24">
        <div class="row v-align-children">
            <div class="col-md-6 col-sm-5">
                <h2 data-editable="true">Lorem Ipsum is simply dummy text of the printing</h2>
                <p data-editable="true">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book.</p>
                <div class="btn-filled btn btn-color layout-btn"><p data-editable="true">Saiba mais</p></div>
            </div>
            <div class="col-md-6 col-sm-6 text-center mb-xs-24">
                <img class="cast-shadow" data-image="true" alt="" src="http://srv4.vmwm.com.br/img/imagem.jpg">
            </div>
        </div>
    </div>
</div>