<div class="menu-m001 full-w">
    <div class="navbar-wrapper">
        <nav class="navbar">
            <div class="nav-utility">
                <div class="module left">
                    <i class="fa fa-map-marker" data-icon="true"></i>
                    <span class="sub" data-editable="true">R. Gomes de Carvalho, 1996 - Vila Olimpia</span>
                </div>
                <div class="module left">
                    <i class="fa fa-envelope-o" data-icon="true"></i>
                    <span class="sub" data-editable="true">11 0000.0000</span>
                </div>
                <div class="module right">
                    <a class="btn btn-sm hidden-xs hidden-sm hidden-md btn-color " href="#" data-link="true">Seminovos</a>
                    <a class="btn btn-sm btn-filled btn-color" href="#" data-link="true">ZERO KM</a>
                </div>
            </div>
            <div class="nav-bar">
                <div class="module left">
                    <a href="#" data-link="true">
               			<div><img alt="logo" class="image-xxs" data-image="true" src="https://cdn.webmotors.com.br/webmotors/Content/assets/img/logo-webmotors@2x.png?v=25698"></div>
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="module-group right">
                    <div class="module left cont-menu" >
                        <ul data-menu="true">
                            
                    
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>