.x_component_faq_code_096 {
    font-family: 'Open Sans', sans-serif;
}

.x_component_faq_code_096 .item-content-img>img {
    width: 100%;
}

.x_component_faq_code_096 .inline_elem {
    display: inline;
}

.x_component_faq_code_096 .panel {}

.x_component_faq_code_096 .item-content-text .item-title {
    font-size: 50px;
}

.x_component_faq_code_096 .item-content-text {
    padding: 0;
    margin: 0;
    margin-top: 150px;
    border: 1px solid #eeeeee;
    border-bottom: none;
}

.x_component_faq_code_096 button.accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e9e8e9;
    text-align: left;
    outline: none;
    transition: 0.4s;
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    box-sizing: border-box;
}

.x_component_faq_code_096 button.accordion .fa-chevron-down {
    padding: 0 5px;
    float: right;
}

.x_component_faq_code_096 button.accordion.active {
    background-color: #ffffff;
    color: #2196F3;
}

.x_component_faq_code_096 button.accordion.active>.fa-chevron-down {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.x_component_faq_code_096 .panel {
    padding: 0 25px;
    border: none;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 0;
    margin-top: 10px;
}

.x_component_faq_code_096 .panel:last-child {
    padding: 0 25px;
    border: none;
}

@media screen and (max-width: 1024px) {
    .x_component_faq_code_096 .item-content .item-content-title {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 500;
        line-height: 120px;
    }
    .x_component_faq_code_096 .item-content-text {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .x_component_faq_code_096 .item-content .item-content-title {
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 500;
        line-height: 60px;
    }
    .x_component_faq_code_096 .item-content a {
        font-size: 16px;
    }
}