.highlights-h013 {
    background: #fff;
    padding: 20px 0;
    font-size: 14px;
    color: #3E3E43;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.highlights-h013 .img-responsive {
    width: 100%;
}

.highlights-h013 .row.no-gutters>[class^="col-"],
.highlights-h013 .row.no-gutters>[class*=" col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.highlights-h013 .font-title {
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Ubuntu Condensed', sans-serif;
    line-height: 1.8;
    letter-spacing: 0px;
    position: relative;
}

.highlights-h013 .font-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ECEFF1;
    height: 2px;
}

.highlights-h013 div.col-sm-7.five-three {
    width: 60% !important;
}

.highlights-h013 div.col-sm-5.five-two {
    width: 40% !important;
}

.highlights-h013 .thumbnail {
    padding: 0;
    border: none;
}

.highlights-h013 .caption>.text {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: #3E3E43;
}

.highlights-h013 .thumbnail .caption {
    padding: 30px;
    border: 1px solid #e2e2e2;
}

@media screen and (max-width: 768px) {
    .highlights-h013 div.col-sm-7.five-three {
        width: 100% !important;
    }
    .highlights-h013 div.col-sm-5.five-two {
        width: 100% !important;
    }
}