<section class="x_component_footer_cod_267 pad-default-element">
    <footer>
        <div class="container">
            <div class="col-sm-12 col-md-12 footer-top background-theme">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-4 col-xs-12 col-sm-6 title-block">
                            <h1 data-editable="true" class="footer-module-title">Redes Sociais</h1>
                        </div>
                        <div class="col-md-8 col-xs-12 col-sm-6 social-block no-padding">
                            <ul class="list-unstyled list-inline footer-social no-padding" data-social="true">
                                <li><a class="color-default-hover" target="_blank" href="#icon-link#"><i class="#icon-class#"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <hr class="visible-xs">
                    <div class="col-md-6 col-xs-12 newsletter">
                        <div class="form-inline newsletter-submit">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <h1 data-editable="true" class="footer-module-title">Newsletter</h1>
                                </div>
                                <div class="col-sm-7 ">
                                    <div data-newsletter="true">
                                        <form data-form-type="newsletter" data-form-layout="newsletter-6"></form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 footer-bottom">
                <hr class="visible-xs">
                <div class="col-sm-4">
                    <h1 data-editable="true" class="footer-module-title">Lorem</h1>
                    <ul class="list-unstyled list-items">
                        <li>
                            <div data-editable="true">
                                Lorem ipsum dolor
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Consectetur adipisicing
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Eit sed do eiusmod
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Tempor incididunt
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Ut labore et dolore
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Consectetur adipisicing
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Elit sed do eiusmo
                            </div>
                        </li>

                    </ul>
                </div>
                <hr class="visible-xs">
                <div class="col-sm-4 ">
                    <h1 data-editable="true" class="footer-module-title">Tempor</h1>
                    <ul class="list-unstyled list-items">
                        <li>
                            <div data-editable="true">
                                Consectetur adipisicing
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Eit sed do eiusmod
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Tempor incididunt
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Ut labore et dolore
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Consectetur adipisicing
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Elit sed do eiusmo
                            </div>
                        </li>
                    </ul>
                </div>
                <hr class="visible-xs">
                <div class="col-sm-4">
                    <h1 data-editable="true" class="footer-module-title">Consectetur</h1>
                    <ul class="list-unstyled list-items">
                        <li>
                            <div data-editable="true">
                                Consectetur adipisicing
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Eit sed do eiusmod
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Tempor incididunt
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Ut labore et dolore
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Consectetur adipisicing
                            </div>
                        </li>
                        <li>
                            <div data-editable="true">
                                Elit sed do eiusmo
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-xs-12 text-center copyright">
                <hr>
                <div data-editable="true" class="copyright-text">
                    © 2017 Elit sed do eiusmo
                </div>
            </div>
        </div>
    </footer>
</section>