.x_component_slider-and-boxes_cod_019 {
    background: #ffffff;
    font-family: 'PT Sans', sans-serif;
    color: #222;
    padding: 0 0 150px 0;
}

.x_component_slider-and-boxes_cod_019>.container-fluid {
    padding: 0;
}

.x_component_slider-and-boxes_cod_019 .blog-container {
    padding: 0 20px;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item {
    margin-top: -100px;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-img {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 10px;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-img:before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-img:hover:before {
    -webkit-animation: shine .75s;
    -o-animation: shine .75s;
    animation: shine .75s;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-info {
    color: #8aa4c1;
    letter-spacing: 1px;
    margin: 25px 0 0 0;
    font-size: 12px;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-info p {
    display: inline-block;
    color: #FF3D00;
    font-size: inherit;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-title {
    margin: 0 0 25px 0;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-title a {
    color: #011327;
    letter-spacing: 1px;
    font-size: 32px;
    font-weight: 700;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-title a:hover {
    color: #FF3D00;
    text-decoration: none;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .blog-description {
    color: #011327;
    letter-spacing: 1px;
    margin: 0 0 25px 0;
    line-height: 1.5;
    font-size: 15px;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .readmore-btn {
    background: #FF3D00;
    color: #ffffff;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 11px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_slider-and-boxes_cod_019 .blog-container .blog-item .readmore-btn:hover {
    background: #011327;
}

@media screen and (max-width: 768px) {
    .x_component_slider-and-boxes_cod_019 .top-area-container .component-top-title {
        font-size: 50px;
    }
    .x_component_slider-and-boxes_cod_019 .blog-container {
        padding: 0 20px;
    }
    .x_component_slider-and-boxes_cod_019 .blog-container .blog-item {
        margin-top: 50px;
    }
}

@-webkit-keyframes shine {
    0% {
        left: 0;
    }
    100% {
        left: 125%;
    }
}

@keyframes shine {
    0% {
        left: 0;
    }
    100% {
        left: 125%;
    }
}