.x_component_footer_cod_267 .footer-top {
    padding: 0;
    margin-bottom: -5px;
}

.x_component_footer_cod_267 .footer-top .list-items li div {
    padding: 0;
    margin-bottom: -5px;
}

.x_component_footer_cod_267 .footer-top .title-block h1 {
    margin-top: 30px;
}

.x_component_footer_cod_267 .no-padding {
    padding: 0;
}

.x_component_footer_cod_267 .footer-module-title {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 35px;
    position: relative;
    text-transform: uppercase;
}

.x_component_footer_cod_267 .footer-social {
    margin: 0;
}

.x_component_footer_cod_267 .footer-social li {
    width: 50px;
    height: 80px;
    margin-bottom: 0;
    position: relative;
    padding: 0 30px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_267 .footer-social li:hover,
.x_component_footer_cod_267 .footer-social li:focus {
    opacity: 0.8;
}

.x_component_footer_cod_267 .footer-social li a i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_267 .footer-bottom {
    background: #22272E;
}

.x_component_footer_cod_267 .newsletter .newsletter-submit {
    padding-top: 10px;
}

.x_component_footer_cod_267 .newsletter .newsletter-submit input {
    width: 60%;
    height: 50px;
    color: #757a82;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
}

.x_component_footer_cod_267 .newsletter .newsletter-submit .btn {
    width: 35%;
    display: inline-block;
    background: #22272E;
    height: 50px;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    line-height: 40px;
    position: relative;
    z-index: 1;
    color: #FFFFFF;
}

.x_component_footer_cod_267 .newsletter .newsletter-submit a:hover {
    opacity: .7;
}

.x_component_footer_cod_267 .newsletter .newsletter-submit .form-group {
    width: 100%;
}

.x_component_footer_cod_267 .footer-bottom h1 {
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.x_component_footer_cod_267 .footer-bottom ul>li {
    font-size: 11px;
    color: #898d92;
    text-shadow: none;
    line-height: 21px;
    padding-bottom: 6px;
}

.x_component_footer_cod_267 .footer-bottom ul>li>div>a {
    text-decoration: none;
}

.x_component_footer_cod_267 .footer-bottom ul>li>div>a:hover {
    opacity: 0.8;
}

.x_component_footer_cod_267 .moduletable {
    padding-top: 20px;
}

.x_component_footer_cod_267 .copyright {
    background: #22272E;
    text-align: left;
    padding: 20px 0;
    color: #898d92;
}

.x_component_footer_cod_267 .copyright a {
    color: #898d92;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.x_component_footer_cod_267 .copyright a:hover,
.x_component_footer_cod_267 .copyright a:focus {
    opacity: 0.8;
    text-decoration: none;
}

.x_component_footer_cod_267 .copyright-text {
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .x_component_footer_cod_267 .newsletter .newsletter-submit a {
        margin-left: 0;
        margin-top: 5px;
    }
}