<section class="x_component_text-image_cod_293">
    <div class="container">
        <div class="row">
            <div class="col-sm-12  clearfix">
                <div class="service-container">
                    <div class="top-text clearfix">
                        <h1 class="block-title" data-editable="true">Lorem Ipsum!</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-12  clearfix">
                <div class="item-image">
                    <img src="assets/images/component-text-image-cod-293-01.jpg" alt="" class="img-responsive" data-image="true">
                </div>
                <div class="item-text  text-center">
                    <div class="item-text-header">
                        <h2 data-editable="true">Aliquam leotellus dolor dapibus eget elemeum</h2>
                    </div>
                    <div class="item-text-description" data-editable="true">
                        Orcinec sitmet eros. Lorem ipsum dolor sit amet consecetuer adipiscing elit. Mau a lacuestibulum libero nisl portl scelerisque eget malesuda at nequemus eris fermen tum dictum magned loreet aliquam leot tellus dolor dapibus eget elementum vel cursus eleifend
                        elit. Aenean auctor wisi et urna. Aliqurat volutpat. Duis ac turpis. Integer rutrum ante eu lacuestibulum libero nisl porta vel scelerisque eget malesuada at nequeVivamus eget nibh. Etiamursus leo vel metus. Nulla facilis nec eros.
                        Vestibulum ante ipsum primi.
                    </div>
                    <div class="views-field views-field-view-node btn">
                        <div data-editable="true">Read More</div>
                        <div class="inline"><i class="fa fa-arrow-circle-right" data-icon="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>