.footer-f003 {
    color: #222;
    background: #f2f5f7;
}

.footer-f003 footer {
    padding: 30px 0;
}

.footer-f003 .logo {
    max-width: 200px;
}

.footer-f003 .cont-list-footer>ul {
    list-style: none;
    padding: 0;
}

.footer-f003 .social-list {
    margin: 0;
}

.footer-f003 .list-inline>li {
    padding: 0 8px;
}

.footer-f003 .list-inline>li:last-child {
    padding: 0;
}

.footer-f003 a {
    text-decoration: none;
}

.footer-f003 .mb16 {
    margin-bottom: 16px;
}

.footer-f003 .mb32 {
    margin-bottom: 32px;
}

.footer-f003 .mb24 {
    margin-bottom: 24px;
}

.footer-f003 .mt24 {
    margin-top: 24px;
}