.imagem-i004 {
    background: #f5f5f5;
    padding: 30px;
}

.imagem-i004 img.card-img-h {
  	width: 100%;  
  	height: 200px; 
  	display:block;
}
.imagem-i004 p {
    color: #bbb8b8;
}

.imagem-i004 .card .card-image {
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  	width:100%;
}

.imagem-i004 .card .card-image img {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.imagem-i004 .card .card-image:hover img {
    -webkit-transform: scale(1.2) rotate(-7deg);
    -moz-transform: scale(1.2) rotate(-7deg);
    -ms-transform: scale(1.2) rotate(-7deg);
    -o-transform: scale(1.2) rotate(-7deg);
    transform: scale(1.2) rotate(-7deg);
}

.imagem-i004 .card {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    position: relative;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	height: auto;
}

.imagem-i004 .card .card-content {
    padding: 10px;
    background: #fdfdfd;
}

.imagem-i004 .card .card-content .card-title,
.imagem-i004 .card-reveal .card-title {
    font-size: 24px;
    font-weight: 200;
}

.imagem-i004 .card .card-action {
    padding: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}

.imagem-i004 .card .card-action a {
    font-size: 15px;
    color: #ffab40;
    text-transform: uppercase;
    margin-right: 20px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.imagem-i004 .card .card-action a:hover {
    color: #ffd8a6;
    text-decoration: none;
}

.imagem-i004 .card .card-reveal {
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    /*top: 0;*/
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
    display: none;
}

.imagem-i004 .card .card-reveal p {
    color: rgba(0, 0, 0, 0.71);
    margin: 20px;
}

.imagem-i004 .btn-custom {
    background-color: transparent;
    font-size: 18px;
}