.footer-f005 .logo img {
    max-width: 150px;
    display: inline-block;
}

.footer-f005 .social-list {
    margin-top: 36px;
    margin-bottom: 36px;
}
.footer-f005 .social-list i {
    font-size: 34px;
    opacity: 0.5;
}
.footer-f005 ul {
    list-style: none;
}
.footer-f005 .spread-children * {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}
@media all and (max-width: 767px) {
    .footer-f005 .spread-children * {
        margin-left: 6px;
        margin-right: 6px;
    }
}
