.aba-a006 iframe {
    width: 600px;
    height: 450px;
}

.aba-a006 {
    background: #292929;
}

.aba-a006 h1,
.aba-a006 h2,
.aba-a006 h3,
.aba-a006 h4,
.aba-a006 h5,
.aba-a006 h6,
.aba-a006 p,
.aba-a006 ul,
.aba-a006 ol,
.aba-a006 pre,
.aba-a006 table,
.aba-a006 blockquote,
.aba-a006 input,
.aba-a006 button,
.aba-a006 select,
.aba-a006 textarea {
    margin-bottom: 24px;
    margin-top: 0px;
    padding: 0;
}

.aba-a006 h1,
.aba-a006 h2,
.aba-a006 h3,
.aba-a006 h4,
.aba-a006 h5,
.aba-a006 h6,
.aba-a006 .h1,
.aba-a006 .h2,
.aba-a006 .h3,
.aba-a006 .h4,
.aba-a006 .h5,
.aba-a006 .h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.aba-a006 h1,
.aba-a006 h2,
.aba-a006 h3,
.aba-a006 h4,
.aba-a006 h5,
.aba-a006 h6 {
    font-weight: 300;
    color: #fff;
}

.aba-a006 h4 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 3px;
    margin-right: -3px;
    text-align: center;
}

.aba-a006 h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.aba-a006 .uppercase {
    font-weight: 400;
    text-transform: uppercase;
}

.aba-a006 .mb80 {
    margin-bottom: 80px;
}

.aba-a006 .vertical.button-tabs {
    overflow: hidden;
}

.aba-a006 .tabs {
    overflow: hidden;
}

.aba-a006 .button-tabs .tabs {
    display: inline-block;
    overflow: hidden;
}

.aba-a006 .vertical.button-tabs>.tabs {
    max-width: 30%;
    float: left;
}

.aba-a006 .vertical.button-tabs>.content {
    padding-left: 3%;
    max-width: 70%;
    float: right;
}


.aba-a006 .tabbed-content .content .active {
    opacity: 1;
    visibility: visible;
    display: block;
}

.aba-a006 h5.uppercase {
    letter-spacing: 2px;
    margin-right: -2px;
}

.aba-a006 p,
.aba-a006 span {
    font-weight: 400;
}

.aba-a006 .text-description {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    line-height: 24px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    overflow-x: hidden;
}

.aba-a006 .tabs li {
    display: inline-block;
    cursor: pointer;
}

.aba-a006 .button-tabs .tabs>li {
    margin-bottom: 8px;
    float: left;
}

.aba-a006 .button-tabs .tabs>li:last-child {
    margin-right: 0px;
}

.aba-a006 .button-tabs .tab-title {
    padding: 13px;
    display: inline-block;
    text-align: center;
    min-width: 150px;
    border: 1px solid #3e3e3e;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.aba-a006 .button-tabs .active .tab-title {
    background: #104d7f;
    color: #ffffff;
}

.aba-a006 .vertical.button-tabs>.tabs li,
.aba-a006 .vertical.button-tabs .tab-title {
    width: 100%;
}

.aba-a006 .vertical.button-tabs>.tabs li {
    margin-bottom: 10px;
}

.aba-a006 .button-tabs .tab-title span {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: #fff;
}

@media all and (max-width: 767px) {
    .aba-a006 .button-tabs .tabs li {
        width: 49%;
        margin-bottom: 15px;
    }
    .aba-a006 .button-tabs.vertical .tabs,
    .aba-a006 .button-tabs.vertical .content {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
    }
}