<section class="map-m001">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 text-center-xs">
                <h1 data-editable="true">Título</h1>
                <div data-editable="true">Descrição</div>
                <div class="pull-left cont-text-map"><i class="fa fa-home color-default" data-icon="true"></i>
                    <div class="inline-block" data-editable="true">Endereço</div>
                </div>

                <div class="pull-left cont-text-map">
                    <i class="fa fa-phone color-default" data-icon="true"></i>
                    <div class="inline-block" data-editable="true">(11) 3049.2992</div>
                </div>

                <div class="pull-left cont-text-map">
                    <i class="fa fa-whatsapp color-default" data-icon="true"></i>
                    <div class="inline-block" data-editable="true">(11) 91234.5678</div>
                </div>

                <div class="pull-left cont-text-map">
                    <i class="fa fa-envelope color-default" data-icon="true"></i>
                    <a href="javascript:void(0);">
                        <div class="inline-block" data-editable="true" class="color-default">contato@vmotors.com.br</div>
                    </a>
                </div>
              
                <div class="pull-left cont-text-map">
                    <i class="fa fa-clock-o color-default" data-icon="true"></i>
                    <div class="inline-block" data-editable="true" class="color-default">Horário de Funcionamento</div>
                    <div data-editable="true">Segunda á Sexta-feira 09h às 18h</div>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="maps-area" data-mapa="true" data-type="map"></div>
            </div>
        </div>
    </div>
</section>