<section class="x_component_faq_code_096 pad-default-element">
    <h1 class="item_title heading-style text-center" data-editable="true">FAQ</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 hidden-xs-down">
                <div class="item-content-img">
                    <img src="assets/img/COMPONENT-FAQ-COD-096-1.png" alt="" class="image-responsive" data-image="true">
                </div>
            </div>
            <div class="col-sm-6">

                        <div class="item-content-text">

                    <button class="accordion"><div data-editable="true" class="inline_elem">Pergunta?</div> <i class="fa fa-chevron-down"></i></button>
                    <div class="panel" data-editable="true">
                        Resposta
                    </div>

                    <button class="accordion"><div data-editable="true"  class="inline_elem">Pergunta?</div><i class="fa fa-chevron-down"></i></button>
                    <div class="panel" data-editable="true">
                        Resposta
                    </div>

                    <button class="accordion"><div data-editable="true"  class="inline_elem">Pergunta?</div><i class="fa fa-chevron-down"></i></button>
                    <div class="panel" data-editable="true">
                        Resposta
                    </div>

                    <button class="accordion"><div data-editable="true"  class="inline_elem">Pergunta?</div><i class="fa fa-chevron-down"></i></button>
                    <div class="panel" data-editable="true">
                        Resposta
                    </div>
                    <button class="accordion"><div data-editable="true"  class="inline_elem">Pergunta?</div><i class="fa fa-chevron-down"></i></button>
                    <div class="panel" data-editable="true">
                        Resposta
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>