
.x_component_contact_cod_138 .no-padding {
  padding-left: 0;
  padding-right: 0;
}
.x_component_contact_cod_138 .no-padding-left {
  padding-left: 0;
}
.x_component_contact_cod_138 .no-padding-right {
  padding-right: 0;
}
.x_component_contact_cod_138 .title {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 36px;
  position: relative;
  margin-bottom: 50px;
}
.x_component_contact_cod_138 .title:after {
  position: absolute;
  left: 0;
  bottom: -10px;
  content: '';
  width: 100px;
  height: 2px;
  background: #000000;
}
.x_component_contact_cod_138 .description {
  font-size: 16px;
  font-weight: 300;
}
.x_component_contact_cod_138 .con-title,
.x_component_contact_cod_138 .social-title {
  display: inline-block;
  margin: 20px 0 12px;
  font-size: 20px;
  font-weight: 400;
}
.x_component_contact_cod_138 .con-text {
  margin-top: 10px;
}
.x_component_contact_cod_138 .con-info {
  margin-left: 48px;
}
.x_component_contact_cod_138 .col-sm-6 > i {
  margin-right: 10px;
  font-size: 20px;
}
.x_component_contact_cod_138 .con-info li div a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.2s ease-out;
}
.x_component_contact_cod_138 .social-contact li a {
  padding: 5px;
  text-decoration: none;
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  transition: all 0.2s ease-out;
}
.x_component_contact_cod_138 .contact-title {
  margin: 50px 0 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.x_component_contact_cod_138 #map {
  margin-top: 100px;
  width: 100%;
  height: 645px;
}
.x_component_contact_cod_138 .contact-form {
  margin-bottom: 30px;
}
.x_component_contact_cod_138 .contact-form .form-group {
  position: relative;
}
.x_component_contact_cod_138 .contact-form input,
.x_component_contact_cod_138 .contact-form textarea {
  background: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  z-index: 2;
  padding: 10px 18px;
}
.x_component_contact_cod_138 .contact-form textarea {
  height: 150px;
  padding: 12px 18px;
}
.x_component_contact_cod_138 .contact-form input {
  line-height: 34px;
  height: 55px;
}
.x_component_contact_cod_138 .contact-form .title-label {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  pointer-events: none;
  font-weight: 300;
  position: absolute;
  top: 16px;
  left: 18px;
  z-index: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.x_component_contact_cod_138 .contact-form .form-group.move-label .title-label {
  top: 2px;
  font-size: 11px;
  color: #AAB6CF;
}
.x_component_contact_cod_138 .contact-form .contact-form-btn {
  padding: 16px 37px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 800;
  color: #fff;
  border-radius: 0;
  transition: all 0.2s ease-out;
  margin-top: 20px;
}
.x_component_contact_cod_138 .contact-form .contact-form-btn:hover {
  opacity: 0.7;
}
.x_component_contact_cod_138 .contact-form label:not(.title-label) {
  position: absolute;
  top: 0;
  right: 5px;
  color: #f54b0f;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  cursor: pointer;
}
.x_component_contact_cod_138 .contact-form .submit-btn {
  width: 170px;
  height: 45px;
  color: #FFFFFF;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
@media screen and (max-width: 992px) {
  .x_component_contact_cod_138 .no-padding-sm {
    padding-left: 0;
    padding-right: 0;
  }
}
