.img-i016 * {
    border: none !important;
}

.img-i016>row{
  margin:0px;
}
.img-i016 .col-sm-4 {
    padding: 0px;
}

.img-i016 .overflow-hidden {
    overflow: hidden;
}

.img-i016 .display-block {
    display: block;
}

.img-i016 .show-grid {
    border: 1px dashed rgba(255, 255, 255, 0);
    padding: 8px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    cursor: default;
}

.img-i016 .show-grid:hover {
    border-color: #222;
}

.img-i016 .right {
    right: 0;
}

.img-i016 .relative {
    position: relative;
    z-index: 2;
}

.img-i016 .clearboth {
    clear: both;
}

.img-i016 .spread-children * {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

.img-i016 .spread-children-large * {
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
}

.img-i016 .container {
    position: relative;
}

.img-i016 .vnu {
    display: inline;
}

.img-i016 .row-gapless>div[class*='col-'] {
    padding: 0;
}

@media all and (max-width: 1100px) {
    .img-i016 .col-md-push-1 {
        left: 0;
    }
}

@media all and (max-width: 768px) {
    .img-i016 .pull-left-sm {
        float: left !important;
    }
    .img-i016 .overflow-hidden-xs {
        overflow: hidden;
    }
}

@media all and (max-width: 767px) {
    .img-i016 .spread-children * {
        margin-left: 6px;
        margin-right: 6px;
    }
}



.img-i016 .v-align-children {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.img-i016 .v-align-children-column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.img-i016 .disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all and (max-width: 990px) {
    .img-i016 .v-align-children {
        display: block !important;
    }
}

.img-i016 .v-align-transform {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
}

.img-i016 .align-bottom {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

.img-i016 .align-top {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

@media all and (max-width: 767px) {
    .img-i016 .text-center-xs {
        text-align: center !important;
    }
}

.img-i016 .bold {
    font-weight: 600 !important;
}

.img-i016 .thin {
    font-weight: 100 !important;
}

@media all and (max-width: 767px) {
    .img-i016 .thin {
        font-weight: 300 !important;
    }
}

.img-i016 h1,
.img-i016 h2,
.img-i016 h3,
.img-i016 h4,
.img-i016 h5,
.img-i016 h6,
.img-i016 p,
.img-i016 ul,
.img-i016 ol,
.img-i016 pre,
.img-i016 table,
.img-i016 blockquote,
.img-i016 input,
.img-i016 button,
.img-i016 select,
.img-i016 textarea {
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
}

.img-i016 h1,
.img-i016 h2,
.img-i016 h3,
.img-i016 h4,
.img-i016 h5,
.img-i016 h6,
.img-i016 .h1,
.img-i016 .h2,
.img-i016 .h3,
.img-i016 .h4,
.img-i016 .h5,
.img-i016 .h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-i016 h1,
.img-i016 h2,
.img-i016 h3,
.img-i016 h4,
.img-i016 h5,
.img-i016 h6 {
    font-weight: 300;
    color: #292929;
}

.img-i016 h1,
.img-i016 .h1 {
    font-size: 56px;
    line-height: 64px;
}

.img-i016 h1.large {
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
}

@media all and (max-width: 990px) {
    .img-i016 h1.large {
        font-size: 56px;
        line-height: 64px;
    }
}

.img-i016 h2 {
    font-size: 40px;
    line-height: 48px;
}

.img-i016 h3 {
    font-size: 32px;
    line-height: 40px;
}

.img-i016 h4 {
    font-size: 24px;
    line-height: 32px;
}

.img-i016 h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.img-i016 h6,
.img-i016 .h6 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
}

@media all and (max-width: 767px) {
    .img-i016 h1,
    .img-i016 h1.large,
    .img-i016 .h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 300;
    }
    .img-i016 h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .img-i016 h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .img-i016 h4 {
        font-size: 18px;
        line-height: 26px;
    }
    .img-i016 h5 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .img-i016 h6,
    .img-i016 .h6 {
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
    }
}

.img-i016 .uppercase {
    font-weight: 400;
    text-transform: uppercase;
}

.img-i016 h1.uppercase {
    letter-spacing: 17px;
    margin-right: -17px;
}

.img-i016 h2.uppercase {
    letter-spacing: 10px;
    margin-right: -10px;
}

.img-i016 h3.uppercase {
    letter-spacing: 6px;
    margin-right: -6px;
}

.img-i016 h4.uppercase {
    letter-spacing: 3px;
    margin-right: -3px;
}

.img-i016 h5.uppercase {
    letter-spacing: 2px;
    margin-right: -2px;
}

.img-i016 h6.uppercase,
.img-i016 .h6-u {
    letter-spacing: 2px;
    font-weight: 700;
}

.img-i016 .bold-h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.img-i016 p,
.img-i016 span {
    font-weight: 400;
}

.img-i016 p.lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.img-i016 .sub {
    font-size: 12px;
}

@media all and (max-width: 767px) {
    .img-i016 p.lead {
        font-size: 13px;
        line-height: 24px;
    }
    .img-i016 p {
        font-size: 12px;
    }
}

.img-i016 a,
.img-i016 a:visited,
.img-i016 a:focus,
.img-i016 a:active,
.img-i016 a:hover {
    text-decoration: none;
    outline: none;
}

.img-i016 a {
    font-weight: 600;
    color: #47b475;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: poitner;
}

.img-i016 .image-bg a,
.img-i016 .bg-primary a {
    color: #fff;
}

.img-i016 .image-bg a:hover,
.img-i016 .bg-primary a:hover {
    color: #fff;
    opacity: .9;
}

.img-i016 .bg-light a {
    color: #47b475;
}

.img-i016 .bg-light a:hover {
    color: #47b475;
    opacity: 1;
}

.img-i016 a:hover {
    color: #398f5d;
    text-decoration: none;
}

.img-i016 .label {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    letter-spacing: 1px;
    background: #47b475;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 10px;
    vertical-align: middle;
}

.img-i016 blockquote {
    overflow: hidden;
    font-family: "Merriweather", "Georgia", Times New Roman, Times, serif;
    font-size: 20px;
    line-height: 40px;
    font-style: italic;
    background: #f5f5f5;
    padding: 32px;
    color: #777;
    font-weight: 300;
}

.img-i016 .bg-secondary blockquote {
    background: #fff;
    border-color: #47b475;
}

.img-i016 blockquote .author {
    font-size: 12px;
    display: block;
    float: right;
    margin-top: 16px;
}

.img-i016 .number {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-i016 .columns-2 {
    column-count: 2;
    -webkit-column-count: 2;
}

@media all and (max-width: 767px) {
    .img-i016 br {
        display: none;
    }
    .img-i016 blockquote {
        font-size: 16px;
        line-height: 32px;
    }
    .img-i016 .columns-2 {
        column-count: 1;
        -webkit-column-count: 1;
    }
}

.img-i016 .text-left {
    text-align: left !important;
}

@media all and (max-width: 767px) {
    .img-i016 .text-left-xs {
        text-align: left !important;
    }
}

.img-i016 ul[data-bullet] li {
    line-height: 32px;
}

.img-i016 ul[data-bullet] li i:first-child {
    margin-right: 16px;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    display: inline-block;
}

.img-i016 ul.lead li {
    font-size: 16px;
    line-height: 40px;
}

.img-i016 img {
    max-width: 100%;
}

.img-i016 .image-tile {
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
}

.img-i016 .image-tile img {
    width: 100%;
    height: 370px;
    display: inline-block;
}

.img-i016 .image-tile .label {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;
}

.img-i016 .inner-title:before {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(34, 34, 34, 0.9)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#292929', GradientType=0);
    pointer-events: none;
}

.inner-title.title-center:before {
    background: #292929;
    opacity: .4;
}

.img-i016 .inner-title:hover:before {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.img-i016 .inner-title .title {
    position: absolute;
    width: 100%;
    bottom: 24px;
    z-index: 5;
}

.img-i016 .inner-title .title h1,
.img-i016 .inner-title .title h2,
.img-i016 .inner-title .title h3,
.img-i016 .inner-title .title h4,
.img-i016 .inner-title .title h5,
.img-i016 .inner-title .title h6 {
    color: #ffffff;
}

.img-i016 .inner-title .title p,
.img-i016 .inner-title .title span,
.img-i016 .inner-title .title li {
    color: #ffffff;
}

.img-i016 .inner-title.title-center .title {
    bottom: auto;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
}

.img-i016 .inner-title .title h5 {
    font-weight: 600;
}

.img-i016 .inner-title {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
}

.img-i016 .inner-title:hover {
    opacity: .95;
}

.img-i016 .inner-title.hover-reveal:before {
    opacity: 0;
}

.img-i016 .inner-title.hover-reveal .title {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.img-i016 .inner-title.hover-reveal:hover .title {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
}

.img-i016 .inner-title.hover-reveal:hover:before {
    opacity: 1;
}

.img-i016 .outer-title img {
    display: inline-block;
    margin-bottom: 12px;
}

.img-i016 .hover-tile {
    position: relative;
    overflow: hidden;
}

.img-i016 .hover-tile img {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.img-i016 .hover-tile:hover img {
    opacity: .5;
}

.img-i016 .hover-tile .hover-state {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
    position: absolute;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
    width: 100%;
}

.img-i016 .hover-state {
    z-index: 99;
    padding: 0 40px;
    cursor: default;
}

.img-i016 .hover-state h1,
.img-i016 .hover-state h2,
.img-i016 .hover-state h3,
.img-i016 .hover-state h4,
.img-i016 .hover-state h5,
.img-i016 .hover-state h6 {
    color: #ffffff;
}

.img-i016 .hover-state p,
.img-i016 .hover-state span,
.img-i016 .hover-state li {
    color: #ffffff;
}

.img-i016 .hover-state * {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform: translate3d(0, 30px, 0) scale(1.05);
    -webkit-transform: translate3d(0, 30px, 0) scale(1.05);
}

.img-i016 .hover-tile:hover .hover-state {
    opacity: 1;
}

.img-i016 .hover-tile:hover .hover-state * {
    transform: translate3d(0, 0px, 0) scale(1);
    -webkit-transform: translate3d(0, 0px, 0) scale(1);
}

.img-i016 .hover-state *:last-child {
    margin-bottom: 0;
}

.img-i016 .border-thick {
    border: 16px solid #fff;
    border-top: none;
}

.img-i016 .border-thick.col-sm-6:first-child {
    border-right: 8px solid #fff;
}

.img-i016 .border-thick.col-sm-6:last-child {
    border-left: 8px solid #fff;
}

.img-i016 .horizontal-tile {
    overflow: hidden;
}

.img-i016 .horizontal-tile:not(:last-of-type) {
    margin-bottom: 30px;
}

.img-i016 .tile-left,
.img-i016 .tile-right {
    width: 50%;
    float: left;
    display: inline-block;
    overflow: hidden;
    min-height: 300px;
    position: relative;
}

.img-i016 .tile-right .description,
.img-i016 .tile-left .description {
    padding: 48px;
}

.img-i016 .tile-right:hover .background-image-holder,
.img-i016 .tile-left:hover .background-image-holder {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

@media all and (max-width: 767px) {
    .img-i016 .tile-left,
    .img-i016 .img-i016 .tile-right {
        width: 100%;
        float: none;
    }
}


/*!---------- 29. IMAGE BLOCKS ----------*/

.img-i016 .image-md {
    max-height: 120px;
}

.img-i016 .image-small {
    max-height: 80px;
}

.img-i016 .image-xs {
    max-height: 50px;
}

.img-i016 .image-xxs {
    max-height: 30px;
}

.img-i016 .fade-half {
    opacity: 0.5;
}

.img-i016 .fade-1-4 {
    opacity: 0.75;
}

.img-i016 .fade-3-4 {
    opacity: 0.25;
}

.img-i016 .fade-on-hover {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: .5;
}

.img-i016 .fade-on-hover:hover {
    opacity: 1;
}

.img-i016 .cast-shadow {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.img-i016 .cast-shadow-light {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.img-i016 .image-block,
.img-i016 .image-block .image-bg {
    padding: 0;
    height: 50vw;
    max-height: 700px;
}

.img-i016 .image-block .container {
    height: 100%;
}

.img-i016 .image-block-right .image-bg {
    position: absolute;
    top: 0;
}

@media all and (max-width: 768px) {
    .image-block {
        height: auto;
        max-height: 1000000px;
    }
    .img-i016 .image-block .image-bg {
        height: 350px;
    }
    .img-i016 .image-block .v-align-transform {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
    .img-i016 .image-block-right .image-bg {
        position: relative;
    }
}

.img-i016 .image-edge .container {
    position: relative;
}

.img-i016 .image-edge .container div[class*='col-'] {
    position: absolute;
}

@media all and (max-width: 990px) {
    .img-i016 .image-edge .container div[class*='col-'] {
        position: relative;
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
}

.img-i016 .image-square {
    height: 50vw;
    max-height: 640px;
    overflow: hidden;
    padding: 0;
}

.img-i016 .image-square .image,
.img-i016 .image-square>.content {
    position: absolute;
}

.img-i016 .image-square .image {
    height: 100%;
}

.img-i016 .image-square>.content {
    padding: 0 10%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
}

.img-i016 .image-square.left .image {
    left: 0;
}

.img-i016 .image-square.left>.content {
    right: 0;
}

.img-i016 .image-square.right .image {
    right: 0;
}

.img-i016 .image-square.right>.content {
    left: 0;
}

@media all and (max-width: 990px) {
    .img-i016 .image-square {
        height: auto;
        max-height: 100000px;
        padding-bottom: 48px;
    }
    .img-i016 .image-square .image,
    .img-i016 .image-square>.content {
        position: relative;
    }
    .img-i016 .image-square .image {
        height: 100vw;
        margin-bottom: 48px;
        max-height: 500px;
    }
    .img-i016 .image-square>.content {
        top: 0;
        transform: none;
        -webkit-transform: none;
        padding: 0 20%;
    }
}

@media all and (max-width: 767px) {
    .img-i016 .image-square>.content {
        padding: 0 15px;
    }
}

.img-i016 .image-zoom img {
    transition: all 9s ease;
    -webkit-transition: all 9s ease;
    -moz-transition: all 9s ease;
}

.img-i016 .image-zoom:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.img-i016 .image-caption {
    position: relative;
    overflow: hidden;
}

.img-i016 .image-caption .caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 16px;
    color: #fff;
}

.img-i016 .image-caption .caption p {
    position: relative;
    z-index: 4;
    margin: 0;
}

.img-i016 .image-caption .caption:before {
    content: '' attr(data-caption) '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(34, 34, 34, 0.7)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.7) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.7) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#e6222222', GradientType=0);
}

.img-i016 .image-caption.hover-caption .caption {
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform: translate3d(0, 100px, 0);
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
}

.img-i016 .image-caption.hover-caption:hover .caption {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}


/*!---------- 30. PORTOFLIO ----------*/

.img-i016 .filters {
    overflow: hidden;
    display: inline-block;
}

.img-i016 .filters li {
    float: left;
    margin-right: 32px;
    cursor: pointer;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid #47b475;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    color: #47b475;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
    height: 30px;
    font-size: 11px;
    line-height: 27px;
    min-width: 0;
    border-color: rgba(255, 255, 255, 0);
    opacity: .7;
    border-radius: 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
}

.img-i016 .filters li.active {
    border-color: #47b475;
    opacity: 1;
}

.img-i016 .filters li:last-child {
    margin-right: 0;
}

.img-i016 .filters.floating {
    position: absolute;
    z-index: 10;
    top: 16px;
    text-align: center;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    background: rgba(255, 255, 255, 0.98);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    border-radius: 200px;
}

.img-i016 .filters.floating li {
    margin-bottom: 0;
}

.img-i016 .bg-dark .filters.floating {
    background: #292929;
}

.img-i016 .bg-dark .filters.floating h1,
.img-i016 .bg-dark .filters.floating h2,
.img-i016 .bg-dark .filters.floating h3,
.img-i016 .bg-dark .filters.floating h4,
.img-i016 .bg-dark .filters.floating h5,
.img-i016 .bg-dark .filters.floating h6 {
    color: #ffffff;
}

.img-i016 .bg-dark .filters.floating p,
.img-i016 .bg-dark .filters.floating span,
.img-i016 .bg-dark .filters.floating li {
    color: #fefefe;
}

.img-i016 .project {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
    /*padding: 0;   */
}

.img-i016 .container .project {
    padding: 0px;
}

.img-i016 .project.inactive {
    opacity: .1 !important;
    pointer-events: none !important;
}

.img-i016 .project .image-tile {
    margin: 0;
}

.img-i016 .project.inactive:hover .title,
.img-i016 .project.inactive .image-tile:hover:before {
    display: none;
}

@media all and (max-width: 868px) {
    .img-i016 .filters.floating {
        width: 90vw;
    }
    .img-i016 .img-i016 .filters.floating li {
        float: none;
    }
}

@media all and (max-width: 767px) {
    .img-i016.filters.floating {
        border-radius: 0;
        padding: 8px;
    }
    .img-i016 .filters.floating li {
        width: 50%;
        float: left;
        margin: 0;
    }
}

.img-i016 section+.portfolio-pullup {
    padding-top: 0;
    margin-top: -128px;
    position: relative;
    z-index: 20;
}

.img-i016 .portfolio-pullup .project {
    margin-bottom: 0;
}

.img-i016 .portfolio-pullup .inner-title:hover {
    opacity: 1;
}

.img-i016 .mr0 {
    margin-right: 0;
}

.img-i016 .mb0 {
    margin-bottom: 0 !important;
}

.img-i016 .mb8 {
    margin-bottom: 8px;
}

.img-i016 .mb16 {
    margin-bottom: 16px;
}

.img-i016 .mb24 {
    margin-bottom: 24px;
}

.img-i016 .mb30 {
    margin-bottom: 30px;
}

.img-i016 .mb32 {
    margin-bottom: 32px;
}

.img-i016 .mb40 {
    margin-bottom: 40px;
}

.img-i016 .mb48 {
    margin-bottom: 48px;
}

.img-i016 .mb56 {
    margin-bottom: 56px;
}

.img-i016 .mb64 {
    margin-bottom: 64px;
}

.img-i016 .mb72 {
    margin-bottom: 72px;
}

.img-i016 .mb80 {
    margin-bottom: 80px;
}

.img-i016 .mb88 {
    margin-bottom: 88px;
}

.img-i016 .mb96 {
    margin-bottom: 96px;
}

.img-i016 .mb104 {
    margin-bottom: 104px;
}

.img-i016 .mb112 {
    margin-bottom: 112px;
}

.img-i016 .mb120 {
    margin-bottom: 120px;
}

.img-i016 .mb160 {
    margin-bottom: 160px;
}

.img-i016 .mt0 {
    margin-top: 0 !important;
}

.img-i016 .mt8 {
    margin-top: 8px;
}

.img-i016 .mt16 {
    margin-top: 16px;
}

.img-i016 .mt24 {
    margin-top: 24px;
}

.img-i016 .mt32 {
    margin-top: 32px;
}

.img-i016 .mt40 {
    margin-top: 40px;
}

.img-i016 .mt48 {
    margin-top: 48px;
}

.img-i016 .mt56 {
    margin-top: 56px;
}

.img-i016 .mt64 {
    margin-top: 64px;
}

.img-i016 .mt72 {
    margin-top: 72px;
}

.img-i016 .mt80 {
    margin-top: 80px;
}

.img-i016 .mt88 {
    margin-top: 88px;
}

.img-i016 .mt96 {
    margin-top: 96px;
}

.img-i016 .mt104 {
    margin-top: 104px;
}

.img-i016 .mt112 {
    margin-top: 112px;
}

.img-i016 .mt120 {
    margin-top: 120px;
}

.img-i016 .mt160 {
    margin-top: 160px;
}

.img-i016 .p32 {
    padding: 0 32px;
}

.img-i016 .p24 {
    padding: 24px;
}

.img-i016 .p0 {
    padding: 0;
}

.img-i016 .pt0 {
    padding-top: 0;
}

.img-i016 .pt8 {
    padding-top: 8px;
}

.img-i016 .pt16 {
    padding-top: 16px;
}

.img-i016 .pt24 {
    padding-top: 24px;
}

.img-i016 .pt32 {
    padding-top: 32px;
}

.img-i016 .pt40 {
    padding-top: 40px;
}

.img-i016 .pt48 {
    padding-top: 48px;
}

.img-i016 .pt64 {
    padding-top: 64px;
}

.img-i016 .pt72 {
    padding-top: 72px;
}

.img-i016 .pt80 {
    padding-top: 80px;
}

.img-i016 .pt88 {
    padding-top: 88px;
}

.img-i016 .pt96 {
    padding-top: 96px;
}

.img-i016 .pt104 {
    padding-top: 104px;
}

.img-i016 .pt112 {
    padding-top: 112px;
}

.img-i016 .pt120 {
    padding-top: 120px;
}

.img-i016 .pt160 {
    padding-top: 160px;
}

.img-i016 .pt180 {
    padding-top: 180px;
}

.img-i016 .pt240 {
    padding-top: 240px;
}

.img-i016 .pb0 {
    padding-bottom: 0;
}

.img-i016 .pb8 {
    padding-bottom: 8px;
}

.img-i016 .pb16 {
    padding-bottom: 16px;
}

.img-i016 .pb24 {
    padding-bottom: 24px;
}

.img-i016 .pb32 {
    padding-bottom: 32px;
}

.img-i016 .pb40 {
    padding-bottom: 40px;
}

.img-i016 .pb48 {
    padding-bottom: 48px;
}

.img-i016 .pb56 {
    padding-bottom: 56px;
}

.img-i016 .pb64 {
    padding-bottom: 64px;
}

.img-i016 .pb72 {
    padding-bottom: 72px;
}

.img-i016 .pb80 {
    padding-bottom: 80px;
}

.img-i016 .pb88 {
    padding-bottom: 88px;
}

.img-i016 .pb96 {
    padding-bottom: 96px;
}

.img-i016 .pb104 {
    padding-bottom: 104px;
}

.img-i016 .pb112 {
    padding-bottom: 112px;
}

.img-i016 .pb120 {
    padding-bottom: 120px;
}

.img-i016 .pb160 {
    padding-bottom: 160px;
}

.img-i016 .pb180 {
    padding-bottom: 180px;
}

.img-i016 .pb240 {
    padding-bottom: 240px;
}

@media all and (max-width: 990px) {
    .mb-s-0 {
        margin-bottom: 0;
    }
    .img-i016 .mb-s-8 {
        margin-bottom: 8px;
    }
    .img-i016 .mb-s-16 {
        margin-bottom: 16px;
    }
    .img-i016 .mb-s-24 {
        margin-bottom: 24px;
    }
    .img-i016 .mb-s-32 {
        margin-bottom: 32px;
    }
    .img-i016 .mb-s-40 {
        margin-bottom: 40px;
    }
    .img-i016 .mb-s-48 {
        margin-bottom: 48px;
    }
    .img-i016 .mb-s-64 {
        margin-bottom: 64px;
    }
    .img-i016 .mb-s-72 {
        margin-bottom: 72px;
    }
    .img-i016 .mb-s-80 {
        margin-bottom: 80px;
    }
    .img-i016 .mb-s-88 {
        margin-bottom: 88px;
    }
    .img-i016 .mb-s-96 {
        margin-bottom: 96px;
    }
    .img-i016 .mb-s-104 {
        margin-bottom: 104px;
    }
    .img-i016 .mb-s-112 {
        margin-bottom: 112px;
    }
    .img-i016 .mb-s-120 {
        margin-bottom: 120px;
    }
}

@media all and (max-width: 990px) {
    .img-i016 .mb-sm-0 {
        margin-bottom: 0;
    }
    .img-i016 .mb-sm-8 {
        margin-bottom: 8px;
    }
    .img-i016 .mb-sm-16 {
        margin-bottom: 16px;
    }
    .img-i016 .mb-sm-24 {
        margin-bottom: 24px;
    }
    .img-i016 .mb-sm-32 {
        margin-bottom: 32px;
    }
    .img-i016 .mb-sm-40 {
        margin-bottom: 40px;
    }
    .img-i016 .mb-sm-48 {
        margin-bottom: 48px;
    }
    .img-i016 .mb-sm-64 {
        margin-bottom: 64px;
    }
    .img-i016 .mb-sm-72 {
        margin-bottom: 72px;
    }
    .img-i016 .mb-sm-80 {
        margin-bottom: 80px;
    }
    .img-i016 .mb-sm-88 {
        margin-bottom: 88px;
    }
    .img-i016 .mb-sm-96 {
        margin-bottom: 96px;
    }
    .img-i016 .mb-sm-104 {
        margin-bottom: 104px;
    }
    .img-i016 .mb-sm-112 {
        margin-bottom: 112px;
    }
    .img-i016 .mb-sm-120 {
        margin-bottom: 120px;
    }
    .img-i016 .mt-sm-0 {
        margin-top: 0 !important;
    }
    .img-i016 .mt-sm-8 {
        margin-top: 8px;
    }
    .img-i016 .mt-sm-16 {
        margin-top: 16px;
    }
    .img-i016 .mt-sm-24 {
        margin-top: 24px;
    }
    .img-i016 .mt-sm-32 {
        margin-top: 32px;
    }
    .img-i016 .mt-sm-40 {
        margin-top: 40px;
    }
    .img-i016 .mt-sm-48 {
        margin-top: 48px;
    }
    .img-i016 .mt-sm-56 {
        margin-top: 56px;
    }
    .img-i016 .mt-sm-64 {
        margin-top: 64px;
    }
    .img-i016 .mt-sm-72 {
        margin-top: 72px;
    }
    .img-i016 .mt-sm-80 {
        margin-top: 80px;
    }
    .img-i016 .mt-sm-88 {
        margin-top: 88px;
    }
    .img-i016 .mt-sm-96 {
        margin-top: 96px;
    }
    .img-i016 .mt-sm-104 {
        margin-top: 104px;
    }
    .img-i016 .mt-sm-112 {
        margin-top: 112px;
    }
    .img-i016 .mt-sm-120 {
        margin-top: 120px;
    }
    .img-i016 .p0-sm {
        padding: 0;
    }
    .img-i016 .pt-sm-0 {
        padding-top: 0;
    }
    .img-i016 .pt-sm-8 {
        padding-top: 8px;
    }
    .img-i016 .pt-sm-16 {
        padding-top: 16px;
    }
    .img-i016 .pt-sm-24 {
        padding-top: 24px;
    }
    .img-i016 .pt-sm-32 {
        padding-top: 32px;
    }
    .img-i016 .pt-sm-40 {
        padding-top: 40px;
    }
    .img-i016 .pt-sm-48 {
        padding-top: 48px;
    }
    .img-i016 .pt-sm-64 {
        padding-top: 64px;
    }
    .img-i016 .pt-sm-72 {
        padding-top: 72px;
    }
    .img-i016 .pt-sm-80 {
        padding-top: 80px;
    }
    .img-i016 .pt-sm-88 {
        padding-top: 88px;
    }
    .img-i016 .pt-sm-96 {
        padding-top: 96px;
    }
    .img-i016 .pt-sm-104 {
        padding-top: 104px;
    }
    .img-i016 .pt-sm-112 {
        padding-top: 112px;
    }
    .img-i016 .pt-sm-120 {
        padding-top: 120px;
    }
    .img-i016 .pt-sm-160 {
        padding-top: 160px;
    }
    .img-i016 .pb-sm-0 {
        padding-bottom: 0;
    }
    .img-i016 .pb-sm-8 {
        padding-bottom: 8px;
    }
    .img-i016 .pb-sm-16 {
        padding-bottom: 16px;
    }
    .img-i016 .pb-sm-24 {
        padding-bottom: 24px;
    }
    .img-i016 .pb-sm-32 {
        padding-bottom: 32px;
    }
    .img-i016 .pb-sm-40 {
        padding-bottom: 40px;
    }
    .img-i016 .pb-sm-48 {
        padding-bottom: 48px;
    }
    .img-i016 .pb-sm-64 {
        padding-bottom: 64px;
    }
    .img-i016 .pb-sm-72 {
        padding-bottom: 72px;
    }
    .img-i016 .pb-sm-80 {
        padding-bottom: 80px;
    }
    .img-i016 .pb-sm-88 {
        padding-bottom: 88px;
    }
    .img-i016 .pb-sm-96 {
        padding-bottom: 96px;
    }
    .img-i016 .pb-sm-104 {
        padding-bottom: 104px;
    }
    .img-i016 .pb-sm-112 {
        padding-bottom: 112px;
    }
    .img-i016 .pb-sm-120 {
        padding-bottom: 120px;
    }
}

@media all and (max-width: 767px) {
    .img-i016 .mb-xs-0 {
        margin-bottom: 0;
    }
    .img-i016 .mb-xs-8 {
        margin-bottom: 8px;
    }
    .img-i016 .mb-xs-16 {
        margin-bottom: 16px;
    }
    .img-i016 .mb-xs-24 {
        margin-bottom: 24px;
    }
    .img-i016 .mb-xs-32 {
        margin-bottom: 32px;
    }
    .img-i016 .mb-xs-40 {
        margin-bottom: 40px;
    }
    .img-i016 .mb-xs-48 {
        margin-bottom: 48px;
    }
    .img-i016 .mb-xs-64 {
        margin-bottom: 64px;
    }
    .img-i016 .mb-xs-72 {
        margin-bottom: 72px;
    }
    .img-i016 .mb-xs-80 {
        margin-bottom: 80px;
    }
    .img-i016 .mb-xs-88 {
        margin-bottom: 88px;
    }
    .img-i016 .mb-xs-96 {
        margin-bottom: 96px;
    }
    .img-i016 .mb-xs-104 {
        margin-bottom: 104px;
    }
    .img-i016 .mb-xs-112 {
        margin-bottom: 112px;
    }
    .img-i016 .mb-xs-120 {
        margin-bottom: 120px;
    }
    .img-i016 .mt-xs-0 {
        margin-top: 0 !important;
    }
    .img-i016 .mt-xs-8 {
        margin-top: 8px;
    }
    .img-i016 .mt-xs-16 {
        margin-top: 16px;
    }
    .img-i016 .mt-xs-24 {
        margin-top: 24px;
    }
    .img-i016 .mt-xs-32 {
        margin-top: 32px;
    }
    .img-i016 .mt-xs-40 {
        margin-top: 40px;
    }
    .img-i016 .mt-xs-48 {
        margin-top: 48px;
    }
    .img-i016 .mt-xs-56 {
        margin-top: 56px;
    }
    .img-i016 .mt-xs-64 {
        margin-top: 64px;
    }
    .img-i016 .mt-xs-72 {
        margin-top: 72px;
    }
    .img-i016 .mt-xs-80 {
        margin-top: 80px;
    }
    .img-i016 .mt-xs-88 {
        margin-top: 88px;
    }
    .img-i016 .mt-xs-96 {
        margin-top: 96px;
    }
    .img-i016 .mt-xs-104 {
        margin-top: 104px;
    }
    .img-i016 .mt-xs-112 {
        margin-top: 112px;
    }
    .img-i016 .mt-xs-120 {
        margin-top: 120px;
    }
    .img-i016 .p0-xs {
        padding: 0;
    }
    .img-i016 .pt-xs-0 {
        padding-top: 0;
    }
    .img-i016 .pt-xs-8 {
        padding-top: 8px;
    }
    .img-i016 .pt-xs-16 {
        padding-top: 16px;
    }
    .img-i016 .pt-xs-24 {
        padding-top: 24px;
    }
    .img-i016 .pt-xs-32 {
        padding-top: 32px;
    }
    .img-i016 .pt-xs-40 {
        padding-top: 40px;
    }
    .img-i016 .pt-xs-48 {
        padding-top: 48px;
    }
    .img-i016 .pt-xs-64 {
        padding-top: 64px;
    }
    .img-i016 .pt-xs-72 {
        padding-top: 72px;
    }
    .img-i016 .pt-xs-80 {
        padding-top: 80px;
    }
    .img-i016 .pt-xs-88 {
        padding-top: 88px;
    }
    .img-i016 .pt-xs-96 {
        padding-top: 96px;
    }
    .img-i016 .pt-xs-104 {
        padding-top: 104px;
    }
    .img-i016 .pt-xs-112 {
        padding-top: 112px;
    }
    .img-i016 .pt-xs-120 {
        padding-top: 120px;
    }
    .img-i016 .pt-xs-160 {
        padding-top: 160px;
    }
    .img-i016 .pt-xs-180 {
        padding-top: 180px;
    }
    .img-i016 .pt-xs-240 {
        padding-top: 240px !important;
    }
    .img-i016 .pb-xs-0 {
        padding-bottom: 0;
    }
    .img-i016 .pb-xs-8 {
        padding-bottom: 8px;
    }
    .img-i016 .pb-xs-16 {
        padding-bottom: 16px;
    }
    .img-i016 .pb-xs-24 {
        padding-bottom: 24px;
    }
    .img-i016 .pb-xs-32 {
        padding-bottom: 32px;
    }
    .img-i016 .pb-xs-40 {
        padding-bottom: 40px;
    }
    .img-i016 .pb-xs-48 {
        padding-bottom: 48px;
    }
    .img-i016 .pb-xs-64 {
        padding-bottom: 64px;
    }
    .img-i016 .pb-xs-72 {
        padding-bottom: 72px;
    }
    .img-i016 .pb-xs-80 {
        padding-bottom: 80px;
    }
    .img-i016 .pb-xs-88 {
        padding-bottom: 88px;
    }
    .img-i016 .pb-xs-96 {
        padding-bottom: 96px;
    }
    .img-i016 .pb-xs-104 {
        padding-bottom: 104px;
    }
    .img-i016 .pb-xs-112 {
        padding-bottom: 112px;
    }
    .img-i016 .pb-xs-120 {
        padding-bottom: 120px;
    }
    .img-i016 .pb-xs-180 {
        padding-bottom: 180px;
    }
    .img-i016 .pb-xs-240 {
        padding-bottom: 240px !important;
    }
}

.img-i016 .masonry-item {
    padding-bottom: 0px !important;
}