<section class="img-i016 pad-default-elements">
    <div class="row clearfix">
        <div class="col-md-4 col-sm-6 col-xs-12 masonry-item project">
            <div class="image-tile hover-tile text-center">
                <img alt="image" class="background-image img-responsive" src="http://srv4.vmwm.com.br/img/plat_componentes/20.jpg" data-image="true">
                <div class="hover-state">
                    <h1 data-editable="true">Carro </h1>
                    <h2 data-editable="true">Marca / Modelo</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 masonry-item project">
            <div class="image-tile hover-tile text-center">
                <img alt="image" class="background-image img-responsive" src="http://srv4.vmwm.com.br/img/plat_componentes/28.jpg" data-image="true">
                <div class="hover-state">
                    <h1 data-editable="true">Carro </h1>
                    <h2 data-editable="true">Marca / Modelo</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 masonry-item project">
            <div class="image-tile hover-tile text-center">
                <img alt="image" class="background-image img-responsive" src="http://srv4.vmwm.com.br/img/plat_componentes/24.jpg" data-image="true">
                <div class="hover-state">
                    <h1 data-editable="true">Carro </h1>
                    <h2 data-editable="true">Marca / Modelo</h2>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 masonry-item project">
            <div class="image-tile hover-tile text-center">
                <img alt="image" class="background-image img-responsive" src="http://srv4.vmwm.com.br/img/plat_componentes/25.jpg" data-image="true">
                <div class="hover-state">
                    <h1 data-editable="true">Carro </h1>
                    <h2 data-editable="true">Marca / Modelo</h2>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 masonry-item project">
            <div class="image-tile hover-tile text-center">
                <img alt="image" class="background-image img-responsive" src="http://srv4.vmwm.com.br/img/plat_componentes/27.jpg" data-image="true">
                <div class="hover-state">
                    <h1 data-editable="true">Carro </h1>
                    <h2 data-editable="true">Marca / Modelo</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 masonry-item project">
            <div class="image-tile hover-tile text-center">
                <img alt="image" class="background-image img-responsive" src="http://srv4.vmwm.com.br/img/plat_componentes/22.jpg" data-image="true">
                <div class="hover-state">
                    <h1 data-editable="true">Carro </h1>
                    <h2 data-editable="true">Marca / Modelo</h2>
                </div>
            </div>
        </div>
    </div>
</section>