<section class="highlights-h013">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-sm-4" data-destaque-template="true">
                <div class="thumbnail">
                    <a href="#estoqueLink#"> <img class="img-responsive" src="#destaqueImage#" alt=""> </a>
                    <div class="caption text-center text-uppercase">
                        <div class="text">#destaqueModel#</div>
                        <div class="text">#destaqueBrand#</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>