.padding_top_30 {
  padding-top: 30px;
}
.position_relative {
  position: relative;
}
.brackground_chumbo {
  background-color: #555555;
}
.slider_012.reset .navbar {
  min-height: inherit;
  border-radius: 0px;
  border: 0px solid transparent;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .slider_012.reset .navbar {
    border-radius: 0px;
  }
}
.slider_012.reset .navbar-default {
  background-color: transparent;
  border-color: inherit;
}
.slider_012.reset .form-group {
  width: 100%;
  margin-bottom: 15px;
}
.slider_012.reset .form-group > .form-control {
  border-radius: 25px;
  width: 100%;
}
.slider_012.reset .carousel-control {
  background-image: none;
}
.slider_012.reset .carousel-control:hover,
.slider_012.reset .carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: inherit;
  outline: 0;
  opacity: inherit;
}
.slider_012.reset .carousel-control .glyphicon {
  background-color: #30318b;
  font-size: 15px;
  color: #ffe41e;
  padding-top: 6px;
  width: 30px;
  height: 30px;
}
