<section class="x_component_contact_cod_037 pad-default-element">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-6 moto-cell">
                <img class="img-responsive" src="assets/images/car.jpg" alt="" data-image="true">
            </div>
            <div class="col-sm-4">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <div class="col-xs-6 top-line"></div>
                        <div class="col-xs-6"></div>
                        <div class="col-xs-12" data-editable="true">
                            <h1 class="font-title text-capitalize moto-text footer-text" data-editable="true">contacts</h1>
                        </div>
                        <div class="col-xs-12">
                            <p class="moto-text" data-editable="true">28 Jackson Blvd, Ste 1020 Chicago IL</p>
                            <p class="moto-text" data-editable="true">+1 800 559 6580</p>
                            <div class="moto-btn" data-editable="true">MORE INFO</div>
                            <div class="moto-text footer-text" data-editable="true">Limo © 2017 • Privacy Policy</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>